<div class="pull-right btn-group">
    <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
    Generovat nyní
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="/export/parts-warehouse-excel">aktivní součásti</a></li>
    <li><a href="/export/parts-warehouse-excel/thrown-parts/true">vyřazené součásti</a></li>
  </ul>
</div>
<h2>Vygenerované exporty skladu</h2>


<?php if ($this->entries): ?>
<table class="table table-striped table-condensed sticky">
  <thead>
    <tr>
      <th>čas vytvoření</th>
      <th>název souboru</th>
      <th class="text-right">velikost souboru</th>
    </tr>
  </thead>
  <tbody>
  <?php foreach ($this->entries as $entry): ?>
  <tr>
    <td><?= date('d.m.Y H:i', $entry['time']); ?></td>
    <td>
      <a href="<?= $this->url(array('action' => 'download', 'filename' => $entry['name'])); ?>">
        <?= $entry['name']; ?>
      </a>
    </td>
    <td class="text-right"><?= $entry['size']; ?></td>
  </tr>
  <?php endforeach; ?>
  </tbody>
</table>
<?php else: ?>
<p>Žádné soubory s exporty nebyly nalezeny.</p>
<?php endif; ?>

