<div class="pull-right no-print">
  <a href="<?= $this->url(array('output' => 'xlsx')); ?>" class="btn btn-small">Stáhnout jako XLSX</a>
  <a href="<?= $this->url(array('output' => 'pdf')); ?>" class="btn btn-small">Stáhnout jako PDF</a>
</div>
<h2><?= $this->title ?></h2>

<?php foreach ($this->data as $item): ?>
<h3><?= $item['id'] ?> – <?= $item['name'] ?></h3>

<dl>
  <dt>Kategorie:</dt>
  <dd><?= $item['category']; ?></dd>
  <dt>HS:</dt>
  <dd><?= $item['hs']; ?></dd>
  <dt>Cena:</dt>
  <dd><?= Meduse_Currency::format($item['price']); ?> Kč</dd>
</dl>

<table class="table table-condensed table-hover">
  <?= $this->printPartTree($item); ?>
</table>
<?php endforeach; ?>
