<h2><?php echo $this->title; ?> <small>pro kolekci <?php echo $this->collection['name']; ?></small><br><a class="btn btn-mini" href="/holograms">Zpět na seznam</a></h2>
<p><strong>Naimportované hologramy</strong></p>
<?php if (empty($this->imported)): ?>
<p class="alert">Nebyly importovány žádné hologramy.</p>
<?php else: foreach ($this->imported as $serial): ?>
<?php echo $serial; ?><br>
<?php endforeach; endif; ?>
<p><strong>Nenaimpotované hologramy</strong></p>
<?php if (empty($this->not_imported)): ?>
<p class="alert">Všechny hologramy byly naimportovány.</p>
<?php else: foreach ($this->not_imported as $serial): ?>
<?php echo $serial; ?><br>
<?php endforeach; endif; ?>
<h3>Importovat další hologramy</h3>
<?php echo $this->import_form; ?>

