<h2><?php echo $this->title; ?></h2>


<div class="row">
    <div class="span3">
        <?php echo $this->form; ?>
        <h3>Import nových hologramů</h3>
        <?php echo $this->import_form; ?>              
    </div>
    <div class="span9">
        <?php if (empty($this->holograms)): ?>
            <div class="alert">
            <strong>Pozor!</strong> V databázi nejsou žádné vyhovující hologramy.
            </div>
        <?php else: ?>

            <table id="holograms" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td colspan="7">
                            <div class="input-prepend input-append">
                                <input pattern="[0-9]{0,8}" onkeyup="filterCodes();" maxlength="8" placeholder="Hledat kód" id="filter" type="text" />
                                <button class="btn" type="button" onclick="clearFilter();">Vyčistit</button>
                            </div>  
                        </td>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Kód</th>
                        <th>Obj.</th>
                        <th>Součást</th>
                        <th>Vloženo</th>
                        <th>Změněno</th>
                        <th>Operace</th>
                    </tr>
                </thead>
                <tbody>
                <?php $it = 0; foreach ($this->holograms as $hologram): ?>
                    <tr class="hol hol<?php echo $hologram['hologram']; ?>">
                        <td><?php echo ++$it; ?>.</td>
                        <th><?php if ($hologram['abbr']) { echo $hologram['abbr'] . '&nbsp;'; } echo $hologram['hologram']; ?></th>
                        <td> 
                            <a href="<?php echo $this->url(array(
                                'controller' => 'orders', 
                                'action' => 'detail', 
                                'id' => $hologram['order_id']
                            ));?>" title="<?php echo $hologram['order_name']; ?>">
                            <span class="label label-info"><?php echo $hologram['order_no']; ?></span></a>
                        </td>
                        <td> 
                            <a href="<?php echo $this->url(array(
                                'controller' => 'parts', 
                                'action' => 'detail', 
                                'id' => $hologram['part_id']
                            ));?>" title="<?php echo $hologram['part_name']; ?>">
                                <span class="label label-success"><?php echo $hologram['part_id']; ?></span></a></td>
                        <td><?php echo $hologram['inserted']; ?></td>
                        <td><?php echo $hologram['changed']; ?></td>
                        <td>
                            <?php if($hologram['order_id'] && $hologram['part_id']): ?>
                            <a class="btn btn-primary btn-mini" href="<?php
                            echo $this->url(array(
                                'controller' => 'orders',
                                'action' => 'assign-holograms',
                                'id' => $hologram['order_id'],
                                'part' => $hologram['part_id']
                            )); ?>">Spravovat</a>
							<?php else: ?>
							<a class="btn btn-danger btn-mini"
							   href="<?php echo $this->url(array(
								   'controller' => 'holograms',
								   'action' => 'delete',
								   'id' => $hologram['hologram_id']
							));?>" onclick="return confirm('Opravdu chcete smazat tento hologram?');">Smazat</a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>        
        <?php endif; ?>
  
    </div>
</div>


<script type="text/javascript">
<!--
    $(document).ready(function() {
        $("#order_no, #parts_id").prop('disabled', $("#unassigned").prop('checked'));
        $("#unassigned").click(function(){
            $("#order_no, #parts_id").prop('disabled', $("#unassigned").prop('checked'));
        })    
    });
    
    function filterCodes() {
        var code = $("#filter").val();
        if (code == "") {
            $("#holograms tbody tr").show();
        } else {
            $("#holograms tbody tr").hide();
            $("#holograms tbody tr:contains('"+ code + "')").show();    
        }

    }

    function clearFilter() {
        $("#filter").val("");
        $("#holograms tbody tr").show();
    }        
//-->    
</script>

