<h2>Množstevní slevy</h2>
  <?=
  $this->form('delete', array('method' => 'post',
    'action' => $this->url(array('action' => 'delete', 'id' => null))));
  ?>
  <?= $this->formHidden('id', ''); ?>
  <table class="table table-striped">
    <thead>
      <th>Hranice</th>
      <th>Ceník B2B</th>
      <th>Ceník B2C</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
  <?php foreach ($this->coefs as $coef): ?>
      <tr>
        
        <td><?= $coef['point']; ?> kg</td>
        <td><?= $coef['name_b2b']; ?></td>
        <td><?= $coef['name_b2c']; ?></td>
        <td>
          
          <div class="btn-group btn-group-vertical">
            <a href="<?php echo $this->url(array('action' => 'edit',
              'id' => $coef['id']));
          ?>" class="btn btn-mini btn-primary">
              <i class="icon icon-white icon-edit"></i></a>
            <a href="#" class="btn btn-mini btn-danger"
               onclick="return coefDelete(<?= $coef['id'] ?>)">
              <i class="icon icon-white icon-remove"></i></a>
          </div>
        </td>
      </tr>
  <?php endforeach; ?>
  </tbody>
  </table>

<p>
    <a class="btn btn-primary" href="<?php echo $this->url(array(
        'action' => 'edit', 'id' => null
    ))?>"><i class="icon icon-white icon-plus"></i>&nbsp;Přidat</a>
</p>

<script type="text/javascript">
    function coefDelete(coefId) {
        if (confirm('Opravdu chcete tento bod odebrat?')) {
            $('#id').val(coefId);
            $('#delete').submit();
        } else {
            return false;
        }
    }
</script>