<h2>Editace cen k produktu <?= $this->part->getID(); ?></h2>

<?php if ($this->prices): ?>
    <?= $this->form('product_prices', array('action' => '/tobacco-prices/save', 'method' => 'post')); ?>
    <?= $this->formHidden('part', $this->part->getID()) ?>
    <table class='table table-condensed'>
        <thead>
            <tr>
                <th>ceník</th>
                <th>zkratka</th>
                <th>typ</th>
                <th>platnost od</th>
                <th>cena</th>
            </tr>
        </thead>
        <tbody>
    <?php foreach ($this->prices as $price): ?>
        <tr>
            <td><?= $price['name'] ?></td>
            <td><?= $price['abbr'] ?></td>
            <td><?= $price['type'] ?></td>
            <td><?= $this->dateFromDb($price['valid']); ?></td>
            <td><?= $this->formText('price_' . $price['id'], $price['price'], array('size' => '8')); ?></td>
        </tr>
    <?php endforeach; ?>
        </tbody>
    </table>
    <?= $this->formSubmit('save', 'Uložit', array('class' => 'btn btn-primary')); ?>
<?php else: ?>
    <em>Nejsou založeny žádné ceníky.</em>
<?php endif; ?>
