<?php $rows = 8; ?>
<table class="inv-table-inside tbl-address">
    <thead>
        <tr><th colspan="2" class="left">CONSIGNEE:</th></tr> 
    </thead>
    <tbody>
        <tr>
            <td class="td-address-title">
                Company name:
            </td>
            <td class="td-address">
                <?= $this->customerData->company ?>
            </td>
        </tr>
        <tr>
            <td class="td-address-title">
                Address:
            </td>
            <td class="td-address">
                <?= $this->customerAddr->street .' '. $this->customerAddr->orient_number . (!empty($this->customerAddr->pop_number) ? '/'.$this->customerAddr->pop_number : '') ?>
            </td>
        </tr>
        <tr>
            <td class="td-address-title">
                City/Postal Code:
            </td>
            <td class="td-address">
                <?= $this->customerAddr->zip ?>
            </td>
        </tr>
        <tr>
            <td class="td-address-title">
                Country:
            </td>
            <td class="td-address">
                <?= $this->customerAddr->country ?>
            </td>
        </tr>
<?php if(!empty($this->customerAddr->phone)) : $rows++; ?>      
        <tr>
            <td class="td-address-title">
                Tel. No.:
            </td>
            <td class="td-address">
                <?= $this->customerAddr->phone; ?>
            </td>
        </tr>
<?php endif; ?>    
        <tr>
            <td class="td-address-title">
                VAT Registration No:
            </td>
            <td class="td-address">
                <?= $this->customerData->vat_no ?>
            </td>
        </tr>          
        <tr>
            <td style="height: 3px;"></td>
        </tr>
    </tbody>
</table>

<?php Zend_Registry::set('inv_consignee_rows', $rows); ?>