.box_header{
	height: 20px;
	background: #FFFFFF url(../images/box_slice00.png) repeat-x;
	border: 1px solid #82c9ff;
	border-bottom: 0px;
	margin: auto;
	text-align: center;
	font-weight:bold;
}

.box{
	background-color: white;
	color: black;
	border: 1px solid #82c9ff;
	border-top: 0px;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.notice{
	border: 1px solid yellow;
	background-color: #FFFF99;
	padding: 2em;
	margin-left: 4em;
	margin-right: 4em;
}

.login_box{
	width: 400px;
}

.parts_box{
	width: 500px;
}

.orders_box{
	width: 650px;
}

.suphase_box{
	width: 400px;
}

.subphase_box input{
	width: 280px; color: black;
}

.form_table{
	margin: auto;
}

.form_element_text{
	border: 1px solid #82c9ff;
	width: 150px;
	height: 19px;
}

.form_element_submit{
	text-align: center;
}

#Odeslat:hover{
	background-color: white;
	color: #82c9ff;
}

#Odeslat{
	background-color: #82c9ff;
	border: 2px solid #82c9ff;
	color: white;
}

#Hledat:hover{
	background-color: white;
	color: #82c9ff;
}

#Hledat{
	background-color:  #3BAAE3; /*#82c9ff;*/
	border: 2px solid #3BAAE3; /*#82c9ff;*/
	color: white;
}

.form_table td{
	text-align: right;
}


