@CHARSET "UTF-8";

.datalist {
	margin: auto;
}

.single_table {
	border: 1px solid #82C9FF;
	background-color: white;
}

.datalist th.name {
    width: 200px !important;
}

.datalist th, .single_datalist th{
	color: white;
	background-color: #3BAAE3; /*#82c9ff;*/
	font-weight: bold;
	border: 0;
	padding:3px 6px;
	text-align: center;
}

.single_datalist th span{
	color: black;
	font-weight: normal;
}

.datalist td, .single_datalist td{
	color: black;
	padding:3px 6px;
}

.single_datalist {
	margin: auto;
	border: 1px solid #82C9FF;
	background-color: white;
	text-align: left;
}


.odd{
	background-color: #ededed;
}

.section{
	text-align: left;
}

#menu_table {
	margin: auto;
}

#menu_table td{
	padding: 0px;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: middle;
}

.print-only {display: none;}
