#grid{
	margin: 1em;
}

th{
	border-bottom:2px solid #82c9ff;
	border-right:1px solid #82c9ff;
	color:#FFFFFF;
	/*background:#82c9ff url(../images/slice02.png) repeat-x scroll 0 0;
	/*font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;*/
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding:3px 6px;
	text-align: center;
}

#grid td {
font-size:14px;
vertical-align:middle;
padding-top: 0.5em;
padding-bottom: 0.5em;
}

td.alt, tr.alt td {
background:#ededed none repeat scroll 0 0;
color:#333333;
}

table.borders {
	border: 1px solid #82c9ff;
	border-left: 2px solid #82c9ff;
	border-top: 2px solid #82c9ff;
}

.barra_tabela{
	background-color: #82c9ff;
}

#grid td {
	border-right: 1px solid #82c9ff;
	border-bottom: 1px solid #82c9ff;
	color: #333;
}

