*{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: black;
}

img{
	border: 0px;
}

body{
background-color: #EDEDED; /*#ededed;*/
}

[type=select],[type=text],[type=submit],[type=password]{
	width: 200px; color: black;
}

.small_input{
	width: 40px;
}

select{
	width: 200px; color: black;
	}
	
input select{
	color: black;
	/*border: 0px;
	
	background-color: transparent;*/
}

label{ color: black; margin-right: 2.5em;}

#logo{
	margin: auto;
	width: 285px;
	height: 40px;
	background: transparent url(../images/logo1.png) no-repeat;
}

#header{
	background: white url(../images/slice07.png) repeat-x;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 99px;
	text-align: center;
}

#top_bar{
	background-color: black;
	color: white;
	width: 100%;
	height: 20px;
	padding-top: 2px;
	border-bottom: 1px solid #232323;
	position: fixed;
	top: 0px;
        z-index: 10;
}

#top_bar a {
	color: white;
}

#top_bar a:hover{
	color: blue;
}

#info_left{
	margin-left: 3em;
	display: inline;
	color: white;
}

#info_right{
	position: absolute;
	right: 0px;
	display: inline;
	margin-right: 3em;
	color: white;
}

#info_center {
	margin-left: 35%;
	width: 50px;
	display: inline;
	color: white;
	font-weight: bold;
}

#nav_bar{
	background: #FFFFFF url(../images/slice02.png) repeat-x;
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 15px;
	font-weight:bold;
	position: fixed;
	z-index: 100;
	top: 20px;
}

#main{
	padding-top: 30px;
	background-color: #ededed;
	width: 100%;
	text-align: center;
}

#simple_content{
	background-color: white;
	width: 900px;
	border: 1px solid #82c9ff;
	border-top: 0px;
	margin: auto;
	color: black;
}

#footer{
	background: #FFFFFF url(../images/slice08.png) repeat-x;
	width: 100%;
	height: 95px;
        margin-top: 20px;
	border-top: 2px solid #232323;
	text-align: center;
}

#footer2{
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #FFFFFF url(slice08.png) repeat-x;
	width: 100%;
	height: 95px;
        margin-top: 20px;
	border-top: 2px solid #232323;
	text-align: center;
}

#footer_menu{
	margin: auto;
	margin-top: 20px;
}

ui-datepicker-div, .ui-datepicker { z-index: 2000; }

