/*
    Document   : main
    Created on : 7.6.2013, 11:34:10
    Author     : Zdeněk
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 40px;
}

#content {
	margin-top: 2em;
}

.table .text-right {text-align: right}
.table .text-left {text-align: left}
.table .text-center {text-align: center}

.print-only {display: none;}

.btn-mini {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

#recipe_editor > div > div > .form-well {
	padding: 0;
	margin: 0 !important;
	width: 100% !important;
	display: inline-block;
	background-color: red;
}

.tableFloatingHeaderOriginal th {
  background-color: #fff;
  border-bottom: 1px solid #DDD;
}

.p {
  padding: 6px !important;
}

.m-top {
  margin-top: 8px !important;
}

.m-right-x2 {
  margin-right: 16px !important;
}

.iti {
    margin-bottom: 4px;
}

.iti input {
    padding-top: 14px;
    padding-bottom: 14px;
}

.iti input.valid {
    background-color: limegreen;
}

.iti input.invalid {
    background-color: indianred;
    color: white;
}

.iti__flag {background-image: url(/public/images/iti/flags.png);}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag { background-image: url(/public/images/iti/flags@2x.png); }
}