@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: black;
}

a{
	text-decoration: none;
}

#header{
	display: none;
}

#top_bar{
	display: none;
}

#nav_bar{
	display: none;
}

input{
	display: none;
}


/*  formatovani datove tabulky  */

.datalist {
	margin: auto;
	text-align: right;
}

.datalist th{
	text-align: center;
	font-weight: bold;
	border: 0;
	padding:3px 6px;
	border: 1px solid black;
}

.datalist td{
	color: black;
	padding:3px 6px;
	border: 1px solid black;
}

.section{
	text-align: left;
}

.center {
	text-align: center;
}

.no-print { display:none; }



