@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
}

.no-print { display:none; }

a {
	text-decoration: none;
}

table {
	margin: auto;
	text-align: right;
    border-collapse: collapse;
}

th{
	text-align: center;
	font-weight: bold;
	border: 0;
	padding:3px 6px;
	border: 1px solid black;
}

td{
	color: black;
	padding:3px 6px;
	border: 1px solid black;
}