#employees_worksheet tr.type-vacation {
  background: yellow;
}
#employees_worksheet tr.type-half-vacation {
    background: lightgreen;
}
#employees_worksheet tr.type-holiday {
    background: lightblue;
}
#employees_worksheet tr.type-sickness {
    background: rgb(189, 54, 47);
    color: #fff;
}
#employees_worksheet tr.type-sickness:hover {
    color: #000;
}
#employees_worksheet tr.type-bustrip {
    background: rgb(0, 68, 204);
    color: #fff;
}
#employees_worksheet tr.type-bustrip:hover {
    color: #000;
}
#employees_worksheet tr.type-work {
    background: rgb(81, 163, 81);
}
#employees_worksheet .highlighted {
    background: yellow;
}
#employees_worksheet td.time,
#employees_worksheet td.lunch,
#employees_worksheet td.save {
    width: 1%;
    text-align: center;
}
#employees_worksheet td.date,
#employees_worksheet td.type {
    width: 10%;
}
#employees_worksheet td.km {
    width: 1%;
}
#employees_worksheet .km input {
    width: 50px;
    text-align: right;
    display: block;
}
#employees_worksheet .time input {
    width: 50px;
    text-align: right;
    display: block;
}
#employees_worksheet .time input.changed {
    color: #0000ff;
}
#employees_worksheet .description input {
    width: 99%;
}
#employees_worksheet .table-condensed {
    font-size: 10px;
}
#employees_worksheet .table-condensed td,
#employees_worksheet .table-condensed th,
#employees_worksheet .table-condensed input {
    font-size: 10px;
    padding: 2px;
    margin: 0px;
    height: 12px;
    line-height: 10px;
    vertical-align: top;
}
#employees_worksheet .table-condensed th {
    vertical-align: middle;
    text-align: center;
}
#employees_worksheet .table-condensed td.date {
    vertical-align: middle;
}
#employees_worksheet .table-condensed select {
    font-size: 10px;
    margin: 0px;
    height: 17px;
    line-height: 10px;
    vertical-align: middle;
    padding: 0;
    width: 110px;
}
#employees_worksheet .original-data {
    margin: 3px;
    display: none;
}
