<?php if ($this->order) { ?>
<div class="row-fluid">
            <div class="span8">
              <?= $this->OrderTitle($this->order); ?>
            </div>
            <div class="span4 text-right no-print">
                <span style="padding-right: 25px;">
                    <?php if ($this->orderObj->getStatus() != 'closed' && $this->orderObj->getStatus() != 'deleted' || isset($_SESSION['Zend_Auth']['user_role']) && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))) { ?>
                        <a class="btn btn-small" title="Detail objednávky" href="<?= $this->url(array(
                          'controller' => 'tobacco-orders',
                          'action' => 'detail', 'order' => null,
                          'id' => $this->orderObj->getID())) ?>"><i class="icon-search"></i> Detail objednávky</a>
                    <?php } ?>
                </span>

            </div>
        </div>
<?php } ?>

<div class="row-fluid">
    <div class="span12">
        <div>
            <?php echo $this->menuTobaccoOrderEdit($this->action, $this->order, $this->showProductsTransport, $this->showProductsTransport); ?>
            <?php echo $this->form; ?>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(function() {

    var hideRateFields = function () {
      $('#meduse_orders_expected_payment_rate_use_default').prop('checked', false);
      $('#meduse_orders_expected_payment_rate_use_default_n').prop('checked', true);
      $('#form_element_meduse_orders_expected_payment_rate_use_default').hide();
      $('#meduse_orders_expected_payment_rate').prop('readonly', true).val(1);
      $('#form_element_meduse_orders_expected_payment_rate').hide();
    };

    var showRateFields = function () {
      $('#meduse_orders_expected_payment_rate_use_default').prop('checked', true);
      $('#form_element_meduse_orders_expected_payment_rate_use_default').show();
      $('#form_element_meduse_orders_expected_payment_rate').show();
      $('#meduse_orders_expected_payment_rate').val(<?= Utils::getCnbRates('EUR'); ?>).prop('readonly', true);
    };

    var setNAName = function () {
      $('#meduse_orders_name').val('N/A - dle zákazníka');
    }

    if (!$('#meduse_orders_name').val()) {
      setNAName();
    }

    $("#meduse_orders_payment_method").change(function () {
      if ($(this).val() == '<?= Table_Orders::PM_FREE_PRESENTATION; ?>' || $(this).val() == '<?= Table_Orders::PM_FREE_CLAIM; ?>') {
        $("#meduse_orders_expected_payment").attr('disabled', 'disabled').val('');
        $("#meduse_orders_expected_payment_deposit").attr('disabled', 'disabled').val('');
      }
      else {
        $("#meduse_orders_expected_payment").removeAttr('disabled');
        $("#meduse_orders_expected_payment_deposit").removeAttr('disabled');
      }
    });
    $("#meduse_orders_payment_method").trigger('change');

    $('#meduse_orders_expected_payment_rate_use_default').change(function () {
      if ($(this).prop('checked')) {
        $('#meduse_orders_expected_payment_rate').attr('readonly', 'readonly');
        $('#meduse_orders_expected_payment_rate').val(<?= Utils::getCnbRates('EUR'); ?>);
      }
      else {
        $('#meduse_orders_expected_payment_rate').removeAttr('readonly');
      }
    });
    $('#meduse_orders_expected_payment_rate_use_default').trigger('change');
    $("#meduse_orders_name").autocomplete({"source": "\/tobacco-order-edit\/ajax-customer"});

    if ($('#meduse_orders_expected_payment_currency').val() === 'CZK') {
      hideRateFields();
    }
    else {
      showRateFields;
    }

    $('#meduse_orders_expected_payment_currency').change(function () {
      var cur = $(this).val();
      if (cur === 'CZK') {
        hideRateFields();
      }
      else {
        showRateFields();
      }
    });
  });


  $(document).ready(function () {
    if ($('#meduse_orders_carrier, #default_price').length) {
      checkDefaultPrice();
      $('#meduse_orders_carrier, #default_price').change(function () {
        if (useDefaultPrice()) {
          setDefautPrice();
        }
        else {
          $('#meduse_orders_carrier_price').prop('readonly', false);
        }
      });
    }
  });

  function setDefautPrice() {
    $.get('/tobacco-producers/ajax-get-carrier-method-price', {mid: $('#meduse_orders_carrier').val()})
      .done(function (data) {
        $('#meduse_orders_carrier_price')
          .val(data.result.default_price)
          .prop('readonly', true);
      });
  }

  function checkDefaultPrice() {
    $.get('/tobacco-producers/ajax-get-carrier-method-price', {mid: $('#meduse_orders_carrier').val()})
      .done(function (data) {
        if ($('#meduse_orders_carrier_price').val() == data.result.default_price) {
          $('#default_price[type=checkbox]').prop('checked', true);
          $('#meduse_orders_carrier_price').prop('readonly', true);
        }
        else {
          $('#default_price[type=checkbox]').prop('checked', false);
          $('#meduse_orders_carrier_price').prop('readonly', false);
        }
      });
  }

  function useDefaultPrice() {
    var checkbox = $('#default_price[type=checkbox]:checked');
    return checkbox.length > 0 ? true : false;
  }
</script>
