<?php if (empty($this->pricelists)): ?>
<p>Nejsou žádné položky k výpisu.</p>
<?php else: ?>
<?php
    $acl = Zend_Registry::get('acl');
    $margins = $this->pricelists->getMargins();
    $names = $this->pricelists->getNames();
    $categories = $this->pricelists->getCategories();
    $pricesArray = $this->pricelists->getPrices();
    $koef = $acl->isAllowed('pricelists/show-margins')? 2 : 1;
?>
<table class="table table-hover">
  <tr class="info">
    <td colspan="<?= count($this->pricelists->getColumnNames()) * $koef + 2; ?>"><h3>Sety dýmek</h3></td>
  </tr>
  <tr>
    <th rowspan="<?= $acl->isAllowed('pricelists/show-margins')? 2 : 1; ?>">ID</th>
    <th rowspan="<?= $acl->isAllowed('pricelists/show-margins')? 2 : 1; ?>">Název</th>
    <?php foreach ($this->pricelists->getColumnNames() as $col_name): ?>
    <th colspan="<?= $acl->isAllowed('pricelists/show-margins')? 2 : 1; ?>" class="text-right"><?= $this->escape($col_name) ?></th>
    <?php endforeach; ?>
  </tr>
   <?php if ($acl->isAllowed('pricelists/show-margins')): ?>
    <tr>
      <?php for ($it = 0; $it < count($this->pricelists->getColumnNames()); $it++): ?>
        <th class="text-right">cena</th>
        <th class="text-right">marže</th>
      <?php endfor; ?>
    </tr>
   <?php endif; ?>
<?php
    $noSets = array();
    foreach ($pricesArray as $id => $prices):
      if ($categories[$id] != Table_PartsCtg::TYPE_SETS) {
        $noSets[] = $id;
        continue;
      }
?>
  <tr>
    <td>
      <strong><?= $this->escape($id) ?></strong>
    </td>
    <td>
      <?= $this->escape($names[$id]); ?>
    </td>
    <?php foreach ($this->pricelists->getColumnNames() as $col_name): ?>
    <?php // foreach ($prices as $id2 => $price): ?>
    <td class="text-right">
      <?= Meduse_Currency::format($prices[$col_name], '€') ?>
    </td>
    <?php if ($acl->isAllowed('pricelists/show-margins')): ?>
      <td class="text-right<?= ($margins[$id][$col_name] < 0? ' error' : ''); ?>"><?= $margins[$id][$col_name] ?> %</td>
    <?php endif; ?>
    <?php endforeach; ?>
  </tr>
  <?php endforeach; ?>


  <?php if ($noSets): ?>
   <tr class="info">
    <td colspan="<?= count($this->pricelists->getColumnNames()) * $koef + 2; ?>"><h3>Příslušenství</h3></td>
  </tr>
  <tr>
    <th rowspan="<?= $acl->isAllowed('pricelists/show-margins')? 2 : 1; ?>">ID</th>
    <th rowspan="<?= $acl->isAllowed('pricelists/show-margins')? 2 : 1; ?>">Název</th>
    <?php foreach ($this->pricelists->getColumnNames() as $col_name): ?>
    <th colspan="<?= $acl->isAllowed('pricelists/show-margins')? 2 : 1; ?>" class="text-right"><?= $this->escape($col_name) ?></th>
    <?php endforeach; ?>
  </tr>
   <?php if ($acl->isAllowed('pricelists/show-margins')): ?>
    <tr>
      <?php for ($it = 0; $it < count($this->pricelists->getColumnNames()); $it++): ?>
        <th class="text-right">cena</th>
        <th class="text-right">marže</th>
      <?php endfor; ?>
    </tr>
   <?php endif; ?>
<?php
    $noAcc = array();
    foreach ($noSets as $id):
      if ($categories[$id] != Table_PartsCtg::TYPE_ACCESSORIES) {
        $noAcc[] = $id;
        continue;
      }
      $prices = $pricesArray[$id];
?>
  <tr>
    <td>
      <strong><?= $this->escape($id) ?></strong>
    </td>
    <td>
      <?= $this->escape($names[$id]); ?>
    </td>
    <?php foreach ($prices as $id2 => $price): ?>
    <td class="text-right">
      <?= Meduse_Currency::format($price, '€') ?>
    </td>
    <?php if ($acl->isAllowed('pricelists/show-margins')): ?>
      <td class="text-right<?= ($margins[$id][$id2] < 0? ' error' : ''); ?>"><?= $margins[$id][$id2] ?> %</td>
    <?php endif; ?>
    <?php endforeach; ?>
  </tr>
  <?php endforeach; ?>
  <?php endif; ?>


  <?php if ($noAcc): ?>
   <tr class="info">
    <td colspan="<?= count($this->pricelists->getColumnNames()) * $koef + 2; ?>"><h3>Ostatní</h3></td>
  </tr>
  <tr>
    <th rowspan="<?= $acl->isAllowed('pricelists/show-margins')? 2 : 1; ?>">ID</th>
    <th rowspan="<?= $acl->isAllowed('pricelists/show-margins')? 2 : 1; ?>">Název</th>
    <?php foreach ($this->pricelists->getColumnNames() as $col_name): ?>
    <th colspan="<?= $acl->isAllowed('pricelists/show-margins')? 2 : 1; ?>" class="text-right"><?= $this->escape($col_name) ?></th>
    <?php endforeach; ?>
  </tr>
   <?php if ($acl->isAllowed('pricelists/show-margins')): ?>
    <tr>
      <?php for ($it = 0; $it < count($this->pricelists->getColumnNames()); $it++): ?>
        <th class="text-right">cena</th>
        <th class="text-right">marže</th>
      <?php endfor; ?>
    </tr>
   <?php endif; ?>
<?php
    foreach ($noAcc as $id):
      $prices = $pricesArray[$id];
?>
  <tr>
    <td>
      <strong><?= $this->escape($id) ?></strong>
    </td>
    <td>
      <?= $this->escape($names[$id]); ?>
    </td>
    <?php foreach ($prices as $id2 => $price): ?>
    <td class="text-right">
      <?= Meduse_Currency::format($price, '€') ?>
    </td>
    <?php if ($acl->isAllowed('pricelists/show-margins')): ?>
      <td class="text-right<?= ($margins[$id][$id2] < 0? ' error' : ''); ?>"><?= $margins[$id][$id2] ?> %</td>
    <?php endif; ?>
    <?php endforeach; ?>
  </tr>
  <?php endforeach; ?>
  <?php endif; ?>
</table>
<?php endif; ?>
<style>.error { background-color: #F2DEDE; }</style>