<style>
 table .discount {
     width: 100px;
     text-align: right;
  }
</style>

<h2 class="text-center"><?= $this->title; ?></h2>

<?php if ($this->ctgDefaults): ?>
  <table id="ctg-defaults" class="table table-condensed table-bordered">
    <caption>
      <h3>Výchozí slevové kategorie</h3>
    </caption>
    <thead>
      <tr>
        <th>kategorie</th>
        <?php foreach ($this->ctgDefaults as $ctg => $discount): ?>
          <th class="text-right"><?= $ctg; ?></th>
        <?php endforeach; ?>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th>sleva
        <div class="pull-right">
          <a class="btn btn-mini" href="<?= $this->url([
            'action' => 'edit-ctg',
            'type' => 'defaults']); ?>"><i class="icon icon-edit"></i> upravit</a>
        </div>
      </th>
      <?php foreach ($this->ctgDefaults as $ctg => $discount): ?>
        <td class="discount"><?= $discount; ?> %</td>
      <?php endforeach; ?>
    </tr>
    </tbody>
  </table>
<?php endif; ?>

<?php if ($this->ctgLimits): ?>
  <table id="ctg-defaults" class="table table-condensed table-bordered">
    <caption>
      <h3>Počty kusů u setů dýmek u slevových kategorií</h3>
    </caption>
    <thead>
    <tr>
      <th>kategorie</th>
      <?php foreach ($this->ctgLimits as $ctg => $limit): ?>
        <th class="text-right"><?= $ctg; ?></th>
      <?php endforeach; ?>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>limit
        <div class="pull-right">
          <a class="btn btn-mini" href="<?= $this->url([
            'action' => 'edit-ctg',
            'type' => 'limits']); ?>"><i class="icon icon-edit"></i> upravit</a>
        </div>
      </th>
      <?php foreach ($this->ctgLimits as $ctg => $limit): ?>
        <td class="discount"><?= $limit ?? '&ndash;'; ?> ks</td>
      <?php endforeach; ?>
    </tr>
    </tbody>
  </table>
<?php endif; ?>

<?php if ($this->ctgAccessories): ?>
  <table id="ctg-defaults" class="table table-condensed table-bordered">
    <caption>
      <h3>Slevové kategorie pro Accessories</h3>
    </caption>
    <thead>
    <tr>
      <th>kategorie</th>
      <?php foreach ($this->ctgDefaults as $ctg => $discount): ?>
        <th class="text-right"><?= $ctg; ?></th>
      <?php endforeach; ?>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>sleva
        <div class="pull-right">
          <a class="btn btn-mini" href="<?= $this->url([
            'action' => 'edit-ctg',
            'type' => 'accessories']); ?>"><i class="icon icon-edit"></i> upravit</a>
        </div>
      </th>
      <?php foreach ($this->ctgAccessories as $ctg => $discount): ?>
        <td class="discount"><?= $discount; ?> %</td>
      <?php endforeach; ?>
    </tr>
    </tbody>
  </table>
<?php endif; ?>

<?php if ($this->collections): ?>
  <table class="table table-condensed table-bordered table-hover">
    <caption><h3>Slevové kategorie pro kolekce</h3></caption>
    <thead>
      <tr>
        <th>kolekce / kategorie</th>
        <?php for ($idx = 1; $idx <= Pricelists::CTG_NUM; $idx++): ?>
          <th class="text-right"><?= $idx; ?></th>
        <?php endfor; ?>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($this->collections as $colId => $collection): ?>
        <tr>
          <th><?= $collection['abbr']; ?>
            <div class="pull-right">
              <a class="btn btn-mini" href="<?= $this->url([
                'action' => 'edit-ctg',
                'type' => 'collection',
                'id' => $colId]); ?>"><i class="icon icon-edit"></i> upravit</a>
            </div>
          </th>
          <?php for ($idx = 1; $idx <= Pricelists::CTG_NUM; $idx++): ?>
            <td class="discount"><?= $this->ctgCollections[$colId][$idx]; ?> %</td>
          <?php endfor; ?>
        </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
<?php endif; ?>

<?php if ($this->texts): ?>
  <table class="table table-condensed table-bordered table-hover">
    <caption><h3>Texty v cenících <a href="<?= $this->url([
      'action' => 'edit-ctg', 'type' => 'texts'
      ]); ?>" class="btn btn-mini"><i class="icon icon-edit"></i> upravit</a>
      </h3></caption>
    <tbody>
      <?php foreach ($this->texts as $idx => $text): ?>
      <tr>
        <th><?= Pricelists::TEXTS_IDX[$idx]; ?></th>
        <td><?= $text; ?></td>
      </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
<?php endif; ?>