<div class="text-center">
    <h2><?= $this->title; ?></h2>
    <a class="btn btn-mini" href="<?= $this->backUrl; ?>">
      <i class="icon icon-backward"></i> Zpět na přehled</a>
</div>

<div class="m-top">
  <?= $this->form; ?>
</div>
