
<style>
    main {
        margin-bottom: 150px;
    }
    .complete-checkboxes,
    .complete-checkboxes * {
        display: inline-block;
    }


    tr.category {
        background-color: darkseagreen;
    }
    td.warning {
        background-color: indianred;
        color: whitesmoke;
    }
    tr:hover td.warning {
        color: black;
    }
    input.categories {
        display: inline;
    }
</style>

<h2>Ceníkové ceny</h2>
<main>
<div id="prices">
  <?php if ($this->prices): ?>
      <table class="table table-condensed table-hover sticky">
          <thead>
          <tr>
              <th rowspan="2" colspan="2">produkt</th>
              <th colspan="<?= Pricelists::CTG_NUM + 2; ?>" class="text-center">ceníkové drafty
                  <div class="pull-right"><div class="btn-group">
                  <a class="btn" title="Uloží změny do draft ceníků" href="<?= $this->url([
                        'action' => 'generate',
                        'ctg' => null,
                        'draft' => true,
                        'use_cache' => null,
                      ]); ?>"><i class="icon icon-refresh"></i>&nbsp;Generovat drafty</a>
                  <a class="btn" target="_blank" title="Draft ceníky vyexportuje do PDF" href="<?= $this->url([
                      'action' => 'pdf',
                      'ctg' => null,
                      'draft' => true,
                      'use_cache' => null,
                    ]); ?>"><i class="icon icon-download"></i>&nbsp;PDF</a><
                  <a class="btn" target="_blank" title="Draft ceníky vyexportuje do XLSX" href="<?= $this->url([
                      'action' => 'pdf',
                      'ctg' => null,
                      'draft' => true,
                      'type' => 'xlsx',
                      'use_cache' => null,
                    ]); ?>"><i class="icon icon-download"></i>&nbsp;XLSX</a>
                  </div></div>
              </th>
          </tr>
          <tr>
              <th class="text-right"><i class="icon icon-list"></i>&nbsp;d.RTL</th>
            <?php for($idx = 1; $idx <= Pricelists::CTG_NUM; $idx++): ?>
                <th class="text-right">
                    <i class="icon icon-list"></i>&nbsp;d.<?= Pricelists::PRICE_LIST_PREFIX . $idx; ?>
                </th>
            <?php endfor; ?>
          </tr>
          </thead>
          <tbody>
          <?php $last_category_id = NULL; ?>
          <?php $last_collection_id = NULL; ?>
          <?php $section_idx = 0; ?>
          <?php foreach ($this->prices as $row): ?>
            <?php if ($row['category_id'] !== Table_PartsCtg::TYPE_SETS && $last_category_id !== $row['category_id'] || ($row['category_id'] === Table_PartsCtg::TYPE_SETS && $last_collection_id !== $row['collections'][0]['collection_id'])): ?>
              <?php $section_name = $row['category_id'] === Table_PartsCtg::TYPE_SETS ? $row['category_name']  . ' - ' . $row['collections'][0]['collection_name'] : ($row['parent_name'] ? $row['parent_name'] . ' - ' : '') . $row['category_name']; ?>
              <?php $section_idx++; ?>
                  <tr class="category">
                      <th class="text-center" colspan="<?= Pricelists::CTG_NUM + 3; ?>">
                          <h4>
                            <?php if ($row['category_id'] === Table_PartsCtg::TYPE_SETS): ?>
                                <input data-section-idx="<?= $section_idx; ?>" id="collection_<?= $row['collections'][0]['collection_id']; ?>" value="<?= $row['collections'][0]['collection_id']; ?>" type="checkbox" class="collections" />
                              <?php $last_collection_id = $row['collections'][0]['collection_id']; ?>
                            <?php else: ?>
                                <input data-section-idx="<?= $section_idx; ?>" id="category_<?= $row['category_id']; ?>" value="<?= $row['category_id']; ?>" type="checkbox" class="categories" />
                              <?php $last_category_id = $row['category_id']; ?>
                            <?php endif; ?>
                            <?= strtoupper($section_name); ?>
                              <a class="btn btn-mini type-selector" data-section-idx="<?= $section_idx; ?>" data-type="B2B">B2B</a>
                              <a class="btn btn-mini type-selector" data-section-idx="<?= $section_idx; ?>" data-type="B2C">B2C</a>
                          </h4>
                      </th>
                  </tr>
            <?php endif; ?>
              <tr id="part-<?= $row['id']; ?>">
                  <td>
                      <input type="checkbox" class="include include_<?= $section_idx; ?>"
                             data-section-idx="<?= $section_idx; ?>"
                             data-designated="<?= strtoupper($row['designated']); ?>"
                             value="<?= $row['id']; ?>" />
                  </td>
                  <td>
                      <a href="<?= $this->url([
                        'controller' => 'parts',
                        'action' => 'detail',
                        'id' => $row['id'],
                      ]); ?>"><?= $row['id']; ?></a>
                      <strong><?= $row['name']; ?></strong>
                    <?= strcasecmp($row['designated'], Table_Customers::TYPE_B2B) === 0 ? '<div class="label label-important">B2B</div>' : ''; ?><br>
                      <small>náklady: <?= Meduse_Currency::format($row['cost_nett'], '€') ?> | vč. krytí: <?= Meduse_Currency::format($row['cost'], '€') ?></small><br>
                      <div class="btn-group">
                          <a class="btn btn-mini" href="<?= $this->url([
                            'controller' => 'prices',
                            'action' => 'edit',
                            'part' => $row['id'],
                            'use_cache' => NULL,
                            'back' => base64_encode($this->url(['use_cache' => NULL]) . '#part-' . $row['id']),
                          ]); ?>"><i class="icon icon-edit"></i> upravit cenu</a>
                          <a class="btn btn-mini" href="<?= $this->url([
                            'action' => 'edit-ctg',
                            'type' => 'part',
                            'id' => $row['id'],
                            'use_cache' => NULL,
                            'back' => base64_encode($this->url(['use_cache' => NULL]) . '#part-' . $row['id']),
                          ]); ?>"><i class="icon icon-edit"></i> upravit slevy</a>
                      </div>
                  </td>
                  <td class="text-right<?= $row['master_margin'] < 0 ? ' warning' : ''; ?>">
                      <strong><?= Meduse_Currency::format($row['master_price_vat'], '€', 2); ?></strong><br>
                      <small><nobr>
                              &mdash;<br>
                              marže: <?= Meduse_Currency::format($row['master_margin'], '%', 0); ?>
                          </nobr></small>
                  </td>
                <?php for($idx = 1; $idx <= Pricelists::CTG_NUM; $idx++): ?>
                    <td class="text-right<?= $row['margins'][$idx] < 0 ? ' warning' : ''; ?>">
                        <strong><?= Meduse_Currency::format($row['prices'][$idx], '€', 2); ?></strong><br>
                        <small><nobr>
                                sleva: <?= Meduse_Currency::format($row['discounts'][$idx], '%', 0); ?><br>
                                marže: <?= Meduse_Currency::format($row['margins'][$idx], '%', 0); ?>
                            </nobr></small>
                    </td>
                <?php endfor; ?>
              </tr>
          <?php endforeach; ?>
          </tbody>
      </table>
  <?php endif; ?>
</div>

<div class="well navbar-fixed-bottom text-center">
    <a id="generator-price-list" class="btn btn-danger generator complete" onclick="return confirm('Opravdu chcete přepsat ve zvolených cenících ceny?')" href="<?= $this->url([
      'action' => 'generate',
      'use_cache' => NULL,
      'ctg' => NULL,
    ]); ?>"><i class="icon icon-share icon-white"></i> Uložit ceny</a>

    <a id="generator-complete-pdf" class="btn generator complete" target="_blank" href="<?= $this->url([
      'action' => 'pdf',
      'use_cache' => NULL,
      'ctg' => NULL,
    ]); ?>"><i class="icon icon-download"></i> Export do PDF</a>

    <a id="generator-complete-xlsx" class="btn generator complete" target="_blank" href="<?= $this->url([
      'action' => 'pdf',
      'type' => 'xlsx',
      'use_cache' => NULL,
      'ctg' => NULL,
    ]); ?>"><i class="icon icon-download"></i> Export do XLSX</a>


    <div class="complete-checkboxes">
      <?php for ($idx = -1; $idx <= Pricelists::CTG_NUM; $idx++): ?>
          <label for="complete_<?= $idx ?>">
            <?php if ($idx === -1) { echo 'costs'; } elseif ($idx === 0) { echo 'retail'; } else { echo 'W' . $idx; } ?>
          </label>
          <input type="checkbox" class="complete" value="<?= $idx ?>" checked />
      <?php endfor; ?>
    </div>
    <a class="btn type-selector all" data-type="B2B">B2B</a>
    <a class="btn type-selector all" data-type="B2C">B2C</a>
    <a class="btn type-selector reset">reset</a>
</div>
</main>
<script>
    (function($){
        const
            $generators = $('.generator'),
            $typeSelectors = $('.type-selector'),
            $sections = $('input.collections, input.categories'),
            hrefs = [];

        $(document).ready(function(){
            $generators.each(function(){
                hrefs[$(this).attr('id')] = $(this).attr('href');
            });
        });

        $sections.bind('click', function(){
            const
                $section = $(this),
                sectionId = $section.data('section-idx'),
                checked = typeof $section.attr('checked') !== 'undefined';
            $('.include_' + sectionId).attr('checked', checked);
        });

        $typeSelectors.bind('click', function(){
            const
                $selector =  $(this),
                type = $selector.data('type'),
                $sections = $('input.collections, input.categories');

            let
                sectionId,
                $checks;

            if ($selector.hasClass('all') || $selector.hasClass('reset')) {
                $checks = $('input.include');
            }
            else {
                sectionId = $selector.data('section-idx');
                $checks = $('input.include_' + sectionId);
            }

            if ($selector.hasClass('reset')) {
                $sections.attr('checked', false);
                $checks.attr('checked', false);
                return;
            }

            const notEmpty = [];
            $checks.each(function(){
                const
                    $check = $(this),
                    designated = $check.data('designated');
                if (designated === type) {
                    $check.attr('checked', true);
                    notEmpty.push($check.data('section-idx'));
                }
            });

            $sections.each(function(){
                if (notEmpty.indexOf($(this).data('section-idx')) !== -1) {
                    if (typeof sectionId === 'undefined') {
                        $(this).attr('checked', true);
                    }
                    else if ($(this).data('section-idx') === sectionId) {
                        $(this).attr('checked', true);
                    }
                }
            });
        });

        $generators.bind('click', function(e){
            e.stopPropagation();
            const
                $button = $(this),
                $catInputs = $('input.categories:checked'),
                $colInputs = $('input.collections:checked');
            let
                href = hrefs[$button.attr('id')],
                categories = [],
                collections = [],
                plCategories = [];
            $catInputs.each(function(){
                categories.push($(this).val());
            });
            if ($colInputs.length) {
                $colInputs.each(function(){
                    collections.push($(this).val())
                });
                categories.push('<?= Table_PartsCtg::TYPE_SETS; ?>');
            }
            if (categories.length) {
                href += '/categories/' + categories.join('+');
            }
            if (collections.length) {
                href += '/collections/' + collections.join('+');
            }

            if (categories.length || collections.length) {
                const
                    excluded = [],
                    sections = [];
                $sections.each(function(){
                    if ($(this).attr('checked')) {
                        sections.push($(this).data('section-idx'));
                    }
                });
                $('input.include:not(:checked)').each(function (){
                    const
                        $part = $(this),
                        sectionIdx = $part.data('section-idx');
                    if (sections.includes(sectionIdx)) {
                        excluded.push($part.val());
                    }
                })
                if (excluded.length) {
                    href += '/excluded/' + excluded.join('+');
                }
            }

            if ($button.hasClass('complete')) {
                const
                    $plCategoriesInputs = $('input.complete:checked');
                $plCategoriesInputs.each(function(){
                    plCategories.push($(this).val());
                });
                if (plCategories.length) {
                    href += '/ctg/' + plCategories.join('+');
                }
            }
            $button.attr('href', href);
        });
    })(jQuery);
</script>

