<style>
    .nav-list {
        margin-bottom: 200px;
        font-size: smaller;
    }
</style>

<div class="row">
    <div class="span3 bs-docs-sidebar">
        <div class="nav nav-list bs-docs-sidenav">
        <h2>Správa ceníků</h2>
        <?php if ($this->lists): ?>
          <form class='form' id='listsForm' method="post">
            <input type='hidden' id='id' name='id' />
            <table class='table table-hover table-condensed'>
              <thead>
              <tr>
                <th>ozn.</th>
                <th>zkratka</th>
                <th>název</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <?php foreach ($this->lists as $list): ?>
                <tr>
                  <td><input type="checkbox" name="id_pricelists[]" value="<?= $list['id'] ?>"</td>
                  <td><?= $list['abbr'] ?></td>
                  <td><?= $list['name'] ?></td>
                  <td>
                    <button class="btn btn-mini" onclick="return editPricelist(<?= $list['id'] ?>);">
                      <i class="icon icon-edit"></i>
                    </button>
                  </td>
                </tr>
              <?php endforeach; ?>
              </tbody>
            </table>

              <div class="btn-group no-print">
                  <button class="btn" onclick="return addPricelist()">
                      <i class="icon icon-plus-sign"></i>&nbsp;Nový
                  </button>
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon icon-wrench"></i>&nbsp;Akce&nbsp;<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu text-left">
                      <li><a class="" onclick="return removePricelist()">
                              <i class="icon icon-remove-sign"></i>&nbsp;Odstranit</a></li>
                      <li><a class="" href="#" onclick="return infoPricelist()">
                              <i class="icon icon-info-sign"></i>&nbsp;Info</a></li>
                      <li><a class="" href="#" onclick="return importPricelist()">
                              <i class="icon icon-hdd"></i>&nbsp;Import...</a></li>
                      <li><a class="" href="#" onclick="return exportPricelist()">
                              <i class="icon icon-file"></i>&nbsp;Export...</a></li>
                  </ul>
            </div>
          </form>
        <?php else: ?>
          <em>V systému nejsou žádné ceníky.</em>
        <?php endif; ?>
        </div>
      </div>
    <div class="span9" id="pricelist_info" style="font-size: smaller;">
    </div>
</div>

<div id="pricelistFormModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>[form title]</h3>
  </div>
  <div class="modal-body row-fluid">
    <?= $this->pricelistForm; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Storno</a>
    <a href="#" onClick="savePricelist();" class="btn btn-primary">Uložit</a>
  </div>
</div>


<div id="pricelistImportModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Import ceníku</h3>
  </div>
  <div class="modal-body row-fluid">
    <strong>Soubor importu musí: </strong>
    <ul>
      <li>být ve formátu CSV (oddělovač je středník) v kódování UTF-8</li>
      <li>mít jako první sloupec ID produktů</li>
      <li>mít jako druhý sloupec názvy produktů</li>
      <li>mít stejný počet cenových sloupců (<span id='pricelistNum'>0</span>) jako zvolených ceníků</li>
    </ul>


    <?= $this->importForm ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Storno</a>
    <a href="#" onClick="return uploadPricelist();" class="btn btn-primary">Import</a>
  </div>
</div>

<script type="text/javascript">

    $(document).ready(function(){
        if (<?= $this->openModal ? 'true' : 'false'; ?>) {
            addPricelist();
        }
    });

    function getPricelistId() {
        var id = '';
        $('input[name=|id_pricelists]:checked').each(function(){
            id += $(this).val() + ' ';
        });

        if (!id) {
            alert('Musíte zvolit ceník.');
            return false;
        } else {
            return id;
        }
    }

    function addPricelist() {
        $('#pricelistFormModal h3').text('Vložit nový ceník');
        $('#pricelistFormModal').modal('show');
        return false;
    }

    function editPricelist(id) {
        if (id) {
            $('#pricelistFormModal h3').text('Editovat ceník');
            var url = '<?= $this->url(array('action' => 'get-pricelist-ajax'))?>/id/' + id;
            $.getJSON(url, function(data) {
                $('#pricelists_form #id').val(data.id);
                $('#pricelists_form #name').val(data.name);
                $('#pricelists_form #abbr').val(data.abbr);
                $('#pricelists_form #type option[value=' + data.type + ']').prop('selected', 'selected');
                $('#pricelists_form #region option[value=' + data.region + ']').prop('selected', 'selected');
                $('#pricelists_form #valid').val(data.valid);
            });
            $('#pricelistFormModal').modal('show');
        }
        return false;
    }

    function removePricelist() {
        var id = getPricelistId();
        if (id) {
            if (confirm('Opravdu chcete vybrané ceníky odstranit?')) {
                $('#listsForm').attr('action', '<?= $this->url(array('action' => 'delete'))?>');
                $('#listsForm #id').val(id);
                return true;
            }
            return false;
        }
    }

    function savePricelist() {
        $('#pricelists_form').submit();
    }

    function importPricelist() {
        var id = getPricelistId();
        if (id) {
            $('#pricelistImportForm #id_pricelists').val(id);
            $('#pricelistNum').text($('input[name=|id_pricelists]:checked').size());
            $('#pricelistImportModal').modal('show');
        }
        return false;
    }

    function uploadPricelist() {
        $('#pricelistImportForm').submit();
        return true;
    }

    function exportPricelist() {
        var id = getPricelistId();

        if (id) {
            document.location.href = "/pricelists/export?ids=" + encodeURIComponent(id);
        }

        return false;
    }

    // skove
    function infoPricelist() {
        var id = getPricelistId();

        if (id) {
            $.ajax({
                url: '<?php echo $this->url(array(
                  'controller' => 'pricelists',
                  'action' => 'ajax-get-info'
                ), null, true)
                  ?>',
                data: {ids: id},
                type: 'get',
                success: function(data, textStatus, jqXHR) {
                    $('#pricelist_info').html(data);
                }
            });
        }

        return false;
    }

</script>

