<h2>Přehled reklamací součástí</h2>

<p>
	<a class="btn btn-primary btn-small" href="<?=$this->baseUrl()?>/claims/add/"><i class="icon icon-white icon-plus"></i>
	Přidat reklamaci</a>
</p>

<?php if($this->data): ?>
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th>Firma</th>
				<th>Popis</th>
				<th>Součást</th>
				<th>Množství</th>
				<th>Datum od</th>
				<th>Datum do</th>
				<th>Operace</th>
			</tr>
		</thead>
		<tbody>
		<?php foreach($this->data as $id_claim => $claim): ?>
			<tr>
			  <td><?=$claim['name']?></td>
			  <td><?=$claim['description']?></td>
			  <td><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$claim['id_parts']?>"><?=$claim['id_parts']?></a></td>
			  <td><?=$claim['amount']?></td>
			  <td><?=$claim['date_from']?></td>
			  <td><?=$claim['date_to']?></td>
			  <td>
					<a class="btn btn-mini btn-danger" href="<?=$this->baseUrl()?>/claims/delete/id/<?=$claim['id']?>" 
					   onClick="return confirm('Opravdu chcete tuto reklamaci odstranit?\nPo odstranění budou součásti z reklamace vráceny do skladu.')" >
						<i class="icon icon-white icon-remove"></i>&nbsp;Smazat</a>
					<a class="btn btn-mini btn-primary" href="<?=$this->baseUrl()?>/claims/edit/id/<?=$claim['id']?>">
						<i class="icon icon-white icon-edit"></i>&nbsp;Editovat</a>
			  </td>
			</tr>
		<?php endforeach; ?> 
		</tbody>
	</table>
<?php endif; ?>
