<form id="budget-<?= $this->form->getId(); ?>" action="<?= $this->form->getAction(); ?>">
  <?= $this->form->getElement('id_budget'); ?>
  <h5>
    <a id="budget-edit-button-<?= $this->form->getId(); ?>" class="pull-right btn btn-small budget-edit-button"
    data-budget-id="<?= $this->form->getId(); ?>"><i class="icon icon-edit"></i>&nbsp;upravit</a>
    Smlouva ze dne <?= $this->contract_date; ?> – délka <?= $this->contract_length; ?> <?= $this->years; ?>
  </h5>
  <table class="table table-condensed table-hover table-bordered">
    <thead>
    <tr>
      <th rowspan="2">Rok</th>
      <th colspan="3" class="text-center">Zboží</th>
      <th colspan="3" class="text-center">Služby</th>
    </tr>
    <tr>
      <th class="text-right">plán [EUR]</th>
      <th class="text-right">čerpání [EUR]</th>
      <th class="text-right">zbývá [EUR]</th>
      <th class="text-right">plán [EUR]</th>
      <th class="text-right">čerpání [EUR]</th>
      <th class="text-right">zbývá [EUR]</th>
    </tr>
    </thead>
    <tbody>
      <?php for ($i = 0; $i < $this->contract_length; $i++): ?>
        <tr>
          <td><?= $this->year_start + $i; ?></td>
          <td class="text-right"><?= $this->form->getElement('products_amount_' . ($this->year_start + $i))->removeDecorator('Label'); ?></td>
          <td class="text-right"><?= $this->form->getElement('products_spent_' . ($this->year_start + $i))->removeDecorator('Label'); ?></td>
          <td class="text-right"><?= $this->form->getElement('products_remain_' . ($this->year_start + $i))->removeDecorator('Label'); ?></td>
          <td class="text-right"><?= $this->form->getElement('services_amount_' . ($this->year_start + $i))->removeDecorator('Label'); ?></td>
          <td class="text-right"><?= $this->form->getElement('services_spent_' . ($this->year_start + $i))->removeDecorator('Label'); ?></td>
          <td class="text-right"><?= $this->form->getElement('services_remain_' . ($this->year_start + $i))->removeDecorator('Label'); ?></td>
        </tr>
      <?php endfor; ?>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7" class="text-right">
        <?= $this->form->getElement('save')->removeDecorator('div'); ?>
      </td>

    </tr>
    </tfoot>
  </table>
</form>
