<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span8">
        <h3><?= $this->title; ?></h3>
      </div>
      <div class="span4 text-right no-print">
                <span style="padding-right: 25px;">
                    <a class="btn btn-small" title="Upravit"
                       href="<?= $this->baseUrl() ?>/customers/edit/id/<?= $this->customer->getId(); ?>"><i
                        class="icon-edit"></i> Upravit</a>
                </span>
      </div>
    </div>
  </div>
  <!-- row -->
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <!-- left side -->
        <div class="span6">
          <h4 class="detail-title">Detail
          </h4>
          <table class="table">
            <tr>
              <td>Jméno:</td>
              <td><?= $this->customer->getFirstName(); ?></td>
            </tr>
            <tr>
              <td>Příjmení:</td>
              <td><?= $this->customer->getLastName(); ?></td>
            </tr>
            <tr>
              <td>Typ zákazníka:</td>
              <td><?= $this->customer->getType(); ?></td>
            </tr>
            <tr>
              <td>Ceník:</td>
              <td><?= $this->pricelist['name'] ?? '<a class="btn btn-small" href="' . $this->url(['action' => 'edit']) . '">přiřadit</a>'; ?></td>
            </tr>
            <tr>
              <td>Telefon:</td>
              <td><?= $this->customer->getPhone(); ?></td>
            </tr>
            <tr>
              <td>E-mail:</td>
              <td><?= $this->customer->getEmail(); ?></td>
            </tr>
          </table>
        </div>
        <!-- right side -->
        <div class="span6">
          <h4 class="detail-title">
            &nbsp;
          </h4>
          <table class="table">
            <?php if ($this->customer->isB2B()): ?>
              <tr>
                <td>Zákaznické číslo:</td>
                <td><?= $this->customer->getCustomerNo(); ?></td>
              </tr>
              <tr>
                <td>Firma:</td>
                <td><?= $this->customer->getCompany(); ?></td>
              </tr>
              <tr>
                <td>ID no:</td>
                <td><?= $this->customer->getIdentNo(); ?></td>
              </tr>
              <tr>
                <td>Vat no:</td>
                <td>
                  <?php if ($this->vatNo): ?>
                    <?= $this->vatNo; ?>
                    <button title="ověřit přes VIES" id="verify"
                            class="btn btn-small <?= $this->isValidVatNoClass; ?>">
                      <?php if ($this->isValidVatNo === TRUE): ?>
                        validní
                      <?php elseif ($this->isValidVatNo === FALSE) : ?>
                        nevalidní
                      <?php else: ?>
                        neověřeno
                      <?php endif; ?>
                    </button>
                  <?php endif; ?>
                  <div id="verify-message"></div>
                </td>
              </tr>
              <tr>
                <td>COO:</td>
                <td><?= $this->customer->isRequiredCoo() ? '<span class="badge badge-warning">požadováno</span>' : '<span class="badge">není požadováno</span>'; ?></td>
              </tr>
              <tr>
                <td>Ověření faktury:</td>
                <td><?= $this->customer->isRequiredInvoiceVerification() ? '<span class="badge badge-warning">požadováno</span>' : '<span class="badge">není požadováno</span>'; ?></td>
              </tr>
            <?php endif; ?>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- row -->
  <div class="row-fluid">
    <div class="span12">
      <h4 class="detail-title">Zákaznické adresy
        <a class="btn pull-right" title="Přidat" href="<?= $this->url([
          'controller' => 'customers',
          'action' => 'address',
          'id' => NULL,
          'customer' => $this->customer->getId(),
        ]); ?>?destination=<?= $this->url() ?>"><i class="icon-plus"></i></a>
      </h4>
      <?php if ($this->addresses): ?>
        <table class="table table-hover">
          <?php foreach ($this->addresses as $aid => $address): ?>
            <tr>
              <td style="width: 1%;">
                <?php if ($address->isBilling()): ?>
                  <div><span class="label label-important">FAKTURAČNÍ</span>
                  </div>
                <?php endif; ?>
                <?php if ($address->isShipping()): ?>
                  <div><span class="label label-success">DODACÍ</span></div>
                <?php endif; ?>
              </td>
              <td>
                <?= $address; ?>
              </td>
              <td style="width: 1%;">
                <div class="btn-group">
                <a class="btn btn-success" title="Upravit" href="<?= $this->url([
                  'controller' => 'customers',
                  'action' => 'address',
                  'id' => $address->getId(),
                ]); ?>?destination=<?= $this->url() ?>"><i
                    class="icon icon-edit icon-white"></i></a>
                  <?php if (!$address->isBilling() && !$address->isShipping()): ?>
                    <a class="btn btn-danger" title="Smazat" href="<?= $this->url([
                      'controller' => 'customers',
                      'action' => 'address-delete',
                      'id' => $address->getId(),
                    ]); ?>?destination=<?= $this->url() ?>"><i
                        class="icon icon-remove icon-white"></i></a>
                  <?php endif; ?>
                </div>
              </td>
            </tr>
          <?php endforeach; ?>
        </table>
      <?php endif; ?>
    </div>
  </div>
  <!-- row -->
  <div class="row-fluid">
    <div class="span12">
      <h4 class="detail-title">Expedované objednávky zákazníka</h4>
      <?php if (count($this->orders) > 0) { ?>
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
            <th>Číslo</th>
            <th>Název</th>
            <th>Datum vložení</th>
            <th>Datum otevření</th>
            <th>Datum expedice</th>
            <th>Faktura</th>
            <th class="text-right">Hodnota zboží/služby</th>
          </tr>
          </thead>
            <tbody>
          <?php foreach ($this->orders as $order): ?>
            <tr>
              <td><a href="<?php echo $this->url([
                  'controller' => 'orders',
                  'action' => 'detail',
                  'id' => $order->id,
                ]) ?>"><?= $order->no ?></a></td>
              <td><?= $order->title ?></td>
              <td><?= $this->dateFromDb($order->date_request) ?></td>
              <td><?= $this->dateFromDb($order->date_open) ?></td>
              <td><?= $this->dateFromDb($order->date_exp) ?></td>
                <td><?php if($order->id_invoice): ?><a href="<?= $this->url([
                        'controller' => 'invoice',
                        'action' => 'download',
                        'id' => $order->id_invoice
                    ]) ?>"><?= $order->invoice ?></a><?php else: ?>n/a<?php endif; ?></td>
                <td class="text-right"><?= $order->price === null ? '&mdash;' : Meduse_Currency::format($order->price, 'EUR')?></td>
            </tr>
          <?php endforeach; ?>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="8" class="text-right"><?= Meduse_Currency::format($this->totalSpent, 'EUR') ?></th>
                </tr>
            </tfoot>
        </table>
      <?php }
      else {
        echo '<div class="alert alert-block">Zákazník zatím nemá přiřazeny žádné objednávky</div>';
      }
      ?>
    </div>
  </div>


  <div class="row-fluid">
    <div class="span12">
      <h4 class="detail-title">
        <a id="action-budget-add" class="pull-right btn btn-success btn-small">
          <i class="icon icon-plus icon-white"></i>&nbsp;Smluvní budget</a>Smluvní
        budgety zákazníka
      </h4>
      <?php if ($this->budgets): ?>
        <?php foreach ($this->budgets as $budget): ?>
          <?= $budget->getForm()->getTablePart(); ?>
        <?php endforeach; ?>
      <?php else: ?>
        <div class="alert alert-block">Zákazník nemá uzavřené žádné smlouvy o
          budegtech.
        </div>
      <?php endif; ?>
    </div>
  </div>


</div>


<!-- Modals -->
<!-- product-discount -->
<div id="product-discount-add" class="modal hide fade" tabindex="-1"
     role="dialog" aria-labelledby="Slevy produktů" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3 id="myModalLabel">Slevy produktů</h3>
  </div>
  <div class="modal-body">
    <?= $this->product_discount_form ?>
  </div>
</div>
<!-- category-discount -->
<div id="category-discount-add" class="modal hide fade" tabindex="-1"
     role="dialog" aria-labelledby="Slevy kategorií" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3 id="myModalLabel">Slevy kategorií</h3>
  </div>
  <div class="modal-body">
    <?= $this->category_discount_form ?>
  </div>
</div>
<?php #$this->product_discount_form ?>

<!-- budget add form -->
<div id="budget-add" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="Nový smluvní budget" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3 id="myModalLabel">Nový smluvní budget</h3>
  </div>
  <div class="modal-body">
    <?= $this->newBudgetForm->getModalPart(); ?>
  </div>
</div>

<!-- budgets edit forms -->
<?php foreach ($this->budgets as $budget): ?>
  <div id="budget-edit-<?= $budget->getId(); ?>"
       class="modal hide fade budget-edit" tabindex="-1" role="dialog"
       aria-labelledby="Smluvní budget" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">×
      </button>
      <h3 id="myModalLabel">Smluvní budget</h3>
    </div>
    <div class="modal-body">
      <?= $budget->getForm()
        ->getModalPart('budget-form-' . $budget->getId()); ?>
    </div>
  </div>

<?php endforeach; ?>

<script>
  $(document).ready(function () {
    $("#search_product").autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "<?= $this->baseUrl() ?>/customers/get-products-ajax",
          dataType: "json",
          data: {
            term: request.term
          },
          success: function (data) {
            response($.map(data.parts, function (item) {
              return {
                label: '(' + item.id + ') ' + item.name,
                value: '(' + item.id + ') ' + item.name,
                id: item.id
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function (event, ui) {
        $('#product_id_selected').val(ui.item.id);
      }
    });

    /* modal edit */
    // fired on edit request
    var arr = location.pathname.split('/');
    if (arr[5] == 'ep') {
      $('#product-discount-add').modal('show');
    }
    // fired on show request
    $('#product-discount-add').on('show', function () {
      // clear fields
      $('#search_product').val('');
      $('#product_discount').val('');
      $('#product_id_selected').val('');
      $('#product_edit').val('');
    })
  });

  $('#action-budget-add').click(function () {
    $('#budget-add').modal('show');
  });
  $('.budget-edit-button').click(function () {
    var id = $(this).data('budget-id');
    console.log(id);
    $('#budget-edit-' + id).modal('show');
  });

  $('#verify').click(function () {
    $.get('/tobacco-customers/ajax-verify-vat/customer/' + <?= $this->customer->getId(); ?>, function (data) {
      var $btn = $('#verify');
      var $msg = $('#verify-message');
      if (data.status) {
        if (data.result) {
          $btn.html('validní').removeClass('btn-danger').addClass('btn-success');
        } else {
          $btn.html('nevalidní').removeClass('btn-success').addClass('btn-danger');
        }
        $msg.removeClass('alert').html('');
      } else {
        $msg.addClass('alert').html(data.message);
      }
    });
  });
</script>
