<h3><?= $this->title; ?></h3><br>
<div style=" margin-bottom: 25px;">
    <button data-target="#search" data-toggle="collapse" class="btn btn-primary collapsed" type="button">
      Hledat zákazníka
    </button>
</div>
<div id="search" class="collapse">
    <?php echo $this->filter ?>
</div>
<div>
    <?php echo $this->grid; ?>
</div>
