<div class="pull-right">
  <a class="btn" href="<?= $this->url(array('action' => 'warehouses', 'id' => NULL)); ?>"><i class="icon icon-backward"></i> Zpět na seznam</a>
</div>
<h2>Zákaznický sklad "<?= $this->warehouse->getName(); ?>"</h2>
<div class="well">
<div class="row-fluid">
  <div class="span6">
    <h3><small>Společnost</small><br />
      <a href="<?= $this->url(array('action' => 'detail', 'id' => $this->customer->getId())); ?>">
        <strong><?= $this->customer->getCompany(); ?></strong>
        <?= $this->customer->getFirstName(); ?> <?= $this->customer->getLastName(); ?><br />
      </a>
    </h3>
  </div>
  <div class="span3">
    <h3 class="text-right"><small>Hodnota skladu</small><br />
      <span id="data-summary-price"><?= Meduse_Currency::format($this->summary->price); ?></span> €</h3>
  </div>
  <div class="span3">
    <h3 class="text-right"><small>Počet produktů</small><br />
      <span id="data-summary-price"><?= $this->summary->count; ?></span> ks</h3>
  </div>
</div>
</div>

<?php if ($this->products): ?>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="text-right">#</th>
        <th>Položka</th>
        <th>Inv. číslo</th>
        <th>Objednávka</th>
        <th class="text-right">Datum pořízení</th>
        <th class="text-right">Cena pořízení</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($this->products as $idx => $product): ?>
      <tr id="data-item-<?= $product->id; ?>">
        <td class="text-right"><?= $idx + 1; ?>.</td>
        <td><a href="<?= $this->url(array(
          'controller' => 'parts',
          'action' => 'detail',
          'id' => $product->id_parts)); ?>">
            <?= $product->id_parts; ?> &ndash; <?= $product->name; ?>
          </a>
        </td>
        <td><span class="data-inventory-number"><?= $product->inventory_number; ?></span></td>
        <td>
          <?php if ($product->order_id): ?>
            <a href="<?= $this->url(array(
              'controller' => 'orders',
              'action' => 'detail',
              'id' => $product->order_id))?>">
                <?= $product->order_no; ?> &ndash; <?= $product->order_title; ?>
            </a>
          <?php endif; ?>
        </td>
        <td class="text-right"><span class="data-aquisition-date"><?= Meduse_Date::dbToForm($product->aquisition_date); ?></span></td>
        <td class="text-right"><span class="data-aquisition-price"><?= Meduse_Currency::format($product->aquisition_price); ?></span> €</td>
        <td>
          <button class="edit-item pull-right btn btn-mini"
            data-id="<?= $product->id; ?>"
            data-aquisition-date="<?= Meduse_Date::dbToForm($product->aquisition_date); ?>"
            data-aquisition-price="<?= $product->aquisition_price; ?>"
            data-inventory-number="<?= $product->inventory_number; ?>">
            <i class="icon icon-edit"></i> editovat
          </button>
        </td>
      </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
<?php else: ?>
  <div class="well">Ve skladu nejsou žádné položky.</div>
<?php endif; ?>

<div class="modal fade" id="edit-item-modal-dialog" style="display: none">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Editace položky skladu</h3>
  </div>
  <div class="modal-body">
        <?= $this->modalForm; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="edit-item-modal-dialog-submit">Uložit</a>
  </div>
</div>


<script type="text/javascript">
<!--
  $('.edit-item').click(function() {
    var $dialog = $('#edit-item-modal-dialog');
    $dialog.find('form #id').val($(this).data('id'));
    $dialog.find('form #aquisition_date').val($(this).data('aquisition-date'));
    $dialog.find('form #aquisition_price').val($(this).data('aquisition-price'));
    $dialog.find('form #inventory_number').val($(this).data('inventory-number'));
    $dialog.modal('show');
  });

  $('#edit-item-modal-dialog-submit').click(function() {
    var $dialog = $('#edit-item-modal-dialog');
    var id = $dialog.find('form #id').val();
    var aquisition_date = $dialog.find('form #aquisition_date').val();
    var aquisition_price = $dialog.find('form #aquisition_price').val();
    var inventory_number = $dialog.find('form #inventory_number').val();
    $.ajax({
      type: "POST",
      url: "/customers/ajax-warehouse-item-update",
      data: {
        id: id,
        aquisition_date: aquisition_date,
        aquisition_price: aquisition_price,
        inventory_number: inventory_number
      }
    })
    .done(function(response) {
      if (response.status === true) {
        $(document).find('#data-summary-price').html(response.data.summary_price);
        $(document).find('#data-summary-count').html(response.data.summary_count);
        var $tr = $(document).find('#data-item-' + response.data.id);
        $tr.find('.data-aquisition-date').html(response.data.aquisition_date);
        $tr.find('.data-aquisition-price').html(response.data.aquisition_price);
        $tr.find('.data-inventory-number').html(response.data.inventory_number);
        var $button = $tr.find('.edit-item');
        $button.data('aquisition-date', response.data.aquisition_date);
        $button.data('aquisition-price', response.data.aquisition_price);
        $button.data('inventory-number', response.data.inventory_number);
      }
      $('.modal-backdrop').trigger('click');
    });
  });


//-->
</script>

