<h2>Výše spotřební daně</h2>

<?php if ($this->excises): ?>
  <?= $this->form('excise_delete', array('method' => 'post',
    'action' => $this->url(array('action' => 'excise-delete', 'id' => null))));
  ?>
  <?= $this->formHidden('excise_id', ''); ?>
  <table class="table table-striped">
    <thead>
      <th>Hodnota (za kg)</th>
      <th>Platí od</th>
      <th>&nbsp;</th>
    </thead>
  <tbody>
  <?php foreach ($this->excises as $excise): ?>
      <tr>
        
        <td><?= $excise['value'] . " Kč"; ?></td>
        <td><?= date('d.m.Y', strtotime($excise['active_from_date'])) ?></td>
        <td width='3px'>
            <a href="#" class="btn btn-mini btn-danger"
               onclick="return exciseDelete(<?= $excise['id'] ?>)">
              <i class="icon icon-white icon-remove"></i></a>
        </td>
      </tr>
  <?php endforeach; ?>
  </tbody>
  </table>
<?php else: ?>
    <p><em>Nejsou definovány žádné spotřební daně.</em></p>
<?php endif; ?>
<p>
    <a class="btn btn-primary" href="<?php echo $this->url(array(
        'action' => 'excise-add', 'id' => null
    ))?>"><i class="icon icon-white icon-plus"></i>&nbsp;Přidat</a>
</p>

<script type="text/javascript">
    function exciseDelete(exciseId) {
        if (confirm('Opravdu chcete tuto hodnotu odebrat?')) {
            $('#excise_id').val(exciseId);
            $('#excise_delete').submit();
        } else {
            return false;
        }
    }
</script>