<h2>Číselník příchutí</h2>  <?=
  $this->form('delete', array('method' => 'post',
    'action' => $this->url(array('action' => 'flavor-keys-delete', 'id' => null))));
  ?>
  <?= $this->formHidden('id', ''); ?>
  <table class="table table-striped sticky">
    <thead>
      <th>ID</th>
      <th>Název</th>
      <th>Fusion</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
  <?php foreach ($this->flavors as $flavor): ?>
      <tr>
        
        <td><?= sprintf('%1$03d', $flavor['id']); ?></td>
        <td><?= $flavor['name']; ?></td>
        <td><?= ($flavor['is_mix']=='y') ? 'Ano':'Ne'; ?></td>
        <td width="3px">
          
          <div class="btn-group btn-group-vertical">
            <a href="<?php echo $this->url(array('action' => 'flavor-keys-edit',
              'id' => $flavor['id']));
          ?>" class="btn btn-mini btn-primary">
              <i class="icon icon-white icon-edit"></i></a>
            <a href="#" class="btn btn-mini btn-danger"
               onclick="return flavorDelete(<?= $flavor['id'] ?>)">
              <i class="icon icon-white icon-remove"></i></a>
          </div>
        </td>
      </tr>
  <?php endforeach; ?>
  </tbody>
  </table>

<p>
    <a class="btn btn-primary" href="<?php echo $this->url(array(
        'action' => 'flavor-keys-edit', 'id' => null
    ))?>"><i class="icon icon-white icon-plus"></i>&nbsp;Přidat</a>
</p>

<script type="text/javascript">
    function flavorDelete(flavorId) {
        if (confirm('Opravdu chcete tuto příchuť odebrat?')) {
            $('#id').val(flavorId);
            $('#delete').submit();
        } else {
            return false;
        }
    }
</script>