<?php if($this->show) { ?>
<table class="inv-table-inside inv-border-top">
    <tbody>
        <tr>
            <td class="td-normal-title nobboth">
                Total weight brutto:
            </td>
            <td class="nobboth">
                <?= $this->invoice['weight']; ?>
            </td>
        </tr>
    </tbody>
</table>
<?php } ?>