<table class="inv-table-inside">
    <tbody>
        <tr>
            <td class="td-normal-title nobboth">Date of issue:</td>
            <td class="nobboth"><?= date('dS F Y') ?></td>
        </tr>
    </tbody>
</table>