<?php if($this->show) { ?>
<table class="inv-table-inside">
    <tbody>
        <tr>
            <td class="td-normal-title nobboth">
                Payment method:
            </td>
            <td class="nobboth">
                <?= Table_Orders::$paymentToStringEn[$this->order->getRow()->payment_method] ?>
            </td>
        </tr>
    </tbody>
</table>
<?php } ?>