<h2>Uživatelské texty <small>(faktury)</small></h2>

<?php if ($this->texts): ?>
<form id='removeForm' method='post' action='<?php echo $this->url(array('action' => 'custom-texts-remove')); ?>'>
    <input type='hidden' name='id' id='id' value='' />
    <table class='table table-hover table-condensed'>
        <thead>
            <tr>    
                <th>Popis</th>
                <th class="text-center">Doklad</th>
                <th class="text-center">Zákazník</th>
                <th class="text-center">Region</th>
                <th class="text-center">Jazyk</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->texts as $text): ?>
                <tr>
                    <td style="width: 60%">
                        <strong><?php echo $text['description']; ?></strong><br />
                        <small><?php echo $text['text']; ?></small>
                    </td>
                    <td style="vertical-align: middle" class="text-center"><?php echo $this->invoiceTypes[$text['invoice_type']]; ?></td>
                    <td style="vertical-align: middle" class="text-center"><?php echo $text['type']; ?></td>
                    <td style="vertical-align: middle" class="text-center"><?php echo $text['region']; ?></td>
                    <td style="vertical-align: middle" class="text-center"><?php echo $text['language']; ?></td>
                    <td style="vertical-align: middle" class="text-center">
                      <div class="btn-group-vertical">
                        <a href='<?php echo $this->url(array(
                            'action' => 'custom-texts-edit', 'id' => $text['id'])); ?>' 
                            class='btn btn-small btn-primary' title="Editovat">
                            <i class='icon icon-white icon-edit'></i>
                        </a>
                        <a href='#' class='btn btn-small btn-danger'  title="Odstranit"
                            onclick='confirmRemoving(<?php echo $text['id']; ?>);'>
                            <i class='icon icon-white icon-remove'></i>
                        </a>
                      </div>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</form>    
<?php else: ?>
<p>
    <em>Nejsou definovány žádné uživatelské texty.</em>
</p>
<?php endif; ?>
<p>    
    <a href="<?php echo $this->url(array('action' => 'custom-texts-edit', 'id' => null)); ?>" class='btn btn-primary'>
        <i class='icon icon-white icon-plus'></i>&nbsp; Přidat text
    </a>
</p>
<script type='text/javascript'>
    function confirmRemoving(id) {
        if (confirm('Opravdu chcete vymazat tento text?')) {
            $('#removeForm #id').val(id);
            $('#removeForm').submit();
        }
    }
</script>