<style>
    #payments {
        position: relative;
    }

    #payment-deduct-status {
        position: absolute;
        top: 0;
        right: 0;
        width: 90%;
    }

    .deduction input {
        text-align: right;
        width: 100%;
    }
</style>
<form id="payments" action="<?= $this->url(array('action' => 'save-deducts')) ?>">
  <h3><?= $this->form->getLegend() ?></h3>
  <div id="payment-deduct-status" style=""></div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Proforma</th>
        <th>Datum</th>
        <th class="text-right">Částka</th>
        <th class="text-center">Odpočet</th>
      </tr>
    </thead>
    <?php foreach ($this->candidates as $c): ?>
    <tr>
      <td><?= $c['proforma_no'] ?></td>
      <td><?= Meduse_Date::dbToForm($c['date']) ?></td>
      <td class="text-right"><?= Meduse_Currency::format($c['amount'], $c['currency']) ?></td>
      <td class="text-center"><?= $this->form->getElement('payment_' . $c['id'])->removeDecorator('Label') ?></td>
    </tr>
    <tr id="deduction-amount-<?= $c['id'] ?>" class="<?= empty($c['id_payments_deductions']) ? 'hidden' : '' ?>">
      <td colspan="2" class="text-right">Výše odpočtu</td>
      <td colspan="1" class="text-right deduction"><?= $this->form->getElement('payment_amount_' . $c['id'])->removeDecorator('Label') ?></td>
    </tr>
    <?php endforeach; ?>
  </table>
</form>

<script>
    $('#payments').on('submit', function() {
        return false;
    });

    $(document).ready(function () {

        function makeDeduction(paymentId, deductionId, amount) {
            let params = {
                'id_payment': paymentId,
                'id_deduction': deductionId,
                'amount': amount,
            };
            $.post(url, params).done(function (data) {
                $status.addClass('alert').html(data.message).slideToggle();
                if (data.status) {
                    $status.addClass('alert-success').removeClass('alert-error');
                    $('input#payment_amount_' + paymentId).data('deduction-id', data.id_deduction);
                    $('input#payment_' + paymentId).data('deduction-id', data.id_deduction);
                } else {
                    $status.removeClass('alert-success').addClass('alert-error');
                }
                $status.delay(2000).slideToggle();
            });
        }

        let
            url = '<?= $this->url(array('action' => 'ajax-save-deduct')) ?>',
            $status = $('#payment-deduct-status').hide();

        $('#payments input:checkbox').change(function () {
            let $checkbox = $(this),
                deduct = $checkbox.prop('checked'),
                paymentId = $checkbox.data('payment-id'),
                deductionId = $checkbox.data('deduction-id');

            if (deduct) {
                let
                    $input = $('input#payment_amount_' + paymentId),
                    max = $input.data('max');

                $('tr#deduction-amount-' + paymentId).toggleClass('hidden');
                $input.val(max);
                makeDeduction(paymentId, deductionId, max);
            } else {
                $('tr#deduction-amount-' + paymentId).toggleClass('hidden');
                makeDeduction(paymentId, deductionId, 0);
            }
        });

        $('#payments input:text').change(function () {
            let
                $input = $(this),
                paymentId = $input.data('payment-id'),
                deductionId = $input.data('deduction-id'),
                amount = $input.val(),
                max = $input.data('max');

            if (amount > max) {
                $input.val(max);
                amount = max;
            }
            makeDeduction(paymentId, deductionId, amount);
        });
    });
</script>