<div class="pull-right">
  <a class="btn" href="<?= $this->url(array('action' => 'unpaid')); ?>">
    <i class="icon icon-time"></i>
    Přehled faktur po splatnosti</a>
</div>
<h2>Přehled vygenerovaných faktur</h2>

<div id="filter-box" class="hidden"><?= $this->filter ?></div>

<div class="text-center">
  <button class="btn btn-small btn-primary" id="filter-toggle"><i class="icon icon-white icon-filter"></i> Filtrovat</button>
  <a class="btn btn-small btn-success" id="filter-reset" href="/invoice/index/new/search">
    <i class="icon icon-white icon-search"></i> Nové hledání
  </a>
</div>

<?= $this->grid ?>

<script type="text/javascript">
$(document).ready(function() {
  $("#company_name").autocomplete({"source":"\/invoice\/ajax-company"});

  $("#filter-toggle").click(function(e) {
    e.preventDefault();
    if ($('#filter-box').hasClass('hidden')) {
      $('#filter-box').removeClass('hidden');
    } else {
      $('#filter-box').addClass('hidden');
    }
  });
});
</script>
<?php /*
<table class="table table-hover">
	<thead>
		<tr>
			<th>Obj.&nbsp;č.</th>
			<th>Název</th>
			<th>Firma</th>
			<th>Typ</th>
			<!--<th>Popis</th>-->
			<th>Číslo&nbsp;VF</th>
			<th>Typ&nbsp;VF</th>
			<th>Region</th>
            <th>Měna</th>
            <th>Jazyk</th>
			<th>Vloženo</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($this->invoices as $invoice): ?>
			<tr>
				<td><?php echo $invoice["order_no"]; ?></td>
				<td><a href="<?php echo $this->url(array(
					'controller' => 'orders', 'action' => 'detail', 'id' => $invoice['order_id']
				)); ?>"><?php echo $invoice["title"]; ?></a></td>
				<td><?php echo $invoice["company"]; ?></td>
				<td><?php echo $invoice["customer_type"]; ?></td>
				<!--<td><?php echo $invoice["description"]; ?></td>-->
				<td><?php echo $invoice["invoice_no"]; ?></td>
				<td><?php echo Table_Invoices::$typeToString[$invoice["invoice_type"]]; ?></td>
				<td><?php echo Table_Invoices::$regionToString[$invoice["region"]]; ?></td>
                <td><?php echo Table_Invoices::$currencyToSign[$invoice["currency"]]; ?></td>
                <td><?php echo Table_Invoices::$languageToString[$invoice["language"]]; ?></td>
				<td><?php echo $invoice["inserted"]; ?></td>
				<td>
					<a href="<?php echo $this->url(array('action' => 'prepare',
					'order' => $invoice['order_id'])); ?>">upravit</a>
				</td>
				<td>
					<a href="<?php echo $this->url(array('action' => 'generate',
                        'order' => $invoice['order_id'])); ?>" target="_blank">PDF</a>
				</td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>
*/ ?>

<?php //Zend_Debug::dump($this->invoices); ?>