<h2><?= $this->title; ?></h2>

<?= $this->payments; ?>

<script>

  $(document).ready(function(){

    $('.remove').click(function(){
      return confirm('Opravdu chcete odstranit tuto úhradu?');
    });

  });


</script>