<?php $rows = 8; ?>
<table class="inv-table-inside tbl-address">
    <thead>
        <tr><th colspan="2" class="left">SUPPLIER:</th></tr> 
    </thead>
    <tbody>
        <tr>
            <td class="td-address-title">
                Company name:
            </td>
            <td class="td-address">
                <?= $this->meduseData->company ?>
            </td>
        </tr>
        <tr>
            <td class="td-address-title">
                Address:
            </td>
            <td class="td-address">
                <?= $this->meduseAddr->street .' '. $this->meduseAddr->orient_number . (!empty($this->meduseAddr->pop_number) ? '/'.$this->meduseAddr->pop_number : '') ?>
            </td>
        </tr>
        <tr>
            <td class="td-address-title">
                City/Postal Code:
            </td>
            <td class="td-address">
                <?= $this->meduseAddr->zip ?>
            </td>
        </tr>
        <tr>
            <td class="td-address-title">
                Country:
            </td>
            <td class="td-address">
                <?= $this->meduseAddr->country ?>
            </td>
        </tr>
<?php if(!empty($this->user['phone'])) : $rows++; ?>      
        <tr>
            <td class="td-address-title">
                Tel. No.:
            </td>
            <td class="td-address">
                <?= $this->user['phone'] ?>
            </td>
        </tr>
<?php endif; ?>        
        <tr>
            <td class="td-address-title">
                Registration No:
            </td>
            <td class="td-address">
                <?= $this->meduseData->vat_no ?>
            </td>
        </tr>
        <tr>
            <td style="height: 3px;"></td>
        </tr>
    </tbody>
</table>

<?php Zend_Registry::set('inv_supplier_rows', $rows); ?>