<?php $acl = Zend_Registry::get('acl'); ?>

    <?php if ($acl->isAllowed('actualities')): ?>
        <button class="btn" onclick="location.href='<?php echo $this->baseUrl(); ?>/actualities'">Aktuality</button>
    <?php endif; ?>


    <!-- OBJEDNÁVKY -->
    <?php if ($acl->isAllowed('orders')): ?>

    <div class="btn-group">
        <button class="btn" onclick="location.href='/orders'">Objednávky</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
             <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <?php if ($acl->isAllowed('orders/index')) { ?>
                    <li><a href="<?php echo $this->baseUrl();?>/orders/">Přehled</a></li>
            <?php } if ($acl->isAllowed('orders/parts')) { ?>
                    <li><a href="<?php echo $this->baseUrl();?>/orders/parts">Položky k objednání</a></li>
            <?php } if ($acl->isAllowed('orders/add')) { ?>
                    <li><a href="<?php echo $this->baseUrl();?>/order-edit">Nová objednávka</a></li>
            <?php } if ($acl->isAllowed('orders/proforma')) { ?>
                    <li><a href="<?php echo $this->baseUrl();?>/orders/proforma">Proforma</a></li>
            <?php } if ($acl->isAllowed('orders/holograms')) { ?>
                    <li><a href="<?php echo $this->baseUrl();?>/orders/holograms">Hologramy</a></li>
            <?php } if ($acl->isAllowed('orders/templates')) { ?>
                    <li><a href="<?php echo $this->baseUrl();?>/orders/templates">Šablony objednávek</a></li>
            <?php } if ($acl->isAllowed('orders/compare')) { ?>
                    <li><a href="<?php echo $this->baseUrl();?>/orders/compare">Porovnání objednávek</a></li>
            <?php } ?>
            <!-- <li><a href="<?php echo $this->baseUrl();?>/orders/complete">Součásti</a></li> -->
            <!-- <li><a href="<?php echo $this->baseUrl();?>/orders/all-parts">Podsoučásti</a></li> -->
           </ul>
        </div>
    <?php endif; ?>



    <!--  SKLAD  -->
    <?php if ($acl->isAllowed('parts')): ?>
    <div class="btn-group">
        <button class="btn" onlick='location.href="/parts/overview"'>Sklad</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
             <span class="caret"></span>
         </button>

			<ul class="dropdown-menu">
                            	<li><a href="<?php echo $this->baseUrl();?>/parts/overview">Přehled</a></li>
				<li><a href="<?php echo $this->baseUrl();?>/parts/warehouse">Položky skladu</a></li>

				<li><a href="<?php echo $this->baseUrl();?>/parts/extern-overview">Externí sklady</a></li>
                                <?php if ($acl->isAllowed('multi-edit/index')) { ?>
                                    <li><a href="<?php echo $this->baseUrl();?>/multi-edit">Multi-editace</a></li>
                                <?php } ?>
                                <?php if ($acl->isAllowed('parts/history')) { ?>
				<li><a href="<?php echo $this->baseUrl();?>/parts/history">Historie skladu</a></li>
                                <?php } ?>
                                <?php if ($acl->isAllowed('parts/categories')) { ?>
				<li><a href="/parts/categories">Kategorie součástí</a></li>
                                <?php } ?>
                                <?php if ($acl->isAllowed('parts/collections')) { ?>
				<li><a href="<?php echo $this->baseUrl();?>/parts/collections">Kolekce součástí</a></li>
                                <?php } ?>
                                <?php if ($acl->isAllowed('parts/trash')) { ?>
				<li><a href="<?php echo $this->baseUrl();?>/parts/trash">Koš součástí</a></li>
                                <?php } ?>
                                <!--
                                <?php if ($acl->isAllowed('parts/parts-available')) { ?>
				<li><a href="<?php echo $this->baseUrl();?>/parts/parts-available"><span style="color: red; font-weight: bold;">nové </span>Poskládat dýmky</a></li>
                                <?php } ?>
                                -->
				<li><a href="<?php echo $this->baseUrl();?>/parts">Přidat položku</a></li>
				<!-- <li><a href="#">Kategorie</a></li> -->
			</ul>
        </div>
		<?php endif; ?>

    <!-- DODAVATELÉ -->
    <?php if ($acl->isAllowed('producers')): ?>
        <div class="btn-group">
        <button class="btn" onclick="location.href='/producers'">Dodavatelé</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
             <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">

            <li><a href="<?php echo $this->baseUrl(); ?>/producers">Přehled</a></li>
            <li><a href="<?php echo $this->baseUrl(); ?>/parts/productions">Výroba</a></li>
            <?php if ($acl->isAllowed('orders/carriers')) { ?>
                <li><a href="<?php echo $this->baseUrl(); ?>/orders/carriers">Dopravci</a></li>
            <?php } ?>
            <li><a href="<?php echo $this->baseUrl(); ?>/producers/parts">Objednávka součástí</a></li>
          </ul>
        </div>
    <?php endif; ?>


    <!-- ZÁKAZNÍCI -->
    <?php if ($acl->isAllowed('customers')): ?>
    <div class="btn-group">
        <button class="btn" onclick="location.href='/customers'">Zákazníci</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
             <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
                    <li><a href="<?php echo $this->baseUrl();?>/customers">Přehled</a></li>
                    <li><a href="<?php echo $this->baseUrl();?>/customers/edit">Přidat</a></li>
					<li><a href="<?php echo $this->baseUrl();?>/invoice">Přidat</a></li>
            </ul>
    </div>
    <?php endif; ?>


    <!-- REKLAMACE -->
    <?php if ($acl->isAllowed('claims')): ?>
        <div class="btn-group">
        <button class="btn" onclick="location.href='/claims'">Reklamace</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
             <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
                                <li><a href="<?php echo $this->baseUrl();?>/claims">Přehled</a></li>
                                <li><a href="<?php echo $this->baseUrl();?>/claims/add">Přidat reklamaci</a></li>

                                <!-- <li><a href="<?php echo $this->baseUrl();?>/claims/add-wrap">Reklamovat obal</a></li> -->
                        </ul>
                </div>
    <?php endif; ?>


    <!-- EXTERNI SKLADNIK -->
    <?php if ($acl->isAllowed('extern')): ?>
        <button class="btn" onclick="location.href='/extern'">Externí sklad</button>
    <?php endif; ?>


    <!-- EXPORT -->
    <?php if ($acl->isAllowed('export')): ?>
        <button class="btn" onclick="location.href='/export'">Export</button>
    <?php endif; ?>


    <!-- ADMINISTRATION -->
    <?php if ($acl->isAllowed('admin')): ?>
            <div class="btn-group">
        <button class="btn" onclick="location.href='/claims'">Admin</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
             <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
                                <li><a href="<?php echo $this->baseUrl();?>/admin/users-list">Správa uživatelů</a></li>
                                <li><a href="<?php echo $this->baseUrl();?>/admin/settings-dph">Nastavení DPH</a></li>
                            </ul>
                    </div>
    <?php endif; ?>
    <button class="btn" onclick="history.go(-1)">Zpět</button>
   </ul>
