<?php
	/**
	 * @var Meduse_Acl $acl
	 */
	$acl = Zend_Registry::get('acl');

?>
<div id="menu_wrap">
	<div id="myslidemenu" class="jqueryslidemenu">
	<ul>
<?php
	if( $acl->isAllowed('actualities') ) {
?>
		<li><a href="<?= $this->baseUrl();?>/actualities">Aktuality</a></li>
<?php
	}
	if( $acl->isAllowed('orders') ) {
?>
		<!-- ========== -->
		<!-- OBJEDNÁVKY -->
		<!-- ========== -->
		<li><a href="<?= $this->baseUrl();?>/orders/">Objednávky</a>
			<ul>
				<?php if( $acl->isAllowed('orders/index') ) { ?>
					<li><a href="<?= $this->baseUrl();?>/orders/">Přehled</a></li>
				<?php } if( $acl->isAllowed('orders/parts') ) { ?>
					<li><a href="<?= $this->baseUrl();?>/orders/parts">Položky k objednání</a></li>
				<?php } if( $acl->isAllowed('orders/add') ) { ?>
					<li><a href="<?= $this->baseUrl();?>/order-edit">Nová objednávka</a></li>
				<?php } if( $acl->isAllowed('orders/proforma') ) { ?>
					<li><a href="<?= $this->baseUrl();?>/orders/proforma">Proforma</a></li>
				<?php } if( $acl->isAllowed('orders/holograms') ) { ?>
					<li><a href="<?= $this->baseUrl();?>/holograms">Hologramy</a></li>
				<?php } if( $acl->isAllowed('orders/templates') ) { ?>
					<li><a href="<?= $this->baseUrl();?>/orders/templates">Šablony objednávek</a></li>
                                <?php } if( $acl->isAllowed('orders/compare') ) { ?>
					<li><a href="<?= $this->baseUrl();?>/orders/compare">Porovnání objednávek</a></li>
				<?php } ?>
				<!-- <li><a href="<?= $this->baseUrl();?>/orders/complete">Součásti</a></li> -->
				<!-- <li><a href="<?= $this->baseUrl();?>/orders/all-parts">Podsoučásti</a></li> -->
			</ul>
		</li>
<?php
	}
	if( $acl->isAllowed('parts') ) {
?>
		<!-- ======= -->
		<!--  SKLAD  -->
		<!-- ======= -->
		<li><a href="<?= $this->baseUrl();?>/parts/warehouse">Sklad</a>
			<ul>
				<li><a href="<?= $this->baseUrl();?>/parts/warehouse">Položky skladu</a></li>
				<li><a href="<?= $this->baseUrl();?>/parts/overview">Přehled</a></li>
				<li><a href="<?= $this->baseUrl();?>/parts/extern-overview">Externí sklady</a></li>
<?php if( $acl->isAllowed('multi-edit/index') ) { ?>
				<li><a href="<?= $this->baseUrl();?>/multi-edit">Multi-editace</a></li>
<?php } ?>
<?php if( $acl->isAllowed('parts/history') ) { ?>
				<li><a href="<?= $this->baseUrl();?>/parts/history">Historie skladu</a></li>
<?php } ?>
<?php if( $acl->isAllowed('parts/categories') ) { ?>
				<li><a href="/parts/categories">Kategorie součástí</a></li>
<?php } ?>
<?php if( $acl->isAllowed('parts/collections') ) { ?>
				<li><a href="<?= $this->baseUrl();?>/parts/collections">Kolekce součástí</a></li>
<?php } ?>
<?php if( $acl->isAllowed('parts/trash') ) { ?>
				<li><a href="<?= $this->baseUrl();?>/parts/trash"><span style="color: red; font-weight: bold;">nové </span>Koš součástí</a></li>
<?php } ?>
                                <!--
<?php if( $acl->isAllowed('parts/parts-available') ) { ?>
				<li><a href="<?= $this->baseUrl();?>/parts/parts-available"><span style="color: red; font-weight: bold;">nové </span>Poskládat dýmky</a></li>
<?php } ?>
                                -->
				<li><a href="<?= $this->baseUrl();?>/parts">Přidat položku</a></li>
				<!-- <li><a href="#">Kategorie</a></li> -->
			</ul>
		</li>
<?php
	}

	if( $acl->isAllowed('producers') ) {
?>
		<!-- ======= -->
		<!-- DODAVATELÉ -->
		<!-- ======= -->
		<li><a href="/producers">Dodavatelé</a>
			<ul>
				<li><a href="<?= $this->baseUrl();?>/producers">Přehled</a></li>
				<li><a href="<?= $this->baseUrl();?>/parts/productions">Výroba</a></li>
				<?php if( $acl->isAllowed('orders/carriers') ) { ?>
					<li><a href="<?= $this->baseUrl();?>/orders/carriers">Dopravci</a></li>
				<?php } ?>
				<li><a href="<?= $this->baseUrl();?>/producers/parts">Objednávka součástí</a></li>
			</ul>
		</li>
<?php } elseif ($acl->isAllowed('orders/carriers')) { ?>
		<li>
			<a role="button"  href="/orders/carriers">Dopravci</a>
		</li>
<?php
	}
		if( $acl->isAllowed('customers') ) {
?>
		<!-- ========= -->
		<!-- ZÁKAZNÍCI -->
		<!-- ========= -->
		<li><a href="/customers">Zákazníci</a>
			<ul>
				<li><a href="<?= $this->baseUrl();?>/customers">Přehled</a></li>
				<li><a href="<?= $this->baseUrl();?>/customers/edit">Přidat</a></li>
				<li><a href="<?= $this->baseUrl();?>/invoice">Faktury</a></li>
                <li><a href='<?= $this->baseUrl();?>/pricelists'>Ceníky</a></li>
			</ul>
		</li>
<?php
	}
	if( $acl->isAllowed('claims') ) {
?>
		<!-- ========= -->
		<!-- REKLAMACE -->
		<!-- ========= -->
		<li><a href="<?= $this->baseUrl();?>/claims">Reklamace</a>
			<ul>
				<li><a href="<?= $this->baseUrl();?>/claims/add">Přidat reklamaci</a></li>
				<li><a href="<?= $this->baseUrl();?>/claims">Přehled</a></li>
				<!-- <li><a href="<?= $this->baseUrl();?>/claims/add-wrap">Reklamovat obal</a></li> -->
			</ul>
		</li>
<?php
	}
		if( $acl->isAllowed('extern') ) {
?>
		<!-- ================ -->
		<!-- EXTERNI SKLADNIK -->
		<!-- ================ -->
		<!--<li><a href="<?= $this->baseUrl();?>/extern">Externí sklad</a>
			<!--
			<ul>
				<li><a href="<?= $this->baseUrl();?>/extern">Externí sklad</a></li>
			</ul>

		</li>-->
<?php
	}
	if( $acl->isAllowed('export') ) {
?>
		<!-- ====== -->
		<!-- EXPORT -->
		<!-- ====== -->
		<li><a href="<?= $this->baseUrl();?>/export">Export</a></li>
<?php
	}
        if( $acl->isAllowed('admin') ) {
?>
		<!-- ====== -->
		<!-- ADMINISTRATION -->
		<!-- ====== -->
                <li><a href="<?= $this->baseUrl();?>/claims">Admin</a>
			<ul>
                            <li><a href="<?= $this->baseUrl();?>/admin/users-list">Správa uživatelů</a></li>
							<?php if( $acl->isAllowed('email-templates/index') ) { ?>
							<li><a href="<?= $this->baseUrl();?>/email-templates">Správa emailových šablon</a></li>
							<?php } ?>
                            <li><a href="<?= $this->baseUrl();?>/admin/settings-dph">Nastavení DPH</a></li>
                            <li><a href="<?= $this->baseUrl();?>/admin/rate-settings">Nastavení kurzu</a></li>
                            <li><a href="<?= $this->baseUrl();?>/admin/accounts-list">Bankovní účty</a></li>
                            <li><a href="<?= $this->baseUrl();?>/invoice/custom-texts">Uživatelské texty (faktury)</a></li>
              <?php if($acl->isAllowed('admin/flush-acl-cache')) : ?>
                <li><a href="<?= $this->baseUrl();?>/admin/flush-acl-cache">Vymazat ACL cache</a></li>
              <?php endif; ?> 
      </ul>
                </li>

<?php
        }
?>
   </ul>
	<br style="clear: left" />
	</div>
	<span style="float: right; position: relative; top: -23px;"><a href="javascript:history.go(-1)" style="color: white; text-decoration: none;">Zpět</a></span>
</div>