<?php
  /**
   * @var Meduse_Acl $acl
   */
  $acl = Zend_Registry::get('acl');
  $auth = Zend_Auth::getInstance();
?>
<div class="navbar navbar-fixed-top navbar-employees no-print">
  <div class="navbar-inner ">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <?php if ($acl->isAllowed('tobacco-orders/index') || $acl->isAllowed('tobacco-invoice/index') || $acl->isAllowed('orders/index') || $acl->isAllowed('invoice/index')):
              ?>
              <li class="dropdown">
                <a class="dropdown-toggle brand" href="<?php echo $this->baseUrl(); ?>/orders/" role="button" data-toggle="dropdown">
                  DOCHÁZKA
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <?php if ($acl->isAllowed('orders/index') || $acl->isAllowed('invoice/index')): ?>
                      <a href="<?php echo $this->baseUrl(); ?>/index/switch-warehouse/wh/meduse">SKLAD MEDUSE</a>
                    <?php endif; ?>
                    <?php if ($acl->isAllowed('tobacco-orders/index') || $acl->isAllowed('tobacco-invoice/index')): ?>
                      <a href="<?php echo $this->baseUrl(); ?>/index/switch-warehouse/wh/tobacco">SKLAD MEDITE</a>
                    <?php endif; ?>

                  </li>
                </ul>
              </li>
            <?php else: ?>
              <li>
                <div class="brand">
                  DOCHÁZKA
                </div>
              </li>
          <?php endif; ?>

          <?php if ($acl->isAllowed('employees/index')): ?>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                   href="<?= $this->baseUrl(); ?>/employees/index">Pracovník<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="<?= $this->baseUrl(); ?>/employees/index">Dashboard</a></li>
                </ul>
              </li>
          <?php endif; ?>
          <?php if ($acl->isAllowed('employees/admin')): ?>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                   href="<?= $this->baseUrl(); ?>/employees/admin">Správa pracovníků<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="<?= $this->baseUrl(); ?>/employees/admin">Přehled pracovníků</a></li>
                  <?php if ($acl->isAllowed('employees/vacation')): ?>
                    <li><a href="<?= $this->baseUrl(); ?>/employees/vacation">Přehled dovolených</a></li>
                  <?php endif; ?>
                  <?php if ($acl->isAllowed('employees/account-report')): ?>
                    <li><a href="<?= $this->baseUrl(); ?>/employees/account-report">Přehled pro účetní</a></li>
                  <?php endif; ?>
                  <?php if (Zend_Registry::get('config')->alveno->enabled && $acl->isAllowed('employees/fetch-dsi-records')): ?>
                    <li><a href="<?= $this->baseUrl(); ?>/employees/fetch-dsi-records">Stáhnout data ze čtečky</a></li>
                  <?php endif; ?>
                  <?php if ($acl->isAllowed('employees/settings')): ?>
                    <li><a href="<?= $this->baseUrl(); ?>/employees/settings">Nastavení</a></li>
                  <?php endif; ?>
                </ul>
              </li>
          <?php endif; ?>
          <?php if ($acl->isAllowed('departments/index')): ?>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                   href="<?= $this->baseUrl(); ?>/departments/index">Oddělení<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="<?= $this->baseUrl(); ?>/departments/index">Přehled oddělení</a></li>
                </ul>
              </li>
          <?php endif; ?>
        </ul>
        <ul class="nav pull-right">

          <?php if (Zend_Registry::get('config')->alveno->enabled && $acl->isAllowed('employees/fetch-dsi-records')):
            try {
            $dsi = new Alveno_Dsi('meduse'); ?>
              <li><a href="<?= $this->baseUrl(); ?>/employees/fetch-dsi-records">Alveno: <?php $last = $dsi->getLastRecord(); echo $last->toString('d.m. H:i'); ?></a></li>
            <?php
            }
            catch (Exception $e) {
              ?><li>Alveno: Nedostupné</li><?php
            }
            ?>
          <?php endif; ?>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#"> Uživatel: <?php echo $auth->getIdentity(); ?> [<span id="time_countdown"></span>] <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<?= $this->baseUrl(); ?>/admin/user-pwd">Změna hesla</a></li>
              <li><a href="<?= $this->baseUrl(); ?>/issues">Reportované problémy</a></li>
              <?php if ($acl->isAllowed('admin/flush-acl-cache')) : ?>
                  <li><a href="<?= $this->baseUrl(); ?>/admin/flush-acl-cache">Vymazat ACL cache</a></li>
                <?php endif; ?>
              <li><a href="/login/clear">Odhlásit</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>