<?php
	/**
	 * @var Meduse_Acl $acl
	 */
	$acl = Zend_Registry::get('acl');
	$auth = Zend_Auth::getInstance();
?>

<div class="navbar navbar-fixed-top hidden-print">
  <div class="navbar-inner ">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <?php if ($acl->isAllowed('orders/index') || $acl->isAllowed('invoice/index') || $acl->isAllowed('employees/index')) : ?>
          <li class="dropdown">
            <a class="dropdown-toggle brand" href="<?php echo $this->baseUrl(); ?>/tobacco/warehouse/" role="button" data-toggle="dropdown">
              SKLAD MEDITE
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <?php if ($acl->isAllowed('orders/index') || $acl->isAllowed('invoice/index')): ?>
                <a href="<?php echo $this->baseUrl(); ?>/index/switch-warehouse/wh/meduse">SKLAD MEDUSE</a>
                <?php endif; ?>
                <?php if ($acl->isAllowed('employees/index') || $acl->isAllowed('employees/account-report')): ?>
                <a href="<?php echo $this->baseUrl();?>/index/switch-warehouse/wh/employees">DOCHÁZKA</a>
                <?php endif; ?>
              </li>
            </ul>
          </li>
          <?php else: ?>
          <li>
            <div class="brand">
              TOBACCO WAREHOUSE
            </div>
          </li>
          <?php endif; ?>

        <!-- ======= -->
        <!--  SKLAD  -->
        <!-- ======= -->
          <?php	if ($acl->isAllowed('tobacco/warehouse') || $acl->isAllowed('tobacco/warehouse-daily-packing')): ?>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#">Sklad<b class="caret"></b></a>
        <ul class="dropdown-menu">
          
            <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/materials">Suroviny</a></li>
            <li class="dropdown-submenu">
              <a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/packaging"><?= Table_TobaccoWarehouse::$ctgToString[Table_TobaccoWarehouse::CTG_PACKAGING];?> (vše)</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/packaging_labels"><?= Table_TobaccoWarehouse::$ctgToString[Table_TobaccoWarehouse::CTG_PACKAGING_LABELS];?> (vše)</a>
                  <ul class="dropdown-menu">
                    <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/packaging_labels_box_010"><?= Table_TobaccoWarehouse::$ctgToString[Table_TobaccoWarehouse::CTG_PACKAGING_LABELS_BOX_010];?></a></li>
                    <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/packaging_labels_box_050"><?= Table_TobaccoWarehouse::$ctgToString[Table_TobaccoWarehouse::CTG_PACKAGING_LABELS_BOX_050];?></a></li>
                    <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/packaging_labels_sachet_010"><?= Table_TobaccoWarehouse::$ctgToString[Table_TobaccoWarehouse::CTG_PACKAGING_LABELS_SACHET_010];?></a></li>
                  </ul>
                </li>
                <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/packaging_sachets"><?= Table_TobaccoWarehouse::$ctgToString[Table_TobaccoWarehouse::CTG_PACKAGING_SACHETS];?></a></li>
                <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/packaging_boxes"><?= Table_TobaccoWarehouse::$ctgToString[Table_TobaccoWarehouse::CTG_PACKAGING_BOXES];?></a></li>
                <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/packaging_other"><?= Table_TobaccoWarehouse::$ctgToString[Table_TobaccoWarehouse::CTG_PACKAGING_OTHER];?></a></li>
              </ul>
            </li>
            <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/duty_stamps">Kolky</a></li>

          <?php	if ($acl->isAllowed('tobacco/productions')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco/productions">Objednávky materiálu</a></li>
            <li class="divider"></li>
          <?php endif; ?>
          
            <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/tobacco_nfs">Produkty</a></li>
            <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/tobacco_fs">Okolkované zboží</a></li>
            <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse/tab/accessories">Doplňky</a></li>
            <li class="divider"></li>
          
          <?php	if ($acl->isAllowed('tobacco/warehouse-daily-packing')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse-daily-packing">Zadání nabalení</a></li>
          <?php endif; ?>
          <?php	if ($acl->isAllowed('tobacco/warehouse-snapshot')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco/warehouse-snapshot">Fyzický stav</a></li>
          <?php endif; ?>
            <?php	if ($acl->isAllowed('tobacco/batch-consolidate')): ?>
                <li><a href="<?= $this->baseUrl() ?>/tobacco/batch-consolidate">Konsolidace šarží</a></li>
            <?php endif; ?>
            <?php	if ($acl->isAllowed('tobacco/close-year')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco/close-year/type/parts">Inventura</a></li>
          <?php endif; ?>
          
          <?php	if ($acl->isAllowed('tobacco/parts-trash')): ?>
            <li class="divider"></li>
            <li><a href="<?= $this->baseUrl();?>/tobacco/parts-trash">Koš</a></li>
          <?php endif; ?>
          </ul>
        </li>
          <?php endif; ?>
      <?php	if ($acl->isAllowed('tobacco/macerations') || $acl->isAllowed('tobacco/recipes') || $acl->isAllowed('tobacco/mixes')): ?>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#">Macerace<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<?= $this->baseUrl();?>/tobacco/macerations">Přehled mecerace</a></li>
            <li><a href="<?= $this->baseUrl();?>/tobacco/recipes">Receptury macerátů</a></li>
            <li><a href="<?= $this->baseUrl();?>/tobacco/mixes">Popisy mixů</a></li>
            <li><a href="<?= $this->baseUrl();?>/tobacco/maceration-calculator/">Kalkulátor</a></li>
            <li class="divider"></li>
            <?php	if ($acl->isAllowed('tobacco/macerations-snapshot')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco/macerations-snapshot">Fyzický stav</a></li>
            <?php endif; ?>
            <?php	if ($acl->isAllowed('tobacco/close-year')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco/close-year/type/macerations">Inventura</a></li>
            <?php endif; ?>
          </ul>
        </li>
      <?php endif; ?>
      <?php	if ($acl->isAllowed('tobacco-orders/index')): ?>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#">Objednávky<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<?= $this->baseUrl();?>/tobacco-orders">Přehled objednávek</a></li>
            <?php	if ($acl->isAllowed('tobacco-order-edit/index')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-order-edit">Nová objednávka</a></li>
            <?php endif; ?>
            <?php	if ($acl->isAllowed('tobacco-orders/new-from-clipboard')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-orders/new-from-clipboard">Vytvořit ze schránky</a></li>
            <?php endif; ?>
          </ul>
        </li>
      <?php endif; ?>
      <?php	if ($acl->isAllowed('tobacco-customers/index') || $acl->isAllowed('tobacco-invoice/index')): ?>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#">Zákazníci<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <?php	if ($acl->isAllowed('tobacco-customers/index')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-customers">Přehled zákazníků</a></li>
              <li><a href="<?= $this->baseUrl();?>/tobacco-customers/edit">Přidat zákazníka</a></li>
              <li class="divider"></li>
            <?php endif; ?>
            <?php	if ($acl->isAllowed('tobacco-invoice/index')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-invoice">Faktury</a></li>
              <li><a href="<?= $this->baseUrl();?>/tobacco-invoice/payments">Úhrady</a></li>
            <?php endif; ?>
            <?php	if ($acl->isAllowed('tobacco-pricelists/index')): ?>
              <li class="divider"></li>
              <li><a href="<?= $this->baseUrl();?>/tobacco-pricelists">Ceníky</a></li>
            <?php endif; ?>
            <?php	if ($acl->isAllowed('tobacco-pricecoefs/index')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-pricecoefs">Množstevní slevy</a></li>
            <?php endif; ?>
          </ul>
        </li>
      <?php endif; ?>
      <?php	if ($acl->isAllowed('tobacco-reports/amount') ||
        $acl->isAllowed('tobacco-reports/waste') ||
        $acl->isAllowed('tobacco-reports/sales') ||
        $acl->isAllowed('tobacco/reports-macerations') ||
        $acl->isAllowed('tobacco/reports-products') ||
        $acl->isAllowed('tobacco-reports/ekokom') ||
        $acl->isAllowed('tobacco/export')): ?>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#">Reporty<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <?php if ($acl->isAllowed('tobacco-reports/amount')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-reports/amount">Přehled skladu</a></li>
            <?php endif; ?>
            <?php if ($acl->isAllowed('tobacco-reports/waste')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-reports/waste">Ztráta</a></li>
            <?php endif; ?>
            <?php if ($acl->isAllowed('tobacco-reports/sales')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-reports/sales">Prodeje</a></li>
            <?php endif; ?>
            <?php if ($acl->isAllowed('tobacco/reports-macerations')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco/reports-macerations">Macerace</a></li>
            <?php endif; ?>
            <?php if ($acl->isAllowed('tobacco/reports-products')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco/reports-products">Produkty</a></li>
            <?php endif; ?>
            <?php if ($acl->isAllowed('tobacco-reports/ekokom')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-reports/ekokom">Ekokom</a></li>
            <?php endif; ?>
            <?php if ($acl->isAllowed('tobacco-reports/duty')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-reports/duty">Celní správa</a></li>
            <?php endif; ?>
            <?php if ($acl->isAllowed('tobacco-reports/history')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-reports/history">Historie</a></li>
            <?php endif; ?>
            <?php if ($acl->isAllowed('tobacco/export')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco/export">Vygenerované exporty</a></li>
            <?php endif; ?>
          </ul>
        </li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('tobacco-documents/index')): ?>
            <li><a href="<?= $this->baseUrl() ?>/tobacco-documents/index">Procesy</a></li>
        <?php endif; ?>
        <?php if ($acl->isAllowed('tobacco-settings/rate')
            || $acl->isAllowed('tobacco-settings/excise')
            || $acl->isAllowed('tobacco-settings/flavor-keys')
            || $acl->isAllowed('tobacco-settings/email-templates')): ?>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#">Nastavení<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <?php if($acl->isAllowed('tobacco-settings/rate')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco-settings/rate">Kurz EUR/CZK</a></li>
          <?php endif; ?>
          <?php if($acl->isAllowed('tobacco-settings/excise')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco-settings/excise">Spotřební daň</a></li>
          <?php endif; ?>
          <?php if($acl->isAllowed('tobacco-settings/flavor-keys')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco-settings/flavor-keys">Číselník příchutí</a></li>
          <?php endif; ?>
          <?php if($acl->isAllowed('tobacco-settings/recipes-proportion')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco-settings/recipes-proportion">Poměry fixních surovin</a></li>
          <?php endif; ?>

          <?php if($acl->isAllowed('tobacco-settings/email-templates')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco-settings/email-templates">Šablony e-mailů</a></li>
          <?php endif; ?>
          <?php if($acl->isAllowed('tobacco-producers/index')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco-producers">Dodavatelé</a></li>
          <?php endif; ?>
          <?php if($acl->isAllowed('tobacco-producers/carriers')): ?>
            <li><a href="<?= $this->baseUrl();?>/tobacco-producers/carriers">Dopravci</a></li>
          <?php endif; ?>
            <?php if(Utils::isAllowed('tobacco-settings/accounts-list')): ?>
              <li><a href="<?= $this->baseUrl();?>/tobacco-settings/accounts-list">Bankovní účty</a></li>
            <?php endif; ?>
          </ul>
        </li>
        <?php endif; ?>
    </ul>

    <ul class="nav pull-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#"> Uživatel: <?php echo $auth->getIdentity(); ?> [<span id="time_countdown"></span>] <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="<?= $this->baseUrl();?>/admin/user-pwd">Změna hesla</a></li>
                <li><a href="<?= $this->baseUrl();?>/issues">Reportované problémy</a></li>
                <?php if($acl->isAllowed('admin/flush-acl-cache')) : ?>
                  <li><a href="<?= $this->baseUrl();?>/admin/flush-acl-cache">Vymazat ACL cache</a></li>
                <?php endif; ?>
                <li><a href="/login/clear">Odhlásit</a></li>
            </ul>
        </li>
    </ul>
					</div>
				</div>
			</div>
		</div>