<div class="navbar navbar-fixed-top navbar-inverse no-print">
			<div class="navbar-inner ">
				<div class="container">
					<div class="nav-collapse">
            <ul class="nav">
              <?php if (Utils::isAllowed('tobacco-orders/index') || Utils::isAllowed('tobacco-invoice/index') || Utils::isAllowed('employees/index')): ?>
							<li class="dropdown">
								<a class="dropdown-toggle brand" href="<?php echo $this->baseUrl();?>/orders/" role="button" data-toggle="dropdown">
									SKLAD MEDUSE
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
                    <?php if (Utils::isAllowed('tobacco-orders/index') || Utils::isAllowed('tobacco-invoice/index')): ?>
										<a href="<?php echo $this->baseUrl();?>/index/switch-warehouse/wh/tobacco">SKLAD MEDITE</a>
                    <?php endif; ?>
                <?php if (Utils::isAllowed('employees/index') || Utils::isAllowed('employees/account-report')): ?>
                    <a href="<?php echo $this->baseUrl();?>/index/switch-warehouse/wh/employees">DOCHÁZKA</a>
                    <?php endif; ?>
									</li>
								</ul>
							</li>
              <?php else: ?>
              <li>
                <div class="brand">
                  MEDUSE WAREHOUSE
                </div>
              </li>
              <?php endif;?>
<?php
	if( Utils::isAllowed('orders/index') ) {
?>

		<!-- ========== -->
		<!-- OBJEDNÁVKY -->
		<!-- ========== -->
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="/orders/">Objednávky<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<?php if (Utils::isAllowed('orders/index')): ?>
					<li><a href="<?= $this->baseUrl(); ?>/orders/">Přehled</a></li>
        <?php endif; ?>
				<?php if (Utils::isAllowed('orders/add')): ?>
					<li><a href="<?= $this->baseUrl(); ?>/order-edit">Nová objednávka</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('orders/proforma')): ?>
          <li class="divider"></li>
					<li><a href="<?= $this->baseUrl(); ?>/orders/proforma">Proforma</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('holograms/index')): ?>
					<li><a href="<?= $this->baseUrl(); ?>/holograms">Hologramy</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('orders/templates')): ?>
          <li class="divider"></li>
					<li><a href="<?= $this->baseUrl(); ?>/orders/templates">Šablony objednávek</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('orders/compare')): ?>
					<li><a href="<?= $this->baseUrl(); ?>/orders/compare">Porovnání objednávek</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('export/orders')): ?>
					<li><a href="<?= $this->baseUrl(); ?>/export/orders">Export objednávek</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('reports/sales')): ?>
          <li class="divider"></li>
					<li><a href="<?= $this->baseUrl(); ?>/reports/sales">Reporty prodejů</a></li>
				<?php endif; ?>
			</ul>
		</li>
<?php
	}
	if( Utils::isAllowed('parts/overview') || Utils::isAllowed('parts')) {
?>
		<!-- ======= -->
		<!--  SKLAD  -->
		<!-- ======= -->
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                            role="button" href="/parts/warehouse">Sklad<i
          class="caret"></i></a>
      <ul class="dropdown-menu">
        <?php if (Utils::isAllowed('parts/warehouse')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/parts/warehouse">Položky skladu</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('parts/overview')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/parts/overview">Přehled</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('parts/products-overview')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/parts/products-overview">Přehled produktů</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('parts/extern-overview')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/parts/extern-overview">Externí sklady</a></li>
        <?php elseif (Utils::isAllowed('extern')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/extern">Externí sklad</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('multi-edit/index')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/multi-edit">Multi-editace</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('parts/history')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/parts/history">Historie skladu</a></li>
        <?php endif; ?>
        <li class="divider"></li>
        <?php if (Utils::isAllowed('parts/categories')): ?>
          <li><a href="/parts/categories">Kategorie součástí</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('parts/collections')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/parts/collections">Kolekce součástí</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('parts/trash')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/parts/trash">Koš součástí</a></li>
        <?php endif ?>
        <li class="divider"></li>
        <?php if (Utils::isAllowed('parts/check-costs')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/parts/check-costs">Kontrola nákladů</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('export')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/export">Vygenerované exporty</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('export/products-costs')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/export/products-costs">Materiálová skladba produktů</a></li>
        <?php endif; ?>
        <li class="divider"></li>
        <li><a href="<?= $this->baseUrl(); ?>/parts">Přidat položku</a></li>
        <?php if (Utils::isAllowed('parts/batch-throwing')): ?>
          <li><a href="<?= $this->baseUrl(); ?>/parts/batch-throwing">Hromadné vyřazení</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('orders/available-hs')): ?>
          <li class="divider"></li>
          <li><a href="<?= $this->baseUrl(); ?>/orders/available-hs">HS kódy (produkty, fakturace)</a></li>
        <?php endif; ?>
			</ul>
		</li>
<?php
	}
	elseif (Utils::isAllowed('parts/products-overview') ) { ?>
              <li><a href="<?= $this->baseUrl();?>/parts/products-overview">Přehled produktů</a></li>
              <?php }

	if( Utils::isAllowed('producers') ) {
?>
		<!-- ======= -->
		<!-- DODAVATELÉ -->
		<!-- ======= -->
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="/producers">Dodavatelé<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="<?= $this->baseUrl();?>/producers">Přehled</a></li>
				<li><a href="<?= $this->baseUrl();?>/producers/add">Nový dodavatel</a></li>
				<li><a href="<?= $this->baseUrl();?>/parts/productions">Výroba</a></li>
				<?php if( Utils::isAllowed('orders/carriers') ) { ?>
					<li><a href="<?= $this->baseUrl();?>/orders/carriers">Dopravci</a></li>
				<?php } ?>
				<li><a href="<?= $this->baseUrl();?>/producers/parts">Objednávka součástí</a></li>
              <?php if (Utils::isAllowed('claims')): ?>
                  <!-- ========= -->
                  <!-- REKLAMACE -->
                  <!-- ========= -->
                  <li class="divider"></li>
                  <li><a href="<?= $this->baseUrl();?>/claims">Přehled reklamací</a></li>
                  <li><a href="<?= $this->baseUrl();?>/claims/add">Přidat reklamaci</a></li>
              <?php endif; ?>
			</ul>
		</li>
	<?php } elseif (Utils::isAllowed('orders/carriers')) { ?>
		<li>
			<a role="button"  href="/orders/carriers">Dopravci</a>
		</li>
<?php
	}
		if (Utils::isAllowed('customers/index') || Utils::isAllowed('invoice/index')) {
?>
		<!-- ========= -->
		<!-- ZÁKAZNÍCI -->
		<!-- ========= -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="/customers">Zákazníci<b class="caret"></b></a>
			<ul class="dropdown-menu">
        <?php if (Utils::isAllowed('customers/index')): ?>
          <li><a href="<?= $this->baseUrl();?>/customers">Přehled zákazníků</a></li>
          <li><a href="<?= $this->baseUrl();?>/customers/edit">Přidat zákazníka</a></li>
          <li class="divider"></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('invoice/index')): ?>
          <li><a href="<?= $this->baseUrl();?>/invoice">Faktury</a></li>
          <li><a href="<?= $this->baseUrl();?>/invoice/payments">Úhrady</a></li>
        <?php endif; ?>
        
        <?php if (Utils::isAllowed('pricelists/index')): ?>
          <li class="divider"></li>
          <li><a href='<?= $this->baseUrl();?>/pricelists'>Ceníky a ceny</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('pricelists/ctg')): ?>
          <li><a href='<?= $this->baseUrl();?>/pricelists/ctg'>Slevové kategorie</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('pricelists/manage')): ?>
          <li><a href='<?= $this->baseUrl();?>/pricelists/manage'>Správa ceníků</a></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('pricelists/mapping')): ?>
          <li><a href='<?= $this->baseUrl();?>/pricelists/mapping'>Mapování ceníků</a></li>
          <li class="divider"></li>
        <?php endif; ?>
        <?php if (Utils::isAllowed('customers/warehouses')): ?>
          <li><a href='<?= $this->baseUrl();?>/customers/warehouses'>Zákaznické sklady</a></li>
        <?php endif; ?>
        <?php if( Utils::isAllowed('email-templates/index') ) { ?>
          <li><a href="<?= $this->baseUrl();?>/email-templates">Správa emailových šablon</a></li>
        <?php } ?>
      </ul>
		</li>
<?php 	} ?>
   
   <?php if (Utils::isAllowed('documents/index')): ?>
     <!-- =========== -->
     <!-- DOKUMENTACE -->
     <!-- =========== -->
   
     <li><a href="<?= $this->baseUrl();?>/documents">Procesy</a></li>
   
   <?php endif; ?>
   
   
		<?php if( Utils::isAllowed('extern') ) {
?>
<?php
	}
        if( Utils::isAllowed('admin') ) {
?>
		<!-- ====== -->
		<!-- ADMINISTRATION -->
		<!-- ====== -->
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="/admin/users-list">Nastavení<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<?= $this->baseUrl();?>/admin/users-list">Správa uživatelů</a></li>
              <?php if(Utils::isAllowed('admin/operations-rate-settings')) : ?>
                <li><a href="<?= $this->baseUrl();?>/admin/operations-rate-settings">Nastavení sazby operací</a></li>
              <?php endif; ?>
              <?php if(Utils::isAllowed('admin/cover-cost-settings')) : ?>
                <li><a href="<?= $this->baseUrl();?>/admin/cover-cost-settings">Nastavení výše krytí</a></li>
              <?php endif; ?>
              <li><a href="<?= $this->baseUrl();?>/admin/settings-dph">Nastavení DPH</a></li>
              <li><a href="<?= $this->baseUrl();?>/admin/rate-settings">Nastavení kurzu</a></li>
              <?php if(Utils::isAllowed('orders/fees-list')) : ?>
                  <li><a href="<?= $this->baseUrl();?>/orders/fees-list">Fixní poplatky</a></li>
              <?php endif; ?>
              <li><a href="<?= $this->baseUrl();?>/admin/accounts-list">Bankovní účty</a></li>
              <li><a href="<?= $this->baseUrl();?>/invoice/custom-texts">Uživatelské texty (faktury)</a></li>
<?php
    if( Utils::isAllowed('actualities') ) {
?>
                 <li><a href="<?= $this->baseUrl();?>/actualities">Aktuality</a></li>
<?php
    }
?>
            </ul>
        </li>

<?php
        }
?>
   </ul>





    <ul class="nav pull-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#"> Uživatel: <?php echo Utils::getCurrentUserLogin(); ?> [<span id="time_countdown"></span>] <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="<?= $this->baseUrl();?>/admin/user-pwd">Změna hesla</a></li>
                <li><a href="<?= $this->baseUrl();?>/issues">Reportované problémy</a></li>
                <?php if(Utils::isAllowed('admin/flush-acl-cache')) : ?>
                  <li><a href="<?= $this->baseUrl();?>/admin/flush-acl-cache">Vymazat ACL cache</a></li>
                <?php endif; ?>
				<li><a href="/login/clear">Odhlásit</a></li>
            </ul>
        </li>

    </ul>
					</div>
				</div>
			</div>
		</div>