<style>
  #cat-nav td div.active { background: #ffff89; }
</style>

<?php if (!$this->print): ?>
<div class="navbar-inner hidden-print" style="width: 160px; position: fixed; top: 90px; right: 20px; padding: 0px;">
    <table class="table" id="cat-nav">
        <thead>
            <tr>
                <th class="text-center">
                    <h4>Kategorie</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                  <a href="#suroviny"><div class="nav_suroviny" style="padding:3px; border-bottom: 1px solid #ccc;">Suroviny</div></a>
                  <a href="#maceraty"><div class="nav_maceraty" style="padding:3px; border-bottom: 1px solid #ccc;">Maceráty</div></a>
                  <a href="#produkty"><div class="nav_produkty" style="padding:3px; border-bottom: 1px solid #ccc;">Produkty</div></a>
                  <a href="#celkem"><div class="nav_celkem" style="padding:3px; border-bottom: 1px solid #ccc;">Celkem</div></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<?php endif; ?>

<div style="width: 88%;">
  <h2><?= $this->title; ?></h2>
  <?php if (!$this->print || $this->print == 'suroviny'): ?>

    <a name="suroviny"></a>
    <h3 class="cat_suroviny">Suroviny</h3>
    <p>
      <strong>Celková hmotnost: </strong> <?= $this->materials_sum[0]['amount_sum'] ?> kg
    </p>

    <?php if ($this->materials): ?>

      <table class='table table-condensed'>
        <thead>
          <tr>
            <th>ID</th>
            <th>Název</th>
            <th class='text-right'>Hmotnost</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($this->materials as $row): ?>
            <tr>
              <td><?= $row['id'] ?></td>
              <td><?= $row['name'] ?></td>
              <td class='text-right'><?= $row['amount'] ?> kg</td>
            </tr>
          <?php endforeach; ?>


        </tbody>
      </table>
    <?php endif; ?>
  <?php endif; ?>

  <?php if (!$this->print || $this->print == 'maceration'): ?>
    <a name="maceraty"></a>
    <h3 class="cat_maceraty" <?php if (!$this->print): ?>style="page-break-before: always;"<?php endif; ?>>V macerátu
      <?php if (!$this->print): ?>
        <a href="<?= $this->url(['print' => 'maceration']); ?>" target="_blank" class="btn btn-mini"><i class="icon icon-print"></i> tisk</a>
      <?php endif; ?>
    </h3>


    <p>
      <strong>Celkové množství v sudech: </strong> <?= $this->totalWeight; ?> kg<br>
      <strong>Počet sudů: </strong> <?= $this->barrelsCount; ?> ks
    </p>

    <?php if ($this->recipes): ?>
      <h4>Dělení podle receptur</h4>
      <table class="table-condensed table">
        <thead>
          <tr>
            <th>Receptura</th>
            <th>Počet sudů</th>
            <th>Šarže</th>
            <th class="text-right">Aktuální hmotnost</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($this->recipes as $recipe): ?>
            <tr>
              <td><?= $recipe['name']; ?></td>
              <td><?= $recipe['count']; ?> ks</td>
              <td><?= $recipe['batches']; ?></td>
              <td class="text-right"><?= $recipe['weight']; ?> kg</td>
            </tr>
          <?php endforeach; ?>
        </tbody>
      </table>
    <?php endif; ?>
  <?php endif; ?>

  <?php if (!$this->print || $this->print == 'barrels'): ?>
    <?php if ($this->barrels): ?>
      <h4>Dělení podle šarží</h4>
      <table class="table-condensed table">
        <thead>
          <tr>
            <th>Šarže (označení)</th>
            <th>Název</th>
            <th class="text-right">Aktuální hmotnost</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($this->barrels as $barrel): ?>
            <tr>
              <td><?= $barrel['batch']; ?></td>
              <td><?= $barrel['name']; ?></td>
              <td class="text-right"><?= $barrel['weight']; ?> kg</td>
            </tr>
          <?php endforeach; ?>
        </tbody>
      </table>
    <?php endif; ?>
  <?php endif; ?>

  <?php if (!$this->print || in_array($this->print, ['nfs_mixes', 'nfs_packs', 'nfs_batches'])): ?>
    <a name="produkty"></a>
    <h3 class="cat_produkty" <?php if (!$this->print): ?>style="page-break-before: always;"<?php endif; ?>>V produktech</h3>

    <?php if (Utils::isAllowed('tobacco/batch-consolidate')): ?>
        <div><a href="/tobacco/batch-consolidate" class="btn btn-small btn-success no-print">Konsolidace šarží</a></div>
    <?php endif; ?>

    <h4>Nekolkované tabákové produkty</h4>

    <p>
      <strong>Celkový počet: </strong><?= $this->overviewNFS['amount'] ?> ks<br>
      <strong>Celková hmotnost: </strong><?= $this->overviewNFS['total_weight'] ?> kg
    </p>

    <?php if (!$this->print || $this->print == 'nfs_mixes'): ?>
      <?php if ($this->recipesNFS): ?>
        <h5>Dělení podle mixů</h5>
        <table class='table table-condensed'>
          <thead>
            <tr>
              <th>Mix</th>
              <th>Množství</th>
              <th>Šarže</th>
              <th class='text-right'>Celková hmotnost</th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($this->recipesNFS as $row): ?>
              <tr>
                <td><?= $row['mix'] ?></td>
                <td><?= $row['amount'] ?> ks</td>
                <td><?= $row['batch'] ?></td>
                <td class='text-right'><?= $row['total_weight'] ?> kg</td>

              </tr>
            <?php endforeach; ?>
          </tbody>
        </table>
      <?php endif; ?>
    <?php endif; ?>

    <?php if (!$this->print || $this->print == 'nfs_packs'): ?>
      <?php if ($this->packsNFS): ?>
        <h5>Dělení podle balení
          <?php if (!$this->print): ?>
            <a href="<?= $this->url(['print' => 'nfs_packs']); ?>" target="_blank" class="btn btn-mini"><i class="icon icon-print"></i> tisk</a>
          <?php endif; ?>
        </h5>
        <table class='table table-condensed'>
          <thead>
            <tr>
              <th>ID</th>
              <th>Název</th>
              <th class='text-right'>Hmotnost</th>
              <th>Šarže</th>
              <th>Mix</th>
              <th class='text-center'>Počet</th>
              <th class='text-right'>Celková hmotnost</th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($this->packsNFS as $row): ?>
              <tr>
                <td><?= $row['id'] ?></td>
                <td><?= $row['name'] ?></td>
                <td class='text-right'><?= $row['weight'] ?> kg</td>
                <td><?= $row['batch'] ?></td>
                <td><?= $row['mix'] ?></td>
                <td class='text-center'><?= $row['amount'] ?> ks</td>
                <td class='text-right'><?= $row['total_weight'] ?> kg</td>
              </tr>
            <?php endforeach; ?>
          </tbody>
        </table>
      <?php endif; ?>
    <?php endif; ?>

    <?php if (!$this->print || $this->print == 'nfs_batches'): ?>
      <?php if ($this->productsNFS): ?>
        <h5>Dělení podle šarží</h5>
        <table class='table table-condensed'>
          <thead>
            <tr>
              <th>ID</th>
              <th>Název</th>
              <th class='text-right'>Hmotnost</th>
              <th>Šarže</th>
              <th>Mix</th>
              <th class='text-center'>Počet</th>
              <th class='text-right'>Celková hmotnost</th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($this->productsNFS as $row): ?>
              <tr>
                <td><?= $row['id'] ?></td>
                <td><?= $row['name'] ?></td>
                <td class='text-right'><?= $row['weight'] ?> kg</td>
                <td><?= $row['batch'] ?></td>
                <td><?= $row['mix'] ?></td>
                <td class='text-center'><?= $row['amount'] ?> ks</td>
                <td class='text-right'><?= $row['total_weight'] ?> kg</td>
              </tr>
            <?php endforeach; ?>
          </tbody>
        </table>
      <?php endif; ?>

    <?php endif; ?>
  <?php endif; ?>


  <?php if (!$this->print || in_array($this->print, ['fs_mixes', 'fs_packs', 'fs_batches'])): ?>
    <h4>Kolkované tabákové produkty</h4>

    <p>
      <strong>Celkový počet: </strong><?= $this->overviewFS['amount'] ?> ks<br>
      <strong>Celková hmotnost: </strong><?= $this->overviewFS['total_weight'] ?> kg
    </p>

    <?php if ($this->recipesFS): ?>
      <h5>Dělení podle mixů</h5>
      <table class='table table-condensed'>
        <thead>
          <tr>
            <th>Mix</th>
            <th>Množství</th>
            <th>Šarže</th>
            <th class='text-right'>Celková hmotnost</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($this->recipesFS as $row): ?>
            <tr>
              <td><?= $row['mix'] ?></td>
              <td><?= $row['amount'] ?> ks</td>
              <td><?= $row['batch'] ?></td>
              <td class='text-right'><?= $row['total_weight'] ?> kg</td>

            </tr>
          <?php endforeach; ?>
        </tbody>
      </table>
    <?php endif; ?>

    <?php if ($this->packsFS): ?>
      <h5>Dělení podle balení</h5>
      <table class='table table-condensed'>
        <thead>
          <tr>
            <th>ID</th>
            <th>Název</th>
            <th class='text-right'>Hmotnost</th>
            <th>Šarže</th>
            <th>Mix</th>
            <th class='text-center'>Počet</th>
            <th class='text-right'>Celková hmotnost</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($this->packsFS as $row): ?>
            <tr>
              <td><?= $row['id'] ?></td>
              <td><?= $row['name'] ?></td>
              <td class='text-right'><?= $row['weight'] ?> kg</td>
              <td><?= $row['batch'] ?></td>
              <td><?= $row['mix'] ?></td>
              <td class='text-center'><?= $row['amount'] ?> ks</td>
              <td class='text-right'><?= $row['total_weight'] ?> kg</td>
            </tr>
          <?php endforeach; ?>
        </tbody>
      </table>
    <?php endif; ?>


    <?php if ($this->productsFS): ?>
      <h5>Dělení podle šarží</h5>
      <table class='table table-condensed'>
        <thead>
          <tr>
            <th>ID</th>
            <th>Název</th>
            <th class='text-right'>Hmotnost</th>
            <th>Šarže</th>
            <th>Mix</th>
            <th class='text-center'>Počet</th>
            <th class='text-right'>Celková hmotnost</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($this->productsFS as $row): ?>
            <tr>
              <td><?= $row['id'] ?></td>
              <td><?= $row['name'] ?></td>
              <td class='text-right'><?= $row['weight'] ?> kg</td>
              <td><?= $row['batch'] ?></td>
              <td><?= $row['mix'] ?></td>
              <td class='text-center'><?= $row['amount'] ?> ks</td>
              <td class='text-right'><?= $row['total_weight'] ?> kg</td>
            </tr>
          <?php endforeach; ?>
        </tbody>
      </table>
    <?php endif; ?>
  <?php endif; ?>

  <?php if (!$this->print): ?>
    <a name="celkem"></a>
    <h3 class="cat_celkem" <?php if (!$this->print): ?>style="page-break-before: always;"<?php endif; ?>>Celkem</h3>
    <table class='table table-condensed'>

      <tbody>

        <tr>
          <td>Suroviny</td>
          <td class='text-right'><?= number_format($this->materials_sum[0]['amount_sum'],3); ?> kg</td>
        </tr>

        <tr>
          <td>V macerátu</td>
          <td class='text-right'><?= number_format($this->totalWeight,3); ?> kg</td>
        </tr>

        <tr>
          <td>V produktech</td>
          <td class='text-right'><?= number_format($this->overviewNFS['total_weight'] + $this->overviewFS['total_weight'],3); ?> kg</td>
        </tr>

        <tr>
          <td><strong>Součet</strong></td>
          <td class='text-right'><?= number_format($this->materials_sum[0]['amount_sum'] + $this->totalWeight + $this->overviewNFS['total_weight'] + $this->overviewFS['total_weight'],3); ?> kg</td>
        </tr>
      </tbody>
    </table>
  <?php endif; ?>
</div>

<script type="text/javascript">
$(document).ready(function() {

  <?php if($this->print): ?>
    window.print();
  <?php endif; ?>

  // category navigation
  $(window).scroll(function(event) {
    if($(".cat_suroviny").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
      $( "#cat-nav td div" ).each(function( index ) {
        $(this).removeClass('active');
      });
      $(".nav_suroviny").addClass('active');
    }
  });
  $(window).scroll(function(event) {
    if($(".cat_maceraty").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
      $( "#cat-nav td div" ).each(function( index ) {
        $(this).removeClass('active');
      });
      $(".nav_maceraty").addClass('active');
    }
  });
  $(window).scroll(function(event) {
    if($(".cat_produkty").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
      $( "#cat-nav td div" ).each(function( index ) {
        $(this).removeClass('active');
      });
      $(".nav_produkty").addClass('active');
    }
  });
  $(window).scroll(function(event) {
    if($(".cat_celkem").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
      $( "#cat-nav td div" ).each(function( index ) {
        $(this).removeClass('active');
      });
      $(".nav_celkem").addClass('active');
    }
  });
});
</script>