<div class="hidden-print">
  <?= $this->form; ?>
</div>

<?php if ($this->ajax && $this->type == Tobacco_Reports_Duty::TYPE_PRODUCTS): ?>
  <?= $this->partial('/tobacco-reports/duty-ajax-products.phtml', array(
    'products' => $this->products,
    'from' => $this->from,
    'to' => $this->to,
    'hash' => $this->hash,
  ));?>
<?php else: ?>
  <?= $this->table; ?>
<?php endif; ?>


<script type="text/javascript">
  jQuery(function($){

    $(document).ready(function(){
      if ($('#type-products').prop('checked') || $('#type-production').prop('checked')) {
        hideElementOutput(true);
      }
      if (!$('#type-sales').prop('checked')) {
        hideElementExport(true);
      }
    });

    $('#form_element_type input').change(function(){
      var bool;
      bool = $(this).attr('id') == 'type-products' || $(this).attr('id') == 'type-production';
      hideElementOutput(bool);
      bool = $(this).attr('id') != 'type-sales';
      hideElementExport(bool);
    });

    function hideElementOutput(bool) {
      if (bool) {
        $('#form_element_output').hide();
      }
      else {
        $('#form_element_output').show();
      }
    }

    function hideElementExport(bool) {
      if (bool) {
        $('#form_element_export').hide();
      }
      else {
        $('#form_element_export').show();
      }
    }

  });
</script>
