<?php if ($this->data): ?>
  <table class="table table-condensed">
    <tbody>
      <?php foreach ($this->data as $recipeId => $recipe): ?>
        <tr>
          <th colspan="3"><?= $recipe['name_recipes']; ?></th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Suroviny</th>
          <th class="text-right">Množství</th>
        </tr>
        <?php foreach($recipe['parts'] as $partId => $part): ?>
          <tr>
            <td><a href="<?= $this->url(['controller' => 'tobacco', 'action' => 'parts-detail', 'id' => $part['id_parts']]); ?>#changes"><?= $part['id_parts']; ?></a></td>
            <td><?= $part['name_parts']; ?></td>
            <td class="text-right"><?= sprintf('%01.3f kg', $part['amount']); ?></td>
          </tr>
        <?php endforeach; ?>
        <tr>
          <th></th>
          <th>Sudy</th>
          <td class="text-right"><strong><?= sprintf('%01.3f kg', $recipe['total']); ?></strong></td>
        </tr>
        <?php foreach($recipe['batches'] as $mid => $barrel): ?>
          <tr>
            <td></td>
            <td><a href="<?= $this->url(['controller' => 'tobacco', 'action' => 'macerations-detail', 'id' => $barrel['id_macerations']]); ?>#changes"><?= $barrel['batch']; ?></a></td>
            <td class="text-right"><?= sprintf('%01.3f kg', $barrel['amount']); ?></td>
          </tr>
        <?php endforeach; ?>
      <?php endforeach; ?>
    </tbody>
  </table>
<?php else: ?>

  <p class="text-center"><strong>V tomto období nejsou žádná data o výrobě.</strong></p>

<?php endif; ?>
