<?php if ($this->data): ?>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>datum prodeje</th>
        <th>čislo faktury</th>
        <th>firma</th>
        <th>IČ</th>
        <th>DIČ</th>
        <th>odp. osoba</th>
        <th class="text-right">10 g</th>
        <th class="text-right">50 g</th>
        <th class="text-right">100 g</th>
        <th class="text-right">150 g</th>
        <th class="text-right">250 g</th>
        <th class="text-right">celkem</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($this->data as $row): ?>
        <tr>
          <td><?= $row->datum_prodeje; ?></td>
          <td><?= $row->cislo_faktury; ?></td>
          <td><?= $row->firma; ?></td>
          <td><?= $row->ic; ?></td>
          <td><?= $row->dic; ?></td>
          <td><?= $row->odp_osoba; ?></td>
          <td class="text-right"><?= $row->mnozstvi_10g; ?></td>
          <td class="text-right"><?= $row->mnozstvi_50g; ?></td>
          <td class="text-right"><?= $row->mnozstvi_100g; ?></td>
          <td class="text-right"><?= $row->mnozstvi_150g; ?></td>
          <td class="text-right"><?= $row->mnozstvi_250g; ?></td>
          <td class="text-right"><?= $row->celkem; ?></td>
        </tr>
      <?php endforeach; ?>
        <tr>
          <th colspan="6">CELKEM</th>
          <th class="text-right"><?= $this->summary->total_10g; ?></th>
          <th class="text-right"><?= $this->summary->total_50g; ?></th>
          <th class="text-right"><?= $this->summary->total_100g; ?></th>
          <th class="text-right"><?= $this->summary->total_150g; ?></th>
          <th class="text-right"><?= $this->summary->total_250g; ?></th>
          <th class="text-right"><?= $this->summary->total; ?></th>
        </tr>
    </tbody>
  </table>
<?php else: ?>
  <p>Žádné výsledky.</p>
<?php endif; ?>
