<div class="well text-center" id="message"></div>

<script type="text/javascript">
  $(document).ready(function(){

    var products = <?= $this->products; ?>;
    var counter = 0;
    var total = products.length;
    var percerntage = 0;
    $.each(products, function(index, value){
      $.ajax({
        url: "<?= $this->url(array('action' => 'duty-ajax-products'));?>",
        data: {
          id: value,
          from: '<?= $this->from->get('Y-m-d'); ?>',
          to: '<?= $this->to->get('Y-m-d'); ?>',
          hash: '<?= $this->hash; ?>',
          dataType: "json"
        },
      }).done(function(data){
        counter++;
        percentage = Math.round(counter/total*100);
        $('#message').html('Prosím čekejte. Zpracovává se požadavek. Hotovo ' + percentage + '%.<br> '
          + '<div class="progress progress-striped active"><div class="bar" style="width: ' + percentage + '%;"></div></div>'
          + 'Produkt ' + value + ' byl zpracován (' + counter + '/' + total + ').' );
        if (counter == total) {
          $('#message').html('Hotovo. Bylo vyexportováno ' + counter + ' reportů.<br> '
            + ' <a class="btn btn-success" href="<?= $this->url(array('action' => 'duty-download', 'hash' => $this->hash)); ?>">' +
            'Stáhnout jako ZIP</a>');
        }
      });

    });

  });
</script>
