<div class="print-wrapper">
<?php if ($this->data): ?>
  <?php $it = 0; ?>
  <?php foreach ($this->data as $f => $section): ?>
    <h3<?= $it ? ' style="page-break-before: always;"' : ''; ?>>Prodeje příchutě <?= $section['flavor']->name; ?><br>
    <small>Období <?= $this->from->get('d.m.Y'); ?> &ndash; <?= $this->to->get('d.m.Y'); ?></small>
    </h3>
    <?php if ($section['rows']): ?>
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>datum prodeje</th>
        <th>čislo faktury</th>
        <th>firma</th>
        <th>IČ</th>
        <th>DIČ</th>
        <th>SEED</th>
        <th>odp. osoba</th>
        <?php foreach ($this->amounts as $a): ?>
          <th class="text-right"><?= $a / 1000; ?> kg</th>
        <?php endforeach; ?>
      </tr>
    </thead>
    <?php foreach ($section['rows'] as $row): ?>
      <tr>
        <td><?= $row->datum_prodeje; ?></td>
        <td><?= $row->cislo_faktury; ?></td>
        <td><?= $row->firma; ?></td>
        <td><?= $row->ic; ?></td>
        <td><?= $row->dic; ?></td>
        <td><?= $row->seed; ?></td>
        <td><?= $row->odp_osoba; ?></td>
        <?php foreach ($this->amounts as $a): ?>
          <td class="text-right"><?= $row->{"mnozstvi_{$a}_{$f}"}; ?></td>
        <?php endforeach; ?>
      </tr>
    <?php endforeach; ?>
      <tr>
        <th colspan="6" rowspan="3" class="text-center" valign="bottom">
          Sumarizace prodeje výrobků s příchutí <?= $section['flavor']->name; ?><br>
          za období <?= $this->from->get('d.m.Y'); ?> &ndash; <?= $this->to->get('d.m.Y'); ?>
        </th>
        <th class="text-right">Balení</th>
        <?php foreach ($this->amounts as $a): ?>
          <th class="text-right"><?= $a / 1000; ?> kg</th>
        <?php endforeach; ?>
      </tr>
      <tr>
        <th class="text-right">Počet celkem [ks]</th>
        <?php foreach ($this->amounts as $amount): ?>
        <th class="text-right">
          <?= $section['summary']->{"amount_{$amount}_{$f}"}; ?>
        </th>
        <?php endforeach; ?>
      </tr>
      <tr>
        <th class="text-right">Váha celkem [kg]</th>
        <?php foreach ($this->amounts as $amount): ?>
          <th class="text-right">
            <?= $section['summary']->{"weight_{$amount}_{$f}"}; ?>
          </th>
        <?php endforeach; ?>
      </tr>
  </table>
    <?php else: ?>
      <p><strong>Žádné prodeje výrobků této příchuti v tomto období.</strong></p>
    <?php endif; ?>
  <?php $it++; ?>
  <?php endforeach; ?>
<?php else: ?>
  <p>Žádné výsledky.</p>
<?php endif; ?>
</div>
<style type="text/css">
  table {
    width: auto !important;
  }
  table th, table td {
    white-space: nowrap !important
  }

  @media print {
    .print-wrapper {
      font-size: .8em;
    }
    table {
      width: 100% !important;
    }
  }


</style>
