
<?php
  $summary = $this->summary;
  $page = 0;
  foreach ($this->data as $pid => $dataset):
    $page++;
    /**
     * @var Tobacco_Parts_Part $product
     */
    $product = $dataset->product;
    $report = $dataset->report;

    ?>
    <h3>List <?= $page; ?></h3>
    <dl>
      <dt>Období</dt>
      <dd><?= $summary['date_from']->get('d.m.Y'); ?> – <?= $summary['date_to']->get('d.m.Y'); ?></dd>
      <dt>Kód Kombinované nomenklatury</dt>
      <dd><?= $product->getHS(); ?></dd>
      <dt>Kód výrobku</dt>
      <dd><?= $product->getID(); ?></dd>
      <dt>Obchodní název vybraného výrobku</dt>
      <dd><?= $product->getName(); ?></dd>
      <dt>Počáteční stav množství vybraných výrobků k <?= $summary['date_from']->get('d.m.Y'); ?></dt>
      <dd>0</dd>
    </dl>

    <table class="table table-bordered table-condensed sticky">
      <thead>
        <tr>
          <th class="text-center">Položka číslo<br>1.</th>
          <th class="text-center">Datum vzniku události<br>2.</th>
          <th class="text-center">Datum zápisu do evidence<br>3.</th>
          <th class="text-center">Doklad č.<br>4.</th>
          <th class="text-center">Množství vyrobených vybraných výrobků<br>5.</th>
          <th class="text-center">Množství vydaných/odeslaných vybraných výrobků<br>13.</th>
          <th class="text-center">Identifikační údaje dopravce, není-li příjemcem<br>14.</th>
          <th class="text-center">SEED příjemce<br>18.</th>
          <th class="text-center">Identifikační údaje příjemce/nabyvatele<br>22.</th>
          <th class="text-center">Uvedeno do volného daňového oběhu s osvobozením<br>24.</th>
        </tr>
      </thead>
      <tbody>

        <?php
        $i = 0;
        if (empty($report)) {
          continue;
        }
        foreach ($report as $line):
          $i++;
          ?>
          <tr>
            <td class="text-center"><?= $i; ?>.</td>
            <td><?= Meduse_Date::dbToForm($line->date_request); ?></td>
            <td><?= Meduse_Date::dbToForm($line->date_exp); ?></td>
            <td><?= $line->invoice ?></td>
            <td class="text-right"><?= $line->amount; ?></td>
            <td class="text-right"><?= $line->amount; ?></td>
            <td><nobr><?= $line->carrier_ident_no ? $line->carrier_ident_no : ($line->carrier_id == Table_OrdersCarriers::EX_WORKS_TOBACCO ? '' : $line->carrier_name); ?> </nobr></td>
            <td><?= $line->seed_id; ?></td>
            <td><nobr><?= $line->code == Table_Addresses::COUNTRY_CZ ? ($line->purchaser == 'business' ? $line->ident_no : 'FO') : $line->address; ?></nobr></td>
            <td class="text-center">ne</td>
          </tr>
          <?php
        endforeach; ?>
      </tbody>
    </table>

    <hr>

<?php endforeach; ?>
