<h2><?= $this->title; ?></h2>
<?= $this->form; ?>
<?php if ($this->post && $this->data): ?>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Skupina</th>
      <th class="text-right">Množství</th>
    </tr>
  </thead>
  <tbody>
    <?php foreach ($this->data as $ctg => $item): ?>
    <tr>
      <td><?= $item['name']; ?></td>
      <td class="text-right"><?= sprintf('%1.6f t', $item['weight'] / 1000000); ?></td>
    </tr>
    <?php endforeach; ?>
  </tbody>
</table>
<?php endif; ?>
