<h2><?= $this->title; ?></h2>

<?= $this->form; ?>

<?php if ($this->post): ?>
  <h3 style="page-break-before: always;">Prodej doplňkového sortimentu</h3>
  <?php if($this->coal): ?>
    <?php $count = 0; $price_czk = 0; $price_eur = 0; ?>
    <table class="table table-condensed sticky table-bordered">
      <thead>
      <tr>
        <th>Název</th>
        <?php if ($this->showPrices): ?>
          <th class="text-right">Prům. cena [CZK]</th>
        <?php endif; ?>
        <th class="text-right">Počet</th>
        <?php if ($this->showPrices): ?>
          <th class="text-right">Cena bez DPH<br>celkem CZK</th>
          <th class="text-right">Cena bez DPH<br>celkem EUR</th>
        <?php endif; ?>
      </tr>
      </thead>
      <tbody>
      <?php foreach ($this->coal as $item): ?>
        <?php $count += $item['pcs']; $price_czk += $item['total_czk']; $price_eur += $item['total_eur']; ?>
        <tr>
          <td><?= $item['name']; ?></td>
          <?php if ($this->showPrices): ?>
            <td class="text-right"><?= Meduse_Currency::format($item['price_avg']); ?></td>
          <?php endif; ?>
          <td class="text-right"><?= $item['pcs']; ?></td>
          <?php if ($this->showPrices): ?>
            <td class="text-right"><?= Meduse_Currency::format($item['total_czk']); ?></td>
            <td class="text-right"><?= Meduse_Currency::format($item['total_eur']); ?></td>
          <?php endif; ?>
        </tr>
      <?php endforeach; ?>
      <tr>
        <th colspan="<?= $this->showPrices ? '2' : '1'; ?>">CELKEM</td>
        <th class="text-right"><?= $count; ?></th>
        <?php if ($this->showPrices): ?>
          <th class="text-right"><?= Meduse_Currency::format($price_czk); ?></th>
          <th class="text-right"><?= Meduse_Currency::format($price_eur); ?></th>
        <?php endif; ?>
      </tr>
      </tbody>
    </table>
  <?php else: ?>
    <p class="warning">Zadaným parametrům nevyhovuje žádný prodej.</p>
  <?php endif; ?>

  <h3 style="page-break-before: always;">Prodej tabáku</h3>
  <?php if($this->tobacco->mixes): ?>
  <table class="table table-condensed sticky table-bordered">
    <thead>
      <tr>
        <th rowspan="2">Název</th>
        <?php if ($this->showPrices): ?>
          <th colspan="2" class="text-center">Prům. cena [CZK]</th>
        <?php endif; ?>
        <th colspan="3" class="text-center">Počet</th>
        <th colspan="3" class="text-center">Hmotnost [kg]</th>
        <?php if ($this->showPrices): ?>
          <th colspan="3" class="text-center">Cena CZK</th>
          <th colspan="3" class="text-center">Cena EUR</th>
        <?php endif; ?>
      </tr>
      <tr>
      <?php if ($this->showPrices): ?>
        <th class="text-right">B2B</th>
        <th class="text-right">B2C</th>
      <?php endif; ?>

      <th class="text-right">B2B</th>
      <th class="text-right">B2C</th>
      <th class="text-right">celkem</th>
      <th class="text-right">B2B</th>
      <th class="text-right">B2C</th>
      <th class="text-right">celkem</th>

      <?php if ($this->showPrices): ?>
        <th class="text-right">B2B</th>
        <th class="text-right">B2C</th>
        <th class="text-right">celkem</th>
        <th class="text-right">B2B</th>
        <th class="text-right">B2C</th>
        <th class="text-right">celkem</th>
      <?php endif; ?>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($this->tobacco->mixes as $item): ?>
        <?php foreach ($item->data as $pkg => $line): ?>
          <tr>
            <td><?= $item->name; ?> (<?= $pkg ?> g)</td>
            <?php if ($this->showPrices): ?>
              <td class="text-right"><?= Meduse_Currency::format($line->price_avg_b2b); ?></td>
              <td class="text-right"><?= Meduse_Currency::format($line->price_avg_b2c); ?></td>
            <?php endif; ?>
            <td class="text-right"><?= $line->count_b2b; ?></td>
            <td class="text-right"><?= $line->count_b2c; ?></td>
            <td class="text-right"><?= $line->count; ?></td>
            <td class="text-right"><?= sprintf('%01.3f', $line->weight_b2b); ?></td>
            <td class="text-right"><?= sprintf('%01.3f', $line->weight_b2c); ?></td>
            <td class="text-right"><?= sprintf('%01.3f', $line->weight); ?></td>
            <?php if ($this->showPrices): ?>
              <td class="text-right"><?= Meduse_Currency::format($line->price_czk_b2b); ?></td>
              <td class="text-right"><?= Meduse_Currency::format($line->price_czk_b2c); ?></td>
              <td class="text-right"><?= Meduse_Currency::format($line->price_czk); ?></td>
              <td class="text-right"><?= Meduse_Currency::format($line->price_eur_b2b); ?></td>
              <td class="text-right"><?= Meduse_Currency::format($line->price_eur_b2c); ?></td>
              <td class="text-right"><?= Meduse_Currency::format($line->price_eur); ?></td>
            <?php endif; ?>
          </tr>
        <?php endforeach; ?>
        <tr>
          <th colspan="<?= $this->showPrices ? '6' : '5'; ?>" class="text-right"><?= $item->name; ?> — celkem</th>
          <th colspan="3" class="text-right"><?= sprintf('%01.3f', $item->weight); ?></th>
          <?php if ($this->showPrices): ?>
            <th colspan="3" class="text-right"><?= Meduse_Currency::format($item->price_czk); ?></th>
            <th colspan="3" class="text-right"><?= Meduse_Currency::format($item->price_eur); ?></th>
          <?php endif; ?>
        </tr>
      <?php endforeach; ?>

      <tr>
        <th colspan="<?= $this->showPrices ? '6' : '5'; ?>"  class="text-right">CELKEM</th>
        <th colspan="3" class="text-right"><?= sprintf('%01.3f', $this->tobacco->total->weight); ?></th>
        <?php if ($this->showPrices): ?>
          <th colspan="3" class="text-right"><?= Meduse_Currency::format($this->tobacco->total->price_czk); ?></th>
          <th colspan="3" class="text-right"><?= Meduse_Currency::format($this->tobacco->total->price_eur); ?></th>
        <?php endif; ?>
     </tr>
    </tbody>
  </table>

  <h4>Sumarizace přes balení</h4>

  <table class="table table-condensed sticky table-bordered">
    <thead>
      <tr>
        <th rowspan="2">Balení</th>
        <th colspan="3" class="text-center">Počet</th>
        <th colspan="3" class="text-center">Hmotnost [kg]</th>
        <?php if ($this->showPrices): ?>
          <th colspan="3" class="text-center">Cena CZK</th>
          <th colspan="3" class="text-center">Cena EUR</th>
        <?php endif; ?>
      </tr>
    <tr>
      <th class="text-right">B2B</th>
      <th class="text-right">B2C</th>
      <th class="text-right">celkem</th>
      <th class="text-right">B2B</th>
      <th class="text-right">B2C</th>
      <th class="text-right">celkem</th>
    <?php if ($this->showPrices): ?>
      <th class="text-right">B2B</th>
      <th class="text-right">B2C</th>
      <th class="text-right">celkem</th>
      <th class="text-right">B2B</th>
      <th class="text-right">B2C</th>
      <th class="text-right">celkem</th>
    <?php endif; ?>
    </tr>
    </thead>
    <tbody>
      <?php foreach ($this->tobacco->packages as $w => $package): ?>
        <tr>
          <td><?= $w; ?> g</td>
          <td class="text-right"><?= $package->count_b2b; ?></td>
          <td class="text-right"><?= $package->count_b2c; ?></td>
          <td class="text-right"><?= $package->count; ?></td>
          <td class="text-right"><?= sprintf('%01.3f', $package->weight_b2b); ?></td>
          <td class="text-right"><?= sprintf('%01.3f', $package->weight_b2c); ?></td>
          <td class="text-right"><?= sprintf('%01.3f', $package->weight); ?></td>
          <?php if ($this->showPrices): ?>
            <td class="text-right"><?= Meduse_Currency::format($package->price_czk_b2b); ?></td>
            <td class="text-right"><?= Meduse_Currency::format($package->price_czk_b2c); ?></td>
            <td class="text-right"><?= Meduse_Currency::format($package->price_czk); ?></td>
            <td class="text-right"><?= Meduse_Currency::format($package->price_eur_b2b); ?></td>
            <td class="text-right"><?= Meduse_Currency::format($package->price_eur_b2c); ?></td>
            <td class="text-right"><?= Meduse_Currency::format($package->price_eur); ?></td>
          <?php endif; ?>
        </tr>
      <?php endforeach; ?>
      <tr>
        <th>CELKEM</th>
        <th colspan="3" class="text-right"><?= $this->tobacco->total->count; ?></th>
        <th colspan="3" class="text-right"><?= sprintf('%01.3f', $this->tobacco->total->weight); ?></th>
        <?php if ($this->showPrices): ?>
          <th colspan="3" class="text-right"><?= Meduse_Currency::format($this->tobacco->total->price_czk); ?></th>
          <th colspan="3" class="text-right"><?= Meduse_Currency::format($this->tobacco->total->price_eur); ?></th>
        <?php endif; ?>
      </tr>
    </tbody>
  </table>
<?php else: ?>
  <p class="warning">Zadaným parametrům nevyhovuje žádný prodej.</p>
<?php endif; ?>


  <h3 style="page-break-before: always;">Služby</h3>
  <?php if($this->services): ?>
    <?php $count = 0; $czk = 0; $eur = 0; $price = 0; ?>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Předmět fakturace</th>
        <th>Faktura</th>
        <th class="text-right">Cena v CZK</th>
        <th class="text-right">Cena v EUR</th>
        <th class="text-right">Prům. cena [CZK]</th>
        <th class="text-right">Počet</th>
        <th class="text-right">Cena celkem [CZK]</th>
      </tr>
      </thead>
      <tbody>
      <?php foreach ($this->services as $item): ?>
        <?php
          $count += $item['qty'];
          $czk += $item['total_czk'];
          $eur += $item['total_eur'];
          $price += $item['total'];
          ?>
        <tr>
          <td><?= $item['description']; ?></td>
          <td>
            <a class="btn btn-mini" href="<?= $this->url(['controller' => 'invoice', 'action' => 'download', 'id' => $item['invoice_id']]); ?>">
              <i class="icon icon-download-alt"></i>&nbsp;<?= $item['invoice_no']; ?>
            </a>
          </td>
          <td class="text-right"><?= Meduse_Currency::format($item['total_czk']); ?></td>
          <td class="text-right"><?= Meduse_Currency::format($item['total_eur']); ?></td>
          <td class="text-right"><?= Meduse_Currency::format($item['avg']); ?></td>
          <td class="text-right"><?= $item['qty']; ?></td>
          <td class="text-right"><?= Meduse_Currency::format($item['total']); ?></td>
        </tr>
      <?php endforeach; ?>
      <tr>
        <th colspan="2">CELKEM</td>
        <th class="text-right"><?= Meduse_Currency::format($czk); ?></th>
        <th class="text-right"><?= Meduse_Currency::format($eur); ?></th>
        <th></th>
        <th class="text-right"><?= $count; ?></th>
        <th class="text-right"><?= Meduse_Currency::format($price); ?></th>
      </tr>
      </tbody>
    </table>

  <?php else: ?>
    <p class="warning">Zadaným parametrům nevyhovuje žádný prodej.</p>
  <?php endif; ?>


<?php endif; ?>
