<h2>Reporty: Ztráta</h2>
<?php if($this->barrels): ?>
<!-- MOMENTÁLNĚ SE NEPOUŽÍVÁ -->
<h3>Podle šarží</h3>
<?php $invoices = $this->invoices; ?>
<?php $orders = $this->orders; ?>
<?php $productsNFS = $this->productsNFS; ?>
<?php $productsFS = $this->productsFS; ?>

<table class="table table-condensed">
  <thead>
    <th>Šarže</th>
    <th></th>
    <th class="text-right">Počátek</th>
    <th class="text-right">V macerátu</th>
    <th class="text-right">V neokolkovaných</th>
    <th class="text-right">V okolkovaných</th>
    <th class="text-right">V neexped. obj.</th>
    <th class="text-right">V exped. obj.</th>
    <th class="text-right">Součet</th>
    <th class="text-right">Ztráta</th>
    <th class="text-right">%</th>
  </thead>
  <tbody>
    
    <?php foreach ($this->barrels as $batch): ?>
    <?php $sum = $batch['amount_current']
           + ((array_key_exists($batch['batch'], $productsNFS)) ? $productsNFS[$batch['batch']] : '0.000')
           + ((array_key_exists($batch['batch'], $productsFS)) ? $productsFS[$batch['batch']] : '0.000')
           + ((array_key_exists($batch['batch'], $orders)) ? $orders[$batch['batch']] : '0.000')
           + ((array_key_exists($batch['batch'], $invoices)) ? $invoices[$batch['batch']] : '0.000');
      ?>
    
    <tr>
      <td><?= $batch['batch']; ?></td>
      <td><?= $batch['name']; ?></td>
      <td class="text-right"><?= $batch['amount_in']; ?> kg</td>
      <td class="text-right"><?= $batch['amount_current']; ?> kg</td>
      <td class="text-right"><?= (array_key_exists($batch['batch'], $productsNFS)) ? $productsNFS[$batch['batch']] : '0.000'; ?> kg</td>
      <td class="text-right"><?= (array_key_exists($batch['batch'], $productsFS)) ? $productsFS[$batch['batch']] : '0.000'; ?> kg</td>
      <td class="text-right"><?= (array_key_exists($batch['batch'], $orders)) ? $orders[$batch['batch']] : '0.000'; ?> kg</td>      
      <td class="text-right"><?= (array_key_exists($batch['batch'], $invoices)) ? $invoices[$batch['batch']] : '0.000'; ?> kg</td>
      <td class="text-right"><?= number_format($sum, 3); ?> kg</td>
      <td class="text-right"><?= number_format($batch['amount_in']-$sum,3); ?> kg</td>
      <td class="text-right"><?= number_format(100-($sum/$batch['amount_in']*100),2);?></td>
    </tr>
    <?php endforeach; ?>
  </tbody>
</table>
<?php endif; ?>

<h3>Podle příchutí</h3>
<?php if ($this->flavour_barrels): ?>
<table class="table table-condensed">
  <thead>
    <th>ID příchuti</th>
    <th>Název</th>
    <th class="text-right">Počátek</th>
    <th class="text-right">V macerátu</th>
    <th class="text-right">V neokolkovaných</th>
    <th class="text-right">V okolkovaných</th>
    <th class="text-right">V neexped. obj.</th>
    <th class="text-right">V exped. obj.</th>
    <th class="text-right">Součet</th>
    <th class="text-right">Ztráta</th>
    <th class="text-right">%</th>
  </thead>
  <tbody>
    <?php foreach ($this->flavour_barrels as $flavour_barrel): ?>
    <?php $sum = $flavour_barrel['amount_current']
            + (array_key_exists($flavour_barrel['id'], $this->flavour_productsNFS) ? $this->flavour_productsNFS[$flavour_barrel['id']] : '0')
            + (array_key_exists($flavour_barrel['id'], $this->flavour_productsFS) ? $this->flavour_productsFS[$flavour_barrel['id']] : '0')
            + (array_key_exists($flavour_barrel['id'], $this->flavour_ordersOPEN) ? $this->flavour_ordersOPEN[$flavour_barrel['id']] : '0')
            + (array_key_exists($flavour_barrel['id'], $this->flavour_ordersCLOSED) ? $this->flavour_ordersCLOSED[$flavour_barrel['id']] : '0'); ?>
    
    <tr>
      <td><?= $flavour_barrel['id']; ?></td>
      <td><?= $flavour_barrel['name']; ?></td>
      <td class="text-right"><?= (!empty($flavour_barrel['amount_in'])) ? $flavour_barrel['amount_in'] : '0.000'; ?> kg</td>
      <td class="text-right"><?= (!empty($flavour_barrel['amount_current'])) ? $flavour_barrel['amount_current'] : '0.000'; ?> kg</td>
      <td class="text-right"><?= number_format((array_key_exists($flavour_barrel['id'], $this->flavour_productsNFS)) ? $this->flavour_productsNFS[$flavour_barrel['id']] : '0',3); ?> kg</td>
      <td class="text-right"><?= number_format((array_key_exists($flavour_barrel['id'], $this->flavour_productsFS)) ? $this->flavour_productsFS[$flavour_barrel['id']] : '0',3); ?> kg</td>
      <td class="text-right"><?= number_format((array_key_exists($flavour_barrel['id'], $this->flavour_ordersOPEN)) ? $this->flavour_ordersOPEN[$flavour_barrel['id']] : '0',3); ?> kg</td>
      <td class="text-right"><?= number_format((array_key_exists($flavour_barrel['id'], $this->flavour_ordersCLOSED)) ? $this->flavour_ordersCLOSED[$flavour_barrel['id']] : '0',3); ?> kg</td>
      <td class="text-right"><?= number_format($sum, 3)?> kg</td>
      <td class="text-right"><?= number_format($flavour_barrel['amount_in']-$sum, 3)?> kg</td>
      <td class="text-right"><?= ($flavour_barrel['amount_in']==0) ? '--' : number_format(100-($sum/$flavour_barrel['amount_in']*100),2)  ?></td>
    </tr>
    <?php endforeach;?>
  </tbody>
</table>

<?php endif; ?>
