<div class="pull-right">
  <a class='btn btn-primary' href="<?= $this->url(array('action' => 'add')); ?>">
    <i class='icon icon-white icon-plus'></i> Přidat dodavatele</a>
</div>
<h2><?= $this->title; ?></h2>
<?php if ($this->data): ?>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>název</th>
        <th>adresa</th>
        <th>web</th>
        <th>poznámka</th>
        <th>činnost</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($this->data as $item): ?>
        <tr class='<?= $item->is_active === 'y' ? 'active' : 'inactive'; ?>'>
          <td><?= $item->name; ?></td>
          <td><?= $item->address; ?></td>
          <td><?= $item->www; ?></td>
          <td><?= $item->description; ?></td>
          <td><?= $item->activity; ?></td>
          <td>
            <a class='btn btn-small btn-success' href='<?= $this->url(array('action' => 'edit', 'id' => $item->id)); ?>'>
              <i class='icon icon-white icon-pencil'></i></a>
          </td>
        </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
<?php else: ?>
<p><em>Nebyli nalezení žádní dodavatelé. <a href="<?= $this->url(array('action' => 'add')); ?>">Vložít dodavatele.</a></em></p>
<?php endif; ?>

<style>
  tr.inactive td {
    color: grey;
  }
</style>
