<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1   /DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/public/style/layout.css" type="text/css" media="screen" />
<style type="text/css">
* {
	font-family: "DejaVu Serif";
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	background-color: #ffffff;
}
</style>
</head>
<body>

	<table style="text-align: left; margin: auto; margin-bottom: 1em;">
		<tr><td colspan="2" style="text-align: center;"><h3>Objednávka součástí</h3></td></tr>
		<tr>
			<td style="padding: 2em;">
				<b>Odběratel</b><br />
				MEDUSE DESIGN s. r. o.<br />
				Puškinova 30<br />
				616 00, Brno<br />
			</td>
			<td style="padding: 2em;">
<?php
if($this->producer_data){
?>
				<b>Dodavatel</b><br />
				<?= isset($this->producer_data->name) ? $this->producer_data->name : '' ?><br />
				<?= isset($this->producer_data->addr_street) ? $this->producer_data->addr_street : '' ?><br />
				<?= isset($this->producer_data->addr_zip) ? $this->producer_data->addr_zip : '' ?> <?=  isset($this->producer_data->addr_city) ? $this->producer_data->addr_city : ''  ?><br />
<?php
}
?>
			</td>
		</tr>
		<tr><td colspan="2" style="text-align: center;">Datum zadání: <?php echo $this->dateFromDb($this->producer_data['date_ordering']); ?> </td></tr>
		<tr><td colspan="2" style="text-align: center;">Datum dodání: <?php echo $this->dateFromDb($this->producer_data['date_delivery']); ?></td></tr>
		<tr><td colspan="2" style="text-align: center;">&nbsp;</td></tr>
		<tr><td colspan="2" style="text-align: center;">Položky objednávky:</td></tr>
	</table>
	<table style="text-align: left; margin: auto;">
<?php
foreach($this->parts as $part){
?>
		<tr>
			<td>
				<b><?=$part['id']?></b>
			</td>
			<td>
				<?=$part['name']?>
			</td>
			<td>
				<?php if($part['p_id'] || $part['p_name']): ?>
				( <?=$part['p_id']?>
				<?=$part['p_name']?> )
				<?php endif; ?>
				<?php if(isset($part['operation'])) echo " ( Operace: ".$part['operation']." ) "; ?>
			</td>
			<td>
				<?= $part['amount'] ?> ks
			</td>
		</tr>
<?php
}
?>
	</table>
</body>
</html>