<?php
/**
 * INVOICE TABLE BODY RENDER
 * 
 * @author Jakub Hantak
 * @since 21.2.2013
 * 
 * 
 * Add/edit column need to update methods 
 * - tableThHeader
 * - tableThCategory
 * - renderCategoryItems
 * 
 * Add/edit type of items need to update methods
 * - classifyProductsIntoCategory
 * - renderTable
 * 
 * Set data
 * - setData(db_select) convert to array
 * 
 * Set number of rows of header
 * - setHeaderRows(int)
 * 
 * @example add my new category
 * 
 * - create local variable $_arr_MY_ARRAY = array('data' => NULL), you need to define with 'data' and set value NULL
 * - edit classifyProductsIntoCategory()
 * - edit renderTable() - <?= $this->renderCategoryItems('SHOW_NAME_OF_MY_CATEGORY', $this->_arr_MY_NEW_CATEGORY['data']) ?>
 * 
 * 
 */
class Invoice_Table_Body 
{
    // local variables
    protected $_page_number = 1;  
    protected $_rows_page = 60;
    protected $_rows_header = 0;
    protected $_rows_footer = 0;
    protected $_rows_remain = 0;
    protected $_rows_remain_cnt = 0;
    protected $_price_total = 0;
    protected $_order_data;
    protected $_invoice_data;
    protected $_customer_data;
    protected $_carrier_data;
    protected $_actual_dph;
    protected $_is_new_page = true;
    protected $_show_category_th = true;
    protected $_rows_th_header_decrement = 3;
    protected $_td_row_html = '<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>';


    // category 
    protected $_category_name = '';
    protected $_arr_SHISHA_PIPE_SET = array('data' => NULL);
    protected $_arr_EXTRA_ACCESSORIES = array('data' => NULL);
    protected $_arr_PRESENTATION_TOOLS = array('data' => NULL);
 
    

    /**
     * Set Order data
     * 
     * converts data from db_select_object into array
     * 
     * @param object $data_db_select 
     * @return void
     */
    public function setOrderData($data_db_select) 
    {
        $this->_order_data = $data_db_select->toArray();
    }
    
    
    /**
     * Set Invoice data
     * 
     * converts data from db_select_object into array
     * 
     * @param object $data_db_select 
     * @return void
     */
    public function setInvoiceData($data_db_select) 
    {
        $this->_invoice_data = $data_db_select;
    }
    
    
    /**
     * Set Customer data
     * 
     * converts data from db_select_object into array
     * 
     * @param object $data_db_select 
     * @return void
     */
    public function setCustomerData($data_db_select) 
    {
        $this->_customer_data = $data_db_select;
    }
    
    
    /**
     * Set Carrier data
     * 
     * @param string $data
     * @return void
     */
    public function setCarrierData($data) 
    {
        $this->_carrier_data = $data;
    }
    
    
    /**
     * Set Actual DPH
     * 
     * @param string $data
     * @return void
     */
    public function setActualDphData($data) 
    {
        $this->_actual_dph = $data;
    }
    
    
    /**
     * Set header rows count
     * 
     * @param int $rows
     * @return void
     */
    public function setHeaderRows($rows) 
    {
        $this->_rows_header = $rows;
    }    
    
    
    /**
     * Set footer rows count
     * 
     * @param int $rows
     * @return void
     */
    public function setFooterRows($rows) 
    {
        $this->_rows_footer = $rows;
    }    
    
    
    /**
     * Set rows remain
     * 
     * @return void
     */
    protected function setRowsRemain()
    {
        $this->_rows_remain = ($this->_page_number > 1) ? ($this->_rows_page) : ($this->_rows_page - $this->_rows_header);
        $this->_rows_remain_cnt = $this->_rows_remain;
    }
    
    
    /**
     * Set row decrease count by 1
     * 
     * @param int $number optional
     * @return void
     */
    protected function setRowDecrease($decrement = 1)
    {
        if(($this->_rows_remain_cnt - $decrement) <= 0) {
            $this->_page_number++;
            $this->_is_new_page = true;
            $this->setRowsRemain();
        }
        else {
            $this->_rows_remain_cnt = ($this->_rows_remain_cnt - $decrement);
        }
    }

    
    /**
     * Calculate free rows remaining
     * 
     * @return string
     */
    protected function calculateFreeRows()
    {
        /**
         * if footer is bigger than free rows remain than
         * calculate remain free rows and
         * calculate free rows for new page with footer
         */ #var_dump($this->_rows_remain_cnt - ($this->_rows_footer));
        if($this->_rows_remain_cnt < ($this->_rows_footer)) {
            // calculate free rows remain
            
            for($x=$this->_rows_remain_cnt; $x>=1; $x--) {
                echo $this->tableThHeader();
                echo $this->_td_row_html;
                $this->setRowDecrease();
            }
           
           
            // fix for new page header decrease rows
            // fix th header for new page
            for($x=$this->_rows_remain_cnt - ($this->_rows_footer + $this->_rows_th_header_decrement); $x>=0; $x--) {
                echo $this->tableThHeader();
                echo $this->_td_row_html;
                $this->setRowDecrease();
            }
        }
        else {
            // fix for new page header decrease rows
            if($this->_is_new_page && $this->_page_number > 1) { $this->_rows_footer = ($this->_rows_footer + $this->_rows_th_header_decrement); }
            else if($this->_is_new_page && $this->_page_number == 1) { $this->_rows_footer = ($this->_rows_footer - $this->_rows_th_header_decrement); } 
            
            for($x=$this->_rows_remain_cnt - $this->_rows_footer; $x>=0; $x--) {
                echo $this->tableThHeader();
                echo $this->_td_row_html;
                $this->setRowDecrease();
            }
        }
    }
    

    /**
     * Table TH header
     * 
     * add end of table row (visual only) for new page
     * height is defined in local variable $_rows_th_header_decrement
     * 
     * @return string
     */
    protected function tableThHeader() 
    {
        if($this->_is_new_page) {
            $html = '';
            
            // add end of table row - visual only
            if($this->_is_new_page && $this->_page_number > 1) {
                $html .= '<tr><td class="end-row">&nbsp;</td><td class="end-row">&nbsp;</td><td class="end-row">&nbsp;</td><td class="end-row">&nbsp;</td><td class="end-row">&nbsp;</td><td class="end-row">&nbsp;</td></tr>';
            }
            
            // header th
            $html .= '<tr>
                <th style="width: 8%;">ID No.</th>
                <th style="text-align: left; padding-left: 15px;">Full description of goods / Subject of invoicing</th>
                <th style="width: 11%;">Serial No.</th>
                <th style="width: 10%;">Packages <br>(Pcs)</th>
                <th style="width: 10%;">Unit Value <br>net of VAT</th>
                <th style="width: 10%;">Sub Total <br>Value<br> net of VAT</th>
            </tr>';
            
                $this->_is_new_page = false;
                $this->_show_category_th = true;
                $this->setRowDecrease($this->_rows_th_header_decrement);
            }
            else {
                $html = '';
            }
        
        return $html;
    }
    
    
    /**
     * Table TH category title
     * 
     * @param string $name optional
     * @return string 
     */
    protected function tableThCategory($name = NULL)
    {
        if($name != $this->_category_name || $this->_show_category_th) {
        $html = '<tr>
            <td class="cat-title">&nbsp;</td>
            <td class="cat-title" colspan="5" style="text-align: left; padding-left: 15px;">' . $name . '</td>
        </tr>';
        
        $this->_category_name = $name;
        $this->_show_category_th = false;
        $this->setRowDecrease();
        }
        else {
            $html = '';
        }
        return $html;
    }
    
    
    /**
     * Classify products into category array
     * 
     * @return void
     */
    public function classifyProductsIntoCategory()
    { 
        if (count($this->_order_data) > 0) {
            $i=0;
            foreach($this->_order_data as $data)
            {
                switch ($data['ctg_id']) {
                    case Table_PartsCtg::TYPE_SETS:
                        $this->_arr_SHISHA_PIPE_SET['data'][$i] = $data;
                        break;
                    case 16: //Table_PartsCtg::PRESENTATION_TOOLS
                        $this->_arr_EXTRA_ACCESSORIES['data'][$i] = $data;
                        break;
                    default:
                        $this->_arr_PRESENTATION_TOOLS['data'][$i] = $data;
                        break;
                }
                $i++;
            }            
        }   
        
        // add category count rows
        $this->_arr_SHISHA_PIPE_SET['rows'] = count($this->_arr_SHISHA_PIPE_SET['data']);
        $this->_arr_PRESENTATION_TOOLS['rows'] = count($this->_arr_PRESENTATION_TOOLS['data']);
        $this->_arr_EXTRA_ACCESSORIES['rows'] = count($this->_arr_EXTRA_ACCESSORIES['data']);
    }
 
    
    /**
     * Render category items
     * 
     * render table body
     * 
     * @param string $title
     * @param array $data 
     * @return string
     */
    protected function renderCategoryItems($title, $data)
    {
        if(is_array($data)) foreach($data as $row)
        {
            echo $this->tableThHeader();
            echo $this->tableThCategory($title);
            ?>
            <tr>
                <td><?= $row['id_products']; ?></td>
                <td style="text-align: left; padding-left: 15px;"><?= $row['name']; ?></td>
                <td>&nbsp;</td>
                <td><?= ($row['amount'] - $row['free_amount']) ?></td>
                <td><?= $row['end_price']; ?> €</td>
                <td><?= $row['end_price'] * ($row['amount'] - $row['free_amount']) ?> €<?php $this->_price_total += $row['end_price'] * $row['amount']; ?></td>
            </tr>
            <?php
            // increase row count
            $this->setRowDecrease();
        }
    }
     

    /**
     * Render table body
     */
    public function renderTable()
    {
        // set rows remain
        $this->setRowsRemain();
        ?>
        <table class="inv-table inv-table-inside tbl-product-summary" style="width: 100%;">
            
<?= $this->renderCategoryItems('SHISHA PIPE set', $this->_arr_SHISHA_PIPE_SET['data']) ?>
<?= $this->renderCategoryItems('EXTRA ACCESSORIES', $this->_arr_EXTRA_ACCESSORIES['data']) ?>
<?= $this->renderCategoryItems('PRESENTATION TOOLS', $this->_arr_PRESENTATION_TOOLS['data']) ?>
            
<?= $this->renderShippingAndPrice(); ?>            
    </tbody>
</table>
        <?php
    }
    
    
    
    /**
     * Render Footer Parts 
     * shipping and price rows
     * 
     * render Fp - group
     * render group of end rows footer of product table   
     *  
     * @return string
     */
    protected function renderShippingAndPrice()
    {
        $shipping_row = $this->prepareFpShippingRows();
        $price_row = $this->prepareFpTotalPriceRow();
        
        $this->calculateFreeRows();
        
        return $shipping_row . $price_row;
    }



    /**
     * Prepare total price row
     * Fp - group
     * 
     * DONT USE $this->setRowDecrease() because this method is called after calulate free rows
     * USE $this->_rows_footer + 1 to increase footer rows instead
     * 
     * @return string 
     */
    protected function prepareFpTotalPriceRow()
    {
        if($this->_invoice_data['customer_type'] != 'b2c') {
            $text = $this->_invoice_data['text1'];
        }
        
        $html = '<tr>
                <td colspan="3" class="total-price-text">' . ((isset($text)) ? $text : '') . '</td>
                <td colspan="2" class="total-price-desc">Total invoice amount</b><br />Incl. VAT tax ' . $this->_actual_dph . '%<br />Currency: </td>
                <td class="total-price-value"><b>' . $this->_price_total . ' €</b><br><br>Euro</td>
            </tr>';
        
        $this->_rows_footer = ($this->_rows_footer + 3);
        
        return $html;
    }
    
    
    
    /**
     * Prepare shipping and discount
     * Fp - group
     * 
     * DONT USE $this->setRowDecrease() because this method is called after calulate free rows
     * USE $this->_rows_footer + 1 to increase footer rows instead
     * 
     * @return string
     */
    protected function prepareFpShippingRows()
    {
        $html = '';
        
        //-----------------------------
        if($this->_invoice_data['type'] == 'offer' && $this->_customer_data->discount > 0) {

            $html .= '<tr>   
                    <td class="shipping-row">&nbsp;</td>        
                    <td colspan="4" class="shipping-row"><b style="color: red;">DISCOUNT ' . $this->_customer_data->discount . '%</b></td>
                    <td class="shipping-row-price">0 €</td>
                </tr>';
            
            $this->_rows_footer = ($this->_rows_footer + 1);
	} 
              
        //-----------------------------
        $html .= '<tr>   
                    <td class="shipping-row">&nbsp;</td>        
                    <td colspan="4" class="shipping-row">Shipping costs (incl. insurance and customs papers) by ' . $this->_carrier_data . '</td>
                    <td class="shipping-row-price">' . $this->_invoice_data['shipping_cost'] . ' €</td>
                </tr>';
        
        $this->_rows_footer = ($this->_rows_footer + 1);
        $this->_price_total = ($this->_price_total + $this->_invoice_data['shipping_cost']); 
            
        //-----------------------------
        $html .= '<tr>   
                    <td class="shipping-row">&nbsp;</td>        
                    <td colspan="4" class="shipping-row">Packaging: ' . $this->_invoice_data['packaging'] . '</td>
                    <td class="shipping-row-price">' . $this->_invoice_data['packaging_cost'] . ' €</td>
                </tr>';
        
        $this->_rows_footer = ($this->_rows_footer + 1);
       $this->_price_total = ($this->_price_total + $this->_invoice_data['packaging_cost']);
        
        //-----------------------------
        if(!empty($this->_invoice_data['custom_item'])) {
        
            $html .= '<tr>   
                        <td class="shipping-row">&nbsp;</td>        
                        <td colspan="4" class="shipping-row">' . $this->_invoice_data['custom_item'] . '</td>
                        <td class="shipping-row-price">' . $this->_invoice_data['custom_item_cost'] . ' €</td>
                    </tr>';
            
            $this->_rows_footer = ($this->_rows_footer + 1);
            $this->_price_total = ($this->_price_total + $this->_invoice_data['custom_item_cost']);
	} 
        
        //-----------------------------
        
        if(!empty($this->_invoice_data['custom_item2'])) {      
        
            $html .= '<tr>   
                <td class="shipping-row">&nbsp;</td>        
                <td colspan="4" class="shipping-row">' . $this->_invoice_data['custom_item2'] . '</td>
                <td class="shipping-row-price">' . $this->_invoice_data['custom_item2_cost'] . ' €</td>
            </tr>';
            
            $this->_rows_footer = ($this->_rows_footer + 1);
            $this->_price_total = ($this->_price_total + $this->_invoice_data['custom_item2_cost']);
	} 
        
        //-----------------------------
        if(!empty($this->_invoice_data['delivery_condition'])) {
            
            $html .= '<tr>   
                <td class="shipping-row">&nbsp;</td>        
                <td colspan="4" class="shipping-row">Delivery condition:</td>
                <td class="shipping-row-price">' . $this->_invoice_data['delivery_condition'] . '</td>
            </tr>';
                
            $this->_rows_footer = ($this->_rows_footer + 1);
	}
        
        //-----------------------------
        
        return $html;
    }

    
}




/**
 * 
 * CREATE INVOICE BODY INSTANCE
 * 
 * 
 */
$invb_obj = new Invoice_Table_Body();
$invb_obj->setOrderData($this->orderParts);
$invb_obj->setInvoiceData($this->invoice);
$invb_obj->setCustomerData($this->customer);
$invb_obj->setCarrierData($this->carrier);
$invb_obj->setActualDphData($this->actual_dph);
$invb_obj->setHeaderRows($this->header_rows); 
$invb_obj->setFooterRows($this->footer_rows);
$invb_obj->classifyProductsIntoCategory();

echo $invb_obj->renderTable();

/** end instance  */
?>