<?php echo $this->form; ?>
<div class='text-center'>
    <a href='<?php echo $this->url(array('action' => 'custom-texts', 'id' => null))?>'>
        <i class='icon icon-backward'></i>&nbsp;Zpět na seznam</a>
</div>