<div class="pull-right">
  <a class="btn" href="<?= $this->url(array('action' => 'unpaid')); ?>">
    <i class="icon icon-time"></i>
    Přehled faktur po splatnosti</a>
</div>
<h2>Přehled vygenerovaných faktur</h2>

<div id="filter-box" class="hidden"><?= $this->filter ?></div>

<div class="text-center">
  <button class="btn btn-small btn-primary" id="filter-toggle"><i class="icon icon-white icon-filter"></i> Filtrovat</button>
  <a class="btn btn-small btn-success" id="filter-reset" href="/tobacco-invoice/index/new/search">
    <i class="icon icon-white icon-search"></i> Nové hledání
  </a>
</div>

<?= $this->grid ?>

<script type="text/javascript">
$(document).ready(function() {
  $("#company_name").autocomplete({"source":"\/invoice\/ajax-company\/wh\/2"});
  $("#filter-toggle").click(function(e) {
    e.preventDefault();
    if ($('#filter-box').hasClass('hidden')) {
      $('#filter-box').removeClass('hidden');
    } else {
      $('#filter-box').addClass('hidden');
    }
  });
});
</script>