<style type="text/css">
    #invoice-settings input,
    #invoice-settings select,
    #invoice-settings textarea {
        width: 100%;
    }

    #form_element_additional_discount_include label,
    #form_element_mask_zero_prices label,
    #form_element_rounding label,
    #form_element_show_excise label,
    #form_element_show_vat_summary label,
    #form_element_allow_delivery_addr label,
    #form_element_export label {
        float: left;
    }
</style>

<div class="row-fluid">
  <?php if ($this->message): ?>
    <div style="margin-top: 20px;" class="alert">
      <?= $this->message; ?>
    </div>
  <?php endif; ?>

    <form id='invoice-settings' action='<?php $this->form->getAction() ?>' method='<?= $this->form->getMethod(); ?>'>

        <div class="span8">
          <div class="well">
            <?= $this->formHidden('changed', 'no'); ?>
            <h2>Nastavení faktury</h2>
            <div class="row-fluid">
              <div class="row-fluid">
                <div class='span8'><?= $this->form->invoice_no; ?></div>
                <div class='span4'><?= $this->form->language; ?></div>

              </div>
              <div class="row-fluid">
                <div class='span4'><?= $this->form->currency; ?></div>
                <div class='span4'><?= $this->form->rate; ?></div>
                <div class='span4'><?= $this->form->use_actual_rate; ?></div>

              </div>
            </div>
            <div class="row-fluid">

              <div class='span8'>
                    <div class="row-fluid">
                        <div class='span6'>
                          <?= $this->form->issue_date; ?>
                          <?= $this->form->duzp; ?>
                          <?= $this->form->due_date; ?>
                        </div>
                        <div class='span6'>
                          <?= $this->form->additional_discount; ?>
                          <?= $this->form->additional_discount_include; ?>
                          <?= $this->form->id_accounts; ?>
                        </div>
                    </div>
                </div>
                <div class='span4'>
                    <?= $this->form->packaging; ?>
                    <?= $this->form->weight; ?>
                </div>
            </div>
            <div class='row-fluid'>
                <div class='span4'>
                  <?= $this->form->allow_delivery_addr; ?>
                </div>
                <div class='span8'>
                  <?= $this->form->delivery_text; ?>
                </div>
            </div>

            <div class="row-fluid">
              <div class='span4'>
                <?= $this->form->add_address1_head; ?>
              </div>
              <div class='span4'>
                <?= $this->form->add_address1_data; ?>
              </div>
              <div class='span4'>
                <?= $this->form->add_address2_data; ?>
              </div>
            </div>

            <div class='row-fluid'>
              <div class='span12'>
                <?= $this->form->text1; ?>
              </div>
            </div>
            <div class='row-fluid'>
              <div class='span4'>
                <!-- zaloha na faktuře -->
                <?= $this->form->invoice_price; ?>
              </div>
              <div class='span8'>
                <?= $this->form->mask_zero_prices; ?>
                <?= $this->form->show_excise; ?>
                <?= $this->form->show_vat_summary; ?>
                <?= $this->form->export; ?>
              </div>
            </div>
            <div class='pull-right'>
            <button type='submit' class='btn btn-large btn-success' id="submit-btn" value='Uložit'>
                <i class='icon icon-white icon-ok'></i>&nbsp;Uložit</button>
            <?= $this->form->id; ?>
            <?= $this->form->order; ?>
            <?= $this->form->invoice_type; ?>
            </div>
            <div class="clearfix"></div>
        </form>
        </div>
    </div>
    <div class="span4">
        <p>
            <a href="<?php echo $this->url(array('action' => 'generate', 'order' => null, 'id' => $this->invoiceId)); ?>"
               class="btn btn-success <?= ($this->noticeCashReceipt || $this->noticeTAXLiability) ? 'show-notice' : ''; ?>"
               id="generate-btn" onclick="return testChange();"><i class="icon icon-white icon-file"></i>&nbsp;Generovat PDF</a>
          <?php if ($this->invoiceType == Table_Invoices::TYPE_REGULAR): ?>
            <a id="credit-btn" href="<?php echo $this->url(array('action' => 'create-credit-note', 'order' => NULL, 'id' => $this->invoiceId)); ?>"
               class="btn btn-warning" title="Generovat dobropis">&nbsp;<i class="icon icon-white icon-gift"></i>&nbsp;Dobropis</a>
            <?php if($this->acl->isAllowed('invoice/delete')): ?>
              <a id="delete-btn" href="<?php if ($this->invoiceIsDeletable) echo $this->url(array('action' => 'delete', 'order' => NULL, 'id' => $this->invoiceId)); ?>"
                 class="<?= $this->invoiceIsDeletable ? '' : 'disabled '; ?>btn btn-danger"
                 data-toggle="tooltip" data-placement="bottom" data-html="true"
                 title="<?php if (!$this->invoiceIsDeletable) echo
                 '<strong>Fakturu nelze odstranit!</strong><br>Odstranit fakturu lze jen pokud<br>(1) není v účetnictví, <br>(2) je bez úhrad a bez odpočtů záloh, <br>(3) je v řadě poslední nebo nemá číslo a <br>(4) příslušná objednavka není expedovaná.'; ?>">&nbsp;<i class="icon icon-white icon-trash"></i>&nbsp;Odstranit</a>
            <?php endif; ?>
          <?php elseif($this->acl->isAllowed('invoice/delete')): ?>
            <a id="delete-btn" href="<?php if ($this->invoiceIsDeletable) echo $this->url(array('action' => 'delete', 'order' => NULL, 'id' => $this->invoiceId)); ?>"
               class="<?= $this->invoiceIsDeletable ? '' : 'disabled '; ?>btn btn-danger"
               data-toggle="tooltip" data-placement="bottom" data-html="true"
               title="<?php if (!$this->invoiceIsDeletable) echo
               '<strong>Proformu nelze odstranit!</strong><br>Odstranit proformu lze jen pokud<br>(1) není v účetnictví a <br>(2) je bez úhrad.'; ?>">&nbsp;<i class="icon icon-white icon-trash"></i>&nbsp;Odstranit</a>
          <?php endif;?>
        </p>
        <p>
          <a href="<?php echo $this->url(array('action' => null, 'id' => null, 'order' => null))?>"
            class="btn btn-small"><i class="icon icon-backward"></i>&nbsp;Seznam faktur</a>
          <a href="<?= $this->url(array(
            'controller' => 'tobacco-orders',
            'action' => 'detail',
            'id' => $this->orderId,
            'order' => NULL))?>#invoices" class="btn btn-small"><i class="icon icon-edit"></i>&nbsp; Příslušná objednávka</a>
        </p>
        <?php if ($this->versions && $this->acl->isAllowed('invoice/show-versions')): ?>
        <h4>Vygenerované verze</h4>
        <table class="table table-condensed">
          <?php foreach ($this->versions as $version): ?>
          <tr>
            <td><a class="btn btn-small" href="<?= $this->url(array(
              'action' => 'download', 'vid' => $version['id'])); ?>">
                <span class="icon icon-download-alt"></span></a></td>
            <td><?php $date = new Meduse_Date($version['created']);
            echo $date->toString('d.m.Y H:i:s'); ; ?></td>
            <td><?= $version['name_full']; ?></td>
          </tr>
          <?php endforeach; ?>
        </table>
        <?php endif; ?>
        <hr />

      <?php if ($this->deductForm): ?>
        <?= $this->deductForm; ?>
      <?php elseif($this->deductForm === NULL): ?>
        <p><strong>Neexistuje žádná úhrada zálohové faktury.</strong></p>
      <?php endif; ?>

        <h3>Volitelné položky</h3>
        <?php if ($this->items): ?>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Popis</th>
                        <th class="text-right">Cena</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($this->items as $item): ?>
                    <tr>
                        <td><?php echo Table_InvoiceCustomItems::$customItemTypeToString[$item['type']]?></td>
                        <td><?php echo $item['description']?></td>
                        <td class="text-right"><?php echo $item['price']?></td>
                        <td>
                          <?php if (isset($item['id'])): ?>
                            <div class="btn-group-vertical">
                              <button class="btn btn-primary btn-mini custom-item-edit"
                                      data-id="<?php echo $item['id']; ?>">
                                  <i class="icon icon-white icon-edit"></i>
                              </button>
                              <button class="btn btn-danger btn-mini custom-item-remove"
                                      data-id="<?php echo $item['id']; ?>">
                                  <i class="icon icon-white icon-remove"></i>
                              </button>
                            </div>
                          <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        <?php else: ?>
            <p><em>K faktuře nejsou přiřazeny žádné volitelné položky.</em></p>
        <?php endif; ?>




            <div class="btn-group">
              <button id="add_custom_item" class="btn btn-small btn-primary">
                <i class="icon icon-white icon-plus"></i>&nbsp;Přidat volitelnou položku</button>
              <a href="<?= $this->url(['action' => 'load-shipment-from-order']); ?>" id="load_shipment_from_order" class="btn btn-small btn-primary">
                <i class="icon icon-white icon-upload"></i>&nbsp;Načíst dopravu z objednávky</a>
            </div>



            <hr />
            <h3>Volba uživatelského textu</h3>
            <form id='selectCustomText'>
                <div>
                    <select name='customText' id='customText'></select>
                </div>
                <div>
                    <button id='copyCustomText' class='btn btn-primary'>
                        <i class='icon icon-white icon-repeat'></i>&nbsp;Nahrát</button>
                </div>
                <?php if ($this->acl->isAllowed('invoice/custom-texts')): ?>
                <p class='text-left'>
                    <small><a href='<?php echo $this->url(array(
                    'action' => 'custom-texts', 'id' => null, 'order' => null
                )); ?>' target='_blank'>Spravovat volitelné uživatelské texty...</a></small>
                </p>
                <?php endif; ?>
            </form>
            <hr />
    </div>
</div>

<?php if ($this->itemLines): ?>
<hr />

<form id='invoice-item-lines' action='/tobacco-invoice/save-item-texts'
      method='<?= $this->itemLinesForm->getMethod(); ?>'>
  <?= $this->itemLinesForm->invoice_id; ?>
<h3>Produktové položky faktury</h3>
<table class="table table-condensed table-hover table-bordered sticky">
  <thead>
    <tr>
     <th colspan="4">
       <?php if ($this->acl->isAllowed('tobacco-invoice/save-item-texts')): ?>
         <div class='pull-right'>
           <div class="btn-group">
             <button type='submit' class='btn btn-primary' id="submit-btn" value='Uložit'>
               <i class='icon icon-white icon-ok'></i>&nbsp;Uložit změny položek faktury</button>
             <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
               <span class="caret"></span>&nbsp;
             </button>
             <ul class="dropdown-menu">
               <li><a href="<?php echo $this->url(array('action' => 'reset-texts'))?>">
                   Načíst původní texty</a></li>
               <li><a href="<?php echo $this->url(array('action' => 'reset-prices'))?>">
                   Načíst původní ceny</a></li>
             </ul>
           </div>
         </div>
       <?php endif; ?>
     </th>
    </tr>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">Počet</th>
      <th>Popis</th>
      <th class="text-center">Cena [EUR/ks]</th>
    </tr>
  </thead>
  <tbody>
<?php
  $total_amount = 0;
  for($idx = 0; $idx < $this->itemLinesForm->countLines(); $idx++): ?>
  <?php if ($this->itemLinesForm->getElement('item_' . $idx)): ?>
  <tr>

    <td class="text-center">
      <?= $this->itemLinesForm->getElement('type_' . $idx); ?>
      <?= isset($this->itemLines[$idx]['id'])? $this->itemLines[$idx]['id'] : ''; ?>
    </td>
    <td class="text-center">
      <?php
        if (isset($this->itemLines[$idx]['id'])) {
          echo $this->itemLines[$idx]['amount'];
          $total_amount += $this->itemLines[$idx]['amount'];
        };
      ?></td>
    <td><?= $this->itemLinesForm->getElement('item_' . $idx); ?></td>
    <td><?= $this->itemLinesForm->getElement('price_' . $idx); ?></td>
  </tr>
  <?php endif; ?>
<?php endfor; ?>
  <tr>
    <td></td>
    <td class="text-center"><strong><?= $total_amount; ?></strong></td>
    <td><strong>Celkem</strong></td>
    <td></td>
  </tr>
  </tbody>
</table>

  <div style='display: none;'>
    <?php for($idx = 0; $idx < $this->itemLinesForm->countLines(); $idx++): ?>
        <?php echo $this->itemLinesForm->getElement('item_idx_' . $idx); ?>
    <?php endfor; ?>
    </div>
</form>
<?php endif; ?>

<div class="modal fade" id="custom_item_modal" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Volitelná položka</h3>
  </div>
  <div class="modal-body">
        <?php echo $this->customItemForm; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="custom_item_modal_form_submit">Uložit</a>
  </div>
</div>

<div id="noticeModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Nezapomeň vystavit další doklady!</h3>
  </div>
  <div class="modal-body">
    <strong>POZOR:</strong>
    <ul>
      <?php if ($this->noticeCashReceipt): ?>
        <li>Faktura je hrazená v hotovosti, je potřeba vystavit <strong>příjmový pokladní doklad</strong>.</li>
      <?php endif; ?>
      <?php if ($this->noticeTAXLiability): ?>
        <li>Vystavte <strong>potvrzení o přepravě zboží</strong> do jiného členského státu pro účely osvobození od DPH.</li>
      <?php endif; ?>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">OK</a>
  </div>
</div>

<div id="alertVATModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pozor na vyčíslení DPH!</h3>
  </div>
  <div class="modal-body row-fluid">
    <p>[message]</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn class" data-dismiss="modal" aria-hidden="true">OK</a>
  </div>
</div>

<style type="text/css">
  .hasDatepicker {
    width: 90% !important;
  }
</style>

<script type="text/javascript">
    var getCnbEurRate = function() {
      $.get("/admin/json-get-cnb-eur-rate", function (data) {
        $('input[name="rate"]').val(data);
        $('#changed').val('yes');
        $('#submit-btn').attr('class', 'btn btn-large btn-danger');
      });
    };

    var $useActualRateChbox = $('#use_actual_rate');
    var $rate = $('#rate');
    var $rateBtn = $('#get_cnb_rate');

    if ($useActualRateChbox.prop('checked')) {
      // getCnbEurRate();
      $rate.prop('readonly', true);
      $rateBtn.prop('disabled', true);
    }

    $useActualRateChbox.click(function(){
      if ($useActualRateChbox.prop('checked')) {
        getCnbEurRate();
        $rate.prop('readonly', true);
        $rateBtn.prop('disabled', true);
      }
      else {
        $rate.prop('readonly', false);
        $rateBtn.prop('disabled', false);
      }
    });

    var showDuty = function() {
      if ($('#export').prop('checked')) {
        $('#show_excise').prop('checked', false);
        $('#form_element_show_excise').hide();
      }
      else {
        $('#show_excise').prop('checked', true);
        $('#form_element_show_excise').show();
      }
    };

    var enableRate = function(currency) {
      var order_currency = '<?= $this->orderCurrency; ?>';
      var order_is_service = <?= $this->orderIsService ? 'true' : 'false'; ?>;
      var bool = currency == order_currency && currency == 'CZK' && order_is_service;
      if (bool) {
        $rate.val('1');
      }
      $rate.prop('readonly', bool);
      $rateBtn.prop('disabled', bool);
      if ($useActualRateChbox.prop('checked')) {
        $useActualRateChbox.prop('checked', false);
      }
      $useActualRateChbox.prop('disabled', bool);
    };

    var $currencySel = $('#currency');
    $currencySel.change(function(){
      enableRate($(this).val());
    });

    $(document).ready(function(){

      $('[data-toggle="tooltip"]').tooltip();

      showDuty();
      enableRate($currencySel.val());

      $('.show-notice').click(function () {
        var $alert = $('#noticeModal');
        $alert.find('a.btn').attr('href', $(this).attr('href'));
        $alert.modal('show');
        return false;
      });

      $('#issue_date, #duzp, #due_date').change(function(){
        checkDUZP($(this));
      });

      $('#credit-btn').click(function(){
        return confirm('Opravdu chcete vygenerovat k faktuře dobropis?');
      });

      $('#invoice-settings :input').change(function(){
        $('#changed').val('yes');
        $('#submit-btn').attr('class', 'btn btn-large btn-danger');
        if ($(this).attr('id') === 'allow_delivery_addr') {
            $('#delivery_text').prop('disabled', $(this).prop('checked'));
            $('#add_address2_data').prop('disabled', !$(this).prop('checked'));
        }
      });

      if ($('#allow_delivery_addr').prop('checked')) {
        $('#delivery_text').attr('disabled', 'disabled');
      }
      else {
        $('#add_address2_data').attr('disabled', 'disabled');
      }


      $('#add_custom_item').mousedown(function(e){
        e.stopPropagation();
        e.preventDefault();
        if (testChange()) {
          $('#custom_item_modal').modal('show');
          return false;
        }
      });

      $('.custom-item-edit').mousedown(function(e){
        e.stopPropagation();
        e.preventDefault();
        if (testChange()) {
          $.getJSON('/tobacco-invoice/json-get-custom-item/id/' + $(this).attr('data-id'), function(data){
              $('#id_item').val(data['id']);
              $('#id_invoice').val(data['id_invoice']);
              $('#type').val(data['type']);
              $('#description').val(data['description']);
              $('#price').val(data['price']);
          });
          $('#custom_item_modal').modal('show');
          return false;
        }
      });

      function checkCurrencyAndAccount() {
        var eval = false;

        $.getJSON('/invoice/json-get-account-currency/id/' + $('#id_accounts').val(), function(data){
            if(data === null) {
              $('.alert_account_currency').remove();
            } else if (data == $('#currency').val()) {
              $('.alert_account_currency').remove();
            } else {
              $('.alert_account_currency').remove();
              $('#id_accounts').after('<p class="alert_account_currency text-center"><span class="label label-important">Účet neodpovídá měně!</span></p>');
              $('#currency').after('<p class="alert_account_currency text-center"><span class="label label-important">Účet neodpovídá měně!</span></p>');

            };
        });
      }

      $('#id_accounts').on('change', function() {
        checkCurrencyAndAccount();
      });

      $('#currency').on('change', function() {
        checkCurrencyAndAccount();
      });

      checkCurrencyAndAccount();

      $('.custom-item-remove').mousedown(function(e){
        e.stopPropagation();
        if (testChange()) {
          if (confirm('Opravdu chcete smazat tuto volitelnou položku?')) {
              location.href = '<?php echo $this->url(array(
                  'action' => 'remove-custom-item',
                  'id' => null, 'invoice' => $this->invoiceId)); ?>/id/' + $(this).attr('data-id');
          } else {
              return false;
          };
        }
    });

      $('#custom_item_modal_form_submit').click(function(){
        var price = $('input[name="price"]').val();
        var description = $('input[name="description"]').val();
        if (price == '' || description.length <= 0) {
          alert("Pole musí být vyplněna a cena musí být číselná hodnota!");
        } else {
          $('#custom_item_form').submit();
          $('#custom_item_modal').modal('hide');
        }
      });

      // skove
      $('#get_cnb_rate').click(function(event) {

        $.get( "/admin/json-get-cnb-eur-rate", function( data ) {
          $('input[name="rate"]').val(data);
          $('#changed').val('yes');
          $('#submit-btn').attr('class', 'btn btn-large btn-danger');
        });
        event.preventDefault();
      });
      loadTexts();
    });

    $('#language').change(function(){
        loadTexts();
    });



    $('#copyCustomText').click(function(){
        loadText();
        return false;
    });

    $('#export').change(function() {
      showDuty();
    });

    $('#show_vat_summary').change(function() {

      var $showVat = $(this);
      var $modal = $('#alertVATModal');
      var $msg = $modal.find('p:first');
      if (<?= $this->verifiedVat ? 'true' : 'false'; ?>) {
        // nevycislovat dan je OK
        if ($showVat.prop('checked')) {
          $msg.html('Zákazník je z EU a jeho VAT no. je verifikováno.<br><b>DPH by se neměla rozepisovat</b>.');
          $modal.modal('show');
        }
      }
      else {
        // vycislovat dan je OK
        if (!$showVat.prop('checked')) {
          $msg.html('Zákazník je z EU a jeho VAT no. není verifikováno.<br><b>DPH by se měla rozepisovat.</b>');
          $modal.modal('show');
        }
      }
    });

    function loadTexts() {
      var url = '/tobacco-invoice/custom-texts-get-json/order/<?php echo $this->orderId; ?>'
        + '/language/' + $('#language').val();
      $('#customText').empty();
      $.getJSON(url, function(data){
        $.each(data, function(index, obj) {
          $('#customText').append('<option value="' + obj.id + '">' + obj.description + '</option>');
        });
      });
    }

    function loadText() {
      var url = '/tobacco-invoice/custom-texts-get-json/id/' + $('#customText').val();
      console.log(url);
      $.getJSON(url, function(data){
        $.each(data, function(index, obj) {
            $('#text1').val(obj.text);
            $('#changed').val('yes');
            $('#submit-btn').attr('class', 'btn btn-large btn-danger');
        });
      });
    }

    function testChange() {
      if ($('#changed').val() === 'yes') {
          alert('Musíte nejdřív uložit provedené změny');
          return false;
      } else return true;
    }

    function checkDUZP($modified) {
      var issue = $('#issue_date').val().split('.', 3);
      var duzp = $('#duzp').val().split('.', 3);
      var due = $('#due_date').val().split('.', 3);

      var issueDate = new Date(issue[2], issue[1]-1, issue[0]);
      var duzpDate = new Date(duzp[2], duzp[1]-1, duzp[0]);
      var dueDate = new Date(due[2], due[1]-1, due[0]);

      var overdue = <?= $this->overdue ? 'true' : 'false'; ?>;
      var due_days = <?= $this->due; ?>;

      if (issueDate < duzpDate) {
        if ($modified.attr('id') == 'issue_date') {
          $('#duzp').val($modified.val());
          duzpDate = issueDate;
        }
        else if ($modified.attr('id') == 'duzp') {
          $('#issue_date').val($modified.val());
          issueDate = duzpDate;
        }
      }

      if (dueDate < issueDate) {
        dueDate.setDate(issueDate.getDate() + <?= Customers_Customer::DUE_DEFAULT; ?>);
        $('#due_date').val(dueDate.getDate() + '.' + (dueDate.getMonth()+1) + '.' + dueDate.getFullYear());
      }
      else {
        if (!overdue) {
          issueDate.setDate(issueDate.getDate() + due_days);
          if (issueDate < dueDate) {
            dueDate.setDate(issueDate.getDate());
            $('#due_date').val(issueDate.getDate() + '.' + (issueDate.getMonth()+1) + '.' + issueDate.getFullYear());
          }
        }
      }

    }
</script>