<h2><?= $this->title; ?></h2>

<?php if ($this->invoices): ?>
<table class="table table-condensed table-hover sticky">
  <thead>
    <tr>
    <th>číslo</th>
    <th>typ</th>
    <th>splatnost</th>
    <th class="text-right">částka</th>
    <th>měna</th>
    <th class="text-right">obj. č.</th>
    <th>název</th>
    </tr>
  </thead>
  <tbody>
  <?php foreach ($this->invoices as $row): ?>
  <?php $rounding = $row->currency == 'CZK' ? 0 : 2; ?>
  <tr>
    <td><a href="<?= $this->url(array('action' => 'download', 'id' => $row->id)); ?>"><?= $row->invoice_no; ?></a></td>
    <td><?= $row->type; ?></td>
    <td><?= Meduse_Date::dbToForm($row->due_date); ?></td>
    <td class="text-right"><?= Meduse_Currency::format(round($row->invoiced_total, $rounding)); ?></td>
    <td><?= $row->currency; ?></td>
    <td class="text-right"><a href="<?= $this->url(array('controller' => 'tobacco-orders', 'action' => 'detail', 'id' => $row->order_id)); ?>"><?= $row->order_no; ?></a></td>
    <td><a href="<?= $this->url(array('controller' => 'tobacco-orders', 'action' => 'detail', 'id' => $row->order_id)); ?>"><?= $row->order_title; ?></a></td>
  </tr>
  <?php endforeach; ?>
  </tbody>
</table>
<?php else: ?>
  <p>Hurá, nejsou žádné neuhrazené faktury po splatnosti!</p>
<?php endif; ?>

