<div>
    <div class="form-well">
        <div class="well">
            <fieldset class="form">
                <legend><?= $this->title; ?></legend>
                <form action="" method="post" class="form" enctype="application/x-www-form-urlencoded">
                    <div class="dashed-outline">
                        <?= $this->form; ?>
                        <div class="form-element">
                            <table class="table table-condensed table-striped" style="margin-top:20px;">
                                <tr>
                                    <th>ID</th>
                                    <th>Název</th>
                                    <th>Dodáno<br />[ks]</th>
                                </tr>
                                <?php foreach ($this->parts as $part): ?>
                                    <tr>
                                        <td><a href="/parts/detail/id/<?php echo $part['id_parts'] ?>"><?php echo $part['id_parts'] ?></a></td>
                                        <td style="text-align: left;"><?php echo $part['name'] ?></td>
                                        <td>
                                            <input type="text" value="0" data="<?php echo $part['amount'] ?>" class="span1" name="parts[part_<?php echo $part['id_parts'] ?>]" /> z <?php echo $part['amount'] ?>
                                            <input type="hidden" name="parts_max[part_<?php echo $part['id_parts'] ?>]" value="<?php echo $part['amount'] ?>">
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        </div>
                        <div class="form-button-group">
                            <input type="submit" class="btn btn-primary" value="Uložit" id="submit" name="submit">
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<script>
    // put correct value of delivery items from max range
    /*
    $(function() {
        $('.span1').blur(function() {
            var max = parseInt($(this).attr('data'));
            var val = parseInt($(this).val());
            if(val > max) {
                $(this).val(max);
            }
        }); 
    });
    */
</script>







