<div class="no-print">
	<?php if (is_null($this->data_producer->id_orders_carriers)): ?>
	<h2>Detail dodavatele</h2>
	<p><a href="/parts/productions?show=y&producer=<?= $this->data_producer->id; ?>">Zobrazit všechny výroby tohoto dodavatele</a></p>
	<?php else: ?>
	<h2>Detail dopravce</h2>
	<?php endif; ?>

</div>

<?php
	$this->title = " ".$this->data_producer->name;
?>
<table class="table table-bordered table-striped">
	<tr><th colspan="2"><?= $this->data_producer->name; ?>
		</th></tr>
	<tr>
		<td style="width: 100px;">Adresa:</td>
		<td ><?= $this->data_producer->address; ?></td>
	</tr>
	<tr>
		<td class='odd' style="width: 100px;">www:</td>
		<td class='odd'><?= $this->data_producer->www != "" ? "<a href='http://".$this->data_producer->www."' target='_blank'>".$this->data_producer->www."</a>" : ""; ?></td>
	</tr>
	<?php if (is_null($this->data_producer->id_orders_carriers)): ?>
	<tr>
		<td style="width: 100px;">Činnost dodavatele:</td>
		<td ><?= $this->data_producer->activity; ?></td>
	</tr>
	<?php endif; ?>
	<tr>
		<td class='odd' style="width: 100px;">Poznámka:</td>
		<td class='odd'><?= $this->data_producer->description; ?></td>
	</tr>
        <tr>
            <td style="width: 100px;">Status:</td>
            <td style="<?= (($this->data_producer->is_active != 'y') ? 'color: red;' : ''); ?>"><?= (($this->data_producer->is_active == 'y') ? 'Aktivní' : 'Neaktivní'); ?></td>
        </tr>
</table>
<div><a href="<?php echo $this->baseUrl(); ?>/producers/edit/id/<?php echo $this->data_producer->id; ?>"
		   class="btn btn-primary"><i class="icon-pencil icon-white"></i> Upravit</a></div>
<hr>

<h4>Kontakty:</h4>
<table class="table table-bordered table-condensed">
	<tr>
		<th>Jméno</th>
		<th>Mobil</th>
		<th>Telefon</th>
		<th>Email</th>
                <th>Pozice old*</th>
		<th>Pozice</th>
		<th class="no-print">&nbsp;</th>
	</tr>
<?php
	foreach($this->persons as $person){
?>
	<tr class="lines">
		<td><?= $person->name; ?></td>
		<td><?= $person->phone; ?></td>
		<td><?= $person->phone2; ?></td>
		<td><?= $person->email != '' ? "<a href='mailto:".$person->email."'>$person->email</a>": ''; ?></td>
                <td><?= $person->position_old; ?></td>
		<td><?= $person->position; ?></td>
		<td class="no-print text-center" colspan="2">
			<a href="<?php echo $this->baseUrl()?>/producers/edit-person/id/<?php echo $person->id; ?>"
		   class="btn btn-primary" title="Upravit kontakt..."><i class="icon-pencil icon-white"></i></a>
      <a href="<?php echo $this->baseUrl()?>/producers/remove-person/id/<?php echo $this->data_producer->id; ?>/person/<?php echo $person->id; ?>"
		   class="btn btn-danger" title="Odstranit kontakt..." onclick="return confirm('Opravdu chcete tento kontakt odstranit?');"><i class="icon-remove icon-white"></i></a>
		</td>
	</tr>

<?php   }   ?>
	</table>

	<div>
		<a class="btn btn-primary" href="<?php echo $this->baseUrl(); ?>/producers/add-person/id/<?=$this->data_producer->id?>">
				<i class="icon-plus icon-white"></i> Přidat kontakt</a>
	</div>
<hr>

<?php
    if(count($this->parts->toArray()) > 0) {
?>
<h3>Součásti dodávané dodavatelem:</h3>

<table class="table table-condensed table-bordered">
	<tr>
		<th rowspan="2">ID</th>
		<th rowspan="2">Název</th>
    <th colspan="2">Označení dodavatele</th>
        <?php if (Zend_Registry::get('acl')->isAllowed('producers/special/price')): ?>
          <th colspan="1" rowspan="2" class="text-center">Cena dodavatele<br />[CZK]</th>
        <?php endif; ?>    
		<th rowspan="2" class="text-right">Min. počet</th>
		<th rowspan="2">&nbsp;</th>
	</tr>
  <tr>
		<th>ID</th>
		<th>název</th>
  </tr>
<?php
	$odd = false;
	foreach($this->parts as $part){
?>
	<tr <?php echo ($odd ?  "class='odd'" : ''); $odd = !$odd; ?>>
		<td style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?= $part->id ?>"><?= $part->id ?></a></td>
		<td style="text-align: left;"><?= $part->name ?></td>
		<td style="text-align: left;"><?= $part->producers_part_id ?></td>
		<td style="text-align: left;"><?= $part->producers_part_name ?></td>
        <?php if(Zend_Registry::get('acl')->isAllowed('producers/special/price')): ?>
          <td style="text-align: right;" title="dodavatele"><?= $part->producer_price; ?></td>
        <?php endif; ?>
		<td style="text-align: right;"><?= $part->min_amount? $part->min_amount : '--' ?></td>
		<td class="text-center">
            <a class="btn btn-primary" title="Upravit"
			   href="<?php echo $this->url(array(
           'controller' => 'producers',
           'action' => 'edit-part', 
           'id' => $part->pp_id), null, true);?>">
				<i class="icon-pencil icon-white"></i></a>
            <?php if(Zend_Registry::get('acl')->isAllowed('producers/delete-part')) { ?>
            <a class="btn btn-danger" title="Odstranit"
               onclick="return confirm('Opravdu chcete tuto součást smazat?');"
               href="<?php echo $this->url(array('controller' => 'producers','action' => 'delete-part', 'id' => $part->pp_id),null,true);?>">
                <i class="icon-trash icon-white"></i></a>
            <?php } ?>
        </td>
		<!--mohlo by byt i tady <td><a href="<?=$this->baseUrl()?>/producers/remove-part/part/<?=$part->id?>" onClick="return confirm('Opravdu chcete odebrat výrobci tuto součást?')"><img src="<?=$this->baseUrl()?>/public/images/delete.png" alt="odebrat výrobce"/></a></td> -->
	</tr>
<?php   }
    }
?>
</table>
<hr>

<?php
    if(count($this->operations) > 0) {
?>
<h4>Operace poskytované dodavatelem:</h4>
<br />
<table class="table table-condensed table-bordered">
	<tr>
		<th>ID</th>
		<th>Název</th>
		<th>Operace</th>
    <th class="text-right">Cena [CZK]</th>
    <th>&nbsp;</th>
	</tr>
<?php
	$odd = false;
	foreach($this->operations as $part){
?>
	<tr <?php echo ($odd ?  "class='odd'" : ''); $odd = !$odd; ?>>
		<td class="text-left"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?= $part["id"] ?>"><?= $part["id"] ?></a></td>
		<td class="text-left"><?= $part["name"] ?></td>
		<td class="text-left"><?= $part["o_name"] ?></td>
    <td class="text-right"><?= $part["o_price"] ?></td>
    <td class="text-center">
      <a href="<?=$this->baseUrl()?>/parts/edit-operation/id/<?= $part["o_id"]; ?>/part/<?= $part['id']; ?>/producer/<?= $this->data_producer->id; ?>"
         class="btn btn-primary"><i class="icon-pencil icon-white"></i></a>
      <a class="btn btn-danger" onclick="return confirm('Opravdu chcete tuto operaci odstranit?');"
         href="<?=$this->baseUrl()?>/parts/delete-operation/id/<?= $part["o_id"]; ?>/part/<?= $part['id']; ?>/producer/<?= $this->data_producer->id; ?>">
          <i class="icon-trash icon-white"></i></a>         
	</tr>
<?php   }
    }
?>
</table>

