<div class="row">
  <div class="span6">
    <h2><small>Detail dopravce</small><br>
      <?= $this->carrier->getName(); ?></h2>
    <table class="table table-bordered">
      <tr>
        <th colspan="2"><?= $this->carrier->getName(); ?></th>
      </tr>
      <tr>
        <th style="width: 100px;">Adresa:</th>
        <td ><?= $this->carrier->getAddress(); ?></td>
      </tr>
      <tr>
        <th class='odd' style="width: 100px;">Web:</th>
        <td class='odd'><?= $this->carrier->getWeb() != "" ? "<a href='https://" . $this->carrier->getWeb() . "' target='_blank'>" . $this->carrier->getWeb() . "</a>" : ""; ?></td>
      </tr>
      <tr>
        <th class='odd' style="width: 100px;">Tracking pattern:</th>
        <td class='odd'><?= $this->carrier->getTrackingPattern(); ?></td>
      </tr>

      <tr>
        <th class='odd' style="width: 100px;">Poznámka:</th>
        <td class='odd'><?= $this->carrier->getDescription(); ?></td>
      </tr>
            <tr>
                <th style="width: 100px;">Status:</th>
                <td style="<?= $this->carrier->isActive() ? 'color: red;' : ''; ?>"><?= $this->carrier->isActive() ? 'Aktivní' : 'Neaktivní'; ?></td>
            </tr>
    </table>

    <div class="btn-group no-print">
        <a href="<?= $this->url(['action' => 'edit-carrier', 'id' => $this->carrier->getId()]);?>" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Upravit</a>

        <a href="<?= $this->url(['action' => 'activate', 'status' => $this->carrier->isActive() ? 0 : 1]);?>?back=<?= base64_encode($this->url())?>"
           class="btn btn-<?= $this->carrier->isActive() ? 'danger' : 'success'; ?>"><i class="icon-<?= $this->carrier->isActive() ? 'remove' : 'plus'; ?> icon-white"></i> <?= $this->carrier->isActive() ? 'Deaktivovat' : 'Aktivovat'; ?></a>
    </div>
  </div>
  <div class="span6">


    <h3>Metody doručení</h3>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Název</th>
          <th class="text-right">Cena</th>
          <th class="text-right">Vloženo</th>
          <th class="no-print">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach($this->carrier->getDeliveries() as $delivery): ?>
        <tr class="<?= ($delivery->is_active == 'n') ? 'error no-print' : 'success' ?>">
          <td class="text-center">
            <i class="icon <?= ($delivery->is_active == 'y') ? 'icon-check' : 'icon-remove' ?>"></i>
          </td>
          <td><?= $delivery->name; ?></td>
          <td class="text-right"><?= $delivery->default_price; ?></td>
          <td class="text-right"><?= Meduse_Date::dbToForm($delivery->inserted); ?></td>
          <td class="text-center no-print">
            <a class="btn btn-mini btn-primary" href="<?= $this->url(array(
                'action' => 'edit-carrier-method',
                'id' => $delivery->id,
                'pid' => $delivery->id_producers,
              )); ?>">
              <i class="icon icon-white icon-pencil"></i> Upravit</a>
          </td>
        </tr>
        <?php endforeach; ?>
      </tbody>
    </table>
    <div class="no-print">
      <a class="btn btn-primary" href="<?php echo $this->baseUrl(); ?>/producers/add-carrier-method/id/<?= $this->carrier->getId(); ?>">
        <i class="icon-plus icon-white"></i> Přidat metodu</a>
    </div>
    <hr class="no-print">
    <h3>Kontakty</h3>
    <table class="table table-bordered table-condensed">
      <tr>
        <th>Jméno</th>
        <th>Mobil</th>
        <th>Telefon</th>
        <th class="no-print">&nbsp;</th>
      </tr>
      <?php foreach($this->carrier->getPersons() as $person): ?>
        <tr class="lines">
          <td><?= $person->name; ?></td>
          <td><?= $person->phone; ?></td>
          <td><?= $person->phone2; ?></td>
          <td class="no-print" colspan="2">
            <a href="<?php echo $this->baseUrl()?>/producers/edit-person/id/<?php echo $person->id; ?>/carrier/true"
             class="btn btn-mini btn-primary"><i class="icon-pencil icon-white"></i> Upravit</a>
          </td>
        </tr>
      <?php endforeach; ?>
    </table>
    <div class="no-print">
      <a class="btn btn-primary" href="<?php echo $this->baseUrl(); ?>/producers/add-person/id/<?= $this->carrier->getId(); ?>">
          <i class="icon-plus icon-white"></i> Přidat kontakt</a>
    </div>
  </div>
</div>

