<?php 	$acl = Zend_Registry::get('acl'); ?>
<br /><br />
<?php

echo $this->filter;

$permissionAllParts = Zend_Registry::get('acl')->isAllowed('producers/special/all-parts');
if($permissionAllParts){
?>
<p class="text-center">
<a class="btn btn-success btn-small" href="<?php echo $this->url(); ?>"><i class="icon icon-white icon-search"></i>&nbsp;Nové hledání</a>
</p>
<?php
}
?>

<p class="text-center">
Žluté pozadí mají dodavatelé, kteří maji přiřazenu alespoň 1 součást nebo operaci.
</p>
<?php if ($acl->isAllowed('producers/add')): ?>
<div style="margin-bottom: 45px;">
    <a class="btn btn-primary pull-right" href="<?php echo $this->baseUrl(); ?>/producers/add"><i class="icon-plus icon-white"></i> Přidat dodavatele</a>
</div>
<?php endif; ?>
<?php
	if($this->data && count($this->data) > 0) {
?>
<table class="datalist table table-hover table-bordered">
<?php
		$lastCtg = 2;
		foreach($this->data as $row){
			if(!$row->hasParts && !$row->hasOperations && !$permissionAllParts){
				continue;
			}
			if($lastCtg != $row->producer_ctg) {
				$lastCtg = $row->producer_ctg;
?>
	<tr><th colspan="7" class="text-center"><?php if (is_null($lastCtg)) echo "Bez kategorie"; else echo $row->producer_ctg; ?></th></tr>
	<tr>
		<th>Firma</th>
		<th>Adresa</th>
		<th>Činnost</th>
		<th>Poznámka</th>
		<th class="text-center">Dodavatel</th>
		<th class="text-center">Operace</th>
		<th>&nbsp;</th>
	</tr>
<?php
			}
?>
	<tr <?php if($row->hasParts || $row->hasOperations) echo "class='warning'"; ?>>
		<td class="nowrap"><?php if ($row->is_active == 'n'): ?><i title="Neaktivní" alt="Neaktivní" class="icon icon-ban-circle"></i>&nbsp;<?php endif; ?><a href="<?= $this->baseUrl();?>/producers/detail/id/<?= $row->id ?>"><?php echo $row->name; ?></a></td>
		<td class="nowrap"><?php echo $row->address; ?></td>
		<td><?php echo $row->activity; ?></td>
		<td><?php echo $row->description; ?></td>
		<td title="dodavatel?" class="text-center"><?php if($row->hasParts): ?><i title="Dodavatel dodává součásti" alt="Dodavatel dodává součásti" class="icon icon-ok" /></i><?php endif; ?></td>
		<td title="Operace?" class="text-center"><?php if($row->hasOperations): ?><i title="Aktivní" alt="Aktivní" class="icon icon-ok" /></i><?php endif; ?></td>
		<td>
			<div class="btn-group no-print">

				<a class="btn btn-small btn-primary dropdown-toggle" href="#" data-toggle="dropdown" alt="Operace">
					<i class="icon-wrench icon-white"></i>&nbsp;<span class="caret"></span>
				</a>
				<ul class="dropdown-menu text-left">
					<li><a href="<?= $this->baseUrl();?>/producers/edit/id/<?= $row->id ?>"><i class="icon icon-edit" alt="upravit" /></i>&nbsp;Upravit</a></li>
					<li><a href="<?= $this->baseUrl();?>/producers/delete/id/<?= $row->id ?>" onClick="return confirm('Opravdu chcete tohoto dodavatele odstranit?')"><i class="icon icon-remove"></i>&nbsp;Smazat</a></li>
				</ul>

			</div>


		</td>

	</tr>
<?php
		}
?>
</table>
<?php
	} else { ?><p class='text-center'>Žádné záznamy.</p>
<?php } ?>
