<h3>Objednávka součástí</h3>

<div id="filter" class="collapse <?= !$this->data ? 'in' : '' ?>">
<?php
	$this->ordersFilterForm($this->form);
	$this->boldCategorySelect();
?>
</div>

<div id="simple_content">
	<br/>
	<form action="<?=$this->baseUrl()?>/producers/show-order">
  <div class="text-center">  
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter">
    Výběr součástí
    </button>
    <input type="submit" class="btn btn-success" value="Zobrazit objednávku"><br /><br />
	</div>
    <?php	if ($this->show_report): ?>
    <?php	if ($this->data['rows']): ?>
  <table class="table table-condensed table-hover table-bordered sticky">
		<thead>
			<tr>
				<th rowspan="2">ID</th>
				<th rowspan="2">Název</th>
				<th class="text-center" colspan="3">Objednávka</th>
				<th class="text-center" rowspan="2">Rez.<br>[ks]</th>
				<th class="text-center" rowspan="2">Sklad<br>[ks]</th>
				<th class="text-center" rowspan="2">Volné<br>[ks]</th>
				<th class="text-center" rowspan="2">Chybí<br>central<br />[ks]</th>
				<th class="text-center" rowspan="2">Chybí<br>[ks]</th>
        <th class="text-center" rowspan="2">Operace<br>[min]</th>
				<th class="text-center" rowspan="2" colspan="2">Dodáno<br>[ks]</th>
				<th class="text-center" rowspan="2">Výroba<br>celkem</th>
				<th class="text-center" rowspan="2">Stav<br>po výrobě<br />[ks]</th>
				<th class="text-center" rowspan="2">Objednat<br>[ks]</th>
			</tr>
			<tr>
				<th class="text-center">Extra<br>acc.</th>
				<th class="text-center">Sety<br>dým</th>
				<th class="text-center" rowspan="2">Suma</th>
			</tr>
		</thead>
		<tbody>
    <?php	foreach($this->data['rows'] as $row): ?>
      <?php if ($row['_new_producer']): ?>
      <tr>
        <th colspan="16" class="section">
          <?= $row['producer_name'] ?? "Bez dodavatele" ?>
        </th>
      </tr>
      <?php endif; ?>
			<tr <?= $row['_polotovar'] === '' ? "class='lines'" : $row['_polotovar'] ?>>
				<!-- ID -->
				<td style="text-align: left; <?= $row['_bold'] ?>">
					<a href="<?= $this->url(array(
					  'controller' => 'parts',
					  'action' => 'detail',
					  'id' => $row['id'],
					 )) ?>" target="_blank" style="<?= $row['_blue'] ?>" ><?= $row['id'] ?></a>
				</td>
				<!-- Nazev -->
				<td style="text-align: left; width: 250px; <?= $row['_bold'] . $row['_blue'] ?>">
					<?= $row['name'] ?>
				</td>
				<!-- Extra acc -->
				<td class="text-right" title="objednávka extra acc. - má smysl pouze u produktů">
					<?= $row['product'] === 'y' ? $row['extra_amount'] : '' ?>
				</td>
				<!-- Sety dym -->
				<td class="text-right" title="objednávka sety dýmek - má smysl pouze u produktů">
					<?= $row['product'] === 'y' ? $row['sets_amount'] : '' ?>
				</td>
				<!-- Suma -->
				<td class="text-right" title="objednávka celkem = objednávka extra acc. + objednávka sety dýmek">
					<a href='javascript:showRelatedOrders("<?= $row['id'] ?>");'><?= $row['total_amount'] ?></a>
				</td>
				<!-- Rezervace -->
				<td class="text-right" title="rezervované součásti NOVĚ: VYBRANÝCH OBJEDNÁVEK">
					<?= $row['reserv_amount'] === 0 ? '' : $row['reserv_amount'] ?>
				</td>
				<!-- Sklad -->
				<td class="text-right" title="počet součástí skladem ve všech skladech">
					<b><?= $row['wh_amount'] ?></b>
				</td>
				<!-- VOLNE -->
				<td class="text-right" title="počet součástí které jsou navíc po odečtení vybraných objednávek od skladu">
					<?= $row['free_amount'] === 0 ? '' : $row['free_amount'] ?>
				</td>
				<!-- CHYBI CENTRAL -->
				<td class="text-right" title="součást chybí v centrálním skladu, ale je obsažena v externích skladech" <?= ($row['missing_central'] > 0) ? "style='background-color: orange;'" : "" ?>>
					<?= $row['missing_central'] === 0 ? '' : $row['missing_central'] ?>
				</td>
				<!-- CHYBI -->
				<td class="text-right" title="Počet součástí, který se musí objednat. Taky počet pro který se počítá počet podsoucástí k objednání." <?= ($row['missing_total'] > 0) ? "style='background-color: crimson; color: white;'" : "" ?>>
					<?= $row['missing_total'] === 0 ? '' : $row['missing_total'] ?>
				</td>
        <td class="text-right" title="Suma času vlastních operací">
          <?= $row['operation_time'] ?>
        </td>
				<!-- VYROBA -->
				<?php if ($row['production'] === '1'): ?>
				<td class="text-right" title="Dodáno ks"><?= $row['_prodAmount'] ?></td>
				<td class="text-right" title="Datum dodání"><?= $row['_prodDate'] ?></td>
				<td class="text-right" title="Celkový počet ks"><?= $row['_productionAmount'] ?></td>
				<?php else: ?>
				<td class="text-center" colspan="3">nezadáno</td>
				<?php endif; ?>
				<!-- STAV PO VYROBE -->
        <td class="text-right" title="Stav po výrobě ks">
          <?php if ($row['_productionAmount'] > 0): ?>
            <?php if ($row['_status'] < 0): ?>
            <span style='color: red'><?= $row['_status'] ?></span>
            <?php else: ?>
              <?= $row['_status'] ?>
            <?php endif; ?>
          <?php endif; ?>
				</td>
				<!-- OBJEDNAT -->
				<td style="white-space: nowrap; text-align: right;">
                    <label for="<?= $row['id'] ?>"></label><input type="text" id="<?= $row['id'] ?>"
                                                                  name="p_<?= $row['id'] ?>"
                                                                  value="<?= $row['_missingAfterProduction'] ?>"
                                                                  style="width: 3em;"/>&nbsp;ks
				</td>
			</tr>
    <?php endforeach; ?>
		</tbody>
	</table>
    <?php else: ?>
    <p class="text-center"><strong>Pro realizaci zvolených objednávek není potřeba objednávat výrobu žádných součástí.</strong></p>
    <?php endif; ?>
    <?php	if ($this->show_sums && $this->data['sums']): ?>
      <div class="row">
        <div class="span5 offset3">
          <h4 class="text-center">Celkové náklady na zvolené objednávky</h4>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th></th>
              <th class="text-right">Součásti ve výrobě</th>
              <th class="text-right">Součásti k objednání</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>pořízení</th>
              <td class="text-right"><?= Meduse_Currency::format($this->data['sums']['production_costs'], 'Kč') ?></td>
              <td class="text-right"><?= Meduse_Currency::format($this->data['sums']['ordered_costs'], 'Kč') ?></td>
            </tr>
            <tr>
              <th>operace</th>
              <td class="text-right"><?= Meduse_Currency::format($this->data['sums']['production_operations'], 'Kč') ?></td>
              <td class="text-right"><?= Meduse_Currency::format($this->data['sums']['ordered_operations'], 'Kč') ?></td>
            </tr>
            <tr>
              <th colspan="3" class="text-right">Celkový čas na zpracování</th>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                <?= $this->data['sums']['time_total'] ?> min
                ~ <strong><?= sprintf('%01.2f', $this->data['sums']['time_total'] / 60) ?> h</strong>
                <?php if ($this->data['sums']['time_total'] >= 480): ?>
                  <br>(<?= sprintf('%01.2f', $this->data['sums']['time_total'] / 480) ?> dnů pracovníka)
                <?php endif; ?>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    <?php endif; ?>
    <?php endif; ?>
	</form>
	<br /><br />

  <?php if ($this->showStrategicCost): ?>
  <div class="row">
    <div class="span5 offset3">
      <h4 class="text-center">Náklady na strategické objednávky</h4>
      <table class="table table-bordered table-condensed">
        <tr>
          <th>Celkem</th>
          <td class="text-right"><?= Meduse_Currency::format($this->strategicPrice, 'Kč', 0) ?></td>
        </tr>
        <tr>
          <th>Operace</th>
          <td class="text-right"><?= Meduse_Currency::format($this->strategicOperation, 'Kč', 0) ?></td>
        </tr>
        <tr>
          <th>Pracnost</th>
          <td class="text-right"><?= $this->strategicTime ?> min
            ~ <strong><?= sprintf('%01.2f h', $this->strategicTime / 60) ?></strong>
            <?php if ($this->strategicTime >= 480): ?>
              <br>(<?= sprintf('%01.1f', $this->strategicTime / 480) ?> dnů pracovníka)
            <?php endif; ?>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <?php endif; ?>
</div>


<div id="dialog"></div>

<script type="text/javascript">

        const $dialog = $('#dialog');
		$dialog.dialog({ autoOpen: false });

		function showRelatedOrders(id) {
            let html, date;

            $dialog.dialog("option", "title", 'Součást ' + id + ' se vyskytuje:');
			$.getJSON("<?php echo $this->baseUrl(); ?>/parts/ajax-get-related-orders/id/" + id + "<?= (!empty($this->orders)) ? '/orders/' . implode('+', $this->orders) : '' ?>")
				.done(function(data) {
					if (data.result === 'ko') {
                        $dialog.text(data.message);
					} else {
						html = '<ul style="margin-left: 2em;">';
						$.each(data.data, function(i, item) {
							date = item['deadline'].split('-');
							html += '<li style="margin-bottom: 1em;"><strong><a href="/orders/detail/id/' + item.id + '">'
									+ item.title + ' (#' + item['no'] + ')</a></strong><br />počet kusů: <strong>'
									+ item.amount + '</strong><br />deadline: <strong>'
									+ date[2] + '.' + date[1] + '.' + date[0]+ '</strong></li>';
						});
						html += '</ul>';
                        $dialog.html(html);
					}
                    $dialog.dialog('open');
				})
				.fail(function() {
					console.log('fail');
				});
		}

</script>
<style>
  .section {
    background-color: #DDD;
  }
  .table-bordered input {
    margin-bottom: 0;
    padding: 0 2px;
    text-align: right;
  }
</style>