	<div class="row">
		<div class="span6 offset3">
			<h3>Zadání výroby</h3>
		</div>
	</div>
    <br />

	<form action="<?php echo $this->url(array('action' => 'add-multiple-productions', 'controller' => 'producers'), null, true) ?>" method="post">
	<input type="hidden" value="t" name="production" id="production"/>


<?php
if(!$this->more_producers ){
?>
		<div class="row">
		<div class="span3 offset3">
			<div class="well">
				<b>Odběratel</b><br /><br />
				MEDUSE DESIGN s. r. o.<br />
				Puškinova 30<br />
				616 00 Brno
			</div>
		</div>
		<div class="span3">

<?php
if($this->producer_data){
?>
			<div class="well">
			<b>Dodavatel</b><br /><br />
				<?php echo  isset($this->producer_data->name) ? $this->producer_data->name : '' ?><br />
				<?php echo  isset($this->producer_data->addr_street) ? $this->producer_data->addr_street : '' ?><br />
				<?php echo  isset($this->producer_data->addr_zip) ? $this->producer_data->addr_zip : '' ?> <?php echo   isset($this->producer_data->addr_city) ? $this->producer_data->addr_city : ''  ?><br />
<?php
}
?>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset3">
		<h4>Položky objednávky:</h4>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Kód</th>
					<th>Název</th>
					<th style="text-align: right;">Počet</th>
				</tr>
			</thead>
<?php
foreach($this->parts as $part){
?>
		<tr>
			<td>
				<b><?php echo $part['id']; ?></b>
			</td>
			<td>
				<?php echo $part['name']; ?>
				<?php if(isset($part['p_id']) && ($part['p_id'] || $part['p_name'])): ?>
                    ( <?php echo $part['p_id']; ?> <?php echo $part['p_name']; ?> )
				<?php endif; ?>
				<?php if(isset($part['operation'])) echo " ( Operace: ".$part['operation']." ) "; ?>
			</td>
			<td style="text-align: right;">
				<?php echo  $part['amount'] ?> ks
				<?php if(isset($part['operation'])): ?>
				<input type="hidden" value="<?php echo  $part['amount'] ?>" id="operation_<?php echo $part['operation_id']; ?>" name="operation_<?php echo $part['operation_id']; ?>" />
				<?php else: ?>
				<input type="hidden" value="<?php echo  $part['amount'] ?>" id="part_<?php echo $part['id']; ?>" name="part_<?php echo $part['id']; ?>" />
				<?php endif; ?>
			</td>
		</tr>

<?php
}
?>			</table>
		<label><input type="checkbox" name="production_merge" id="production_merge" />&nbsp;Sloučit s výrobou</label>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset3">
			<div id="merge_prod" class="well" style="display: none;">
					<?php if($this->productions && count($this->productions) > 0): ?>
						<table>
							<?php foreach($this->productions as $production): ?>
							<tr>
								<td>
									<input type="radio" name="production_id" value="<?php echo $production->id_productions ?>" />
								</td>
								<td>
									<?php echo $production->name.', datum zadání: '. $this->dateFromDb($production->date_ordering); ?>
								</td>
							</tr>
							<?php endforeach; ?>
						</table>
					<?php endif; ?>
			</div>
			<div id="new_prod" class="well">
				<?php echo $this->form->meduse_production_ordering ?>
                <?php echo $this->form->meduse_production_delivery ?>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset3">
			<input class="btn btn-primary" type="submit" id="Odeslat" value="Zadat výrobu"/>
		</div>
	</div>
	<input type="hidden" value="<?php if( $this->producer_data) echo  $this->producer_data->id ?>" name="producer" />
	</form>

<script type="text/javascript">
$(document).ready(function(){
	$("#production_merge").click(function(){
		if($(this).is(':checked')){
			$("#new_prod").hide();
			$("#merge_prod").show();
			if(!$("[name='production_id']:checked").val()){
				$("[name='production_id']:first").click();
				$("#Odeslat").val('Sloučit výrobu');
			}
		} else {
			$("#new_prod").show();
			$("#merge_prod").hide();
			$("[name='production_id']").removeAttr("checked");
			$("#Odeslat").val('Zadat výrobu');
		}
	});
});
</script>

<?php
} else {
	//vice vyrobcu
?>
<div class="row">
	<div class="span6 offset3">
		<h3>Vyberte dodavatele:</h3>
		<?php
			$TProducers = new Table_Producers();
			foreach($this->producers as $producer){
				if($tmpProd = $TProducers->find($producer)->current()){
		?>
		<br /><a href="<?php echo  $_SERVER["REQUEST_URI"] ?>&prdcr=<?php echo  $tmpProd->id ?>"><?php echo  $tmpProd->name ?></a><br />
		<?php
				} else {
		?>
		<br /><a href="<?php echo  $_SERVER["REQUEST_URI"] ?>&prdcr=null">Bez dodavatele</a><br />
		<?php
				}
			}
		}
		?>
	</div>
</div>