<style>
    .table tr th {
        background-color: #EBEBEB;
    }
</style>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span8">
        <div><a class='btn btn-success btn-small' href="<?= $this->url([
            'controller' => 'parts',
            'action' => 'productions',
            'id' => NULL,
          ]); ?>"><i class="icon icon-backward icon-white"></i>&nbsp;Zpět na přehled</a></div>
        <h3><?= $this->title; ?></h3>
      </div>
      <div class="span4 no-print">
        <?php if ($this->details['status'] == 'open'): ?>
          <div class="btn-group no-print pull-right">
            <a href="#" data-toggle="dropdown"
               class="btn btn-primary btn-small dropdown-toggle">
              <i class="icon-wrench icon-white"></i> Operace s výrobou
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu text-left">
              <li><a href="<?= $this->url([
                  'controller' => 'producers',
                  'action' => 'add-delivery',
                  'production' => $this->details['id'],
                  'id' => NULL,
                ]); ?>">Nový dodací list</a></li>
              <li><a href="<?= $this->url([
                  'controller' => 'producers',
                  'action' => 'edit-productions-header',
                  'production' => $this->details['id'],
                  'id' => NULL,
                ]); ?>">Upravit</a></li>
              <li><a href="<?= $this->url([
                  'controller' => 'producers',
                  'action' => 'close-production',
                  'id' => $this->details['id'],
                ]); ?>">Uzavřít výrobu</a></li>
              <li><a href="<?= $this->url([
                  'export' => TRUE,
                ]); ?>">Export</a></li>
            </ul>
          </div>
        <?php endif; ?>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <?php echo $this->details['name'] ?> objednávka
        z <?= $this->dateFromDb($this->details['date_ordering']); ?>
        <?php if ($this->details['username']): ?>
        — vloženo uživatelem <?= $this->details['username']; ?>
        <?php endif; ?>
      </div>
    </div>
    <?php if ($this->details['status'] != 'open'): // vyroba je uzavrena ?>
      <div class="alert" style="margin-top: 20px;">Tato výroba je již uzavřená
      </div>
    <?php endif; ?>
    <div>
      <table class="table table-condensed">
        <tr>
          <th rowspan="2">ID</th>
          <th rowspan="2">Název</th>
          <th colspan="2">Označení dodavatele</th>
          <?php if ($this->special_price_allowed): ?>
            <th rowspan="2" class="text-right">Cena<br>[CZK]</th>
          <?php endif; ?>
          <th rowspan="2" class="text-center">Objednávka<br>[ks]</th>
          <?php if ($this->deliveries_count): ?>
            <th colspan="<?= $this->deliveries_count ?>" class="text-center">
              Dodávka ke dni
            </th>
          <?php endif; ?>
          <th rowspan="2" class="text-center">
            <?php if ($this->details['status'] == 'open'): ?>
              Chybí dodat<br>[ks]
            <?php else: ?>
              Nedodáno<br>[ks]
            <?php endif; ?>
          </th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Název</th>
          <?php if ($this->deliveries_count): ?>
            <?php foreach ($this->deliveries as $deliveryDate => $delivery): ?>
              <th
                class="text-center">
                <?= $this->dateFromDb($deliveryDate); ?><?= $delivery['user'] ? ' / ' . $delivery['user'] : '' ?>
              </th>
            <?php endforeach; ?>
          <?php endif; ?>
        </tr>
        <?php foreach ($this->parts as $part): ?>
          <tr>
            <td><a href="<?= $this->url([
                'controller' => 'parts',
                'action' => 'detail',
                'id' => $part['id_parts'],
              ]); ?>"><?php echo $part['id_parts'] ?></a></td>
            <td class="text-left"><?= $part['name'] ?></td>
            <td
              class="text-left"><?= $this->TProducers->getPartId($this->details['id_producers'], $part['id_parts']) ?></td>
            <td
              class="text-left"><?= $this->TProducers->getPartName($this->details['id_producers'], $part['id_parts']) ?></td>
            <?php if ($this->special_price_allowed): ?>
              <td class="text-right"><?= $part['producer_price'] ?></td>
            <?php endif; ?>
            <td class="text-center">
              <a href="<?= $this->url([
                'controller' => 'parts',
                'action' => 'edit-productions',
                'production' => $part['id_productions_parts'],
                'id' => NULL,
              ]); ?>"><?php echo intval($part['amount']); ?></a>
            </td>

            <!-- dodaci listy -->
            <?php if ($this->deliveries_count): ?>
              <?php foreach ($this->deliveries as $delivery): ?>
                <td class="text-center">
                  <?php if (isset($delivery['parts'][$part['id_parts']])): ?>
                    <?= $delivery['parts'][$part['id_parts']]; ?>
                  <?php endif; ?>
                </td>
              <?php endforeach; ?>
            <?php endif; ?>
            <!-- dodaci listy -->

            <td class="text-center"
                style="color: red;"><?= $part['amount_remain'] < 0 ? 0 : intval($part['amount_remain']); ?></td>
          </tr>
        <?php endforeach; ?>
      </table>
    </div>
  </div>
</div>

