<br/><br/><h4>Detail produktu</h4><br/><br/>
<?php 
if($this->product) {
	
	if($this->product->getDirectChildParts() === NULL){
		echo "<h1 style='color: red;'>CHYBA: produkt nemá přiřazené žádné součásti.<br />Musí obsahovat minimálně jednu součást s id stejným jako id produktu.</h1><br /><br />";
	}
	
?>
<table style="text-align: left; width: 300px;" class="datalist">
	<tr><th colspan="2"><?= $this->product->getName(); ?> - detail</th></tr>
	<tr>
		<td style="width: 10px;">ID:</td>
		<td colspan="5"><?= $this->product->getID(); ?></td>
	</tr>
	<tr>
		<td class='odd' style="width: 10px;">Kolekce:</td>
		<td class='odd' colspan="5"><?= $this->product->getCollectionName(); ?></td>
	</tr>
	<tr>
		<td>Název:</td>
		<td><?= $this->product->getName(); ?></td>
	</tr>
	<tr>
		<td class='odd'>Typ:</td>
		<td class='odd'><?= $this->product->getTypeName(); ?></td>
	</tr>
	<tr>
		<td>Poznámka:</td>
		<td><pre><?= $this->product->getDesc(); ?></pre></td>
	</tr>
	<!--
	<tr>
		<td class='odd' style="width: 10px;">Skladem:</td>
		<td class='odd'><?= ''//$this->amount ?> ks</td>
	</tr>
	-->
<?php
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Cena soucasti
if(isset($_SESSION['Zend_Auth']['user_role']) && in_array($_SESSION['Zend_Auth']['user_role'], array('manager','admin'))){
	$price = 0;
	foreach($this->product->getDirectChildParts() as $soucast){
		$tmp_part = new Parts_Part($soucast['id']);
		$price += $soucast['amount'] * $tmp_part->getPrice();
	}

?>
	<tr>
		<td class='odd'>Cena:</td>
		<td class='odd'>
			<?php echo number_format($price, 2, ',', ' '); ?> ks 
		</td>
	</tr>
<?php
}
// Cena soucasti
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
?>
	<tr><th colspan="2"  style="text-align: center;"><a href="<?=$this->baseUrl()?>/products/save-as/id/<?=$this->product->getID()?>">uložit jako</a> | <a href="<?=$this->baseUrl()?>/products/edit/id/<?=$this->product->getID()?>"><span>upravit <img border="0" src="<?=$this->baseUrl()?>/public/images/edit.png" /></span></a></th></tr>
</table>
<?php
	/**
	 * Soucasti produktu
	 */
	if($this->product->getDirectChildParts() !== NULL){
?>
<br /><br /><br />
<table class="datalist">
	<tr><th colspan="2">Součásti:</th><th>Počet</th><th>&nbsp;</th></tr>
<?php 
		$odd = false;
		$last_ctg = -1;
		foreach($this->product->getDirectChildParts() as $part){
			if($last_ctg == -1 || $last_ctg != $part['ctg']){
?>
	<tr><th colspan="4"><?= $this->categories[$part['ctg']]['name']?></th></tr>
<?php
			}
			$last_ctg = $part['ctg'];
			$odd = !$odd;
?>
	<tr>
		<td <?= ($odd ? "class='odd'" : '') ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$part['id']?>"><?=$part['id']?></a></td>
		<td <?= ($odd ? "class='odd'" : '') ?> style ="width: 300px; text-align: left;" ><?=$part['name']?></td>
		<td <?= ($odd ? "class='odd'" : '') ?> ><a href="<?=$this->baseUrl()?>/products/edit-amount/id/<?=$this->product->getID()?>/part/<?=$part['id']?>"><?=$part['amount']?>x</a></td>
		<td <?= ($odd ? "class='odd'" : '') ?> style="text-align: center;"><a href="<?=$this->baseUrl()?>/products/delete-part/id/<?=$this->product->getID()?>/part/<?=$part['id']?>" onClick="return confirm('Opravdu chcete tuto součást z produktu odstranit?')"><img src="<?=$this->baseUrl()?>/public/images/delete.png" alt="smazat" title="smazat součást z produktu" /></a></td>
	</tr>
<?php 
		} 
				if(false && $this->product->getSubSetsParts() !== NULL){
?>
<!-- 
	<tr><th colspan="4">Obsažené sety součástí:</th></tr>
<?php 
		$odd = false;
		$last_ctg = -1;
		foreach($this->product->getSubSetsParts() as $set_id => $set_parts){
			$set_product = new Products_Product($set_id);

			//foreach($set_parts as $set_part){
				$odd = !$odd;
?>
	<tr>
		<td <?= ($odd ? "class='odd'" : '') ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/products/detail/id/<?=$set_product->getID()?>"><?=$set_product->getID()?></a></td>
		<td <?= ($odd ? "class='odd'" : '') ?> style ="width: 300px; text-align: left;" ><?=$set_product->getName()?></td>
		<td <?= ($odd ? "class='odd'" : '') ?> >1x</td>
		<td <?= ($odd ? "class='odd'" : '') ?> ><a href="<?=$this->baseUrl()?>/products/delete-set/id/<?=$this->product->getID()?>/set/<?=$set_id?>" onClick="return confirm('Opravdu chcete tento set z produktu odstranit?')"><img src="<?=$this->baseUrl()?>/public/images/delete.png" alt="smazat" /></a></td>
	</tr>
<?php 
			//}
		}
		//	if($last_ctg == -1 || $last_ctg != $part['ctg']){
?>
	<tr><th colspan="4"><a href="<?=$this->baseUrl()?>/products/select-set/id/<?=$this->product->getID()?>">Přidat set součástí</a></th></tr>
-->
<?php 
	} else {
?>
<!-- <tr><th colspan="4"><a href="<?=$this->baseUrl()?>/products/select-set/id/<?=$this->product->getID()?>">Přidat set součástí</a></th></tr> -->
<?php 
	}
?>
	<tr><th colspan="4"><a href="<?=$this->baseUrl()?>/products/select-parts/product/<?=$this->product->getID()?>">Přidat součást</a></th></tr>
</table>
<?php 
	} else {	
?>
<br /><br /><a href="<?=$this->baseUrl()?>/products/select-parts/product/<?=$this->product->getID()?>">Přidat součást</a>
<?php	
	}
	
	/**
	 * Soucasti setu produktu (neprimo vazane soucasti)
	 */

	
	
	/**
	 * Pocty obalu produktu
	 */
	if($this->product->getWraps() !== NULL && count($this->product->getWraps()) > 0){
?>



<!-- 
<br /><br /><br />
<table class="datalist">
	<tr><th colspan="2">Obaly celkem:</th><th>Počet</th></tr>
<?php

	$odd = false;
	if(false) foreach($this->product->getWrapsCounts() as $wrap){
		$odd = !$odd;
?>
	<tr>
		<td <?= ($odd ? "class='odd' " : '') ?>style="text-align: left;"><a href="<?=$this->baseUrl()?>/wraps/detail/id/<?=$wrap['id']?>"><?=$wrap['id']?></a></td>
		<td <?= ($odd ? "class='odd' " : '') ?>style ="width: 300px; text-align: left;" ><?=$wrap['name']?></td>
		<td <?= ($odd ? "class='odd' " : '') ?>><a href="<?=$this->baseUrl()?>/products/edit-wrap-amount/id/<?=$this->product->getID()?>/wrap/<?=$wrap['id']?>"><?=$wrap['amount']?>x</a></td>
	</tr>
<?php 
	}		
?>
	<tr><th colspan="3"><a href="<?= $this->baseUrl();?>/products/pack/id/<?= $this->product->getID(); ?> ">Přidat obal</a></th></tr>
</table>
	
<?php
	} else {	
?>
<br /><br /><br /><a href="<?= $this->baseUrl();?>/products/pack/id/<?= $this->product->getID(); ?> ">Přidat obal</a>
<?php
	}
?>
 -->
 
 
 
<?php 
	
	/**
	 * Obaly produktu
	 */
	if($this->product->getWraps() !== NULL && count($this->product->getWraps()) > 0){
?>

<br /><br /><br />
<table class="datalist">
	<tr><th colspan="2">Obaly:</th><th>Počet</th><th colspan="2">&nbsp;</th></tr>
	
<?php

	$odd = false;
	
	foreach($this->product->getWraps() as $wrap){
		$odd = !$odd;
?>
	<tr>
		<td <?= ($odd ? "class='odd' " : '') ?> style="text-align: left;" <?php  if($this->product->getWrapParts($wrap['id'])!== NULL) echo "rowspan='2'";?>><a href="<?=$this->baseUrl()?>/wraps/detail/id/<?=$wrap['id_wraps']?>"><?=$wrap['id_wraps']?></a></td>
		<td <?= ($odd ? "class='odd' " : '') ?> style ="width: 300px; text-align: left;" ><?=$wrap['name']?></td>
<?php
		if($this->product->getWrapParts($wrap['id']) !== NULL){
?>
		<td <?= ($odd ? "class='odd' " : '') ?>><?=$wrap['amount']?>x</td>
<?php
		} else {
?>
		<td <?= ($odd ? "class='odd' " : '') ?>><a href="<?=$this->baseUrl()?>/products/edit-wrap-amount/id/<?=$this->product->getID()?>/wrap/<?=$wrap['id_wraps']?>/rel/<?=$wrap['id']?>"><?=$wrap['amount']?>x</a></td>
<?php 
		} 
?>
		<!-- prirazovani soucasti obalu-->
		<td <?= ($odd ? "class='odd' " : '') ?> style="text-align: center;">
<?php
		if($wrap['amount'] == 1){
?>
			<a href="<?= $this->baseUrl();?>/products/select-parts/product/<?= $this->product->getID(); ?>/wrap/<?=$wrap['id']?>"><img src="<?=$this->baseUrl()?>/public/images/add.png" alt="přiřadit obalu součásti" title="přiřadit obalu součásti" /></a>
<?php
		}
?>
		</td>

		<!-- mazani obalu-->
		<td <?= ($odd ? "class='odd' " : '') ?> style="text-align: center;">
			<a href="<?= $this->baseUrl();?>/products/delete-wrap/id/<?= $this->product->getID(); ?>/wrap/<?=$wrap['id']?>" onClick="return confirm('Opravdu chcete tento obal z produktu odstranit?')"><img src="<?=$this->baseUrl()?>/public/images/delete.png" alt="smazat" title="smazat obal" /></a>
		</td>


	</tr>
<?php
		if(($parts = $this->product->getWrapParts($wrap['id'])) !== NULL){
?>
	<tr>
		
		<td <?= ($odd ? "class='odd' " : '') ?> colspan="4" style ="width: 300px; text-align: left;" >
		<table>
<?php
			foreach($parts as $part){
?>
				<!-- <a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$part['id_parts']?>"><?=$part['id_parts']?></a> - <?=$part['name']?> <?=$part['amount']?>x<br /> -->
				<tr>
					<td style="width: 300px; border: 1px solid <?php echo ($odd ? "white" : 'silver');?>;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$part['id_parts']?>"><?=$part['id_parts']?></a> - <?=$part['name']?></td>
					<td style="border: 1px solid <?php echo ($odd ? "white" : 'silver');?>;"><?=$part['amount']?>x</td>
				</tr>
<?php		
			}
?>
		</table>
		</td>
	</tr>
<?php
		}
	}		
?>
	<tr><th colspan="5"><a href="<?= $this->baseUrl();?>/products/pack/id/<?= $this->product->getID(); ?> ">Přidat obal</a></th></tr>
</table>
<?php
		
	}
}
?>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
