<br/><br/><h4>Přehled produktů</h4><br/><br/>

<div class="box_header parts_box">Craft collection</div>
<div class="box parts_box">
	<a href="<?=$this->baseUrl()?>/products/overview/type/craft-sets">Sety dýmek</a><br /><br />
	<a href="<?=$this->baseUrl()?>/products/overview/type/craft-acc">Accessories</a><br />
</div>
<br />
<div class="box_header parts_box">Sepia collection</div>
<div class="box parts_box">
<a href="<?=$this->baseUrl()?>/products/overview/type/sepia-sets">Sety dýmek</a><br /><br />
<a href="<?=$this->baseUrl()?>/products/overview/type/sepia-acc">Accessories</a>
</div>