
<br/><br/>
<h4>Multieditace produktů</h4><br/>
<b>1. Výběr produktu</b> &raquo; 2. Příklad úpravy &raquo; 3. Výběr produktů &raquo; 4. Potvrzení změny
<br/><br/>
<br/><br/>

<?php
if(!$this->type){
?>

<a href="<?=$this->baseUrl()?>/products/multi-edit/type/craft-sets">Craft collection - sety dýmek</a><br /><br />
<a href="<?=$this->baseUrl()?>/products/multi-edit/type/craft-acc">Craft collection - accessories</a><br /><br />
<a href="<?=$this->baseUrl()?>/products/multi-edit/type/sepia-sets">Sepia collection - sety dýmek</a><br /><br />
<a href="<?=$this->baseUrl()?>/products/multi-edit/type/sepia-acc">Sepia collection - accessories</a><br />

<?php
} else {
?>
<table class="datalist">
	<thead>
		<tr>
			<th>ID</th>
			<th>Název</th>
			<th>Popis</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
<?php
	foreach($this->data as $id => $type){
		$i=0;
?>
		<tr><th colspan="4" class="section"><?= $this->col." - ".$this->types[$id]['name'] ?></th></tr>
<?php
		foreach($type as $row){
		$class = ($i++ % 2) ? " class='odd'" : '';
?>
		<tr>
			<td<?= $class ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/products/detail/id/<?=$row['id']?>"><?= $row['id']?></a></td>
			<td<?= $class ?> style="text-align: left;"><?= $row['name']?></td>
			<td<?= $class ?> style="text-align: left;"><?= substr($row['description'], 0, 30) ?></td>
			<td<?= $class ?>><a href="<?=$this->baseUrl()?>/products/multi-edit2/id/<?=$row['id']?>">upravit</a></td>
		</tr>
<?php
		}
	}
?>
	</tbody>
</table>
<?php
}
?>
<br/><br/>
