<br/><br/>
<h4>Multieditace produktů</h4><br/>
1. Výběr produktu &raquo; 2. Příklad úpravy &raquo; <b>3. Výběr produktů</b> &raquo; 4. Potvrzení změny
<br/><br/>Výběr produktů pro aplikaci předchozí změny<br />
<a id="select_all_checkboxex" href="javascript:;">označit všechny</a> | <a id="deselect_all_checkboxex" href="javascript:;">zrušit všechny označené</a><br />
<br />
<form action="<?= $this->baseUrl();?>/products/multi-edit4" method="post">
<table class="datalist">
	<tr><th>&nbsp;</th><th>ID</th><th>Jméno</th><th>Popis</th></tr>
<?php
	$odd = false;
foreach($this->products as $product){
	$odd = !$odd;
	$class = $odd ? " class='odd'" : '';
?>
	<tr name="<?= $product['id']?>_line" <?= $class ?>>
		<td><input type="checkbox" name="product<?= $product['id']?>" value="<?= $product['id']?>" /></td>
		<td><?= $product['id']?></td>
		<td><?= $product['name']?></td>
		<td><?= $product['description']?></td>
	</tr>
<?php
}
?>
	<tr><td colspan="4"><input type="submit" id="Hledat" value="Potvrdit výběr" /></td></tr>
</table>
</form>
<br /><br />

<script type="text/javascript">
<!--

$(document).ready(function() {
	jQuery("#select_all_checkboxex").mousedown(function(){
		jQuery("[type=checkbox]").attr('checked', true);
		jQuery("[type=checkbox]").parent().parent().attr('style', "background-color: yellow;");
	});
	jQuery("#deselect_all_checkboxex").mousedown(function(){
		jQuery("[type=checkbox]").attr('checked', false);
		jQuery("[type=checkbox]").parent().parent().removeAttr('style');
	});
});



$(document).ready(function() {
	jQuery("input,[type=text]").change( function() {
		if($(this).val() > 0){
			if(jQuery("[name='"+$(this).attr('value')+"']").attr('checked') == false){
				jQuery("[name='"+$(this).attr('value')+"']").attr('checked', true);
				jQuery("[name='"+$(this).attr('value')+"_line']").attr('style', "background-color: yellow;");
				jQuery("[name='set_"+$(this).attr('value')+"_line']").attr('style', "background-color: yellow;");
			}
		}
	});

	jQuery("[type=checkbox]").click( function() {
		if($(this).attr('checked') == false){
			jQuery("[name='"+$(this).attr('value')+"_line']").removeAttr('style');
		} else {
			jQuery("[name='"+$(this).attr('value')+"_line']").attr('style', "background-color: yellow;");
		}
	});
});

//-->
</script>
