<br/><br/>
<h4>Multieditace produktů</h4><br/>
1. Výběr produktu &raquo; <b>2. Příklad úpravy</b> &raquo; 3. Výběr produktů &raquo; 4. Potvrzení změny
<br/><br/><br />
<table style="text-align: left; width: 300px;" class="datalist">
	<tr><th colspan="2"><?= $this->product->getName(); ?> - detail</th></tr>
	<tr>
		<td style="width: 10px;">ID:</td>
		<td colspan="5"><?= $this->product->getID(); ?></td>
	</tr>
	<tr>
		<td class='odd' style="width: 10px;">Kolekce:</td>
		<td class='odd' colspan="5"><?= $this->product->getCollectionName(); ?></td>
	</tr>
	<tr>
		<td>Název:</td>
		<td><?= $this->product->getName(); ?></td>
	</tr>
	<tr>
		<td class='odd'>Typ:</td>
		<td class='odd'><?= $this->product->getTypeName(); ?></td>
	</tr>
	<tr>
		<td>Poznámka:</td>
		<td><pre><?= $this->product->getDesc(); ?></pre></td>
	</tr>
	<tr><th colspan="2"  style="text-align: center;">&nbsp;</th></tr>
</table>
<?php
	/**
	 * Soucasti produktu
	 */
	if($this->product->getDirectChildParts() !== NULL){
?>
<br /><br />
<table class="datalist">
	<tr><th colspan="2">Součásti:</th><th>Počet</th><th>&nbsp;</th></tr>
<?php
		$odd = false;
		$last_ctg = -1;
		foreach($this->product->getDirectChildParts() as $part){
			if($last_ctg == -1 || $last_ctg != $part['ctg']){
?>
	<tr><th colspan="4"><?= $this->categories[$part['ctg']]['name']?></th></tr>
<?php
			}
			$last_ctg = $part['ctg'];
			$odd = !$odd;
?>
	<tr>
		<td <?= ($odd ? "class='odd'" : '') ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$part['id']?>"><?=$part['id']?></a></td>
		<td <?= ($odd ? "class='odd'" : '') ?> style ="width: 300px; text-align: left;" ><?=$part['name']?></td>
		<td <?= ($odd ? "class='odd'" : '') ?> ><a href="<?=$this->baseUrl()?>/products/edit-amount/id/<?=$this->product->getID()?>/part/<?=$part['id']?>/multiedit/true"><?=$part['amount']?>x</a></td>
		<td <?= ($odd ? "class='odd'" : '') ?> style="text-align: center;"><a href="<?=$this->baseUrl()?>/products/multi-edit3/id/<?=$this->product->getID()?>/type/delete-part/part/<?=$part['id']?>" ><img src="<?=$this->baseUrl()?>/public/images/delete.png" alt="smazat" title="smazat součást z produktu" /></a></td>
	</tr>
<?php
		}
				if(false && $this->product->getSubSetsParts() !== NULL){
?>
<!--
	<tr><th colspan="4">Obsažené sety součástí:</th></tr>
<?php
		$odd = false;
		$last_ctg = -1;
		foreach($this->product->getSubSetsParts() as $set_id => $set_parts){
			$set_product = new Products_Product($set_id);

			//foreach($set_parts as $set_part){
				$odd = !$odd;
?>
	<tr>
		<td <?= ($odd ? "class='odd'" : '') ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/products/detail/id/<?=$set_product->getID()?>"><?=$set_product->getID()?></a></td>
		<td <?= ($odd ? "class='odd'" : '') ?> style ="width: 300px; text-align: left;" ><?=$set_product->getName()?></td>
		<td <?= ($odd ? "class='odd'" : '') ?> >1x</td>
		<td <?= ($odd ? "class='odd'" : '') ?> ><a href="<?=$this->baseUrl()?>/products/delete-set/id/<?=$this->product->getID()?>/set/<?=$set_id?>" onClick="return confirm('Opravdu chcete tento set z produktu odstranit?')"><img src="<?=$this->baseUrl()?>/public/images/delete.png" alt="smazat" /></a></td>
	</tr>
<?php
			//}
		}
		//	if($last_ctg == -1 || $last_ctg != $part['ctg']){
?>
	<tr><th colspan="4"><a href="<?=$this->baseUrl()?>/products/select-set/id/<?=$this->product->getID()?>">Přidat set součástí</a></th></tr>
-->
<?php
	} else {
?>
<!-- <tr><th colspan="4"><a href="<?=$this->baseUrl()?>/products/select-set/id/<?=$this->product->getID()?>">Přidat set součástí</a></th></tr> -->
<?php
	}
?>
	<tr><th colspan="4"><a href="<?=$this->baseUrl()?>/products/multi-edit-add/<?=$this->product->getID()?>">Přidat součást</a></th></tr>
</table>
<?php
	}
?>
<br/><br/><br/><br/>
<!-- OBALY -->
<table class="datalist">
	<tr><th colspan="2">Obaly:</th><th>Počet</th><th colspan="2">&nbsp;</th></tr>

<?php

	$odd = false;

	foreach($this->product->getWraps() as $wrap){
		$odd = !$odd;
?>
	<tr>
		<td <?= ($odd ? "class='odd' " : '') ?> style="text-align: left;" <?php  if($this->product->getWrapParts($wrap['id'])!== NULL) echo "rowspan='2'";?>><a href="<?=$this->baseUrl()?>/wraps/detail/id/<?=$wrap['id_wraps']?>"><?=$wrap['id_wraps']?></a></td>
		<td <?= ($odd ? "class='odd' " : '') ?> style ="width: 300px; text-align: left;" ><?=$wrap['name']?></td>
<?php
		//if($this->product->getWrapParts($wrap['id']) !== NULL){
?>
		<td <?= ($odd ? "class='odd' " : '') ?>><?=$wrap['amount']?>x</td>
<?php
		//} else {
?>
		<!-- <td <?= ($odd ? "class='odd' " : '') ?>><a href="<?=$this->baseUrl()?>/products/edit-wrap-amount/id/<?=$this->product->getID()?>/wrap/<?=$wrap['id_wraps']?>/multiedit/true"><?=$wrap['amount']?>x</a></td> -->
<?php
		//}
?>
		<!-- mazani obalu-->
		<td <?= ($odd ? "class='odd' " : '') ?> style="text-align: center;">
			<a href="<?=$this->baseUrl()?>/products/multi-edit3/id/<?=$this->product->getID()?>/type/delete-wrap/wrap/<?=$wrap['id_wraps']?>" ><img src="<?=$this->baseUrl()?>/public/images/delete.png" alt="smazat" title="smazat obal z produktu" /></a>
		</td>

	</tr>
<?php
		if(($parts = $this->product->getWrapParts($wrap['id'])) !== NULL){
?>
	<tr>

		<td <?= ($odd ? "class='odd' " : '') ?> colspan="4" style ="width: 300px; text-align: left;" >
		<table>
<?php
			foreach($parts as $part){
?>
				<!-- <a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$part['id_parts']?>"><?=$part['id_parts']?></a> - <?=$part['name']?> <?=$part['amount']?>x<br /> -->
				<tr>
					<td style="width: 300px; border: 1px solid <?php echo ($odd ? "white" : 'silver');?>;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$part['id_parts']?>"><?=$part['id_parts']?></a> - <?=$part['name']?></td>
					<td style="border: 1px solid <?php echo ($odd ? "white" : 'silver');?>;"><?=$part['amount']?>x</td>
				</tr>
<?php
			}
?>
		</table>
		</td>
	</tr>
<?php
		}
	}
?>
	<tr><th colspan="5"><a href="<?= $this->baseUrl();?>/products/multi-edit-add-wrap/id/<?=$this->product->getID()?>">Přidat obal</a></th></tr>
</table>
<br/><br/>