<br/><br/>
<h4>Multieditace produktů</h4><br/>
1. Výběr produktu &raquo; 2. Příklad úpravy &raquo; 3. Výběr produktů &raquo; <b>4. Potvrzení změny</b><br /><br />
<?php
	$multi_edit = new Products_MultiEdit();
?>
Opravdu chcete <?php
	switch ( $multi_edit->getAction() ) {
		case Products_MultiEdit::ADD:
			echo "přidat ".$multi_edit->getNewPartAmount()." ks součásti ".$multi_edit->getPart()."<br /><br />k těmto produktům ?";
			break;
		case Products_MultiEdit::EDIT:
			echo "upravit počet součásti ".$multi_edit->getPart()." z ".$multi_edit->getPartAmount()." ks na ".$multi_edit->getNewPartAmount()." ks <br /><br />u těchto produktů ?";
			break;
		case Products_MultiEdit::DELETE:
			echo "odstranit ".$multi_edit->getPartAmount()." ks součásti ".$multi_edit->getPart()."<br /><br />z těchto produktů ?";
			break;
		case Products_MultiEdit::DELETE_WRAP:
			echo "odstranit obal ".$multi_edit->getWrap()."<br /><br />z těchto produktů ?";
			break;
		case Products_MultiEdit::ADD_WRAP:
			echo "přidat obal ".$multi_edit->getWrap()." ".$multi_edit->getNewPartAmount()."x<br /><br />do těchto produktů ?";
			break;

	}
?>
<br /><br />
<?php
$db = Zend_Registry::get('db');
foreach ($this->selected_products as $id_product) {
	echo $id_product." - ".$db->fetchOne('SELECT name FROM products WHERE id = '.$db->quote($id_product));
	echo "<br />";
}
?>
<br /><br />
<form method="post">
	<input type="hidden" name="confirm" value="confirm" />
	<input type="submit" id="Hledat" value="Potvrdit" />
</form>
<br /><br />
