<br/><br/>
<h4>Multieditace produktů</h4><br/><br/>
<div class="box_header parts_box">Přidat součást</div>
<div class="box parts_box">
<form action="<?= $this->baseUrl();?>/products/multi-edit3">
ID <input name="part" type="text" /> Počet <input name="amount" type="text" /><br/><br/>
<input type="hidden" name="type" value="add-part" />
<input type="submit" name="Odeslat" value="Odeslat" id="Hledat" />
</form>
</div>
