<br/><br/><h4>Přehled produktů</h4><br/><br/>

<table class="datalist">
	<thead>
		<tr>
			<th>ID</th>
			<th>Název</th>
			<th>Popis</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
<?php
	$lastCtg = '0';
	foreach($this->data as $id => $type){
		//print_r($this->data); die();
		$i=0;
?>
		<tr><th colspan="4" class="section"><?= $this->col." - ".($id != 'others' ? $this->types[$id]['name'] : $type[0]['ctg_name']) ?></th><th><img src="<?=$this->baseUrl()?>/public/images/edit.png" /></th></tr>
<?php
		if($id == 'others') $lastCtg = $type[0]['ctg_name'];
		foreach($type as $row){ //Zend_Debug::dump($row, $id); die();
		$class = ($i++ % 2) ? " class='odd'" : '';
		if($id == 'others' && $lastCtg != $row['ctg_name']){
			$lastCtg = $row['ctg_name'];
?>
		<tr><th colspan="4" class="section"><?= $this->col." - ".$row['ctg_name'] ?></th><th><img src="<?=$this->baseUrl()?>/public/images/edit.png" /></th></tr>
<?php
		}
?>
		<tr>
			<td<?= $class ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>"><?= $row['id']?></a></td>
			<td<?= $class ?> style="text-align: left;"><?= $row['name']?></td>
			<td<?= $class ?> style="text-align: left;"><?= substr($row['description'], 0, 30) ?></td>
			<td<?= $class ?>><a href="<?=$this->baseUrl()?>/parts/toggle-product/id/<?=$row['id']?>"><img src="<?=$this->baseUrl()?>/public/images/delete.png"  onClick="return confirm('Opravdu chcete tento produkt odstranit?')" alt="smazat" /></a></td>
			<td<?= $class ?>><a href="<?=$this->baseUrl()?>/parts/edit/id/<?=$row['id']?>"><img src="<?=$this->baseUrl()?>/public/images/edit.png" alt="upravit" /></a></td>
		</tr>
<?php 
		}
	}
?>
	</tbody>
</table>
<br />
<br />
<br />
