<br /><br /><h4>Balení součástí produktu '<?= $this->product->getName(); ?>'</h4><br />
<?php
if(!$this->wraps) { 
?>
<form>
	<input type="hidden" name="id" value="<?= $this->product->getID(); ?>" />
	<input type="hidden" name="id_wraps" value="<?=$this->wraps_id?>" />
	<table style="text-align: left;" class="datalist">
		<tr><th colspan="3">Výběr součástí:</th></tr>
<?php 
		$odd = false;
		$last_ctg = -1;
		foreach($this->product->getParts() as $part){
			if($last_ctg == -1 || $last_ctg != $part['ctg']){
?>
		<tr><th colspan="3"><?= $this->categories[$part['ctg']]['name']?></th></tr>
<?php
			}
			$last_ctg = $part['ctg'];
			$odd = !$odd;
?>
		<tr>
			<td <?= ($odd ? "class='odd'" : '') ?>><?=$part['id']?></td>
			<td <?= ($odd ? "class='odd'" : '') ?>><?=$part['name']?> ( <?=$part['amount']?>x )</td>
			<td style="text-align: center;"<?= ($odd ? " class='odd'" : '') ?>><input style ="width: 10px;" type="checkbox"  name="<?= $part['id'] ?>" /></td>
		</tr>
<?php 
		}
?>
	<tr><td colspan="3" style="text-align: center;" ><input type="submit" name="Odeslat" value="Dále" id="Odeslat" /></td></tr>
</table>
</form>

<?php
} else {
?>

<form>

	<h4>Výběr obalu:</h4><br />
	<input type="hidden" name="id" value="<?= $this->product->getID(); ?>" />
	<table class="datalist">
		<thead>
			<tr>
				<th>ID</th>
				<th>Název</th>
				<th>Popis</th>
				<th></th><th></th>
			</tr>
		</thead>
		<tbody>
<?php
	foreach($this->data as $id => $category){
		$i=0;
?>
			<tr><th colspan="5" class="section"><?= $this->categories[$id]['name'] ?></th></tr>
<?php 
		foreach($category as $row){
		$class = ($i++ % 2) ? " class='odd'" : '';
?>
			<tr name="<?= $row['id']?>_line" <?= $class ?>>
				<td><a href="<?=$this->baseUrl()?>/wraps/detail/id/<?=$row['id']?>"><?= $row['id']?></a></td>
				<td style="text-align: left;"><?= $row['name']?></td>
				<td style="text-align: left;"><?= $row['description'] ?></td>
				<td><input  style ="width: 20px;" type="text" id="<?= $row['id']?>" name="<?= $row['id']?>_amount" value="0" /> <?= $row['amount_unit']?></td>
				<td><input  style ="width: 10px;" type="checkbox" name="<?= $row['id']?>" value="<?= $row['id']?>" /></td>
			</tr>
<?php 
		}
	}
?>
			<!-- <tr><td colspan="4" style="text-align: center;" ><span style="vertical-align: middle;">Přiřadit součásti<br/> <input style="width: 10px;" type="checkbox" name="parts" value="true" id="Odeslat" /></span></td></tr> -->
		</tbody>
		<tr><td colspan="4" style="text-align: center;" ><input type="submit" name="Odeslat" value="Přiřadit" id="Odeslat" /></td></tr>
	</table>
</form>

<?php
}
?>
<br /><br /><br />
<script type="text/javascript">
<!--
$(document).ready(function() {
	jQuery("input,[type=text]").change( function() {
		if($(this).val() > 0){
			if(jQuery("[name='"+$(this).attr('id')+"']").attr('checked') == false){
				jQuery("[name='"+$(this).attr('id')+"']").attr('checked', true);
				jQuery("[name='"+$(this).attr('id')+"_line']").attr('style', "background-color: yellow;");
				//jQuery("[name='"+$(this).attr('id')+"_line']").attr('style', "background-color: yellow;");
			}
		}
	});

	jQuery("[type=checkbox]").click( function() {
		if($(this).attr('checked') == false){
			jQuery("[name='"+$(this).attr('name')+"_amount']").attr('value', '0');
			jQuery("[name='"+$(this).attr('name')+"_line']").removeAttr('style');
			//jQuery("[name='"+$(this).attr('name')+"_line']").removeAttr('style');
		} else {
			jQuery("[name='"+$(this).attr('name')+"_line']").attr('style', "background-color: yellow;");
			if(jQuery("[name='"+$(this).attr('name')+"_amount']").val() == '0'){
				jQuery("[name='"+$(this).attr('name')+"_amount']").attr('value', '1');
			}
		}
	});
});

//-->
</script>
