<?php
if(!$this->id_wrap){
?>
	<br/><br/><h4>Výběr součástí pro produkt <?= $this->id?></h4><br/><br/>
<?php
} else {
?>
	<br/><br/><h4>Výběr součástí k zabalení do obalu pro produkt <?= $this->id?></h4><br/><br/>
<?php
}
?>
<form method="post">
<input type="hidden" name="id_product" value="<?= $this->id?>" />
<?php
	if( $this->id_wrap){
?>
<input type="hidden" name="id_wrap" value="<?= $this->id_wrap?>" />
<?php
	}
	//zvyraznovani soucasti, ktere uz jsou v produktu obsazeny
	$tmp_product = new Products_Product($this->id);
	$direct_child_parts = array();
	if(!$this->id_wrap){
		foreach($tmp_product->getDirectChildParts() as $tmp_part){
			$direct_child_parts[$tmp_part['id']] = $tmp_part['amount'];
		}
	}
?>
<table class="datalist">
	<thead>
		<tr>
			<th>Vybrat</th>
			<th>ID</th>
			<th>Název</th>
			<th>Popis</th>
			<th>Verze</th>
			<th>Množství</th>
		</tr>
	</thead>
	<tbody>
<?php //Zend_Debug::dump($this->data);
	foreach($this->data as $ctg_name => $category){
		$i=0;
?>
		<tr><th colspan="6" class="section"><?= $ctg_name ?></th> </tr>
<?php 
		foreach($category as $row){
		$class = ($i++ % 2) ? " class='odd'" : '';

		//zobrazovani tech produktu, ktere jsou v databazi
		if(array_key_exists($row['id'],$direct_child_parts)){
			$style = 'style="background-color: yellow;"';
			$checked = "checked='checked'";
			$amount = $direct_child_parts[$row['id']];
		} else {
			$style = '';
			$checked = '';
			$amount = 0;
		}
?>
		<tr name="<?= $row['id'] ?>_line" <?= $class ?> <?= $style ?>>
			<td><input type="checkbox" name="<?= $row['id'] ?>" class="small_input" <?= $checked ?>/></td>
			
<?php
	$color = (substr($row['id'],0,1) == 'S' || strtoupper(substr($row['id'],0,2)) == 'AS' || substr($row['id'],0,4) == 'NF25' ? " color: blue;" : "");
?>
			
			<td style="text-align: left;<?php echo $color?> <?php if($row['product'] == 'y') echo "font-weight:bold;" ?>"><?= $row['id'] ?></td>
			<td style="text-align: left;<?php echo $color?> <?php if($row['product'] == 'y') echo "font-weight:bold;" ?>"><?= $row['name'] ?></td>
			<td style="text-align: left;"><?= substr($row['description'], 0, 20) ?></td>
			<td style="text-align: left;"><?= $row['version'] ?></td>
			<td><input type="text" id="<?= $row['id'] ?>" name="<?= $row['id'] ?>_amount" value="<?= $amount ?>" class="small_input" /></td>
		</tr>
<?php 
		}
	}
?>
	</tbody>
	<tfoot>
		<tr><td colspan="6"><input type="submit" value="Odeslat" name="Odeslat"  id="Odeslat_sub" /></td></tr>
	</tfoot>
</table>
</form>
<br /><br />


<script type="text/javascript">
<!--
$(document).ready(function() {
	jQuery("input,[type=text]").change( function() {
		if($(this).val() > 0){
			if(jQuery("[name='"+$(this).attr('id')+"']").attr('checked') == false){
				jQuery("[name='"+$(this).attr('id')+"']").attr('checked', true);
				jQuery("[name='"+$(this).attr('id')+"_line']").attr('style', "background-color: yellow;");
				jQuery("[name='set_"+$(this).attr('id')+"_line']").attr('style', "background-color: yellow;");
			}
		}
	});

	jQuery("[type=checkbox]").click( function() {
		if($(this).attr('checked') == false){
			jQuery("[name='"+$(this).attr('name')+"_amount']").attr('value', '0');
			jQuery("[name='"+$(this).attr('name')+"_line']").removeAttr('style');
			jQuery("[name='set_"+$(this).attr('name')+"_line']").removeAttr('style');
		} else {
			jQuery("[name='"+$(this).attr('name')+"_line']").attr('style', "background-color: yellow;");
			if(jQuery("[name='"+$(this).attr('name')+"_amount']").val() == '0'){
				jQuery("[name='"+$(this).attr('name')+"_amount']").attr('value', '1');
			}
		}
	});
});

//-->
</script>

