<br/><br/><h4>Výběr setů</h4><br/><br/>
<form method="post">
<input type="hidden" name="id_product" value="<?= $this->id?>" />
<?php
?>
<table class="datalist">
	<thead>
		<tr>
			<th>Vybrat</th>
			<th>ID</th>
			<th>Název</th>
			<!--  <th>Množství</th>  -->
		</tr>
	</thead>
	<tbody>
<?php
	$i=0;
	foreach($this->data as $row){
		
		//foreach($category as $row){
		$class = ($i++ % 2) ? " class='odd'" : '';
?>
		<tr name="<?= $row['id'] ?>_line" <?= $class ?>>
			<td><input type="checkbox" name="<?= $row['id'] ?>" class="small_input" /></td>
			<td style="text-align: left;"><?= $row['id'] ?></td>
			<td style="text-align: left;"><?= $row['name'] ?></td>
			<!--  <td></td>  -->
			<input type="hidden" name="<?= $row['id'] ?>_amount" value="1" class="small_input" />
		</tr>
<?php 
		//}
	}
?>
	</tbody>
	<tfoot>
		<tr><td colspan="6"><input type="submit" value="Odeslat" name="Odeslat"  id="Odeslat_sub" /></td></tr>
	</tfoot>
</table>
</form>
<br /><br />

<script type="text/javascript">
<!--
$(document).ready(function() {
	jQuery("input,[type=text]").change( function() {
		if($(this).val() > 0){
			if(jQuery("[name='"+$(this).attr('id')+"']").attr('checked') == false){
				jQuery("[name='"+$(this).attr('id')+"']").attr('checked', true);
				jQuery("[name='"+$(this).attr('id')+"_line']").attr('style', "background-color: yellow;");
			}
		}
	});

	jQuery("[type=checkbox]").click( function() {
		if($(this).attr('checked') == false){
			jQuery("#"+$(this).attr('name')).attr('value', '0');
			jQuery("[name='"+$(this).attr('name')+"_line']").removeAttr('style');
		} else {
			jQuery("[name='"+$(this).attr('name')+"_line']").attr('style', "background-color: yellow;");
			if(jQuery("#"+$(this).attr('name')).val() == '0'){
				jQuery("#"+$(this).attr('name')).attr('value', '1');
			}
		}
	});
});

//-->
</script>
