<a href="<?= $this->url(array('date' => $this->datePrev->toString('Y-m')))?>" class="btn pull-left"><i class="icon icon-backward"></i> <?= $this->datePrev->toString('m/Y'); ?></a>
<a href="<?= $this->url(array('date' => $this->dateNext->toString('Y-m')))?>" class="btn pull-right"><?= $this->dateNext->toString('m/Y'); ?> <i class="icon icon-forward"></i></a>

<h2 class="text-center"><?= $this->title; ?> za <?= $this->date->toString('m/Y'); ?></h2>


<?php if ($this->data): ?>
  <table class="table table-condensed table-bordered table-striped">
    <?php foreach ($this->data as $record): ?>
    <?php $closed = $record['status'] == Employees_Reward::REWARD_STATUS_CLOSED; ?>
      <tr>
        <td rowspan="2" class="text-center">
          <strong><?= $record['employee']->getFullName(); ?></strong><br>
          <small>
            <span class="badge badge-important"><?= $record['employee']->getFirm(); ?></span><br>
          <?= $record['employee']->getBusinessPhone() ? 'pracovní telefon:<br>' . $record['employee']->getBusinessPhone() . '<br>' : ''; ?>
          <?= $record['employee']->getPrivatePhone() ? 'osobní telefon:<br>' . $record['employee']->getPrivatePhone() . '<br>' : ''; ?>
          <?= $record['employee']->getBusinessEmail() ? 'pracovní email:<br><a href="mailto:' . $record['employee']->getBusinessEmail() . '">' . $record['employee']->getBusinessEmail() . '</a><br>' : ''; ?>
          <?= $record['employee']->getPrivateEmail() ? 'osobní email:<br><a href="mailto:' . $record['employee']->getPrivateEmail() . '">' . $record['employee']->getPrivateEmail() . '</a><br>' : ''; ?>
          </small>
        </td>
        <?php if ($closed): ?>
          <td class="text-center"><h3><small>dovolená / zbývá</small><br><?= $record['vacation']['total']; ?> / <?= $record['vacation']['rest']; ?> d</h3></td>
          <td class="text-center"><h3><small>nemocenská</small><br><?= $record['sickness']['total']; ?> d</h3></td>
          <td class="text-center"><h3><small>OČR</small><br><?= $record['fmc']['total']; ?> d</h3></td>
          <td class="text-center"><h3><small>neplacené volno</small><br><?= $record['unpaid']['total']; ?> d</h3></td>
          <td class="text-center"><h3><small>přesčas k proplacení</small><br><?= $record['overtime']['time']; ?> h</h3></td>
        <?php else: ?>
          <td colspan="5" class="text-center"><em>měsíc nebyl uzavřen</em></td>
        <?php endif; ?>
      </tr>
      <tr>
        <td colspan="5">
          <div class="row">
            <div class="<?= $closed ? 'span-3' : 'span-12'?>">
              <dl>
                <dt>Zdrav. pojišťovna:</dt>
                <dd><?= $record['employee']->getInsuranceCode(); ?></dd>
                <dt>Bankovní účet:</dt>
                <dd><?= $record['employee']->getAccountNumber(); ?></dd>
              </dl>
            </div>
            <?php if ($closed): ?>
              <?php if ($record['vacation']['dates']): ?>
              <div class="span-3">
                <dl>
                  <dt>Dovolená:</dt>
                  <?php foreach ($record['vacation']['dates'] as $date): ?>
                    <dd>
                      <?= $date['date']->toString('d.m.Y'); ?>
                      <?php if ($date['type'] == Table_EmployeesRecords::TYPE_HALF_VACATION): ?>
                        <small>(půlden)</small>
                      <?php endif; ?>
                    </dd>
                  <?php endforeach; ?>
                </dl>
              </div>
              <?php endif; ?>
              <?php if ($record['sickness']['dates']): ?>
              <div class="span-3">
                <dl>
                  <dt>Nemocenská:</dt>
                  <?php foreach ($record['sickness']['dates'] as $date): ?>
                    <dd><?= $date->toString('d.m.Y'); ?></dd>
                  <?php endforeach; ?>
                </dl>
              </div>
              <?php endif; ?>
              <?php if ($record['fmc']['dates']): ?>
              <div class="span-3">
                <dl>
                  <dt>OČR:</dt>
                  <?php foreach ($record['fmc']['dates'] as $date): ?>
                    <dd><?= $date->toString('d.m.Y'); ?></dd>
                  <?php endforeach; ?>
                </dl>
              </div>
              <?php endif; ?>
              <?php if ($record['unpaid']['dates']): ?>
              <div class="span-3">
                <dl>
                  <dt>Neplacené volno:</dt>
                  <?php foreach ($record['unpaid']['dates'] as $date): ?>
                    <dd><?= $date->toString('d.m.Y'); ?></dd>
                  <?php endforeach; ?>
                </dl>
              </div>
              <?php endif; ?>
              <?php if ($record['trips_local']): ?>
              <div class="span-3">
                <dl>
                  <dt>Služební cesty ČR/SR:</dt>
                  <?php foreach ($record['trips_local'] as $day): ?>
                    <dd><?= $day['date']->toString('d.m.Y'); ?> (<?= Meduse_Currency::format($day['duration'], 'h', 2); ?>)</dd>
                  <?php endforeach; ?>
                  <dd>diety: <?= Meduse_Currency::format($record['diets_local'], 'Kč', 0); ?></dd>
                </dl>
              </div>
              <?php endif; ?>
              <?php if ($record['trips_foreign']): ?>
                <div class="span-3">
                  <dl>
                    <dt>Zahraniční sl. cesty:</dt>
                    <?php foreach ($record['trips_foreign'] as $day): ?>
                      <dd><dd><?= $day['date']->toString('d.m.Y'); ?> (<?= Meduse_Currency::format($day['duration'], 'h', 2); ?>)</dd></dd>
                    <?php endforeach; ?>
                    <dd>diety: <?= Meduse_Currency::format($record['diets_foreign'], '€', 0); ?></dd>
                  </dl>
                </div>
              <?php endif; ?>
            <?php endif; ?>
          </div>
          </div>
        </td>
      </tr>
    <?php endforeach; ?>

  </table>
<?php else: ?>
<p>Žádné záznamy.</p>
<?php endif; ?>

<style type="text/css">
  th, td { width: 15%; }
  .span-4 {width: 15%;}
</style>