<h2><?= $this->title; ?></h2>


<?php if ($this->deptEmployees): ?>
<h3>Moje oddělení</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th rowspan="2">Jméno</th>
      <th rowspan="2">Pozice</th>
      <th rowspan="2">Oddělení</th>
      <th colspan="3" class="text-center">Dovolená [dny]</th>
    </tr>
    <tr>
      <th class="text-center">nárok</th>
      <th class="text-center">čerpáno</th>
      <th class="text-center">zbývá</th>
    </tr>
  </thead>
  <tbody>
    <?php foreach ($this->deptEmployees as $emp): ?>
    <tr>
      <td>
        <a href="<?= $this->url(array('action' => 'dashboard', 'id' => $emp->getId())); ?>">
          <?= $emp->getFullName(); ?>
        </a>
      </td>
      <td>
        <?= $emp->getPosition(); ?>
      </td>
      <td>
        <?= $emp->getDepartmentName(); ?>
      </td>
      <td class="text-center"><?= $emp->getVacation(); ?></td>
      <td class="text-center"><?= $emp->getVacationSum(); ?></td>
      <td class="text-center"><?= $emp->getVacationRest(); ?></td>
    </tr>
    <?php endforeach; ?>
  </tbody>
</table>

<?php endif; ?>

<?php if ($this->gridPipes): ?>
<?php if (Zend_Registry::get('acl')->isAllowed('employees/add')): ?>
  <p class="btn-group pull-right">
    <a href="/employees/add/type/employee" class="btn"><i class="icon icon-plus"></i> Zaměstnanec</a>
    <a href="/employees/add/type/supplier" class="btn"><i class="icon icon-plus"></i> Živnostník</a>
  </p>
<?php endif; ?>

<h3>Pracovníci Meduse Design</h3>
<?= $this->gridPipes; ?>
<?php endif; ?>

<?php if ($this->gridTobacco): ?>
<?php if (Zend_Registry::get('acl')->isAllowed('employees/add')): ?>
  <p class="btn-group pull-right">
    <a href="/employees/add/type/employee" class="btn"><i class="icon icon-plus"></i> Zaměstnanec</a>
    <a href="/employees/add/type/supplier" class="btn"><i class="icon icon-plus"></i> Živnostník</a>
  </p>
<?php endif; ?>

<h3>Pracovníci Medite</h3>
<?= $this->gridTobacco; ?>
<?php endif; ?>

<?php if ($this->deactivated): ?>
  <h3>Deaktivovaní pracovníci
    <button type="button" class="btn btn-mini btn-danger" data-toggle="collapse" data-target="#deactivated">
      Zobrazit
    </button>
  </h3>
  <div id="deactivated" class="collapse">
    <ul>
      <?php foreach ($this->deactivated as $worker): ?>
        <li><a href="<?= $this->url(array('action' => 'dashboard', 'id' => $worker->getId())); ?>"><?= $worker->getFullName(TRUE); ?></a></li>
      <?php endforeach; ?>
    </ul>
  </div>
<?php endif; ?>



