<?php if ($this->message):?>
  <?= $this->message; ?>
<?php endif; ?>


<div class="row">


   <div class="span-6" style="width:50%;">
      <h2>
     <?php if ($this->editEmployee): ?>
        <a class="btn btn-small pull-right" href="<?= $this->url(array('action' => 'edit', 'id' => $this->employee->getId(), 'date' => NULL)); ?>?destination=<?= $this->url(); ?>"><i class="icon icon-edit"></i> Upravit</a>
     <?php endif; ?>
        <?= $this->employee->getFirstName(); ?> <?= $this->employee->getLastName(); ?><br>
        <?php if ($this->employee->isActive()): ?>
          <span class="label label-success">aktivní</span>
        <?php else: ?>
          <span class="label label-important">neaktivní</span>
        <?php endif; ?>
        <span class="label label-info"><?= $this->employee->isSupplier() ? 'živnostník': 'zaměstnanec'; ?></span>
      </h2>


      <section class="rewards">
        <?php if ($this->employee->isActive()): ?>
          <div class="pull-right  text-center">
            <div class="btn-group">
              <a class="btn btn-primary" href="<?= $this->url(array(
                'action' => 'open-month', 'date' => $this->nextRewardDate->toString('Y-m'),
              )); ?>">Založit měsíc <?= $this->nextRewardDate->toString('m/Y'); ?></a>

              <?php if ($this->lastRecordDate != $this->newestRecordDate): ?>

              <a class="btn btn-primary" href="<?= $this->url(array(
                'action' => 'fetch-dsi-records', 'date' => NULL, 'id' => NULL
              )); ?>">Načíst z Alvena</a>
              <?php endif; ?>
            </div><br>
            <?php if ($this->lastRecordDate): ?>
            <div class="text-center">
              <small>načteny záznamy do <?= $this->lastRecordDate->toString('d.m.Y H:i:s'); ?>
              </small>
            </div>
            <?php endif; ?>
          </div>
        <?php endif; ?>
        <h3>Docházka
          <?php if ($this->employee->getType() == Table_Employees::TYPE_EMPLOYEE): ?>
          <br /><small>úvazek <?= $this->employee->isPartTime() ? 'zkrácený' : $this->employee->getObligation(TRUE); ?></small>
          <?php endif; ?>
        </h3>



        <table class="table">
          <tr>
            <th class="text-center">měsíc</th>
            <th class="text-right">odpracováno</th>
            <th class="text-right"><?php if ($this->employee->getType() == Table_Employees::TYPE_EMPLOYEE): ?>dovolená<?php else: ?>placené volno<?php endif; ?></th>
            <?php if ($this->employee->getType() == Table_Employees::TYPE_EMPLOYEE): ?><th class="text-right">nemoc</th><?php endif; ?>
            <th class="text-center"></th>
          </tr>
          <?php if($this->rewards): ?>
          <?php foreach($this->rewards as $row): ?>
            <?php if (!$this->employee->isActive() && $row->getStatus() !=  Employees_Reward::REWARD_STATUS_CLOSED) continue; ?>
          <tr
            <?php if ($row->getStatus() ==  Employees_Reward::REWARD_STATUS_CLOSED) {
              echo 'class="warning"'; } else if ($row->getStatus() ==  Employees_Reward::REWARD_STATUS_FAIL) {
              echo 'class="error"'; }?>>
            <td class="text-center"><?= $row->getDate()->toString('m/Y'); ?></td>
            <td class="text-right"><?= $row->getTotal(); ?> h</td>
            <td class="text-right"><?= $row->getVacation(); ?> d</td>
            <?php if ($this->employee->getType() == Table_Employees::TYPE_EMPLOYEE): ?><td class="text-right"><?= $row->getSickness(); ?> d</td><?php endif; ?>
            <td>
              <?php if ($row->getStatus() != Employees_Reward::REWARD_STATUS_CLOSED): ?>
                <a href="<?= $this->url(array(
                  'action' => 'worksheet',
                  'id' => $this->employee->getId(),
                  'date' => $row->getDate()->toString('Y-m')
                ));
                ?>" class="btn btn-small">upravit</a>
              <?php endif; ?>
              <?php if ($this->closeMonth && $row->getStatus() == Employees_Reward::REWARD_STATUS_OPEN): ?>
                <a href="<?= $this->url(array(
                  'action' => 'view-month',
                  'id' => $this->employee->getId(),
                  'date' => $row->getDate()->toString('Y-m')));
                ?>" class="btn btn-small">uzavřít</a>
              <?php else: ?>
                <?php if ($this->employee->isActive() && $this->reopenMonth && $row->getStatus() == Employees_Reward::REWARD_STATUS_CLOSED): ?>
                <a href="<?= $this->url(array(
                  'action' => 'reopen-month',
                  'id' => $this->employee->getId(),
                  'date' => $row->getDate()->toString('Y-m')));
                ?>" class="btn btn-small">znovu otevřít</a>
                <?php endif; ?>
                <?php if ($row->getStatus() == Employees_Reward::REWARD_STATUS_CLOSED && $this->showWage): ?>
                <a href="<?= $this->url(array(
                  'action' => 'view-month',
                  'id' => $this->employee->getId(),
                  'date' => $row->getDate()->toString('Y-m')));
                ?>" class="btn btn-small">zobrazit</a>
                <?php endif; ?>
              <?php endif; ?>
            </td>
          </tr>
          <?php endforeach; ?>
          <?php endif; ?>
        </table>
        <!--<a class="btn" href="#">Přepočítat záznamy</a>-->
      </section>
    </div>
  <div class="span-6">

    <section class="well well-small overview">
      <h3>Přehled</h3>
      <table class="table table-condensed table-striped">
        <?php $val = $this->employee->getBirthday(FALSE); if ($val): ?>
        <tr>
          <th>Datum narození:</th>
          <td><?= $val->toString('d.m.Y'); ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getBirthplace(); if ($val): ?>
        <tr>
          <th>Místo narození:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getInsuranceCode(); if ($val): ?>
        <tr>
          <th>Kód. zdr. pojišťovny:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getAccountNumber(); if ($val): ?>
        <tr>
          <th>Číslo bankovního účtu:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getPrivatePhone(); if ($val): ?>
        <tr>
          <th>Soukromý telefon:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getPrivateEmail(); if ($val): ?>
        <tr>
          <th>Soukromý email:</th>
          <td><a href="mailto:<?= $val; ?>"><?= $val; ?></a></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getDepartmentName(); if ($val): ?>
        <tr>
          <th>Oddělení / Firma:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getPosition(); if ($val): ?>
        <tr>
          <th>Pozice:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getBusinessEmail(); if ($val): ?>
        <tr>
          <th>Firemní email:</th>
          <td><a href="mailto:<?= $val; ?>"><?= $val; ?></a></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getBusinessPhone(); if ($val): ?>
        <tr>
          <th>Firemní telefon:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getBusinessPhonePin(); if ($val): ?>
        <tr>
          <th>PIN:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getComputerName(); if ($val): ?>
        <tr>
          <th>Název PC:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getComputerLogin(); if ($val): ?>
        <tr>
          <th>OS login:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getComputerPassword(); if ($val): ?>
        <tr>
          <th>OS heslo:</th>
          <td><?= $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php if ($this->employee->getType() == Table_Employees::TYPE_EMPLOYEE): ?>
          <?php $val = $this->employee->getWorkClass(); if ($val): ?>
            <tr>
              <th>Pracovní třída</th>
              <td><?= $val; ?></td>
            </tr>
          <?php endif; ?>
        <?php endif; ?>
        <?php $val = $this->employee->getInsurance(); if ($val): ?>
        <tr>
          <th>Pojistění odpovědnosti:</th>
          <td><?= $val == 'y' ? 'ano' : 'ne'; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getNDA(); if ($val): ?>
        <tr>
          <th>Dohoda o mlčenlivosti:</th>
          <td><?= $val == 'y' ? 'ano' : 'ne'; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getStart(); if ($val): ?>
        <tr>
          <th>Začátek PP:</th>
          <td><?= Meduse_Date::dbToForm($val); ?></td>
        </tr>
        <?php $val = $this->employee->getEnd(); ?>
        <tr>
          <th>Konec PP:</th>
          <td><?= $val ? Meduse_Date::dbToForm($val) : 'neurčito'; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getObligation(TRUE); if ($val): ?>
        <tr>
          <th>Měsíční úvazek:</th>
          <td><?= $this->employee->isPartTime() ? 'zkrácený' : $val; ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getWage(); if ($val && $this->showWage): ?>
        <tr>
          <th><?php if ($this->employee->getType() == Table_Employees::TYPE_EMPLOYEE): ?>Základ mzdy<?php else: ?>Hodinová sazba<?php endif; ?>:</th>
          <td><?= Meduse_Currency::format($val, ' Kč', 0); ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getBonus(); if (!is_null($val) && $this->showWage): ?>
        <tr>
          <th>Bonus:</th>
          <td><?= Meduse_Currency::format($val, ' Kč', 0); ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getTransportAllowance(); if ($val && $this->showWage): ?>
        <tr>
          <th>Příspěvek na dopravu:</th>
          <td><?= Meduse_Currency::format($val, ' Kč', 0); ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getDiets(); if ($val && $this->showWage): ?>
        <tr>
          <th>Výše zahr. diet:</th>
          <td><?= Meduse_Currency::format($val, ' €', 0); ?></td>
        </tr>
        <?php endif; ?>
        <?php if ($this->vacation): ?>
          <tr>
            <th>Nárok <?php if ($this->employee->getType() == Table_Employees::TYPE_EMPLOYEE): ?>dovolené<?php else: ?>placeného volna<?php endif; ?>
                (<?= $this->vacationYear; ?>):</th>
            <td><?= $this->vacation; ?> dnů</td>
          </tr>
          <tr>
            <th>Čerpáno <?php if ($this->employee->getType() == Table_Employees::TYPE_EMPLOYEE): ?>dovolené<?php else: ?>placeného volna<?php endif; ?>
                (<?= $this->vacationYear; ?>):</th>
            <td><?= (float) $this->vacationSum; ?> dnů</td>
          </tr>
          <tr>
            <th>Zbývá <?php if ($this->employee->getType() == Table_Employees::TYPE_EMPLOYEE): ?>dovolené<?php else: ?>placeného volna<?php endif; ?>
                (<?= $this->vacationYear; ?>):</th>
            <td><?= $this->vacationRest; ?> dnů</td>
          </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getOvertimeRate(FALSE); if ($val && $this->showWage): ?>
        <tr>
          <th>Přesčas sazba:</th>
          <td><?= Meduse_Currency::format($val, ' Kč/h', 0); ?></td>
        </tr>
        <?php endif; ?>
        <?php $val = $this->employee->getOvertimeRate(TRUE); if ($val && $this->showWage): ?>
        <tr>
          <th>Přesčas extra sazba:</th>
          <td><?= Meduse_Currency::format($val, ' Kč/h', 0); ?></td>
        </tr>
        <?php endif; ?>
      </table>
    </section>







  </div>
  </div>


<style type="text/css">
  section.overview {
    font-size: 100%;
  }
  section.overview h3 {
    text-align: center;
  }
  section.overview th {
    text-align: left;
  }
  section.overview td {
    text-align: right;
  }
</style>
