<p>
  Za poslední týden (od <b><?= $this->date; ?></b>) jste nedoplnil(a)
  pracovní docházku těchto pracovníků:
</p>
<ul>
  <?php foreach ($this->workers as $worker): ?>
  <li><b><?= $worker['full_name']; ?></b><br><?= $worker['linkurl']; ?></li>
  <?php endforeach; ?>
</ul>
<p>
  Prosíme o urgentní nápravu. Děkujeme!
</p>
