<table class="table table-condensed table-hover">

  <tr class="error">
    <td colspan="3"><h4>Pracovní sumarizace</h4></td>
  </tr>
  <tr>
    <th>odpracováno</th>
    <td class="text-right"><?= $this->reward->getTotal(); ?></td>
    <td>h</td>
  </tr>
  <tr>
    <th>najeto</th>
    <td class="text-right"><?= $this->reward->getKm();?></td>
    <td>km</td>
  </tr>
  <tr class="error">
    <td colspan="3"><h4>Složky odměny</h4></td>
  </tr>
  <tr>
    <th>základ (<?= Meduse_Currency::format($this->reward->getBase()); ?> Kč/h)</th>
    <td class="text-right"><?= Meduse_Currency::format($this->reward->getBase() * $this->reward->getTotal()); ?></td>
    <td>Kč</td>
  </tr>
  <tr>
    <th>použití os. auta</th>
    <td class="text-right"><?= Meduse_Currency::format($this->reward->getCarBonus()); ?></td>
    <td>Kč</td>
  </tr>
  <tr class="success">
    <th>odměny a penále</th>
    <td class="text-right" id="dept_reward"><?= Meduse_Currency::format($this->reward->getDeptReward()); ?></td>
    <td>Kč</td>
  </tr>
  <tr class="error">
    <td rowspan="2"><h4>Celkem</h4></td>
    <td class="text-right"><strong id="total"><?= Meduse_Currency::format($this->reward->getTotalReward()); ?></strong></td>
    <td><strong>Kč</strong></td>
  </tr>
  <tr class="error">
    <td class="text-right"><strong><?= $this->reward->getDietsFrgn(); ?></strong></td>
    <td><strong>Eur</strong></td>
  </tr>
</table>
