<table class="table table-condensed table-hover">

  <tr class="error">
    <td colspan="3"><h4>Pracovní sumarizace</h4></td>
  </tr>
  <tr>
    <th>závazek</th>
    <?php if ($this->employee->isPartTime()): ?>
      <td class="text-right">zkrácený</td>
      <td>&nbsp;</td>
    <?php else: ?>
      <td class="text-right"><?= $this->reward->getHours(); ?></td>
      <td>h</td
    <?php endif; ?>
  </tr>
  <tr>
    <th>odpracováno</th>
    <td class="text-right"><?= $this->reward->getTotal(); ?></td>
    <td>h</td>
  </tr>
  <tr>
    <th>nemocenská</th>
    <td class="text-right"><?= $this->reward->getSickness(); ?></td>
    <td>d</td>
  </tr>
  <tr>
    <th>čerpáno dovolené</th>
    <td class="text-right"><?= $this->vacation; ?></td>
    <td>d</td>
  </tr>
  <tr>
      <th>zbývající dovolená</th>
      <td class="text-right"><?= $this->vacationRest; ?></td>
      <td>d</td>
  </tr>
  <tr>
    <th>neplacené volno</th>
    <td class="text-right"><?= $this->reward->getUnpaid(); ?></td>
    <td>h</td>
  </tr>
  <?php if (!$this->employee->isPartTime()): ?>
    <tr>
      <th>přesčas převedený z minula</th>
      <td class="text-right"><?= $this->reward->getDebt(FALSE);?></td>
      <td>h</td>
    </tr>
    <tr class="error">
      <th>přesčas za <?= $this->reward->getDate()->get('m/Y'); ?></th>
      <td class="text-right"><?= $this->reward->getOvertime();?></td>
      <td>h</td>
    </tr>
  <?php endif; ?>
  <tr>
    <th>najeto</th>
    <td class="text-right"><?= $this->reward->getKm();?></td>
    <td>km</td>
  </tr>
  <tr class="error">
    <td colspan="3"><h4>Složky odměny</h4></td>
  </tr>
  <tr>
    <th>mzdový základ</th>
    <td class="text-right"><?= Meduse_Currency::format($this->reward->getBase()); ?></td>
    <td>Kč</td>
  </tr>
  <tr class="success">
    <th>zpeněžený přesčas — hotovost (<?=  abs($this->reward->getOvertimeCash()); ?> h)</th>
    <td class="text-right" id="overtime_bonus"><?= Meduse_Currency::format($this->reward->getOvertimeBonus()); ?></td>
    <td>Kč</td>
  </tr>
  <tr class="success">
    <th>zpeněžený přesčas — bank. převod (<?=  abs($this->reward->getOvertimeBank()); ?> h)</th>
    <td class="text-right" id="overtime_bonus"><?= Meduse_Currency::format(0); ?></td>
    <td>Kč</td>
  </tr>

  <tr>
    <th>diety ČR/SR</th>
    <td class="text-right"><?= Meduse_Currency::format($this->reward->getDiets()); ?></td>
    <td>Kč</td>
  </tr>
  <tr>
    <th>diety zahraniční</th>
    <td class="text-right"><?= Meduse_Currency::format($this->reward->getDietsFrgn()); ?></td>
    <td>Eur</td>
  </tr>
  <tr>
    <th>bonus</th>
    <td class="text-right"><?= Meduse_Currency::format($this->reward->getPersonalBonus()); ?></td>
    <td>Kč</td>
  </tr>
  <tr>
    <th>příspěvek na dopravu</th>
    <td class="text-right"><?= Meduse_Currency::format($this->reward->getTransportBonus()); ?></td>
    <td>Kč</td>
  </tr>
  <tr>
    <th>použití os. auta</th>
    <td class="text-right"><?= Meduse_Currency::format($this->reward->getCarBonus()); ?></td>
    <td>Kč</td>
  </tr>
  <tr class="success">
    <th>odměny a penále</th>
    <td class="text-right" id="dept_reward"><?= Meduse_Currency::format($this->reward->getDeptReward()); ?></td>
    <td>Kč</td>
  </tr>
  <tr class="error">
    <td rowspan="2"><h4>Celkem</h4></td>
    <td class="text-right"><strong id="total"><?= Meduse_Currency::format(round($this->reward->getTotalReward())); ?></strong></td>
    <td><strong>Kč</strong></td>
  </tr>
  <tr class="error">
    <td class="text-right"><strong><?= $this->reward->getDietsFrgn(); ?></strong></td>
    <td><strong>Eur</strong></td>
  </tr>
</table>
