<div class="row">
  <div class="span-6">
    <div class="well">
      <?= $this->form ?>
    </div>
  </div>
  <div class="span-6">
    <div class="well">
      <h3>Firemní dovolená a změny svátků <?= date('Y'); ?></h3>

      <?php if ($this->holidays): ?>
      <table class="table table-condensed">
        <tr>
          <th>volno</th>
          <th>poznámka</th>
          <th>&nbsp;</th>
        </tr>
        <?php foreach ($this->holidays as $key => $item): ?>
        <tr>
          <td><?= $item['date']->toString('d.m.'); ?></td>
          <td><?= $item['change'] ? 'náhrada za ' . $item['change']->toString('d.m.') : 'firemní dovolená'; ?></td>
          <td><a class="btn btn-small btn-danger" href="<?= $this->url(array('action' => 'holidays-remove', 'date' => $key)); ?>"><i class="icon icon-remove icon-white"></i></a></td>
        </tr>
        <?php endforeach; ?>
      </table>
      <?php else: ?>
      <p>Nejsou definovány žádná dovolená či změny svátků.</p>
      <?php endif; ?>
      <button id="holidays-add" class="btn btn-primary"><i class="icon icon-white icon-plus"></i>&nbsp; Přidat</button>
    </div>
  </div>
</div>

<div class="modal fade hide" id="holidays_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Přidání volna</h3>
  </div>
  <div class="modal-body">
        <?= $this->holidaysForm; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="holidays_modal_form_submit">Uložit</a>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

  $('#holidays-add').click(function(){
    $('#holidays_modal').modal('show');
      return false;
  });

  $('#holidays_modal_form_submit').click(function(){
    $('#holidays_modal form').submit();
  });
});
</script>


