<link rel="stylesheet" href="/public/style/worksheet.css" />

<div class="btn-group pull-right">
  <a href="<?= $this->url(array('action' => 'edit', 'date' => NULL)); ?>?destination=<?= $this->url(); ?>" class="btn">Editovat</a>
  <a href="<?= $this->url(array('action' => 'dashboard', 'date' => NULL)); ?>" class="btn">Přehled</a>

  <?php if (!$this->reward->isClosed()): ?>
    <a href="<?= $this->url(array('action' => 'worksheet')); ?>" class="btn">Worksheet</a>
  <?php else: ?>
    <button type="button" id="wbtn" class="btn btn-success" data-toggle="collapse" data-target="#wwrapper">Zobrazit Worksheet</button>
  <?php endif; ?>
</div>

<h2><?= $this->title; ?> <?= $this->date->toString('m/Y'); ?> &ndash; <?= $this->employee->getFullName(); ?></h2>
<div class="row">
  <div class="span-12">

  <div id="wwrapper" class="collapse out">
    <h3>Worksheet</h3>
    <?= $this->worksheet; ?>
  </div>
  </div>
</div>
<div class="row">
  <div class="span-6">

    <h3>Pohyblivé složky</h3>

    <?php if ($this->formOvertime && $this->reward->getEmployee()->getType() == Table_Employees::TYPE_EMPLOYEE && !$this->reward->isClosed()): ?>
      <h4>Odměna/penále za přesčas</h4>
      <?= $this->formOvertime; ?>
    <?php endif; ?>

    <?php if (!$this->reward->isClosed()): ?>
      <button class="btn btn-primary btn-small pull-right" id="reward-add"><i class="icon icon-white icon-plus"></i>&nbsp;přidat</button>
    <?php endif; ?>
    <h4>Ostatní odměny a penále</h4>
    <?php if ($this->rewardsDept): ?>

    <table class="table table-condensed table-hover">
      <?php foreach($this->rewardsDept as $item): ?>
      <tr>
        <td><?= $item->description; ?></td>
        <td class="text-right"><?= Meduse_Currency::format($item->value); ?></td>
        <td>Kč</td>
        <?php if (!$this->reward->isClosed()): ?>
          <td class="text-right"><a href="<?= $this->url(array('action' => 'reward-remove', 'reward' => $item->id)); ?>" class="btn btn-small btn-danger"><i class="icon icon-white icon-remove"></i></a></td>
        <?php endif; ?>
      </tr>
      <?php endforeach; ?>
      <tr>
        <td><strong>CELKEM</strong></td>
        <td class="text-right"><strong><?= Meduse_Currency::format($this->reward->getDeptReward()); ?></strong></td>
        <td><strong>Kč</strong></td>
        <?php if (!$this->reward->isClosed()): ?>
          <td class="text-right">&nbsp;</td>
        <?php endif; ?>
      </tr>
    </table>
    <?php else: ?>
    <p>Žádné položky.</p>
    <?php endif; ?>

    <?php if ($this->formVacations): ?>
        <h3>Nárok na dovolenou v roce <?= $this->date->toString('Y') + 1; ?></h3>
      <?= $this->formVacations; ?>
    <?php endif; ?>

    <?php if (!$this->reward->isClosed()): ?>
      <a href="<?= $this->url(array('action' => 'close-month')); ?>" class="btn btn-large btn-success pull-right"><i class="icon icon-white icon-check"></i>&nbsp;Uzavřít měsíc</a>
    <?php elseif (Zend_Registry::get('acl')->isAllowed('employees/reopen-month') && $this->employee->isActive()): ?>
      <a href="<?= $this->url(array('action' => 'reopen-month')); ?>" class="btn btn-large btn-danger pull-right"><i class="icon icon-white icon-repeat"></i>&nbsp;Znovu otevřít</a>
    <?php endif; ?>
  </div>
  <div class="span-6 pull-right">
    <h3>Přehled</h3>
    <?= $this->reward; ?>
  </div>
</div>

<div class="modal fade hide" id="reward_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Odměna / pokuta</h3>
  </div>
  <div class="modal-body">
        <?php echo $this->formReward; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="reward_modal_form_submit">Uložit</a>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

  $('#reward-add').click(function(){
    $('#reward_modal').modal('show');
      return false;
  });

  $('#reward_modal_form_submit').click(function(){
    $('#reward_modal form').submit();
  });

  $('#employees_worksheet input').prop('readonly', true);
  $('#employees_worksheet select').prop('disabled', true);

  $('#wwrapper')
    .on('show', function (){
      $('#wbtn').html('Skrýt Worksheet');
    })
    .on('hide', function (){
    $('#wbtn').html('Zobrazit Worksheet');
  });
});
</script>

<style type="text/css">
  .span-6 { width: 47%; }
</style>
