<link rel="stylesheet" href="/public/style/worksheet.css" />

<div class="btn-group pull-right">
  <a href="<?= $this->url(array('action' => 'recalculate')); ?>" class="btn btn-primary"><i class="icon icon-ok icon-white"></i> Hotovo</a>
  <a href="<?= $this->url(); ?>" class="btn btn"><i class="icon icon-refresh"></i> Obnovit</a>
  <button class="btn show-originals"><i class="icon icon-eye-close"></i> Originály</button>
</div>
<h2><?= $this->title; ?>&nbsp;<br>
  <?php if (is_null($this->overtime)): ?>
  <small>
    Odpracováno tento měsíc:
    <strong><span id="super_total"><?= $this->total; ?></span> h</strong>
  </small>
  <?php else: ?>
  <small>
    přesčas tento měsíc: <strong><span id="super_overtime"><?= $this->overtime; ?></span> h</strong>
    | přesčas celkem: <strong><span id="super_overtime_debt"><?= $this->overtime_debt; ?></span> h</strong>
  </small>
  <?php endif; ?>
</h2>

<div id="overtime_alert" class="alert <?= ($this->overtime > Employees_WorkSheet::MAX_OVERTIME)? '' : 'hidden'; ?>">
    Pozor, překročeno <?= Employees_WorkSheet::MAX_OVERTIME; ?> hodin přesčasů!
</div>

<?= $this->sheet->render(array('show_overtime' => !is_null($this->overtime))); ?>
<p class="pull-right btn-group">
  <a href="<?= $this->url(array('action' => 'recalculate')); ?>" class="btn btn-primary"><i class="icon icon-ok icon-white"></i> Hotovo</a>
  <a href="<?= $this->url(); ?>" class="btn btn"><i class="icon icon-refresh"></i> Obnovit</a>
  <button class="btn show-originals"><i class="icon icon-eye-close"></i> Originály</button>
</p>
<script type="text/javascript">
  $(document).ready(function(){

    $('.show-originals').click(function(){
      $('.show-originals .icon').toggleClass('icon-eye-open').toggleClass('icon-eye-close');
      $('.original-data').toggle();
    });

    $('#employees_worksheet .time input').change(function() {
      var time = $(this).val().match(/^(\d{1,2}):?(\d{2})$/i);
      if (!time || parseInt(time[1]) > 23 || parseInt(time[2]) > 59) {
        $(this).val('');
        return;
      }
      var minutes = parseInt(time[2]);
      var hours = parseInt(time[1]);
      var modulo = minutes % 15;
      if (modulo > 7) {
        minutes = (minutes + 15 - modulo);
        if (minutes === 60) {
          minutes = 0;
          hours++;
          if (hours > 23) {
            hours = 0;
          }
        }
      }
      else {
        minutes = (minutes - modulo) % 60;
      }
      if (minutes < 10) {
        minutes = '0' + minutes;
      }
      if (hours < 10) {
        hours = '0' + hours;
      }
      $(this).val(hours + ':' + minutes);
    });

    $('#employees_worksheet input, #employees_worksheet select').change(function() {
      // recalculate
      var row = null,
        freeday = false,
        reimbused,
        matches = [],
        date = null,
        start = null,
        end = null,
        total = 0,
        lunch = null,
        total_old = 0,
        overtime = 0,
        overtime_old = 0,
        super_overtime = 0,
        super_overtime_debt = 0,
        minutes = 0,
        $input = null,
        worktype = null;

      row = $(this).parentsUntil('tbody', 'tr');
      freeday = row.hasClass('freeday') || row.hasClass('holiday');
      reimbused = row.hasClass('reimbused');

      worktype = row.find('.type select').val();
      if (worktype == '<?= Table_EmployeesRecords::TYPE_UNPAID_VACATION; ?>') {
        row.find('.start input').val('');
        row.find('.end input').val('');
        row.find('.lunch input').prop('checked', false);
        row.find('.km input').val('');
      }

      matches = row.find('.start input').attr('name').match(/^(\w+)_([\d-]+)$/i);
      date = matches[2];
      start = row.find('.start input').val().match(/^(\d{1,2}):?(\d{2})$/i);
      matches = row.find('.end input').attr('name').match(/^(\w+)_([\d-]+)$/i);
      end = row.find('.end input').val().match(/^(\d{1,2}):?(\d{2})$/i);

      $lunch = row.find('.lunch input');

      if (start && end) {

        var
            hs = parseInt(start[1]),
            ms = parseInt(start[2]),
            he = parseInt(end[1]),
            me = parseInt(end[2]);

        if (he < hs) {
          he += 24;
        }

        minutes = (he * 60 + me) - (hs * 60 + ms);
        if (minutes >= 60 * <?= Employees_WorkSheet::LUNCH_LIMIT; ?>) {
          $lunch.prop('checked', true).prop('disabled', true);
        }
        else {
          $lunch.prop('disabled', false);
        }
        // odecteni 30 minut na obed
        if ( (worktype == '<?= Table_EmployeesRecords::TYPE_WORK; ?>'
          || worktype == '<?= Table_EmployeesRecords::TYPE_HALF_VACATION; ?>'
          || worktype == '<?= Table_EmployeesRecords::TYPE_HOMEOFFICE; ?>'
          || worktype == '<?= Table_EmployeesRecords::TYPE_BUSINESS_TRIP; ?>'
          || worktype == '<?= Table_EmployeesRecords::TYPE_BUSINESS_TRIP_FOREIGN; ?>') && $lunch.prop('checked')) {
          minutes -= 30;
        }

        total = Math.round(minutes / 60*100) / 100;

        if (total < 0) {
          total = 24 + total;
        }
        if (reimbused) {
          total += <?= Employees_WorkSheet::HOURS_IN_DAY ?>;
        }
        $input = row.find('input[name=total_' + date + ']');
        total_old = parseFloat($input.val());
        $input.val(total);
        $('#super_total').html(parseFloat($('#super_total').html()) - total_old + total);


        if (freeday || worktype == '<?= Table_EmployeesRecords::TYPE_SICKNESS; ?>'
                || worktype == '<?= Table_EmployeesRecords::TYPE_FMC; ?>'
                || worktype == '<?= Table_EmployeesRecords::TYPE_FUNERAL; ?>'
                || worktype == '<?= Table_EmployeesRecords::TYPE_VACATION; ?>') {
          overtime = total;
        }
        else {
          overtime = total - (worktype == '<?= Table_EmployeesRecords::TYPE_HALF_VACATION; ?>' ? <?= Employees_WorkSheet::HOURS_IN_DAY/2; ?> : <?= Employees_WorkSheet::HOURS_IN_DAY; ?>);
        }
        $input = row.find('input[name=overtime_' + date + ']');
        overtime_old = $input.val();
        $input.val(overtime);
        super_overtime = parseFloat($('#super_overtime').html()) - overtime_old + overtime;
        super_overtime_debt = parseFloat($('#super_overtime_debt').html()) - overtime_old + overtime;
        $('#super_overtime').html(super_overtime);
        $('#super_overtime_debt').html(super_overtime_debt);
      }
      else {
        if (worktype == '<?= Table_EmployeesRecords::TYPE_OVERTIME_DRAW; ?>') {
          $input = row.find('input[name=total_' + date + ']');
          total_old = $input.val();
          $input.val(0);
          $('#super_total').html(parseFloat($('#super_total').html()) - total_old);

          $input = row.find('input[name=overtime_' + date + ']');
          overtime_old = parseFloat($input.val());
          $input.val(-<?= Employees_WorkSheet::HOURS_IN_DAY; ?>);
          super_overtime = parseFloat($('#super_overtime').html()) - overtime_old - <?= Employees_WorkSheet::HOURS_IN_DAY; ?>;
          super_overtime_debt = parseFloat($('#super_overtime_debt').html()) - overtime_old - <?= Employees_WorkSheet::HOURS_IN_DAY; ?>;
          $lunch.prop('checked', false).prop('disabled', true);
        }
        else {

          if (reimbused) {
            total = <?= Employees_WorkSheet::HOURS_IN_DAY ?>;
          }
          else {
            total = 0;
          }
          $input = row.find('input[name=total_' + date + ']');
          total_old = $input.val();
          $input.val(total);
          $('#super_total').html(parseFloat($('#super_total').html()) + total - total_old);

          $input = row.find('input[name=overtime_' + date + ']');
          overtime_old = $input.val();
          $input.val(0);
          super_overtime = parseFloat($('#super_overtime').html()) - overtime_old;
          super_overtime_debt = parseFloat($('#super_overtime_debt').html()) - overtime_old;
        }
      }
      $('#super_overtime').html(super_overtime);
      $('#super_overtime_debt').html(super_overtime_debt);
      if (super_overtime > <?= Employees_WorkSheet::MAX_OVERTIME; ?>) {
        $('#overtime_alert').removeClass('hidden');
      }
      else {
        $('#overtime_alert').addClass('hidden');
      }

      if (worktype == '<?= Table_EmployeesRecords::TYPE_FMC; ?>'
              || worktype == '<?= Table_EmployeesRecords::TYPE_FUNERAL; ?>'
              || worktype == '<?= Table_EmployeesRecords::TYPE_VACATION; ?>') {
        $input = row.find('input[name=total_' + date + ']');
        total = parseFloat($input.val());
        if (freeday) {
          $input.val(total);
          $('#super_total').html(parseFloat($('#super_total').html()));
        }
        else {
          $input.val(total + <?= Employees_WorkSheet::HOURS_IN_DAY; ?>);
          $('#super_total').html(parseFloat($('#super_total').html()) + <?= Employees_WorkSheet::HOURS_IN_DAY; ?>);
        }
        $lunch.prop('checked', false).prop('disabled', true);
      }

      if (worktype == '<?= Table_EmployeesRecords::TYPE_SICKNESS; ?>') {
        $input = row.find('input[name=total_' + date + ']');
        total = parseFloat($input.val());
        if (freeday) {
          $input.val(total);
          $('#super_total').html(parseFloat($('#super_total').html()));
        }
        $lunch.prop('checked', false).prop('disabled', true);
      }

      if (worktype == '<?= Table_EmployeesRecords::TYPE_HALF_VACATION; ?>') {
        $input = row.find('input[name=total_' + date + ']');
        total = parseFloat($input.val());
        $input.val(total + <?= Employees_WorkSheet::HOURS_IN_DAY/2; ?>);
        $('#super_total').html(parseFloat($('#super_total').html()) + <?= Employees_WorkSheet::HOURS_IN_DAY/2; ?>);
      }

      if (worktype == '<?= Table_EmployeesRecords::TYPE_UNPAID_VACATION; ?>') {
        $input = row.find('input[name=total_' + date + ']');
        if (freeday) {
          $input.val(-<?= Employees_WorkSheet::HOURS_IN_DAY; ?>);
          $('#super_total').html(parseFloat($('#super_total').html()) - <?= Employees_WorkSheet::HOURS_IN_DAY; ?>);
        }
        else {
          $input.val(0);
          $('#super_total').html(parseFloat($('#super_total').html()));
        }
      }

      if (worktype == '<?= Table_EmployeesRecords::TYPE_HOLIDAY; ?>') {
        $input = row.find('input[name=total_' + date + ']');
        $input.val(<?= Employees_WorkSheet::HOURS_IN_DAY; ?>);
        $lunch.prop('checked', false).prop('disabled', true);
        $('#super_total').html(parseFloat($('#super_total').html()) + <?= Employees_WorkSheet::HOURS_IN_DAY; ?>);
      }


      row.removeClass('warning').removeClass('error')
         .removeClass('type-vacation')
         .removeClass('type-sickness')
         .removeClass('type-bustrip')
         .removeClass('type-work');
      switch (worktype) {
        case '<?= Table_EmployeesRecords::TYPE_VACATION; ?>':
        case '<?= Table_EmployeesRecords::TYPE_UNPAID_VACATION; ?>':
        case '<?= Table_EmployeesRecords::TYPE_FUNERAL; ?>':
        case '<?= Table_EmployeesRecords::TYPE_OVERTIME_DRAW; ?>':
          row.addClass('type-vacation');
          break;
        case '<?= Table_EmployeesRecords::TYPE_HALF_VACATION; ?>':
          row.addClass('type-half-vacation');
          break;
        case '<?= Table_EmployeesRecords::TYPE_SICKNESS; ?>':
        case '<?= Table_EmployeesRecords::TYPE_FMC; ?>':
          row.addClass('type-sickness');
          break;
        case '<?= Table_EmployeesRecords::TYPE_BUSINESS_TRIP ?>':
        case '<?= Table_EmployeesRecords::TYPE_BUSINESS_TRIP_FOREIGN ?>':
          row.addClass('type-bustrip');
          break;
        case '<?= Table_EmployeesRecords::TYPE_HOMEOFFICE; ?>':
        case '<?= Table_EmployeesRecords::TYPE_WORK; ?>':
          row.addClass('type-work');
          break;
        }
    });

    $('#employees_worksheet input, #employees_worksheet select').change(function(){

        var matches = $(this).attr('name').match(/^(\w+)_([\d-]+)$/i);
        var date = matches[2];
        var column = matches[1];
        var value = column == 'lunch' ? ($(this).prop('checked') ? 'y' : 'n') : $(this).val();
        var id = $(this).data('row-id') ? $(this).data('row-id') : null;
        var data = {
          id: id,
          id_users: <?= $this->userId; ?>,
          id_employees: $('input[name="employee"]:first').val(),
          date: date,
          column: column,
          value: value
        };
        var $this = $(this);
        $this.addClass('highlighted');
        var $row = $(this).parentsUntil('tbody', 'tr');

        $.post('/employees/ajax-edit-work', data)
          .done(function(data){
            if (data.status == true) {
              if (data.row) {
               $row.find('input, select').each(function(){
                  $(this).attr('data-row-id', data.row.id);
                });
              }
              $this.addClass('changed').removeClass('highlighted');
            }
          });
      });
    });
</script>
