<div id="addressModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Zvolit adresu</h3>
		</div>
		<div class="modal-body row-fluid">
			<?= $this->addressForm; ?>
		</div>
		<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Storno</a>
		<a href="#" onClick="submitAction();" class="btn btn-primary">Uložit</a>
	</div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $('.changeAddress').click(function(){
      $('#addressModal form input#type').val($(this).data('address-type'));
      $('#addressModal').modal('show');
      return false;
    });
  });

  function submitAction() {
    $('#addressModal form').submit();
  }

</script>
<style type="text/css">
  .form label.radio {
    width: auto;
  }
</style>

