<br/><br/><h4>Objednávky setů</h4><br/><br/>
<?php

if($this->data){ 
?>

<table class="datalist">
	<thead>
		<tr>
			<th>ID</th>
			<th>Název</th>
<?php
	foreach($this->orders as $order){
?>
			<th><?=$order['title'] ?></th>
<?php
	}
?>
			<th>Celkem</th>
			<th>Hotovo ks</th>
		</tr>
	</thead>

<?php 
		$i = 0;
		$sum_array = $this->products_array;
		$sum = 0;
		$sum_ready = 0;
		foreach($this->products_array as $id => $name){
			$sum_array[$id] = 0;
			$class = ($i++ % 2) ? " class='odd'" : '';
?>
		<tr>
			<td<?= $class ?> style="text-align: left;"><?= $id ?></td>
			<td<?= $class ?> style="text-align: left;"><?= $name ?></td>
<?php 

			foreach($this->data as $idorder => $products){
				foreach($products as $product => $amount){
					if($product == $id){
						$sum_array[$id] += $amount;
?>
			<td<?= $class ?>><?= ($amount > 0 ? $amount : '-')?></td>
<?php
					}
				}
			}
			$sum += $sum_array[$id];
			$sum_ready += $this->ready_products[$id];
?>
			<td<?= $class ?>><?= $sum_array[$id] ?></td>
			<td<?= $class ?>><?= $this->ready_products[$id] ?></td>
		</tr>
<?php 
		}
	
?>
	<tr>
		<th colspan="2">Celkem modelů</th>
<?php 

			foreach($this->data as $idorder => $products){
				$tmp_sum = 0;
				foreach($products as $product => $amount){
					$tmp_sum += $amount;
				}
?>
		<th><?= $tmp_sum?></th>
<?php 
			}
?>
		<th><?= $sum ?></th>
		<th><?= $sum_ready ?></th>
	</tr>
	
</table>

<?php
}
?>