<br/><br/><h4>Objednávka podsoučástí</h4><br/><br/>
<style>
.form_table td{
	text-align: left;
}
</style>
<?php echo $this->form;?>
<br /><br />
<?php if ($this->data){?>
<table class="datalist">
	<thead>
		<tr>
			<th>ID</th>
			<th>Název</th>
			<th>Objednávka<br />celkem</th>
			<th>Rezervace<br />[ks]</th>
			<th>Skladem<br />[ks]</th>
			<th>Volných<br />[ks]</th>
			<th>Chybí<br />[ks]</th>
		</tr>
	</thead>
	<tbody>
<?php
	$ii = 0;
	foreach($this->data as $ctg_name => $category){
		$i=0;
?>
			<tr><th colspan="9" class="section"><?= $ctg_name ?></th> </tr>
<?php 
		if($ii++ > 0){
?>
			<tr>
				<th>ID</th>
				<th>Název</th>
				<th>Objednávka</th>
				<th>Rezervace</th>
				<th>Skladem</th>
				<th>Volných</th>
				<th>Chybí</th>
			</tr>
<?php 
		}

		foreach($category as $part){
		$class = ($i++ % 2) ? " class='odd'" : '';
?>
			<tr>
				<td<?= $class ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$part->getID()?>" style="<?php echo (substr($part->getID(),0,1) == 'S' || substr($part->getID(),0,2) == 'AS' ? "color: blue;" : "");?>" ><?= $part->getID() ?></a></td>
				<td<?= $class ?> style="text-align: left;<?php echo (substr($part->getID(),0,1) == 'S' || substr($part->getID(),0,2) == 'AS' ? "color: blue;" : "");?>"><?= $part->getName() ?></td>
				<td<?= $class ?>><?= $part->getAmount() ?></td>
				<td<?= $class ?>><?= $this->ready_amounts[$part->getID()] ?></td>
				<td<?= $class ?>><b><?= $this->warehouse[$part->getID()]?></b></td>
				<td<?= $class ?>><?php if($part->getAmount() < ($this->ready_amounts[$part->getID()] + $this->warehouse[$part->getID()])){ if ($this->warehouse[$part->getID()] > $part->getAmount()) echo ($this->warehouse[$part->getID()] - $part->getAmount()); else echo 0;} else echo 0; ?></td>
				<td<?= $class ?> <?php if($part->getAmount() > ($this->ready_amounts[$part->getID()] + $this->warehouse[$part->getID()])) echo "style='background-color: orange;'"; ?>><?php if($part->getAmount() > ($this->ready_amounts[$part->getID()] + $this->warehouse[$part->getID()])) echo ($part->getAmount() - ($this->ready_amounts[$part->getID()] + $this->warehouse[$part->getID()])); else echo 0; ?></td>
			</tr>
<?php 
		}
	}
}
?>
		</tbody>
	</table>
<br /><br /><br />