<h2><?php echo $this->title ?>
    <a class="btn btn-mini" href="<?php echo $this->url(array('action' => 'show-holograms',
        'part' => null));?>">Zpět</a></h2>

<form method="post">
<input type="hidden" name="action" value="assign" />
<input type="hidden" value="<?php echo $this->order->getID(); ?>" name="order_id" />
<input type="hidden" value="<?php echo $this->part->getID(); ?>" name="part_id" />

<table class="table table-bordered table-hover" id="holograms">
    <thead>
        <tr>
            <td colspan="2" class="text-center">
                <button type="submit" name="submit" class="btn btn-primary" 
                        value="Uložit" >Uložit změny</button>
            </td>
            <td colspan="2">    
                <strong>Objednávka:</strong> 
                <span class="label label-info"><?php echo $this->order->getNo()?></span> 
                <a href="<?php echo $this->url(array('controller' => 'orders', 
                    'action' => 'detail', 'part' => null)); ?>"><?php echo $this->order->getTitle(); ?></a> | 
                <strong>Součást:</strong> <span class="label label-success"><?php echo $this->part->getID(); ?></span>
                <a href="<?php echo $this->url(array('controller' => 'parts',
                    'action' => 'detail', 'id' => $this->part->getID(), 'part' => null));?>"><?php echo $this->part->getName(); ?></a>
            </td>
        </tr>
        <tr>
            <th>#</th>
            <th>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <span id="count">0</span> / <?php echo $this->order->getCountHolograms($this->part->getID()); ?>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:selectAll(<?php echo $this->order->getCountHolograms($this->part->getID()); ?>)">Zvol maximum</a></li>
                        <li><a href="javascript:selectNone()">Odznač vše</a></li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="input-prepend input-append">
                    <span class="add-on"><?php echo $this->part->getCollectionAbbr(); ?></span>
                    <input pattern="[0-9]{0,8}" onkeyup="filterCodes();" maxlength="8" placeholder="Hledat kód" id="filter" type="text" />
                    <button class="btn" type="button" onclick="clearFilter();">Vyčistit</button>
                </div>    
            </th>
            <th>Přiřazeno dne</th>
        </tr>
    </thead>
    <tbody>
    <?php
         //Zend_Debug::dump($this->holograms);
        $it = 0;
        foreach ($this->holograms as $hologram): 

            $checked = ($this->part->getID() == $hologram["id_parts"] 
                && $this->order->getID() == $hologram["id_orders"])?
                'checked = "checked"' : "";
    ?>
        <tr class="hol hol<?php echo $hologram['hologram']; ?>">
            <td class="rightalign"><?php if ($checked): echo ++$it . "."; else: ?>&nbsp;<?php endif; ?></td>
            <td><input type="checkbox" name="holograms[]" value="<?php echo $hologram['id'] ?>" <?php echo $checked; ?>/></td>
            <td><?php echo  $hologram['abbr'] . " " . $hologram['hologram']; ?></td>
            <td><?php if ($checked): echo $hologram['changed']; else: ?>&ndash;<?php endif; ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
  
</table>
</form>

<script type="text/javascript">
<!--
    $(document).ready(function(){
       var max = <?php echo $this->order->getCountHolograms($this->part->getID()); ?>; 
       if (count() >= max) {
            $(":checkbox:not(:checked)").prop('disabled', true);           
       }
       $(":checkbox").change(function(){
           var c = count(); 
           if (c < max) {
            $(":checkbox:not(:checked)").prop('disabled', false);
           } else if (c == max) {
            $(":checkbox:not(:checked)").prop('disabled', true);   
           } else {
            $(this).prop("checked", false);       
            $(":checkbox:not(:checked)").prop('disabled', true);
           }
       });
    });    
    function count() {
        var c = $("input:checkbox:checked").length;
        $("#count").html(c);
        return c;
    }
    
    function filterCodes() {
        var code = $("#filter").val();
        if (code == "") {
            $("#holograms tbody tr").show();
        } else {
            $("#holograms tbody tr").hide();
            $("#holograms tbody tr:contains('"+ code + "')").show();    
        }

    }
    
    function selectAll(total) {
        var n = total - count();
        $(":checkbox:not(:checked):lt(" + n + ")").prop('checked', true);
        $(":checkbox:not(:checked)").prop('disabled', true);
        count();
    }
    
    function selectNone() {
        $(":checkbox").prop('checked', false);
        $(":checkbox").prop('disabled', false);
        count();        
    }
    
    function clearFilter() {
        $("#filter").val("");
        $("#holograms tbody tr").show();
    }
//-->
</script>

