<h2><?= $this->title ?></h2>

<div class="container">
  <div class="row">
    <div class="span8">
    <?php if ($this->hs_codes): ?>
      <table class="table table-condensed">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th>HS kód</th>
          <th>Popis</th>
          <th class="text-center">Dostupnost</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php
          $avail = ['products' => 'P', 'invoices' => 'I'];
          foreach ($this->hs_codes as $data):
          $classes = [];
          if ($data['avail_products'] === 'y') {
            $classes[] = 'products';
          }
          if ($data['avail_invoices'] === 'y') {
            $classes[] = 'invoices';
          }
          ?>
          <tr class="<?= implode(' ', $classes); ?>">
            <td class="text-center"><div class="badge"><small><?= $data['weight']; ?></small></div></td>
            <td><strong><?= $data['code']; ?></strong></td>
            <td><?= $data['description']; ?>
              <?php if ($data['note']): ?>
                <br><small><strong><?= $data['note']; ?></strong></small>
              <?php endif; ?>
            </td>
            <td class="text-center">
              <?= in_array('products', $classes) ? '<div class="badge badge-success">P</div>' : ''; ?>
              <?= in_array('invoices', $classes) ? '<div class="badge badge-important">F</div>' : ''; ?>
            <td>
              <div class="btn-group-vertical">
                <a class="btn btn-info btn-small" title="editovat"
                   href="<?= $this->url(['edit' => $data['code']]); ?>">
                  <i class="icon icon-edit"></i></a>
                <a class="btn btn-danger btn-small" title="smazat"
                   href="<?= $this->url(['delete' => $data['code']]); ?>">
                  <i class="icon icon-remove icon-white"></i></a>
              </div>
            </td>
          </tr>
        <?php endforeach; ?>
        </tbody>
      </table>


    <?php else: ?>
      <p>Nejsou žádné definované HS kódy pro fakturaci.</p>
    <?php endif; ?>
    </div>
    <div class="span4">
      <?= $this->form ?>
    </div>
  </div>
</div>
