<?php 	$acl = Zend_Registry::get('acl'); ?>

<?php if ($acl->isAllowed('orders/add-carrier')): ?>
<div class="pull-right"><a class="btn btn-primary" href="<?php echo $this->baseUrl(); ?>/orders/add-carrier"><i class="icon-plus icon-white"></i> Přidat dopravce</a></div>
<?php endif; ?>

<h2>Dopravci</h2>

<?php if($this->activeCarriers): ?>

<table class="table table-condensed">
	<thead>
		<tr>
			<th>Název</th>
			<th style="width: 10%;">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
<?php foreach ($this->activeCarriers as $row): ?>
	<tr>
		<td><a href="<?php echo $this->baseUrl(); ?>/producers/detail-carrier/id/<?= $row->id; ?>"><?= $row->name; ?></a></td>
		<td>
			<a title="Detail" class="btn-info btn btn-small" href="<?php echo $this->baseUrl(); ?>/producers/detail-carrier/id/<?= $row->id; ?>">
				<i class="icon-info-sign icon-white"></i></a>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
</table>
<?php else: ?>
<p class="alert alert-info">Neexistuje žádný aktivní dopravce.</p>
<?php endif; ?>

<?php if($this->inactiveCarriers): ?>
    <h3>Neaktivní dopravci</h3>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Název</th>
            <th style="width: 10%;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->inactiveCarriers as $row): ?>
            <tr>
                <td><a href="<?php echo $this->baseUrl(); ?>/producers/detail-carrier/id/<?= $row->id; ?>"><?= $row->name; ?></a></td>
                <td>
                    <a title="Detail" class="btn-info btn btn-small" href="<?php echo $this->baseUrl(); ?>/producers/detail-carrier/id/<?= $row->id; ?>">
                        <i class="icon-info-sign icon-white"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
