<br/><br/><h4>Objednávka součástí</h4><br/><br/>
<style>
.form_table td{
	text-align: left;
}
</style>
<?php 
	echo $this->form;
	if($this->data){
		$pw = new Table_PartsWarehouse();
?>
<br/><br/>

	<table class="datalist">
		<thead>
			<tr>
				<th rowspan="2">ID</th>
				<th rowspan="2">Název</th>
				<th colspan="3">Objednávka</th>
				<th rowspan="2">Rezervace<br />[ks]</th>
				<th rowspan="2">Skladem<br />[ks]</th>
				<th rowspan="2">Volných<br />[ks]</th>
				<th rowspan="2">Chybí<br />[ks]</th>
			</tr>
			<tr>
				<th>Extra acc.</th>
				<th>Sety</th>
				<th rowspan="2">Celkem</th>
			</tr>
		</thead>
		<tbody>
<?php
	$ii = -1;
	$i=0;
	$last_cgt = 0;
	$first = true;
	foreach($this->data as $row){
		
		if($last_cgt != $row['id_parts_ctg']){
?>
			<tr><th colspan="9" class="section"><?= $row['ctg_name'] ?></th> </tr>
<?php 
			$last_cgt = $row['id_parts_ctg'];
			$ii= 0;
		}
		if(!$first & $ii++ == 0){
?>
			<tr>
				<th>ID</th>
				<th>Název</th>
				<th>Extra acc.</th>
				<th>Sety</th>
				<th>Celkem</th>
				<th>Rezervace</th>
				<th>Skladem</th>
				<th>Volných</th>
				<th>Chybí</th>
			</tr>
<?php 
		}
		$first = false;
			$class = ($i++ % 2) ? " class='odd'" : '';
			$amount = $this->wh->getAmount($row['id']);
?>
			<tr>
			<!-- 
				<td<?= $class ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>"><?= $row['id'] ?></a></td>
				<td<?= $class ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>"><?= $row['name'] ?></a></td>
			-->
				<td<?= $class ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>" target="_blank" style="<?php echo (substr($row['id'],0,1) == 'S' || substr($row['id'],0,2) == 'AS' ? "color: blue;" : "");?>"><?= $row['id'] ?></a></td>
				<td<?= $class ?> style="text-align: left;<?php echo (substr($row['id'],0,1) == 'S' || substr($row['id'],0,2) == 'AS' ? "color: blue;" : "");?>"><?= $row['name'] ?></td>
				<td<?= $class ?>><?= $row['extra_amount'] ?></td>
				<td<?= $class ?>><?= $row['sets_amount'] ?></td>
				<td<?= $class ?>><?= $row['total_amount'] ?></td>
				<td<?= $class ?>><?= $this->ready_amounts[$row['id']] ?></td>
				<td<?= $class ?>><b <?php if($pw->getBaseAmount($row['id']) < $amount) echo 'style="color: teal;"'; ?>><?= $amount ?></b></td>
				<td<?= $class ?>><?php if($row['total_amount'] < ($amount + $this->ready_amounts[$row['id']])){ if ($amount > $row['total_amount']) echo ($amount - $row['total_amount']); else echo 0;} else echo 0; ?></td>
				<td<?= $class ?> <?php if($row['total_amount'] > ($amount + $this->ready_amounts[$row['id']])) echo "style='background-color: orange;'";?>><?php if($row['total_amount'] > ($amount + $this->ready_amounts[$row['id']])) echo ($row['total_amount'] - ($amount + $this->ready_amounts[$row['id']]));else echo 0; ?></td>
			</tr>
<?php 
		}
	
	
	} // if(data)
?>
		</tbody>
	</table>

<br />
<br />
<br />
