<div class="no-print">
    <br/><br/>
</div>
<?php echo $this->title; ?>
<br><br>

<div class="row-fluid">
    <div class="span6">
        <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th colspan="3" style="text-align: center">STRATEGICKÉ</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Počet</th>
        </tr>
    <?php
        foreach($this->strategic_products as $row) {
    ?>
        <tr class="lines">
            <td style="text-align: left;"><?= $row['p_id'] ?></td>
            <td style="text-align: left; word-wrap: break-word;"><?= $row['p_name'] ?></td>
            <td style="text-align: center;"><a class="popover-list popover-<?= $row['p_id'] ?>" href="#" data-product="<?= $row['p_id'] ?>" data-html="true" data-title="Produkt <b><?= $row['p_id'] ?></b>" title="Produkt <?= $row['p_id'] ?>"><div class="popover-val" style="width: 100%;"><?= $row['p_cnt'] ?></div></a></td>
        </tr>
    <?php
        }
    ?>
        <tr><th colspan="3" class="section">&nbsp;</th> </tr>
    </table>
    </div>
    <div class="span6">
        <table class="table table-bordered table-striped table-condensed" style=""> 
        <th colspan="3" style="text-align: center">PŘEDBĚŽNÉ</th>
        <tr>
            <th>Počet</th>
            <th>Název</th>
            <th>ID</th>
        </tr>
    <?php
        foreach($this->preorder_products as $row) {
    ?>
        <tr class="lines">
            <td style="text-align: center;"><?= $row['p_cnt'] ?></td>
            <td style="text-align: left; word-wrap: break-word;"><?= $row['p_name'] ?></td>
            <td style="text-align: left;"><?= $row['p_id'] ?></td>
        </tr>
    <?php
        }
    ?>
        <tr><th colspan="3" class="section">&nbsp;</th> </tr>
    </table>
    </div>
</div>
<div style="clear: both;"></div>


<script>
<?php
    /*
     * 1) pri kliknuti na .popover-list se doplni data-content z ajaxu
     * 2) pri dalsim kliknuti se nacte popover s datama
     * 3) pri zmene poctu a kliknuti mimo input se hodnota ulozi a vrati celkovy pocet
     * 4) pri kliknuti na zavrit se popover znici (fix kvuli override data-content pri dalsim nacteni)
     */
?>    
$('.popover-list').click(function(e) {
    e.preventDefault();
    var pid = $(this).attr('data-product');
    $.get("<?= $this->baseUrl(); ?>/orders/ajax-get-strategic-orders?id=" + pid)
    .done(function(data) {
        $('[data-product="'+ pid +'"]').attr('data-content', data);
        $('[data-product="'+ pid +'"]').popover('show');
        
    });
    $('[data-product="'+ pid +'"]').popover();
});

$(document).on('blur', '.item-change', function() {
    var parameters = $.parseJSON($(this).attr('data'));
    parameters.newVal = $(this).val();
    $.post("<?= $this->baseUrl(); ?>/orders/ajax-set-strategic-orders-amount", parameters)
    .done(function(data) {
        $('.popover-'+ parameters.pid).text(data.amount);
    })
    .fail(function() {
        console.log('fail');
    });
});

$(document).on('click', '.confirm-btn', function() {
    $('[data-product="'+ $(this).attr('data-product') +'"]').popover('destroy');
});


</script>