<div style="max-width: 530px;">
    <p>
        <strong>Opravdu chcete tuto objednávku potvrdit?</strong>
    </p>
    <table class="table table-condensed">
      <tr>
        <th>celková částka</th>
        <td class="text-right"><?= Meduse_Currency::format($this->expectedPayment, $this->expectedCurrency); ?></td>
        <?php if ($this->expectedPayment > 0): ?>
            <td>uhrazeno <?=  $this->paymentPercentage ?> % <?= $this->isPaid ? '(' . Meduse_Date::dbToForm($this->datePayment) . ')' : ''; ?></td>
          <?php  endif; ?>
      </tr>
      <tr>
        <th>požadovaná záloha</th>
        <td class="text-right"><?= Meduse_Currency::format($this->expectedDeposit, $this->expectedCurrency); ?></td>
          <td>
            <?php if ($this->expectedDeposit > 0): ?>
                <?= $this->isDepositPaid ? 'uhrazeno (' . Meduse_Date::dbToForm($this->dateDeposit) . ')' : 'neuhrazeno'?>
            <?php endif; ?>
          </td>
      </tr>
        <tr>
            <th>způsob platby</th>
            <td class="text-right"><?= $this->paymentMethod; ?></td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <p class="text-right">
        <a class="btn btn-small" target="_blank" href="<?= $this->detailUrl; ?>"><i class="icon icon-list"></i>&nbsp;detail objednávky</a>
    </p>
</div>
<?= $this->form; ?>
