<div id="cooModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>COO — data vyřízení a platnosti</h3>
		</div>
		<div class="modal-body row-fluid">
			<?= $this->cooDatesForm; ?>
		</div>
		<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Storno</a>
		<a href="#" onClick="cooSubmitAction();" class="btn btn-primary">Uložit</a>
	</div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $('.coo-dates-action').click(function(){
      console.log('coo');
      $('#cooModal').modal('show');
      return false;
    });
  });

  function cooSubmitAction() {
    $('#cooModal form').submit();
  }

</script>


