<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span8">

              <?= $this->OrderTitle($this->order); ?>

                    <?php if (!$this->allow_edit_products): ?>
                      <div class="alert">
                        <small><?= $this->allow_edit_note; ?></small>
                      </div>
                    <?php endif; ?>

            </div>
            <div class="span4 text-right no-print">
                <span style="padding-right: 25px;">
                    <?php if ($this->allow_edit): ?>
                        <a class="btn btn-small" title="Upravit objednávku" href="<?= $this->url(array('controller' => 'order-edit', 'action' => 'index', 'order' => $this->order->getID(), 'id' => null)) ?>"><i class="icon-edit"></i> Upravit objednávku</a>
                    <?php endif; ?>
                </span>
                <?php if ($this->acl->isAllowed('orders/index')): ?>
                <div class="btn-group no-print">
                    <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-wrench icon-white"></i> Operace s objednávkou
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu text-left">

                            <?php
                            if (
                                    Zend_Registry::get('acl')->isAllowed('orders/prepare') &&
                                    $this->order->getStatus() != 'deleted' &&
                                    $this->order->getStatus() != 'closed' &&
                                    $this->order->getStatus() != 'trash'
                            ) {
                                ?>
                            <li><a href="<?php echo $this->url(array('controller' => 'orders', 'action' => 'prepare', 'id' => $this->order->getID())); ?>">Rezervace</a></li>
                            <li><a href="<?php echo $this->url(array('controller' => 'orders', 'action' => 'show-holograms', 'id' => $this->order->getID())); ?>">Správa hologramů</a></li>
                            <!--
                            <?php if (!$this->holograms): ?>
                                                <li><a href="<?php echo $this->url(array('controller' => 'orders', 'action' => 'assign-holograms', 'id' => $this->order->getID())); ?>">Přiřadit hologramy</a></li>
                            <?php else: ?>
                                                <li><a href="<?php echo $this->url(array('controller' => 'orders', 'action' => 'show-holograms', 'id' => $this->order->getID())); ?>">Zobrazit hologramy</a></li>
                            <?php endif; ?>
                            -->
                        <?php } ?>
                            <?php if ($this->order->isReady()): ?>
                            <li><a href="<?php echo $this->url(array('controller' => 'packings', 'action' => 'pack', 'id' => $this->order->getID())); ?>">Vytvořit packing list</a></li>
                            <?php endif; ?>

                        <?php if ($this->order->getStatus() == 'closed'): ?>
                            <li><a href="<?php echo $this->url(array(
                                'controller' => 'orders',
                                'action' => 'show-holograms',
                                'id' => $this->order->getID())); ?>">Zobrazit hologramy</a>
                            </li>
                            <?php if (Zend_Registry::get('acl')->isAllowed('orders/delete-from-trash')): ?>
                            <li>
                                <a href="<?php echo $this->url(array(
                                    'controller' => 'orders',
                                    'action' => 'delete-from-trash',
                                    'id' => $this->order->getID())); ?>"
                                    onClick="return confirm('Opravdu chcete tuto objednávku odstranit?')">Odstranit</a>
                            </li>
                            <?php endif; ?>
                        <?php elseif (!$this->orderHasReservedProducts): ?>
                            <li>
                                <a href="<?php echo $this->url(array(
                                    'controller' => 'orders',
                                    'action' => 'delete',
                                    'id' => $this->order->getID())); ?>"
                                    onClick="return confirm('Opravdu chcete tuto objednávku odstranit?')">Odstranit</a>
                            </li>
                        <?php endif; ?>
                        <?php if (Zend_Registry::get('acl')->isAllowed('orders/return') && $this->order->getStatus() == 'closed'): ?>
                            <li>
                              <a href="<?php echo $this->url(array(
                                'controller' => 'orders',
                                'action' => 'return',
                                'id' => $this->order->getID())); ?>"
                                   onClick="return confirm('Opravdu chcete tuto objednávku vrátit na sklad?')">Vrátit na sklad</a>
                            </li>
                        <?php endif; ?>
                        <?php if (Zend_Registry::get('acl')->isAllowed('export/order')): ?>
                            <li>
                              <a href="<?php echo $this->url(array(
                                'controller' => 'export',
                                'action' => 'order',
                                'id' => $this->order->getID())); ?>">Export</a>
                            </li>
                        <?php endif; ?>
                        <?php if (Zend_Registry::get('acl')->isAllowed('orders/new-template')): ?>
                            <li>
                              <a href="<?php echo $this->url(array(
                                'controller' => 'orders',
                                'action' => 'new-template',
                                'id' => $this->order->getID())); ?>">Vytvořit šablonu</a>
                            </li>
                        <?php endif; ?>
                    </ul>
                </div>
                <?php endif; ?>
            </div>
            <?php if (!empty($this->order->getRow()->id_customers)) {  ?>
            <div class="span11" style="margin-left: 110px;"><div style="width: 90px; float: left;">Zákazník: </div>
              <a href="/customers/detail/id/<?= $this->customer->getId(); ?>">
                <?= $this->customerName; ?>
              </a></div>
            <?php } ?>
            <?php
                $order = $this->order->getDesc();
                echo (!empty($order) ? '<div class="span11" style="margin-left: 110px;"><div style="width: 90px; float: left;">Poznámka:</div>' . $this->order->getDesc() . '</div>' : '');
            ?>
          <?php if (Zend_Registry::get('acl')->isAllowed('order-edit/payment')): ?>
            <div class="span11" style="margin-left: 110px;">
              <div style="width: 90px; float: left;">Ceník:</div>
              <a href="<?= $this->url(array(
                'controller' => 'order-edit', 'action' => 'payment',
                'id' => null, 'order' => $this->order->getID(),
              )); ?>"><?php if ($this->priceList): ?>
                  <?= $this->priceList->name; ?><?php else: ?>nepřiřazen<?php endif; ?>
              </a>
            </div>
          <?php endif; ?>

        </div>

        <!-- nav -->
        <ul class="nav nav-tabs no-print" id="tabPanel" style="margin-top: 10px;">
          <li class="active"><a href="#items">Položky objednávky</a></li>
          <?php if ($this->packaging->is_allowed || $this->tracking->is_allowed): ?>
            <li><a href="#packaging">Balení a tracking</a></li>
          <?php endif; ?>
          <li><a href="#infos">Informace</a></li>
          <li><a href="#invoices">Fakturace</a></li>
        </ul>
        <div class="tab-content">
            <!-- row -->
            <div class="tab-pane no-print" id="infos">
            <?php
            echo $this->partial("partials/order-detail.phtml", array(
                'order' => $this->order,
                'customer' => $this->customer,
                'purchasers' => array(
                    'personal' => 'Koncový zákazník',
                    'business' => 'Obchodní kontakt'
                ),
                'paymentMethods' => Table_Orders::$paymentToString,
                'allow_edit_address' => $this->allow_edit_address,
                'packagingItems' => $this->packagingItems,
                'packagingWeight' => $this->packagingWeight,
                'packagingVolume' => $this->packagingVolume,
                'uploadForm' => $this->uploadForm,
                'files' => $this->files,
                'tracking' => $this->tracking,
                'fees' => $this->fees,
            ));
            ?>
            </div>

            <!-- row -->
            <?php if (!$this->order->isService()): ?>
            <div class="tab-pane active" id="items">
                <?php
                    echo $this->partial("partials/order-parts-list.phtml", array(
                        'rows' => $this->data,
                        'order' => $this->order,
                        'pipeSummary' => $this->pipeSummary,
                        'hsForm' => $this->hsForm,
                        'acl' => $this->acl,
                        'allow_edit' => $this->allow_edit_products,
                    ));
                ?>
            </div>
            <?php else: ?>
            <div class="tab-pane active" id="items">
                <?php
                    echo $this->partial("partials/order-services-list.phtml", array(
                        'rows' => $this->data,
                        'order' => $this->order,
                    ));
                ?>
            </div>
            <?php endif; ?>

            <div class="tab-pane no-print" id="invoices">
            <?php
            echo $this->partial("partials/order-invoices.phtml", array(
                'order' => $this->order,
                'customer' => $this->customer,
                'invoices' => $this->invoices,
                'regular_invoice_id' => $this->regular_invoice_id,
                'allow_invoices' => $this->allow_invoices,
            ));
            ?>
            </div>

          <?php if ($this->packaging->is_allowed || $this->tracking->is_allowed): ?>
            <div class="tab-pane no-print" id="packaging">
              <?= $this->partial("partials/order-packaging.phtml", [
                'packaging' => $this->packaging,
                'tracking' => $this->tracking,
                'order' => $this->order,
              ]); ?>
            </div>
          <?php endif; ?>

        </div>
    </div>
</div>

<?= $this->partial('orders/address-form.phtml', array(
  'addressForm' => $this->addressForm, 'customer' => $this->customer)); ?>

<?= $this->partial('orders/coo-dates-form.phtml', array(
  'cooDatesForm' => $this->cooDatesForm)); ?>

<script>
    $('#tabPanel a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // on load select tab
    $(function() {
        $('#tabPanel a[href="'+window.location.hash+'"]').tab('show');
    });
</script>