<div style="text-align: center;">
    <strong>Objednávka: <a href="/orders/detail/id/<?php echo $this->order_id; ?>"><?php echo $this->order_title; ?></a></strong><br /><br />
</div>
<div>
    <?php echo $this->form; ?>
</div>