<div class="pull-right">
    <a class="btn btn-small" href="<?= $this->url(['action' => 'fees-add']); ?>"><i class="icon icon-plus"></i>&nbsp;Přidat nový</a>
</div>

<h2><?= $this->title; ?></h2>

<?php if (empty($this->fees)): ?>

  <p>
    Nejsou definovány žádné fixní poplatky.
  </p>

<?php else: ?>
    <table class="table table-condensed">
      <thead><tr>
          <th></th>
          <th>Název</th>
          <th class="text-right">Cena</th>
          <th>Text CZE</th>
          <th>Text ENG</th>
          <th class="text-center">Status</th>
          <th>Aktualizace</th>
      </tr></thead>
      <tbody>
    <?php foreach ($this->fees as $fee): ?>
    <tr>
        <td><a class="btn btn-small" href="<?= $this->url(['action' => 'fees-edit', 'id' => $fee['id']]); ?>"><i class="icon icon-edit"></i></td>
        <td>
          <?= $fee['name']; ?>
            <?php if ($fee['is_coo']): ?><span class="badge badge-info">ov.&nbsp;původu</span><?php endif; ?>
            <?php if ($fee['is_iv']): ?><span class="badge badge-warning">ov.&nbsp;faktury</span><?php endif; ?>
        </td>
        <td class="text-right"><?= Meduse_Currency::format($fee['price'], 'EUR'); ?></td>
        <td><?= $fee['text_cs']; ?></td>
        <td><?= $fee['text_en']; ?></td>
        <td class="text-center"><?= $fee['enabled'] ? '<i class="icon icon-ok"></i>' : '<i class="icon icon-remove"></i>' ?></td>
        <td><?= Meduse_Date::dbToForm($fee['updated']); ?></td>
    </tr>
    <?php endforeach; ?>
      </tbody></table>
<?php endif; ?>
