<?php

/////////////////////////////////////////////////////////////////////////////////////////////
// ajax
 if($this->tab){
     if((!is_array($this->data) || count($this->data) < 1) && $this->tab != 'closed'){
         echo "<div style='margin-top: 100px; text-align: center;'>Žádné záznamy</div>";
     } else {
        switch($this->tab){
            case 'offer':
                echo $this->partial("orders/overview-offer.phtml", array(
                  'data' => $this->data,
                  'sort' => $this->sort,
                  'sorder' => $this->sorder,
                ));
                break;
            case 'confirmed':
                echo $this->partial("orders/overview-confirmed.phtml", array(
                  'data' => $this->data,
                  'sort' => $this->sort,
                  'sorder' => $this->sorder,
                ));
                break;
            case 'open':
                echo $this->partial("orders/overview-open.phtml", array(
                  'data' => $this->data,
                  'sort' => $this->sort,
                  'sorder' => $this->sorder,
                ));
                break;
            case 'closed':
                echo $this->partial("orders/overview-closed.phtml", array(
					        'data' => $this->data,
                  'sendmailForm' => $this->sendmailForm
                ));
                break;
            case 'strategic':
                echo $this->partial("orders/overview-strategic.phtml", array(
                    'data' => $this->data,
                    'costs_show' => $this->costs_show,
                    'costs' => $this->costs,
                    'costs_sums' => $this->costs_sums,
                  )
                );
                break;
            case 'trash':
                echo $this->partial("orders/overview-trash.phtml", array('data' => $this->data, 'data2' => $this->data2) );
                break;
            case 'total':
                echo $this->partial('orders/overview-total.phtml', [
                  'data' => $this->data,
                  'data2' => $this->data2,
                  'requested_products' => $this->requested_products,
                  'requested_services' => $this->requested_services,
                ]);
              break;
            default:
                echo $this->partial("orders/overview-new.phtml", array(
                  'data' => $this->data,
                  'sort' => $this->sort,
                  'sorder' => $this->sorder,
                ));
                break;
        }
     }
    die; //pro ajax toto musime udelat
}
//
/////////////////////////////////////////////////////////////////////////////////////////////

?>

<script>
    $(document).ready(function(){
        
        $('a.order-tab-switch').click(function(e){
            e.preventDefault();
            $('#order-list-containter').css('text-align','center');
            $('#order-list-containter').html('<img style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>');
            
            $('ul.nav-tabs > li').attr('class','');  //vynulovat aktivitu tabu
            $(this).parent().attr('class','active'); //nastavit aktivitu tabu
            
            $('#order-list-containter').load('/orders/'+$(this).attr('href'), function() {
                $('#order-list-containter').css('text-align','');
            });
        });
        
        //nahrat prvni tab pri nacteni stranky
        $('#order-list-containter').css('text-align','center');
        $('#order-list-containter').html('<img style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>');
        
        $('ul.nav-tabs > li').attr('class','');  //vynulovat aktivitu tabu
        $('#a-<?php echo $this->lastTab; ?>').parent().attr('class','active'); //nastavit aktivitu tabu
        
        $('#order-list-containter').load('/orders/?tab=<?php echo $this->lastTab; ?>', function() {
            $('#order-list-containter').css('text-align','');
        });
       
    });
</script>

<h3>Přehled objednávek</h3><br />

<ul class="nav nav-tabs">
    <?php foreach ($this->tabs as $key => $tabData) { ?>
    <li <?php if($tabData['active']) echo ' class="active"'; ?>>
        <a id="<?php echo "a-".$key ?>" href="<?php echo $tabData['href']; ?>" class="order-tab-switch"><?php echo $tabData['title']; ?></a>
    </li>
    <?php } ?>
</ul>
<div id="order-list-containter">
    
</div>


