
<p>
  <b>Denní přehled nepotvrzených objednávek</b><br>
  Datum: <?php echo date('d.m.Y'); ?> 
</p>


<?php if ($this->data14): ?>
    <p>
      <b>Nepotvrzené objednávky 14-20 dní:</b>  
    </p>

    <table border='1'>
      <tr>
        <th>Obj. č.</th>
        <th>Název</th>
        <th>Vloženo</th>
      </tr>
      <?php foreach ($this->data14 as $row): 
        $date = new Zend_Date($row['date_request'], 'yyyy-MM-dd'); ?>
        <tr>
          <td><?= $row['no'] ?></td>
          <td><?= $row['title'] ?></td>
          <td><?= $date->toString('dd.MM.yyyy'); ?></td>
        </tr>
      <?php endforeach; ?>
    </table>
  <?php endif; ?>

<?php if ($this->data21): ?>
    <p>
      <b>Nepotvrzené objednávky 21 a více dní:</b>  
    </p>

    <table border='1'>
      <tr>
        <th>Obj. č.</th>
        <th>Název</th>
        <th>Vloženo</th>
      </tr>
      <?php foreach ($this->data21 as $row): 
        $date = new Zend_Date($row['date_request'], 'yyyy-MM-dd'); ?>
        <tr>
          <td><?= $row['no'] ?></td>
          <td><?= $row['title'] ?></td>
          <td><?= $date->toString('dd.MM.yyyy'); ?></td>
        </tr>
      <?php endforeach; ?>
    </table>
  <?php endif; ?>