
<p>
	<b>Denní přehled chybějících součástí</b><br>
	Datum: <?php echo date('d.m.Y'); ?> 
</p>

<table border='1'>
<?php foreach ($this->dataOrders as $key => $dataOrder): ?>
	<tr><th colspan='4'>Obj. č. <?php echo $dataOrder['order']['no']; ?> – <?php echo $dataOrder['order']['title']; ?></th></tr>
	<tr>
		<th>ID</th>
		<th>Název</th>
		<th>Chybí - central</th>
		<th>Chybí - celkem</th>
	</tr>
	<?php foreach($dataOrder['report'] as $part): if ($part['missing_total'] > 0): ?>
	<tr>
		<td><?php echo $part['id']; ?></td>
		<td><?php echo $part['name']; ?></td>
		<td><?php echo $part['missing_central']; ?></td>
		<td><?php echo $part['missing_total']; ?></td>
	</tr>
	<?php endif; endforeach; ?>
<?php endforeach; ?>
<tr><th colspan='4'>Celkový seznam</th></tr>
<tr>
	<th>ID</th>
	<th>Název</th>
	<th>Chybí - central</th>
	<th>Chybí - celkem</th>
</tr>
<?php foreach($this->dataAll as $part): if ($part['missing_total'] > 0): ?>
<tr>
	<td><?php echo $part['id']; ?></td>
	<td><?php echo $part['name']; ?></td>
	<td><?php echo $part['missing_central']; ?></td>
	<td><?php echo $part['missing_total']; ?></td>
</tr>
<?php endif; endforeach; ?>
</table>