<?php echo $this->form; ?>

<?php if ($this->data): ?>
	<div class="row">
		<table class="span6 offset3 table table-bordered table-striped">
			<tr>
				<th colspan="4">Celkové počty setů dýmek <?= $this-> statusSubTitle; ?> [ks]</th>
			</tr>
			<tr>
				<th>Kolekce</th>
				<th class="text-right">B2B</th>
				<th class="text-right">B2C</th>
				<th class="text-right">Celkem</th>
			</tr>

			<?php foreach ($this->data['cols'] as $key => $row): ?>
				<tr class="lines2">
					<td><?php echo $row['name']; ?></td>
					<td class="text-right"><?php echo $row['b2b']; ?></td>
					<td class="text-right"><?php echo $row['b2c']; ?></td>
					<td class="text-right"><?php echo $row['total']; ?></td>
				</tr>
			<?php endforeach; ?>
			<tr>
				<th>Celkem [ks]</th>
				<th class="text-right"><?php echo $this->data['b2b']; ?></th>
				<th class="text-right"><?php echo $this->data['b2c']; ?></th>
				<th class="text-right"><?php echo $this->data['total']; ?></th>
			</tr>
		</table>
	</div>
<?php endif; ?>

<?php if ($this->data2): ?>
	<div class="row">
		<table class="span6 offset3 table table-bordered table-striped">
			<tr>
				<th colspan="4">Sety dýmek <?= $this-> statusSubTitle; ?> [ks]</th>
			</tr>
			<tr>
				<th>Typ</th>
				<th class="text-right">B2B</th>
				<th class="text-right">B2C</th>
				<th class="text-right">Celkem</th>
			</tr>
			<?php foreach ($this->data2['parts'] as $id => $row): ?>
				<tr>
					<td><?php echo $id .' '.$row['name']; ?></td>
					<td class="text-right"><?php echo $row['b2b']; ?></td>
					<td class="text-right"><?php echo $row['b2c']; ?></td>
					<td class="text-right"><?php echo $row['total']; ?></td>
				</tr>
			<?php endforeach; ?>
			<tr>
				<th>Celkem [ks]</th>
				<th class="text-right"><?php echo $this->data2['b2b']; ?></th>
				<th class="text-right"><?php echo $this->data2['b2c']; ?></th>
				<th class="text-right"><?php echo $this->data2['total']; ?></th>
			</tr>
		</table>
	</div>
<?php endif; ?>

<script type="text/javascript">
    jQuery(document).ready(function(){
        $("#customer").autocomplete({
            source:"\/order-edit\/ajax-customer",
            minLength: 2,
            select: function( event, ui ) {
                $("#customer_id").val(ui.item.id);
            }
        });
    });
</script>