<?php
	$paymentMethods = Table_Orders::$paymentToString;
/////////////////////////////////////////////////////////////////////////////////////////////
// expedovane objednavky
?>
<style type="text/css">
  table.small-font th,
  table.small-font td {
    font-size: smaller;
  }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('a.year-tab-switch,a.ord-sort').click(function(e){
            e.preventDefault();

            $('#order-list-containter').css('text-align','center');
            $('#order-list-containter').html('<img style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>');

            $('#order-list-containter').load($(this).attr('href'), function() {
                $('#order-list-containter').css('text-align','');
            });
        })
    });

</script>
<?php $years = Zend_Db_Table::getDefaultAdapter()->fetchCol("SELECT DISTINCT YEAR(date_exp) FROM orders WHERE date_exp IS NOT NULL AND YEAR(date_exp) > 2009 ORDER BY date_exp"); ?>
<ul class="nav nav-tabs">
    <?php foreach($years as $year) { ?>
    <li <?php if(isset($this->data[0]) && substr($this->data[0]->date_exp,0,4) == $year) echo 'class="active"';?>>
        <a id="a-<?php echo $year ?>" href="<?php echo $this->url(array('year'=>$year, 'tab'=>'closed'))?>" class="year-tab-switch"><?php echo $year ?></a>
    </li>
    <?php } ?>
</ul>
<?php if ($this->data): ?>
<table class="table table-condensed table-hover small-font">
    <thead>
        <tr>
            <th>Typ</th>
            <th><a href="<?php echo $this->url(array('sort'=>'no', 'tab'=>'closed'));?>" class="ord-sort">Obj.č.</a></th>
            <th class="name"><a href="<?php echo $this->url(array('sort'=>'name', 'tab'=>'closed'));?>" class="ord-sort">Název</a></th>
            <th><a href="<?php echo $this->url(array('sort'=>'exp', 'tab'=>'closed'));?>" class="ord-sort">Expedováno <?php if($this->exp) echo '⇓'; ?></a></th>
            <th>Tracking no.</th>
            <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/expected-payment')): ?>
              <th class="text-right">Částka</th>
            <?php endif; ?>
            <th class="text-right">Uhrazeno</th>
            <th class="text-center"><a href="<?php echo $this->url(array('sort'=>'invoice', 'tab'=>'closed'));?>" class="ord-sort">Faktura</a></th>
            <th>Poznámka</th>
            <th class="text-center">DI</th>
            <th>Dopravce</th>
            <th>Platba</th>
            <th>Země</th>
            <th>Vložil</th>
            <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/actions')
              && Zend_Registry::get('acl')->isAllowed('orders/confirm')): ?>
              <th class="text-right">&nbsp;</th>
            <?php endif; ?>
        </tr>
    </thead>
    <tbody>

<?php
		$year = '';
		$lastYear = '';
		$first = true;
		foreach($this->data as $row):
			$yellow = $row->payment_method == Table_Orders::PM_CASH_ON_DELIVERY && empty($row->date_payment_accept);
      $service = $row->type == Table_Orders::TYPE_SERVICE;
?>
	<tr class="<?= $service ? 'warning' : ''?> <?= $yellow? 'error': ''?>">
     <td>
      <?php if (!$service): ?>
        <i class="icon icon-shopping-cart" alt="produkty" title="produkty"></i>
      <?php else: ?>
        <i class="icon icon-user" title="služba" alt="služba"></i>
      <?php endif; ?>
    </td>
    <td style="text-align: left;"><?= $row->no ?></td>
		<td style="text-align: left;"><a href="/orders/detail/id/<?= $row->id ?>"><?= str_replace(' ', '&nbsp;', $row->title)  ?></a></td>
    <td class="date-exp-col nowrap">
      <span class="date-exp" data-order-id="<?= $row->id ?>"><?= $this->DateFromDb($row->date_exp) ?></span>
      <?php if(Zend_Registry::get('acl')->isAllowed('orders/ajax-change-expedition-date')): ?>
      <button class="btn btn-mini"><i class="icon icon-pencil"></i></button>
      <?php endif; ?>
    </td>
		<td><?= $row->tracking_no ?></td>
    <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/expected-payment')): ?>
      <td class="text-right"><?= Meduse_Currency::format($row->expected_payment, $row->expected_payment_currency); ?></td>
    <?php endif; ?>
        <td class="text-right"><?= round($row->paid_percentage); ?>&nbsp;%</td>
    <td class="text-center">
      <?php if ($row->invoice_version): ?>
        <a href="/invoice/download/id/<?= $row->invoice_id?>"><?= $row->invoice_no ?></a>
      <?php elseif ($row->invoice_id): ?>
        <a class="btn btn-small" href="/invoice/prepare/id/<?= $row->invoice_id?>">Generovat</a>
      <? else: ?>
        <a class="btn btn-small" href="/invoice/prepare/order/<?= $row->id?>">Vystavit</a>
      <?php endif; ?>
    </td>
		<td><?= $row->description ?></td>
    <td class="text-center"><?= $row->di === 'y' ? '<span class="badge badge-important"><i class="icon icon-exclamation-sign icon-white"></i></span>' : '' ?></td>
		<td><?= $row->carrier?></td>
		<td><?= isset($paymentMethods[$row->payment_method]) ? $paymentMethods[$row->payment_method] : '' ?></td>
		<td><?= $row->country?></td>
		<td><?= $row->owner?></td>
		<?php if(Zend_Registry::get('acl')->isAllowed('orders/special/actions')): ?>
      <td>
        <div class="pull-right">
          <?php if ($row->date_notification): ?>
            <?php echo $this->DateFromDb($row->date_notification); ?>
          <?php elseif ($row->carrier_id != Table_OrdersCarriers::EX_WORKS): ?>
            <?php if (Zend_Registry::get('acl')->isAllowed('orders/confirm') && $row->id_customers): ?>
              <a href='#' role="button" onClick="showModal(<?php echo $row->id; ?>, <?php echo $row->id_customers; ?>,
              '<?php echo $row->customer_email; ?>');" class="btn btn-mini btn-warning">Upozornit</a>
            <?php elseif ($row->id_customers): ?>
              Upozornit
            <?php endif; ?>
          <?php endif; ?>
          <?php if ($yellow): ?>
            <a class="btn btn-mini btn-primary" href="<?php echo $this->url(array(
              'controller' => 'orders',
              'action' => 'payment-accept-date',
              'id' => $row->id)); ?>">Platba</a>
          <?php endif; ?>
        </div>
      </td>
    <?php endif; ?>
	</tr>

<?php
		endforeach;
?>
                </tbody>
			</table>
<?php else: ?>
	<div style='margin-top: 100px; text-align: center;'>Žádné záznamy</div>
<?php endif; ?>
		</div>

	<?php echo $this->partial('email-templates/sendmail.phtml', array('sendmailForm' => $this->sendmailForm)); ?>

<?php
// expedovane objednavky - KONEC
/////////////////////////////////////////////////////////////////////////////////////////////
?>

<script>
  (function($){

    const
      $editButtons = $('.date-exp-col .btn'),

      changeExp = function($element, orderId, dateExp) {
        const params = {
          'orderId': orderId,
          'dateExp': dateExp,
        };
        $.post('/orders/ajax-change-expedition-date', params, function (data){
          if (data.status) {
            $element.text(data.dateExp);
            console.info(data.message);
          }
          else {
            console.error(data.message);
          }
        });
      },

      openDialog = function($element){
        const
          dateExp = $element.text(),
          input = '<input class="input-small" type="text" value="' + dateExp + '">';
        $element.after(input).hide();
        $element.parent().find('input').datepicker();
      },

      closeDialog = function($element) {
        const
          orderId = parseInt($element.data('order-id')),
          $input = $element.parent().find('input:first'),
          dateExp = $input.val();

        $input.remove();
        $element.show();

        changeExp($element, orderId, dateExp);
      };

    $editButtons.on('click', function(e){
      e.preventDefault();
      const
        $btn = $(this),
        $column = $btn.parent(),
        $element = $('.date-exp:first', $column);
      if (!$btn.hasClass('btn-danger')) {
        openDialog($element);
        $btn.addClass('btn-danger').removeClass('btn-mini')
          .find('i').removeClass('icon-pencil')
          .addClass('icon-check').addClass('icon-white');
      }
      else {
        closeDialog($element);
        $btn.removeClass('btn-danger').addClass('btn-mini')
          .find('i').removeClass('icon-check')
          .removeClass('icon-white').addClass('icon-pencil');
      }
      return false;
    });

  })(jQuery);
</script>