<style type="text/css">
    table.small-font th,
    table.small-font td {
        font-size: smaller;
    }
</style>
<table class="table table-condensed table-hover small-font sticky">
  <thead>
  <tr>
    <th class="text-right" rowspan="<?= $this->costs_show ? 2 : 1; ?>">obj.č.
    </th>
    <th rowspan="<?= $this->costs_show ? 2 : 1; ?>">název</th>
    <th class="text-right" rowspan="<?= $this->costs_show ? 2 : 1; ?>">počet<br>setů
      dýmek
    </th>
    <?php if ($this->costs_show): ?>
      <th class="text-right" rowspan="2">operace</th>
      <th class="text-center" colspan="3">náklady</th>
    <?php endif; ?>
    <?php if (Zend_Registry::get('acl')
        ->isAllowed('orders/special/actions') && Zend_Registry::get('acl')
        ->isAllowed('orders/confirm')): ?>
      <th>&nbsp;</th>
    <?php endif; ?>
  </tr>
  <?php if ($this->costs_show): ?>
    <tr>
      <th class="text-right">sety dýmek</th>
      <th class="text-right">accessories</th>
      <th class="text-right">celkem</th>
    </tr>
  <?php endif; ?>
  </thead>
  <tbody>
  <?php foreach ($this->data as $row): ?>
    <tr class="lines2">
      <td class="text-right"><?= $row->no ?>.</td>
      <td class="text-left">
        <a
          href="<?= $this->baseUrl(); ?>/orders/detail/id/<?= $row->id ?>"><?= $row->title ?></a>
      </td>
      <td class="text-right"><?= $this->costs[$row->id]['amount_sets']; ?>&nbsp;ks</td>
      <?php if ($this->costs_show): ?>
        <td class="text-right">
          <?php if (isset($this->costs[$row->id]['operation_time_total'])): ?>
            <?php
            if ($this->costs[$row->id]['operation_time_total'] < 60) {
              $time = sprintf('%01.0f min', $this->costs[$row->id]['operation_time_total']);;
            }
            elseif ($this->costs[$row->id]['operation_time_total'] < 480) {
              $time = sprintf('%01.2f h', $this->costs[$row->id]['operation_time_total'] / 60);
            }
            else {
              $time = sprintf('%1.1f DP', $this->costs[$row->id]['operation_time_total'] / 480);
            }
            ?>
            <?= $time; ?>
          <?php endif; ?>
        </td>
        <td class="text-right">
          <?php if (isset($this->costs[$row->id]['price_sets'])): ?>
            <?= Meduse_Currency::format($this->costs[$row->id]['price_sets'], 'Kč', 0); ?>
          <?php endif; ?>
        </td>
        <td class="text-right">
          <?php if (isset($this->costs[$row->id]['price_acc'])): ?>
            <?= Meduse_Currency::format($this->costs[$row->id]['price_acc'], 'Kč', 0); ?>
          <?php endif; ?>
        </td>
        <td class="text-right">
          <?php if (isset($this->costs[$row->id]['price_total'])): ?>
            <?= Meduse_Currency::format($this->costs[$row->id]['price_total'], 'Kč', 0); ?>
          <?php endif; ?>
        </td>
      <?php endif; ?>
      <?php if (Zend_Registry::get('acl')
          ->isAllowed('orders/special/actions') && Zend_Registry::get('acl')
          ->isAllowed('orders/confirm')): ?>
        <td>
          <div class="btn-group pull-right">
            <a href="<?= $this->baseUrl(); ?>/orders/delete/id/<?= $row->id ?>"
               onClick="return confirm('Opravdu chcete tuto objednávku vyhodit do koše?')"
               class="btn btn-mini btn-danger"><i
                class="icon-trash icon-white"></i> Koš</a>
            <a href="<?= $this->baseUrl(); ?>/orders/set-new/id/<?= $row->id ?>"
               class="btn btn-mini btn-primary">Předběžná</a>
          </div>
        </td>
      <?php endif; ?>
    </tr>
  <?php endforeach; ?>
  <?php if ($this->costs_show): ?>
    <tr>
      <th>&nbsp;</th>
      <th class="text-left">celkem</th>
      <th class="text-right"><?= $this->costs_sums['amount_sets']; ?>&nbsp;ks
      </th>
      <td class="text-right">
        <strong><?= sprintf('%1.1f DP', $this->costs_sums['time'] / 480); ?></strong>
      </td>
      <td class="text-right">
        <strong><?= Meduse_Currency::format($this->costs_sums['price_sets'], 'Kč', 0); ?></strong>
      </td>
      <td class="text-right">
        <strong><?= Meduse_Currency::format($this->costs_sums['price_acc'], 'Kč', 0); ?></strong>
      </td>
      <td class="text-right">
        <strong><?= Meduse_Currency::format($this->costs_sums['price'], 'Kč', 0); ?></strong>
      </td>
    </tr>
  <?php endif; ?>
  </tbody>
</table>
