<?php
/////////////////////////////////////////////////////////////////////////////////////////////
// Otevřené objednavky
?>
  <style type="text/css">
    table.small-font th,
    table.small-font td {
      font-size: smaller;
    }
  </style>
<table class="table table-condensed table-hover small-font sticky">
    <thead>
        <tr>
          <th rowspan="2"><?= $this->headerSort('Typ', 'type', 'open');?></th>
          <th rowspan="2"><?= $this->headerSort('Č.obj.', 'no', 'open');?></th>
          <th rowspan="2" class="name"><?= $this->headerSort('Název', 'name', 'open');?></th>
            <th colspan="2">Deadline</th>
            <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/expected-payment')): ?>
              <th rowspan="2" class="text-right">Částka</th>
            <?php endif; ?>
            <th colspan="3">Platba</th>
            <th rowspan="2" style="width: 200px;">Poznámka</th>
            <th rowspan="2" class="text-center">DI</th>
            <th rowspan="2">Dopravce</th>
            <th rowspan="2">Země</th>
            <th rowspan="2">Vložil</th>
            <?php if (Zend_Registry::get('acl')->isAllowed('orders/special/actions')
              || Zend_Registry::get('acl')->isAllowed('orders/special/action-close-empty')): ?>
            <th rowspan="2">&nbsp;</th>
            <?php endif; ?>
        </tr>
    <tr>
      <th><?= $this->headerSort('interní', 'internal', 'open'); ?></th>
      <th><?= $this->headerSort('tvrdý', 'deadline', 'open'); ?></th>
        <th class="text-right">uhrazeno</th>
      <th>záloha</th>
      <th>100 %</th>
    </tr>
    </thead>
    <tbody>
<?php
		foreach($this->data as $row){
			$tmp_order = new Orders_Order($row->id);
			$ready = $tmp_order->isReady();
      $service = $row->type == Table_Orders::TYPE_SERVICE;
?>
	<tr class="lines2<?= $service ? ' warning' : ''?>">
    <td>
      <?php if (!$service): ?>
        <i class="icon icon-shopping-cart" alt="produkty" title="produkty"></i>
      <?php else: ?>
        <i class="icon icon-user" title="služba" alt="služba"></i>
      <?php endif; ?>
    </td>
    <td><?= $row->no ?></td>
    <td style="text-align: left;"><a href="<?= $this->baseUrl();?>/orders/detail/id/<?= $row->id ?>"><?= str_replace(' ', '&nbsp;', $row->title)  ?></a></td>
    <td><?= $this->DateFromDb($row->date_deadline_internal) ?></td>
		<td><?= $this->DateFromDb($row->date_deadline) ?></td>
    <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/expected-payment')): ?>
      <td class="text-right"><?= Meduse_Currency::format($row->expected_payment, $row->expected_payment_currency); ?></td>
    <?php endif; ?>
        <td class="text-right"><?= round($row->paid_percentage); ?>&nbsp;%</td>
		<td><?= $this->DateFromDb($row->date_pay_deposit) ?></td>
		<td><?= $this->DateFromDb($row->date_pay_all) ?></td>
		<td><?= $row->description ?></td>
    <td class="text-center"><?= $row->di === 'y' ? '<span class="badge badge-important"><i class="icon icon-exclamation-sign icon-white"></i></span>' : '' ?></td>
		<td><?= $row->carrier?></td>
		<td><?= $row->country?></td>
		<td><?= $row->owner?></td>
    <?php if (Zend_Registry::get('acl')->isAllowed('orders/special/actions')
              || Zend_Registry::get('acl')->isAllowed('orders/special/action-close-empty')): ?>
      <td>
        <div class="btn-group pull-right">
          <?php if (Zend_Registry::get('acl')->isAllowed('orders/special/actions')): ?>
            <?php if($ready): ?>
              <a href="<?= $this->baseUrl();?>/orders/cancel-all-order-items/id/<?= $row->id ?>" onClick="return confirm('Opravdu chcete zrušit rezervace této objednávky?')" class="btn btn-mini btn-danger">
                <span class="icon icon-white icon-remove"></span> Rez.</a>
              <a href="<?= $this->baseUrl();?>/orders/expedition/order/<?= $row->id ?>" class="btn btn-mini btn-primary">Exp. <span class="icon icon-white icon-arrow-right"></span></a>
            <?php else: ?>
              <?php $no_products = $tmp_order->getProducts() ? FALSE : TRUE; ?>
                <?php if ($no_products): ?>
                  <a href="<?= $this->baseUrl();?>/orders/expedition/order/<?= $row->id ?>" class="btn btn-mini btn-primary">Exp. <span class="icon icon-white icon-arrow-right"></a>
                <?php else: ?>
                  <a href="<?= $this->baseUrl();?>/orders/prepare/id/<?= $row->id ?>" class="btn btn-mini btn-success">
                    <span class="icon icon-white icon-plus"></span> Rez.</a>
                <?php endif; ?>
            <?php endif; ?>
          <?php elseif (Zend_Registry::get('acl')->isAllowed('orders/special/action-close-empty')): ?>
            <?php $no_products = $tmp_order->getProducts() ? FALSE : TRUE; ?>
            <?php if ($no_products): ?>
              <a href="<?= $this->baseUrl();?>/orders/expedition/order/<?= $row->id ?>" class="btn btn-mini btn-primary">Exp. <span class="icon icon-white icon-arrow-right"></a>
            <?php endif; ?>
          <?php endif; ?>
        </div>
    </td>
    <?php endif; ?>
	</tr>
<?php
		}
?>
	</tbody>
	</table>
<?php
// Otevřené konec
/////////////////////////////////////////////////////////////////////////////////////////////
?>
<script type="text/javascript">
  $('a.ord-sort').click(function(e){
    e.preventDefault();
    $('#order-list-containter').css('text-align', 'center');
    $('#order-list-containter').html('<img style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>');
    $('#order-list-containter').load($(this).attr('href'), function(){
      $('#order-list-containter').css('text-align', '');
    });
  });
</script>
