<style type="text/css">
  table.small-font th,
  table.small-font td {
    font-size: smaller;
  }
</style>
<table class="table table-condensed table-hover small-font sticky">
    <thead>
        <tr>
            <th>Název</th>
            <th>Smazáno</th>
            <th>Vloženo</th>
            <th style="width: 300px;">Poznámka</th>
            <th class="text-center">DI</th>
            <th>Země</th>
            <th>Vložil</th>
            <?php if(Zend_Registry::get('acl')->isAllowed('orders/confirm')){ ?>
            <th colspan="2">Akce</th>
            <?php } ?>
        </tr>
    </thead>
    <tbody>
<?php
    $i = 0;
    foreach($this->data as $row){
?>
        <tr class="lines2">
            <td style="text-align: left;"><?= $row->no ?>.&nbsp;<a href="<?= $this->baseUrl();?>/orders/detail/id/<?= $row->id ?>"><?= str_replace(' ', '&nbsp;', $row->title)  ?></a></td>
            <td><?= $this->DateFromDb($row->date_delete) ?></td>
                    <td><?= $this->DateFromDb($row->date_request) ?></td>
            <td><?= $row->description ?></td>
            <td class="text-center"><?= $row->di === 'y' ? '<span class="badge badge-important"><i class="icon icon-exclamation-sign icon-white"></i></span>' : '' ?></td>
            <td><?= $row->country?></td>
            <td><?= $row->owner?></td>
            <?php if(Zend_Registry::get('acl')->isAllowed('orders/confirm')){ ?>
            <td>
                <a href="<?= $this->baseUrl();?>/orders/delete-from-trash/id/<?= $row->id ?>" onClick="return confirm('Opravdu chcete tuto objednávku vyhodit z koše?')" class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i> Smazat</a>
            </td>
            <td>
                <a href="<?= $this->baseUrl();?>/orders/set-new/id/<?= $row->id ?>" class="btn btn-mini btn-primary">Předběžná</a>
            </td>
            <?php } ?>
        </tr>
<?php
		}
?>
	</tbody>
</table>


<?php
/////////////////////////////////////////////////////////////////////////////////////////////
//celkove pocty objednanych setu dymek
?>
<table class="table table-condensed table-hover" style="width: 500px; margin: auto;">
	<tr> <th colspan="2">Celkové počty setů dýmek v koši</th> </tr>
	<tr> <th>Kolekce</th> <th>Počet</th> </tr>
<?php
	$total_sets = 0;
	foreach($this->data2 as $row){
?>
	<tr class="lines2">
		<td><?= $row->name ?></td>
		<td><?= $row->amount ?> ks</td>
	</tr>
<?php
		$total_sets += $row->amount;
	}
?>
	<tr> <th>Celkem</th> <th><?= $total_sets ?> ks</th>	</tr>
</table>

<br /><br />
<?php
//celkove pocty objednanych se tu dymek KONEC
/////////////////////////////////////////////////////////////////////////////////////////////
?>