<?php

	$paymentMethods = Table_Orders::$paymentToString;

/////////////////////////////////////////////////////////////////////////////////////////////
// potvrzene objednavky
?>
<style>
  table.small-font th,
  table.small-font td {
    font-size: smaller;
  }
</style>
<table class="table table-condensed table-hover small-font sticky">
    <thead>
	<tr>
    <th rowspan="2"><?= $this->headerSort('Typ', 'type', 'confirmed');?></th>
    <th rowspan="2"><?= $this->headerSort('Č.obj.', 'no', 'confirmed');?></th>
		<th rowspan="2" class="name"><?= $this->headerSort('Název', 'name', 'confirmed');?></th>
		<th colspan="2">Deadline</th>
    <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/expected-payment')): ?>
      <th rowspan="2" class="text-right">Částka</th>
    <?php endif; ?>
		<th colspan="4">Platba</th>
		<th rowspan="2" style="width: 200px;">Poznámka</th>
    <th rowspan="2" class="text-center">DI</th>
		<th rowspan="2">Dopravce</th>
		<th rowspan="2">Země</th>
		<th rowspan="2">Vložil</th>
		<?php if(Zend_Registry::get('acl')->isAllowed('orders/special/actions')
            || Zend_Registry::get('acl')->isAllowed('orders/confirm')
            || Zend_Registry::get('acl')->isAllowed('orders/special/action-close-empty')): ?>
		<th>&nbsp;</th>
		<?php endif; ?>
	</tr>
    <tr>
      <th><?= $this->headerSort('interní', 'internal', 'confirmed'); ?></th>
      <th><?= $this->headerSort('tvrdý', 'deadline', 'confirmed'); ?></th>
        <th>uhrazeno</th>
      <th>záloha</th>
      <th>100 %</th>
      <th>způsob</th>
    </tr>
    </thead>
    <tbody>

  <?php foreach($this->data as $row):
    $tmp_order = new Orders_Order($row->id);
    $no_products = $tmp_order->getProducts() ? FALSE : TRUE;
    $service = $row->type == Table_Orders::TYPE_SERVICE;
    $classes = [];
    if ($service) { $classes[] = 'warning'; }
    if ($row->paid_percentage == 0) { $classes[] = 'error'; }
    ?>
	<tr class="<?= implode(' ', $classes); ?>">
    <td>
      <?php if (!$service): ?>
        <i class="icon icon-shopping-cart" alt="produkty" title="produkty"></i>
      <?php else: ?>
        <i class="icon icon-user" title="služba" alt="služba"></i>
      <?php endif; ?>
    </td>
    <td><?= $row->no ?></td>
		<td style="text-align: left;"><a href="/orders/detail/id/<?= $row->id ?>"><?= str_replace(' ', '&nbsp;', $row->title)  ?></a></td>
    <td><?= $this->DateFromDb($row->date_deadline_internal) ?></td>
    <td><?= $this->DateFromDb($row->date_deadline) ?></td>
    <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/expected-payment')): ?>
      <td class="text-right"><?= Meduse_Currency::format($row->expected_payment, $row->expected_payment_currency); ?></td>
    <?php endif; ?>
        <td class="text-right"><?= round($row->paid_percentage); ?>&nbsp;%</td>
		<td><?= $this->DateFromDb($row->date_pay_deposit) ?></td>
		<td><?= $this->DateFromDb($row->date_pay_all) ?></td>
		<td><?= isset($paymentMethods[$row->payment_method]) ? $paymentMethods[$row->payment_method] : $row->payment_method ?></td>
		<td><?= $row->description ?></td>
    <td class="text-center"><?= $row->di === 'y' ? '<span class="badge badge-important"><i class="icon icon-exclamation-sign icon-white"></i></span>' : '' ?></td>
		<td><?= $row->carrier?></td>
		<td><?= $row->country?></td>
		<td><?= $row->owner?></td>

    <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/actions')
            || Zend_Registry::get('acl')->isAllowed('orders/confirm')
            || Zend_Registry::get('acl')->isAllowed('orders/special/action-close-empty')): ?>
      <td>
        <div class="btn-group pull-right">
          <?php if(Zend_Registry::get('acl')->isAllowed('orders/confirm')): ?>
            <a href="/orders/delete/id/<?= $row->id ?>" onClick="return confirm('Opravdu chcete tuto objednávku vyhodit do koše?')" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Koš</a>
          <?php endif ?>
          <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/actions') && !$no_products): ?>
            <a href="/orders/open/id/<?= $row->id ?>" class="btn btn-mini btn-primary">Otevřít <span class="icon icon-white icon-arrow-right"></a>
          <?php endif; ?>
          <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/action-close-empty') && $no_products): ?>
            <a href="<?= $this->baseUrl();?>/orders/expedition/order/<?= $row->id ?>" onClick="return confirm('Opravdu chcete tuto objednávku expedovat?')" class="btn btn-mini btn-success">Exp. <span class="icon icon-white icon-arrow-right"></a>
          <?php endif; ?>
        </div>
      </td>
    <?php endif; ?>
	</tr>
  <?php endforeach; ?>
    </tbody>
</table>
<?php
// potvrzene objednavky - KONEC
/////////////////////////////////////////////////////////////////////////////////////////////
?>

<script type="text/javascript">
  $('a.ord-sort').click(function(e){
    e.preventDefault();
    $('#order-list-containter')
      .css('text-align', 'center')
      .html('<img style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>')
      .load($(this).attr('href'), function(){
        $('#order-list-containter').css('text-align', '');
      });
  });
</script>
