<style type="text/css">
  table.small-font th,
  table.small-font td {
    font-size: smaller;
  }
</style>
<table class="table table-condensed table-hover small-font sticky">
    <thead>
        <tr>
            <th><?= $this->headerSort('Typ', 'type', 'offer');?></th>
            <th><?= $this->headerSort('Č.obj.', 'no', 'offer');?></th>
            <th><?= $this->headerSort('Název', 'name', 'offer');?></th>
            <th><?= $this->headerSort('Vloženo', 'request', 'offer');?></th>
            <th style="width: 200px;">Poznámka</th>
            <th class="text-center">DI</th>
            <th>Dopravce</th>
            <th>Země</th>
            <th>Vložil</th>
            <?php if (Zend_Registry::get('acl')->isAllowed('orders/confirm')): ?>
              <th>&nbsp;</th>
            <?php endif; ?>
        </tr>
    </thead>
    <tbody>
<?php
		$i = 0;
		foreach($this->data as $row){
      $service = $row->type == Table_Orders::TYPE_SERVICE;
?>
	<tr class="<?= $service ? 'warning' : ''?>">
    <td>
      <?php if (!$service): ?>
        <i class="icon icon-shopping-cart" alt="produkty" title="produkty"></i>
      <?php else: ?>
        <i class="icon icon-user" title="služba" alt="služba"></i>
      <?php endif; ?>
    </td>
    <td><?= $row->no ?></td>
		<td style="text-align: left;"><a href="/orders/detail/id/<?= $row->id ?>"><?= $row->title ?></a></td>
		<td><?= $this->DateFromDb($row->date_request) ?></td>
		<td><?= $row->description ?></td>
    <td class="text-center"><?= $row->di === 'y' ? '<span class="badge badge-important"><i class="icon icon-exclamation-sign icon-white"></i></span>' : '' ?></td>
		<td><?= $row->carrier?></td>
		<td><?= $row->country?></td>
		<td><?= $row->owner?></td>
		<?php if(Zend_Registry::get('acl')->isAllowed('orders/confirm')): ?>
		<td>
      <div class="btn-group pull-right">
        <a href="/orders/delete/id/<?= $row->id ?>" onClick="return confirm('Opravdu chcete tuto objednávku vyhodit do koše?')" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Koš</a>
        <a href="/orders/confirm-offer/id/<?= $row->id ?>" class="btn btn-mini btn-primary">Potvrdit</a>
      </div>
		</td>
		<?php endif; ?>
	</tr>
<?php
		}
?>
	</tbody>
</table>

<a href="/order-edit" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Přidat novou objednávku</a>
<br /><br />
<script type="text/javascript">
  $('a.ord-sort').click(function(e){
    e.preventDefault();
    $('#order-list-containter')
      .css('text-align', 'center')
      .html('<img style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>')
      .load($(this).attr('href'), function(){
        $('#order-list-containter').css('text-align', '');
      });
  });
</script>