<style>
  table.small-font th,
  table.small-font td {
    font-size: smaller;
  }
</style>
<table class="table table-condensed table-hover small-font sticky">
    <thead>
        <tr>
            <th rowspan="2"><?= $this->headerSort('Typ', 'type', 'new');?></th>
            <th rowspan="2"><?= $this->headerSort('Č.obj.', 'no', 'new');?></th>
            <th rowspan="2"><?= $this->headerSort('Název', 'name', 'new');?></th>
            <th rowspan="2"><?= $this->headerSort('Vloženo', 'request', 'new');?></th>
            <th colspan="2">Deadline</th>
            <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/expected-payment')): ?>
              <th rowspan="2" class="text-right">Částka</th>
            <?php endif; ?>
            <th rowspan="2" class="text-right">Uhrazeno</th>
            <th rowspan="2">Poznámka</th>
            <th rowspan="2" class="text-center">DI</th>
            <th rowspan="2">Dopravce</th>
            <th rowspan="2">Země</th>
            <th rowspan="2">Vložil</th>
            <?php if (Zend_Registry::get('acl')->isAllowed('orders/confirm')): ?>
              <th rowspan="2">&nbsp;</th>
            <?php endif; ?>
	</tr>
    <tr>
      <th><?= $this->headerSort('interní', 'internal', 'new');?></a></th>
      <th><?= $this->headerSort('tvrdý', 'deadline', 'new');?></a></th>
    </tr>
    </thead>
    <tbody>
<?php

		$i = 0;
		foreach($this->data as $row){

    // get diff date for hightlight row
    $today = time();
    $dateReq = strtotime($row->date_request);
    $diff = $today - $dateReq;
    
    $days = ceil($diff/60/60/24)-1;

    // 21 days more
    if($days >= 21) {
        $highlight_row = ' class="error"';
    }
    // 14 days more
    else if($days >= 14) {
        $highlight_row = ' class="warning"';
    }
    // none
    else {
        $highlight_row = '';
    }
    $service = $row->type == Table_Orders::TYPE_SERVICE;
?>
	<tr<?= $highlight_row ?>>
    <td>
      <?php if (!$service): ?>
        <i class="icon icon-shopping-cart" alt="produkty" title="produkty"></i>
      <?php else: ?>
        <i class="icon icon-user" title="služba" alt="služba"></i>
      <?php endif; ?>
    </td>
    <td><?= $row->no ?></td>
		<td style="text-align: left;"><a href="/orders/detail/id/<?= $row->id ?>"><?= $row->title ?></a></td>
		<td><?= $this->DateFromDb($row->date_request) ?></td>
    <td><?= $this->DateFromDb($row->date_deadline_internal) ?></td>
    <td><?= $this->DateFromDb($row->date_deadline) ?></td>
    <?php if(Zend_Registry::get('acl')->isAllowed('orders/special/expected-payment')): ?>
      <td class="text-right"><?= Meduse_Currency::format($row->expected_payment, $row->expected_payment_currency); ?></td>
    <?php endif; ?>
    <td class="text-right"><?= round($row->paid_percentage); ?>&nbsp;%</td>
    <td><?= $row->description ?></td>
    <td class="text-center"><?= $row->di === 'y' ? '<span class="badge badge-important"><i class="icon icon-exclamation-sign icon-white"></i></span>' : '' ?></td>
		<td><?= $row->carrier?></td>
		<td><?= $row->country?></td>
		<td><?= $row->owner?></td>
		<?php if(Zend_Registry::get('acl')->isAllowed('orders/confirm')): ?>
		<td>
      <div class="btn-group pull-right">
        <a href="/orders/delete/id/<?= $row->id ?>" onClick="return confirm('Opravdu chcete tuto objednávku vyhodit do koše?')" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Koš</a>
        <?php if (!is_null($row->id_customers)): ?>
        <a href="#" onclick="openConfirmModal(<?php echo $row->id ?>, <?php echo $row->no ?>);" role="button" class="btn btn-mini btn-primary" data-toggle="modal">Potvrdit <span class="icon icon-white icon-arrow-right"></a>
        <?php else: ?>
        <a href="#" onclick="openWarningModal(<?php echo $row->id ?>, <?php echo $row->no ?>);" role="button" class="btn btn-mini btn-primary" data-toggle="modal">Potvrdit <span class="icon icon-white icon-arrow-right"></a>
        <?php endif; ?>
      </div>
		</td>
		<?php endif; ?>
	</tr>
<?php
		}
?>
    </tbody>
</table>


<div class="row">
	<div class="span4">
		<a href="/order-edit" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Přidat novou objednávku</a>
	</div>
	<div class="span2 offset6">
		<table class="table table-condensed">
			<caption>Legenda</caption>
			<tr class="warning">
				<td style="text-align: center;">14 dní stará objednávka</td>
			</tr>
			<tr class="error">
				<td style="text-align: center;">21 dní stará objednávka</td>
			</tr>
		</table>
	</div>
</div>

<div id="warningModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="warningModalLabel">Nelze potvrdit objednávku č. <span class="data-order-id-token">0</span></h3>
	</div>
	<div class="modal-body">
		<p>Před potvrzením objednávky č. <span class="data-order-id-token">0</span> je potřeba k této objednávce přiřadit zákazníka.</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Storno</button>
		<a href="#" class="btn btn-primary">Detail objednávky</a>
	</div>
</div>

<div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="confirmModalLabel">Potvrzení objednávky č. <span class="data-order-id-token">0</span></h3>
	</div>
	<div class="modal-body" style="overflow: hidden;">
		[Content loaded by AJAX]
	</div>
	<div class="modal-footer">
    <button class="btn btn-primary">Potvrdit</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Storno</button>
	</div>
</div>





<script type="text/javascript">

  $('a.ord-sort').click(function(e){
    e.preventDefault();
    $('#order-list-containter').css('text-align', 'center');
    $('#order-list-containter').html('<img style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>');
    $('#order-list-containter').load($(this).attr('href'), function(){
      $('#order-list-containter').css('text-align', '');
    });
  });

  $('.btn-primary', '#confirmModal').click(function(){
    $('form#orders-confirm-form', '#confirmModal').submit();
  });

	function openWarningModal(orderId, orderNo) {
		$('#warningModal .data-order-id-token').text(orderNo);
		$('#warningModal a').attr('href', '/orders/detail/id/' + orderId);
		$('#warningModal').modal('show');
	}

	function openConfirmModal(orderId, orderNo) {
		$('#confirmModal .data-order-id-token').text(orderNo);
		$('#confirmModal').modal({
			remote: '/orders/confirm/id/' + orderId
		}).modal('show');
	}

</script>