
<h4>Celkové počty objednaných setů dýmek</h4>

<div class="container">
  <div class="row">
    <div class="span6">
      <table class="table table-condensed table-hover">
        <tr>
          <th>Kolekce</th>
          <th class="text-right">Počet</th>
        </tr>
        <?php
        $total_sets = 0;
        foreach($this->data as $row){
          ?>
          <tr class="lines2">
            <td><?= $row->name ?></td>
            <td class="text-right"><?= $row->amount ?> ks</td>
          </tr>
          <?php
          $total_sets += $row->amount;
        }
        ?>
        <tr> <th>Celkem</th> <th  class="text-right"><?= $total_sets ?> ks</th>	</tr>
      </table>
    </div>
    <div class="span6">
      <table class="table table-condensed table-hover" style="text-align: left;">
        <tr>
          <th class="text-left">Sety dýmek / typ</th>
          <th class="text-right">Počet</th>
        </tr>
        <?php
        $total_sets = 0;
        foreach($this->data2 as $row){
          ?>
          <tr class="lines2">
            <td><?= $row->id . ' ' . $row->name ?></td>
            <td class="text-right"><?= $row->amount ?> ks</td>
          </tr>
          <?php
          $total_sets += $row->amount;
        }
        ?>
        <tr> <th>Celkem</th> <th class="text-right"><?= $total_sets ?> ks</th>	</tr>
      </table>
    </div>
  </div>
</div>

<?php if ($this->requested_products): ?>
  <h4>Celkové počty objednaného příslušenství a náhradních dílů</h4>
  <table class="table table-condensed table-condensed sticky">
    <thead>
      <tr>
        <th rowspan="2">stav obj. / položka</th>
        <th colspan="4" class="text-center">počet</th>
      </tr>
      <tr>
         <?php foreach (Reports::REQUESTED_PRODUCTS_STATES as $state): ?>
          <th class="text-right"><?= Reports::translateOrderStates($state); ?></th>
         <?php endforeach; ?>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($this->requested_products['parts'] as $part_id => $item): ?>
        <tr>
          <td><a href="<?= $this->url([
              'controller' => 'parts',
              'action' => 'detail',
              'id' => $part_id,
              ]);?>"><?= $part_id; ?></a> <?= $item['name']; ?></td>
          <?php foreach (Reports::REQUESTED_PRODUCTS_STATES as $state): ?>
            <td class="text-right"><?= $item[$state]; ?> ks</td>
          <?php endforeach; ?>
        </tr>
      <?php endforeach; ?>
    </tbody>
    <tfoot>
      <th>celkem</th>
      <?php foreach (Reports::REQUESTED_PRODUCTS_STATES as $state): ?>
        <th class="text-right"><?= $this->requested_products['sum'][$state]; ?> ks</th>
      <?php endforeach; ?>
    </tfoot>
  </table>
<?php endif; ?>

<?php if ($this->requested_services): ?>
  <h4>Požadované služby v aktivních objednávkách</h4>
  <table class="table table-condensed table-condensed sticky">
    <thead>
    <tr>
      <th rowspan="2">stav obj. / položka</th>
      <th colspan="4" class="text-center">počet</th>
    </tr>
    <tr>
      <?php foreach (Reports::REQUESTED_PRODUCTS_STATES as $state): ?>
        <th class="text-right"><?= Reports::translateOrderStates($state); ?></th>
      <?php endforeach; ?>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->requested_services['services'] as $item): ?>
      <tr>
        <td><?= $item['desc']; ?></td>
        <?php foreach (Reports::REQUESTED_PRODUCTS_STATES as $state): ?>
          <td class="text-right"><?= $item[$state]; ?> ks</td>
        <?php endforeach; ?>
      </tr>
    <?php endforeach; ?>
    </tbody>
    <tfoot>
    <th>celkem</th>
    <?php foreach (Reports::REQUESTED_PRODUCTS_STATES as $state): ?>
      <th class="text-right"><?= $this->requested_services['sum'][$state]; ?> ks</th>
    <?php endforeach; ?>
    </tfoot>
  </table>
<?php endif; ?>



