<h3>Objednávka součástí</h3>
<?php
	$this->ordersFilterForm($this->form);
	$this->boldCategorySelect();
?>
<br/><br/>
<?php	if($this->data): ?>

	<table class="table table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th rowspan="2">ID</th>
				<th rowspan="2">Název</th>
				<th class="text-center" colspan="3">Objednávka</th>
				<th class="text-center" rowspan="2">Rez.<br />[ks]</th>
				<th class="text-center" rowspan="2">Sklad<br />[ks]</th>
				<th class="text-center" rowspan="2">Volné<br />[ks]</th>
				<th class="text-center" rowspan="2">Chybí<br />central<br />[ks]</th>
				<th class="text-center" rowspan="2">Chybí<br />[ks]</th>
				<th class="text-center" colspan="2">Výroba</th>
				<th class="text-center" rowspan="2">Stav<br />po výrobě<br />[ks]</th>
			</tr>
			<tr>
				<th class="text-center">Extra<br />acc.</th>
				<th class="text-center">Sety<br />dým</th>
				<th class="text-center" rowspan="2">Suma</th>
				<th class="text-center">Počet<br />[ks]</th>
				<th>Termín<br />dodání</th>
			</tr>
		</thead>
		<tbody>
<?php
		$first = true;
		$last_ctg = null;
		foreach($this->data as $row):
			$bold = ($row['product'] == 'y' ? "font-weight: bold;" : '');
			$blue = (substr($row['id'],0,1) == 'S' || strtoupper(substr($row['id'],0,2)) == 'AS' || substr($row['id'],0,4) == 'NF25' ? " color: blue;" : "");
			$polotovar = (strtolower(substr($row['id'], -1)) == 'x' ? "style='background-color: #FFFF99;'" : '');

			if($last_ctg != $row['id_parts_ctg']):
				$last_ctg = $row['id_parts_ctg'];
				if(!$first):
?>
			<tr>
				<th>ID</th>
				<th>Název</th>
				<th class="text-center">Extra<br />acc.</th>
				<th class="text-center">Sety<br />dým</th>
				<th class="text-center">Suma</th>
				<th class="text-center">Rez.</th>
				<th class="text-center">Sklad</th>
				<th class="text-center">Volné</th>
				<th class="text-center">Chybí<br />central</th>
				<th class="text-center">Chybí</th>
				<th class="text-center">Výroba<br />počet</th>
				<th class="text-center">Termín<br />dodání</th>
				<th class="text-right">Stav<br />po výrobě</th>
			</tr>
<?php else: $first = false; endif; ?>
			<tr class="success"><th colspan="14" class="section"><?= $row['ctg_name'] ?></th> </tr>
<?php endif; ?>
			<tr <?= $polotovar == '' ? "class='lines'" : $polotovar ?>>
				<!-- ID -->
				<td style="text-align: left; <?= $bold?>">
					<a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>" target="_blank" style="<?= $blue?>" ><?= $row['id'] ?></a>
				</td>
				<!-- Nazev -->
				<td style="text-align: left; width: 250px; <?= $bold.$blue?>">
					<?= $row['name'] ?>
				</td>
				<!-- Extra acc -->
				<td class="text-right" title="objednávka extra acc. - má smysl pouze u produktů">
					<?php echo $row['product'] == 'y' ? $row['extra_amount'] : '' ?>
				</td>
				<!-- Sety dym -->
				<td class="text-right" title="objednávka sety dýmek - má smysl pouze u produktů">
					<?php echo $row['product'] == 'y' ? $row['sets_amount'] : '' ?>
				</td>
				<!-- Suma -->
				<td class="text-right" title="objednávka celkem = objednávka extra acc. + objednávka sety dýmek">
					<?= $row['total_amount'] ?>
				</td>
				<!-- Rezervace -->
				<td class="text-right" title="rezervované součásti NOVĚ: VYBRANÝCH OBJEDNÁVEK">
					<?= $row['reserv_amount'] == 0 ? '' : $row['reserv_amount'] ?>
				</td>
				<!-- Sklad -->
				<td class="text-right" title="počet součástí skladem ve všech skladech">
					<b><?= $row['wh_amount'] ?></b>
				</td>
				<!-- VOLNE -->
				<td class="text-right" title="počet součástí které jsou navíc po odečtení vybraných objednávek od skladu">
					<?= $row['free_amount'] == 0 ? '' : $row['free_amount'] ?>
				</td>
				<!-- CHYBI CENTRAL -->
				<td class="text-right" title="součást chybí v centrálním skladu, ale je obsažena v externích skladech" <?php if($row['missing_central'] > 0) echo "style='background-color: orange;'"; ?>>
					<?= $row['missing_central'] == 0 ? '' : $row['missing_central'] ?>
				</td>
				<!-- CHYBI -->
				<td class="text-right" title="Počet součástí, který se musí objednat. Taky počet pro který se počítá počet podsoucástí k objednání." <?php if($row['missing_total'] > 0) echo "style='color: white; background-color: crimson;'";?>>
					<?= $row['missing_total'] == 0 ? '' : $row['missing_total'] ?>
				</td>
				<!-- VYROBA -->
					<?php
						$productionAmount = 0;
						if($row['production'] == 1): //pokud existuje produkce
							$prod = $this->productions->getProductions($row['id']);
							$prodAmount = "";
							$prodDate = "";
							foreach($prod as $tmp){
								$prodAmount.= $tmp['amount']."<br />";
								$productionAmount += $tmp['amount'];
								$prodDate.=$this->dateFromDb($tmp['date_delivery'])."<br />";
							}
					?>
				<td class="text-right" title="Počet ks"><?= $prodAmount ?></td><td title="Datum dodání"><?=$prodDate?></td>
					<?php else: ?>
				<td  class="text-center" colspan="2" title="Počet ks - datum zadání">nezadáno</td>
					<?php endif; ?>
				<!-- STAV PO VYROBE -->
				<td class="text-right" title="Stav po výrobě ks">
				<?php
					$missingAfterProduction = $row['missing_total'];
					if($productionAmount > 0){ //pokud je zadana vyroba
						if($row['missing_total'] > $productionAmount) {
							$missingAfterProduction = $row['missing_total'] - $productionAmount;
						} else {
							$missingAfterProduction = 0;
						}

						$status = $productionAmount - $row['missing_total'];
						if($status < 0){
							echo "<span style='color: red'>$status</span>";
						} else {
							echo $status;
						}
					}

				?>
				</td>
			</tr>
<?php endforeach; ?>
		</tbody>
	</table>
<?php endif; ?>

<style type="text/css">
  .section {
    background-color: #DDD;
  }
</style>