<div class="row-fluid">
    <div class="span12">
<?php if ($this->data): ?>
<h4>Rezervace položek objednávky <a href="<?=$this->baseUrl()?>/orders/detail/id/<?=$this->order->getID()?>"><?= $this->order->getTitle(); ?></a> </h4>
<br/>
Celková rezervace:
<a class="btn btn-primary" href="<?=$this->baseUrl()?>/orders/prepare-all-order-items/id/<?=$this->order->getID()?>">Rezervovat vše</a> |
<!-- <a href="<?=$this->baseUrl()?>/orders/prepare-all-order-items/id/<?=$this->order->getID()?>">Rezervovat co jde</a> | -->
<a class="btn btn-danger" href="<?=$this->baseUrl()?>/orders/cancel-all-order-items/id/<?=$this->order->getID()?>">Zrušit vše</a><br/><br/>

    <table class="table table-hover table-condensed" id="parts-list">
	<thead>
		<tr>
			<th>ID</th>
			<th>Název</th>
			<th style="width: 200px;">Popis</th>
			<th>Množství<br />[ks]</th>
            <th>Zdarma<br />[ks]</th>
			<th>Rezervace<br />[ks]</th>
			<th>Rezervovat<br />jednotlivě</th>
		</tr>
	</thead>

<?php
	foreach($this->data as $ctg_name => $category){
		$i=0;
?>
		<tr><th colspan="7" class="section"><?= $ctg_name ?></th> </tr>
<?php
		foreach($category as $row){
			$class = ($i++ % 2) ? " class='odd'" : '';
?>
		<tr>
		<!--
			<td<?= $class ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/products/detail/id/<?=$row['id']?>"><?= $row['id'] ?></a></td>
			<td<?= $class ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/products/detail/id/<?=$row['id']?>"><?= $row['name'] ?></a></td>
		 -->
			<td<?= $class ?> style="text-align: left;"><?= $row['id'] ?></td>
			<td<?= $class ?> style="text-align: left;"><?= $row['name'] ?></td>
			<td<?= $class ?>><?= $row['description'] ?></td>
			<td<?= $class ?>><?= $row['amount'] - $row['free_amount'] ?></td>
            <td<?= $class ?>><?php echo (($row['free_amount'] > 0) ? $row['free_amount'] : 0); ?></td>

			<td<?= $class ?>><?= $row['ready_amount'] ?></td>
			<td<?= $class ?>>

<?php
	if($row['amount'] == $row['ready_amount']) {
?>
				<a class="btn btn-danger btn-mini" href="<?= $this->baseUrl();?>/orders/cancel-all-prepared/order/<?= $this->order->getID(); ?>/item/<?= $row['id'] ?>" title="Zruší rezervace všech položek <?= $row['id'] ?> objednávky">Zrušit rezervace</a>
<?php
	} else {
		if(substr($ctg_name,0,4) == 'Sety'){
?>
				<a href="<?= $this->baseUrl();?>/orders/prepare-item/order/<?= $this->order->getID(); ?>/item/<?= $row['id'] ?>" title="rezervuje ručně zadaný počet položky <?= $row['id'] ?> pro objednávku">Ručně</a> |
<?php
		}
?>
				<a class="btn btn-primary btn-mini" href="<?= $this->baseUrl();?>/orders/prepare-all/order/<?= $this->order->getID(); ?>/item/<?= $row['id'] ?>" title="rezervuje všechny položky <?= $row['id'] ?> objednávky" >Rezervovat</a>
<?php
	}
?>
			</td>
		<!--
 |
				<a href="<?= $this->baseUrl();?>/orders/prepare-overview/order/<?= $this->order->getID(); ?>/item/<?= $row['id'] ?>">Přehled</a>
			</td> -->
		</tr>
<?php
		}
	}
?>
	<tr><th colspan="6">&nbsp;</th> </tr>
</table>

<?php else: ?>
  
  <div class="well well-small">
    <strong><big>K objednávce nejsou přiřazeny žádné produkty!</big></strong><br /><br />
    <a class="btn btn-primary" href="<?php echo $this->url(array(
      'controller' => 'orders', 'action' => 'detail', 'id' => $this->order->getID())); ?>">
      <i class="icon icon-white icon-edit"></i> Upravit objednávku</a>
  </div>
  
  <?php endif; ?>
</div></div>