<br/><br/><h4>Chystání položky "<?= $this->product->getID()." - ".$this->product->getName(); ?>" objednávky "<?= $this->order->getTitle();?>"</h4><br/><br/>

<?php
	if($this->product->getParts() !== NULL){
?>
<table class="datalist">
	<tr><th colspan="2">Součásti</th><th>Počet</th><th>Rezervace</th><th>Skladem</th></tr>
<?php 
		$odd = false;
		$last_ctg = -1;
		foreach($this->product->getParts() as $part){
			if($last_ctg == -1 || $last_ctg != $part['ctg']){
?>
	<tr><th colspan="5"><?= $this->categories[$part['ctg']]['name']?></th></tr>
<?php
			}
			$last_ctg = $part['ctg'];
			$odd = !$odd;
?>
	<tr>
		<td <?= ($odd ? "class='odd'" : '') ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$part['id']?>"><?=$part['id']?></a></td>
		<td <?= ($odd ? "class='odd'" : '') ?> style ="width: 300px; text-align: left;" ><?=$part['name']?></td>
		<td <?= ($odd ? "class='odd'" : '') ?> ><?=($this->order->getProductAmount($this->product->getID())*$part['amount'])?>x</td>
		<td <?= ($odd ? "class='odd'" : '') ?> ><?=$this->order->getReadyProductPartAmount($this->product->getID(), $part['id'])?></td>
		<td <?= ($odd ? "class='odd'" : '') ?> ><?= $this->parts_warehouse->getAmount($part['id']); ?></td>
	</tr>
<?php 
				}
?>
	<tr><th colspan="5">&nbsp;</th></tr>
</table>
<?php 
	}
?>
<br /><br />