<br/><br/><h4>Rezervace položky "<?= $this->product->getID()." - ".$this->product->getName(); ?>" objednávky "<?= $this->order->getTitle();?>"</h4><br/><br/>

<form method="post">
<table class="datalist">
	<tr><th colspan="2">Produkt</th><th>Počet</th><th>Rezervace</th><th>Skladem</th><th>Rezervovat</th></tr>

	<tr>
		<td style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$this->product->getID()?>"><?=$this->product->getID()?></a></td>
		<td style ="width: 300px; text-align: left;" ><?=$this->product->getName()?></td>
		<td ><?=($this->order->getProductAmount($this->product->getID()))?>x</td>
		<td ><?=$this->order->getReadyProductAmount($this->product->getID())?> &nbsp;&nbsp;&nbsp;<a href="<?=$this->baseUrl()?>/orders/cancel-prepared/order/<?= $this->order->getID() ?>/item/<?= $this->product->getID() ?>/part/<?=$this->product->getID()?>" onClick="return confirm('Zrušit rezervaci součástí?')" title="zruší rezervaci součástí." >zrušit</a></td>
		<td ><?= $this->parts_warehouse->getAmount($this->product->getID()); ?></td>
		<td style="text-align: center;"><input class="small_input" type="text" value="0" name="<?=$this->product->getID()?>_amount" /> ks</td>
	</tr>

	<tr><th colspan="6">&nbsp;</th></tr>
	<tr><td colspan="6"><input type="submit" id="Odeslat" name="Odeslat" value="Rezervovat" /></td></tr>
</table>
</form>
