<style>
    #list tr.first th { background-color: transparent; font-weight: bold; }
    #list tr th { background-color: #f2f2f2; font-weight: normal; }
</style>
<div class="no-print">
    <h3>Rozpis produktu <?= $this->part->getID() ?> - <?= $this->part->getName() ?></h3>
</div>
<?php
$this->title = " rozpis " . $this->part->getName();
if (count($this->part->getSubparts()) > 0) {
    ?>
    <table id="list" class="table table-bordered">
        <thead>
            <tr class="first">
                <th colspan="2">Součásti</th>
                <th>Počet</th>
                <th colspan="5">Vychystáno</th>
            </tr>
        </thead>
        <tbody>
            <?php
            $odd = false;
            $last_ctg = -1;
            foreach ($this->part->getSubparts() as $part)
            {
                if ($last_ctg == -1 || $last_ctg != $part->getCtgName()) {
                    ?>
                    <tr><th colspan="8"><?= $part->getCtgName() ?></th></tr>
                    <?php
                    $last_ctg = $part->getCtgName();
                }
                $odd = !$odd;
                ?>
                <tr>
                    <td style="text-align: left;"><a href="<?= $this->baseUrl() ?>/parts/detail/id/<?= $part->getID() ?>"><?= $part->getID() ?></a></td>
                    <td style ="width: 300px; text-align: left;"><?= $part->getName() ?></td>
                    <td style="width: 100px; text-align: center;"><?= $part->getAmount() ?>x</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <?php
            }
            ?>
            <tr class="no-print"><th colspan="8">&nbsp;</th></tr>
        </tbody>
    </table>
    <div class="no-print">
        <br /><br />
    </div>
    <?php
}
?>
<div class="no-print">
    <br /><br />
</div>