<?= $this->OrderTitle($this->orderid); ?>
<?php if ($this->allow_edit): ?>


<style>
#cat-nav td div.active { background: #ffff89; }
</style>
<div class="navbar-inner" style="width: 120px; position: fixed; top: 90px; right: 20px;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4>Kalkulačka</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div id="calculator" class="box parts_box"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="navbar-inner" style="width: 160px; position: fixed; top: 250px; right: 20px; padding: 0;">
    <table class="table" id="cat-nav">
        <thead>
            <tr>
                <th class="text-center">
                    <h4>Kategorie</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <?php
                        $lastNavCtgID = '';
                        $lastNavCollAbbr = '';
                        foreach($this->data as $row) {
                            if(!$this->sets && $row['id_parts_ctg'] != $lastNavCtgID) {
                              echo '<a href="#ctg_' . $row['id_parts_ctg'] . '"><div class="nav_' . $row['id_parts_ctg'] . '" style="padding:3px; border-bottom: 1px solid #ccc;">' . $row['ctg_name'] . '</div></a>';
                            }
                            if($this->sets && ($row['id_parts_ctg'] != $lastNavCtgID || $row['coll_abbr'] != $lastNavCollAbbr)) {
                                echo '<a href="#cat_' . $row['coll_abbr'] . '"><div class="nav_' . $row['coll_abbr'] . '" style="padding:3px; border-bottom: 1px solid #ccc;">' . $row['coll_abbr'] . '</div></a>';
                            }
                            $lastNavCtgID = $row['id_parts_ctg'];
                            $lastNavCollAbbr = $row['coll_abbr'];
                        }
                    ?>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<nav id="main">
    <ul>

    </ul>
</nav>

<div style=" margin-bottom: 25px;">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#search">
      Rozšířené hledání
    </button>

    <div id="search" class="collapse">
            <?php echo $this->form; ?>
    <?php $this->boldCategorySelect() ?>
    </div>
</div>

    <ul class="breadcrumb" style="width: 85%;">
        <?php
            $cnt = 0; ?>
        <?php
        if (Utils::isAllowed('orders/special/select-not-only-extra-wraps')): ?>
            <li>
                <a href="?<?= $this->collections_qs ?>&ctg=<?= Table_PartsCtg::TYPE_SETS ?>&name=&id=&Hledat=Hledat"><?= ++$cnt ?>. Sety dýmek</a> <span class="divider">»</span>
            </li>
            <?php
            foreach ($this->collections as $code => $collection): ?>
                <li>
                    <a href="?coll[]=<?= $collection['id'] ?>&ctg=<?= Table_PartsCtg::TYPE_ACCESSORIES ?>&name=&id=&Hledat=Hledat"><?= ++$cnt ?>. <?= $collection['abbr'] ?> ac.</a> <span class="divider">»</span>
                </li>
            <?php
            endforeach; ?>
            <li>
                <a href="?<?= $this->collections_qs ?>&ctg=<?= Table_PartsCtg::PRESENTATION_TOOLS ?>&name=&id=&Hledat=Hledat"><?= ++$cnt ?>. Presentation tools</a> <span class="divider">»</span>
            </li>
        <?php
        endif; ?>
        <li>
            <a href="?<?= $this->collections_qs ?>&ctg=<?= Table_PartsCtg::TYPE_SETS_PACKING ?>&name=&id=&Hledat=Hledat"><?= ++$cnt ?>. Extra obaly</a> <span class="divider">»</span>
        </li>
        <li>
            <a href="<?= $this->baseUrl() ?>/orders/detail/id/<?= $this->orderid ?>">Konec</a> <span class="divider">»</span>
        </li>
    </ul>

<table id="items" class="table table-hover table-condensed sticky" style="width: 88%;">
	<thead>
		<tr>
			<th>ID</th>
			<th>Kategorie</th>
			<th>Název</th>
			<th>Popis</th>
			<th>Množství<br />[ks]</th>
			<th>Zdarma<br />[ks]</th>
		</tr>
	</thead>
	<tbody>
		<?php if(count($this->data) > 0) {

		$lastCtg = null;
		$lastColl = null;
		foreach($this->data as $row) { //Zend_Debug::dump($row); die;

			if(!$this->sets && $lastCtg != $row['ctg_name']) {
				?>
			<tr>
				<th colspan="10">
                <a name="ctg_<?= $row['id_parts_ctg']; ?>"></a>
                <div style="margin-top: 50px"><?= $row['ctg_name']; ?></div>
                </th>
			</tr>
				<?php
				$lastCtg = $row['ctg_name'];
			}

			if($this->sets && $lastColl != $row['coll_name']) {
				?>
			<tr>
				<th colspan="9">
                <a name="cat_<?= $row['coll_abbr']; ?>"></a>
                <div style="margin-top: 50px"><?= $row['coll_abbr']; ?></div>
                </th>
			</tr>
				<?php
				$lastColl = $row['coll_name'];
			}

			if(array_key_exists($row['id'],$this->rezerv)){
				$rez = true;
			} else {
				$rez = false;
			}

			if(array_key_exists($row['id'], $this->order_items)) {
				$checked = 'checked="checked"';
				$amount  = $this->order_items[$row['id']];
			} else {
				$checked = '';
				$amount  = '';
			}

			if(isset($this->order_free_items[$row['id']])) {
				$freeAmount = $this->order_free_items[$row['id']];
				$amount -= $freeAmount;
				if($amount == 0) { $amount = ''; }
			} else {
				$freeAmount = '';
			}

		?>
			<tr name="<?= $row['id'] ?>_line" class="lines cat_<?= $this->sets ? $row['coll_abbr'] : $row['id_parts_ctg'] ?>">
				<td style="text-align: left;"><?= $row['id'] ?></td>
				<td style="text-align: left;"><?= $row['ctg_name'] ?></td>
				<td style="text-align: left;"><?= $row['name'] ?></td>
				<td style="text-align: left;"><?= $row['description'] ?></td>
				<td><input type="text" id="<?= $row['id'] ?>" name="<?= $row['id'] ?>_amount" value="<?= $amount ?>" class="span1 _amount" style="text-align: right;" <?php echo $rez ? 'disabled="disabled"' : ''?> /></td>
				<td><input type="text" id="<?= $row['id'] ?>" name="<?= $row['id'] ?>_free_amount" value="<?= $freeAmount ?>" class="span1 _free_amount" style="text-align: right;" <?php echo $rez ? 'disabled="disabled"' : ''?> /></td>
			</tr>
		<?php } } else { echo '<tr><td colspan="10"><div class="alert alert-block alert-error">Žádné záznamy</div></td></tr>'; } ?>
	</tbody>
</table>
<style type="text/css">
  input.data-process { background-color: yellow; }
  input.data-fail { background-color: red; color: white; }
</style>
<script type="text/javascript">
$(document).ready(function() {
    function updateAmount(part, amount, freeAmount) {
            $.ajax({
                url: "/orders/select-products",
                data: "act=update&order=<?php echo $this->orderid?>&p="+part+"&a="+amount+"&fa="+freeAmount
            })
              .done(function(){
                console.log("Data Saved");
                $('input#' + part).removeClass('data-process');
                $(document).calculator();
              })
              .fail(function(){
                console.log("Request Failed");
                $('input#' + part).removeClass('data-process').addClass('data-fail');
              });
            $(this).calculator();
    }

    // fn calculator
    $.fn.calculator = function() {
        var body;
        $('#calculator').html('<div class="text-center">...</div>');
            $.ajax({
                url: "/orders/get-calculator-data/order/<?php echo $this->orderid?>",
                success: function(data) {

                    body = "";
                    body += "<div class='text-right" + (data.result.currency === 'EUR' ? ' bold' : '') + "'>" + data.result.price_eur + " EUR</div>";
                    body += "<div class='text-right" + (data.result.currency === 'CZK' ? ' bold' : '') + "'>" + data.result.price_czk + " CZK</div>";
                    body += "<div class='text-right'><small>" + data.result.rate + " CZK/EUR<small></div>";

                    $('#calculator').html(body);
                }
            });
    };


    // table items textbox change
    $('#items [type=text]').change(function() {
        if(isNaN($(this).val())) {
            alert('Nezadali jste číslo');
            $(this).val('');
        }
        else if($(this).val() < 0) {
            alert('Číslo není kladné');
            $(this).val('');
        }
        else {
            $(this).removeClass('data-ok').removeClass('data-fail').addClass('data-process');
            if($(this).hasClass('_amount')) {
                // get free amount value
                var secondValue = ($('#items [name='+$(this).attr('id')+'_free_amount]').val() != '') ? $('#items [name='+$(this).attr('id')+'_free_amount]').val() : 0;
                updateAmount($(this).attr('id'), $(this).val(), secondValue);

            }
            if($(this).hasClass('_free_amount')) {
                // get amount value
                var secondValue = (typeof $('#items [name='+$(this).attr('id')+'_amount]').val() != 'undefined') ? $('#items [name='+$(this).attr('id')+'_amount]').val() : 0;
                updateAmount($(this).attr('id'), secondValue, $(this).val());
            }
            if($(this).val() == 0) {
              $(this).val('');
            }
            $('#items').chckboxRowHighlight();
        }
    });

    // fn row hightlight "tr background" depend on checkbox state
    $.fn.chckboxRowHighlight = function() {
        $('#items tr').each(function(i) {
           if($('._amount', this).val() || $('._amount', this).val()) {
               $(this).css('background', '#ffffbf');
           }
           else {
               $(this).css('background', '');
           }
        });
    };

    $('.breadcrumb a').click(function(){
      if ($('.data-process').length > 0) {
        alert('Položky objednávky se stále ukládají!');
        return false;
      }
    });

    // on load
    $(document).calculator();
    $('#items').chckboxRowHighlight();


    // category navigation
<?php
$lastLiCtgID = '';
$lastLiColl = '';
foreach($this->data as $row) {
    if(!$this->sets && $row['id_parts_ctg'] != $lastLiCtgID) { ?>
        $(window).scroll(function(event) {
            if($(".cat_<?= $row['id_parts_ctg']; ?>").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
                $( "#cat-nav td div" ).each(function( index ) {
                  $(this).removeClass('active');
                });
                $(".nav_<?= $row['id_parts_ctg']; ?>").addClass('active');
            }
        });
        <?php }
  if($this->sets && $row['coll_abbr'] != $lastLiColl) { ?>
    $(window).scroll(function(event) {
      if($(".cat_<?= $row['coll_abbr']; ?>").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
        $( "#cat-nav td div" ).each(function( index ) {
          $(this).removeClass('active');
        });
        $(".nav_<?= $row['coll_abbr']; ?>").addClass('active');
      }
    });
<?php
    }
    $lastLiCtgID = $row['id_parts_ctg'];
    $lastLiColl = $row['coll_abbr'];
}
?>
});
</script>
<style>
#calculator .bold { font-weight: bold; }
</style>
<?php else: ?>

<div class="alert">
  Položky objednávky nelze editovat, protože má již některé produkty rezervované. Pro umožnění editace kontaktujte vedoucího skladu.<br>
  <a href="<?=$this->baseUrl()?>/orders/detail/id/<?= $this->orderid; ?>">Zpět na detail objednávky</a>
</div>
<?php endif; ?>
