<h2><?php echo $this->title; ?> 
<a class="btn btn-mini" href="<?php echo $this->url(array('controller' => 'orders', 'action' => 'detail')); ?>">Zpět</a></h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td colspan="6">
                <strong>Objednávka:</strong> 
                <span class="label label-info">
                    <?php echo $this->order->getNo()?>
                </span> 
                <a href="<?php echo $this->url(
                    array('controller' => 'orders', 'action' => 'detail')); ?>">
                        <?php echo $this->order->getTitle(); ?>
                </a>
            </td>
        </tr>
        <tr>
            <th>Kód</th>
            <th>Název</th>
            <th>Kolekce</th>
            <th><div class="text-center">Počet</div></th>
            <th><div class="text-center">Přiřazeno</div></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach($this->parts as $part): ?> 
        <tr>
            <td><?php echo $part['id']; ?></td>
            <td>
                <?php echo $part['name']; ?>
                <?php if (!empty($part['holograms'])): ?>
                <a href="#" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#hols-for-<?php echo $part['id']; ?>">Zobrazit <span class="caret"></span></a>
                <div id="hols-for-<?php echo $part['id']; ?>" class="collapse">
                    <ol>
                    <?php foreach ($part['holograms'] as $hologram): ?>
                    <li><?php echo $hologram['abbr'] . " " . $hologram['hologram']; ?></li>
                    <?php endforeach; ?>
                    </ol>
                </div>
                <?php endif; ?>
            </td>
            <td><?php echo $part['collection']; ?></td>
            <td><div class="text-center"><?php echo $part['amount']; ?></div></td>
            <td><div class="text-center"><?php echo (is_null($part['assigned'])? 0 : $part['assigned']); ?></div></td>
            <td><a href="<?php echo $this->url(array(
                'controller' => 'orders', 
                'action' => 'assign-holograms', 
                'part' => $part['id']
                    )); ?>" class="btn-success btn">Spravovat</a></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>


    