<style>
    #parts-list tr.first th { background-color: transparent; font-weight: bold; }
    #parts-list tr th { background-color: #f2f2f2; font-weight: normal; }
</style>
<div class="no-print">
    <h3>Rozpis accessories objednávky: <?= $this->order->title ?></h3>
</div>
<?php #$this->title = "  " . $this->order->title; ?>
<table id="parts-list" class="table">
    <thead>
        <tr class="first">
            <th>ID</th>
            <th>Název</th>
            <th style="width: 200px;">Popis</th>
            <th>Množství</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->data as $row)
        { ?>
            <tr>
                <th><?= $row['id'] ?></th>
                <th><?= $row['name'] ?></th>
                <th><?= $row['description'] ?></th>
                <th class="text-right">[ <?= $row['amount'] ?> ]</th>
            </tr>
            <?php
            if ($row['set'] == 'y') {
                $part = new Parts_Part($row['id'], $row['amount']);
                foreach ($part->getSubparts() as $subPart)
                {
                    if (preg_match("/[x]$/", $subPart->getID()) || !$subPart->isProduct())
                        continue;
                    ?>
                    <tr>
                        <td></td>
                        <td><?= $subPart->getID() . " - " . $subPart->getName() ?></td>
                        <td><?= $subPart->getDesc() ?></td>
                        <td class="text-right"><?= $subPart->getAmount() ?></td>
                    </tr>
        <?php }
    } ?>
<?php } ?>
    </tbody>
</table>
<div class="no-print">
    <br /><br />
</div>