

<?php
    if(Zend_Registry::get('version') == 'TEST'){
?>
<script type="text/javascript" src="<?= $this->baseUrl();?>/public/flash/swfobject.js"></script>
<script type="text/javascript">
swfobject.embedSWF(
  "<?= $this->baseUrl();?>/public/flash/open-flash-chart.swf", "my_chart", "700", "400","9.0.0", "expressInstall.swf",
  {"data-file":"<?php echo $this->baseUrl()."/orders/strategic-data";?>"}
  );
</script>
<?php
    } else {
?>
<script type="text/javascript" src="<?= $this->baseUrl();?>/public/flash/swfobject.js"></script>
<script type="text/javascript">
swfobject.embedSWF(
  "<?= $this->baseUrl();?>/public/flash/open-flash-chart.swf", "my_chart", "700", "400","9.0.0", "expressInstall.swf",
  {"data-file":"<?php echo $this->baseUrl()."/orders/strategic-data";?>"}
  );
</script>
<?php
    }
?>
<div id="my_chart"></div>