<h3>Šablony objednávek</h3>

<table class="table table-hover">
	<tr>
		<th>Název</th>
		<th>Popis</th>
		<th>Adresa</th>
		<th>Akce</th>
	</tr>
<?php foreach($this->data as $row){
		$addr = $row['country'];
		if(!empty($row['city'])){
			$addr = $row['city'].', '.$addr;
		}
?>
	<tr>
		<td><?php echo $row['title'] ?></td>
		<td><?php echo $row['description'] ?></td>
		<td><?php echo $addr ?></td>
		<td>
                    <div class="btn-group">
			<!-- <a href="<?php echo $this->url(array('controller' => 'orders', 'action' => 'edit-template', 'id' => $row['id'])); ?>">upravit</a> | -->
			<a class="btn btn-success" href="<?php echo $this->url(array(
                            'controller' => 'orders', 
                            'action' => 'add-from-template', 
                            'id' => $row['id'])); ?>"><i class="icon-file"></i> Vytvořit objednávku</a>

                                        
                    <a href="#confirm-<?php echo $row['id']; ?>" 
                       role="button" class="btn btn-warning" data-toggle="modal">
                    <i class="icon-remove"></i> Smazat</a></div>                    
                    
                    <div id="confirm-<?php echo $row['id']; ?>" 
                         class="modal hide fade" tabindex="-1" 
                         role="dialog" aria-labelledby="myModalLabel" 
                         aria-hidden="true">
                      <div class="modal-header">
                        <h3>Potvrzení smazání</h3>
                      </div>
                      <div class="modal-body">
                          <p>Opravdu chcete smazat tuto šablonu?<p>
                          <p><strong><?php echo $row['title'] ?></strong></p>
                          <p>Tato akce nelze vzít zpět!</p>
                      </div>
                      <div class="modal-footer">
                        <a class="btn" data-dismiss="modal" aria-hidden="true">Ne, nemazat</a>
                        <a class="btn btn-danger" href="<?php
                        echo $this->url(array(
                            'controller' => 'orders',
                            'action' => 'delete-template',
                            'id' => $row['id'])); ?>">Ano, smazat</a>
                      </div>
                    </div>
                </td>
	</tr>
<?php } ?>
</table>
