<br/><br/><h4>Objednávka obalů</h4><br/><br/>
<?php echo $this->ordersWrapsFilterForm($this->form);  ?>
<br />
<br />
<br />

<?php
	
	//if($this->data) Zend_Debug::dump($this->data);

	$last_ctg = null;
	$i=0;
	//Zend_Debug::dump($this->order);
	if($this->data === null){
		//if($this->sended) echo "Žádné záznamy.";
	} else {
?>
	<table class="datalist">
		<thead>
			<tr>
				<th>ID</th>
				<th>Název</th>
				<th>Popis</th>
				<th>Objednávka<br />[ks]</th>
				<th>Rezervace<br />[ks]</th>
				<th>Skladem<br />[ks]</th>
				<th>Volné<br />[ks]</th>
				<th>Chybí<br />[ks]</th>
			</tr>
		</thead>
		<tbody>
<?php
		$db = Zend_Registry::get('db');
		foreach($this->data as $row){
	
		if(!isset($this->order[$row['id']]) || $this->order[$row['id']] == 0) continue;
			
		if($last_ctg === null || $last_ctg != $row['id_wraps_ctg']){
			//if($row['amount'] == 0) continue;
?>
			<tr><th colspan="8" class="section"><?= $row['ctg_name'] ?></th> </tr>
<?php 
		}
		$class = ($i++ % 2) ? " class='odd'" : ''; $order = 0;
?>
			<tr>
				<td<?= $class ?>><a href="<?=$this->baseUrl()?>/wraps/detail/id/<?=$row['id']?>"><?= $row['id']?></a></td>
				<td<?= $class ?> style="text-align: left;"><?= $row['name'] ?></td>
				<td<?= $class ?> style="text-align: left;"><?= $row['description'] ?></td>

				<!-- OBJEDNAVKA -->
				<td<?= $class ?> title="součet kusů na vybraných objednávkách"><?php if(isset($this->order[$row['id']])){ echo $this->order[$row['id']]; $order = $this->order[$row['id']];} else echo 0; ?></td>
				
				<!-- REZERVACE -->
				<td<?= $class ?> title="součet všech rezervací"><?= (($value = $db->fetchOne("SELECT SUM(amount) FROM orders_wraps_reserved WHERE id_wraps = ".$db->quote($row['id']))) ? $value : 0) ?></td> <?php // ." AND id_orders IN ".implode(',', $this->selected_orders).")"?>

				<!-- SKLADEM -->
				<td<?= $class ?> <?php if(false) echo "style='background-color: orange;'";?> title="počet obalů skladem"><b><?= $row['amount'] ?></b></td>

				<!-- VOLNE -->
				<td<?= $class ?> title="volné = skladem - objednávka"><?= ($row['amount'] > $order ? $row['amount'] - $order : 0) ?></td>

				<!-- CHYBI -->
				<td<?= $class ?> <?php if($order > $row['amount']) echo "style='background-color: orange;'";?> title="počet chybějících obalů"><?php if($order > $row['amount']) echo ($order-$row['amount']);else echo 0; ?></td>
			</tr>
<?php 
		 $last_ctg = $row['id_wraps_ctg'];
		}
?>
		</tbody>
	</table>
<?php 
	} 
?>
<br />
<br />
<br />
