<h2 class="text-center"><?=$this->title?><br /><small>Výběr produktu</small></h2>
<div class="row"><div class="span8 offset2">
    
<?=$this->navigationMultiEdit($this->action)?>    
   
  
<?php if(!$this->type): ?>
<div class="text-center">
  <a class="btn btn-primary" href="<?=$this->baseUrl()?>/multi-edit/index/type/craft-sets">Craft collection</a>
  <a class="btn btn-primary" href="<?=$this->baseUrl()?>/multi-edit/index/type/sepia-sets">Sepia collection</a>
  <a class="btn btn-primary" href="<?=$this->baseUrl()?>/multi-edit/index/type/nautila-sets">Nautila collection</a>
</div>
    
<?php else: ?>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Název</th>
			<th>Popis</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<tr><th colspan="4" class="section"><?= $this->col ?></th></tr>
<?php foreach ($this->data as $row): ?>
		<tr>
			<td><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>"><?= $row['id']?></a></td>
			<td><?=$row['name']?></td>
			<td><?=substr($row['description'], 0, 30)?></td>
			<td><a class="btn btn-mini btn-primary" 
             href="<?=$this->baseUrl()?>/multi-edit/step2/id/<?=$row['id']?>">
          <i class="icon icon-pencil icon-white"></i> upravit</a></td>
		</tr>
<?php endforeach; ?>
	</tbody>
</table>
   
<?php endif; ?>
</div></div> 
