<h2 class="text-center"><?=$this->title?><br />
<small>Výběr produktů pro aplikaci předchozí změny</small></h2>

<div class="row"><div class="span8 offset2">
<?=$this->navigationMultiEdit($this->action)?>
</div></div>

<div class="row">
  <div class="span8 offset2">  

    <div class="btn-toolbar text-right">
      <div class="btn-group">
      <button class="btn" id="select_all_checkboxex" title="Označit všechny">
        <i class="icon icon-ok-circle"></i> Označit všechny</button>
      <button class="btn" id="deselect_all_checkboxex" title="Zrušit označení">
        <i class="icon icon-remove-circle"></i> Zrušit označení</button>
      </div>
    </div>

    <form action="<?= $this->baseUrl();?>/multi-edit/step4" method="post">
      <table class="table table-striped table-hover">
        <tr>
          <th>&nbsp;</th>
          <th>ID</th>
          <th>Jméno</th>
          <th>Popis</th>
        </tr>
        <?php foreach($this->products as $product): ?>
          <tr name="<?= $product['id']?>_line">
            <td><input type="checkbox" name="product<?= $product['id']?>" 
                       value="<?= $product['id']?>" /></td>
            <td><?= $product['id']?></td>
            <td><?= $product['name']?></td>
            <td><?= $product['description']?></td>
          </tr>
        <?php endforeach; ?>
        <tr>
          <td colspan="4">
            <input class="btn btn-large btn-primary" type="submit" id="Hledat" value="Potvrdit výběr" />
          </td>
        </tr>
      </table>
    </form>
</div>
</div>

<script type="text/javascript">
<!--

    $("#select_all_checkboxex").mousedown(function(){
      $("[type=checkbox]").attr('checked', true);
      $("[type=checkbox]").parent().parent().addClass('error');
    });
    
    $("#deselect_all_checkboxex").mousedown(function(){
      $("[type=checkbox]").attr('checked', false);
      $("[type=checkbox]").parent().parent().removeClass('error');
    });

    $("[type=checkbox]").change(function() {
      if ($(this).prop('checked') === false) {
        $("[name='" + $(this).attr('value') + "_line']").removeClass('error');
      } else {
        $("[name='" + $(this).attr('value') + "_line']").addClass('error');
      }
    });
  
//-->
</script>
