<h2 class="text-center"><?=$this->title?><br /><small>Příklad úpravy</small></h2>

<div class="row"><div class="span8 offset2">
<?=$this->navigationMultiEdit($this->action)?>
</div></div>

<div class="row"><div class="span4 offset4">    
<table class="table table-condensed">
	<tr>
  <thead>
    <th colspan="2"><?= $this->part->getName(); ?> - detail</th></tr>
  </thead>
  <tbody>  
    <tr>
      <th>ID:</th>
      <td><?= $this->part->getID(); ?></td>
    </tr>
    <tr>
      <th>Kolekce:</th>
      <td><?= $this->part->getCollectionName(); ?></td>
    </tr>
    <tr>
      <th>Název:</th>
      <td><?= $this->part->getName(); ?></td>
    </tr>
    <tr>
      <th>Typ:</th>
      <td><?= $this->part->getCtgName(); ?></td>
    </tr>
    <tr>
      <th>Poznámka:</th>
      <td><?= $this->part->getDesc(); ?></td>
    </tr>
  </tbody>
</table>
</div></div>
      
<?php if(count($this->part->getSubparts()) > 0): ?>
<div class="row"><div class="span8 offset2">
<h3>Podsoučásti
<div class="pull-right">
  <a class="btn btn-primary btn-small" onclick="openAddDialog();" href="#"><i class="icon icon-white icon-plus"></i> Přidat podsoučást</a>  
</div></h3>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Název</th>
      <th class="text-center">Počet [ks]</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
<?php
		$last_ctg = -1;
		foreach($this->part->getSubparts() as $subPart):
    if($last_ctg == -1 || $last_ctg != $subPart->getCtgName()):
?>
	<tr><th colspan="4"><?= $subPart->getCtgName() ?></th></tr>
<?php $last_ctg = $subPart->getCtgName(); endif; ?>
	<tr class="lines">
		<td><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$subPart->getID()?>"><?=$subPart->getID()?></a></td>
		<td><?=$subPart->getName()?></td>
		<td class="text-center"><?=$subPart->getAmount()?></td>
		<td class="text-center">
      <a class="btn btn-small btn-danger" 
         href="<?=$this->baseUrl()?>/multi-edit/step3/id/<?=$this->part->getID()?>/type/delete-part/part/<?=$subPart->getID()?>" 
         title="odstranit podsoučást" /><i class="icon icon-white icon-trash"></i> Odstranit</a></td>
	</tr>
<?php	endforeach; ?>
</tbody>
</table>

</div></div>
<?php endif; ?>

<div class="modal fade" id="add-modal-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Přidat součást</h3>
  </div>
  <div class="modal-body">
        <?php echo $this->addItemForm; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="add-modal-dialog-submit">Uložit</a>
  </div>
</div>

<script type="text/javascript">

  $('#add-modal-dialog-submit').click(function(){
    $('#add-modal-dialog form').submit();
    $('#add-modal-dialog').hide();
  });  
  
  function openAddDialog() {
    $('#add-modal-dialog').modal('show');
  }
</script>
