<h2 class="text-center"><?=$this->title?><br />
<small>Potvrzení změny</small></h2>

<div class="row">
  <div class="span8 offset2">
    <?=$this->navigationMultiEdit($this->action)?>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">  
    <div class="alert alert-error text-center"><?=$this->question?></div>
  </div>  
</div>

<div class="row">
  <div class="span8 offset2">    
    <form action="" method="post">
      <input type="hidden" name="confirm" value="confirm" />
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Název</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($this->selected_products as $id => $name): ?>
            <tr class="lines">
              <td><?=$id?></td>
              <td><?=$name?></td>
            </tr>
          <?php endforeach; ?>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <input class="btn btn-large btn-primary pull-right" 
                     type="submit" value="Potvrdit" />
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>