<h2>Aktuality</h2>
<?php if($this->data): ?>
<table class="table table-condensed table-bordered table-striped">		
	<tbody>
	<?php foreach($this->data as $row): ?>
		<tr>
			<td><?php echo $this->DateFromDb($row['date']); ?></td>
			<td><strong><?php echo $row['username']; ?></strong></td>
			<td><?php echo $row['text']; ?></td>
		</tr>		
	<?php endforeach; ?>
	</tbody>
</table>		
<?php endif; ?>
