<?php $acl = Zend_Registry::get('acl'); ?>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span8">
              <?= $this->orderTitle($this->order->getID()); ?>
            </div>
            <?php if ($this->order->getStatus() !== Table_Orders::STATUS_TRASH): ?>
            <div class="span4 text-right no-print">
                <span style="padding-right: 25px;">
                    <?php if ($this->allow_edit) { ?>
                        <a class="btn btn-small" title="Upravit objednávku" href="<?= $this->url(array('controller' => 'tobacco-order-edit', 'action' => 'index', 'order' => $this->order->getID(), 'id' => null)) ?>"><i class="icon-edit"></i> Upravit objednávku</a>
                    <?php } ?>
                </span>

              <?php if ($this->acl->isAllowed('tobacco-orders/index')): ?>
                <div class="btn-group no-print">
                    <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-wrench icon-white"></i> Operace s objednávkou
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu text-left">
                        <?php if (in_array($this->order->getStatus(), array("new", "closed"))): ?>
                            <li><a href="<?php echo $this->url(array(
                              'controller' => 'tobacco-orders',
                              'action' => 'open',
                              'id' => $this->order->getID())); ?>">Otevřít</a></li>
                        <?php endif; ?>
                        <?php if (in_array($this->order->getStatus(), array("open"))
                          && $acl->isAllowed('tobacco-orders/prepare')): ?>
                            <li><a href="<?php echo $this->url(array(
                              'controller' => 'tobacco-orders',
                              'action' => 'prepare',
                              'id' => $this->order->getID())); ?>">Připravit</a></li>
                        <?php endif; ?>
                        <?php if (in_array($this->order->getStatus(), array("open", "closed"))
                          && $acl->isAllowed('tobacco-orders/expedition')): ?>
                            <li><a href="<?php echo $this->url(array(
                              'controller' => 'tobacco-orders',
                              'action' => 'expedition',
                              'id' => $this->order->getID(),
                              'from' => 'detail')); ?>">Expedice</a></li>
                        <?php endif; ?>
                        <?php if (Zend_Registry::get('acl')->isAllowed('tobacco-orders/return')
                          && $this->order->getStatus() == 'closed'
                          /**
                           * TODO: docasne zakomentovano z duvodu vraceni objednavek s neolkovanymi produkty.
                           * @see https://bitbucket.org/zdendaf/meduse-wh/issues/74/kontrola-dat-skladu-tab-ku
                           **/
                          // && $this->order->getRow()->payment_method == Table_Orders::PM_CASH_ON_DELIVERY
                          ): ?>
                            <li><a href="<?php echo $this->url(array(
                              'controller' => 'tobacco-orders',
                              'action' => 'return',
                              'id' => $this->order->getID())); ?>" onClick="return confirm('Opravdu chcete tuto objednávku vrátit na sklad?')">Vrátit na sklad</a></li>
                        <?php endif; ?>
                        <?php if ($this->order->getStatus() != 'closed' && !$this->order->hasReservedProducts()): ?>
                          <li>
                            <a href="<?php echo $this->url(array(
                                'controller' => 'tobacco-orders',
                                'action' => 'delete',
                                'id' => $this->order->getID())); ?>"
                                onClick="return confirm('Opravdu chcete tuto objednávku odstranit?')">Odstranit</a>
                          </li>
                        <?php endif; ?>
                    </ul>
                </div>
              <?php endif; ?>
            </div>
            <?php endif; ?>
            <?php if (!empty($this->order->getRow()->id_customers)) {  ?>
            <div class="span11" style="margin-left: 110px;">
              <div style="width: 120px; float: left;">Zákazník:</div>
              <a href="/tobacco-customers/detail/id/<?= $this->customer->getId(); ?>">
                <?= $this->customerName; ?>
              </a></div>
            <?php } ?>
            <?php
                $order = $this->order->getDesc();
                echo (!empty($order) ? '<div class="span11" style="margin-left: 110px;"><div style="width: 120px; float: left;">Poznámka:</div>' . $this->order->getDesc() . '</div>' : '');
            ?>
            <?php if (!$this->order->isService()): ?>
              <div class="span11" style="margin-left: 110px;">
                <div style="width: 120px; float: left;">Množství tabáku:</div><?=$this->tobaccoAmount?> kg <?= $this->packages; ?>
              </div>
              <?php if ($this->acl->isAllowed('tobacco-order-edit/payment')): ?>
              <div class="span11" style="margin-left: 110px;">
                <div style="width: 120px; float: left;">Ceník:</div>
                <a href="<?= $this->url(array(
                      'controller' => 'tobacco-order-edit', 'action' => 'payment',
                      'id' => null, 'order' => $this->order->getID(),
                    )); ?>"><?php if ($this->priceList): ?>
                    <?= $this->priceList->name; ?><?php else: ?>nepřiřazen<?php endif; ?>
                </a>

                <?php if ($this->recommendedPricelist): ?>
                <span class="alert alert-danger">Doporučený ceník:
                  <strong><?= $this->recommendedPricelist['name']; ?></strong>
                 <a class="btn btn-small" href="<?= $this->url(array(
                   'action' => 'set-pricelist',
                   'pricelist' => $this->recommendedPricelist['id'])); ?>">
                   <span class="icon icon-flag"></span> přiřadit</a></span>
                <?php endif; ?>
              </div>
              <?php endif; ?>
            <?php endif; ?>
        </div>

        <!-- nav -->
        <ul class="nav nav-tabs no-print" id="tabPanel" style="margin-top: 10px;">
            <li class="active"><a href="#items">Položky objednávky</a></li>
            <li><a href="#infos">Informace</a></li>
            <?php if ($this->allow_invoices): ?>
            <li><a href="#invoices">Fakturace</a></li>
            <?php endif; ?>
        </ul>
        <div class="tab-content">
            <!-- row -->

              <div class="tab-pane no-print" id="infos">
              <?php
              echo $this->partial("partials/tobacco-order-detail.phtml", array(
                  'order' => $this->order,
                  'customer' => $this->customer,
                  'purchasers' => array(
                      'personal' => 'Koncový zákazník',
                      'business' => 'Obchodní kontakt'
                  ),
                  'paymentMethods' => Table_Orders::$paymentToString,
                  'allow_edit_address' => $this->allow_edit_address,
                  'uploadForm' => $this->uploadForm,
                  'files' => $this->files,
              ));
              ?>
              </div>
            <?php if (!$this->order->isService()): ?>
            <!-- row -->
            <div class="tab-pane active" id="items">
                <?php
                    echo ($this->order->getStatus() == Table_Orders::STATUS_OPEN) ?
                      $this->partial("partials/tobacco-order-parts-list-open.phtml", array(
                        'rows' => $this->data,
                        'order' => $this->order,
                        'acl' => $this->acl,
                      ))
                      : $this->partial("partials/tobacco-order-parts-list.phtml", array(
                        'rows' => $this->data,
                        'order' => $this->order,
                        'acl' => $this->acl,
                      ));
                ?>
            </div>

            <?php else: ?>
              <div class="tab-pane active" id="items">
                  <?php
                      echo $this->partial("partials/tobacco-order-services-list.phtml", array(
                          'rows' => $this->data,
                          'order' => $this->order,
                      ));
                  ?>
              </div>
            <?php endif; ?>
            <?php if ($this->allow_invoices): ?>
            <div class="tab-pane no-print" id="invoices">
            <?php
            echo $this->partial("partials/tobacco-order-invoices.phtml", array(
                'order' => $this->order,
                'customer' => $this->customer,
                'invoices' => $this->invoices,
                'allow_invoicing' => $this->allow_invoicing,
                'regular_invoice_id' => $this->regular_invoice_id,
            ));
            ?>
            </div>
            <?php endif; ?>
        </div>
    </div>
</div>

<script>
    $('#tabPanel a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // on load select tab
    $(function() {
        $('#tabPanel a[href="'+window.location.hash+'"]').tab('show');
    });

    $(document).ready(function(){
      $('.delete-file-action').on('click', function(){
        return confirm('Opravdu chcete smazat tento soubor?');
      });
    });
</script>