<?php if ($this->tab): ?>
  <?php if ($this->tab === 'closed'): ?>
        <ul class="nav nav-tabs">
          <?php foreach ($this->years as $year): ?>
              <li<?= ($year === $this->year) ? ' class="active"' : '' ?>>
                  <a class="years" href="<?= $this->url(array('year' => $year)) ?>"><?= $year ?></a>
              </li>
          <?php endforeach ?>
        </ul>
  <?php endif ?>

  <?= $this->grid ?>
  <?php echo $this->partial('email-templates/sendmail.phtml', array('sendmailForm' => $this->sendmailForm)) ?>

    <script>
        $(document).ready(function () {
            const $container = $('#order-list-container');
            $('a.years, #order-list-container thead a, #order-list-container tfoot a').on('click', function (e) {
                e.preventDefault();
                $container.css('text-align', 'center');
                $container.html('<img alt="loader" style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>');
                $('ul.nav-tabs > li').attr('class', '');  //vynulovat aktivitu tabu
                $(this).parent().attr('class', 'active'); //nastavit aktivitu tabu
                $container.load($(this).attr('href'), function () {
                    $container.css('text-align', '');
                });
            });

            $('a.remove').on('click', function () {
                return confirm('Opravdu chcete objednávku přesunout do koše?');
            });

            $('ul.nav-tabs > li#li-<?= $this->tab ?>').attr('class', 'active');  //vynulovat aktivitu tabu
        });
    </script>


  <?php die; //pro ajax toto musime udelat ?>

<?php else: ?>


    <h2>
        Přehled objednávek
        <small>
            <a class="pull-right btn btn-primary" href="/tobacco-order-edit"><i class="icon icon-plus icon-white"></i>
                Nová objednávka</a>
        </small>
    </h2>

    <ul class="nav nav-tabs">
      <?php foreach ($this->tabs as $key => $tabData): ?>
          <li id="<?= 'li-' . $key ?>" <?= $tabData['active'] ? ' class="active"' : '' ?>>
              <a id="<?= 'a-' . $key ?>" href="<?= $this->url(array('tab' => $key)) ?>"
                 class="tabs"><?= $tabData['title'] ?></a>
          </li>
      <?php endforeach; ?>
    </ul>

    <div id="order-list-container"></div>

    <script>
        $(document).ready(function () {
            const $container = $('#order-list-container');

            $('a.tabs, #order-list-container thead a').on('click', function (e) {
                e.preventDefault();

                $container.css('text-align', 'center');
                $container.html('<img alt="loader" style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>');
                $('ul.nav-tabs > li').attr('class', '');  //vynulovat aktivitu tabu
                $(this).parent().attr('class', 'active'); //nastavit aktivitu tabu
                $container.load($(this).attr('href'), function () {
                    $container.css('text-align', '');
                });
            });

            //nahrat prvni tab pri nacteni stranky
            $container.css('text-align', 'center');
            $container.html('<img alt="loader" style="margin-top: 100px;" src="/public/images/ajax-loader.gif"/>');
            $('ul.nav-tabs > li').attr('class', '');  //vynulovat aktivitu tabu
            $('#a-<?= $this->lastTab ?>').parent().attr('class', 'active'); //nastavit aktivitu tabu
            $container.load('/tobacco-orders/index/tab/<?= $this->lastTab ?>', function () {
                $container.css('text-align', '');
            });
        });
    </script>

<?php endif; ?>