<?php if ($this->result): ?>
  <?php if ($this->result['errors']): ?>
    <div class="form-well">
      <div class="well">
        <p><strong>Chyby při pokusu o vytvoření objednávky:</strong></p>
        <ul>
        <?php foreach ($this->result['errors'] as $error): ?>
          <li><?= $error; ?></li>
        <?php endforeach; ?>
        </ul>
      </div>
    </div>
  <?php endif; ?>
<?php endif; ?>
<?= $this->form; ?>