
    
<?php if ($this->data): ?>
<div class="row-fluid">
<div class="span8">  
<?= $this->orderTitle($this->order->getID()); ?>
  </div>
            <div class="span4 text-right no-print">
                <span style="padding-right: 25px;">
                    <?php if ($this->order->getStatus() != 'closed' && $this->order->getStatus() != 'deleted' || isset($_SESSION['Zend_Auth']['user_role']) && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))) { ?>
                        <a class="btn btn-small" title="Detail objednávky" href="<?= $this->url(array(
                          'controller' => 'tobacco-orders', 
                          'action' => 'detail', 'order' => null,
                          'id' => $this->order->getID())) ?>"><i class="icon-search"></i> Detail objednávky</a>
                    <?php } ?>
                </span>

            </div>
      </div>
 <div class="row-fluid">
   
    <div class="span12">
      
      <a href="<?= $this->url(array(
        'action' => 'prepare-all-total')); ?>" class="btn btn-primary">Rezervovat vše</a>
      <a href="<?= $this->url(array(
        'action' => 'cancel-all-prepared-total')); ?>" class="btn btn-danger">Zrušit veškerou rezervaci</a>
      <a href="<?= $this->url(array(
        'action' => 'prepare-list')); ?>" class="btn">Zobrazit rezervované</a>
      <a href="<?= $this->url(array(
        'action' => 'stamp-all')); ?>" class="btn btn-primary">Okolkovat vše</a>
    <table class="table table-hover" id="parts-list">
	<thead>
		<tr>
			<th>ID</th>
			<th>Název</th>
			<th style="width: 200px;">Popis</th>
			<th>Množství<br />[ks]</th>
            <th>Zdarma<br />[ks]</th>
			<th>Rezervace<br />[ks]</th>
			<th>&nbsp;</th>
		</tr>
	</thead>

<?php foreach ($this->data as $ctg_name => $category): ?>
  <tr><th colspan="7"><?= $ctg_name ?></th></tr>
  <?php foreach($category as $row): ?>
    <tr>
      <td><a href="<?=$this->url(array(
        'controller' => 'tobacco', 'action' => 'parts-detail',
        'id' => $row['id']));?>"><?= $row['id'] ?></a></td>
      <td><?= $row['name'] ?></td>
      <td><?= $row['description'] ?></td>
      <td><?= $row['amount'] - $row['free_amount'] ?></td>
      <td><?php echo (($row['free_amount'] > 0) ? $row['free_amount'] : 0); ?></td>
      <td><?= $row['ready_amount'] ?></td>
      <td>
        <?php if ($row['amount'] == $row['ready_amount']): ?>
          <a class="btn btn-danger btn-mini" href="<?=$this->url(array(
            'controller' => 'tobacco-orders', 'action' => 'cancel-all-prepared',
            'order' => $this->order->getID(), 'item' => $row['id']));?>" 
            title="Zruší rezervace všech položek <?= $row['id'] ?> objednávky">Zrušit rezervace</a>
        <?php else: ?>
          <a class="btn btn-primary btn-mini" href="<?=$this->url(array(
          'controller' => 'tobacco-orders', 'action' => 'prepare-all',
          'order' => $this->order->getID(), 'item' => $row['id']));?>" 
          title="rezervuje všechny položky <?= $row['id'] ?> objednávky" >Rezervovat</a>
          <?php if ($row['ctg_id'] == Table_TobaccoWarehouse::CTG_TOBACCO_NFS): ?>
            <a class="btn btn-mini" href="<?=$this->url(array(
              'controller' => 'tobacco', 'action' => 'parts-stamp',
              'id' => $row['id'], 'order' => $this->order->getID(), 
              'amount' => $row['amount']));?>">Okolkovat</a>
          <?php endif; ?>        
        <?php	endif; ?>
      </td>
    </tr>
  <?php endforeach; ?>
<?php endforeach; ?>
	<tr><th colspan="7">&nbsp;</th> </tr>
</table>
</div></div>
<?php else: ?>
<div class="row-fluid">
<div class="span8">
  <div class="well well-small">
    <strong><big>K objednávce nejsou přiřazeny žádné produkty!</big></strong><br /><br />
    <a class="btn btn-primary" href="<?php echo $this->url(array(
      'controller' => 'tobacco-orders', 'action' => 'detail', 'id' => $this->order->getID())); ?>">
      <i class="icon icon-white icon-edit"></i> Upravit objednávku</a>
  </div> 
 <?php endif; ?>
</div></div>