

<div class="row-fluid">
  <div class="span8"> 
    <h2>Soupis položek objednávky č. <?= $this->order->getID(); ?></h2>

  </div>
  <div class="span4 text-right no-print">
    <span style="padding-right: 25px;">
      <?php if ($this->order->getStatus() != 'closed' && $this->order->getStatus() != 'deleted' || isset($_SESSION['Zend_Auth']['user_role']) && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))) { ?>
        <a class="btn btn-small" title="Detail objednávky" href="<?=
        $this->url(array(
            'controller' => 'tobacco-orders',
            'action' => 'detail', 'order' => null,
            'id' => $this->order->getID()))
        ?>"><i class="icon-search"></i> Detail objednávky</a>
<?php } ?>
    </span>

  </div>
</div>
<?php if ($this->data): ?>

  <div class="row-fluid">

    <div class="span12"> 
      <table class="table table-hover" id="parts-list">
        <thead>
          <tr style="background-color: #ebebeb;">
            <th>ID</th>
            <th>Název</th>
            <th class="rightalign" width="10px">Celkem<br />[ks]</th>
            <th class="rightalign" width="10px">Zarezervováno<br />[ks]</th>
          </tr>
        </thead>

        <?php foreach ($this->data as $ctg_name => $category): ?>
          <tr style="background-color: #ebebeb;"><th colspan="4"><?= $ctg_name ?></th></tr>
    <?php foreach ($category as $row): ?>
            <tr style="background-color: #f9f9f9;">
              <td><?= $row['id'] ?></a></td>
              <td><?= $row['name'] ?></td>
              <td><?= $row['amount'] ?></td>
              <td><?= $row['ready_amount'] ?></td>
            </tr>

            <?php
            // řádky s konkrétními šaržemi
            if (!is_null($row['batches'])):
              foreach (explode(',', $row['batches']) as $batch):
                $batch_props = explode(':', $batch);
                ?>
                <tr>
                  <td colspan="3"><ul><li><?= $batch_props[0]; ?></li></ul></td>
                  <td><?= $batch_props[1]; ?></td>
                </tr>

                <?php
              endforeach;
            endif;
            ?>
    <?php endforeach; ?>
  <?php endforeach; ?>
      </table>
    </div></div>
<?php else: ?>
  <div class="row-fluid">
    <div class="span8">
      <div class="well well-small">
        <strong><big>K objednávce nejsou přiřazeny žádné produkty!</big></strong><br /><br />
        <a class="btn btn-primary" href="<?php echo $this->url(array(
      'controller' => 'tobacco-orders', 'action' => 'detail', 'id' => $this->order->getID()));
  ?>">
          <i class="icon icon-white icon-edit"></i> Upravit objednávku</a>
      </div> 
<?php endif; ?>
      <p>Stav k <?= date('d.m.y H:i:s'); ?></p>
  </div></div>
  