<?= $this->OrderTitle($this->orderid); ?>
<style>
#cat-nav td div.active { background: #ffff89; }
</style>
<div class="navbar-inner" style="width: 120px; position: fixed; top: 90px; right: 20px;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4>Kalkulačka</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div id="calculator" class="box parts_box"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<table id="items" class="table table-hover table-condensed sticky" style="width: 88%;">
	<thead>
    <tr>
      <th colspan="6">
        <div class="pull-right">
          <a class="btn btn-primary"
             href="<?= $this->url(array('action' => 'calculate-expected-payment', 'id' => $this->orderid, 'order' => NULL)); ?>">Hotovo</a>
        </div>
      </th>
    </tr>
		<tr>
			<th>ID</th>
			<th>Kategorie</th>
			<th>Název</th>
			<th>Popis</th>
			<th>Množství<br />[ks]</th>
			<th>Zdarma<br />[ks]</th>
		</tr>
	</thead>
	<tbody>
		<?php if(count($this->data) > 0):
      //inicializace proměnných
      $lastCtg = null;
      $lastColl = null; ?>

      <?php foreach($this->data as $row): ?>

        <?php if($lastCtg != $row['ctg_name']): ?>
          <tr>
            <th colspan="10">
              <a name="ctg_<?= $row['id_parts_ctg'] ?>"></a>
              <div style="margin-top: 50px">
                <?= $row['ctg_name']; ?>
                <?php if ($row['id_parts_ctg']==Table_TobaccoWarehouse::CTG_TOBACCO_NFS): ?>
                <button id="fs_toggle" class="btn btn-mini">Zobrazit</button>
                <?php endif; ?>
              </div>
            </th>
          </tr>
        <?php
        $lastCtg = $row['ctg_name'];
        endif; ?>



        <?php if($this->sets && $lastColl != $row['coll_name']):?>
          <tr>
            <th colspan="9">
              <a name="ctg_<?= $row['id_parts_ctg'] ?>"></a>
              <div style="margin-top: 50px"><?= $row['ctg_name']; ?></div>
            </th>
          </tr>
        <?php
        $lastColl = $row['coll_name'];
        endif; ?>



        <?php
        if(array_key_exists($row['id'],$this->rezerv)){
          $rez = true;
        } else {
          $rez = false;
        }

        if(array_key_exists($row['id'], $this->order_items)) {
          $checked = 'checked="checked"';
          $amount  = $this->order_items[$row['id']];
        } else {
          $checked = '';
          $amount  = '';
        }

        if(isset($this->order_free_items[$row['id']])) {
          $freeAmount = $this->order_free_items[$row['id']];
          $amount -= $freeAmount;
          if($amount == 0) { $amount = ''; }
        } else {
          $freeAmount = '';
        }
        ?>

        <tr name="<?= $row['id'] ?>_line" class="lines cat_<?= $row['id_parts_ctg'] ?> <?= $row['id_parts_ctg']==Table_TobaccoWarehouse::CTG_TOBACCO_NFS ? 'hidden' : '' ?>">
          <td style="text-align: left;"><?= $row['id'] ?></td>
          <td style="text-align: left;"><?= $row['ctg_name'] ?></td>
          <td style="text-align: left;"><?= $row['name'] ?></td>
          <td style="text-align: left;"><?= $row['description'] ?></td>
          <td><input type="text" id="<?= $row['id'] ?>" name="<?= $row['id'] ?>_amount" value="<?= $amount ?>" class="span1 _amount" style="text-align: right;" <?php echo $rez ? 'disabled="disabled"' : ''?> /></td>
          <td><input type="text" id="<?= $row['id'] ?>" name="<?= $row['id'] ?>_free_amount" value="<?= $freeAmount ?>" class="span1 _free_amount" style="text-align: right;" <?php echo $rez ? 'disabled="disabled"' : ''?> /></td>
        </tr>
      <?php endforeach;
      else:
        echo '<tr><td colspan="10"><div class="alert alert-block alert-error">Žádné záznamy</div></td></tr>';
      endif; ?>
	</tbody>
</table>
<style type="text/css">
  input.data-process { background-color: yellow; }
  input.data-fail { background-color: red; color: white; }
</style>
<script type="text/javascript">
$(document).ready(function() {
    function updateAmount(part, amount, freeAmount) {
            $.ajax({
                url: "/orders/select-products",
                data: "act=update&order=<?php echo $this->orderid?>&p="+part+"&a="+amount+"&fa="+freeAmount
            })
              .done(function(){
                console.log("Data Saved");
                $('input#' + part).removeClass('data-process');
              })
              .fail(function(){
                console.log("Request Failed");
                $('input#' + part).removeClass('data-process').addClass('data-fail');
              });
            $(this).calculator();
    }

    // fn calculator
    $.fn.calculator = function() {
        var body;
        setTimeout(function() {
            $.ajax({
                url: "/tobacco-orders/get-calculator-data/order/<?php echo $this->orderid?>",
                success: function(data) {
                    body = "<div class='text-right'><strong>" + data.result.price + "  " + data.result.currency + "</strong></div>";
                    $('#calculator').html(body);
                }
            });
        },500);
    }


    // table items textbox change
    $('#items [type=text]').change(function() {
        if(isNaN($(this).val())) {
            alert('Nezadali jste číslo');
            $(this).val('');
        }
        else if($(this).val() < 0) {
            alert('Číslo není kladné');
            $(this).val('');
        }
        else {
            $(this).removeClass('data-ok').removeClass('data-fail').addClass('data-process');
            if($(this).hasClass('_amount')) {
                // get free amount value
                var secondValue = ($('#items [name='+$(this).attr('id')+'_free_amount]').val() != '') ? $('#items [name='+$(this).attr('id')+'_free_amount]').val() : 0;
                updateAmount($(this).attr('id'), $(this).val(), secondValue);

            }
            if($(this).hasClass('_free_amount')) {
                // get amount value
                var secondValue = (typeof $('#items [name='+$(this).attr('id')+'_amount]').val() != 'undefined') ? $('#items [name='+$(this).attr('id')+'_amount]').val() : 0;
                updateAmount($(this).attr('id'), secondValue, $(this).val());
            }
            if($(this).val() == 0) {
              $(this).val('');
            }
            $('#items').chckboxRowHighlight();
        }
    });

    // fn row hightlight "tr background" depend on checkbox state
    $.fn.chckboxRowHighlight = function() {
        $('#items tr').each(function(i) {
           if($('._amount', this).val() || $('._amount', this).val()) {
               $(this).css('background', '#ffffbf');
           }
           else {
               $(this).css('background', '');
           }
        });
    }

    $('.breadcrumb a').click(function(){
      if ($('.data-process').length > 0) {
        alert('Položky objednávky se stále ukládají!');
        return false;
      }
    });

    // on load
    $(document).calculator();
    $('#items').chckboxRowHighlight();


    // category navigation
<?php
$lastLiCtgID = '';
foreach($this->data as $row) {
    if($row['id_parts_ctg'] != $lastLiCtgID) { ?>
        $(window).scroll(function(event) {
            if($(".cat_<?= $row['id_parts_ctg']; ?>").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
                $( "#cat-nav td div" ).each(function( index ) {
                  $(this).removeClass('active');
                });
                $(".nav_<?= $row['id_parts_ctg']; ?>").addClass('active');
            }
        });
<?php
    }
    $lastLiCtgID = $row['id_parts_ctg'];
}
?>
});

$('#fs_toggle').click(function(e) {
  e.preventDefault();

  if($('.cat_<?= Table_TobaccoWarehouse::CTG_TOBACCO_NFS ?>').hasClass('hidden')) {
    $('.cat_<?= Table_TobaccoWarehouse::CTG_TOBACCO_NFS ?>').removeClass('hidden');
    $(this).html('Skrýt');
  } else {
    $('.cat_<?= Table_TobaccoWarehouse::CTG_TOBACCO_NFS ?>').addClass('hidden');
    $(this).html('Zobrazit');
  }
})
</script>
