<div class="row" style="margin-top: 10%;">
    <div class="span4 offset4 well">
        <legend>Přihlášení</legend>
        <form method="POST" action="/login/process" accept-charset="UTF-8">
        <input type="text" id="username" class="span4" name="username" placeholder="Uživatelské jméno" autocomplete="off">
        <input type="password" id="password" class="span4" name="password" placeholder="Heslo">
        <div class="row">
          <div class="span3">
          <button type="submit" name="submit" class="btn btn-info btn-block">Přihlásit</button>
          </div>
          <div class="span1">
            <button class="btn btn-info btn-block toggle-eye">&nbsp;<i class="icon icon-white icon-eye-close"></i>&nbsp;</button>
          </div>
        </div>
        </form>    
    </div>
</div>
<script>
    jQuery(document).ready(function(){
        $('#username').focus();
    });

    $('.toggle-eye').click(function(e) {
      e.preventDefault();

      if ($(this).find('i').hasClass('icon-eye-close')) {
        $(this).removeClass('btn-info');
        $(this).addClass('btn-danger');
        
        $(this).find('i').removeClass('icon-eye-close');
        $(this).find('i').addClass('icon-eye-open');
        
        $('#password').prop('type', 'text');
      } else {
        $(this).removeClass('btn-danger');
        $(this).addClass('btn-info');
        
        $(this).find('i').removeClass('icon-eye-open');
        $(this).find('i').addClass('icon-eye-close');
        
        $('#password').prop('type', 'password');
      }
    });
</script>
