<script type="text/javascript">
jQuery.fn.extend({
insertAtCaret: function(myValue){
  return this.each(function(i) {
    if (document.selection) {
      //For browsers like Internet Explorer
      this.focus();
      var sel = document.selection.createRange();
      sel.text = myValue;
      this.focus();
    }
    else if (this.selectionStart || this.selectionStart == '0') {
      //For browsers like Firefox and Webkit based
      var startPos = this.selectionStart;
      var endPos = this.selectionEnd;
      var scrollTop = this.scrollTop;
      this.value = this.value.substring(0, startPos)+myValue+this.value.substring(endPos,this.value.length);
      this.focus();
      this.selectionStart = startPos + myValue.length;
      this.selectionEnd = startPos + myValue.length;
      this.scrollTop = scrollTop;
    } else {
      this.value += myValue;
      this.focus();
    }
  });
}
});
</script>

<div class="row">
	<div class="span6 offset3">
		<h2><?php echo $this->title; ?></h2>
		<?php echo $this->form; ?>
    <div id="tokens">
      <p>Tokeny<br>
      <span class="btn btn-normal btn-small tokenbutton" title="[[no]]">Číslo obj.</span>
      <span class="btn btn-normal btn-small tokenbutton" title="[[title]]">Název obj.</span>
      <span class="btn btn-normal btn-small tokenbutton" title="[[tracking_no]]">Tracking no.</span>
      <br />
      <span class="btn btn-normal btn-small tokenbutton" title="[[addresses:street]]">Ulice</span>
      <span class="btn btn-normal btn-small tokenbutton" title="[[addresses:pop_number]]">Č. popisné</span>
      <span class="btn btn-normal btn-small tokenbutton" title="[[addresses:orient_number]]">Č. orientační</span>
      <span class="btn btn-normal btn-small tokenbutton" title="[[addresses:city]]">Město</span>
      <span class="btn btn-normal btn-small tokenbutton" title="[[addresses:zip]]">PSČ</span>
      <span class="btn btn-normal btn-small tokenbutton" title="[[addresses:country]]">Stát</span>
      <span class="btn btn-normal btn-small tokenbutton" title="[[addresses:phone]]">Telefon</span>
      </p>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
    $('#tokens').insertAfter('#email_template_subject');
    $('.tokenbutton').click( function() {
        $('#email_template_body').insertAtCaret($(this).attr('title'));
    });});
    </script>
	</div>
</div>