<h2><?php echo $this->title; ?></h2>

<?php if (empty($this->templates)): ?>

	<div class="well">Nejsou zde žádné šablony e-mailů.<br />
		<a href="<?php echo $this->url(array('action' => 'add')); ?>">Vytvořte novou šablonu...</a>
	</div>

<?php else: ?>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Název</th>
				<th>Předmět</th>
				<th>Změněno</th>
				<th>Operace</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($this->templates as $template): ?>
			<tr>
				<td><?php echo $template['name']; ?></td>
				<td><?php echo $template['subject']; ?></td>
				<td><?php echo $template['changed']; ?></td>
				<td>
					<a class="btn btn-primary btn-mini" 
					   href="<?php echo $this->url(array('action' => 'edit', 'id' => $template['id'])); ?>">
						<span class="icon-pencil icon-white"></span>&nbsp;Upravit</a>
					<a class="btn btn-danger btn-mini" 
					   href="#" onclick="deleteTemplateAction('<?php echo $template['id']; ?>')">
					   <span class="icon-remove icon-white"></span>&nbsp;Odstranit</a>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
	<div>
		<a class="btn btn-success" href="<?php echo $this->url(array('action' => 'add')); ?>"><span class="icon-plus icon-white"></span>&nbsp;Přidat šablonu</a>
	</div>
<form id='deleteForm' action="<?php echo $this->url(array('action' => 'delete', 'id' => null)); ?>" method="post">
	<input name="id" type="hidden" value="" />
</form>

<?php endif; ?>
<script type='text/javascript'>
<!--
	function deleteTemplateAction(id) {
		$('#deleteForm input[name="id"]').val(id);
		if (confirm('Opravdu chcete tuto šablonu vymazat?')) {
			$('#deleteForm').submit();
		}
	}
//-->
</script>