<div id="myModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Odeslat e-mail</h3>
		</div>
		<div class="modal-body row-fluid">
			<?php echo $this->sendmailForm; ?>
		</div>
		<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Storno</a>
		<a href="#" onClick="submitAction();" class="btn btn-primary">Odeslat mail</a>
	</div>
</div>

<script type="text/javascript">
<!--
	$('#sendmailForm #template').change(function(){
    $.getJSON( "/email-templates/ajax-get-template/id/" + $(this).val() + "/oid/" + $('#sendmailForm #order_id').val(), function(data) {
			$('#sendmailForm #email_subject').val(data['subject']);
			$('#sendmailForm #email_body').val(data['body']);
			//console.log(data['subject']);
		});
	});
	
	function submitAction() {
		if (IsEmail($('#sendmailForm #email_to').val())) {
			$('#sendmailForm').submit();
		} else {
			alert('E-mailová adresa je ve špatném tvaru!');
		}
	}
	
	function showModal(orderId, customerId, email, templateId) {
		//console.log(orderId);
	    $('#sendmailForm #order_id').val(orderId);
		$('#sendmailForm #customer_id').val(customerId);
		$('#sendmailForm #email_to').val(email);
    $('#sendmailForm #template').val(templateId);
    
    $.getJSON( "/email-templates/ajax-get-template/id/" + templateId + "/oid/" + orderId, function(data) {
			$('#sendmailForm #email_subject').val(data['subject']);
			$('#sendmailForm #email_body').val(data['body']);
			//console.log(data['subject']);
		});
    
		$('#myModal').modal('show');
	}
	
	function IsEmail(email) {
		var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		return regex.test(email);
	}
//-->
</script>