<h2>Editace cen k produktu <?= $this->part->getID() ?><br>
  <small><?= $this->part->getName() ?></small>
</h2>

<p>
    náklady: <?= Meduse_Currency::format($this->cost_nett_czk, 'Kč') ?>
    = <strong><?= Meduse_Currency::format($this->cost_nett_eur, '€') ?></strong>;
    krytí: <strong><?= Meduse_Currency::format($this->cover, '%', 0) ?></strong>;
  náklady vč. krytí: <?= Meduse_Currency::format($this->cost_czk, 'Kč') ?>
  = <strong><?= Meduse_Currency::format($this->cost_eur, '€') ?></strong>
</p>

<?php if ($this->prices): ?>
    <?= $this->form('product_prices', array('action' => $this->action, 'method' => 'post')) ?>
    <?= $this->formHidden('part', $this->part->getID()) ?>
    <table class='table table-condensed'>
        <thead>
            <tr>
                <th>ceník</th>
                <th>zkratka</th>
                <th>typ</th>
                <th>platnost od</th>
                <th>cena vč. DPH [EUR]</th>
            </tr>
        </thead>
        <tbody>
    <?php foreach ($this->prices as $price): ?>
        <tr>
            <td><?= $price['name'] ?></td>
            <td><?= $price['abbr'] ?></td>
            <td><?= $price['type'] ?></td>
            <td><?= $this->dateFromDb($price['valid']) ?></td>
            <td><?= $this->formText('price_' . $price['id'], round($price['price'], $this->precision), array('size' => '8')) ?></td>
        </tr>
    <?php endforeach; ?>
        </tbody>
    </table>
    <?= $this->formSubmit('save', 'Uložit', array('class' => 'btn btn-primary')) ?>
<?php else: ?>
    <em>Nejsou založeny žádné ceníky.</em>
<?php endif; ?>
