<table class="inv-table-inside tbl-address">
<?php if($this->invoice['allow_delivery_addr']) { ?>  
    <thead>
        <tr><th colspan="2" class="">Delivery address:</th></tr> 
    </thead>
    <tbody>
        <tr>
            <td class="">&nbsp;</td>
            <td class="">&nbsp;</td>
        </tr>
        <tr>
            <td class="td-address-title">Address:</td>
            <td class="td-address"><?= $this->customerDelAddr->street .' '. $this->customerDelAddr->orient_number . (!empty($this->customerDelAddr->pop_number) ? '/'.$this->customerDelAddr->pop_number : '') ?></td>
        </tr>
        <tr>
            <td class="td-address-title">City/Postal Code:</td>
            <td class="td-address"><?= $this->customerDelAddr->zip ?></td>
        </tr>
        <tr>
            <td class="td-address-title">Country:</td>
            <td class="td-address"><?= $this->customerDelAddr->country ?></td>
        </tr>
        <tr>
            <td class="">&nbsp;</td>
            <td class="">&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 3px;"></td>
            <td class="">&nbsp;</td>
        </tr>
    </tbody>
<?php } else { ?>
    <thead>
        <tr><th class="">Delivery address:</th></tr> 
    </thead>
    <tbody>
        <tr>
            <td class="nobboth">&nbsp;</td>
        </tr>
        <tr>
            <td class="nobboth">&nbsp;</td>
        </tr>
        <tr>
            <td class="text-center nobboth">Same as consignee</td>
        </tr>
        <tr>
            <td class="nobboth">&nbsp;</td>
        </tr>
        <tr>
            <td class="nobboth">&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 3px;" class="nobboth"></td>
        </tr>
    </tbody>
<?php } ?>    
</table>