<span style='color: #000'>254 frames</span>	<span style='color: #900'>21,248 KB</span>	<span style='color: #090'>336.02 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />