			<div id="menu_wrap">
				<div id="myslidemenu" class="jqueryslidemenu">
				<ul>
				<li><a href="<?= $this->baseUrl();?>/orders/">Objednávky</a>
				  <ul>
				  <li><a href="<?= $this->baseUrl();?>/orders/">Přehled</a></li>
				  <!-- <li><a href="<?= $this->baseUrl();?>/orders/complete">Součásti</a></li> -->
				  <!-- <li><a href="<?= $this->baseUrl();?>/orders/all-parts">Podsoučásti</a></li> -->
				  <li><a href="<?= $this->baseUrl();?>/orders/parts">Součásti</a></li>
				  <li><a href="<?= $this->baseUrl();?>/orders/wraps">Obaly</a></li>
				  <li><a href="<?= $this->baseUrl();?>/orders/add">Přidat</a></li>
				  </ul>
				</li>
				<li><a href="<?= $this->baseUrl();?>/parts/warehouse">Součásti</a>
				  <ul>
				  <li><a href="<?= $this->baseUrl();?>/parts/warehouse">Sklad</a></li>
				  <li><a href="<?= $this->baseUrl();?>/parts/overview">Přehled</a></li>
				  <li><a href="<?= $this->baseUrl();?>/parts/productions">Výroba</a></li>
				  <li><a href="<?= $this->baseUrl();?>/parts/extern-overview">Externí sklady</a></li>
				  <li><a href="<?= $this->baseUrl();?>/parts">Přidat</a></li>
				  <!-- <li><a href="#">Kategorie</a></li> -->
				  </ul>
				</li>
				<li><a href="#">Produkty</a>
				  <ul>
				  <!-- <li><a href="#">Sklad</a></li> -->
				  <li><a href="<?= $this->baseUrl();?>/products">Přehled</a></li>
				  <li><a href="<?= $this->baseUrl();?>/products/add">Přidat</a></li>
				  <!-- <li><a href="#">Typy</a></li> -->
				  </ul>
				</li>
				<li><a href="<?= $this->baseUrl();?>/wraps/warehouse">Obaly</a>
				  <ul>
				  <li><a href="<?= $this->baseUrl();?>/wraps/warehouse">Sklad</a></li>
				  <li><a href="<?= $this->baseUrl();?>/wraps/overview">Přehled</a></li>
				  <li><a href="<?= $this->baseUrl();?>/wraps/add">Přidat</a></li>
				  </ul>
				</li>
				<li><a href="<?= $this->baseUrl();?>/claims">Reklamace</a>
				  <ul>
				  <li><a href="<?= $this->baseUrl();?>/claims">Přehled</a></li>
				  <li><a href="<?= $this->baseUrl();?>/claims/add">Přidat</a></li>
				  </ul>
				</li>
				<li><a href="<?= $this->baseUrl();?>/export">Export</a>
				</li>
				</ul>
				<br style="clear: left" />
				</div>
				<span style="float: right; position: relative; top: -23px;"><a href="javascript:history.go(-1)" style="color: white; text-decoration: none;">Zpět</a></span>
			</div>