<br/><br/><h4>Sklad součástí - <?= $this->col ?></h4>POZOR: Při vložení složené součásti se odečte ze skladu příslušný počet podsoučástí.<br/>

<br/>

<form method="post">
	<table class="datalist">
		<thead>
			<tr>
				<th rowspan="2">ID</th>
				<th rowspan="2">Název</th>
				<th colspan="3">Objednávka</th>
				<th rowspan="2">Rezervace<br />[ks]</th>
				<th rowspan="2">Skladem<br />[ks]</th>
				<th rowspan="2">Chybí<br />[ks]</th>
				<th rowspan="2">Volných<br />[ks]</th>
				<th rowspan="2">Vložit<br />[ks]</th>
			</tr>
			<tr>
				<th>Extra acc.</th>
				<th>Sety</th>
				<th rowspan="2">Celkem</th>
			</tr>
		</thead>
		<tbody>
<?php
	$ii = 0;
	foreach($this->data as $ctg_name => $category){
		$i=0;
?>
			<tr><th colspan="10" class="section"><?= $ctg_name ?></th> </tr>
<?php 
		if($ii > 0){
?>
			<tr>
				<th>ID</th>
				<th>Název</th>
				<th>Extra acc.</th>
				<th>Sety</th>
				<th>Celkem</th>
				<th>Rezervace</th>
				<th>Skladem</th>
				<th>Chybí</th>
				<th>Volných</th>
				<th>Vložit</th>
			</tr>
<?php 
		}
		$ii++;
		foreach($category as $row){
			$class = ($i++ % 2) ? " class='odd'" : '';
?>
			<tr>
				<td<?= $class ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>"><?= $row['id'] ?></a></td>
				<td<?= $class ?> style="text-align: left;<?= ($row['multipart'] == 'ano' ? "font-weight: bold;" : '')?>"><?= $row['name'] ?></td>
				<td<?= $class ?>><?= $this->extra[$row['id']] ?></td>
				<td<?= $class ?>><?= $this->sets[$row['id']] ?></td>
				<td<?= $class ?>><b><?= ($sum = $this->extra[$row['id']] + $this->sets[$row['id']]) ?></b></td>
				<td<?= $class ?>><?= $this->ready_amounts[$row['id']] ?></td>
				<td<?= $class ?>><b><?= $row['amount'] ?></b></td>
				<td<?= $class ?> <?php if($sum > ($row['amount'] + $this->ready_amounts[$row['id']])) echo "style='background-color: orange;'";?>><?php if($sum > ($row['amount'] + $this->ready_amounts[$row['id']])) echo ($sum-$row['amount']-$this->ready_amounts[$row['id']] );else echo 0; ?></td>
				<td<?= $class ?>><?php if($sum < ($row['amount'] + $this->ready_amounts[$row['id']])) echo (($row['amount'] + $this->ready_amounts[$row['id']]) - $sum);else echo 0; ?></td>
				<td<?= $class ?>><input type="text" name="<?= $row['id'] ?>_amount" value="0" class="small_input" autocomplete="off" /></td>
			</tr>
<?php 
		}
	}
?>
		</tbody>
		<tfoot>
			<tr><td colspan="10"><input type="submit" value="Odeslat" id="Odeslat" name="Odeslat" /></td></tr>
		</tfoot>
	</table>
	<input type="hidden" name="type" value="<?= $this->type ?>" />
</form>
<br />
<br />
<br />
