<table class="inv-table-inside">
<?php if ($this->show) { ?>
    <thead>
        <tr><th class="right" style="border-bottom: 0px; border-top: 1px solid #000000;">Proforma No.: <?= $this->document_no; ?></th></tr> 
    </thead> 
<?php } else { ?>
    <tbody>
        <tr><td>&nbsp;</td></tr> 
    </tbody>
<?php } ?>
 </table>
 