<?php if($this->show) { ?>
<table class="inv-table-inside">
    <tbody>
        <tr>
            <td class="td-normal-title nobboth">
                Packaging:
            </td>
            <td class="nobboth">
                <?php if(!empty($this->invoice['packaging'])) { ?><?= str_replace("\n", '<br>', $this->invoice['packaging']) ?><?php  } ?>
            </td>
        </tr>
    </tbody>
</table>
<?php } ?>