<style>
    .chart { height: 400px; margin-top: 30px; }
</style>

<h2><?= $this->title; ?></h2>
<?= $this->form; ?>

<?php if ($this->post): ?>

    <div class="row">
        <div class="row">
            <div id="chart1" class="span4 chart"></div>
            <div id="chart3" class="span4 chart"></div>
            <div class="span4">
                <h3>Celkový obrat</h3>
                <table class="table table-condensed">
                  <?php foreach ($this->types as $type): ?>
                      <tr>
                          <th><?= $type; ?></th>
                          <td class="text-right"><?= Meduse_Currency::format($this->totals[$type], 'Kč'); ?></td>
                      </tr>
                  <?php endforeach; ?>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="chart2" class="span12 chart"></div>
        </div>
    </div>

  <h3 style="page-break-before: always;">Sety dýmek</h3>
  <?php if ($this->ct_pipes): ?>
    <table class="table table-condensed table-bordered sticky">
      <!-- Zahlavi -->
      <thead>
        <tr>
          <th rowspan="2" style="vertical-align: bottom; ">kolekce / název</th>
          <?php foreach ($this->types as $type): ?>
            <th colspan="2"  class="text-center"><?= $type; ?></th>
          <?php endforeach; ?>
        </tr>
        <tr>
          <?php foreach ($this->types as $type): ?>
            <th class="text-right">počet [ks]</th>
            <th class="text-right">cena [Kč]</th>
          <?php endforeach; ?>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->ct_pipes['cls'] as $coll_id => $coll): ?>
          <!-- Zahlavi -->
          <tr>
            <th colspan="7" class="text-center"><h4><?= $coll['name']; ?></h4></th>
          </tr>
          <?php foreach ($this->ct_pipes['cls'][$coll_id]['parts'] as $part_id => $row): ?>
            <tr>
              <td><a href="<?= $this->url([
                  'controller' => 'parts',
                  'action' => 'detail',
                  'id' => $part_id]); ?>"><?= $part_id; ?></a> <?= $row['name']; ?></td>
              <?php foreach ($this->types as $type): ?>
                <td class="text-right"><?= $row[$type]['pcs']; ?></td>
                <td class="text-right"><?= Meduse_Currency::format($row[$type]['price']); ?></td>
              <?php endforeach; ?>
            </tr>
          <?php endforeach; ?>
          <!-- Suma -->
          <tr>
            <th>celkem <?= $coll['name']; ?></th>
            <?php foreach ($this->types as $type): ?>
              <th class="text-right"><?= $this->ct_pipes['sum']['cls'][$coll_id][$type]['pcs']; ?></th>
              <th class="text-right"><?= Meduse_Currency::format($this->ct_pipes['sum']['cls'][$coll_id][$type]['price']); ?></th>
            <?php endforeach; ?>
          </tr>
        <?php endforeach; ?>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="7" class="text-center"><h4>všechny kolekce</h4></th>
        </tr>
        <tr>
          <th>celkem</th>
          <?php foreach ($this->types as $type): ?>
            <th class="text-right"><?= $this->ct_pipes['sum']['total'][$type]['pcs']; ?></th>
            <th class="text-right"><?= Meduse_Currency::format($this->ct_pipes['sum']['total'][$type]['price']); ?></th>
          <?php endforeach; ?>
        </tr>
      </tfoot>
    </table>
  <?php else: ?>
    <p class="warning">Zadaným parametrům nevyhovuje žádný prodej.</p>
  <?php endif; ?>

  <h3 style="page-break-before: always;">Příslušenství a náhradní díly</h3>
  <?php if ($this->ct_access): ?>
    <table class="table table-condensed table-bordered sticky">
      <!-- Zahlavi -->
      <thead>
        <tr>
          <th rowspan="2">položka</th>
          <?php foreach ($this->types as $type): ?>
            <th colspan="3"  class="text-center"><?= $type; ?></th>
          <?php endforeach; ?>
        </tr>
        <tr>
          <?php foreach ($this->types as $type): ?>
            <th class="text-right">počet [ks]</th>
            <th class="text-right">zdarma [ks]</th>
            <th class="text-right">cena [Kč]</th>
          <?php endforeach; ?>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($this->ct_access['parts'] as $part_id => $row): ?>
          <tr>
            <td><a href="<?= $this->url([
                'controller' => 'parts',
                'action' => 'detail',
                'id' => $part_id]); ?>"><?= $part_id; ?></a> <?= $row['name']; ?></td>
            <?php foreach ($this->types as $type): ?>
              <td class="text-right"><?= $row[$type]['pcs']; ?></td>
              <td class="text-right"><?= $row[$type]['free']; ?></td>
              <td class="text-right"><?= Meduse_Currency::format($row[$type]['price']); ?></td>
            <?php endforeach; ?>
          </tr>
        <?php endforeach; ?>

        <!-- Suma -->
      </tbody>
      <tfoot>
        <tr>
          <th>celkem</th>
          <?php foreach ($this->types as $type): ?>
            <th class="text-right"><?= $this->ct_access['sum'][$type]['pcs']; ?></th>
            <th class="text-right"><?= $this->ct_access['sum'][$type]['free']; ?></th>
            <th class="text-right"><?= Meduse_Currency::format($this->ct_access['sum'][$type]['price']); ?></th>
          <?php endforeach; ?>
        </tr>
      </tfoot>
    </table>
  <?php else: ?>
    <p class="warning">Zadaným parametrům nevyhovuje žádný prodej.</p>
  <?php endif; ?>

  <h3 style="page-break-before: always;">Služby</h3>
  <?php if ($this->services['services']): ?>
    <table class="table table-condensed sticky">
      <thead>
        <tr>
          <th>Předmět fakturace</th>
          <th>Zák.</th>
          <th>Faktura</th>
          <th class="text-right">Počet</th>
          <th class="text-right">Cena celkem [Kč]</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($this->services['services'] as $item): ?>
          <tr>
            <td><?= $item['description']; ?></td>
            <td><?= $item['customer_type']; ?></td>
            <td>
              <a class="btn btn-mini" href="<?= $this->url(['controller' => 'invoice', 'action' => 'download', 'id' => $item['invoice_id']]); ?>">
                <i class="icon icon-download-alt"></i>&nbsp;<?= $item['invoice_no']; ?>
              </a>
            </td>
            <td class="text-right"><?= $item['qty']; ?></td>
            <td class="text-right"><?= Meduse_Currency::format($item['total']); ?></td>
          </tr>
        <?php endforeach; ?>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">CELKEM</th>
          <th class="text-right"><?= $this->services['sum'][Table_Customers::TYPE_ALL]['qty']; ?></th>
          <th class="text-right"><?= Meduse_Currency::format($this->services['sum'][Table_Customers::TYPE_ALL]['price']); ?></th>
        </tr>
      </tfoot>
    </table>

  <?php else: ?>
    <p class="warning">Zadaným parametrům nevyhovuje žádný prodej.</p>
  <?php endif; ?>

  <script>
    (function($, cfx){
      $(document).ready(function (){

        const
          chart1 = new cfx.Chart(),
          chart2 = new cfx.Chart(),
          chart3 = new cfx.Chart();

        const createChart1 = function (chart, element) {

          const items = <?= $this->chart1_json; ?>,
              fields = chart.getDataSourceSettings().getFields(),
              fieldPrice = new cfx.FieldMap(),
              LabelField = new cfx.FieldMap();

            fieldPrice.setName('price');
            fieldPrice.setUsage(cfx.FieldUsage.Value);
            fieldPrice.setDisplayName('Obrat [tis. Kč]');
            fields.add(fieldPrice);

            LabelField.setName('label');
            LabelField.setUsage(cfx.FieldUsage.Label);
            fields.add(LabelField);

            chart.setDataSource(items);

          const
            titles = chart.getTitles(),
            title = new cfx.TitleDockable();
          title.setText('Podíl oblastí na obratu');
          titles.add(title);

          chart.setGallery(cfx.Gallery.Pie);
          chart.getAllSeries().getPointLabels().setVisible(true);
          chart.getLegendBox().setVisible(false);
          chart.create(element);
        };

        const createChart2 = function (chart, element) {

          const
            items = <?= $this->chart2_json; ?>,
            titles = chart.getTitles(),
            title = new cfx.TitleDockable();

          title.setText('Srovnání obratu B2B/B2C v oblastech [tis. Kč]');
          titles.add(title);

          chart.setDataSource(items);
          chart.setGallery(cfx.Gallery.Bar);
          chart.getAllSeries().getPointLabels().setVisible(true);
          chart.getLegendBox().setVisible(false);
          chart.create(element);
        };

        const createChart3 = function (chart, element) {

          const items = <?= $this->chart3_json; ?>,
              fields = chart.getDataSourceSettings().getFields(),
              fieldPrice = new cfx.FieldMap(),
              LabelField = new cfx.FieldMap();

            fieldPrice.setName('price');
            fieldPrice.setUsage(cfx.FieldUsage.Value);
            fieldPrice.setDisplayName('Obrat [tis. Kč]');
            fields.add(fieldPrice);

            LabelField.setName('label');
            LabelField.setUsage(cfx.FieldUsage.Label);
            fields.add(LabelField);

            chart.setDataSource(items);

          const
            titles = chart.getTitles(),
            title = new cfx.TitleDockable();
          title.setText('Podíl B2B/B2C na obratu');
          titles.add(title);

          chart.setGallery(cfx.Gallery.Pie);
          chart.getAllSeries().getPointLabels().setVisible(true);
          chart.getLegendBox().setVisible(false);
          chart.create(element);
        };

        createChart1(chart1, 'chart1');
        createChart2(chart2, 'chart2');
        createChart3(chart3, 'chart3');
      });
    })(jQuery, cfx);

  </script>


<?php endif; ?>
