<?php
 function renderProductCoded($id, $name, $code, $collection) {
   return '<div class="alert alert-info product">
            <p><strong><span class="pro-type">' . $id . '</span>: <span class="pro-name">' . $name  . '</span> &ndash; <span class="pro-amount">1</span> ks</strong></p>
            <div class="row-fluid">
              <p><input type="text" name="pro-code" value="' . $code . '" class="pro-code" />'
                  #<a class="btn btn-primary btn-mini"><i class="icon icon-white icon-refresh"></i></a>
                .'</p>
              <input type="hidden" name="pro-collection" value="' . $collection . '" class="pro-collection">
            </div>
           </div>';
 }
 
 function renderProductNonCoded($id, $name, $amount) {
   return '<div class="alert alert-info product">
            <p><strong><span class="pro-type">' . $id . '</span>: <span class="pro-name">' . $name . '</span> &ndash; <span class="pro-amount">' . $amount . '</span> ks</strong></p>
            <div class="row-fluid">
              <p>
                <strong>Rozdělit počet: </strong> <a class="btn btn-primary btn-mini pro-split"><i class="icon icon-white icon-th-large"></i></a>
              </p>
            </div>
           </div>';
 }
 
 function renderBox($id, $name, $products) {
   return '<div class="alert alert-danger box">
            <a class="btn btn-danger btn-mini pull-right rm-this" href="#"><i class="icon icon-white icon-remove"></i></a>
            <h5>'
              . ($id ? '<span class="box-type">' . $id . '</span>: ' : '')
              . '<span class="box-name">' . $name . '</span>' . 
           '</h5>
            <div class="box-items" style="min-height: 50px;">
              ' . $products . '
            </div>
          </div>';
 }
 
 function renderPalette($id, $name, $boxes) {
   return '<div class="alert alert-warning palette"  style="min-height: 300px;">
            <a class="btn btn-danger btn-mini pull-right rm-this" href="#"><i class="icon icon-white icon-remove"></i></a>
            <h5>'
              . ($id ? '<span class="palette-type">' . $id . '</span>: ' : '')
              . '<span class="palette-name">' . $name . '</span>' . 
           '</h5>
            ' . $boxes . '
          </div>';
 }
?>

<?php $boxed_pack = array(); ?>
<?= $this->post ?>

<div class="row-fluid error-area">
  
</div>
<div class="pull-right">
  <button class="btn btn-warning presave"><i class="icon icon-white icon-bookmark"></i> Uložit změny</button>
  <button class="btn btn-success submit-all"><i class="icon icon-white icon-check"></i> Odeslat</button>
</div>
<h3>Editace balení</h3>

<div class="row-fluid">
  <div class="span4">
    <h4>Produkty <a class="btn btn-primary asign-codes"><i class="icon icon-white icon-plus"></i> Přiřadit kódy</a></h4>
    <div id="products" style="min-height: 500px;">
      <?php if ($this->json_prod OR $this->json_bxes OR $this->json_plts): ?>
        <?php if ($this->json_prod): ?>
          <?php foreach ($this->json_prod as $product): ?>
            <?php if (property_exists($product, 'product_code')): ?>
              <?= renderProductCoded($product->product_id, $product->product_name, $product->product_code, $product->product_collection); ?>
            <?php else: ?>
              <?= renderProductNonCoded($product->product_id, $product->product_name, $product->product_amount); ?>
            <?php endif; ?>

          <?php endforeach; ?>
        <?php endif; ?>
      <?php else: ?>
        <?php foreach ($this->products as $product): ?>
          <?php if (in_array($product['ctg_id'], $this->products_single_ctgs)): ?>
            <?php if ($this->tPartsSubparts->hasSubpartInCategory($product['id_products'], $this->products_with_box)): ?>
              <?php $boxed_pack[] = $product; ?>
            <?php else: ?>
              <?php for($i = 1; $i <= $product['amount']; $i++): ?>
                <?= renderProductCoded($product['id_products'], $product['name'], '', $product['id_collections']); ?>
              <?php endfor; ?>
            <?php endif; ?>

          <?php else: ?>
            <?= renderProductNonCoded($product['id_products'], $product['name'], $product['amount']); ?>
          <?php endif; ?>

        <?php endforeach; ?>
      <?php endif; ?>
    </div>
  </div>
  
  <div class="span4">
    <h4>
      Krabice
      <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" href="#"><i class="icon icon-white icon-plus"></i> Přidat <i class="caret"></i></a>
        
        <ul class="dropdown-menu boxes_add">
          <li><a href="#"><span class="name">Virtuální krabice</span></a></li>
          <li class="divider"></li>
          <?php foreach ($this->boxes as $box): ?>
          <li><a href="#" id="<?= $box['id']; ?>"><span class="name"><?= $box['name']; ?></span> (<span class="amount"><?= $box['amount']; ?></span>)</a></li>
          <?php endforeach; ?>
        </ul>
      </div>
    </h4>
    
    
    
    <div id="boxes" style="min-height: 500px;">
      <?php if ($this->json_bxes): ?>
        <?php foreach ($this->json_bxes as $box): ?>      
          <?php //PRODUKTY V KRABICI ?>
          <?php $box_products = ''; ?>
          <?php foreach ($box->box_products as $product): ?>
            <?php if (property_exists($product, 'product_code')): ?>
              <?php $box_products .= renderProductCoded($product->product_id, $product->product_name, $product->product_code, $product->product_collection); ?>
            <?php else: ?>
              <?php $box_products .= renderProductNonCoded($product->product_id, $product->product_name, $product->product_amount); ?>
            <?php endif; ?>
          <?php endforeach; ?>


          <?php //URČOVÁNÍ ID KRABICE ?>
          <?php $box_type = property_exists($box, 'box_id') ? $box->box_id : NULL; ?>


          <?php //RENDEROVÁNÍ KRABICE ?>
          <?= renderBox($box_type, $box->box_name, $box_products); ?>
        <?php endforeach; ?>


        <?php foreach ($boxed_pack as $product): ?>
          <?php if (in_array($product['ctg_id'], $this->products_single_ctgs)): ?>
            <?php $product_str = renderProductCoded($product['id_products'], $product['name'], '', $product['id_collections']); ?>
          <?php else: ?>
            <?php $product_str = renderProductNonCoded($product['id_products'], $product['name'], $product['amount']); ?>
          <?php endif; ?>

          <?php for($i = 1; $i <= $product['amount']; $i++): ?>
            <?= renderBox(NULL, 'Virtuální krabice &ndash; součást setu', $product_str); ?>
          <?php endfor; ?>

        <?php endforeach; ?>
      <?php endif; ?>
    </div>
  </div>
  <div class="span4">
    <h4>
      Palety
      <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" href="#"><i class="icon icon-white icon-plus"></i> Přidat <i class="caret"></i></a>
        
        <ul class="dropdown-menu palettes_add">
          <li><a href="#"><span class="name">Virtuální paleta</span></a></li>
          <li class="divider"></li>
          <?php foreach ($this->palettes as $palette): ?>
          <li><a href="#" id="<?= $palette['id']; ?>"><span class="name"><?= $palette['name']; ?></span> (<span class="amount"><?= $palette['amount']; ?></span>)</a></li>
          <?php endforeach; ?>
        </ul>
      </div>
    </h4>
    
    
    
    <div id="palettes">
      <?php if ($this->json_plts): ?>
        <?php foreach ($this->json_plts as $palette): ?>
          <?php //KRABICE NA PALETĚ ?>
          <?php $palette_boxes = ''; ?>
          <?php foreach ($palette->palette_boxes as $box): ?>      
            <?php //PRODUKTY V KRABICI ?>
            <?php $box_products = ''; ?>
            <?php foreach ($box->box_products as $product): ?>
              <?php if (property_exists($product, 'product_code')): ?>
                <?php $box_products .= renderProductCoded($product->product_id, $product->product_name, $product->product_code, $product->product_collection); ?>
              <?php else: ?>
                <?php $box_products .= renderProductNonCoded($product->product_id, $product->product_name, $product->product_amount); ?>
              <?php endif; ?>
            <?php endforeach; ?>


            <?php //URČOVÁNÍ ID KRABICE ?>
            <?php $box_type = property_exists($box, 'box_id') ? $box->box_id : NULL; ?>


            <?php //RENDEROVÁNÍ KRABICE ?>
            <?php $palette_boxes .= renderBox($box_type, $box->box_name, $box_products); ?>
          <?php endforeach; ?>
          
          <?php //URČOVÁNÍ ID PALETY ?>
          <?php $palette_type = property_exists($palette, 'palette_id') ? $palette->palette_id : NULL; ?>
      
          <?php //RENDEROVÁNÍ PALETY ?>
          <?= renderPalette($palette_type, $palette->palette_name, $palette_boxes); ?>
        <?php endforeach; ?>
      <?php endif; ?>
    </div>
  </div>
</div>





<div id="splitFormModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Oddělit část</h3>
	</div>
  <div class="modal-body row-fluid">
    <?= $this->splitForm; ?>
  </div>
	<div class="modal-footer">
	</div>
</div>

<div id="asignCodesModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Přidělit kódy</h3>
	</div>
  <p class="text-center">Upozornění! Veškeré dříve vložené kódy budou tímto smazány. Chcete pokračovat?</p>
  <p class="text-center">
    <button class="btn btn-primary asign-codes-confirm"><i class="icon icon-white icon-ok"></i> Ano, chci</button> 
    <button class="btn btn-danger asign-codes-decline"><i class="icon icon-white icon-remove"></i> Ne</button>
  </p>
	<div class="modal-footer">
	</div>
</div>

<form id="submit-form" method="POST">
  <textarea class="hidden" name="columns-json" id="columns-json"></textarea>
  <input type="hidden" name="autosave" value="n" />
  <input type="hidden" name="nextphase" value="0" />
  <input type="hidden" name="order_id" value="<?= $this->order_id; ?>" />
</form>

<script>
//
// PŘESOUVÁNÍ OBJEKTŮ
//

// logika přesouvatelných objektů
function dragway(elem, from, to) {
  
  $(elem).zIndex($(to).zIndex() + 5);
  
  $(elem).draggable({ cursor: "crosshair", revert: "invalid"});
  $(to).droppable({ accept: elem, 
             drop: function(event, ui) {
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);
              }
            });
  $(to).sortable({cancel: 'h5, div'});

  $(from).droppable({ accept: elem, 
             drop: function(event, ui) {
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);
              }
            });
}

// nastavení možnosti přesouvání u nových objektů
function updateDragways() {
  dragway(".box", "#boxes", ".palette");
  dragway(".product", "#products", ".box-items");
}

// aktivace
updateDragways();


//
// PŘIDÁVÁNÍ/ODEBÍRÁNÍ OBJEKTŮ
//

// změna stavu "skladu"
function changeStockAmount(id, change, stock) {
  $('.' + stock + ' #' + id).find('.amount').html(function(_, old_amount){
    return parseInt(old_amount) + parseInt(change);
  });
}


//vytvoření pole pro krabici/paletu
function createItem(singular, plural, id, name, div_class) {
  if (typeof id !== typeof undefined && id !== false) {
    changeStockAmount(id, -1, plural + '_add');
    id = '<span class="' + singular + '-type">' + id + '</span>: ';
  } else {
    id = '';
  }
  $('#' + plural).append('<div class="' + div_class + '"' + (singular==='palette' ? ' style="min-height: 300px;"' : '') + '>\n\
                            <a class="btn btn-danger btn-mini pull-right rm-this" href="#"><i class="icon icon-white icon-remove"></i></a>\n\
                            <h5>'+ id + '<span class="' + singular + '-name">' + name +'</span></h5>\n\
                            ' + ((singular==='box') ? '<div class="box-items" style="min-height: 50px;"></div>\n' : '') + '\
                          </div>');
}

// přidávání krabic/palet
function addItem(item, type) {
  var attr = item.attr('id');
  var name = item.find('.name').text();
  
  var alert_class = '';
  var plural = '';
  
  //rozdělení palet a krabic
  if (type==='palette') {
    plural = 'palettes';
    alert_class = 'alert-default';
  } else if (type==='box') {
    plural = 'boxes';
    alert_class = 'alert-danger';
  }
  
  createItem(type, plural, attr, name, 'alert ' + alert_class + ' ' + type);
  
  updateDragways();
  initRemoves();
}

// odebírání krabic/palet
function removeItem(button, singular) {
  var item = button.parent();
  var plural = '';
  
  if (singular==='box') {
    plural = 'boxes';
    $(item).find('.product').appendTo('#products');
  } else if (singular==='palette') {
    plural = 'palettes';
    $(item).find('.box').appendTo('#boxes');
  }
  
  $(item).remove();
  
  var type = item.find('.' + singular + '-type').text();
  if (typeof type !== typeof undefined && type !== false) {
    changeStockAmount(item.find('.' + singular + '-type').text(), +1, '' + plural + '_add');
  }
}

// nastavení možnosti odebírání u nových objektů
function initRemoves() {
  $('.palette .rm-this').off('click').click(function(e) {
    e.preventDefault();
    removeItem($(this), 'palette');
  });
  
  $('.box .rm-this').off('click').click(function(e) {
    e.preventDefault();
    removeItem($(this), 'box');
 });
}



// aktivace
$(document).ready(function() {
  initRemoves();
  
  // "předodebrání" při obnově rozpracovaného
  $('.box .box-type').each(function() {
    changeStockAmount($(this).html(), -1, 'boxes_add');
  });
});

$('.boxes_add a').click(function(e) {
  e.preventDefault();
  addItem($(this), 'box');
});
$('.palettes_add a').click(function(e) {
  e.preventDefault();
  addItem($(this), 'palette');
});


//
// ROZDĚLOVÁNÍ OBJEKTŮ
//

// inicializace aktivačního formuláře
function splitGroupInit(xx) {
  $('.flag-split').removeClass('flag-split');
  xx.closest('.product').addClass('flag-split');
  $('#splitFormModal').modal('show');
  $('#putaside').attr('value', Math.round(parseInt(xx.closest('.product').find('.pro-amount').text())/2));
}

// logika rozdělování
function splitGroupProc() {
  var num = $('#putaside').val();
  
  if (!isNaN(parseInt(num))) {
    var putAside = parseInt(num);
    var maximum  = parseInt($('.flag-split').find('.pro-amount').text());
    if (putAside < 1) {
      $('.error-area').html('<div class="alert">\n\
          <button type="button" class="close" data-dismiss="alert">&times;</button>\n\
          <strong>Chyba!</strong> Je třeba oddělit alespoň 1 kus.\n\
        </div>');
    } else if (putAside >= maximum) {
      $('.error-area').html('<div class="alert">\n\
          <button type="button" class="close" data-dismiss="alert">&times;</button>\n\
          <strong>Chyba!</strong> Nemůžete oddělit všechny kusy.\n\
        </div>');
    } else {
      $('.flag-split').after($('.flag-split').clone());
      
      $('.flag-split').first().find('.pro-amount').html(function(_, old_amount){
        return parseInt(old_amount) - parseInt(putAside);
      });
      
      $('.flag-split').last().find('.pro-amount').html(putAside);
      
      updateDragways();
      
      $('.pro-split').click(function() {
        splitGroupInit($(this));
      });
    }
    
  } else {
    $('.error-area').html('<div class="alert">\n\
        <button type="button" class="close" data-dismiss="alert">&times;</button>\n\
        <strong>Chyba!</strong> Hodnota "' + num + '" není celé číslo.\n\
      </div>');
  }
  
  $('.flag-split').removeClass('flag-split');
}

// aktivace
$('.pro-split').click(function() {
  splitGroupInit($(this));
});
$('#splitform').submit(function(e) {
  e.preventDefault();
  splitGroupProc();
  $('#splitFormModal').modal('hide');
});

//
// PŘIŘAZOVÁNÍ SÉRIOVÝCH ČÍSEL
//


//sečtení jednotlivých kolekcí, vytvoření zjišťovací adresy
function getCollectionsLink() {
  var collect = {};
  
  collect[1] = 0;
  collect[2] = 0;
  collect[3] = 0;
  collect[4] = 0;
  
  $('.pro-collection').each(function() {
    if (parseInt($(this).val())>0) {
      collect[parseInt($(this).val())] += 1;
    }
  });
  
  return '/holograms/ajax-get-available/1/' + collect[1] + '/2/' + collect[2] + '/3/' + collect[3] + '/4/' + collect[4];
}

//parsování JSONu, přiřazení kódů
function asignCodes() {
  var codes = {};
  codes[1] = [];
  codes[2] = [];
  codes[3] = [];
  codes[4] = [];
  
  //získání kódů
  $.getJSON(getCollectionsLink(), function(aa) {
     $.each(aa, function (index, value) {
      codes[parseInt(index)] = value;
     });
     
     var value;
     
     //přiřazování kódů
     $('.pro-collection').each(function() {
        console.log($(this).val());
        value = codes[parseInt($(this).val())].shift();
        
        //opatření při nedostatku kódů - vyprázdnění zbylých polí
        if ($.type(value) === "undefined") {
          value = '';
        }
        
        $(this).closest('.product').find('.pro-code').attr('value', value);
      });
  });
  
  
}

// aktivace
$('.asign-codes').click(function(e) {
  e.preventDefault;
  $('#asignCodesModal').modal('show');
});

$('.asign-codes-confirm').click(function(e) {
  e.preventDefault;
  $('#asignCodesModal').modal('hide');
  asignCodes();
});

$('.asign-codes-decline').click(function(e) {
  e.preventDefault;
  $('#asignCodesModal').modal('hide');
});

//
// AUTOMATICKÉ ÚPRAVY PŘED ODESLÁNÍM
//

// slučování stejných produktů.
function merge(container) {
  $(container).find('.product').each(function() {
    if ($(this).find('.pro-code').length === 0) {
      var curr_type = $(this).find('.pro-type').html();
      var curr_type_objects = $(container).find('.pro-type').filter(function() {
                                return $(this).text() === curr_type;
                              });
      
      var curr_type_amount = 0;
      
      if (curr_type_objects.length > 1) {
        curr_type_objects.first().addClass('flag-first-to-merge');
        
        curr_type_objects.each(function() {
          curr_type_amount += parseInt($(this).closest('.product').find('.pro-amount').html());
          
          if (!$(this).hasClass('flag-first-to-merge')) {
            $(this).closest('.product').remove();
          }
        });
        
        curr_type_objects.removeClass('flag-first-to-merge');
        curr_type_objects.closest('.product').find('.pro-amount').html(curr_type_amount);
      }
    };
  });
};

// "zabalení" produktů do virtuálních krabic
function packIntoBoxes() {
  createItem('box', 'boxes', false, 'Virtuální krabice', 'alert alert-danger box box-automatic');
  $('.box-automatic .box-items').append($('#products .product'));
  $('.box-automatic').removeClass('box-automatic');
  
  updateDragways();
  initRemoves();
}

// "zabalení" krabic na virtuálních palety
function packIntoPalettes() {
  createItem('palette', 'palettes', false, 'Virtuální paleta', 'alert alert-default palette palette-automatic');
  $('.palette-automatic').append($('#boxes .box'));
  $('.palette-automatic').removeClass('palette-automatic');
  
  updateDragways();
  initRemoves();
}

// souhrnná funkce balení
function packAll() {
  packIntoBoxes();
  packIntoPalettes();
}

function productJsonData(prod) {
  product = {};
   
  //název produktu
  product['product_name'] = $(prod).find('.pro-name').text();

  //ID produktu
  if ($(prod).find('.pro-type').text().length>0) {
    product['product_id'] = $(prod).find('.pro-type').text();
  }

  //množství produktu
  product['product_amount'] = $(prod).find('.pro-amount').text();
  if ($(prod).find('.pro-code').is('input')) {
    product['product_code'] = $(prod).find('.pro-code').val();
    product['product_collection'] = $(prod).find('.pro-collection').val();
  }
  
  return product;
};

function boxJsonData(bx) {
  box = {};
  
  //název krabice
  box['box_name'] = $(bx).find('.box-name').text();

  //ID krabice
  if ($(bx).find('.box-type').text().length>0) {
    box['box_id'] = $(bx).find('.box-type').text();
  }

  box_products = [];
  $(bx).find('.box-items .product').each(function() {
    box_products.push(productJsonData(this));
  });
  
  box['box_products'] = box_products;
  
  return box;
}

function productsColumnToJson() {
  var products = [];
  
  $('#products .product').each(function() {
    products.push(productJsonData(this));
  });
  
  return products;
}

function boxesColumnToJson() {
  var boxes = [];
  
  $('#boxes .box').each(function() {
    boxes.push(boxJsonData(this));
  });
  
  return boxes;
}

// převádí data ze sloupce palet do JSON dat
function palettesColumnToJson() {
  var data_for_json = [];
  
  var palette = {};
  var palette_boxes = [];
  
  var box = {};
  var box_products = [];
  
  var product = {};
  
  $('#palettes .palette').each(function() {
    palette = {};
    
    //název palety
    palette = {'palette_name': $(this).find('.palette-name').text()};
    
    //ID palety
    if ($(this).find('.palette-type').text().length>0) {
      palette['palette_id'] = $(this).find('.palette-type').text();
    }
    
    //krabice na paletě
    palette_boxes = [];
    $(this).find('.box').each(function() {
      palette_boxes.push(boxJsonData(this));
    });
    
    palette['palette_boxes'] = palette_boxes;
    
    data_for_json.push(palette);
    
  });
  
  return data_for_json;
};

function allToJson() {
  var data = {};
  
  data['products'] = productsColumnToJson();
  data['boxes']    = boxesColumnToJson();
  data['palettes'] = palettesColumnToJson();
  return JSON.stringify(data);
}

//
// PRŮBĚŽNÉ UKLÁDÁNÍ
//
$('.presave').click(function() {
  merge('#products');
  $('.box').each(function() {
    merge(this);
  });
  $('#columns-json').html(allToJson());
  $('#autosave').attr('val', 'n');
  $('#nextphase').attr('val', '0');
  $('#submit-form').submit();
});

//
// ODESÍLÁNÍ FORMULÁŘE
//
$('.submit-all').click(function() {
  packAll();
  merge('#products');
  $('.box').each(function() {
    merge(this);
    if ($(this).find('.product').length === 0) {
      $(this).remove();
    }
  });
  
  $('.palette').each(function() {
    if ($(this).find('.box').length === 0) {
      $(this).remove();
    }
  })
  $('#columns-json').html(allToJson());
  $('#autosave').attr('val', 'n');
  $('#nextphase').attr('val', '1');
  $('#submit-form').submit();
});
</script>