<div class='row-fluid'>
    <div class='span8 offset2 well'>
        <h2>
            Přiřazení ceníku<br />
            <small>firma: <?= $this->customer['company'] ?> / 
                   zákaznické číslo: <?= $this->customer['customer_no'] ?> /
                   typ: <?= $this->customer['type'] ?>
            </small>
        </h2>
        <?= $this->form('assign_pricelists', array('method' => 'post', 
            'action' => '/tobacco-pricelists/assign')); ?>
        <?= $this->formHidden('customer', $this->customer['id']) ?>
        <?= $this->formHidden('order', $this->orderId) ?>
        <table class='table table-condensed'>
            <thead>
                <tr>
                    <th>ozn.</th>
                    <th>název</th>
                    <th>zkratka</th>
                    <th>platnost</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->lists as $list): ?>
                <tr>
                    <td>
                      <?php if ($list['deleted'] == 'n'): ?>
                    <?= $this->formCheckbox('pricelists[]', $list['id'], 
                        array('checked' => !is_null($list['assign']))) ?>
                      <?php endif; ?>
                    </td>
                    <td><?= $list['name']; ?></td>
                    <td><?= $list['abbr']; ?></td>
                    <td>
                      <?php if ($list['deleted'] == 'y'): ?>
                        odstraněno
                      <?php else: ?>
                        <?= $this->dateFromDb($list['valid']) ?>
                      <?php endif; ?>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?= $this->formSubmit('assign', 'Přiřadit', array('class' => 'btn btn-primary')) ?>
    </div> 
</div>
