<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span8">
                <h3><?= $this->title; ?></h3>
            </div>
            <div class="span4 text-right no-print">
                <span style="padding-right: 25px;">
                    <a class="btn btn-small" title="Upravit"
                       href="<?= $this->baseUrl() ?>/tobacco-customers/edit/id/<?= $this->customer->getId(); ?>">
                      <i class="icon-edit"></i> Upravit</a>
                </span>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <!-- left side -->
                <div class="span6">
                    <h4 class="detail-title">Detail
                    </h4>
                    <table class="table">
                        <tr>
                            <td>Jméno:</td>
                            <td ><?= $this->customer->getFirstName(); ?></td>
                        </tr>
                        <tr>
                            <td>Příjmení:</td>
                            <td><?= $this->customer->getLastName(); ?></td>
                        </tr>
                        <tr>
                            <td>Typ zákazníka:</td>
                            <td><?= $this->customer->getType(); ?></td>
                        </tr>
                        <tr>
                            <td>Telefon:</td>
                            <td><?= $this->customer->getPhone(); ?></td>
                        </tr>

                        <tr>
                            <td>E-mail:</td>
                            <td>
                              <a href='mailto:<?= $this->customer->getEmail(); ?>'>
                                <?= $this->customer->getEmail(); ?></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- right side -->
                <div class="span6">
                    <h4 class="detail-title">
                        &nbsp;
                    </h4>
                    <table class="table">
                        <?php if($this->customer->isB2B()): ?>
                        <tr>
                            <td>Zákaznické číslo:</td>
                            <td><?= $this->customer->getCustomerNo(); ?></td>
                        </tr>
                        <tr>
                            <td>Firma:</td>
                            <td><?= $this->customer->getCompany(); ?></td>
                        </tr>
                        <tr>
                            <td>IČ:</td>
                            <td>
                              <?php if ($this->identNo): ?>
                                <?= $this->identNo ?>
                                <a class="btn btn-mini" href="https://shop.medite-tobacco.com/gastro/ic/<?= $this->identNo; ?>" target="_blank"><i class="icon icon-globe"></i>&nbsp;shop</a>
                                <?php else: ?>
                                &mdash;
                                <?php endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <td>DIČ:</td>
                            <td>
                              <?php if ($this->vatNo): ?>
                                <?= $this->vatNo; ?>
                                <button title="ověřit přes VIES" id="verify" class="btn btn-small <?= $this->isValidVatNoClass; ?>" >
                                <?php if ($this->isValidVatNo === TRUE): ?>
                                validní
                                <?php elseif($this->isValidVatNo === FALSE) :?>
                                nevalidní
                                <?php else: ?>
                                neověřeno
                                <?php endif; ?>
                                </button>
                              <?php endif; ?>
                              <div id="verify-message"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>SEED ID:</td>
                            <td><?= $this->customer->getSeedId(); ?></td>
                        </tr>
                        <?php endif; ?>
                        <tr>
                            <td>Fakturace:</td>
                            <td><?= $this->customer->isAllowedInvoicing() ? 'povolena – splatnost ' . $this->customer->getDue() . ' dní': 'zakázána'?>
                            
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row-fluid">
        <div class="span12">
              <h4 class="detail-title">Zákaznické adresy
                <a class="btn pull-right" title="Přidat" href="<?= $this->url(array(
                  'action' => 'address',
                  'id' => NULL,
                  'customer' => $this->customer->getId(),
                  )); ?>?destination=<?= $this->url()?>"><i class="icon-plus"></i></a>
              </h4>
              <?php if ($this->addresses): ?>
                <table class="table table-hover">
                  <?php foreach ($this->addresses as $aid => $address): ?>
                    <tr>
                      <td style="width: 1%;">
                        <?php if ($address->isBilling()): ?>
                          <div><span class="label label-important">FAKTURAČNÍ</span>
                          </div>
                        <?php endif; ?>
                        <?php if ($address->isShipping()): ?>
                          <div><span class="label label-success">DODACÍ</span></div>
                        <?php endif; ?>
                      </td>
                      <td>
                        <?= $address; ?>
                      </td>
                      <td style="width: 1%;">
                        <div class="btn-group">
                          <a class="btn btn-success" title="Upravit" href="<?= $this->url([
                            'controller' => 'customers',
                            'action' => 'address',
                            'id' => $address->getId(),
                          ]); ?>?destination=<?= $this->url() ?>"><i
                              class="icon icon-edit icon-white"></i></a>
                          <?php if (!$address->isBilling() && !$address->isShipping()): ?>
                            <a class="btn btn-danger" title="Smazat" href="<?= $this->url([
                              'controller' => 'customers',
                              'action' => 'address-delete',
                              'id' => $address->getId(),
                            ]); ?>?destination=<?= $this->url() ?>"><i
                                class="icon icon-remove icon-white"></i></a>
                          <?php endif; ?>
                        </div>
                      </td>
                    </tr>
                  <?php endforeach; ?>
                </table>
              <?php endif; ?>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h4 class="detail-title">Objednávky zákazníka</h4>
            <?php if (count($this->orders) > 0): ?>
              <table class="table table-condensed table-hover table-striped">
                  <tr>
                      <th style="width: 5%;">Stav</th>
                      <th>Číslo obj.</th>
                      <th>Název</th>
                      <th class="text-left">Faktura číslo</th>
                      <th class="text-left">Faktura vystavena</th>
                  </tr>
              <?php foreach($this->orders as $order): ?>
                <?php switch ($order->status) {
                        case Table_Orders::STATUS_OPEN:
                          $css = 'label-success';
                          break;
                        case Table_Orders::STATUS_CLOSED:
                          $css = 'label-important';
                          break;
                        default:
                          $css = '';
                          break; } ?>
                  <tr>
                      <td>
                          <small class="label <?= $css; ?>"><?= Table_Orders::$statusToString[$order->status]; ?></small>
                      </td>
                      <td><a href="<?php echo $this->url(array(
                          'controller' => 'tobacco-orders',
                          'action' => 'detail',
                          'id' => $order->id)) ?>"><?= $order->no; ?></a></td>
                      <td><a href="<?php echo $this->url(array(
                          'controller' => 'tobacco-orders',
                          'action' => 'detail',
                          'id' => $order->id)) ?>">
                          <?= $order->title; ?></a>
                      </td>
                    <?php if ($order->invoice): ?>
                        <td class="text-left">
                            <div class="btn-group">
                            <a class="btn btn-mini" href="<?= $this->url(array(
                              'controller' => 'tobacco-invoice',
                              'action' => 'download',
                              'id' => $order->id_invoice)) ?>">
                              <i class="icon icon-download"></i>&nbsp;<?= $order->invoice; ?></a>
                            <a href="<?= $this->url(array(
                              'controller' => 'tobacco-invoice',
                              'action' => 'prepare',
                              'id' => $order->id_invoice)) ?>" class="btn btn-mini"><i class="icon icon-edit"></i>&nbsp;</a>
                            </div>
                        </td>
                        <td>
                          <?= Meduse_Date::dbToForm($order->invoice_issue_date); ?>
                        </td>
                    <?php else: ?>
                        <td colspan="3" class="text-left">&mdash;</td>
                    <?php endif; ?>
                  </tr>
              <?php endforeach; ?>
              </table>
            <?php else: ?>
              <div class="alert alert-block">Zákazník zatím nemá přiřazeny žádné objednávky.</div>
            <?php endif; ?>
        </div>
    </div>
</div>

<script>
  $('#verify').click(function() {
    $.get('/tobacco-customers/ajax-verify-vat/customer/' + <?= $this->customer->getId(); ?>, function(data){
      var $btn = $('#verify');
      var $msg = $('#verify-message');
      if (data.status) {
        if (data.result) {
          $btn.html('validní').removeClass('btn-important').addClass('btn-success');
        }
        else {
          $btn.html('nevalidní').removeClass('btn-success').addClass('btn-important');
        }
        $msg.removeClass('alert').html('');
      }
      else {
        $msg.addClass('alert').html(data.message);
      }
    });
  });
</script>