<button id="report_bug" class="btn btn-mini no-print hidden-print" style="position: fixed; left: 10px; bottom: 10px;">
    Nahlásit problém</button>

<div class="modal fade" id="test_modal" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Hlášení problému</h3>
  </div>
  <div class="modal-body">
        <?php echo $this->partial('partials/bug-report-form.phtml', array('form' => new BugReportForm())); ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="bug_report_form_submit">Nahlásit problém</a>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#report_bug').mousedown(function(e){
            e.stopPropagation();
            e.preventDefault();
            $('#test_modal').modal('show');
            return false;
        });
        $('#bug_report_form_submit').click(function(){
            var valid = true;
            if($('#bug_title').val() == '') {
                $('#bug_title').css('background-color','orange');
                valid = false;
            } else {
                $('#bug_title').css('background-color','');
            }

            if($('#bug_desc').val() == '') {
                valid = false;
                $('#bug_desc').css('background-color','orange');
            } else {
                $('#bug_desc').css('background-color','');
            }
            if(valid) {
                $('#bug_report_form').submit();
                $('#test_modal').modal('hide');
            }
        });
    });
</script>