<a href="#" id="report_bug" class="btn btn-mini btn-warning" style="position: fixed; left: 10px; bottom: 10px;">
    Nahlásit problém</a>

<div id="dialog-bug-form" title="Hlášení problému">
    <?php echo $this->partial('partials/bug-report-form.phtml', array('form' => new BugReportForm())); ?>
</div>

<script type="text/javascript">

    $('#report_bug').click(function() {
        $( "#dialog-bug-form" ).dialog( "open" );
      });

    $( "#dialog-bug-form" ).dialog({
      autoOpen: false,
      height: 350,
      width: 350,
      modal: true,
      buttons: {
        "Zrušit": function() {
          $( this ).dialog( "close" );
        },
        "Nahlásit problém": function() {
            var valid = true;
            if($('#bug_title').val() == '') {
                $('#bug_title').css('background-color','orange');
                valid = false;
            } else {
                $('#bug_title').css('background-color','');
            }

            if($('#bug_desc').val() == '') {
                valid = false;
                $('#bug_desc').css('background-color','orange');
            } else {
                $('#bug_desc').css('background-color','');
            }

            if ( valid ) {
                $('#bug_report_form').submit();
                $( this ).dialog( "close" );
            }
        },
      },
      close: function() {
          $('#bug_title').css('background-color','');
          $('#bug_desc').css('background-color','');
          $( this ).dialog( "close" );
      }
    });
</script>