<style>
    .detail-title { line-height: 26px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #efefef; padding: 6px; background: #fafafa; }
    #parts-list tr th { background-color: #ebebeb; }
</style>
<?php if ($this->customer): ?>
<div class="row-fluid">
    <div class="span4">
        <div>
            <h4 class="detail-title">Fakturační adresa
                <?php if ($this->allow_edit_address): ?>
                  <div class="btn-group pull-right">
                    <a href="<?= $this->url(array(
                        'controller' => 'customers',
                        'action' => 'address',
                        'id' => NULL,
                        'customer' => $this->customer->getId())); ?>?destination=<?= $this->url(); ?>#infos" class="btn" title="Přidat adresu"><i class="icon icon-plus"></i></a>
                      <a data-address-type="billing" class="changeAddress btn" title="Zvolit adresu" href="#">
                        <i class="icon icon-list"></i></a>
                  </div>
                <?php endif; ?>
            </h4>
              <?= $this->order->addressInvoice; ?>
        </div>
    </div>
    <div class="span4">
        <h4 class="detail-title">Dodací adresa
          <?php if ($this->allow_edit_address): ?>
          <div class="btn-group pull-right">
            <a href="<?= $this->url(array(
                'controller' => 'customers',
                'action' => 'address',
                'id' => NULL,
                'customer' => $this->customer->getId())); ?>?destination=<?= $this->url(); ?>#infos" class="btn" title="Přidat adresu"><i class="icon icon-plus"></i></a>
              <a data-address-type="shipping" class="btn changeAddress" title="Zvolit adresu" href="#">
                <i class="icon icon-list"></i></a>
          </div>
          <?php endif; ?>
        </h4>
        <?= $this->order->address; ?>
    </div>
    <div class="span4">
      <h4 class="detail-title">Kontaktní údaje
        <?php if (Zend_Registry::get('acl')->isAllowed('customers/edit')): ?>
            <div class="pull-right text-right no-print">
                <span style="padding-right: 25px;">
                    <a class="btn btn-small" title="Upravit" href="<?= $this->baseUrl() ?>/customers/edit/id/<?= $this->customer->getId(); ?>"><i class="icon-edit"></i></a>
                </span>
            </div>
        <?php endif; ?>
      </h4>
      <table class="table table-condensed">
      <tr>
          <td>Jméno a příjmení:</td>
          <td ><?= $this->customer->getFirstName(); ?> <?= $this->customer->getLastName(); ?></td>
      </tr>
      <tr>
          <td>Telefon:</td>
          <td><?= $this->customer->getPhone(); ?></td>
      </tr>
      <tr>
          <td>E-mail:</td>
          <td><?= $this->customer->getEmail(); ?></td>
      </tr>
      <?php if ($this->customer->isB2B()): ?>
      <tr>
          <td>Firma:</td>
          <td><?= $this->customer->getCompany(); ?></td>
      </tr>
      <tr>
          <td>IČ / DIČ:</td>
          <td><?= $this->customer->getIdentNo(); ?> / <?= $this->customer->getVatNo(); ?></td>
      </tr>
      <?php endif; ?>
      </table>

    </div>
</div>
<?php endif; ?>

<!-- row -->
<div class="row-fluid">
    <div class="span<?= $this->order->isService()? 12 : 6; ?>">
        <h4 class="detail-title">Platba a úhrada</h4>
        <table class="table">
          <?php if (Utils::isAllowed('orders/special/expected-payment')): ?>
              <tr>
                  <td>Celková částka:</td>
                  <td class="text-right">
                    <strong>
                    <?= Meduse_Currency::format($this->order->getExpectedPayment(), $this->order->getExpectedPaymentCurrency()); ?>
                    </strong>
                  </td>
              </tr>
                <?php if ($this->order->getExpectedPaymentDeposit() !== NULL): ?>
                  <tr>
                      <td>Záloha <?= round($this->order->getExpectedPaymentDepositPercentage() * 100); ?> %:</td>
                      <td class="text-right"><?php if ($this->order->getRow()->expected_payment_deposit !== NULL)
                          echo Meduse_Currency::format($this->order->getExpectedPaymentDeposit(), $this->order->getExpectedPaymentCurrency()); ?></td>
                  </tr>
              <?php endif; ?>
          <?php endif; ?>
            <tr>
                <td>Doposud uhrazeno:</td>
                <td class="text-right"><?= round($this->order->getPaidPercentage() * 100); ?> %
                  <?php if (Utils::isAllowed('orders/special/expected-payment')): ?>
                    ~ <?= Meduse_Currency::format($this->order->getPaymentsSum(), $this->order->getExpectedPaymentCurrency()); ?>
                    <?php endif; ?>
                </td>
            </tr>
          <?php if ($this->order->getExpectedPaymentDeposit() !== NULL): ?>
            <tr>
                <td>Platba <?= round($this->order->getExpectedPaymentDepositPercentage() * 100); ?>% zálohy:</td>
                <td class="text-right"><?php if ($this->order->getDatePayDeposit() !== NULL)
                        echo Meduse_Date::dbToForm($this->order->getDatePayDeposit()); ?></td>
            </tr>
            <?php endif; ?>
            <tr>
                <td>Platba 100 %:</td>
                <td class="text-right"><?php if ($this->order->getDatePayAll() !== NULL)
                        echo Meduse_Date::dbToForm($this->order->getDatePayAll()); ?></td>
            </tr>
          <?php if (!empty($this->order->getRow()->date_payment_accept)): ?>
              <tr>
                  <td>Platba přišla:</td>
                  <td class="text-right"><?php echo Meduse_Date::dbToForm($this->order->getRow()->date_payment_accept); ?></td>
              </tr>
          <?php endif; ?>
            <tr>
                <td>Způsob platby:</td>
                <td class="text-right"><?php if (!empty($this->order->getRow()->payment_method))
                echo $this->paymentMethods[$this->order->getRow()->payment_method]; ?></td>
            </tr>
        </table>
    </div>
    <?php if (!$this->order->isService()): ?>
    <div class="span6">
      <h4 class="detail-title">Doprava</h4>
      <?php if ($this->order->getCarrier()): ?>

      <table class="table">
        <tr>
          <td>Dopravce:</td>
          <td class="text-right">
            <?= $this->order->getCarrier()->getName(); ?>
          </td>
        </tr>
        <tr>
          <td>Způsob dopravy:</td>
          <td class="text-right">
            <?= $this->order->getCarrierMethod(); ?>
          </td>
        </tr>
        <tr>
          <td>Cena dopravy:</td>
          <td class="text-right"><?php if (!is_null($this->order->getRow()->carrier_price)) {
              echo Meduse_Currency::format($this->order->getRow()->carrier_price, 'CZK');
            }
            else {
              echo '&ndash;';
            } ?></td>
        </tr>
        <?php if ($this->tracking->codes): ?>
        <tr>
          <td class="text-left">Tracking:</td>
          <td>
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>číslo</th>
                    <th>odkaz</th>
                  </tr>
                </thead>
                <tbody>
                <?php $i = 0; foreach ($this->tracking->codes as $item): $i++; ?>
                <tr>
                  <td><?= $i; ?></td>
                  <td><strong><?= $item['code']; ?></strong></td>
                  <td>
                    <?php if ($item['link']): ?>
                    <a href="<?= $item['link']; ?>" target="_blank"><?= $item['link']; ?></a>
                    <?php endif; ?>
                  </td>
                </tr>
                <?php endforeach; ?>
                </tbody>
              </table>
          </td>
        </tr>
        <?php endif; ?>
        <tr>
          <td colspan="2">
          </td>
        </tr>
      </table>
      <?php else: ?>
      <p>Dopravce není přiřazen.</p>
      <p>
        <a href="<?= $this->url(array(
        'controller' => 'order-edit',
        'action' => 'transport',
        'order' => $this->order->getID(),
        'id' => NULL,
        )); ?>" class="btn"><i class="icon icon-road"></i> Přiřadit</a>
      </p>
      <?php endif; ?>
      <?php if ($this->packagingItems): ?>
        <h4 class="detail-title">Rozměry a váha balení</h4>
        <table class="table table-condensed">
          <tr>
            <th class="text-right">#</th>
            <th>položka</th>
            <th class="text-right">šířka</th>
            <th class="text-right">hloubka</th>
            <th class="text-right">výška</th>
            <th class="text-right">objem</th>
            <th class="text-right">váha</th>
            <th></th>
          </tr>
          <?php $it = 1; ?>
          <?php foreach ($this->packagingItems as $item): ?>
            <tr>
              <td class="text-right"><?= $it++; ?></td>
              <td><?= Table_Packaging::$translate[$item['type']]; ?></td>
              <td class="text-right"><?= $item['width']; ?> cm</td>
              <td class="text-right"><?= $item['depth']; ?> cm</td>
              <td class="text-right"><?= $item['height']; ?> cm</td>
              <td class="text-right"><?= sprintf('%0.1f m<sup>3</sup>', $item['volume']); ?></td>
              <td class="text-right"><?= $item['weight_brutto']; ?> kg</td>
            </tr>
          <?php endforeach; ?>
          <tr>
            <td></td>
            <th colspan="4">celkem</th>
            <td class="text-right"><strong><?= sprintf('%0.1f m<sup>3</sup>', $this->packagingVolume); ?></strong></td>
            <td class="text-right"><strong><?= sprintf('%0.3f kg', $this->packagingWeight); ?></strong></td>
          </tr>
        </table>
      <?php else: ?>
        <p><strong>Balení a jeho rozměry a váha nejsou zadány.</strong></p>
      <?php endif; ?>
    </div>
  <?php endif; ?>
</div>
<!-- row -->
<div class="row-fluid">
    <div class="span6">

        <h4 class="detail-title">Ostatní informace</h4>
        <table class="table">
            <?php if (!empty($this->order->getRow()->proforma_no)) { ?>
                <tr>
                    <td style="width: 100px;">Proforma:</td>
                    <td><?= $this->order->getRow()->proforma_no; ?></td>
                </tr>
            <?php } ?>
            <tr>
                <td style="width: 100px;">Typ příjemce:</td>
                <td><?= isset($this->purchasers[$this->order->getRow()->purchaser]) ? $this->purchasers[$this->order->getRow()->purchaser] : "" ?></td>
            </tr>
            <tr>
              <td style="width: 100px;">COO:</td>
              <td><?= $this->order->isRequiredCOO() ? '<strong>ano</strong>' : 'ne' ?></td>
            </tr>
            <?php if ($this->order->isRequiredCOO()): ?>
              <tr>
                <td style="width: 100px;">COO vyřízeno:</td>
                <td>
                  <?= $this->order->getCOODateConfirm(TRUE); ?>
                  <button class="coo-dates-action btn btn-small"><i class="icon icon-edit"></i></button>
                </td>
              </tr>
              <tr>
                <td style="width: 100px;">COO platí do:</td>
                <td>
                  <?= $this->order->getCOODateValidity(TRUE); ?>
                  <button class="coo-dates-action btn btn-small"><i class="icon icon-edit"></i></button>
                </td>
              </tr>
            <?php endif; ?>
            <tr>
              <td style="width: 100px;">Ověření faktury:</td>
              <td><?= $this->order->isRequiredInvoiceVerify() ? '<strong>ano</strong>' : 'ne' ?></td>
            </tr>
            <tr>
                <td style="width: 100px;">Fixní poplatky:</td>
                <td>
                    <?php if ($this->fees): ?><?= implode('<br>', $this->fees); ?><?php else: ?>&mdash;<?php endif; ?>
                </td>
            </tr>
          <tr>
            <td style="width: 100px;">DI:</td>
            <td><?= $this->order->isDI() ? '<strong>ano</strong>' : 'ne' ?></td>
          </tr>
        </table>

        <h4 class="detail-title">Přiložené soubory</h4>

        <?php if ($this->files): ?>
          <table class="table table-condensed table-hover">
            <tbody>
              <?php foreach ($this->files as $item): ?>
                <tr>
                  <td><a href="<?= $this->url(['action' => 'file-download', 'fid' => $item['id']]); ?>" title="<?= $item['filename']; ?>"><?= $item['title'] ? $item['title'] : $item['filename']; ?></td>
                  <td><?= $item['created']; ?></td>
                  <td><?= $item['name']; ?></td>
                  <td class="text-right">
                    <a href="<?= $this->url(['action' => 'file-download', 'fid' => $item['id']]); ?>" title="<?= $item['filename']; ?>" class="btn btn-small btn-primary"><i class="icon icon-white icon-download"></i></a>
                    <a href="<?= $this->url(['action' => 'file-remove', 'fid' => $item['id']]); ?>" title="<?= $item['filename']; ?>" class="delete-file-action btn btn-small btn-danger"><i class="icon icon-white icon-remove"></i></a>
                  </td>
                </tr>
              <?php endforeach; ?>
            </tbody>
          </table>
        <?php else: ?>
          <p>K objednávce nejsou připojeny žádné soubory.</p>
        <?php endif; ?>

        <?= $this->uploadForm; ?>
    </div>
    <div class="span6">
        <h4 class="detail-title">Chronologie</h4>
        <table class="table">
            <tr>
                <td>Datum vložení:</td>
                <td class="text-right"><?= Meduse_Date::dbToForm($this->order->getDateRequest()); ?></td>
            </tr>
            <tr>
                <td>Datum otevření:</td>
                <td class="text-right"><?php if ($this->order->getDateOpen() !== NULL)
                echo Meduse_Date::dbToForm($this->order->getDateOpen()); ?></td>
            </tr>
            <tr>
                <td>Deadline:</td>
                <td class="text-right"><?php if ($this->order->getDeadline() !== NULL)
                        echo Meduse_Date::dbToForm($this->order->getDeadline()); ?></td>
            </tr>
          <tr>
            <td>Interní deadline:</td>
            <td class="text-right"><?php if ($this->order->getDeadlineInternal() !== NULL)
                echo Meduse_Date::dbToForm($this->order->getDeadlineInternal()); ?></td>
          </tr>
            <tr>
                <td>Datum expedice:</td>
                <td class="text-right"><?php if ($this->order->getDateExp() !== NULL)
                        echo Meduse_Date::dbToForm($this->order->getDateExp()); ?></td>
            </tr>
        </table>
    </div>
</div>

<script>
  $(document).ready(function(){
    $('.delete-file-action').on('click', function(){
      return confirm('Opravdu chcete smazat tento soubor?');
    });
  });
</script>