<h4 class="detail-title">Položky objednávky
    <?php if ($this->acl->isAllowed('orders/show-all-accessories')): ?>
    <span class="no-print">
        (<a href="<?= $this->baseUrl() ?>/orders/show-all-accessories/id/<?= $this->order->getID() ?>"> Detailní rozpis accessories</a>)
    </span>
    <?php endif; ?>
    <?php

    $permissonToEdit = false;
    if(($this->order->getStatus() == 'new' || $this->order->getStatus() == 'offer' || $this->order->getStatus() == 'confirmed')) {
        $permissonToEdit = true;
    }
    if(($this->order->getStatus() == 'open'
            || $this->order->getStatus() == 'strategic')
        && isset($_SESSION['Zend_Auth']['user_role'])
        && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))
    ) {
        $permissonToEdit = true;
    }

    if($permissonToEdit && $this->allow_edit): ?>
        <a class="btn btn-primary btn-small pull-right no-print" title="Přidat položku" href="<?= $this->baseUrl() ?>/orders/select-products/order/<?= $this->order->getID(); ?>"> <i class="icon-edit icon-white"></i> Editace položek</a>
    <?php endif; ?>
</h4>
<ul class="nav nav-tabs no-print">
    <li class="active"><a href="#">Skočit na</a></li>
<?php
$lastCtgId = null;
foreach ($this->rows as $row) {
    if ($lastCtgId != $row->ctg_id) {
        $lastCtgId = $row->ctg_id;
        echo '<li><a href="#' . $row->ctg_name . '">' . ucfirst($row->ctg_name) . '</a></li>';
    }
}
?>
</ul>
<table class="table table-hover table-condensed" id="parts-list">

    <?php
    $tCtg = new Table_PartsCtg();
    $lastCtg = null;
    foreach ($this->rows as $row)
    {
        if ($lastCtg != $row->ctg_id) {
            $lastCtg = $row->ctg_id;
            ?>
            <tr>
                <th colspan="10" class="section"><a name="<?= $row->ctg_name; ?>"></a><?= $tCtg->getCategoryName($lastCtg) ?></th>
            </tr>
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">Název</th>
                <th rowspan="2" class="text-right">HS</th>
                <th rowspan="2" class="text-center">Kolekce</th>
                <th rowspan="2">Popis</th>
                <th colspan="4" class="text-right">Množství [ks]</th>
                <th rowspan="2" class="no-print">&nbsp;</th>
            </tr>
            <tr>
              <th class="text-right">placené</th>
              <th class="text-right">zdarma</th>
              <th class="text-right">celkem</th>
              <th class="text-right">rezervace</th>
            </tr>
            <?php
        }
        ?>
        <tr>
            <td style="text-align: left;">
              <?php if ($this->acl->isAllowed('orders/product-parts')): ?>
                <a href="<?= $this->baseUrl() ?>/orders/product-parts/product/<?= $row['id_products'] ?>"><?= $row['id_products'] ?></a>
              <?php else: ?>
                <?= $row['id_products'] ?>
              <?php endif; ?>
            </td>
            <td style="text-align: left;"><?= $row['name'] ?></td>
            <td class="text-right">
              <?php if ($this->acl->isAllowed('orders/ajax-hs-save')): ?>
              <button id="hs_<?= $row['id_products'] ?>" data-original="<?=$row['hs']?>" class="btn btn-small hs"><nobr><span class='value'><?=$row['hs_code']?></span> <i class="icon icon-pencil"></i></nobr></button>
              <?php else: ?>
              <?=$row['hs_code']?>
              <?php endif; ?>
            </td>
            <td style="text-align: center;"><?= ($row['c_name'] == '' ? 'pro vše' : $row['c_name'] ) ?></td>
            <td><?= $row['description'] ?></td>

            <!-- Pocty produktu -->
            <td class="text-right">
              <!-- Placene -->
              <?php if ($permissonToEdit && $this->allow_edit): ?>
                <a href="<?= $this->baseUrl() ?>/orders/edit-product-amount/id/<?= $this->order->getID() ?>/product/<?= $row['id_products'] ?>/"><?= $row['amount'] - $row['free_amount']?></a>
              <?php else: ?>
                <?= $row['amount'] - $row['free_amount']; ?>
              <?php endif; ?>
            </td>
            <td class="text-right">
              <!-- Zdarma -->
              <?php if ($permissonToEdit && $this->allow_edit): ?>
                <a href="<?= $this->baseUrl() ?>/orders/edit-free-item-amount/id/<?= $this->order->getID() ?>/product/<?= $row['id_products'] ?>/"><?= (($row['free_amount'] > 0) ? $row['free_amount'] : 0); ?></a>
              <?php else: ?>
                <?= $row['free_amount']; ?>
              <?php endif; ?>
            </td>
            <td class="text-right">
              <!-- Celkem -->
              <strong><?= $row['amount']; ?></strong>
            </td>
            <td class="text-right">
              <!-- Rezervace -->
              <?php if ($this->order->getStatus() != 'closed'): ?>
                <?= $this->order->getReadyProductAmount($row['id_products']); ?>
              <?php else: ?>
                vše
              <?php endif; ?>
            </td>

            <td class="no-print"><?php if ($permissonToEdit && $this->allow_edit) { ?><a class="btn btn-danger btn-small" title="Odebrat" href="/orders/delete-item/order/<?= $this->order->getID() ?>/item/<?= $row['id_products'] ?>" onClick="return confirm('Opravdu chcete tuto položku objednávky odstranit?')"><i class="icon-remove icon-white"></i></a><?php } else {
                if ($this->order->getStatus() == 'closed') {
                    echo "expedováno";
                }
            }?></td>
        </tr>
        <?php
    }
    ?>
    <tr><th colspan="10" class="section">&nbsp;</th> </tr>
</table>

<?php if ($this->pipeSummary) { ?>

    <table class="table table-bordered" style="width: 400px; margin-top: 50px; margin-bottom: 50px;">
        <tr>
            <th colspan="10">Součty setů dýmek</th>
        </tr>
        <tr>
            <th>Kolekce</th>
            <th class="text-right">Počet</th>
        </tr>
        <?php
        $tCtg = new Table_PartsCtg();
        $lastCtg = null;
        $sum = 0;
        foreach ($this->pipeSummary as $row)
        {
            $sum += (int) $row->amount;
            ?>
            <tr class="lines">
                <td><?php echo $row->c_name; ?></td>
                <td class="text-right"><?php echo $row->amount; ?> ks</td>
            </tr>
            <?php
        }
        ?>
        <tr><th class="section">Celkem</th><th class="text-right"><?= $sum ?> ks</th> </tr>
    </table>

<?php } ?>


<div class="modal fade" id="hs-modal-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Volba HS kódu</h3>
  </div>
  <div class="modal-body">
        <?=$this->hsForm?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="hs-modal-dialog-submit">Uložit</a>
  </div>
</div>


<script type="text/javascript">

  $('.hs').click(function() {
    const
      productId = $(this).attr('id').substr(3),
      hsCode = $('.value', this).text().trim(),
      original = $(this).data('original');

    openHsDialog(productId, hsCode, original);
  });

  $('#hs-modal-dialog-submit').click(function() {

    const
      orderId = $('#hs-modal-dialog form #order_id').val(),
      productId = $('#hs-modal-dialog form #product_id').val(),
      hsCode = $('#hs-modal-dialog form #form_element_hs_code input:checked').val();

    $.post("/orders/ajax-hs-save", {
        orderId: orderId,
        productId: productId,
        hsCode: hsCode
      }, function() {
        $('button#hs_' + productId + ' .value').text(hsCode);
        $('#hs-modal-dialog').modal('hide');
      });
  });

  function openHsDialog(partId, hsCode, original) {
    $('#hs-modal-dialog form #product_id').val(partId);
    $('#hs-modal-dialog form #form_element_hs_code label:first .text').html('<strong>' + original + '</strong>: (původní)');
    $('#hs-modal-dialog form #form_element_hs_code input:first').val(original);
    let
      changed = false,
      checked;
    $('#hs-modal-dialog form #form_element_hs_code input').each(function(){
      checked = $(this).val() === hsCode;
      $(this).prop('checked', checked);
      changed ||= checked;
    });
    $('#hs-modal-dialog form #form_element_hs_code input:first').prop('checked', !changed);
    $('#hs-modal-dialog').modal('show');
  }


</script>