<div>
    <?php

    $permissonToEdit = false;
    if(($this->order->getStatus() == 'new' || $this->order->getStatus() == 'offer' || $this->order->getStatus() == 'confirmed')) {
        $permissonToEdit = true;
    }
    if(($this->order->getStatus() == 'open'
            || $this->order->getStatus() == 'strategic')
        && isset($_SESSION['Zend_Auth']['user_role'])
        && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))
    ) {
        $permissonToEdit = true;
    }

    if ($permissonToEdit) {
    ?>
        <a class="btn btn-primary btn-small pull-right no-print" title="Přidat položku" href="<?= $this->baseUrl() ?>/order-edit/services/order/<?= $this->order->getID(); ?>"> <i class="icon-edit icon-white"></i> Editace položek</a>
    <?php } ?>
</div>



<table class="table table-hover table-condensed" id="services-list">

  <thead>
    <tr>
      <th style="width: 75%">Popis služby</th>
      <th class="text-right" style="width: 10%">Jedn. cena<br />bez DPH</th>
      <th class="text-center" style="width: 5%">Množství</th>
      <th class="text-right" style="width: 10%">Celkem<br />bez DPH</th>
    </tr>
  </thead>
  <tbody>
    <?php $total = 0; foreach ($this->rows as $row): ?>
      <tr class="service-row">
        <td><?= $row['description']; ?></td>
        <td class="text-right"><?= Meduse_Currency::format($row['price']); ?></td>
        <td class="text-center"><?= $row['qty']; ?></td>
        <td class="text-right"><?= Meduse_Currency::format($row['price'] * $row['qty']); ?></td>
      </tr>
    <?php $total += $row['price'] * $row['qty']; endforeach; ?>
  </tbody>
  <tfoot>
    <tr>
      <th>CELKEM bez DPH</th>
      <th colspan="2">&nbsp;</th>
      <th class="text-right"><?= Meduse_Currency::format($total); ?></th>
  </tfoot>
</table>

