<?php if ($this->allow_invoices): ?>
    <?php if ($this->order->hasItems()): ?>
    <div class="pull-right btn-group">
      <a class="btn btn-success<?= $this->order->getDefaultInvoiceType() == Table_Invoices::TYPE_PROFORM ? ' iwarning' : ''; ?>"
         href="<?= $this->url(array('controller' => 'invoice', 'action' => 'prepare', 'id' => NULL, 'order' => $this->order->getID())); ?>">
      <i class="icon icon-plus icon-white"></i> Vystavit dokument</a>
      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>&nbsp;
      </button>
      <ul class="dropdown-menu">
        <li><a href="<?= $this->url(array(
            'controller' => 'invoice', 'action' => 'prepare',
            'id' => NULL, 'order' => $this->order->getID(), 'type' => Table_Invoices::TYPE_OFFER)) ?>">nabídku</a></li>
        <li><a class="iwarning" href="<?= $this->url(array(
          'controller' => 'invoice', 'action' => 'prepare',
          'id' => NULL, 'order' => $this->order->getID(), 'type' => Table_Invoices::TYPE_PROFORM)) ?>">proformu</a></li>
        <li><a class="iwarningreg" href="<?= $this->url(array(
          'controller' => 'invoice', 'action' => 'prepare',
          'id' => NULL, 'order' => $this->order->getID(), 'type' => Table_Invoices::TYPE_REGULAR)) ?>">fakturu</a></li>
      </ul>

    </div>
    <?php endif; ?>
<?php endif; ?>
<h3>Vystavené faktury a jejich úhrady</h3>

<?php if ($this->invoices): ?>
  <table class="table table-condensed">
    <thead>
    <tr>
        <th colspan="<?= $this->allow_invoices ? 5 : 4 ?>">Faktura</th>
        <th colspan="<?= $this->allow_invoices ? 6 : 3 ?>">Úhrada</th>
        <th></th>
    </tr>
    <tr>
        <th colspan="<?= $this->allow_invoices ? 2 : 1 ?>">číslo</th>
        <th>typ</th>
        <th class="text-right">částka</th>
        <th>vystaveno</th>
        <th>datum</th>
        <th class="text-right">částka</th>
        <th>způsob</th>
        <th>poznámka</th>
        <?php if ($this->allow_invoices): ?>
            <th>doklad</th>
            <th></th>
            <th></th>
        <?php endif ?>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->invoices as $invoice): ?>
        <?php $idx = 0; ?>
        <?php $payments = $invoice->getPayments(); ?>
        <?php $paymentsCount = count($payments); ?>
        <?php $rowSpan = $paymentsCount ?: 1; ?>
        <?php while ($idx === 0 || $payments): ?>
          <?php $payment = array_shift($payments); ?>
          <tr>
            <?php if ($idx === 0): ?>
                <td rowspan="<?= $rowSpan; ?>"><a href="<?= $this->url(array(
                  'controller' => 'invoice', 'action' => 'download', 'id' => $invoice->getId(),)); ?>"
                       class="<?= $this->order->getPaymentMethod() == Table_Orders::PM_CASH && $invoice->isRegular() ? 'payment-alert' : ''; ?>">
                    <?php $no = $invoice->getNo(); if ($no) echo $no; else echo 'n/a'; ?></a></td>

                <?php if ($this->allow_invoices): ?>
                    <td rowspan="<?= $rowSpan ?>">
                      <?php if (!$invoice->isLocked() || in_array('accountant_pipes', $_SESSION['Zend_Auth']['user_role'])): ?>
                      <a class="btn btn-small" href="<?= $this->url(array(
                      'controller' => 'invoice', 'action' => 'prepare', 'id' => $invoice->getId(),)); ?>">
                        <i class="icon icon-edit"></i></a>
                      <?php endif; ?></td>
                    <?php endif ?>

                <td rowspan="<?= $rowSpan; ?>"><?= $invoice->getTypeTranslated(); ?></td>
                <td rowspan="<?= $rowSpan; ?>" class="text-right"><?= Meduse_Currency::format($invoice->getInvoicedPrice(FALSE), $invoice->getCurrency()); ?></td>
                <td rowspan="<?= $rowSpan; ?>"><?= Meduse_Date::dbToForm($invoice->getIssueDate()); ?></td>
            <?php endif; ?>

            <?php if ($payment): ?>
                <td><?= Meduse_Date::dbToForm($payment->getDate()); ?></td>
                <td class="text-right"><?= Meduse_Currency::format($payment->getAmount(), $payment->getCurrency()); ?></td>
                <td><?= $payment->getMethod(TRUE) ?></td>
                <td><?= $payment->getNote() ?></td>
                <?php if ($this->allow_invoices): ?>
                    <td><?php if ($payment->getNo()): ?>
                          <a class="btn btn-mini" href="<?= $this->url(array(
                            'controller' => 'invoice', 'action' => 'payment-get-recipe', 'id' => $payment->getId()
                          ));?>"><i class="icon icon-download"></i> <?= $payment->getNo(); ?></a>
                      <?php endif; ?>
                    </td>
                    <td>
                        <a class="btn btn-mini btn-danger" title="Odebrat úhradu" href="<?= $this->url(array(
                        'controller' => 'invoice',
                        'action' => 'payment-remove',
                        'id' => $payment->getId(),
                        'back' => base64_encode($this->url() . '#invoices'),
                      ))?>"><i class="icon icon-white icon-remove"></i>&nbsp;</a>

                        <?php if (!$invoice->isRegular() && $this->regular_invoice_id && !$payment->getNo()): ?>
                            <a class="btn btn-mini btn-success" title="Přesunout úhradu na fakturu" href="<?= $this->url([
                                    'controller' => 'invoice',
                                    'action' => 'payment-move-to',
                                    'id' => $payment->getId(),
                                    'to' => $this->regular_invoice_id,
                                    'back' => base64_encode($this->url() . '#invoices'),
                            ]) ?>"><i class="icon icon-white icon-fast-forward"></i>&nbsp;</a>
                        <?php endif; ?>
                    </td>
                <?php endif; ?>
              <?php else: ?>
                <td colspan="6" class="text-center">&mdash;</td>
              <?php endif; ?>

            <?php if ($idx === 0 && $this->allow_invoices): ?>
            <td rowspan="<?= $rowSpan ?>" style="width: 10px;">
              <?php if (!$invoice->isPaid() && ($invoice->isProform() || $invoice->isRegular())): ?>
                <a class="btn btn-small" href="<?= $this->url(array(
                  'controller' => 'invoice',
                  'action' => 'payment-add',
                  'invoice' => $invoice->getId(),
                  'id' => NULL,
                  'back' => base64_encode($this->url() . '#invoices'),
                ))?>" title="Přidat úhradu"><i class="icon icon-plus"></i></a>
              <?php endif; ?>
            </td>
            <?php endif; ?>
          </tr>
      <?php $idx++; ?>
    <?php endwhile; ?>
    <?php endforeach; ?>
    </tbody>
  </table>
<?php else: ?>
<p><em>K objednávce nebyly vystaveny doposud žádné faktury.</em><br><br><br><br></p>

<?php endif; ?>

<div id="invoiceModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pozor!</h3>
  </div>
  <div class="modal-body row-fluid">
    <p><strong>Jsi si opravdu jistý, že potřebuješ vystavit PROFORMA fakturu?</strong></p>
    <p>Než ji skutečně vystavíš, věnuj prosím pozornost následujícímu vysvětlení:</p>
    <p>Proforma faktura nebo taky zálohová faktura je dokument o množství a ceně, který zasíláme dopředu <strong>před</strong>
      dodáním zboží nebo poskytnutím služeb. Časově předchází zaslání faktury a proforma faktura <strong>není účetním dokladem.</strong>
      Po zaplacení proforma faktury musíme vystavit normální fakturu (daňový doklad).</p>
    <p><u>Proforma se <strong>vystaví</strong> v případě:</u></p>
    <ol>
      <li>budeme pořádat event a potřebujeme od zákazníka zálohu před jeho uskutečněním</li>
      <li>budeme dodávat zboží a potřebujeme zálohu na nákup materiálu</li>
    </ol>
    <p><u>Proforma se <strong>nevystaví</strong> v případě:</u></p>
    <ol>
      <li>event se již konal - my vystavíme fakturu s datem uskutečnění zdanitelného plnění (DUZP) toho dne, kdy se event konal - datum vystavení bude do 15ti dnů od DUZP</li>
      <li>zboží již bylo odesláno, předáno zákazníkovi - my vystavíme fakturu s DUZP toho dne, kdy bylo zboží odesláno, předáno zákazníkovi</li>
    </ol>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Storno</a>
    <a href="<?= $this->url(array(
      'controller' => 'invoice', 'action' => 'prepare',
      'id' => NULL, 'order' => $this->order->getID(), 'type' => Table_Invoices::TYPE_PROFORM)); ?>" class="btn btn-primary">Vystavit</a>
  </div>
</div>

<div id="invoiceRegModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pozor!</h3>
  </div>
  <div class="modal-body row-fluid">
    <?php if (!$this->order->isPaid()): ?>
    <p>
      <strong>Objednávka není plně uhrazená. Prosím doplňte úhrady!</strong>
    </p>
    <?php endif; ?>
    <p><strong>Faktura se vystavuje dnem vyskladnění zboží (nebo poskytnutí služby),<br>
        dříve to nelze!</strong></p><p>Faktura může být vystavena i do 15ti dnů od data UZP
      (datum uskutečnění<br>zdanitelného plnění), tedy maximálně do 15 dnů od data
      expedice zboží.</p><p>Prosím zkontrolujte si u vedoucího skladu,
      zda bylo zboží skutečně vyexpedováno!</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Storno</a>
    <a href="<?= $this->url(array(
      'controller' => 'invoice', 'action' => 'prepare',
      'id' => NULL, 'order' => $this->order->getID(), 'type' => Table_Invoices::TYPE_REGULAR)); ?>" class="btn btn-primary">Vystavit</a>
  </div>
</div>

<div id="alertModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Nezapomeň na pokladní doklad</h3>
  </div>
  <div class="modal-body row-fluid">
    <p>Faktura je hrazená v hotovosti, je potřeba vystavit příjmový pokladní doklad!</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">OK</a>
  </div>
</div>

<script type="text/javascript">
  jQuery(function($){
    $('.iwarning').click(function(){
      $('#invoiceModal').modal('show');
      return false;
    });
    $('.iwarningreg').click(function(){
      $('#invoiceRegModal').modal('show');
      return false;
    });
    $('.payment-alert').click(function(){
      var $alert = $('#alertModal');
      $alert.find('a.btn').attr('href', $(this).attr('href'));
      $alert.modal('show');
      return false;
    });
    $('.remove').click(function(){
      return confirm('Opravdu chcete odstranit tuto úhradu?');
    });
  });

</script>
