<style>
  #packaging-table select,
  #tracking-table td.link input {
    width: 100%;
  }
  #packaging-table input {
    text-align: right;
  }

  #packaging-row-blank,
  #tracking-row-blank {
    display: none;
  }

  #packaging-table .error {
    background-color: red;
    color: white;
  }
</style>

<script>
  $(document).ready(function(){
    $('#packaging-row-add').on('click', function(){
      const
        $form = $('#packaging-form'),
        $blank = $('#packaging-row-blank'),
        $new = $blank.clone(),
        cnt = $('.packaging-row').length - 1;

      $new.attr('id', 'packaging-row-' + cnt);
      $new.find('.form-element').each(function(){
        $(this).attr('id', $(this).attr('id') + '_' + cnt);
      });
      $new.find('input, select').each(function(){
        $(this).attr('id', $(this).attr('id') + '_' + cnt);
        $(this).attr('name', $(this).attr('name') + '_' + cnt);
        if ($(this).attr('type') === 'text') {
          $(this).on('change', function(){
            parse($(this));
          });
        }
      });
      $new.find('td.counter').text(cnt + 1 + '.');
      $blank.before($new);
      $form.find('input#count').val(cnt + 1);
      return false;
    });
    $('.packaging-row input[type="text"]').on('change', function(){
      parse($(this));
    });
    $('#packaging-form').on('submit', function(){
      let valid = true;
      $(this).find('tr:not(#packaging-row-blank) input[type="text"]').each(function(){
        if ($(this).val() === '0' || $(this).val() === '') {
          if ($(this).parents('tr').find('input[type="checkbox"]:checked').length === 0) {
            valid = false;
            $(this).addClass('error');
          }
          else {
            $(this).removeClass('error');
          }
        }
        else {
          $(this).removeClass('error');
        }
      });
      if (valid) {
        $(this).find('#packaging-row-blank').remove();
      }
      return valid;
    });


    $('#tracking-row-add').on('click', function(){

      const
        $form = $('#tracking-form'),
        $blank = $('#tracking-row-blank'),
        $new = $blank.clone(),
        cnt = $('.tracking-row').length - 1;

      $new.attr('id', 'tracking-row-' + cnt);
      $new.find('.form-element').each(function(){
        $(this).attr('id', $(this).attr('id') + '_' + cnt);
      });
      $new.find('input').each(function(){
        $(this).attr('id', $(this).attr('id') + '_' + cnt);
        $(this).attr('name', $(this).attr('name') + '_' + cnt);
      });
      $new.find('td.counter').text(cnt + 1 + '.');
      $blank.before($new);
      $form.find('#count_tracking').val(cnt + 1);
      return false;
    });

  });
  function parse($element) {

    let
      oldval = $element.val(),
      newval;

    if ($element.attr('name').startsWith('weight_')) {
      oldval = oldval.replace(',', '.');
      newval = parseFloat(oldval);
    }
    else {
      newval = parseInt(oldval);
    }
    if (isNaN(newval)) {
      $element.val(0);
    }
    else {
      $element.val(newval);
    }
  }
</script>

<?php
  if ($this->packaging->is_allowed):
    /** @var Orders_PackagingForm $form */
    $form = $this->packaging->form;
?>
    <form id="packaging-form" class="<?= $form->getAttrib('class'); ?>" action="<?= $form->getAction(); ?>" method="<?= $form->getMethod(); ?>">
      <?= $form->id_orders; ?>
      <?= $form->count; ?>
      <h4><?= $form->getLegend(); ?></h4>
      <table id="packaging-table" class="table table-condensed">
        <thead>
          <tr>
            <th class="text-right" rowspan="2">#</th>
            <th rowspan="2">typ</th>
            <th class="text-center" colspan="3">rozměry [cm]</th>
            <th class="text-right" rowspan="2">váha [kg]</th>
            <th class="text-center" rowspan="2"><i class="icon icon-remove"></i></th>
          </tr>
          <tr>
            <th class="text-right">šířka</th>
            <th class="text-right">hloubka</th>
            <th class="text-right">výška</th>
          </tr>
        </thead>
        <tbody>
          <?php for ($it = 0; $it < $this->packaging->count; $it++): ?>
            <tr id="packaging-row-<?= $it; ?>" class="packaging-row">
              <?= $form->{'id_' . $it}; ?>
              <td class="text-right counter"><?= $it + 1; ?>.</td>
              <td class="text-right"><?= $form->{'type_' . $it}; ?></td>
              <td class="text-right"><?= $form->{'width_' . $it}; ?></td>
              <td class="text-right"><?= $form->{'depth_' . $it}; ?></td>
              <td class="text-right"><?= $form->{'height_' . $it}; ?></td>
              <td class="text-right"><?= $form->{'weight_' . $it}; ?></td>
              <td class="text-center"><?= $form->{'remove_' . $it}; ?></td>
            </tr>
          <?php endfor; ?>
          <tr id="packaging-row-blank" class="packaging-row">
            <?= $form->{'id'}; ?>
            <td class="text-right counter"></td>
            <td class="text-right"><?= $form->{'type'}; ?></td>
            <td class="text-right"><?= $form->{'width'}; ?></td>
            <td class="text-right"><?= $form->{'depth'}; ?></td>
            <td class="text-right"><?= $form->{'height'}; ?></td>
            <td class="text-right"><?= $form->{'weight'}; ?></td>
            <td class="text-center"><?= $form->{'remove'}; ?></td>
          </tr>
        </tbody>
      </table>

      <div class="pull-left">
        <button id="packaging-row-add" class="btn btn-small btn-success"><i class="icon icon-plus icon-white"></i> přidat položku</button>
      </div>
      <div class="pull-right">
        <?= $form->save; ?>
      </div>
    </form>
<?php endif; ?>




<?php
  if ($this->tracking->is_allowed):
    if (in_array($this->order->getStatus(), array('open', 'closed'))):
      /** @var \Orders_TrackingNoForm $trackingForm */
      $trackingForm = $this->tracking->form;
?>
      <form id="tracking-form" style="clear: both;" class="<?= $trackingForm->getAttrib('class'); ?>" action="<?= $trackingForm->getAction(); ?>" method="<?= $trackingForm->getMethod(); ?>">
        <?= $trackingForm->tracking_id_orders; ?>
        <?= $trackingForm->count_tracking; ?>
        <h4><?= $trackingForm->getLegend(); ?></h4>
        <table id="tracking-table" class="table table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th>kód</th>
            <th>link</th>
            <th><i class="icon icon-remove"></i></th>
          </tr>
          </thead>
          <tbody>
          <?php for ($it = 0; $it < $this->tracking->count; $it++): ?>
            <tr id="tracking-row-<?= $it; ?>" class="tracking-row">
              <?= $trackingForm->{'tracking_id_' . $it}; ?>
              <td class="counter"><?= $it + 1; ?>.</td>
              <td><?= $trackingForm->{'tracking_code_' . $it}; ?></td>
              <td class="link"><?= $trackingForm->{'tracking_link_' . $it}; ?></td>
              <td><?= $trackingForm->{'tracking_remove_' . $it}; ?></td>
            </tr>
          <?php endfor; ?>
          <tr id="tracking-row-blank" class="tracking-row">
            <?= $trackingForm->{'tracking_id'}; ?>
            <td class="counter"></td>
            <td><?= $trackingForm->{'tracking_code'}; ?></td>
            <td class="link"><?= $trackingForm->{'tracking_link'}; ?></td>
            <td><?= $trackingForm->{'tracking_remove'}; ?></td>
          </tr>
          </tbody>
        </table>

        <div class="pull-left">
          <button id="tracking-row-add" class="btn btn-small btn-success"><i class="icon icon-plus icon-white"></i> přidat položku</button>
        </div>
        <div class="pull-right">
          <?= $trackingForm->save_tracking; ?>
        </div>
      </form>
    <?php endif; ?>
  <?php endif; ?>
