<style>
    .detail-title { line-height: 26px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #efefef; padding: 6px; background: #fafafa; }
    #parts-list tr th { background-color: #ebebeb; }
</style>

<!-- row -->
<div class="">
    <div>
        <h4 class="detail-title">Detaily</h4>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <!-- left side -->
                <table class="table">
                    <tr>
                        <td style="width: 20%;">ID:</td>
                        <td><?= $this->part->getID(); ?></td>
                    </tr>
                    <tr>
                        <td>Kolekce:</td>
                        <?php
                            // set fixed seperator
                            $this->coll->coll->setSeparator("");
                        ?>
                        <td> <?php echo $this->coll->coll/*->renderViewHelper()*/; ?> </td>
                    </tr>
                    <tr>
                        <td>Kategorie:</td>
                        <td><?= $this->part->getCtgName(); ?></td>
                    </tr>
                    <tr>
                        <td>Název:</td>
                        <td><?= $this->part->getName(); ?></td>
                    </tr>
                    <tr>
                        <td>Poznámka:</td>
                        <td><?= $this->part->getDesc(); ?></td>
                    </tr>
                    <tr>
                        <td>Verze:</td>
                        <td><?= $this->part->getVersion() ?></td>
                    </tr>
                    <?php /*1*/ if($this->part->isProduct()): ?>
                    <tr>
                        <td>EAN kód:</td>
                        <td>
                            <?php /*2*/ if($this->ean): ?>
                                <?php echo substr($this->ean->prefix, 0, 3) . ' '
                                        . substr($this->ean->prefix, 3, 4) . ' '
                                        . $this->ean->code . ' '
                                        . $this->ean->chnum;
                                ?>
                                <img alt="barcode" style="float: right;" src="/parts/get-barcode/id/<?php echo $this->part->getID(); ?>" />
                            <?php /*2*/ endif; ?>
                        </td>
                    </tr>
                    <tr>
                        <td>HS code:</td>
                        <td><?= $this->part->getRow()->hs ?></td>
                    </tr>
                    <?php /*1*/ endif; ?>
                </table>
        </div>
        <div class="span6">
            <!-- right side -->
            <table class="table">
                <tr>
                    <td>Set součástí:</td>
                    <td>
                        <?= ($this->part->isSetPart()) ? "Ano" : "Ne"; ?><a class="btn btn-normal btn-small pull-right" href="<?=$this->baseUrl()?>/parts/toggle-set/id/<?=$this->part->getID(); ?>"><?= ($this->part->isSetPart()) ? "Není set" : "Nastavit jako set"; ?></a>
                    </td>
                </tr>

                <tr>
                    <td>Produkt:</td>
                    <td>
                      <?= ($this->part->isProduct()) ? "Ano" : "Ne"; ?>
                      <a class="btn btn-normal btn-small pull-right"
                         href="<?=$this->baseUrl()?>/parts/toggle-product/id/<?=$this->part->getID(); ?>">
                        <?= ($this->part->isProduct()) ? "Není produkt" : "Nastavit jako produkt"; ?></a>
                    </td>
                </tr>
                <?php if ($this->designatedFor): ?>
                  <tr>
                    <td>Určeno pro:</td>
                    <td>
                      <?= $this->designatedFor; ?>
                      <a class="btn btn-normal btn-small pull-right"
                         href="<?= $this->url(['action' => 'toggle-designated-for']); ?>">
                        Přepnout na <?= $this->designatedForToggle; ?></a>
                    </td>
                  </tr>
                <?php endif; ?>
                <tr>
                    <td>Polotovar:</td>
                    <td>
                        <?= ($this->part->isSemifinished()) ? "Ano" : "Ne"; ?><a class="btn btn-normal btn-small pull-right" href="<?=$this->baseUrl()?>/parts/toggle-semifinished/id/<?=$this->part->getID(); ?>"><?= ($this->part->isSemifinished()) ? "Není polotovar" : "Nastavit jako polotovar"; ?></a>
                    </td>
                </tr>
                <tr>
                    <td>Skladem:</td>
                    <td>
                        <?= $this->amount ?> ks
                        <?php /*1*/ if($this->extern_warehouses): ?>
                        <br />z toho v externích skladech:
                        <table>
                            <?php foreach($this->extern_warehouses as $row): ?>
                            <tr>
                                <td style="background-color: white;"><?= $row['name'] ?></td>
                                <td style="background-color: white;"><?= $row['amount'] ?></td>
                                <td style="background-color: white;"><a href="<?=$this->baseUrl()?>/parts/extern-move-back/part/<?=$this->part->getID()?>/extern/<?= $row['id'] ?>">přesunout zpět</a></td>
                                <td style="background-color: white;"><a href="<?=$this->baseUrl()?>/parts/reduce-extern-amount/part/<?=$this->part->getID()?>/wh/<?= $row['id'] ?>">vyřadit</a></td>
                            </tr>
                            <?php endforeach; ?>
                        </table>
                        <?php /*1*/ endif; ?>
                    </td>
                </tr>
                <?php
                /**
                 * Dodavatel
                 */
                /*1*/ if (Zend_Registry::get('acl')->isAllowed('parts/detail/producer')):
                    $tProducerParts = new Table_ProducersParts();
                    $producer = $tProducerParts->getProducer($this->part->getID());
                    $tProducers = new Table_Producers();
                    $producerRow = $tProducers->find($producer)->current();
                ?>
                <tr>
                    <td>Dodavatel:</td>
                    <td>
                    <?php /*2*/ if($producerRow): ?>
                        <a href="<?=$this->baseUrl()?>/producers/detail/id/<?=$producerRow->id?>"><?= $producerRow->name; //.' ('.$producerRow->activity.')' ?></a>
                        <a class="btn btn-danger btn-small" href="<?=$this->baseUrl()?>/producers/remove-part/part/<?=$this->part->getID()?>" onClick="return confirm('Opravdu chcete odebrat dodavatele?')"><i class="icon-remove icon-white"></i></a>
                    <?php /*2*/ else: ?>
                        <div style="text-align: right;">
                            <a class="btn btn-normal btn-small" href="<?=$this->baseUrl()?>/parts/select-producer/part/<?=$this->part->getID()?>"><i class="icon-plus"></i> Přiřadit dodavatele</a>
                        </div>
                    <?php /*2*/ endif; ?>
                    </td>
                </tr>
                <?php /*1*/ endif; ?>

                <?php
                /**
                 * Cena
                 */
                /*1*/ if (Zend_Registry::get('acl')->isAllowed('parts/detail/price')): ?>

                    <tr>
                      <td colspan="2">
                        <table class="table table-condensed">
                          <thead>
                            <tr>
                              <th>VC [CZK]</th>
                              <th class="text-right">Kus</th>
                              <th class="text-right">Celkem</th>
                            </tr>
                          </thead>
                          <tbody>
                            <?php /*2*/ if ($this->part->getProducer()): ?>
                            <tr>
                              <td>pořízení</td>
                              <td class="text-right"><?php echo number_format($this->part->getProducerPrice(), 2, ',', ' '); ?></td>
                              <td class="text-right"><?php echo number_format($this->part->getProducerPrice() * $this->amount, 2, ',', ' '); ?></td>
                            </tr>
                            <?php /*2*/ endif; ?>
                            <?php /*2*/ if ($this->part->isMultipart()): ?>
                            <tr>
                              <td>vstup</td>
                              <td class="text-right"><?php echo number_format($this->part->getPrice() - $this->operationsSum - $this->part->getProducerPrice(), 2, ',', ' '); ?></td>
                              <td class="text-right"><?php echo number_format($this->amount * ($this->part->getPrice() - $this->operationsSum - $this->part->getProducerPrice()), 2, ',', ' '); ?></td>
                            </tr>
                            <?php /*2*/ endif; ?>
                            <tr>
                              <td>operace</td>
                              <td class="text-right"><?php echo number_format($this->operationsSum, 2, ',', ' '); ?></td>
                              <td class="text-right"><?php echo number_format($this->operationsSum * $this->amount, 2, ',', ' '); ?></td>
                            </tr>
                            <?php /*2*/ if ($this->part->isProduct()): ?>
                            <tr>
                              <td>výstup</td>
                              <td class="text-right"><span style="color: red;"><?php echo number_format($this->part->getCost(FALSE), 2, ',', ' '); ?></span></td>
                              <td class="text-right"><?php echo number_format($this->amount * $this->part->getCost(FALSE), 2, ',', ' '); ?></td>
                            </tr>
                              <?php /*3*/ if (Zend_Registry::get('acl')->isAllowed('parts/price-cover')): ?>
                              <tr>
                                <td>včetně krytí <?= $this->part->getCoverCost(FALSE); ?> %</td>
                                <td class="text-right"><?php echo number_format($this->part->getCost(TRUE), 2, ',', ' '); ?></td>
                                <td class="text-right"><?php echo number_format($this->amount * $this->part->getCost(TRUE), 2, ',', ' '); ?></td>
                              </tr>
                              <?php /*3*/ endif; ?>
                            <?php /*2*/ endif; ?>
                          </tbody>
                        </table>
                        <?php /*2*/ if ($this->part->isProduct()): ?>
                        <table class="table table-condensed">
                          <tr>
                            <th colspan="2">Pracnost</th>
                          </tr>
                          <tr>
                            <td>Čas vlastních operací</td>
                            <td class="text-right">
                              <?php echo number_format($this->part->getTotalOperationSum(Parts_Part::OPERATIONS_RETURN_TYPE_TIME), 0, ',', ' '); ?> min
                            </td>
                          </tr>
                          <tr>
                            <td>Náklady vlastních operací</td>
                            <td class="text-right">
                              <?php echo number_format($this->part->getTotalOperationSum(Parts_Part::OPERATIONS_RETURN_TYPE_COST), 2, ',', ' '); ?> Kč
                            </td>
                          </tr>
                          <tr>
                            <td>Procento nákladů vlastních operací</td>
                            <td class="text-right"><?php echo number_format($this->part->getLaborIntensive(), 2, ',', ' '); ?> %</td>
                          </tr>
                         </table>
                        <?php /*2*/ endif; ?>



                        <div class="pull-right">&nbsp;<a id="cnt" class="btn btn-mini btn-primary" href="<?= $this->url(array('action' => 'recalculate')); ?>" title="Aktualizuje cenu všem součástem, ve kterých figuruje tato součást"><i class="icon icon-refresh icon-white"></i> přepočítat cenu</a> <a href="#" onclick="alert('Aktualizuje cenu všem součástem, ve kterých figuruje tato součást.');">(?)</a></div>
                        <div class="progress progress-striped active">
                          <div id="cnt-bar" class="bar"></div>
                        </div>
                      </td>
                    </tr>

                <?php /*1*/ endif; ?>

                <?php
                /**
                 * Vyroba
                 */
                /*1*/ if(count($this->productions) > 0): ?>
                    <tr>
                        <td>Výroba</td>
                        <td>
                <?php
                    foreach($this->productions as $production){
                        echo $production['amount']."ks do ".$this->dateFromDb($production['date_delivery'])."<br />";
                    }
                ?>
                            <a href="<?=$this->baseUrl()?>/parts/productions">Zobrazit výroby</a>
                        </td>
                    </tr>
                <?php /*1*/ endif; ?>
            </table>
        </div>
    </div>
</div>

<script>
  $('#cnt').click(function(){
    $('#cnt-bar').html('Probíhá přepočítávání. Čekejte...').attr({'style': 'width: 100%'});
  });
</script>