<style>
    .detail-title { line-height: 26px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #efefef; padding: 6px; background: #fafafa; }
    #parts-list tr th { background-color: #ebebeb; }
</style>

<?php if ($this->customer): ?>
<div class="row-fluid">
    <div class="span4">
        <div>
            <h4 class="detail-title">Fakturační adresa
                <?php if ($this->allow_edit_address): ?>
                  <?php if (!$this->customer->getBillingAddressId()): ?>
                  <a class="btn pull-right" title="Zadat adresu" href="<?= $this->url(array(
                            'controller' => 'tobacco-customers',
                            'action' => 'address',
                            'customer' => $this->customer->getId(),
                            )); ?>?destination=<?= $_SERVER['REQUEST_URI']; ?>#infos"><i class="icon-edit"></i></a>
                    <?php else: ?>
                        <a class="btn pull-right" title="Upravit adresu" href="<?= $this->url(array(
                            'controller' => 'tobacco-customers',
                            'action' => 'address',
                            'id' => $this->customer->getBillingAddressId(),
                            )); ?>?destination=<?= $_SERVER['REQUEST_URI']; ?>#infos"><i class="icon-edit"></i></a>
                    <?php endif; ?>
                <?php endif; ?>
            </h4>
            <?= $this->customer->getBillingAddress(); ?>

        </div>
    </div>
    <div class="span4">

        <h4 class="detail-title">Dodací adresa
          <?php if ($this->allow_edit_address): ?>
            <?php if (!$this->customer->getShippingAddressId()): ?>
            <a class="btn pull-right" title="Zadat adresu" href="<?= $this->url(array(
                      'controller' => 'tobacco-customers',
                      'action' => 'address',
                      'customer' => $this->customer->getId(),
                      'id' => NULL,
                      )); ?>?destination=<?= $_SERVER['REQUEST_URI']; ?>#infos"><i class="icon-edit"></i></a>
              <?php else: ?>
                  <a class="btn pull-right" title="Upravit adresu" href="<?= $this->url(array(
                      'controller' => 'tobacco-customers',
                      'action' => 'address',
                      'id' => $this->customer->getShippingAddressId(),
                      )); ?>?destination=<?= $_SERVER['REQUEST_URI']; ?>#infos"><i class="icon-edit"></i></a>
              <?php endif; ?>
          <?php endif; ?>
        </h4>
        <?= $this->customer->getShippingAddress(); ?>

    </div>
    <div class="span4">
      <h4 class="detail-title">Kontaktní údaje
        <?php if (Zend_Registry::get('acl')->isAllowed('customers/edit')): ?>
            <div class="pull-right text-right no-print">
                <span style="padding-right: 25px;">
                    <a class="btn btn-small" title="Upravit" href="<?= $this->baseUrl() ?>/customers/edit/id/<?= $this->customer->getId(); ?>"><i class="icon-edit"></i></a>
                </span>
            </div>
        <?php endif; ?>
      </h4>
      <table class="table table-condensed">
      <tr>
          <td>Jméno a příjmení:</td>
          <td ><?= $this->customer->getFirstName(); ?> <?= $this->customer->getLastName(); ?></td>
      </tr>
      <tr>
          <td>Telefon:</td>
          <td><?= $this->customer->getPhone(); ?></td>
      </tr>
      <tr>
          <td>E-mail:</td>
          <td><?= $this->customer->getEmail(); ?></td>
      </tr>
      <?php if ($this->customer->isB2B()): ?>
      <tr>
          <td>Firma:</td>
          <td><?= $this->customer->getCompany(); ?></td>
      </tr>
      <tr>
          <td>IČ / DIČ:</td>
          <td><?= $this->customer->getIdentNo(); ?> / <?= $this->customer->getVatNo(); ?></td>
      </tr>
      <?php endif; ?>
      </table>

    </div>
</div>
<?php endif; ?>

<!-- row -->
<div class="row-fluid">
    <div class="span<?= $this->order->isService()? 12 : 6; ?>">
        <h4 class="detail-title">Platba</h4>
        <table class="table">
          <tr>
                <td>Platba zálohy:</td>
                <td class="text-right"><?php if ($this->order->getDatePayDeposit() !== NULL)
                        echo Meduse_Date::dbToForm($this->order->getDatePayDeposit()); ?></td>
            </tr>
            <tr>
                <td>Platba 100%:</td>
                <td class="text-right"><?php if ($this->order->getDatePayAll() !== NULL)
                        echo Meduse_Date::dbToForm($this->order->getDatePayAll()); ?></td>
            </tr>
            <?php if (Zend_Registry::get('acl')->isAllowed('orders/special/expected-payment')) { ?>
                <tr>
                    <td>Celková částka:</td>
                    <td class="text-right"><?php if ($this->order->getRow()->expected_payment !== NULL)
                echo $this->order->getRow()->expected_payment . ' ' . $this->order->getRow()->expected_payment_currency; ?></td>
                </tr>
<!--                <tr>
                    <td>Záloha:</td>
                    <td class="text-right"><?php if ($this->order->getRow()->expected_payment_deposit !== NULL)
                        echo $this->order->getRow()->expected_payment_deposit . ' ' . $this->order->getRow()->expected_payment_currency; ?></td>
                </tr>-->
            <?php } ?>
            <tr>
                <td>Způsob platby:</td>
                <td class="text-right"><?php if (!empty($this->order->getRow()->payment_method))
                echo $this->paymentMethods[$this->order->getRow()->payment_method]; ?></td>
            </tr>
            <?php if (!empty($this->order->getRow()->date_payment_accept)) { ?>
                <tr>
                    <td>Platba přišla:</td>
                    <td class="text-right"><?php echo Meduse_Date::dbToForm($this->order->getRow()->date_payment_accept); ?></td>
                </tr>
            <?php } ?>
        </table>
    </div>
    <?php if (!$this->order->isService()): ?>
    <div class="span6">
        <h4 class="detail-title">Doprava</h4>
        <?php if ($this->order->getCarrier()): ?>

        <table class="table">
            <tr>
                <td>Dopravce:</td>
                <td class="text-right">
                  <?= $this->order->getCarrier()->getName(); ?>
                </td>
            </tr>
            <tr>
                <td>Způsob dopravy:</td>
                <td class="text-right">
                  <?= $this->order->getCarrierMethod(); ?>
                </td>
            </tr>
            <tr>
                <td>Cena dopravy:</td>
                <td class="text-right"><?php if (!is_null($this->order->getRow()->carrier_price))
                        echo Meduse_Currency::format($this->order->getRow()->carrier_price, 'CZK'); else echo '&ndash;'; ?></td>
            </tr>
            <tr>
                <td>Tracking no:</td>
                <td class="text-right"><?= $this->order->getTrackingNo(); ?></td>
            </tr>
        </table>
        <?php else:?>
        <p>Dopravce není přiřazen.</p>
        <p>
          <a href="<?= $this->url(array(
          'controller' => 'tobacco-order-edit',
          'action' => 'transport',
          'order' => $this->order->getID(),
          'id' => NULL,
          )); ?>" class="btn"><i class="icon icon-road"></i> Přiřadit</a>
        </p>
        <?php endif; ?>
    </div>
    <?php endif; ?>
</div>
<!-- row -->
<div class="row-fluid">
    <div class="span6">
        <h4 class="detail-title">Ostatní informace</h4>
        <table class="table">
            <?php if (!empty($this->order->getRow()->proforma_no)) { ?>
                <tr>
                    <td style="width: 100px;">Proforma:</td>
                    <td><?= $this->order->getRow()->proforma_no; ?></td>
                </tr>
            <?php } ?>
            <tr>
                <td style="width: 100px;">Typ příjemce:</td>
                <td><?= isset($this->purchasers[$this->order->getRow()->purchaser]) ? $this->purchasers[$this->order->getRow()->purchaser] : "" ?></td>
            </tr>
        </table>

        <h4 class="detail-title">Přiložené soubory</h4>

        <?php if ($this->files): ?>
          <table class="table table-condensed table-hover">
            <tbody>
            <?php foreach ($this->files as $item): ?>
              <tr>
                <td><a href="<?= $this->url(['action' => 'file-download', 'fid' => $item['id']]); ?>" title="<?= $item['filename']; ?>"><?= $item['title'] ? $item['title'] : $item['filename']; ?></td>
                <td><?= $item['created']; ?></td>
                <td><?= $item['name']; ?></td>
                <td class="text-right">
                  <a href="<?= $this->url(['action' => 'file-download', 'fid' => $item['id']]); ?>" title="<?= $item['filename']; ?>" class="btn btn-small btn-primary"><i class="icon icon-white icon-download"></i></a>
                  <a href="<?= $this->url(['action' => 'file-remove', 'fid' => $item['id']]); ?>" title="<?= $item['filename']; ?>" class="delete-file-action btn btn-small btn-danger"><i class="icon icon-white icon-remove"></i></a>
                </td>
              </tr>
            <?php endforeach; ?>
            </tbody>
          </table>
        <?php else: ?>
          <p>K objednávce nejsou připojeny žádné soubory.</p>
        <?php endif; ?>

        <?= $this->uploadForm; ?>
    </div>
    <div class="span6">
        <h4 class="detail-title">Chronologie</h4>
        <table class="table">
            <tr>
                <td>Datum vložení:</td>
                <td class="text-right"><?= Meduse_Date::dbToForm($this->order->getDateRequest()); ?></td>
            </tr>
            <tr>
                <td>Datum otevření:</td>
                <td class="text-right"><?php if ($this->order->getDateOpen() !== NULL)
                echo Meduse_Date::dbToForm($this->order->getDateOpen()); ?></td>
            </tr>
<!--            <tr>
                <td>Deadline:</td>
                <td class="text-right"><?php if ($this->order->getDeadline() !== NULL)
                        echo Meduse_Date::dbToForm($this->order->getDeadline()); ?></td>
            </tr>-->
            <tr>
                <td>Datum expedice:</td>
                <td class="text-right"><?php if ($this->order->getDateExp() !== NULL)
                        echo Meduse_Date::dbToForm($this->order->getDateExp()); ?></td>
            </tr>
        </table>
    </div>
</div>