

<table class="table table-hover table-condensed sticky" id="parts-list">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th colspan="9">
      <h4>Položky objednávky
        <?php
        $permissonToEdit = false;
        if (($this->order->getStatus() == 'new' || $this->order->getStatus() == 'offer' || $this->order->getStatus() == 'confirmed')) {
          $permissonToEdit = true;
        }
        if (($this->order->getStatus() == 'open' || $this->order->getStatus() == 'strategic') && isset($_SESSION['Zend_Auth']['user_role']) && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))
        ) {
          $permissonToEdit = true;
        }

        if ($permissonToEdit) {
          ?>
          <a class="btn btn-primary btn-small pull-right no-print" title="Přidat položku" href="<?= $this->baseUrl() ?>/tobacco-orders/select-products/order/<?= $this->order->getID(); ?>"> <i class="icon-edit icon-white"></i> Editace položek</a>
        <?php } ?>
        <?php if ($this->acl->isAllowed('tobacco-orders/ajax-prepare-for-sale')): ?>
          <button id='check-all-products' class="btn btn-small">Označit vše</button>
          <button id='prepare-for-sale' class="btn btn-small btn-primary">Připravit pro prodej</button>
        <?php endif; ?>
      </h4>
    </th>
  </tr>
  <?php
    $tCtg = new Table_PartsCtg();
    $lastCtg = null;
    foreach ($this->rows as $row) {
      if ($lastCtg != $row->ctg_id) {
        $lastCtg = $row->ctg_id;
        ?>
        <tr>
          <?php if ($this->acl->isAllowed('tobacco-orders/ajax-prepare-for-sale')): ?>
          <th rowspan="2">&nbsp;</th>
          <?php endif; ?>
          <th colspan="10" class="section"><a name="<?= $row->ctg_name; ?>"></a><?= $tCtg->getCategoryName($lastCtg) ?></th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Název</th>
          <th>Popis</th>
          <th>Množství<br />[ks]</th>
          <th>Zdarma<br />[ks]</th>
          <th>Rezervace<br />[ks]</th>
          <th class="no-print">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      <?php
    }
    ?>
      <tr>
        <?php if ($this->acl->isAllowed('tobacco-orders/ajax-prepare-for-sale')): ?>
        <td><input class="product-check" data-part-id='<?= $row['id_products']; ?>' type="checkbox" data-amount="<?php echo $row['amount'] - $this->order->getReadyProductAmount($row['id_products']); ?>"></td>
        <?php endif; ?>
        <td style="text-align: left;">
          <?php if ($this->acl->isAllowed('tobacco/parts-detail')): ?>
          <a href="<?= $this->baseUrl() ?>/tobacco/parts-detail/id/<?= $row['id_products'] ?>"><?= $row['id_products'] ?></a>
          <?php else: ?>
          <?= $row['id_products'] ?>
          <?php endif; ?>
        </td>
        <td style="text-align: left;"><?= $row['name'] ?></td>
        <td class="description"><?= $row['description'] ?></td>
        <td>
            <?php echo $row['amount'] - $row['free_amount']; ?>
        </td>
        <td>
          <?php echo $row['free_amount']; ?>
        </td>
        <td class="reserved"><?php if ($this->order->getStatus() != 'closed') { ?><?= $this->order->getReadyProductAmount($row['id_products']) ?><?php }
    else
      echo "vše";
          ?></td>
        <td class="no-print"><?php if ($permissonToEdit) { ?><a class="btn btn-danger btn-small" title="Odebrat" href="/tobacco-orders/delete-item/order/<?= $this->order->getID() ?>/item/<?= $row['id_products'] ?>" onClick="return confirm('Opravdu chcete tuto položku objednávky odstranit?')"><i class="icon-remove icon-white"></i></a><?php
      } else {
        if ($this->order->getStatus() == 'closed') {
          echo "expedováno";
        }
      }
          ?></td>
      </tr>
      <?php
    }
  ?>
  <tr><th colspan="10" class="section">&nbsp;</th> </tr>
      </tbody>
</table>

<script>
  $(document).ready(function(){

    $('#check-all-products').click(function(){
      $(this).toggleClass('checked');
      $('.product-check').prop('checked', $(this).hasClass('checked'));
    });

    $('#prepare-for-sale').click(function() {

      var orderId = <?= $this->order->getID(); ?>;
      var queueId = null;

      $.post('/tobacco-orders/ajax-get-order-queue', {order: orderId}, function(response){
        queueId = response.queue;
      }).done(function() {

        var partId = null;
        var amount = 0;
        var url = '/tobacco-orders/ajax-prepare-for-sale';
        var $products = $('.product-check:checked');
        var count = $products.length;

        $products.each(function() {
          var $this = $(this);
          var $tr = $this.parents('tr');
          partId = $this.data('part-id');
          amount = parseInt($this.data('amount'));

          if (amount > 0) {
            $tr.find('.description').html('<small><em> ... probíhá příprava ...</em></small>');
            //$tr.css({background: 'yellow'});
            $tr.addClass('warning');
            data = { id: orderId, part: partId, amount: amount, queue: queueId};
            $.post(url, data, function(response){
              if (response.success) {
                $tr.removeClass('warning').addClass('success');
                $tr.find('.reserved').html($this.data('amount'));
                $this.data('amount', 0);
              }
              else {
                $tr.removeClass('warning').addClass('error');
              }
              $tr.find('.description').html('<small><em>' + response.messages + '</em></small>');
            }).success(function(){
              count--;
              if (count === 0) {
                $.post('/tobacco-orders/ajax-send-order-queue', {queue: queueId}, function(response){
                });
              };
            });
          }
          else {
            count--;
          }
        });
      });
    });
  });
</script>