

<table class="table table-hover table-condensed sticky" id="parts-list">
  <thead>
  <tr>
    <th colspan="10">
      <h4>Položky objednávky
        <?php
        $permissonToEdit = false;
        if (($this->order->getStatus() == 'new' || $this->order->getStatus() == 'offer' || $this->order->getStatus() == 'confirmed')) {
          $permissonToEdit = true;
        }
        if (($this->order->getStatus() == 'open' || $this->order->getStatus() == 'strategic') && isset($_SESSION['Zend_Auth']['user_role']) && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))
        ) {
          $permissonToEdit = true;
        }

        if ($permissonToEdit) {
          ?>
          <a class="btn btn-primary btn-small pull-right no-print" title="Přidat položku" href="<?= $this->baseUrl() ?>/tobacco-orders/select-products/order/<?= $this->order->getID(); ?>"> <i class="icon-edit icon-white"></i> Editace položek</a>
        <?php } ?>
      </h4>
    </th>
  </tr>
  <?php
    $tCtg = new Table_PartsCtg();
    $lastCtg = null;
    foreach ($this->rows as $row) {
      if ($lastCtg != $row->ctg_id) {
        $lastCtg = $row->ctg_id;
        ?>
        <tr>
          <th colspan="10" class="section"><a name="<?= $row->ctg_name; ?>"></a><?= $tCtg->getCategoryName($lastCtg) ?></th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Název</th>
          <th>Popis</th>
          <th>Množství<br />[ks]</th>
          <th>Zdarma<br />[ks]</th>
          <th>Rezervace<br />[ks]</th>
          <th class="no-print">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      <?php
    }
    ?>
      <tr>
        <td style="text-align: left;">
          <?php if ($this->acl->isAllowed('tobacco/parts-detail')): ?>
          <a href="<?= $this->baseUrl() ?>/tobacco/parts-detail/id/<?= $row['id_products'] ?>"><?= $row['id_products'] ?></a>
          <?php else: ?>
          <?= $row['id_products'] ?>
          <?php endif; ?>
        </td>
        <td style="text-align: left;"><?= $row['name'] ?></td>
        <td><?= $row['description'] ?></td>
        <td>
            <?php echo $row['amount'] - $row['free_amount']; ?>
        </td>
        <td>
          <?php echo $row['free_amount']; ?>
        </td>
        <td><?php if ($this->order->getStatus() != 'closed') { ?><?= $this->order->getReadyProductAmount($row['id_products']) ?><?php }
    else
      echo "vše";
          ?></td>
        <td class="no-print"><?php if ($permissonToEdit) { ?><a class="btn btn-danger btn-small" title="Odebrat" href="/tobacco-orders/delete-item/order/<?= $this->order->getID() ?>/item/<?= $row['id_products'] ?>" onClick="return confirm('Opravdu chcete tuto položku objednávky odstranit?')"><i class="icon-remove icon-white"></i></a><?php
      } else {
        if ($this->order->getStatus() == 'closed') {
          echo "expedováno";
        }
      }
          ?></td>
      </tr>
      <?php
    }
  ?>
  <tr><th colspan="10" class="section">&nbsp;</th> </tr>
      </tbody>
</table>
