<?php if ($this->order): ?>
  <div class="row-fluid">
    <div class="span8">
        <?= $this->OrderTitle($this->order); ?>
    </div>
    <div class="span4 text-right no-print">
        <span style="padding-right: 25px;">
            <?php if ($this->orderObj->getStatus() != 'closed' && $this->orderObj->getStatus() != 'deleted' || isset($_SESSION['Zend_Auth']['user_role']) && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))) { ?>
                <a class="btn btn-small" title="Detail objednávky" href="<?= $this->url(array('controller' => 'orders', 'action' => 'detail', 'id' => $this->orderObj->getID())) ?>"><i class="icon-search"></i> Detail objednávky</a>
            <?php } ?>
        </span>

    </div>
  </div>
<?php if ($this->allow_edit_note): ?>
<div class="alert">
  <?= $this->allow_edit_note; ?>
</div>
<?php endif; ?>
  <div class="row-fluid">
    <div class="span12">
        <div>
            <?php echo $this->menuOrderEdit($this->action, $this->order, $this->showProductsTransport, $this->showProductsTransport); ?>
        </div>
    </div>
  </div>
<?php endif; ?>

<div class="row-fluid">
  <div class="span12">
    <div>
      <?php if ($this->customer && is_object($this->orderObj)): ?>
        <div class='form-well'>
          <div class="well">
            <fieldset class="form">
              <legend>Zákazník  <span class="pull-right">
                <a class="btn btn-small btn-normal" title="Upravit" href="<?=$this->url(array(
                  'controller' => 'customers',
                  'action' => 'address',
                  'id' => $this->order->getAddressId(),
                  'order' => null)); ?>?destination=<?= $this->url();?>"><i class="icon-edit"> </i></a> &nbsp;
                <a class="btn btn-small btn-danger" href="<?= $this->url(array(
                  'action' => 'remove-customer',
                  'customer' => $this->customer->getId())); ?>"
                  onClick="return confirm('Opravdu chcete zrušit přiřazení zákazníka objednávce? (zákazník zůstane stále v databázi)')"><i class="icon-remove icon-white"> </i></a></span></legend>
                  <h2>
                    <?= $this->customer->getCompany(); ?><br />
                    <small><?= $this->customer->getLastName() . ' ' . $this->customer->getFirstName(); ?></small>
                  </h2>
                <address>
                  <strong>
                    <?= $this->order->getAddress(); ?>
                  </strong>
                </address>

                <?php if ($this->addresses): ?>
                  <h4>Dostupné adresy zákazníka</h4>
                  <?php foreach ($this->customer->getAddresses() as $aid => $addr): ?>
                      <a class='pull-right btn btn-small' href="<?= $this->url(array('action' => 'set-address', 'address' => $aid)); ?>">zvolit</a>
                      <address><?= $addr; ?></address>
                      <hr>
                  <?php endforeach; ?>
                <?php endif; ?>
            </fieldset>
          </div>
        </div>
      <?php else: ?>
      <form action="<?= $this->url(array('controller' => 'customers', 'action' => 'edit')); ?>" method="post">
        <fieldset>
          <h4>Vyhledávání zákazníka</h4>
          <input type="text" id="search" name="search" placeholder="Začni psát firmu, jméno, příjmení nebo telefon…" style="width: 50%;" />
        </fieldset>
        <button type="submit" class="btn btn-success"><i class="icon icon-white icon-plus"></i>&nbsp;Nový zákazník</button>
      </form>
      <div id="grid-wrapper">
        <?= $this->grid; ?>
      </div>
        <script>
          $(document).ready(function(){

            var last = '';
            var search;
            var url;
            var process = false;

            $('#search').on('keyup', function(){
              search = $(this).val();
              if (!process && search !== last) {
                process = true;
                last = search;
                url = encodeURI('/customers/ajax-search?order_id='+ <?= $this->order; ?> + '&q=' + search);
                $.get(url, function(data){
                  $('#grid-wrapper').html(data.html);
                }).always(function(){
                  process = false;
                });
              }

            });


          });
        </script>
      <?php endif; ?>
    </div>
  </div>
</div>
