<?php if ($this->order): ?>
<div class="row-fluid">
            <div class="span8">
              <?= $this->OrderTitle($this->order); ?>
            </div>
            <div class="span4 text-right no-print">
                <span style="padding-right: 25px;">
                    <?php if ($this->orderObj->getStatus() != 'closed' && $this->orderObj->getStatus() != 'deleted' || isset($_SESSION['Zend_Auth']['user_role']) && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))) { ?>
                        <a class="btn btn-small" title="Detail objednávky" href="<?= $this->url(array('controller' => 'orders', 'action' => 'detail', 'id' => $this->orderObj->getID())) ?>"><i class="icon-search"></i> Detail objednávky</a>
                    <?php } ?>
                </span>

            </div>
        </div>
<?php endif; ?>
<?php if ($this->allow_edit_note): ?>
<div class="alert">
  <?= $this->allow_edit_note; ?>
</div>

<?php endif; ?>
<div class="row-fluid">
    <div class="span12">
        <div>
            <?php echo $this->menuOrderEdit($this->action, $this->order, $this->showProductsTransport, $this->showProductsTransport); ?>
            <?php echo $this->form; ?>
        </div>
    </div>
</div>
<style>
  .errorDate {
      background-color: indianred !important;
      color: whitesmoke !important;
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {

    const checkDeadlines = function ($deadlines) {
      if ($deadlines.length) {
        $deadlines.each(function(){
          const dateStr = ($(this).val()).trim();
          if (dateStr) {
            const
              now = new Date(<?= date('Y'); ?>, <?= date('m'); ?> - 1, <?= date('d'); ?>),
              dateChunks = dateStr.split('.'),
              year = parseInt(dateChunks[2]),
              month = parseInt(dateChunks[1]) - 1,
              day = parseInt(dateChunks[0]),
              dateObj = new Date(year, month, day);

            if (now <= dateObj) {
              $(this).removeClass('errorDate');
            }
            else {
              $(this).addClass('errorDate');
            }
          }
        });
      }
    };

    var hideRateFields = function () {
      $('#meduse_orders_expected_payment_rate_use_default').prop('checked', false);
      $('#meduse_orders_expected_payment_rate_use_default_n').prop('checked', true);
      $('#form_element_meduse_orders_expected_payment_rate_use_default').hide();
      $('#meduse_orders_expected_payment_rate').prop('readonly', true).val(1);
      $('#form_element_meduse_orders_expected_payment_rate').hide();
    };

    var showRateFields = function () {
      $('#meduse_orders_expected_payment_rate_use_default').prop('checked', true);
      $('#form_element_meduse_orders_expected_payment_rate_use_default').show();
      $('#form_element_meduse_orders_expected_payment_rate').show();
      $('#meduse_orders_expected_payment_rate').val(<?= Utils::getCnbRates('EUR'); ?>).prop('readonly', true);
    };

    var setNAName = function () {
      $('#meduse_orders_name').val('N/A - dle zákazníka');
    }


    const $deadlines = $('#meduse_orders_deadline, #meduse_orders_deadline_internal');
    checkDeadlines($deadlines);
    $deadlines.on('change', function(){
      checkDeadlines($(this));
    });

    if (!$('#meduse_orders_name').val()) {
      setNAName();
    }

    $("#meduse_orders_payment_method").change(function () {
      if ($(this).val() == '<?= Table_Orders::PM_FREE_PRESENTATION; ?>' || $(this).val() == '<?= Table_Orders::PM_FREE_CLAIM; ?>') {
        $("#meduse_orders_expected_payment").attr('disabled', 'disabled').val('');
        $("#meduse_orders_expected_payment_deposit").attr('disabled', 'disabled').val('');
      }
      else {
        $("#meduse_orders_expected_payment").removeAttr('disabled');
        $("#meduse_orders_expected_payment_deposit").removeAttr('disabled');
      }
    });
    $("#meduse_orders_payment_method").trigger('change');

    $('#meduse_orders_expected_payment_rate_use_default').change(function () {
      if ($(this).prop('checked')) {
        $('#meduse_orders_expected_payment_rate').attr('readonly', 'readonly');
        $('#meduse_orders_expected_payment_rate').val(<?= Utils::getCnbRates('EUR'); ?>);
      }
      else {
        $('#meduse_orders_expected_payment_rate').removeAttr('readonly').val();
      }
    });
    $('#meduse_orders_expected_payment_rate_use_default').trigger('change');
    $("#meduse_orders_name").autocomplete({"source": "\/order-edit\/ajax-customer"});

    /*
    // V nastaveni objednavky musi byt kurz VZDY, i v pripade CZK meny!
    // Ceniky jsou totiz vetsinou v EUR. Pripadnou vyjimku (kurz = 1)
    // si obchodnik musi pohlidat sam.
    // TODO nastavit cenikum menu, ve ktere jsou. Pak by se prepocet musel provadet jinak.
    if ($('#meduse_orders_expected_payment_currency').val() === 'CZK') {
      hideRateFields();
    }
    else {
      showRateFields();
    }
    */
    <?php if (!$this->order): ?>
    $states = $('select[name="meduse_orders_status"]');
    $states.find('options').hide();

    // objednavka sluzeb ma prvotni stav pouze NEW
    $("input[name='meduse_orders_type']").change(function () {

      if ($(this).val() == '<?= Table_Orders::TYPE_PRODUTCS; ?>') {
        $states.find('option[value="<?= Table_Orders::STATUS_CONFIRMED; ?>"], option[value="<?= Table_Orders::STATUS_STRATEGIC; ?>"]').hide();
        $states.find('option[value="<?= Table_Orders::STATUS_OFFER; ?>"], option[value="<?= Table_Orders::STATUS_NEW; ?>"], option[value="<?= Table_Orders::STATUS_STRATEGIC; ?>"]').show();
        $states.find('option[value="<?= Table_Orders::STATUS_NEW; ?>"]').prop('selected', true);
      }
      else {
        $states.find('option[value="<?= Table_Orders::STATUS_OFFER; ?>"], option[value="<?= Table_Orders::STATUS_NEW; ?>"], option[value="<?= Table_Orders::STATUS_STRATEGIC; ?>"]').hide();
        $states.find('option[value="<?= Table_Orders::STATUS_CONFIRMED; ?>"]').show();
        $states.find('option[value="<?= Table_Orders::STATUS_CONFIRMED; ?>"]').prop('selected', true);
      }
    });
    <?php endif; ?>
    /*
    // V nastaveni objednavky musi byt kurz VZDY, i v pripade CZK meny!
    // Ceniky jsou totiz vetsinou v EUR. Pripadnou vyjimku (kurz = 1)
    // si obchodnik musi pohlidat sam.
    // TODO nastavit cenikum menu, ve ktere jsou. Pak by se prepocet musel provadet jinak.
    $('#meduse_orders_expected_payment_currency').change(function () {
      var cur = $(this).val();
      if (cur === 'CZK') {
        hideRateFields();
      }
      else {
        showRateFields();
      }
    });
    */
  });

</script>
