<style>
  #row-new {
    display: none;
  }
  .description {
    width: 100%;
  }
  .price, .qty {
    width: 100%;
    text-align: right;
  }

</style>

<?php if ($this->order): ?>
  <div class="row-fluid">
    <div class="span8">
      <?= $this->OrderTitle($this->order); ?>
    </div>
    <div class="span4 text-right no-print">
        <span style="padding-right: 25px;">
            <?php if ($this->orderObj->getStatus() != 'closed' && $this->orderObj->getStatus() != 'deleted' || isset($_SESSION['Zend_Auth']['user_role']) && in_array($_SESSION['Zend_Auth']['user_role'], array('manager', 'admin'))) { ?>
                <a class="btn btn-small" title="Detail objednávky" href="<?= $this->url(array('controller' => 'orders', 'action' => 'detail', 'id' => $this->orderObj->getID())) ?>"><i class="icon-search"></i> Detail objednávky</a>
            <?php } ?>
        </span>

    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
        <div>
            <?php echo $this->menuOrderEdit($this->action, $this->order, $this->showProductsTransport, $this->showProductsTransport); ?>
        </div>
    </div>
  </div>
<?php endif; ?>


<h2>Položky objednávky</h2>

<form method="post" id="form">
<?= $this->form->id_orders; ?>
<?= $this->form->rowsnum; ?>

<table id="services" class="table">
  <thead>
    <tr>
      <th style="width: 78%">Popis služby</th>
      <th class="text-center" style="width: 10%">Jedn. cena<br />bez DPH</th>
      <th style="width: 7%">Množství</th>
      <th style="width: 5%">Smazat</th>
    </tr>
  </thead>
  <tbody>
    <?php $i = 0; while ($row = $this->form->getRow($i)): ?>
      <tr class="service-row" id="row-<?= $i; ?>">
        <td><?= $row['id']; ?><?= $row['description']; ?></td>
        <td><?= $row['price']; ?></td>
        <td><?= $row['qty']; ?></td>
        <td class="text-center"><?= $row['delete']; ?></td>
      </tr>
    <?php $i++; endwhile; ?>
  </tbody>
  <tfoot>
    <?php $row = $this->form->getNewRow(); ?>
    <tr class="service-row" id="row-new">
      <td><?= $row['id']; ?><?= $row['description']; ?></td>
      <td><?= $row['price']; ?></td>
      <td><?= $row['qty']; ?></td>
      <td class="text-center"><?= $row['delete']; ?></td>
    </tr>
    <tr>
      <td colspan="4"><button type="button" id="add" class="btn btn-primary">Přidat řádek</button></td>
    </tr>
  </tfoot>
</table>

  <button type=submit id="submit" class="btn btn-large btn-success">Uložit položky objednávky</button>
</form>

<script>
  $(document).ready(function(){
    var num = <?= $this->form->getRowsNum(); ?>;
    var $form = $('#form');

    $('#add').click(function(){

      var $new = $form.find('tfoot #row-new').clone().show();

      $new.attr('id', 'row-' + num);

      $new.find('#form_element_id_new')
        .attr('id', 'form_element_id_' + num)
        .find('#id_new')
          .attr('name', 'id_' + num)
          .attr('id', 'id_' + num);

      $new.find('#form_element_description_new')
        .attr('id', 'form_element_description_' + num)
        .find('#description_new')
          .attr('name', 'description_' + num)
          .attr('id', 'description_' + num);

      $new.find('#form_element_price_new')
        .attr('id', 'form_element_price_' + num)
        .find('#price_new')
          .attr('name', 'price_' + num)
          .attr('id', 'price_' + num);

      $new.find('#form_element_qty_new')
        .attr('id', 'form_element_qty_' + num)
        .find('#qty_new')
          .attr('name', 'qty_' + num)
          .attr('id', 'qty_' + num);

      // form_element_delete_new
      $new.find('#form_element_delete_new')
        .attr('id', 'form_element_delete_' + num)
        .find('#delete_new_n')
          .attr('name', 'delete_' + num)
          .attr('id', 'delete_' + num + '_n');
      $new.find('#form_element_delete_' + num)
        .find('#delete_new')
          .attr('name', 'delete_' + num)
          .attr('id', 'delete_' + num)
          .change(function(){
            $(this).parents('tr').toggleClass('error');
          });
      $new.appendTo('#services tbody');
      num++;
      $form.find('#rowsnum').val(num);
    });

    $('.delete').change(function(){
      $(this).parents('tr').toggleClass('error');
    });

    $('#submit').click(function(){
      $form.find('#row-new').empty();
      $form.submit();
    });
  });
</script>

