
	<p class='validateTips'>&nbsp;</p><br />
	<form id='dialogForm' method='post' action='<?=$this->baseUrl()?>/parts/operations'>
		<table style='margin:auto'>
			<tr>
				<td><label for='operation' style='width: 150px;'>Operace</label></td>
				<td>
					<select name='operation' id='operation'>
						<option value='reduce'>Vyřadit</option>
						<option value='insert'>Vložit</option>
						<option value='insert-noSub'>Vložit bez odečtu podsoučástí</option>
						<!-- <option value='break'>Rozložit</option> -->
						<!-- <option value='move'>Přesunout mezi sklady</option> -->
					</select>
				</td>
			</tr>
			<tr>
				<td><label for='amount' style='width: 150px;'>Počet [ks]</label></td>
				<td>
					<input type='text' name='amount' id='email' value='' autocomplete='off' class='text ui-widget-content ui-corner-all' />
				</td>
			</tr>
			<?php
				$this->form->wh->removeMultiOption('null'); //odstarni moznost 'vybrat'
				echo $this->form->wh
			?>
		</table>
		<input type='hidden' name='Odeslat' value='Odeslat' />
		<input type='hidden' id='part' name='part' value='' />
	</form>
