
<?php echo $this->form;?>

<script>
$(document).ready(function() {  
    $(function() {
        $('#meduse_operation_time').time($('#meduse_operation_producer').val());
          $('#meduse_operation_time').tooltip();
    });    
    
    $('#meduse_operation_producer').change(function() {  
      $(this).time($(this).val());
    });
    
    $.fn.time = function(val) {
        if(val == '<?= Table_Producers::MEDUSE_ID ?>' || val == '<?= Table_Producers::MEDUSE_ELEKTRO_ID ?>') {
            $('#form_element_meduse_operation_time').show();
            $('#form_element_meduse_operation_price').hide();
            //console.log('TIME');        
        } else {
            $('#form_element_meduse_operation_time').hide();
            $('#form_element_meduse_operation_price').show();
            //console.log('PRICE');        
        }
    };
    $(document).ready(function(){
      $('form').append('<div class="progress progress-striped active"><div id="cnt-bar" class="bar"></div>');
    });
    $('form').submit(function(){
      $('#cnt-bar').html('Probíhá přepočítávání. Čekejte...').attr({'style': 'width: 100%'});
    });
});    
</script>