<?php if ($this->phase === 'insert'): ?>
  <?= $this->form; ?>

<?php elseif ($this->phase === 'confirm'): ?>
  <h2><?= $this->title; ?></h2>

  <p><strong>Zkontrolujte počty součástí k vyřazení a potvrďte.</strong></p>

  <table class="table table-condensed sticky">
    <thead>
    <tr>
      <th>ID</th>
      <th>název</th>
      <th class="text-right">celkem skladem</th>
      <th class="text-right">bude vyřazeno</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->parts as $row): ?>
      <tr>
        <td>
          <?php if (is_null($row['amount'])): ?>
            <?= $row['id_parts']; ?>
          <?php else: ?>
          <a href="<?= $this->url([
            'action' => 'detail',
            'id' => $row['id_parts'],
          ]) ?>">
            <?= $row['id_parts']; ?>
            <?php endif; ?>
        </td>
        <td><?= $row['name']; ?></td>
        <td class="text-right">
          <?php if (is_null($row['amount'])): ?>
            &ndash;
          <?php else: ?>
            <?= $row['amount']; ?> ks
          <?php endif; ?>
        </td>
        <td class="text-right">
          <?php if (is_null($row['amount'])): ?>
            &ndash;
          <?php else: ?>
            <?= $row['throw_amount']; ?> ks
          <?php endif; ?>
        </td>
      </tr>
    <?php endforeach; ?>
    </tbody>
  </table>
  <?= $this->form; ?>
<?php endif; ?>
