<div class="row-fluid">
    <div class="span8">
        <h3><?= $this->title; ?></h3>
    </div>
    <div class="span4 text-right">
        <a class="btn btn-normal btn-small" href="/parts/add-category">Přidat kategorii</a>
        <a class="btn btn-normal btn-small" href="/parts/add-category/group/true/">Přidat skupinu</a>
    </div>
</div>

<?php
    // reverted
	$lastParent = "";
?>

<div class="alert">Odstranit lze pouze kategorie, ve kterých nejsou žádné součásti.</div>

<form method="post">
<table class="table table-hover table-condensed">
	<tr>
		<th>Pořadí</th>
		<th>Kategorie</th>
		<th>Počet součástí</th>
		<th>&nbsp;</th>
	</tr>
<?php foreach($this->data as $row): ?>

	<?php if (!empty($row['parent']) && $row['parent'] != $lastParent): $lastParent = $row['parent'];?>
	<tr style="background-color: #EBEBEB">
		<th><input maxlength="4" type="text" name="order_<?php echo $row['parent_id']?>" value="<?php echo $row['p_ctg_order']; ?>" class="span1" /></th>
		<th colspan="2"><?php echo $row['parent']?></th>
		<th>
			<span>
				<a href="/parts/add-category/group-edit/true/edit/<?php echo $row['parent_id']; ?>" class="btn btn-normal btn-small"><i class="icon-edit"></i></a>
				<a onclick="return confirm('Opravdu chcete tuto kategorii odstranit?')" href="/parts/delete-part/id/AC43" class="btn btn-danger btn-small">
					<i class="icon-remove icon-white"></i>
				</a>
			</span>
		</th>
	</tr>
	<?php endif; ?>

	<tr>
		<td><input maxlength="4" type="text" name="order_<?php echo $row['id']?>" value="<?php echo $row['ctg_order']; ?>" class="span1" /></td>
		<td><?= $row['name']; ?></td>
		<td class="text-center"><?php echo $row['parts_count'] ?></td>
		<td>
			<a href="/parts/add-category/edit/<?php echo $row['id']; ?>" class="btn btn-normal btn-small"><i class="icon-edit"></i></a>
			<?php if($row['parts_count'] == 0): ?>
                <a onclick="return confirm('Opravdu chcete tuto kategorii odstranit?')" href="/parts/category-delete/id/<?php echo $row['id']; ?>" class="btn btn-danger btn-small">
                    <i class="icon-remove icon-white"></i>
                </a>
			<?php endif; ?>
		</td>
	</tr>
	
<?php endforeach; ?>
</table>

<input class="btn btn-primary" type="submit" value="Změnit pořadí" id="Hledat"/>

</form>