<h2>Přehled součástí s chybnými náklady</h2>
<table width="100%" border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Název</th>
      <th style="text-align: right;">Pořízení</th>
      <th style="text-align: right;">Vstupy</th>
      <th style="text-align: right;">Operace</th>
      <th style="text-align: right;">Náklady</th>
    </tr>
  </thead>
  <tbody>
  <?php foreach ($this->parts as $partId => $item): ?>
  <tr>
    <td><a href="https://warehouse.medusepipes.com/<?= $this->url(['action' => 'detail', 'id' => $partId]); ?>" target="_blank"><?= $partId; ?></a></td>
    <td><?= $item['name']; ?></td>
    <td style="text-align: right;""><?= Meduse_Currency::format($item['price'], 'Kč'); ?></td>
    <td style="text-align: right;"><?= Meduse_Currency::format($item['inputs'], 'Kč'); ?></td>
    <td style="text-align: right;"><?= Meduse_Currency::format($item['operations'], 'Kč'); ?></td>
    <td style="text-align: right;"><?= Meduse_Currency::format($item['costs'], 'Kč'); ?></td>
  </tr>
  <?php endforeach; ?>
  </tbody>
</table>