<h2><?= $this->title; ?></h2>
<?php if ($this->message): ?>
  <div style="margin-top: 20px;" class="alert"><?= $this->message;?></div>
<?php endif; ?>

<?php if ($this->parts): ?>
  <h3>Přehled součástí s chybnými náklady (<?= count($this->parts); ?>)</h3>
<table class="table table-hover table-condensed sticky">
  <thead>
    <tr>
      <th>ID</th>
      <th>Název</th>
      <th class="text-right">Pořízení</th>
      <th class="text-right">Vstupy</th>
      <th class="text-right">Operace</th>
      <th class="text-right">Náklady</th>
      <th class="text-right"><a class="btn btn-mini btn-primary" href="<?= $this->url(['action' => 'recalculate']); ?>"
             target="_blank"><i class="icon icon-refresh icon-white"></i>&nbsp;přepočítat vše</a></th>
    </tr>
  </thead>
  <tbody>
  <?php foreach ($this->parts as $partId => $item): ?>
  <tr>
    <td><a href="<?= $this->url(['action' => 'detail', 'id' => $partId]); ?>" target="_blank"><?= $partId; ?></a></td>
    <td><?= $item['name']; ?></td>
    <td class="text-right"><?= Meduse_Currency::format($item['price'], 'Kč'); ?></td>
    <td class="text-right"><?= Meduse_Currency::format($item['inputs'], 'Kč'); ?></td>
    <td class="text-right"><?= Meduse_Currency::format($item['operations'], 'Kč'); ?></td>
    <td class="text-right"><?= Meduse_Currency::format($item['costs'], 'Kč'); ?></td>
    <td class="text-right">
      <a class="btn btn-mini" href="<?= $this->url([
        'action' => 'recalculate',
        'id' => $partId
      ]); ?>" target="_blank"><i class="icon icon-refresh"></i>&nbsp;přepočítat</a>
    </td>
  </tr>
  <?php endforeach; ?>
  </tbody>
</table>  
<?php else: ?>
  <p>Všechny součásti mají správně předpočtené náklady.</p>
<?php endif; ?>