<style>
    #subparts-list tr th { background-color: #ebebeb; }
</style>
<?php if($this->part->getRow()->deleted == 'y') { ?>
<div class="alert alert-error">
    <h3>UPOZORNĚNÍ: Tato součást je smazaná - v koši.</h3>
</div>
<?php } ?>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span8">
                <h3><?= $this->part->getID(); ?> - <?= $this->part->getName(); ?></h3>
            </div>
            <div class="span4 text-right no-print">
                <span style="padding-right: 25px;">
                    <a class="btn btn-small" title="Upravit" href="<?php echo $this->baseUrl()?>/parts/edit/id/<?php echo $this->part->getID()?>"><i class="icon-edit"></i> Upravit</a>
                </span>
                <div class="btn-group no-print">
                    <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-wrench icon-white"></i> Operace s položkou skladu
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu text-left">
                        <li><a href="<?= $this->baseUrl()?>/parts/extern-move/part/<?php echo $this->part->getID()?>">Přesunout do externího skladu</a></li>
                        <li><a href="<?php echo $this->baseUrl()?>/parts/reduce-amount/part/<?php echo $this->part->getID()?>">Vyřadit z centrálního skladu</a></li>
                        <?php if($this->part->getSubparts() !== NULL){ ?>
                            <li><a href="<?= $this->baseUrl()?>/parts/break/part/<?php echo $this->part->getID()?>">Rozložit součásti na sklad</a></li>
                        <?php } ?>
                        <?php if(Zend_Registry::get('acl')->isAllowed('parts/history')) { ?>
                            <li><a href="<?= $this->baseUrl()?>/parts/history/id/<?php echo $this->part->getID()?>">Historie skladu</a></li>
                        <?php } ?>
                        <li><a href="<?= $this->baseUrl()?>/parts/save-as/id/<?php echo $this->part->getID()?>">Uložit jako</a></li>
                        <?php if(Zend_Registry::get('acl')->isAllowed('parts/delete-part')): ?>
                          <li><a href="<?= $this->baseUrl()?>/parts/delete-part/id/<?php echo $this->part->getID()?>">Odstranit položku</a></li>
                        <?php endif; ?>
                      <?php if (Zend_Registry::get('acl')->isAllowed('export/products-costs')): ?>
                        <li><a href="<?= $this->baseUrl();?>/export/products-costs/id/<?php echo $this->part->getID()?>">Materiálová skladba</a></li>
                      <?php endif; ?>
                    </ul>
                </div>
            </div>
        </div>
        <!-- nav -->
        <ul class="nav nav-tabs no-print" id="tabPanel" style="margin-top: 10px;">
            <li class="active"><a href="#infos">Informace</a></li>
            <li><a href="#subitems">Podsoučásti</a></li>
        </ul>
        <!-- tabs -->
        <div class="tab-content">
            <!-- tab -->
            <div class="tab-pane active" id="infos">
                <?php
                    // show block is part
                    if($this->part) { ?>
                <!-- include part details -->
                <?php
                    echo $this->partial('/partials/part-details.phtml', array(
                        'part' => $this->part,
                        'ean' => $this->ean,
                        'coll' => $this->coll,
                        'extern_warehouses' => $this->extern_warehouses,
                        'amount' => $this->amount,
                        'productions' => $this->productions,
                        'time' => $this->time,
                        'actual_dph' => $this->actual_dph,
                        'operationsSum' => $this->operationsSum,
                        'pricelists_ctg' => $this->pricelists_ctg,
                        'designatedFor' => $this->designatedFor,
                        'designatedForToggle' => $this->designatedForToggle,
                    ));
                ?>
                <!-- mezifaze a operace s cenou -->
                <div class="row-fluid">
                    <!-- left side -->
                    <div class="span6">
                        <div>
                            <h4 class="detail-title">Mezifáze (old verze - původní díly)
                            <a class="btn pull-right" title="Přidat mezifázi" href="<?php echo $this->baseUrl()?>/parts/add-subphase/part/<?php echo $this->part->getID()?>"><i class="icon-plus"></i></a></h4>

                            <table class="table">
                                <?php
                                    if($this->part->getSubphases()) {
                                        foreach($this->part->getSubphases() as $subPhase) { ?>
                                <tr>
                                    <td><?php echo $subPhase['amount']?>x</td>
                                    <td><b><?php echo $subPhase['name']?></b><br /><?php echo ($subPhase['description'] == '' ? '' : $subPhase['description'])?></td>
                                    <td style="width: 35%;">
                                        <a class="btn btn-danger btn-small" href="<?php echo $this->baseUrl()?>/parts/delete-subphase/part/<?php echo $this->part->getID()?>/id/<?php echo $subPhase['id']?>" onClick="return confirm('Opravdu chcete tuto mezifázi odstranit?')"><i class="icon-remove icon-white"></i></a>
                                        <a class="btn btn-normal btn-small" href="<?php echo $this->baseUrl()?>/parts/edit-subphase/part/<?php echo $this->part->getID()?>/id/<?php echo $subPhase['id']?>"><i class="icon-edit"></i></a>
                                        <a class="btn btn-normal btn-small" href="<?php echo $this->baseUrl()?>/parts/edit-subphase-amount/part/<?php echo $this->part->getID()?>/id/<?php echo $subPhase['id']?>"> Upravit stav</a>
                                    </td>
                                </tr>
                                <?php } } ?>
                            </table>
                        </div>
                    </div>
                    <!-- right side -->
                    <div class="span6">
                        <h4 class="detail-title">Operace
                            <?php if(Zend_Registry::get('acl')->isAllowed('parts/add-operation')) { ?>
                                <a class="btn pull-right" title="Přidat" href="<?php echo $this->url(array('action' => 'add-operation', 'controller' => 'parts', 'part' => $this->part->getID())); ?>"><i class="icon-plus"></i></a>
                            <?php } ?>
                        </h4>
                        <table class="table">
                         <?php
                            /**
                             * Operace - cenove
                             */
                            if(Zend_Registry::get('acl')->isAllowed('parts/add-operation')) { ?>
                                <?php if(count($this->operations) > 0 ) {
                                    foreach($this->operations as $operation) { ?>
                                        <tr>
                                            <td>
                                                <?php if(Zend_Registry::get('acl')->isAllowed('parts/detail/price')) { echo "<span>" . $operation['price'] . " Kč</span>"; } ?> <span>
                                                <?php echo substr($operation['producer']." ".$operation['name'],0,34) . (($operation['time'] > 0) ? ' / ' . $operation['time'] . 'min' : '');?></span>
                                            </td>
                                            <td style="width: 25%;">
                                                <a class="btn delete-operation btn-danger btn-small" href="<?php echo $this->url(array('action' => 'delete-operation', 'controller' => 'parts', 'part' => $this->part->getID(), 'id' => $operation['id'])); ?>"><i class="icon-remove icon-white"></i></a>
                                                <a class="btn btn-normal btn-small" href="<?php echo $this->url(array('action' => 'edit-operation', 'controller' => 'parts', 'part' => $this->part->getID(), 'id' => $operation['id'])); ?>"><i class="icon-edit"></i></a>
                                                <a class="btn btn-normal btn-small" href="<?php echo $this->url(array('action' => 'add-production', 'controller' => 'parts', 'operation' => $operation['id'])); ?>" title="Zadat" alt="Zadat"><i class="icon-share-alt"></i></a>
                                            </td>
                                        </tr>
                            <?php   }
                                }
                             } ?>
                           </table>
                    </div>
                </div>
                <?php } ?>
                <div>
                    <?php
                    /**
                     * Obaly produktu
                     */
                    if($this->part->isProduct()) {
                        // && $this->product->getWraps() !== NULL && count($this->product->getWraps()) > 0)
                        // $prod = new Products_Product($this->part->getID());
                        if(false && $prod->getWraps() !== NULL && count($prod->getWraps()) > 0) { ?>
                            <h4 class="detail-title">Obaly</h4>
                            <table class="table">
                                <tr>
                                    <th colspan="2">Obaly:</th>
                                    <th>Počet</th>
                                </tr>
                            <?php foreach($prod->getWraps() as $wrap) { ?>
                                <tr>
                                    <td <?php if($prod->getWrapParts($wrap['id']) !== NULL) { echo 'rowspan="2"'; } ?>>
                                        <a href="<?= $this->baseUrl()?>/wraps/detail/id/<?= $wrap['id_wraps']; ?>"><?= $wrap['id_wraps']; ?></a>
                                    </td>
                                    <td><?= $wrap['name']; ?></td>
                                    <td><?= $wrap['amount']; ?>x</td>
                                </tr>
                            <?php if(($parts = $prod->getWrapParts($wrap['id'])) !== NULL) { ?>
                                <tr>
                                    <td colspan="3">
                                        <table class="table">
                                            <?php foreach($parts as $part) { ?>
                                            <tr>
                                                <td><a href="<?= $this->baseUrl(); ?>/parts/detail/id/<?= $part['id_parts']; ?>"><?= $part['id_parts']; ?></a> - <?= $part['name']; ?></td>
                                                <td><?= $part['amount']; ?>x</td>
                                            </tr>
                                            <?php } ?>
                                        </table>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php } ?>
                            </table>
                <?php } } ?>
                </div>
            </div>
            <!-- row -->
            <div class="tab-pane" id="subitems">
                <!-- nav -->
                <ul class="nav nav-tabs no-print" id="tabPanel2" style="margin-top: 10px;">
                    <li class="active"><a href="#subitems-list">Výpis</a></li>
                    <li><a href="#subitems-tree">Strom</a></li>
                </ul>
                <!-- tabs -->
                <div class="tab-content">
                    <!-- tab -->
                    <div class="tab-pane active" id="subitems-list">
                        <h4 class="detail-title">Výpis podsoučástí
                            <a class="btn btn-primary btn-small pull-right no-print" href="<?php echo $this->baseUrl()?>/parts/select-subparts/part/<?php echo $this->part->getID()?>"><i class="icon-plus icon-white"></i> Přidat podsoučást</a>
                        </h4>
                        <div class="recalc-wrapper hidden">
                          <div class="pull-right">&nbsp;<a id="cnt-2" class="btn btn-mini btn-primary" href="<?= $this->url(array('action' => 'recalculate')); ?>" title="Aktualizuje cenu všem součástem, ve kterých figuruje tato součást"><i class="icon icon-refresh icon-white"></i> přepočítat cenu</a> <a href="#" onclick="alert('Aktualizuje cenu všem součástem, ve kterých figuruje tato součást.');">(?)</a></div>
                            <div class="progress progress-striped active">
                              <div id="cnt-bar-2" class="bar"></div>
                            </div>
                        </div>
                        <table id="subparts-list" class="table table-hover table-condensed">
                        <?php
                            /**
                             * Subparts list
                             */
                            $sParts = $this->part->getSubparts(true);
                            $lastCtg = NULL;
                            if(count($sParts) > 0) {
                                foreach($sParts as $part) {
                                    if ($lastCtg != $part->getCtgName()) {
                                        $lastCtg = $part->getCtgName();
                                    ?>
                                <tr>
                                    <th colspan="5"><?= $part->getCtgName(); ?></th>
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <th>Název</th>
                                    <th></th>
                                    <th>Počet</th>
                                    <th></th>
                                </tr>
                                <?php } ?>
                                <tr>
                                    <td><a href="<?= $this->baseUrl(); ?>/parts/detail/id/<?= $part->getID(); ?>"><?= $part->getID(); ?></a></td>
                                    <td><?= $part->getName()?></td>
                                    <td><?php if($part->isProduct()) { ?><img src="<?= $this->baseUrl(); ?>/public/images/product.png" alt="P" title="Součást je zároveň i produkt"/><?php } ?></td>
                                    <td><input id="<?= $part->getID(); ?>" type="text" value="<?= $part->getAmount(); ?>" class="part_count span1 text-right no-print" style="width: 56px; margin: 0px !important;" /><span class="print-only"><?= $part->getAmount(); ?></span></td>
                                    <td><a class="remove btn btn-danger btn-small" href="<?= $this->baseUrl()?>/parts/delete-sub-part/part/<?= $this->part->getID()?>/subpart/<?= $part->getID()?>"><i class="icon-remove icon-white"></i></a></td>
                                </tr>
                        <?php } } ?>
                        </table>
                    </div>
                    <!-- tab -->
                    <div class="tab-pane" id="subitems-tree">
                        <table class="table table-condensed">
                        <?php
                            $sParts = $this->part->getSubparts(true);
                            if(count($sParts) > 0) {
                                echo $this->printPartTree($this->part->getTree());
                            } else {
                                echo '<tr><a href="' . $this->baseUrl() . '/parts/select-subparts/part/' . $this->part->getID() . '">přidat podsoučásti</a><td></td></tr>';
                            }
                        ?>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('#tabPanel a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // on load select tab
    $(function() {
        $('#tabPanel a[href="'+window.location.hash+'"]').tab('show');
    });

    $('#tabPanel2 a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // on load select tab
    $(function() {
        $('#tabPanel2 a[href="'+window.location.hash+'"]').tab('show');
    });

	$(".part_count").change( function() {
		if($(this).val() > 0){
			if(confirm('Opravdu chcete změnit počet podsoučásti '+$(this).attr('id')+'?')){
				$.ajax({
					'url': '/parts/select-subparts-list',
					'data': {'part':'<?php echo $this->part->getID() ?>', 'add':$(this).attr('id'), 'amount':$(this).val()},
					'success': function(data){
						alert("Počet podsoučásti změněn. Nezapomeňte přepočítat cenu!");
            $('.recalc-wrapper').removeClass('hidden');
					},
					'error': function(data){
						alert("Počet podsoučásti se nepodařilo změnit.");
					}
				});
			}
		}
	});

  $('.delete-operation').click(function(){
    if (confirm('Opravdu chcete tuto operaci odstranit?')) {
      $('#cnt-bar').html('Probíhá přepočítávání. Čekejte...').attr({'style': 'width: 100%'});
      return true;
    } else {
      return false;
    }
  });

  $('#cnt-2').click(function(){
    $('#cnt-bar-2').html('Probíhá přepočítávání. Čekejte...').attr({'style': 'width: 100%'});
  });


  $('.btn.remove').click(function(){
    if (confirm('Opravdu chcete tuto podsoučást odstranit? Odstranění může chvíli trvat...')) {
      var href = $(this).prop('href');
      var amount = $(this).parent('td').prev('td').find('input').val();
      $(this).prop('href', href + '/amount/' + amount);
      $('.recalc-wrapper').removeClass('hidden');
      $('#cnt-bar-2').html('Probíhá přepočítávání. Čekejte...').attr({'style': 'width: 100%'});
      return true;
    }
    else {
      return false;
    }
  });

</script>

<?php
if($this->part) {	//Parts_Part::computeAllFirst(); die("OK");
	echo $this->partial("parts/ajax-set-collection.phtml", array('part'=>$this->part->getID()));
}
?>