<?php echo $this->form; ?>

<div class="modal fade" id="hs-modal-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Volba HS kódu</h3>
  </div>
  <div class="modal-body">
    <?= $this->hsForm; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="hs-modal-dialog-submit">Zvolit</a>
  </div>
</div>


<script>
  (function ($) {
    $("input[type='checkbox']#meduse_parts_cover_cost_default").change(function () {
      if ($(this).is(":checked")) {
        $('#meduse_parts_cover_cost').attr('disabled', 'disabled');
        $('#meduse_parts_cover_cost').val('');
      }
      else {
        $('#meduse_parts_cover_cost').removeAttr('disabled');
        $('#meduse_parts_cover_cost').val('<?=  $this->cover_cost_default; ?>');
      }
    });

    $('#hs_change, #form_element_meduse_parts_hs').click(function () {
      const hsCode = $('#meduse_parts_hs').val().trim();
      openHsDialog(hsCode);
    });

    $('#hs-modal-dialog-submit').click(function() {
      const hsCode = $('#hs-modal-dialog form #form_element_hs_code input:checked').val();
      $('#meduse_parts_hs').val(hsCode);
      $('#hs-modal-dialog').modal('hide');
    });

    function openHsDialog(hsCode) {
      let checked;
      $('#hs-modal-dialog form #form_element_hs_code input').each(function(){
        checked = $(this).val() === hsCode;
        $(this).prop('checked', checked);
      });
      $('#hs-modal-dialog').modal('show');
    }

  })(jQuery);



</script>