<div>
    <h2>Externí sklady</h2>
</div>
<div>
    <a class="btn btn-primary pull-right" href="<?=$this->baseUrl()?>/parts/extern-add"><i class="icon-plus icon-white"> </i> Přidat externí sklad</a>
</div>

<?php if($this->data) { ?>
<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>Název</th>
			<th>Popis</th>			
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>

<?php
	$odd = false;
	foreach($this->data as $row){
			$odd = !$odd;
?>
	<tr>
		<td <?= ($odd ? " class='odd'" : '') ?> style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/warehouse?wh=<?=$row['id']?>&coll=null&ctg=null&name=&id=&Hledat=Hledat"><?=$row['name']?></a></td>
		<td <?= ($odd ? " class='odd'" : '') ?> style="text-align: left;"><?=$row['description']?></td>
		<td <?= ($odd ? " class='odd'" : '') ?>>
            <a class="btn btn-normal btn-small pull-right" title="Upravit" href="<?=$this->baseUrl()?>/parts/extern-edit/id/<?=$row['id']?>"><i class="icon-edit"> </i></a>
		</td>
	</tr>
<?php 
	} 
?>
	</tbody>
</table>

<?php
} else {
    echo '<p class="alert alert-info">Neexistuje žádný externí sklad.</p>';
}
?>
