<h2>Historie skladu</h2>
<?php $idArray = array(); ?>
<form method="post" action="<?php echo $this->url(array('action'=>'history-back')) ?>">
	<input class="btn btn-danger" type="submit" value="Vrátit označené" id="Odeslat" /><br /><br />Vracet lze pouze poslední změnu každé součásti

	<table class="table table-bordered table-condensed table-hover">
	<tr>
		<th>&nbsp;</th>
		<th>Datum</th>
		<th>Počet</th>
		<th>ID</th>
		<th>Název</th>
		<th>Kdo</th>
	</tr>
<?php foreach($this->data as $row): ?>
	<tr>
		<td>
	<?php if(!in_array($row->id_parts, $idArray)) { ?>
		<input type="checkbox" id="<?php echo $row->id ?>" name="back_<?php echo $row->id ?>" />
	<?php } else { echo "&nbsp;"; } array_push($idArray, $row->id_parts); ?>
		</td>
		<td><?php echo $this->dateTimeFromDb($row->last_change); ?></td>
		<td><?php echo $row->amount < 0 ? $row->amount : '+' . $row->amount ; ?></td>
	<?php if($this->id): ?>
		<td><?php echo $row->id_parts; ?></td>
	<?php else: ?>
		<td><a class="btn btn-mini btn-info" href='<?php echo $this->url(array('id' => $row->id_parts),null,false); ?>'><?php echo $row->id_parts; ?></a></td>
	<?php endif; ?>
		<td><?php echo $row->name; ?> </td>
		<td><?php echo $row->username; ?> <?php echo empty($row->note) ? '' : '('.$row->note.')'; ?></td>
	</tr>
<?php endforeach; ?>
</table>
</form>

<script type="text/javascript">
<!--
$(document).ready(function() {
	jQuery("[type=checkbox]").click( function() {
		if($(this).attr('checked') == false){
			jQuery(this).parent().parent().removeAttr('style');
			if(jQuery(this).parent().parent().hasClass('odd')){
				jQuery(this).parent().parent().css("background-color", "#EDEDED");
			}
		} else {
			jQuery(this).parent().parent().attr('style', "background-color: yellow;");
		}
	});
});
//-->
</script>