<h2> Opravdu chcete vrátit tyto pohyby skladu? </h2>
<form action="" method="post">
	<input type="hidden" name="confirm" value="true" />
<table class="table table-condensed table-bordered table-hover">
	<thead>
		<tr>
			<th>Datum</th>
			<th>Počet</th>
			<th>ID</th>
			<th>Název</th>
			<th>Provede se</th>
		</tr>
	</thead>
	<tbody>
	<?php
		foreach ($this->data as $row): ?>
		<tr class="lines">
			<td><?php echo $this->dateTimeFromDb($row['last_change']) ?></td>
			<td><?php echo $row['amount'] > 0 ? '+'.$row['amount'] : $row['amount'] ?></td>
			<td><?php echo $row['id_parts'] ?></td>
			<td><?php echo $row['name'] ?></td>
			<td><?php echo $row['amount'] < 0 ? '+'.abs($row['amount']) : '-'.$row['amount'] ?> <?php echo $row['id_parts'] ?>
				<input type="hidden" name="back_<?php echo $row['id']?>" id="back_<?php echo $row['id']?>" value="true" />
			</td>		
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
	<input class="btn-warning btn" type="submit" value="Potvrdit" id="Odeslat" />
	<input class="btn-success btn" type="cancel" value="Zrušit" onclick="history.back();" />
</form>
