<?php echo $this->form; ?>

<div class="modal fade" id="hs-modal-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Volba HS kódu</h3>
  </div>
  <div class="modal-body">
    <?php echo $this->hsForm; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="hs-modal-dialog-submit">Zvolit</a>
  </div>
</div>

<?php $this->boldCategorySelect() ?>
<div id="grid">
<?php echo $this->pages;?>
</div>
<!-- Modal window -->
<div id="formCollectionModal" class="modal hide fade">
  <div class="modal-header">
    <h3>Upozornění</h3>
  </div>
  <div class="modal-body">
    <p>Vybrali jste více než jednu kolekci. Id je potřeba zadat ručně.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" id="formModalBtnClose">Zavřít</button>
  </div>
</div>

<!-- jsctipt -->
<script>
$(document).ready(function() {  
    $(function() {
        // btn modal close
        $('#formModalBtnClose').click(function() {
            $('#formCollectionModal').modal('hide');
        });
        $('#form_element_meduse_parts_price').hide();
        $('#form_element_meduse_parts_hs').hide();
        $('#hs_change').hide();
        $('#form_element_meduse_parts_cover_cost').prop('disabled', true).hide();
        $('#form_element_meduse_parts_cover_cost_default').prop('checked', true).hide();
    }); 

	$('#meduse_parts_wh_type').change(function(){
		if ($(this).val() == '<?php echo Parts_Part::WH_TYPE_PIPES; ?>') {
			$('#form_element_meduse_parts_collection').slideDown();
		} else if ($(this).val() == '<?php echo Parts_Part::WH_TYPE_TOBACCO; ?>') {
			$('#form_element_meduse_parts_collection').slideUp();
		}
	});


    /*
     * Get next part id
     */
    // inicialize
    var category = [23, 31, 1,2,3,4,5,6,7,8]; // sets, accessory, accessory subcat
    var collections = [];
    
    // events 
    $('[name="meduse_parts_collection[]"]').change(function() {
        if($(this).prop('checked')) {
            collections.push($(this).val());
        }
        else {
            var pos = $.inArray($(this).val(), collections);
            collections.splice(pos, 1);
        }

        $(this).getNextId();
    });
    
    $('#meduse_parts_category').change(function() {
        $(this).getNextId();
    });
    
    $('#meduse_parts_id').keyup(function() {
        console.log($(this).val());
        $.ajax({
            url: "/parts/ajax-check-part-id",
            data: 'id='+$(this).val(),
            success: function(data) {
                if(!data.result) {
                    $('#meduse_parts_id_check').html('<span class="btn-success" style="margin-left: 3px; padding:4px 0 4px 0;"><i class="icon-ok icon-white"></i></span>');
                }
                else {
                    $('#meduse_parts_id_check').html('<span class="btn-danger" style="margin-left: 3px; padding:4px 0 4px 0;"><i class="icon-remove icon-white"></i></span>');
                }
            }
        });
    });
    
    // funciton get next id
    $.fn.getNextId = function() {
        if(collections.length === 1 && $.inArray($('#meduse_parts_category').val(), category)) {
            $.ajax({
                url: "/parts/ajax-get-next-part-id",
                data: "col="+collections[0]+'&ctg='+$('#meduse_parts_category').val(),
                success: function(data) {
                    $('#meduse_parts_id').val(data.data);
                    $('#meduse_parts_id_check').html('<span class="btn-success" style="margin-left: 3px; padding:4px 0 4px 0;"><i class="icon-ok icon-white"></i></span>');
                }
            });
        }
        else if(collections.length > 1) {
            $('#formCollectionModal').modal(); // fire collections selected modal info
            $('#meduse_parts_id').val('');
            $('#meduse_parts_id_check').html('');
        }
    };
    
    $('#meduse_parts_producer').change(function(){
      if ($(this).val() == "") {
        $('#form_element_meduse_parts_price').hide();   
      }
      else {
        $('#form_element_meduse_parts_price').show();     
      }
    });
    
    $('input[name="meduse_parts_product"]').change(function(){
      if ($(this).prop('checked')) {
        $('#form_element_meduse_parts_hs').show();
        $('#hs_change').show();
        $('#form_element_meduse_parts_cover_cost').show();
        $('#form_element_meduse_parts_cover_cost_default').show();
      }
      else {
        $('#form_element_meduse_parts_hs').hide();
        $('#hs_change').hide();
        $('#form_element_meduse_parts_cover_cost').hide();
        $('#form_element_meduse_parts_cover_cost_default').hide();
      }
    });

  $("input[type='checkbox']#meduse_parts_cover_cost_default").change(function() {
    if($(this).is(":checked")) {
      $('#meduse_parts_cover_cost').prop('disabled', true);
      $('#meduse_parts_cover_cost').val('');
    } else {
      $('#meduse_parts_cover_cost').prop('disabled', false);
      $('#meduse_parts_cover_cost').val('<?= $this->cover_cost_default; ?>');
    }
  });

  $('#hs_change, #form_element_meduse_parts_hs').click(function () {
    const hsCode = $('#meduse_parts_hs').val().trim();
    openHsDialog(hsCode);
  });

  $('#hs-modal-dialog-submit').click(function() {
    const hsCode = $('#hs-modal-dialog form #form_element_hs_code input:checked').val();
    $('#meduse_parts_hs').val(hsCode);
    $('#hs-modal-dialog').modal('hide');
  });

  function openHsDialog(hsCode) {
    let checked;
    $('#hs-modal-dialog form #form_element_hs_code input').each(function(){
      checked = $(this).val() === hsCode;
      $(this).prop('checked', checked);
    });
    $('#hs-modal-dialog').modal('show');
  }

});    




</script>