<script type="text/javascript">
$(document).ready(function() {
	$(".export").click(function(){
		$.ajax({
			url: "<?=$this->baseUrl()?>/parts/overview",
			data: "setExport=true&id="+jQuery(this).val()
		});
	});
});
</script>

<h3>Přehled skladu</h3>

<div id="filter" class="collapse <?php if ($this->show) echo 'in'; ?>">
<?php echo $this->form; $this->boldCategorySelect(); ?>
</div>


<p class="text-center">
  <button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#filter">
  Filtr
  </button>
  <a class="btn btn-success btn-small" href="<?=$this->baseUrl()?>/parts/overview"><i class="icon icon-white icon-search"></i> Nové hledání</a>
</p>

<?php
if($this->data){
	$pricePermission = Zend_Registry::get('acl')->isAllowed('parts/detail/price');
	if($pricePermission){
	?>
	<form method="post" class="form" action="<?php echo $this->baseUrl(); ?>/parts/overview?<?=$_SERVER['QUERY_STRING']?>">
	<?php } ?>
<table class="table table-condensed table-hover">
	<tbody>
<?php
    $lastCtg = null;
	$db = Zend_Registry::get('db');
	foreach($this->data as $row){
        if($lastCtg != $row['ctg_name']){
            $lastCtg = $row['ctg_name'];
?>
		<tr><th colspan="<?= ($pricePermission) ? '9' : '8' ?>" class="section"><?= $row['ctg_name'] ?></th></tr>
		<tr>
			<th>ID</th>
			<th>Název</th>
			<th>Popis</th>
			<th>Export</th>
			<th>Produkt</th>
			<th>Složená<br/>součást</th>
            <?php if($pricePermission){ ?>
            <th class="text-right">VC</th>
            <?php } ?>
      <th class="text-right">Prac.</th>
			<th colspan="2"></th>
		</tr>
<?php
        }
?>
		<tr class="">
			<td style="text-align: left;"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>"><?= $row['id']?></a></td>
			<td style="text-align: left;<?= ($row['multipart'] == 'ano' || $row['product'] == 'ano' ? "font-weight: bold;" : '')?><?= ($row['product'] == 'ano' ? "color: red;" : '')?>"><?= $row['name']?></td>
			<td><?= mb_substr($row['description'], 0, 40); ?></td>
			<td class="text-center"><input type="checkbox" <?php if($row['export'] == 'y' || $row['export'] == 'ano'){ ?>checked="checked"<?php }?> style="width: 20px;" class="export" value="<?=$row['id']?>" /></td>
			<td class="text-center"><?= ($row['product'] == 'y' || $row['product'] == 'ano') ? '<i class="icon-ok-circle " title="součást je produkt"' : ''; ?></td>
			<td class="text-center"><?= ($row['multipart'] == 'y' || $row['multipart'] == 'ano') ? '<i class="icon-ok-circle " title="součást je složená"' : ''; ?></td>
            <?php if($pricePermission){ ?>
            <td class="text-right">
                <?php
					if( $row['multipart'] != 'ano' ){
?>						<input style="width: 60px; height: 12px; margin-bottom: 0px;
       text-align: right;" id="part_<?=$row['id']?>" class="price"
       name="part_<?=$row['id']?>" type="text" value="<?= $row['price'] ?>"
       title="Zadejte pořizovací cenu, do výsledné ceny se zahrne navíc cena operací." /> <?php
					} else {
						echo number_format( $row['price'] , 2);
					}
				?>
            </td>
            <?php } ?>
      <td class="text-right"><?= $row['price'] != 0 ? round($row['operations_cost']/$row['price']*100, 2) . '%' : '--';?></td>
			<td><a class="btn btn-normal btn-small" href="<?=$this->baseUrl()?>/parts/edit/id/<?=$row['id']?>"><i class="icon-edit"></i></a></td>
            <td><a class="btn btn-danger btn-small" href="<?=$this->baseUrl()?>/parts/delete-part/id/<?=$row['id']?>" onClick="return confirm('Opravdu chcete tuto součást odstranit?\nBude odstraněna ze skladu, ze všech produktů i složených součástí.')" ><i class="icon-remove icon-white"></i></td>
		</tr>
<?php

	}
?>
	</tbody>
</table>
<?php if($pricePermission){ ?>
    <p class="text-center">
        <input type="submit" class="btn btn-primary" value="Odeslat ceny" id="Hledat"/>
    </p>
</form>
<?php }

}
?>
<br /><br /><br />

<script>
  $(document).ready(function(){
    $('.price').tooltip();
  });

</script>
