<?php
    echo $this->filter;
?>
<div style="text-align: center;">
    <a href="<?php echo $this->url(array('controller' => 'parts', 'action' => 'productions'), null, true); ?>">Nové hledání</a>
</div>
<div style="margin-top:30px;">
<?php
    echo $this->grid;
?>
</div>