<h2><?= $this->title; ?></h2>
<form id="search-form">
<table id="products" class="table table-condensed table-hover sticky">
  <thead>
    <tr>
      <th>ID</th>
      <th>název</th>
      <th>kategorie</th>
    </tr>
    <tr>
      <td><input type="text" id="search-id"></td>
      <td><input type="text" id="search-name"></td>
      <td><input type="text" id="search-ctg"></td>
    </tr>
  </thead>
  <tbody>
    <?php foreach ($this->products as $product): ?>
      <tr>
        <td class="nowrap"><a class="id" href="<?= $this->url(['action' => 'detail', 'id' => $product['id']]); ?>"><?= $product['id']; ?></a></td>
        <td><div class="name nowrap"><?= $product['name']; ?></div>
          <small><?= $product['description']; ?></small></td>
        <td class="nowrap ctg"><?= $product['ctg_name']; ?></td>
      </tr>
    <?php endforeach; ?>
  </tbody>
</table>
</form>

<script>
  $(document).ready(function(){
    const $rows = $('#products tbody tr');
    $('#search-form').on('keyup keypress', function(e) {
      const $inputId = $(this).find('#search-id');
      const $inputName = $(this).find('#search-name');
      const $inputCtg = $(this).find('#search-ctg');
      const keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
      search($inputId.val(), $inputName.val(), $inputCtg.val());
    });

    function search(id, name, ctg) {
      console.log(id + ' ' + name + ' ' + ctg);
      id = id.trim();
      name = name.trim();
      ctg = ctg.trim();
      if (id === '' && name === '' && ctg === '') {
        $rows.show();
        return;
      }
      id = id.toLowerCase();
      $rows.each(function(){
        const $row = $(this);
        const rowId = $row.find('.id').text().toLowerCase();
        const rowName = $row.find('.name').text().toLowerCase();
        const rowCtg = $row.find('.ctg').text().toLowerCase();

        let show = true;

        if (id !== '') {
          show = show && rowId.includes(id);
        }
        if (name !== '') {
          show = show && rowName.includes(name);
        }
        if (ctg !== '') {
          show = show && rowCtg.includes(ctg);
        }
        if (show) {
          $row.show();
        }
        else {
          $row.hide();
        }
      });
    }
  });

</script>
