<br /><br />
<?php
if($this->has_subparts){
?>
<div style="border: 1px solid red; background-color: coral; width: 600px; margin: auto; padding: 0.5em;">
	POZOR: pokud vyřadíte ze skladu složenou součást, zmizí ze skladu i součásti,
	ze kterých byla složena. Pokud chcete naskladnit přislušný počet podsoučástí, pak chcete součást
	<a href="<?=$this->baseUrl()?>/parts/break/part/<?=$this->part_id?>" style="color: blue;">Rozložit</a>
</div><br />
<?php
}
?>
<br />
<?php echo $this->form; ?>
