<h3>Vybírání podsoučástí pro <?php echo $this->part->getID().' '.$this->part->getName()?></h3><br>


  <div class="pull-right">&nbsp;<a id="cnt-2" class="btn  btn-primary" href="<?= $this->url(array(
    'action' => 'recalculate', 'part' => NULL, 'id' => $this->part->getID())); ?>" title="Aktualizuje cenu všem součástem, ve kterých figuruje tato součást"><i class="icon icon-refresh icon-white"></i> Hotovo</a> <a href="#" onclick="alert('Aktualizuje cenu všem součástem, ve kterých figuruje tato součást.');">(?)</a></div>
    <div class="progress progress-striped active">
      <div id="cnt-bar-2" class="bar"></div>
    </div>

<div>
    <?php echo $this->form ?>
</div>
<div id="simple_content">
    <div class="alert alert-block">
        <p>nic nevybráno</p>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
	$("#coll").change(function(){
		submitFilter();
	});
	$("#ctg").change(function(){
		submitFilter();
	});
	$("#name").keyup(function(){
		if($("#name").val().length >= 1){
			submitFilter();
		}
	});
  $("#subparts_filter").submit(function(event) {
    event.preventDefault();
  });
});
function submitFilter() {
	$("#simple_content").html('<div class="alert alert-block alert-info"><p>načítání ... </p></div>');
	$.ajax({
		'url':'/parts/select-subparts-list',
		'data': {'part':'<?php echo $this->part->getID()?>','name':$('#name').val(), 'ctg':$('#ctg').val(),'coll':$("#coll").val()},
		'success': function(data){ console.log(data);
			$("#simple_content").html(data);
		}
	});
}

  $('#cnt-2').click(function(){
    $('#cnt-bar-2').html('Probíhá přepočítávání. Čekejte...').attr({'style': 'width: 100%'});
  });

</script>

