<h4>Přiřazení dodavatele součásti <?php echo $this->part;?></h4><br />

<?php
	if($this->data && count($this->data) > 0) {
?>
<table class="table table-condensed table-hover">
<?php
		$i = 0;
		$lastCtg = 2;
		foreach($this->data as $row){
			$class = ($i++ % 2) ? " class='odd'" : '';
			if($lastCtg != $row->producer_ctg){
				$lastCtg = $row->producer_ctg;
?>
	<tr><th colspan="8"><?php if(is_null($lastCtg)) echo "Bez kategorie"; else echo $row->producer_ctg; ?></th></tr>
	<tr>
		<th>Firma</th>
		<th>Činnost</th>
		<th>Poznámka</th>
		<th colspan="2">&nbsp;</th>
	</tr>
<?php
			}
?>
	<tr <?php if($row['hasParts']) echo "style='background-color:#ffffbf;'"; else echo $class; ?>>
		<td style="text-align: left;"><a href="<?= $this->baseUrl();?>/producers/detail/id/<?= $row->id ?>"><?php echo $row->name; ?></a></td>
		<td style="text-align: left;"><?php echo $row->activity; ?></td>
		<td style="text-align: left;"><?php echo $row->description; ?></td>
		<td>
			<a class="btn btn-normal" href="<?= $this->baseUrl();?>/producers/assign/id/<?= $row->id ?>/part/<?= $this->part ?>"><i class="icon-plus"</a>
		</td>
	</tr>
<?php
		}
?>
	<tr>
		<th colspan="4">&nbsp;</th>
	</tr>
</table>
<?php } else { ?>
    <div class="alert alert-block alert-error"><p>Žádné záznamy</p></div>
<?php }?>
