

<br/><br/><h4>Výběr skladu</h4><br/><br/>

<a href="<?=$this->baseUrl()?>/parts/warehouse/type/craft">Craft collection</a><br /><br />
<a href="<?=$this->baseUrl()?>/parts/warehouse/type/sepia">Sepia collection</a><br />



<br/><br/><h4>Sklad součástí - <?= $this->col ?></h4>POZOR: Při vložení složené součásti se odečte ze skladu příslušný počet podsoučástí.<br/>

<br/>

<form method="post">
	<table class="datalist">
		<thead>
			<tr>
				<th rowspan="2">ID</th>
				<th rowspan="2">Název</th>
				<th colspan="3">Objednávka</th>
				<th rowspan="2">Rezervace<br />[ks]</th>
				<th rowspan="2">Skladem<br />[ks]</th>
				<th rowspan="2">Chybí<br />[ks]</th>
				<th rowspan="2">Volných<br />[ks]</th>
				<th rowspan="2">Vložit<br />[ks]</th>
			</tr>
			<tr>
				<th>Extra acc.</th>
				<th>Sety</th>
				<th rowspan="2">Celkem</th>
			</tr>
		</thead>
		<tbody>
<?php
	$ii = -1;
	$i=0;
	$last_cgt = 0;
	$first = true;
	foreach($this->wh_data as $row){
		
		if($last_cgt != $row['id_parts_ctg']){
?>
			<tr><th colspan="10" class="section"><?= $row['ctg_name'] ?></th> </tr>
<?php 
			$last_cgt = $row['id_parts_ctg'];
			$ii= 0;
		}
		if(!$first & $ii++ == 0){
?>
			<tr>
				<th>ID</th>
				<th>Název</th>
				<th>Extra acc.</th>
				<th>Sety</th>
				<th>Celkem</th>
				<th>Rezervace</th>
				<th>Skladem</th>
				<th>Chybí</th>
				<th>Volných</th>
				<th>Vložit</th>
			</tr>
<?php 
		}$first = false;
		//$ii++;
		//foreach($category as $row){
			$class = ($i++ % 2) ? " class='odd'" : '';
?>
			<tr>
				<td<?= $class ?> style="text-align: left;<?= ($row['multipart'] == 'y' ? "font-weight: bold;" : '')?>"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>"><?= $row['id'] ?></a></td>
				<td<?= $class ?> style="text-align: left;<?= ($row['multipart'] == 'y' ? "font-weight: bold;" : '')?>"><?= $row['name'] ?></td>
				<?php
					if(isset($this->simple_parts[$row['id']])){
				?>
				<td<?= $class ?>>&nbsp;</td><td<?= $class ?>>&nbsp;</td>
				<td<?= $class ?>><b><?= $this->simple_parts[$row['id']] ?></b></td>
				<?php 
					} else {
				?>
				<td<?= $class ?>><?= $row['extra_amount'] ?></td>
				<td<?= $class ?>><?= $row['sets_amount'] ?></td>
				<td<?= $class ?>><b><?= $row['total_amount'] ?></b></td>
				<?php 
					} 
				?>
				
				
				<td<?= $class ?>><?= $this->ready_amounts[$row['id']] ?></td>
				<td<?= $class ?>><b><?= $row['skladem'] ?></b></td>
				<?php
					if(isset($this->simple_parts[$row['id']])){
				?>
				<td<?= $class ?> <?php if($this->simple_parts[$row['id']] > ($row['skladem'] + $this->ready_amounts[$row['id']])) echo "style='background-color: orange;'";?>><?php if($this->simple_parts[$row['id']] > ($row['skladem'] + $this->ready_amounts[$row['id']])) echo ($this->simple_parts[$row['id']]-$row['skladem']-$this->ready_amounts[$row['id']] );else echo 0; ?></td>
				<td<?= $class ?>><?php if($this->simple_parts[$row['id']] < ($row['skladem'] + $this->ready_amounts[$row['id']])) echo (($row['skladem'] + $this->ready_amounts[$row['id']]) - $this->simple_parts[$row['id']]);else echo 0; ?></td>
				<?php 
					} else {
				?>
					<td<?= $class ?> style="<?= ($row['multipart'] == 'y' ? "font-weight: bold;" : '')?><?php if($row['total_amount'] > ($row['skladem'] + $this->ready_amounts[$row['id']])) echo "background-color: orange;";?>"><?php if($row['total_amount'] > ($row['skladem'] + $this->ready_amounts[$row['id']])) echo ($row['total_amount']-$row['skladem']-$this->ready_amounts[$row['id']] );else echo 0; ?></td>
					<td<?= $class ?>><?php if($row['total_amount'] < ($row['skladem'] + $this->ready_amounts[$row['id']])) echo (($row['skladem'] + $this->ready_amounts[$row['id']]) - $row['total_amount']);else echo 0; ?></td>
				<?php 
					} 
				?>
				<td<?= $class ?>><input type="text" name="<?= $row['id'] ?>_amount" value="0" class="small_input" autocomplete="off" /></td>
			</tr>
<?php 
		}
	
?>
		</tbody>
		<tfoot>
			<tr><td colspan="10"><input type="submit" value="Odeslat" id="Odeslat" name="Odeslat" /></td></tr>
		</tfoot>
	</table>
	<input type="hidden" name="type" value="<?= $this->type ?>" />
</form>
<br />
<br />
<br />