<h2><?= $this->title; ?></h2>
<?php if(count($this->data) > 0): ?>
  <div class="alert">Seznam smazaných, nepoužívaných součástí, jejichž ID se nedá použít pro nové součásti</div>
  <table class="table table-condensed table-hover sticky">
    <thead>
      <tr>
        <th>Id</th>
        <th>Název</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <?php foreach($this->data as $row): ?>
      <tr>
        <td><?= $row['id']; ?></td>
        <td><?= $row['name']; ?></td>
        <td class="text-right"><a class="btn btn-mini" href="<?= $this->url(['action' => 'restore-part', 'id' => $row['id']])?>"><i class="icon icon-refresh"></i> obnovit</a></td>
      </tr>
    <?php endforeach; ?>
    </tbody>
  </table>
<?php endif; ?>