<h3>Položky skladu</h3>

<script type="text/javascript">
$(document).ready(function() { 
	$('#tooltip').click(function() {  $('#tooltip').attr('style', 'visibility: hidden; position: absolute;'); });
	$('#help').click(function() {  $('#tooltip').attr('style', "border: 1px solid green;width: 500px;margin: auto;background-color: #98FB98;text-align: left; position: absolute; left: 30%; visibility: visible;"); });
});
</script>

<div id="filter" class="collapse <?php if ($this->show) echo 'in'; ?>">
<?php echo $this->form; ?>
<?php $this->boldCategorySelect() ?>
</div>

<p class="text-center">
  <button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#filter">
  Filtr
  </button>    
<a class="btn btn-success btn-small" href="<?=$this->baseUrl()?>/parts/warehouse/new/search"><i class="icon icon-white icon-search"></i> Nové hledání</a>    
</p>

<?php if($this->wh_data && count($this->wh_data) == 0){ ?>
<br /><br />Zadaným vyhledávacím krytériím neodpovídá žádná součást.
<?php } elseif($this->wh_data) { 
		$pw = new Table_PartsWarehouse(); 
?> 
<?php if(!$this->extern) { ?>
POZOR: Při vložení složené součásti se odečte ze skladu příslušný počet podsoučástí.<br/>
<span style="color: teal;">Součásti, s číslem touto barvou, jsou zároveň v externím skladu.</span><br/><br/>
<?php } ?>
<div id="simple_content">
<form method="post">
	<table class="table table-condensed">
		<thead>
			<tr style="background-color: #EBEBEB">
				<th>ID</th>
				<th style="width: 300px;">Název</th>
                                <th>Set</th>
				<th>Složená<br />součást</th>
				<th>Produkt</th>
				<th>Polotovar</th>
				<th>Dodavatel</th>
				<?php if(!$this->extern) { ?>
				<th>Rezervace<br />[ks]</th>
				<?php } ?>
                                <!-- EXT -->
                                <?php if ($this->wh_type == 'ext'): ?>
                                <th>Externí<br>[ks]</th>
                                <?php endif; ?>                                
                                <!-- BASE = central -->
                                <th>Centrální<br>[ks]</th>                                
                                <!-- ALL (all, base) -->
                                <?php if ($this->wh_type == 'all' || $this->wh_type == 'base'): ?>
                                <th>Celkem<br>[ks]</th>
                                <?php endif; ?>                                
                                <th>Upravit<br />počet</th>
				<?php if(!$this->extern) { ?>
				<th>Vložit<br />[ks]</th>
				<?php } ?>
			</tr>
		</thead>
		<tbody>
		
<?php
	$ii = -1;
	$i=0;
	$last_cgt = 0;
	$first = true;
	foreach($this->wh_data as $row){ //Zend_Debug::dump($row); die();

		if($last_cgt != $row['id_parts_ctg']){
?>
                        <tr style="background-color: #EBEBEB"><th colspan="<?php if ($this->extern) { echo '10'; } else { echo '12'; } ?>" class="section"><?= (!empty($row['parent_ctg_name']) ? $row['parent_ctg_name'].' - ' : '') ?><?= $row['ctg_name'] ?></th> </tr>
<?php 
			$last_cgt = $row['id_parts_ctg'];
			$ii= 0;
		}
		if(!$first & $ii++ == 0){
?>
			<tr>
				<th>ID</th>
				<th>Název</th>
                                <th>Set</th>
				<th>Složená</th>
				<th>Produkt</th>
				<th>Polotovar</th>
				<th>Dodavatel</th>
				<?php if(!$this->extern) { ?>
				<th>Rezervace</th>
				<?php } ?>
                                <!-- EXT -->
                                <?php if ($this->wh_type == 'ext'): ?>
                                <th>Externí</th>
                                <?php endif; ?>                                
                                <!-- BASE = central -->
                                <th>Centrální</th>                                
                                <!-- ALL (all, base) -->
                                <?php if ($this->wh_type == 'all' || $this->wh_type == 'base'): ?>
                                <th>Celkem</th>
                                <?php endif; ?>
                                <th>Upravit</th>
				<?php if(!$this->extern) { ?>
				<th>Vložit</th>
				<?php } ?>
			</tr>
<?php 
		}
        $first = false;
?>
			<tr>
				<!-- id -->
				<td style="<?= ($row['product'] == 'y' || in_array($row['id'], Table_PartsWarehouse::getBoldParts()) ? "font-weight: bold;" : '')?>"><a href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>"><?= $row['id'] ?></a></td>
				
				<!-- name -->
				<td style="text-align: left;<?= ($row['product'] == 'y' || in_array($row['id'], Table_PartsWarehouse::getBoldParts()) ? "font-weight: bold;" : '')?>"><?= $row['name'] ?></td>
				
				<!-- set -->
				<td class="text-center"><?= ($row['set'] == 'y') ? '<i class="icon-ok-circle " title="součást je set"></i>' : ''; ?></td>

                <!-- slozena -->
				<td class="text-center"><?= ($row['multipart'] == 'y') ? '<i class="icon-ok-circle " title="součást je složená"></i>' : ''; ?></td>
				
				<!-- produkt -->
				<td class="text-center"><?= ($row['product'] == 'y') ? '<i class="icon-ok-circle " title="součást je produkt"></i>' : ''; ?></td>

				<!-- polotovar -->
				<td class="text-center"><?= ($row['semifinished'] == 'y') ? '<i class="icon-ok-circle " title="součást je polotovar"></i>' : ''; ?></td>

				<!-- ma dodavatele -->
				<td class="text-center" title="pouze u nesložených součástí"><?= ($row['id_producers'] !== null) ? '<i class="icon-ok-circle " title="součást má dodavatele: ' . $row['producer_name'] . '"></i>' : ''; ?></td>

				<!-- rezervace -->
				<?php if(!$this->extern) { ?><td><?= $this->ready_amounts[$row['id']] ?></td><?php } ?>
                                
                                <!-- EXT -->
                                <?php if ($this->wh_type == 'ext'): ?>
                                <td>
                                    <?php echo $row['amount_ext']; ?>
                                </td>
                                <?php endif; ?>
                                
                                <!-- BASE = central -->
                                <td>
                                    <?php echo $row['amount_base']; ?>
                                </td>
                                
                                <!-- ALL (all, base) -->
                                <?php if ($this->wh_type == 'all' || $this->wh_type == 'base'): ?>
                                <td>
                                    <?php if ($pw->getBaseAmount($row['id']) >= $pw->getAmount($row['id'])): ?>
                                        <?php echo $row['amount_all']; ?>
                                    <?php else: ?>
                                        <a style="color: teal; text-decoration: none;" href="<?=$this->baseUrl()?>/parts/detail/id/<?=$row['id']?>"><?= $row['amount_all'] ?></a>
                                    <?php endif; ?>
                                </td>
                                <?php endif; ?>
                 
                <!-- upravit -->                                
                <td><a class="btn btn-normal btn-small" href="javascript:openEditDialog('<?=$row['id']?>','<?=$row['name']?>','<?=$row['amount_all']?>');"><i class="icon-pencil" title="Uprav" alt="Uprav"></i></a></td>
				
				<!-- vlozit pocet -->
				<?php if(!$this->extern) { ?>
				<td><input type="text" name="<?= $row['id'] ?>_amount" class="span1" autocomplete="off" value="0" style="text-align: right; height: 12px; margin-bottom: 0px;" /></td>
				<?php } ?>
			</tr>
<?php 
		}
	
?>
		
		</tbody>
		<?php if(!$this->extern) { ?>
		<tfoot>
			<tr>
        <td class="text-center" colspan="<?php 
          if ($this->extern) { echo '10'; } else { echo '12'; } ?>"><br />
          <div><?= $this->formCheckbox('prefer_central'); ?>
            Preferovat vyskladnění podsoučástí z centrálního skladu</div><br />
          <input type="submit" value="Odeslat" id="Odeslat" name="Odeslat" 
                 class="btn btn-primary" />
          
        </td>
      </tr>
		</tfoot>
		<?php } ?>
	</table>
</form>
</div>


<div class="modal fade" id="modal-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Upravit počet</h3>
  </div>
  <div class="modal-body">
        <h4></h4>
        <?= $this->dialogForm; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-danger" id="modal-dialog-submit">Provést</a>
  </div>
</div>

<script type="text/javascript">

  $('#modal-dialog-submit').click(function(){
    $('#modal-dialog form').submit();
    $('#modal-dialog').hide();
  });  

  function openEditDialog(partID, partName, partAmount) {

    console.log(partID + ' / ' + partName + ' / ' + partAmount);
    $('#modal-dialog #part').val(partID);
    $('#modal-dialog h4').text(partID 
      + " " + partName + " (" +partAmount + ")");
    $('#modal-dialog').modal('show');
  }

</script>

<?php }?>




