<h3>Poměr surovin</h3>
<?php
		?><table class="table table-hover"><?php
		foreach ($this->recipe_parts as $recipe_part) {
			?>
			<tr>
				<td><?php echo $recipe_part['name'] ?></td>
        <td class="text-right"><?php echo $recipe_part['share'] . '%' ?></td>
				<td style="width: 1%">
          <?php if (!$recipe_part['fixed']): ?>
            <a href="#" class="btn btn-danger delete-part" id="i_<?php echo $recipe_part['id'] ?>">
              <span class="icon icon-remove"></span>
            </a>
          <?php endif; ?>
        </td>
			</tr>
			<?php
		}
		?></table><?php
?>
<?php if ($this->message): ?>
  <p class="text-center alert alert-error">
    <?= $this->message; ?>
  </p>
<?php endif; ?>
<?php echo $this->form ?>