<h2>Recepty</h2>
<?php
		?><table class="table"><?php
		foreach ($this->mix_recipes as $recipe) {
			?>
			<tr>
				<td><?php echo $recipe['name'] ?></td>
				<td><?php echo $recipe['ratio'] ?></td>
				<td><a href="#" class="btn btn-danger delete-part" 
               id="i_<?php echo $recipe['id'] ?>">
            <span class="icon icon-remove"></span></a></td>
			</tr>
			<?php
		}
		?></table><?php
?>
<?php echo $this->form ?>