<h2><?php echo $this->title; ?></h2>
<?php if ($this->result === null || $this->dryRun === true): ?>
<p>
    <strong>Tato akce provede odstranění osamocených a přebytečných čísel šarží. Srovná tak reporty skladu s přehledem skladu.</strong>
</p>
<form method="post">
    <?php if (!$this->dryRun): ?>
        <button class="btn btn-primary" type="submit" name="dry-run">Zobrazit šarže ke konsolidaci</button>
    <?php else: ?>
        <button class="btn btn-success" type="submit" name="run">Konsolidovat šarže</button>
    <?php endif; ?>
</form>
<?php endif; ?>

<?php if ($this->result !== null): ?>

<h3><?php echo $this->dryRun ? "Přehled konsolidace" : "Výsledek konsolidace" ?></h3>

    <?php if ($this->result->error): ?>
        <p class="alert alert-danger">Konsolidace nebyla úspěšná. <?php echo $this->result->message; ?></p>
    <?php else: ?>
        <?php $class = $this->dryRun ? 'alert-danger' : 'alert-success' ?>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>produkt</th>
                    <th>šarže</th>
                    <th>počet</th>
                    <th>skladem</th>
                    <th>rozdíl</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->result->repaired as $row): ?>
                    <tr class="<?= $row['diff'] != 0 ? 'alert ' . $class : '' ?>">
                        <td><?= $row['id_parts'] ?></td>
                        <td><?= $row['batch'] ?></td>
                        <td><?= $this->dryRun ? $row['batch_amount'] : $row['amount'] ?></td>
                        <td><?= $row['amount'] ?></td>
                        <td><?= $this->dryRun ? $row['diff'] : 0 ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    <?php endif; ?>
<?php endif; ?>