<h2><?= $this->title ?><br><small>sestaveno: <?= date('d.m.Y H:i:s'); ?></small></h2>

<p class="hidden-print"><strong>Zkontrolujte, vytiskněte a případně uzavřete rok.</strong><br>
<small>U položek bez inventárního stavu se při uzávěrce použije jejich konečný účetní stav!</small></p>
<div class="pull-right">
  <?php if ($this->show_abs_diff): ?>
    <a class="btn btn-mini" href="<?= $this->url(['diff' => null]); ?>">Zobrazit relativní odchylky</a>
  <?php else: ?>
    <a class="btn btn-mini" href="<?= $this->url(['diff' => 'abs']); ?>">Zobrazit absolutní odchylky</a>
  <?php endif; ?><br>
</div>
<?php if ($this->type == 'parts'): ?>
  <table class="table table-condensed table-hover sticky">
    <thead>
      <tr>
        <th>ID</th>
        <th>název</th>
        <th class="text-right">počátek</th>
        <th class="text-right">nasklad.</th>
        <th class="text-right">vysklad.</th>
        <th class="text-right">konec</th>
        <th class="text-right">inv.stav</th>
        <th class="text-right">inv.datum</th>
        <th class="text-right">odchylka</th>
      </tr>
    </thead>
    <tbody>
  <?php foreach ($this->report as $ctg_id => $data): ?>
    <tr><td colspan="10"><strong><?= $data['category_name']; ?></strong></td></tr>
    <?php foreach ($data['parts'] as $id => $item): ?>
      <tr id="<?= $id; ?>" class="<?= $item['class']; ?>">
        <td>
          <a class="hidden-print" href="<?= $this->url([
            'action' => 'parts-detail', 'id' => $id, 'year' => NULL, 'type' => NULL]); ?>#changes"><?= $id; ?></a>
          <span class="hidden-desktop"><?= $id; ?></span>
        </td>
        <td class="nowrap"><?= $item['name']; ?></td>
        <td class="text-right nowrap"><?= $item['start_amount']; ?> <?= $item['unit']; ?></td>
        <td class="text-right nowrap"><?= $item['amount_add']; ?> <?= $item['unit']; ?></td>
        <td class="text-right nowrap"><?= $item['amount_remove']; ?> <?= $item['unit']; ?></td>
        <td class="text-right nowrap"><?= $item['end_amount']; ?> <?= $item['unit']; ?></td>
        <?php if ($item['amount_real'] !== FALSE && $item['amount_real_date']->get('dm') != '0101'): ?>
          <td class="text-right nowrap">
            <input class="input input-mini part_amount"
                   data-snap_id="<?= $item['snap_id']; ?>"
                   data-snap_date="<?= $item['amount_real_date']->get('Y-m-d'); ?>"
                   data-part_id="<?= $id; ?>"
                   data-amount_wh="<?= $item['end_amount']; ?>"
                   data-remove="<?= $item['amount_remove']; ?>"
                   type="text" id="amount_<?= $id; ?>" value="<?= $item['amount_real']; ?>"> <?= $item['unit']; ?>
          </td>
          <td class="text-right nowrap amount_real_date"><?= $item['amount_real_date']->get('d.m.'); ?></td>
          <?php if ($this->show_abs_diff): ?>
            <td class="text-right diff nowrap" title="rel. odchylka = <?= $item['diff']; ?>"><?= Meduse_Currency::format($item['diff_abs'], $item['unit'], 3); ?></td>
          <?php else: ?>
            <td class="text-right diff nowrap" title="abs. odchylka = <?= $item['diff_abs']; ?> <?= $item['unit']; ?>"><?= $item['diff']; ?></td>
          <?php endif; ?>
        <?php else: ?>
          <td class="text-right nowrap">
            <input class="input input-mini part_amount"
                   data-snap_id=""
                   data-snap_date=""
                   data-part_id = "<?= $id; ?>"
                   data-amount_wh="<?= $item['end_amount']; ?>"
                   data-remove="<?= $item['amount_remove']; ?>"
                   type="text" id="amount_<?= $id; ?>" value=""> <?= $item['unit']; ?>
          </td>
          <td class="text-right nowrap amount_real_date"></td>
          <td class="text-right nowrap diff"></td>
        <?php endif; ?>
      </tr>
    <?php endforeach; ?>

  <?php endforeach; ?>
    </tbody>
  </table>
<?php endif; ?>

<?php if ($this->type == 'macerations'): ?>

  <table class="table table-condensed table-hover sticky">
    <thead>
    <tr>
      <th>šarže</th>
      <th>název</th>
      <th class="text-right">počátek</th>
      <th class="text-right">změny</th>
      <th class="text-right">konec</th>
      <th class="text-right">spotřeba</th>
      <th class="text-right">inv.stav</th>
      <th class="text-right">inv.datum</th>
      <th class="text-right">odchylka</th>
    </tr>
    </thead>
    <tbody>

      <?php foreach ($this->report as $id => $item): ?>
        <tr id="<?= $id; ?>" class="<?= $item['class']; ?>">
          <td>
            <a class="hidden-print" href="<?= $this->url(
              ['action' => 'macerations-detail', 'id' => $id, 'year' => NULL, 'type' => NULL]); ?>#changes"><?= $item['batch']; ?></a>
            <span class="hidden-desktop"><?= $item['batch']; ?></span>
          </td>
          <td class="nowrap"><?= $item['name']; ?></td>
          <td class="text-right nowrap"><?= $item['start_amount']; ?> kg</td>
          <td class="text-right nowrap"><?= $item['changes']; ?> kg</td>
          <td class="text-right nowrap"><?= $item['end_amount']; ?> kg</td>
          <td class="text-right nowrap"><?= $item['remove_total']; ?> kg</td>
          <?php if ($item['amount_real'] !== FALSE && $item['amount_real_date']->get('dm') != '0101'): ?>
            <td class="text-right nowrap">
              <input class="input input-mini maceration_amount"
                     data-snap_id="<?= $item['snap_id']; ?>"
                     data-snap_date="<?= $item['amount_real_date']->get('Y-m-d'); ?>"
                     data-maceration_id = "<?= $id; ?>"
                     data-amount_wh="<?= $item['end_amount']; ?>"
                     data-remove="<?= $item['remove_total']; ?>"
                     type="text" id="amount_<?= $id; ?>" value="<?= $item['amount_real']; ?>"> kg
            </td>
            <td class="text-right amount_real_date nowrap"><?= $item['amount_real_date']->get('d.m.'); ?></td>
          <?php if ($this->show_abs_diff): ?>
              <td class="text-right diff nowrap" title="rel. odchylka = <?= $item['diff']; ?>"><?= Meduse_Currency::format($item['diff_abs'], 'kg', 3); ?></td>
          <?php else: ?>
            <td class="text-right diff nowrap" title="abs. odchylka = <?= $item['diff_abs']; ?> kg"><?= $item['diff']; ?></td>
          <?php endif; ?>
          <?php else: ?>
            <td class="text-right nowrap">
              <input class="input input-mini maceration_amount"
                     data-snap_id=""
                     data-snap_date=""
                     data-maceration_id = "<?= $id; ?>"
                     data-amount_wh="<?= $item['end_amount']; ?>"
                     data-remove="<?= $item['remove_total']; ?>"
                     type="text" id="amount_<?= $id; ?>" value="<?= $item['amount_real']; ?>"> kg
            </td>
            <td class="text-right amount_real_date nowrap"></td>
            <td class="text-right diff nowrap"></td>

          <?php endif; ?>
        </tr>
    <?php endforeach; ?>
    </tbody>
  </table>

<?php endif; ?>

<p><small><strong>Poznámka:</strong><br>
  <?php if ($this->type == 'parts'): ?>
    Odchylka je počítaná jako rozdíl účetního a reálného stavu vůči počtu vyskladněných položek za rok.<br>
  <?php elseif($this->type == 'macerations'): ?>
    Odchylka je počítaná jako rozdíl účetního a reálného stavu vůči množství spotřebovaného macerátu ze všech sudů dané receptury za rok.<br>
    <?php if ($this->show_abs_diff): ?>
      <a class="btn btn-mini" href="<?= $this->url(['diff' => null]); ?>">Zobrazit relativní odchylky</a>
    <?php else: ?>
      <a class="btn btn-mini" href="<?= $this->url(['diff' => 'abs']); ?>">Zobrazit absolutní odchylky</a>
    <?php endif; ?><br>
  <?php endif; ?>
    Záporná odchylka znamená ztrátu, kladná přebytek.</small></p>
<p class="hidden-print"><a href="<?= $this->url(['action' => 'close-year-process', 'year' => $this->year]); ?>"
      class="btn btn-danger">Uzavřít rok <?= $this->year; ?> a zapsat počáteční stavy roku <?= $this->year + 1; ?></a>
</p>


<script type="text/javascript">

  $('input.part_amount').on('change', function () {
    var $this = $(this);
    var amount = parseFloat($this.val().replace(',', '.'));
    if (amount !== false) {
      var url = '<?= $this->url([
        'action' => 'warehouse-snapshot-add',
        'year' => NULL,
        'type' => NULL
      ]); ?>';
      var remove = $this.data('remove');
      var data = {
        'id': $this.data('part_id'),
        'amount_wh': $this.data('amount_wh'),
        'amount_real': amount,
        'type': 'ajax',
        'date': '<?= $this->close_date; ?>',
        'note': 'Inventura <?= $this->close_date; ?>',
        'fix': 'n'
      };
      if ('<?= $this->close_date; ?>' === $this.data('snap_date')) {
        data.snapshot_id = $this.data('snap_id');
      }
      $.post(url, data).done(function (data) {
        var $row = $('tr.part_row#' + data.part_id);
        var dateArray = data.date.split('-');
        var className;
        var diff;
        var diffStr = '—';
        if (remove) {
          diff = ((data.amount_real - data.amount_wh) / remove * 100);
          diffStr = diff.toFixed(2) + ' %';
        }
        $row.removeClass('alert-danger').removeClass('alert-success');
        if (-5 < diff && diff <= 0) {
          className = 'alert-success';
        }
        else {
          className = 'alert-danger';
        }
        if (className) {
          $row.addClass(className);
        }
        $row.find('.part_amount:first').html(data.amount_real);
        $row.find('.amount_real_date:first').html(dateArray[2] + '.' + dateArray[1] + '.');
        $row.find('.diff:first').html(diffStr);
        $row.find('input.part_amount:first').data('snap_id', data.snapshot_id).data('snap_date', data.date).val(data.amount_real);
      });
    }
  });

  $('input.maceration_amount').on('change', function () {
    var $this = $(this);
    var amount = parseFloat($this.val().replace(',', '.'));
    if (amount !== false) {
      var url = '<?= $this->url(['action' => 'macerations-snapshot-add', 'year' => NULL, 'type' => NULL]); ?>';
      var remove = $this.data('remove');
      var data = {
        'id': $this.data('maceration_id'),
        'amount_wh': $this.data('amount_wh'),
        'amount_real': amount,
        'type': 'ajax',
        'date': '<?= $this->close_date; ?>',
        'note': 'Inventura <?= $this->close_date; ?>',
        'fix': 'n'
      };
      if ('<?= $this->close_date; ?>' === $this.data('snap_date')) {
        data.snapshot_id = $this.data('snap_id');
      }
      $.post(url, data).done(function(data) {
        var $row = $('tr.maceration_row#' + data.maceration_id);
        var dateArray = data.date.split('-');
        var className;
        var diff;
        var diffStr = '—';
        if (remove) {
          diff = ((data.amount_real - data.amount_wh) / remove * 100);
          diffStr = diff.toFixed(2) + ' %';
        }
        $row.removeClass('alert-danger').removeClass('alert-success');

        if (-5 < diff && diff <= 0) {
          className = 'alert-success';
        }
        else {
          className = 'alert-danger';
        }
        if (className) {
          $row.addClass(className);
        }
        $row.find('.maceration_amount:first').html(data.amount_real);
        $row.find('.amount_real_date:first').html(dateArray[2] + '.' +  dateArray[1] + '.');
        $row.find('.diff:first').html(diffStr);
        $row.find('input.maceration_amount:first').data('snap_id', data.snapshot_id).data('snap_date', data.date).val(data.amount_real);
      });
    }
  });

</script>
<style>
  input.part_amount,
  input.maceration_amount {
    margin: 0;
    padding: 2px;
    text-align: right;
  }
  tr.part_row td,
  tr.maceration_row td {
    vertical-align: middle;
  }
</style>