<div class="pull-right">
    <a class="btn btn-success" href="/tobacco/export-generate">
    Generovat nyní
  </a>
</div>
<h2>Vygenerované exporty</h2>


<?php if ($this->entries): ?>
<table class="table table-striped table-condensed sticky">
  <thead>
    <tr>
      <th>čas vytvoření</th>
      <th>název souboru</th>
      <th class="text-right">velikost souboru</th>
    </tr>
  </thead>
  <tbody>
  <?php foreach ($this->entries as $entry): ?>
  <tr>
    <td><?= date('d.m.Y H:i', $entry['time']); ?></td>
    <td>
      <a href="<?= $this->url(array('action' => 'export-download', 'filename' => $entry['name'])); ?>">
        <?= $entry['name']; ?>
      </a>
    </td>
    <td class="text-right"><?= $entry['size']; ?></td>
  </tr>
  <?php endforeach; ?>
  </tbody>
</table>
<?php else: ?>
<p>Žádné soubory s exporty nebyly nalezeny.</p>
<?php endif; ?>

