<div class="btn-group pull-right">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Upravit
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="<?php echo $this->url(array(
        'module' => 'default',
        'controller' => 'tobacco',
        'action' => 'macerations-edit',
        'batch' => NULL,
        'id' => $this->maceration->getId())); ?>">Upravit poměry</a></li>
    <li><a href="<?php echo $this->url(array(
        'module' => 'default',
        'controller' => 'tobacco',
        'action' => 'macerations-merge',
        'id' => NULL,
        'batch' => $this->maceration->getBatchNumber())); ?>">Vmíchat do sudu</a></li>
      <li>
          <a href="<?= $this->url([
                  'action' => $this->maceration->isDiscarded() ? 'macerations-restore' : 'macerations-discard',
                  'back' => base64_encode($this->url())
          ]); ?>"><?= $this->maceration->isDiscarded() ? 'Obnovit ' : 'Vyřadit ' ?>macerát</a>
      </li>
  </ul>
</div>
<h2>Detail macerátu receptury <?= $this->recipeName; ?>
    <?php if ($this->maceration->isDiscarded()): ?><span class="badge badge-important">vyřazený</span><?php endif; ?>
  <a class="btn-mini btn" href="javascript: window.print();" ><i class="icon icon-print"></i> tisk</a>
</h2>
<!-- Záložky / Barevné ponožky / Skromné kámošky -->
<ul class="nav nav-tabs no-print" id="tabPanel" style="margin-top: 10px;">
  <li class="active"><a href="#infos">Informace</a></li>
  <li><a href="#changes">Pohyby</a></li>
</ul>

<!-- tabs -->
<div class="tab-content">

  <!-- tab -->
  <div class="tab-pane active" id="infos">

    <!-- Základní informace -->
    <h3>Základní informace</h3>
    <table class="table table-bordered">
      <tr>
        <th>Číslo šarže</th>
        <td><?php echo $this->escape($this->maceration->getBatchNumber()); ?></td>
      </tr>
      <tr>
        <th>Receptura</th>
        <td>
          <a href="<?php echo $this->url(array(
            'module' => 'default',
            'controller' => 'tobacco',
            'action' => 'recipe-detail',
            'id' => $this->maceration->getRecipeId(),
            'batch' => NULL,
            )); ?>"><?php echo $this->maceration->getRecipe()->getName(); ?>
          </a>
        </td>
      </tr>
      <tr>
        <th>Složení při založení</th>
        <td>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>název</th>
                <th class="text-right">množství</th>
              </tr>
            </thead>
            <tbody>
          <?php foreach ($this->ingredients as $item): ?>
            <tr>
              <td><a href="<?= $this->url(array('controller' => 'tobacco', 'action' => 'parts-detail', 'batch' => NULL, 'id' => $item['id_parts'])); ?>"><?= $item['id_parts']; ?></a></td>
              <td><a href="<?= $this->url(array('controller' => 'tobacco', 'action' => 'parts-detail', 'batch' => NULL, 'id' => $item['id_parts'])); ?>"><?= $item['name']; ?></a></td>
              <td class="text-right"><?php echo $item['amount']; ?> kg</td>
            </tr>
          <?php
            endforeach;
          ?>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <th>Název</th>
        <td><?php echo $this->escape($this->maceration->getName()); ?></td>
      </tr>
      <tr>
        <th>Popis</th>
        <td><?php echo $this->escape($this->maceration->getDescription()); ?></td>
      </tr>
      <tr>
        <th>Hmotnost směsi na vstupu</th>
        <td>
          <?php echo $this->maceration->getAmountIn(); ?> kg
          ~ <?= Meduse_Currency::format($this->maceration->getPriceBarrelIn(), 'Kč'); ?>
          <br><small>(založeno: <?= $this->maceration->getStart(); ?>)</small>
        </td>
      </tr>
      <tr>
        <th>Současná hmotnost</th>
        <td>
          <?php echo $this->maceration->getWeight(); ?> kg
          ~ <?= Meduse_Currency::format($this->maceration->getPriceBarrelCurrent(), 'Kč'); ?>
          <div class="pull-right">
            <a href="<?= $this->url(array(
              'controller' => 'tobacco',
              'action' => 'macerations-snapshot-add',
              'id' => $this->maceration->getId(),
              'year' => NULL,
              'batch' => NULL,
            )); ?>?back=<?= $this->url(); ?>" class="btn btn-small"><i class="icon icon-check"></i> Zavést inventurní záznam</a>
          </div>
          <?php if ($this->snapshot_last): ?>
            <br><small>(poslední inventura: <?= Meduse_Date::dbToForm($this->snapshot_last['date']); ?>)</small>
          <?php endif; ?>
        </td>
      </tr>
    </table>

  </div><!-- Konec zalozky info -->

  <!-- zalozka pohyby -->
  <div class="tab-pane" id="changes">
    <div class="row">
      <div class="span4">
        <div class="well">
          <label for="year-selector">Zvolte rok:</label>
          <select id="year-selector">
            <?php $year = (int) date('Y'); while($year >= $this->maceration->getStart(TRUE)->get('Y')): ?>
              <option value="<?= $year; ?>" <?= $this->year == $year ? ' selected' : ''; ?>><?= $year--; ?></option>
            <?php endwhile; ?>
          </select>
        </div>
      </div>
      <div class="span8">
        <div class="well">
          <div class="row-fluid">


            <div class="span3">
              <h4><small>Stav k 1.1.</small><br>
                <?= sprintf('%0.3f kg', $this->totalWeightStart); ?>
                <?php /*
                <?php if ($this->snapshot): ?>
                  <?php if ($this->snapshot['is_fixed'] == 'y'): ?>
                    <?= Meduse_Currency::format($this->historyAmountStart, ' kg', 3); ?>
                  <small>
                        <span class="label label-success">vyrovnáno</span>
                    <small>(<?= sprintf("%+01.2f", ($this->snapshot['amount_real'] - $this->snapshot['amount_wh']) / $this->snapshot['amount_wh'] * 100); ?> %)</small>
                  </small>
                    <?php else: ?>
                    <?= Meduse_Currency::format($this->snapshot['amount_wh'], ' kg', 3); ?>
                      <?php if ($this->allow_fix): ?>
                      <small>
                        <a class='btn btn-mini btn-danger' href="<?= $this->url(array(
                          'action' => 'macerations-snapshot-fix',
                          'id' => $this->snapshot['id'], 'year' => NULL,
                        )); ?>">vyrovnat</a>
                      </small>
                      <?php else: ?>
                        <?= Meduse_Currency::format($this->snapshot['amount_wh'], ' kg', 3); ?>
                      <small>
                        <span class="label label-important">nevyrovnáno</span>
                      </small>
                      <?php endif; ?>
                    <?php endif; ?>

                <?php else: ?>
                    <?= is_null($this->historyAmountStart) ? 'nezaloženo' : Meduse_Currency::format($this->historyAmountStart, ' kg', 3); ?>
                <?php endif; ?>
                */ ?>
              </h4>
            </div>

            <?php if ($this->snapshot && $this->snapshot['is_fixed'] != 'y'): ?>
            <div class="span3">
              <h4><small>Fyzický stav k 1.1.</small><br>
                  <?php echo $this->snapshot['amount_real']; ?> kg
                  <small>(<?= sprintf("%+01.2f", ($this->snapshot['amount_real'] - $this->snapshot['amount_wh']) / $this->snapshot['amount_wh'] * 100); ?> %)</small>
              </h4>
            </div>
            <?php endif; ?>

            <div class="span3">
              <h4><small>
                  Změny v roce <?= $this->year; ?>
                </small><br>
                <?= sprintf('%+0.3f kg', $this->totalChanges); ?></h4>
            </div>

            <div class="span3">
              <h4>
                <small>
                  <?php echo $this->year == date('Y') ? 'Aktuální stav' : 'Stav k 31.12.'; ?>
                </small>
                <br>
                <?= sprintf('%0.3f kg', $this->totalWeightEnd); ?>
                <?php if ($this->totalWeightReal): ?>
                <br>
                <small>reálný stav <?= sprintf('%0.3f kg', $this->totalWeightReal); ?></small>
                <?php endif; ?>
              </h4>
            </div>

            <?php if ($this->totalWeightReal): ?>
            <div class="span3">
              <h4>
                <small>
                  Odchylka k <?= $this->totalWeightRealDate->get('d.m.'); ?>
                </small><br>
                <?= sprintf("%+01.2f", $this->totalDiff); ?> kg<br>
                <small><?= sprintf("%+01.2f", $this->totalDiffPerc); ?> %</small>
              </h4>
            </div>
            <?php endif; ?>


          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="span4">

        <?php if ($this->barrels): ?>
          <table class="table table-condensed">
            <tr>
              <th>Sud</th>
              <th class="text-right">Změna</th>
            </tr>
          <?php foreach ($this->barrels as $barrel): ?>
            <tr>
              <td><a href="<?= $this->url(['id' => $barrel['id']]);?>#info"><?= $barrel['batch']; ?></a></td>
              <td class="text-right"><?= sprintf('%+0.3f kg', $barrel['changes']); ?></td>
              <td class="text-right"><button class="btn btn-mini batch-filter" data-batch="<?= $barrel['batch']; ?>"><i class="icon icon-eye-open"></i></button></td>
            </tr>
          <?php endforeach; ?>
            <tr>
              <td><strong>Celkem</strong></td>
              <td class="text-right"><strong><?= sprintf('%+0.3f kg', $this->totalChanges); ?></strong></td>
              <td></td>
            </tr>
          </table>
        <?php endif; ?>


        <?php /*
        <h3>Prodeje produktů s macerátem</h3>
        <?php if ($this->related_parts): ?>
          <table class="table table-condensed table-hover sticky">
            <thead>
            <tr>
              <th>ID</th>
              <th>Produkt</th>
              <th class="text-right">Prodej</th>
            </tr>
            </thead>
            <tbody>
            <?php $lastMix = NULL; ?>
            <?php foreach ($this->related_parts as $part): ?>
              <?php if ($lastMix != $part['mix_id']): ?>
                <?php $lastMix = $part['mix_id']; ?>
                <tr>
                  <th colspan="3" class="text-center">
                    <a href="<?= $this->url(['action' => 'mixes-detail', 'batch' => NULL, 'id' => $lastMix]); ?>#changes"><?= $part['mix_name']; ?></a>
                  </th>
                </tr>
              <?php endif; ?>
              <tr>
                <td><a href="<?= $this->url(['action' => 'parts-detail', 'batch' => NULL, 'id' => $part['id']]); ?>#changes"><?= $part['id']; ?></a></td>
                <td><?= $part['name']; ?></td>
                <td class="text-right"><?= $part['sales_amount']; ?> ks</td>
              </tr>
            <?php endforeach; ?>
            </tbody>
          </table>
        <?php else: ?>
          <p><strong>V tomto období nedošlo k žádným prodejům</strong></p>
        <?php endif; ?>
 */?>
      </div>

      <div class="span8">
        <h3>Pohyby macerátu</h3>
        <?php if ($this->changes): ?>
          <table class="table table-condensed table-hover sticky" id="changes-table">
            <thead>
            <tr>
              <th>Datum</th>
              <th>Sud</th>
              <th>Typ pohybu</th>
              <th class="text-right">Změna</th>
              <th>Popis změny</th>
            </tr>
            </thead>
            <tbody>
              <?php /** @see #176 */ ?>
              <?php foreach ($this->changes as $change): if (strpos($change['description'], 'xxx') !== FALSE) continue; ?>
                <tr class="change-item batch-<?= $change['batch']; ?>">
                  <td><?= Meduse_Date::dbToForm($change['date']); ?></td>
                  <td><?= $change['batch']; ?></td>
                  <td><?= Table_MacerationsHistory::$typeTraslations[$change['type']]; ?></td>
                  <td class="text-right">
                    <?= sprintf("%+01.3f", $change['amount']); ?> kg
                  </td>
                  <td><?= $change['description']; ?></td>
                </tr>
              <?php endforeach; ?>
            </tbody>
          </table>


        <?php else: ?>
          <p><strong>V tomto období nedošlo k žádným pohybům</strong></p>
        <?php endif; ?>
      </div>



    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#tabPanel a[href="' + window.location.hash + '"]').tab('show');
  });
  $('#tabPanel a').click(function(e){
    e.preventDefault();
    $(this).tab('show');
  });
  $('#year-selector').change(function(){
    var url = '/tobacco/macerations-detail/id/<?= $this->maceration->getID(); ?>/year/' + $(this).val() + '#changes';
    window.location.replace(url);
  });
  $('button.batch-filter').on('click', function(){
    var $button = $(this);
    var batch = $button.data('batch');
    var $icon = $button.find('i.icon:first');
    $('#changes-table .batch-' + batch).toggle();
    $icon.toggleClass('icon-eye-open');
    $icon.toggleClass('icon-eye-close');
  });
</script>
