<?php if ($this->message): ?>
<div class="alert"><?= $this->message; ?></div>
<?php endif; ?>
<?= $this->form; ?>

<script>
  $('.weight').change(function(){
    if ($('#ratio:checked').length > 0) {
      recalculate(this, true); 
    } else {
      recalculate(this, false); 
    }
  });
  function recalculate(obj, recalculate) {
    var total = parseFloat($('#total').val());
    var change = parseFloat($(obj).val());
    var sum = 0;
    var ratio = 0;
    
    
    $('.weight').each(function(){
      sum += parseFloat($(this).val());
    });
    if (recalculate) {
      ratio = change / (total - sum + change);
      //console.log(ratio);
      $('.weight').each(function(){
        $(this).val($(this).val() * ratio);
      });
      $('#total').val($('#total').val() * ratio);
      $(obj).val(change);
    } else {
      $('#total').val(sum);
    }
  }
</script>