<h2>Přehled macerace</h2>

<ul class="nav nav-tabs no-print" id="tabPanel" role="tablist" style="margin-top: 10px;">
    <li class="active"><a href="#nonzero">Naložené maceráty</a></li>
    <li><a href="#zero">Vyprázdněné sudy</a></li>
    <li><a href="#discarded">Vyřazené sudy</a></li>
</ul>

<!-- tabs -->
<div class="tab-content">
  <!-- tab -->
  <div class="tab-pane active" id="nonzero">
    <?= $this->grid ?>
  </div>

  <!-- tab -->
  <div class="tab-pane" id="zero">
    <?= $this->grid_zero ?>
  </div>

    <!-- tab -->
    <div class="tab-pane" id="discarded">
      <?= $this->grid_discarded; ?>
    </div>

</div>

<div class="modal fade" id="check-modal-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Kontrola sudu macerátu</h3>
  </div>
  <div class="modal-body">
        <h4></h4>
        <?= $this->form ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="check-modal-dialog-submit">Uložit</a>
  </div>
</div>

<div class="modal fade" id="storno-modal-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Storno macerátu</h3>
  </div>
  <div class="modal-body">
        <h4></h4>
        <?= $this->storno ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-danger" id="storno-modal-dialog-submit">Stornovat macerát</a>
  </div>
</div>



<script>
  $('#tabPanel a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
  });

  $('#check-modal-dialog-submit').click(function(){
    $('#check-modal-dialog form').submit();
    $('#check-modal-dialog').hide();
  });  

  $('#storno-modal-dialog-submit').click(function(){
    $('#storno-modal-dialog form').submit();
    $('#storno-modal-dialog').hide();
  });  


  function openCheckDialog(batch) {
    $('#check-modal-dialog form #batch').val(batch);
    $('#check-modal-dialog h4').text('Sud: ' + batch);
    $('#check-modal-dialog').modal('show');
  }
  
  function openStornoDialog(batch) {
    
    var url = '/tobacco/ajax-macerations-get/batch/' + batch;
    $.getJSON(url, function(data){
      $.each(data, function(index, obj) {
        $('#storno-modal-dialog form #amount_storno').val(obj.amount);
      });
    });        
    
    $('#storno-modal-dialog form #date').val('<?php echo date("d.m.Y"); ?>');
    $('#storno-modal-dialog form #batch_storno').val(batch);
    
    $('#storno-modal-dialog h4').text('Sud: ' + batch);
    $('#storno-modal-dialog').modal('show');
  }  
  
</script>





