<h2><?= $this->title; ?></h2>

<!-- nav -->
<ul class="nav nav-tabs no-print" id="tabPanel">
  <?php $it = 0; foreach ($this->years as $year): ?>
    <li class="<?= $it == 0 ? ' active' : ''; ?>"><a href="#<?= $year; ?>"><?= $year; ?></a></li>
    <?php $it++; endforeach; ?>
</ul>

<!-- tabs -->
<div class="tab-content">
  <!-- tab -->
  <?php $it = 0; foreach ($this->snapshots as $year => $snapshots): ?>
  <div class="tab-pane<?= $it == 0 ? ' active' : ''; ?>" id="<?= $year; ?>">

    <?php if (!$snapshots): ?>
      <p><strong>Nebyly evidovány žádné fyzické stavy.</strong></p>
    <?php else: ?>
      <table class="table table-condensed table-hover sticky">
        <thead>
          <tr>
            <th>Šarže</th>
            <th>Název</th>
            <th>Datum záznamu</th>
            <th>Poznámka</th>
            <th class="text-right">Účetní stav</th>
            <th class="text-right">Reálný stav</th>
            <?php /* <th class="text-right">Odchylka</th> */ ?>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <?php /** @see #176 */ ?>
          <?php foreach ($snapshots as $snap): if (strpos($snap['note'], 'xxx') !== FALSE) continue; ?>
            <tr>
              <td><a href="<?= $this->url(['action' => 'macerations-detail', 'id' => $snap['id_macerations']]); ?>"><?= $snap['batch']; ?></a></td>
              <td><a href="<?= $this->url(['action' => 'macerations-detail', 'id' => $snap['id_macerations']]); ?>"><?= $snap['name']; ?></a></td>
              <td><?= Meduse_Date::dbToForm($snap['date']); ?></td>
              <td><?= $snap['note']; ?></td>
              <td class="text-right">
                <?= Meduse_Currency::format($snap['amount_wh'], 'kg', 3) ?></td>
              <td class="text-right">
                <?= Meduse_Currency::format($snap['amount_real'], 'kg', 3); ?>
              </td>
              <td>
                <?php /* todo Zmena zadani fyzickeho stavu.
                  <a class='btn btn-warning btn-mini' href="<?= $this->url(['action' => 'macerations-snapshot-edit', 'id' => $snap['id']]); ?>">upravit</a>
                */ ?>
                <?php if ($snap['is_fixed'] == 'n'): ?>
                  <a class='btn btn-success btn-mini' href="<?= $this->url(['action' => 'macerations-snapshot-fix', 'id' => $snap['id']]); ?>">vyrovnat</a>
                <?php endif; ?>
              </td>
            </tr>
          <?php endforeach; ?>
        </tbody>
      </table>
    <?php endif; ?>
    <?php if ($it == 0): ?>
      <p><a href="<?= $this->url(['action' => 'close-year', 'type' => 'macerations']); ?>"
            class="btn btn-primary">Provést inventuru</a>
      </p>
    <?php endif; ?>
  </div>
    <?php $it++; endforeach; ?>
</div>

<script>
  $('#tabPanel a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  $(function() {
    $('#tabPanel a[href="' + window.location.hash + '"]').tab('show');
  });
</script>
