
<?php if ($this->success): ?>
<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Data úspěšně uložena!</strong> <a href="<?php echo $this->url(array(
'module' => 'default', 'controller' => 'tobacco', 'action' => 'mixes'
)); ?>" class="alert-link">Zpět na mixy</a>.
</div>
<?php endif; ?>

<div id="recipe_editor">
<div class="row show-grid">
  <div class="pull-right">
    <a href="<?= $this->url(array('action' => 'mixes-detail', 'id' => $this->mix['id'])); ?>" class="btn btn-small btn-success">
      <i class="icon icon-white icon-backward"></i> Zpět mix</a>
  </div>
  <div class="span7">
    <h2>Editace mixu</h2>
    <?php echo $this->form ?>
  </div>

  <div class="span5">
    <div id="ingredient-editor"></div>
    <script type="text/javascript">
      var IngredientEditor = {
        ui: {
          ingredientEd: $('#ingredient-editor')
        },

        init: function() {
          this.bindControllers();
          var self = this;
          $(document).ready(function () {
            self.onReady();
          });
        },

        bindControllers: function() {
          var self = this;
          this.ui.ingredientEd.on('submit', 'form', function(event) {
            self.reload($(this).serialize());
            event.preventDefault();
          });

          this.ui.ingredientEd.on('click', '.delete-part', function(event) {
            var id = $(this).attr('id').substring(2);
            self.reload({delete: id});
            event.preventDefault();
          });
        },

        onReady: function() {				
          this.reload(null);
        },

        reload: function(data) {
          var self = this;

          $.ajax({
            url: '<?php echo $this->url(array(
              'controller' => 'tobacco', 
              'action' => 'ajax-mixes-recipes',
              'id' => $this->mix['id']
              ), null, true)
            ?>',
            data: data,
            type: 'get',
            success: function(data, textStatus, jqXHR) {
              self.ui.ingredientEd.html(data);
            }
          });
        }
      };

      IngredientEditor.init();
    </script>
  </div>

</div>
</div>