<div class="pull-right">
  <a href="<?= $this->url(array('action' => 'mixes', 'id' => NULL, 'year' => NULL)); ?>" class="btn btn-success">
    <i class="icon icon-white icon-backward"></i> Zpět na přehled</a>
  <a class="btn btn-primary" href="<?php echo $this->url(array(
    'module' => 'default', 'controller' => 'tobacco', 'action' => 'mixes-edit', 'id' => $this->mix->getId()
  )); ?>"><span class="icon-pencil icon-white"></span>&nbsp;Upravit</a>
</div>
<h2>Detail mixu <?= $this->mix->getName(); ?>
  <a class="btn-mini btn" href="javascript: window.print();" ><i class="icon icon-print"></i> tisk</a>
</h2>

<!-- Záložky / Barevné ponožky / Skromné kámošky -->
<ul class="nav nav-tabs no-print" id="tabPanel" style="margin-top: 10px;">
  <li class="active"><a href="#infos">Informace</a></li>
  <li><a href="#changes">Pohyby a prodeje</a></li>
</ul>

<!-- tabs -->
<div class="tab-content">

  <!-- tab -->
  <div class="tab-pane active" id="infos">

    <table class="table table-bordered table-striped">
      <tr>
        <th>Název</th>
        <td><strong><?php echo $this->escape($this->mix->getName()); ?></strong></td>
      </tr>
      <tr>
        <th>Příchuť</th>
        <td><?php echo $this->escape($this->mix->getFlavorId()); ?>. <?php echo $this->escape($this->mix->getFlavorName()); ?></td>
      </tr>
      <tr>
        <th>Popis</th>
        <td><?php echo $this->escape($this->mix->getDescription()); ?></td>
      </tr>
      <tr>
        <th>Složení</th>
        <td>
          <table class="table-condensed table-hover">
            <thead>
            <tr>
              <th>receptura</th>
              <th class="text-center">podíl</th>
            </tr>
            </thead>
            <tbody>
          <?php
            $items = $this->mix->getIngredients();
            foreach ($items as $item):
          ?>
            <tr>
              <td><a href="<?= $this->url(array('action' => 'recipe-detail', 'id' => $item['id_recipes'])); ?>"><?php echo $item['name']; ?></a></td>
              <td class="text-center"><?php echo $item['ratio']; ?></td>
            </tr>
          <?php endforeach; ?>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <th>Jednotková cena</th>
        <td><?= Meduse_Currency::format($this->unit_price, 'Kč/kg'); ?></td>
      </tr>
      <tr>
        <th>Datum vložení</th>
        <td><?= Meduse_Date::dbToForm($this->mix->getCreated()); ?></td>
      </tr>
      <tr>
        <th>Datum aktualizace</th>
        <td><?= Meduse_Date::dbToForm($this->mix->getUpdated()); ?></td>
      </tr>
      <tr>
        <th>Stav</th>
        <td><?php echo $this->escape($this->mix->getStateString()); ?></td>
      </tr>
    </table>
  </div>

  <div class="tab-pane" id="changes">
    <div class="row">
      <div class="span4">
        <div class="well">
          <label for="year-selector">Zvolte rok:</label>
          <select id="year-selector">
            <?php foreach ($this->years as $year): ?>
              <option value="<?= $year; ?>" <?= $this->year == $year ? ' selected' : ''; ?>><?= $year; ?></option>
            <?php endforeach; ?>
          </select>
        </div>
      </div>
      <div class="span8">
        <div class="well">
          <div class="row-fluid">
            <div class="span3">
              <h4><small>
                  Produkty na skladě<br>k 1.1.<?= $this->year; ?>
                </small><br>
                <?= sprintf("%01.3f", $this->relatedStockWeightStart); ?> kg
            </div>

            <div class="span2">
              <h4><small>Změny macerace</small><br>
                <?= sprintf("%+01.3f", $this->totalChanges); ?> kg
              </h4>
            </div>

            <div class="span2">
              <h4><small>Prodeje v roce <?= $this->year; ?></small><br>
                <?= sprintf("%01.3f", $this->relatedTotalWeight); ?> kg
              </h4>
            </div>

            <div class="span2">
              <h4><small>
                  <?php echo $this->year == date('Y') ? 'Aktuálně na skladě' : 'Na skladě k 31.12.'; ?>
                </small><br>
                <?= sprintf("%01.3f", $this->relatedStockWeightEnd); ?> kg
            </div>

            <div class="span3">
              <h4><small>Rozdíl<br>změn a prodejů</small><br>
                <?= sprintf("%01.3f", $this->diff_weight); ?> kg
                <br><small>(<?= sprintf("%+01.2f", $this->diff_percent); ?> %)</small>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <h3>Pohyby macerátu</h3>
        <?php if ($this->macerations): ?>
          <table class="table table-condensed table-hover sticky">
            <thead>
            <tr>
              <th>Sud</th>
              <th>Název</th>
              <th class="text-right">Změna</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->macerations as $maceration): ?>
              <tr>
                <td><a href="<?= $this->url(['action' => 'macerations-detail', 'id' => $maceration['id']]); ?>#changes"><?= $maceration['batch']; ?></a></td>
                <td><?= $maceration['name']; ?></td>
                <td class="text-right"><?= sprintf("%+01.3f", $maceration['changes']); ?> kg</td>
              </tr>
            <?php endforeach; ?>
            <tr>
              <th colspan="2">Změny celkem</th>
              <th class="text-right"><?= sprintf("%+01.3f", $this->totalChanges); ?> kg</th>
            </tr>
            </tbody>
          </table>
        <?php endif; ?>
      </div>
      <div class="span8">
        <h3>Prodeje produktů mixu</h3>
        <?php if ($this->relatedParts): ?>
          <table class="table table-condensed table-hover sticky">
            <thead>
            <tr>
              <th rowspan="2">ID</th>
              <th rowspan="2">Produkt</th>
              <th colspan="2" class="text-center">Sklad 1.1.</th>
              <th colspan="2" class="text-center">Prodeje</th>
              <th colspan="2" class="text-center">Sklad <?php echo $this->year == date('Y') ? 'nyní' : '31.12.'; ?></th>
            </tr>
            <tr>
              <th class="text-right">Množství</th>
              <th class="text-right">Váha</th>
              <th class="text-right">Množství</th>
              <th class="text-right">Váha</th>
              <th class="text-right">Množství</th>
              <th class="text-right">Váha</th>
            </tr>
            </thead>
            <tbody>
            <?php $lastMix = NULL; ?>
            <?php foreach ($this->relatedParts as $part): ?>
              <tr>
                <td><a href="<?= $this->url(['action' => 'parts-detail', 'id' => $part['id']]); ?>#changes"><?= $part['id']; ?></a></td>
                <td><?= $part['name']; ?></td>
                <td class="text-right"><?= $part['stock_amount_start']; ?> ks</td>
                <td class="text-right"><?= sprintf("%01.3f", $part['stock_weight_start']); ?> kg</td>
                <td class="text-right"><?= $part['sales_amount']; ?> ks</td>
                <td class="text-right"><?= sprintf("%01.3f", $part['tobacco_amount']); ?> kg</td>
                <td class="text-right"><?= $part['stock_amount_end']; ?> ks</td>
                <td class="text-right"><?= sprintf("%01.3f", $part['stock_weight_end']); ?> kg</td>
              </tr>
            <?php endforeach; ?>
            <tr>
              <th colspan="2">Prodej celkem</th>
              <th class="text-right"><?= $this->relatedStockAmountStart; ?> ks</th>
              <th class="text-right"><?= sprintf("%01.3f", $this->relatedStockWeightStart); ?> kg</th>
              <th class="text-right"><?= $this->relatedTotalAmount; ?> ks</th>
              <th class="text-right"><?= sprintf("%01.3f", $this->relatedTotalWeight); ?> kg</th>
              <th class="text-right"><?= $this->relatedStockAmountEnd; ?> ks</th>
              <th class="text-right"><?= sprintf("%01.3f", $this->relatedStockWeightEnd); ?> kg</th>
            </tr>
            </tbody>
          </table>
        <?php else: ?>
          <p><strong>V tomto období nedošlo k žádným prodejům</strong></p>
        <?php endif; ?>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#tabPanel a[href="' + window.location.hash + '"]').tab('show');
  });
  $('#tabPanel a').click(function(e){
    e.preventDefault();
    $(this).tab('show');
  });
  $('#year-selector').change(function(){
    var url = '<?= $this->url(['year' => NULL]); ?>/year/' + $(this).val() + '#changes';
    window.location.replace(url);
  });
</script>