

      <div class="btn-group pull-right">
      <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
        <i class='icon-wrench icon-white'></i>
        Operace s položkou <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="<?php echo $this->url(array(
            'module' => 'default',
            'controller' => 'tobacco',
            'action' => 'parts-edit',
            'id' => $this->part->getId()
            )); ?>"><span class="icon-pencil"></span>&nbsp;Upravit</a></li>
            <?php if (Utils::isAllowed('tobacco/parts-save-as')): ?>
            <li>
                <a href="<?= $this->url(['action' => 'parts-save-as']); ?>"><i class="icon icon-plus-sign"></i>&nbsp;Uložit jako</a>
            </li>
            <?php endif; ?>
          <?php if(Zend_Registry::get('acl')->isAllowed('tobacco/parts-break')
            && in_array($this->part->getCtg(), array(Table_TobaccoWarehouse::CTG_TOBACCO_NFS, Table_TobaccoWarehouse::CTG_TOBACCO_FS))): ?>
          <li><a href="<?php echo $this->url(array(
            'module' => 'default',
            'controller' => 'tobacco',
            'action' => 'parts-break',
            'part' => $this->part->getId(),
            'id' => null
            )); ?>"><span class="icon-fast-backward"></span>&nbsp;Rozložit</a></li>
          <?php endif; ?>

          <?php if($this->deleted): ?>
            <?php if(Zend_Registry::get('acl')->isAllowed('tobacco/parts-restore')): ?>
              <li><a onclick="return confirm('Opravdu chcete tuto položku obnovit?');" href="<?php echo $this->url(array(
                  'controller' => 'tobacco',
                  'action' => 'parts-restore',
                  'id' => $this->part->getId()
                )); ?>"><span class="icon-refresh"></span>&nbsp;Obnovit</a></li>
            <?php endif; ?>
          <?php else: ?>
            <?php if(Zend_Registry::get('acl')->isAllowed('parts/delete-part')): ?>
              <li><a onclick="return confirm('Opravdu chcete tuto položku smazat?');" href="<?php echo $this->url(array(
              'module' => 'default',
              'controller' => 'tobacco',
              'action' => 'parts-delete',
              'id' => $this->part->getId()
              )); ?>"><span class="icon-remove"></span>&nbsp;Smazat</a></li>
            <?php endif; ?>
          <?php endif; ?>
          </ul>
        </div>
  <h2>
    <?php if ($this->part->isDeleted()): ?><span class="badge badge-important">V koši</span><br><?php endif; ?>
    <?php echo $this->title; ?>
    <a class="btn-mini btn" href="javascript: window.print();" ><i class="icon icon-print"></i> tisk</a>
  </h2>
  <ul class="nav nav-tabs no-print" id="tabPanel" style="margin-top: 10px;">
      <li class="active"><a href="#infos">Informace</a></li>
      <?php if ($this->showSubparts): ?>
        <li><a href="#subitems">Podsoučásti</a></li>
      <?php endif; ?>
      <?php if ($this->part->isTobaccoNFS()): ?>
        <li><a href="#maceration">Obsah (macerát/mix)</a></li>
      <?php endif; ?>
      <li><a href="#changes">Pohyby<?php if ($this->part->isProduct()): ?> a prodeje<?php endif; ?></a></li>
  </ul>
  <!-- tabs -->
  <div class="tab-content">
    <!-- tab -->
    <div class="tab-pane active" id="infos">
      <h4 class="detail-title">Základní informace o položce</h4>
      <?php if ($this->message): ?>
      <div class="alert"><?= $this->message; ?></div>
      <?php endif; ?>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Kód</th>
          <td><?php echo $this->part->getId(); ?></td>
          <td>HS kód: <?php echo $this->part->getHS() ? $this->part->getHS() : 'nedefinován'; ?></td>
          <td>SKU: <?php echo $this->part->getSKU() ? $this->part->getSKU() : 'nedefinován'; ?></td>
        </tr>
        <tr>
          <th>Název</th>
          <td colspan="3"><?php echo $this->part->getName(); ?></td>
        </tr>
        <?php if ($this->mix): ?>
          <tr>
            <th>Mix</th>
            <td><a href="<?= $this->url(['action' => 'mixes-detail', 'id' => $this->mix->getId()]); ?>"><?php echo $this->mix->getName(); ?></a></td>
            <td colspan="2"><?= Meduse_Currency::format($this->mixUnitPrice, ' Kč/kg'); ?></td>
          </tr>
        <?php endif; ?>
        <tr>
          <th>Poznámka</th>
          <td colspan="3"><?php echo $this->part->getDesc(); ?></td>
        </tr>
        <tr>
          <th>Skladem</th>
          <td colspan="3">
            <?php if ($this->measure == 'weight'): ?>
              <?= Meduse_Currency::format($this->amount, $this->measure_unit, 3); ?>
            <?php else: ?>
              <?php echo $this->amount; ?> <?= $this->measure_unit; ?>
            <?php endif; ?>
            <?php if ($this->part->isInspected()): ?>
              <div class="pull-right">
                <a href="<?= $this->url(array(
                  'controller' => 'tobacco',
                  'action' => 'warehouse-snapshot-add',
                  'id' => $this->part->getID(),
                  'year' => NULL,
                )); ?>" class="btn btn-small"><i class="icon icon-check"></i> Zavést inventurní záznam</a>
              </div>
              <?php if ($this->snapshot_last): ?>
                  <br><small>(poslední inventura: <?= Meduse_Date::dbToForm($this->snapshot_last['date']); ?>)</small>
              <?php endif; ?>
            <?php endif; ?>
          </td>
        </tr>
        <tr>
          <th>Dodavatel</th>
          <td colspan="3">
            <?php if ($this->producer): ?>
              <?php echo $this->producer['name']; ?>
            <?php else: ?>
              n/a
            <?php endif; ?>
          </td>
        </tr>
        <tr>
          <th>Výrobní cena</th>
          <td>
            <?= Meduse_Currency::format($this->price, 'Kč/' . $this->measure_unit); ?>
            <?php if ($this->recalculating_enabled): ?>
              <div class="pull-right">
                <a href="<?= $this->url(['action' => 'parts-recalculate']); ?>" class="btn btn-mini btn-danger">
                  <i class="icon icon-white icon-refresh"></i> Přepočítat
                </a>
              </div>
            <?php endif; ?>
          </td>
          <th>Hodnota na skladě</th>
          <td><strong><?= Meduse_Currency::format($this->price_total, 'Kč'); ?></strong></td>
        </tr>
        <tr>
          <th>Hmotnost / Hmotnost celkem</th>
          <td class="text-right"><?= $this->part->getWeight(); ?> / <?= $this->part->getTotalWeight(); ?> g</td>
          <td colspan="2">Skupina EKOKOM: <?= $this->part->getEkokomCategoryName(); ?></td>
        </tr>

        <?php if ($this->part->isProduct()): ?>
          <tr>
            <th>Koncová cena</th>
            <td colspan="3">
              <?php $prices = $this->part->getProductPrices($this->part->getID()); ?>
              <?php if ($prices): ?>
                  <table class="table table-condensed">
                      <?php foreach ($prices as $price): ?>
                      <?php if ($price['price'] === null) { continue; } ?>
                      <tr>
                          <td><?= $price['abbr'] ?></td>
                          <td>(<?= $price['type'] ?>)</td>
                          <td style='text-align: right;'><?= $price['price'] ?? 'n/a'?></td>
                      </tr>
                      <?php endforeach; ?>
                  </table>
              <?php else: ?>
                  <em>K produktu nejsou přiřazeny žádné koncové ceny.</em>
              <?php endif; ?>
              <a href='<?php echo $this->url(array(
                  'controller' => 'tobacco-prices', 'action' => 'edit',
                  'part' => $this->part->getID(), 'id' => null
                  ))?>' class='btn btn-primary'>
                  <i class='icon icon-white icon-edit'></i>&nbsp;Editovat koncové ceny</a>
            </td>
          </tr>
          <tr>
            <th>DPH</th>
            <td colspan="3"><?php echo $this->dph; ?> %</td>
          </tr>
          <tr>
            <th>EAN kód</th>
            <td colspan="3">
              <?php if($this->ean):?>
                <?php echo substr($this->ean->prefix, 0, 3) . ' '
                  . substr($this->ean->prefix, 3, 4) . ' '
                  . $this->ean->code . ' ' . $this->ean->chnum; ?>
                <img alt="EAN code" style="float: right;" src="/parts/get-barcode/id/<?php echo $this->part->getID(); ?>" />
              <?php endif; ?>
            </td>
          </tr>
        <?php endif; ?>
      </table>
    </div>


    <?php if ($this->showSubparts): ?>
    <div class="tab-pane" id="subitems">

      <h4 class="detail-title">Výpis podsoučástí
          <a class="btn btn-primary btn-small pull-right no-print"
             href="<?php echo $this->baseUrl()?>/tobacco/parts-select-subparts/part/<?php echo $this->part->getID()?>"><i class="icon-plus icon-white"></i> Přidat podsoučást</a>
      </h4>

      <table id="subparts-list" class="table table-hover table-condensed">
        <?php if ($this->mix): ?>
          <tr>
            <th colspan="4">macerát (mix)</th>
          </tr>
          <tr>
            <th>Příchuť</th>
            <th>Název</th>
            <th>Množství</th>
            <th></th>
          </tr>
          <tr>
            <td><a href="<?= $this->url(['action' => 'mixes-detail', 'id' => $this->mixId]); ?>"><?= $this->mixFlavour; ?></a></td>
            <td><?= $this->mixName; ?></td>
            <td><?= $this->mixWeight; ?> kg</td>
            <td></td>
          </tr>
        <?php endif; ?>
      <?php
          /**
           * Subparts list
           */
          $sParts = $this->part->getSubparts(true);
          $lastCtg = NULL;
          if(count($sParts) > 0) {
              foreach($sParts as $part) {
                  if ($lastCtg != $part->getCtgName()) {
                      $lastCtg = $part->getCtgName();
                  ?>
              <tr>
                  <th colspan="4"><?= $part->getCtgName(); ?></th>
              </tr>
              <tr>
                  <th>ID</th>
                  <th>Název</th>
                  <th>Počet</th>
                  <th>Operace</th>
              </tr>
              <?php } ?>
              <tr>
                  <td><a href="<?= $this->baseUrl(); ?>/tobacco/parts-detail/id/<?= $part->getID(); ?>"><?= $part->getID(); ?></a></td>
                  <td><?= $part->getName()?></td>
                  <td><input id="<?= $part->getID(); ?>" type="text" value="<?= $part->getAmount(); ?>" class="part_count span1 text-right no-print" style="width: 56px; margin: 0 !important;" /><span class="print-only"><?= $part->getAmount(); ?></span></td>
                  <td><a class="btn btn-danger btn-small" href="<?= $this->baseUrl()?>/tobacco/delete-subpart/part/<?= $this->part->getID()?>/subpart/<?= $part->getID()?>" onClick="return confirm('Opravdu chcete tuto podsoučást odstranit?')"><i class="icon-remove icon-white"></i></a></td>
              </tr>
      <?php } } ?>
      </table>
    </div>
    <?php endif; ?>
    <?php if ($this->part->isTobaccoNFS()): ?>
    <div class="tab-pane" id="maceration">
      <?= $this->mixForm; ?>
    </div>
    <?php endif; ?>
      <div class="tab-pane" id="changes">
        <div class="row">
          <div class="span4">
            <div class="well">
              <label for="year-selector">Zvolte rok:</label>
              <select id="year-selector">
                <?php $year = (int) date('Y'); while($year >= 2015): ?>
                  <option value="<?= $year; ?>" <?= $this->year == $year ? ' selected' : ''; ?>><?= $year--; ?></option>
                <?php endwhile; ?>
              </select>
            </div>
          </div>
          <div class="span8">
            <div class="well">
              <div class="row-fluid">

                <div class="span3">
                <h4><small>Stav k 1.1.</small><br>
                  <?php if ($this->snapshot): ?>
                    <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                      <?= Meduse_Currency::format($this->snapshot['amount_wh'] / 1000, $this->measure_unit, 3); ?>
                    <?php else: ?>
                      <?php echo $this->snapshot['amount_wh']; ?> <?= $this->measure_unit; ?>
                    <?php endif; ?>
                    <small>
                      <?php if ($this->snapshot['is_fixed'] == 'n'): ?>
                        <?php if ($this->allow_fix): ?>
                        <a class='btn btn-mini btn-danger' href="<?= $this->url(array(
                          'action' => 'warehouse-snapshot-fix',
                          'id' => $this->snapshot['id'], 'year' => NULL,
                        )); ?>">vyrovnat</a>
                        <?php else: ?>
                          <span class="label label-important">nevyrovnáno</span>
                        <?php endif; ?>
                      <?php endif; ?>
                    </small>
                  <?php else: ?>
                    <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                      <?= Meduse_Currency::format($this->historyAmountStart / 1000, $this->measure_unit, 3); ?>
                    <?php else: ?>
                      <?php echo $this->historyAmountStart; ?> <?= $this->measure_unit; ?>
                    <?php endif; ?>
                  <?php endif; ?>
                </h4>
                </div>

                <?php if ($this->part->isProduct()): ?>
                  <div class="span3">
                    <h4><small>Prodeje</small><br>
                       <?php echo $this->salesTotalAmount; ?> <?= $this->measure_unit; ?></h4>
                  </div>
                <?php endif; ?>

                <div class="span3">
                  <h4><small>Pohyby</small><br>
                    <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                      <?= Meduse_Currency::format($this->changesTotalDiff / 1000, $this->measure_unit, 3); ?>
                    <?php else: ?>
                      <?= $this->changesTotalDiff; ?> <?= $this->measure_unit; ?>
                    <?php endif; ?>
                    </h4>
                </div>

                <div class="span3">
                  <h4><small><?= $this->year == date('Y') ? 'Aktuální stav' : 'Stav k 31.12.'?></small><br>
                  <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                    <?= Meduse_Currency::format($this->historyAmountEnd / 1000, $this->measure_unit, 3); ?>
                  <?php else: ?>
                    <?php echo $this->historyAmountEnd; ?> <?= $this->measure_unit; ?>
                  <?php endif; ?></h4>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="<?= $this->part->isProduct() ? 'span4' : 'offset4 span8'; ?>">
            <h3>Skladové pohyby</h3>
            <?php if ($this->changes): ?>
              <table class="table table-condensed table-hover sticky" id="changes">
                <thead>
                <tr>
                  <th>Datum</th>
                  <th class="text-right">Naskladněno</th>
                  <th class="text-right">Vyskladněno</th>
                  <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                    <th></th>
                  <?php endif; ?>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->changes as $change): ?>
                  <?php if ($change['amount_add'] || $change['amount_remove']): ?>
                    <tr id="day-<?= $change['date']; ?>">
                      <td><?= Meduse_Date::dbToForm($change['date']); ?></td>
                      <td class="text-right">
                        <?php if ($change['amount_add']): ?>
                          <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                            <?= Meduse_Currency::format($change['amount_add'] / 1000, $this->measure_unit, 3); ?>
                          <?php else: ?>
                            <?php echo $change['amount_add']; ?> <?= $this->measure_unit; ?>
                          <?php endif; ?>
                        <?php endif; ?>
                      </td>
                      <td class="text-right">
                        <?php if ($change['amount_remove']): ?>
                          <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                            <?= Meduse_Currency::format($change['amount_remove'] / 1000, $this->measure_unit, 3); ?>

                          <?php else: ?>
                            <?php echo $change['amount_remove']; ?> <?= $this->measure_unit; ?>
                          <?php endif; ?>
                        <?php endif; ?>
                      </td>
                      <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                        <td>
                          <?php if ($change['amount_remove']): ?>
                          <button class="btn btn-mini btn-success info-button" data-date="<?= $change['date']; ?>"><i class="icon icon-white icon-info-sign"></i> info</button>
                          <?php endif; ?>
                        </td>
                      <?php endif; ?>
                    </tr>
                  <?php endif; ?>
                <?php endforeach; ?>
                <tr>
                  <th>Celkem</th>
                  <th class="text-right">
                    <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                      <?= Meduse_Currency::format($this->changesTotalAdd / 1000, $this->measure_unit, 3); ?>
                    <?php else: ?>
                      <?= $this->changesTotalAdd; ?> <?= $this->measure_unit; ?>
                    <?php endif; ?>
                  </th>
                  <th class="text-right">
                    <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                      <?= Meduse_Currency::format($this->changesTotalRemove / 1000, $this->measure_unit, 3); ?>
                    <?php else: ?>
                      <?= $this->changesTotalRemove; ?> <?= $this->measure_unit; ?>
                    <?php endif; ?>
                  </th>
                  <?php if ($this->measure === Tobacco_Parts_Part::WH_MEASURE_WEIGHT): ?>
                    <th></th>
                  <?php endif; ?>
                </tr>
                </tbody>
              </table>
            <?php else: ?>
              <p><strong>Ve zvoleném období nedošlo k žádným pohybům.</strong></p>
            <?php endif; ?>
          </div>
          <?php if (!is_null($this->sales)): ?>
            <div class="span8">
              <h3>Prodeje produktu</h3>
              <?php if ($this->sales): ?>
              <table class="table table-condensed table-hover sticky">
                <thead>
                  <tr>
                    <th>Datum exp.</th>
                    <th class="text-right">Množství</th>
                    <th>Číslo obj.</th>
                    <th>Název objednávky</th>
                    <th>Faktura</th>
                  </tr>
                </thead>
                <tbody>
                <?php foreach ($this->sales as $sale): ?>
                  <tr>
                    <td><?= Meduse_Date::dbToForm($sale['date_exp']); ?></td>
                    <td class="text-right"><?= $sale['amount']; ?> <?= $this->measure_unit; ?></td>
                    <td><a href="<?= $this->url(array(
                      'controller' => 'tobacco-orders',
                        'action' => 'detail', 'id' => $sale['order_id'],
                        'year' => NULL)); ?>"><?= $sale['order_no']; ?></a></td>
                    <td><?= $sale['title']; ?></td>
                    <td><a href="<?= $this->url(array(
                        'controller' => 'tobacco-invoice',
                        'action' => 'download', 'id' => $sale['invoice_id'],
                        'year' => NULL)); ?>"><?= $sale['invoice_no']; ?></a></td>
                  </tr>
                <?php endforeach; ?>
                <tr>
                  <th>Celkem</th>
                  <th class="text-right"><?= $this->salesTotalAmount; ?> <?= $this->measure_unit; ?></th>
                </tr>
                </tbody>
              </table>
              <?php else: ?>
                <p><strong>Ve zvoleném období nedošlo k žádným prodejům.</strong></p>
              <?php endif; ?>
            </div>
          <?php endif; ?>
        </div>
      </div>
  </div>




<script>
  $('#tabPanel a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
  });
  // on load select tab
  $(function() {
    $('#tabPanel a[href="'+window.location.hash+'"]').tab('show');
  });

  $('#year-selector').change(function(){
    var url = '/tobacco/parts-detail/id/<?= $this->part->getID(); ?>/year/' + $(this).val() + '#changes';
    window.location.replace(url);
  });


	$(".part_count").change(function() {
		if ($(this).val() > 0){
			if (confirm('Opravdu chcete změnit počet podsoučásti ' + $(this).attr('id') + '?')){
				$.ajax({
					'url': '/tobacco/ajax-subparts-count-change',
					'data': {
            'part': '<?php echo $this->part->getID(); ?>',
            'subpart': $(this).attr('id'),
            'amount': $(this).val()
          },
					'success': function(){
						alert("Počet podsoučásti změněn.");
					},
					'error': function(){
						alert("Počet podsoučásti se nepodařilo změnit.");
					}
				});
			}
		}
	});


  $('#parts_mix_form').submit(function(){
    $.ajax({
      'url': '/tobacco/ajax-parts-mix-save',
      'data': {
        'id_parts': '<?php echo $this->part->getID(); ?>',
        'id_mixes': $('#mix', this).val(),
        'amount': $('#amount', this).val()
      },
      'success': function(){
        alert("Recept macerátu byl přidán k tabáku.");
      },
      'error': function(){
        alert("Recept macerátu se nepodařilo přiřadit k tabáku.");
      }
    });
    return false;
  });

  // AJAX volani dalsich informaci o vyrobe maceratu v danem dni
  $('.info-button').on('click', function () {
    var date = $(this).data('date');
    $.ajax({
      'url': '/tobacco/ajax-maceration-info',
      'data': {
        'id_parts': '<?php echo $this->part->getID(); ?>',
        'date': date,
      },
      'success': function(data){
        console.log(data);
        var id = 'info-' + date;
        $('table#changes tr#' + id).remove();
        $('table#changes tr#day-' + date).after('<tr id="' + id + '"></tr>');
        if (data.info.length) {
          $('tr#' + id).append('<td colspan="4"><table class="table table-condensed table-striped"></table></td>');
          $.each(data.info, function(index, value){
            var line = '<td>' + value.name + '</td>'
              + '<td class="text-right">' + value.amount / -1000 + ' kg</td>'
              + '<td><a href="/tobacco/macerations-detail/id/' + value.id_macerations + '#changes">' + value.batch + '</a></td>'
              + '<td>' + value.note + '</td>';
            $('tr#' + id + ' table').append('<tr>' + line + '</tr>');
          });
        }
        else {
          $('tr#' + id).append('<td colspan="4">Žádné informace o výrobě macerace.</td>');
        }
      },
    });
  });

</script>