
<?= $this->form; ?>
<style type="text/css">
  .process { background-color: yellow !important; }
</style>
<script>
  $(document).ready(function(){
    
    $('#partspackform input').change(function(){
      partsPackCheck();
    });    
  });
  
  function partsPackCheck() {
    
      $('#amount', '#partspackform').addClass('process');
      
      var part = $('#part_id', '#partspackform').val();
      var amount = parseInt($('#amount', '#partspackform').val());
      var barrels = [];
      var it = 0;
      $('input[type=radio]:checked', '#partspackform').each(function(){
        barrels[it] = $(this).val();
        it++;
      });
      
      $.ajax({
        type: "POST",
        url: "/tobacco/parts-pack-check-ajax",
        data: { part: part, amount: amount, barrels: barrels }
      })
        .done(function(data) {
          $('#amount', '#partspackform').val(data.result.max);
          $('#amount', '#partspackform').removeClass('process');
        });
      }  
</script>