<h2><?= $this->title; ?></h2>
<?php if(count($this->data) > 0): ?>
  <div class="alert">Seznam smazaných, nepoužívaných součástí, jejichž ID se nedá použít pro nové součásti</div>
  <table class="table table-condensed table-hover sticky">
    <thead>
    <tr>
      <th>Id</th>
      <th>Název</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->data as $row): ?>
      <tr>
        <td><a href="/tobacco/parts-detail/id/<?= $row['id']; ?>"><?= $row['id']; ?></a></td>
        <td><?= $row['name']; ?></td>
      </tr>
    <?php endforeach; ?>
    </tbody>
  </table>
<?php endif; ?>