<style>
    input.error {
        background-color: red;
        color: yellow;
    }
</style>

<?php if ($this->message): ?>
  <div style="margin-top: 20px;" class="alert">
    <?= $this->message; ?>
  </div>
<?php endif; ?>
<?= $this->form; ?>

<script>
    (($) => {
        const $input = $('#meduse_parts_id');
        const $form = $('#save_as_form');
        const checkId = ($input) => {
            const id = $input.val();
            const $submit = $input.closest('form').find('input[type="submit"]');
            const url = '/parts/ajax-check-part-id/id/' + id;
            let free = true;
            $.ajax(url, { async: false }).success((data) => {
                free = !data.result;
            });
            if (!free) {
                $input.addClass('error');
                $submit.prop('disabled', true);
            }
            else {
                $input.removeClass('error');
                $submit.prop('disabled', false);
            }
            return free;
        };
        $input.bind('blur', () => { checkId($input); });
        $form.bind('submit', () => { return checkId($input); });
    })(jQuery);
</script>
