<?= $this->form ?>

<?php /*
<form id='invoice-settings' action='<?php $this->form->getAction() ?>' method='<?= $this->form->getMethod(); ?>'>
  <?= $this->form->category ?>
  <?= $this->form->subparts_count ?>

  <?= $this->form->name ?>
  <?= $this->form->id ?>
  <?= $this->form->description ?>
  <?= $this->form->producers ?>
  <?= $this->form->price ?>
  
  <fieldset id="subparts">
    <label>Podsoučásti:</label>
    <div class="content">
      <div class="subpart">
        <?php // $this->formSelect('subpart-id-0', null, null, array(0 => '- zvol -', 1 => 'one')); ?>
        <?= $this->form->subpart_id_0 ?>
        <?= $this->formText('subpart_amount_0', null, array('size' => '1')); ?> MJ
      </div>
    </div>
    <button id="add-subpart" onclick="return addSubpart();">Přidej součást</button>
  </fieldset>  
  
  <?= $this->form->Odeslat ?>  
</form>  
<script>
  $(document).ready(function(e){
    checkSubpartsSection();
  });
  $('#category').change(function(e){
    checkSubpartsSection();
  });
  
  function checkSubpartsSection() {  
    if($('#category').val() == <?= Table_TobaccoWarehouse::CTG_TOBACCO_FS ?>
        || $('#category').val() == <?= Table_TobaccoWarehouse::CTG_TOBACCO_NFS ?>) {
      $('#subparts').show();
    } else {
      $('#subparts').hide();      
    }
  }
  
  function addSubpart() {
    var count = $('.subpart').length;
    var subpart = $('.subpart:first').clone(true);
    $('select', subpart)
            .attr('id', 'subpart_id_' + count)
            .attr('name', 'subpart_id_' + count);
    $('input', subpart)
            .attr('id', 'subpart_amount_' + count)
            .attr('name', 'subpart_amount_' + count);
    subpart.appendTo('#subparts .content');
    $('#subparts_count').val(count);
    return false;
  }
</script>  
  
 * 
 */
