<style type="text/css">
  #id.taken {
    background-color: red !important;
    color: white !important;
  }
</style>

<?= $this->form ?>

<script type="text/javascript">

  $(document).ready(function() {
    hideFlavors();
  });

  $('#category').change(function(){
    hideFlavors();
  });

  $('#id').change(function(){
    checkId();
  });

  $('form').submit(function(){
    if ($('#id').hasClass('taken')) {
      return false;
    }
  });

  function hideFlavors() {
    var $element = $('#form_element_flavor');
    if ($('#category').val() == <?= Table_TobaccoWarehouse::CTG_MATERIALS_FLAVORS; ?>) {
      $element.show();
    }
    else {
      $element.hide();
    }
  }

  function checkId() {
    var id = $('#id').val();
    $.get('/parts/ajax-check-part-id/id/' + id, {})
      .done(function(data){
        if (data.result) {
          $('#id').addClass('taken');
          $('#form_element_id .after-element').html('<br><small>ID již v systému existuje.</small>');
        } else {
          $('#id').removeClass('taken');
          $('#form_element_id .after-element').html('');
        }
    });
  }

</script>
