<a href="<?= $this->url(array(
  'action' => 'parts-detail', 
  'id' => $this->part->getID(),
  'part' => null)); ?>" class="btn">Zpět na detail</a>

<?php if(count($this->data) > 1) { ?>
<table id="subparts" class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Vybrat</th>
			<th>ID</th>
			<th>Název</th>
			<th>Popis</th>
			<th>Množství</th>
		</tr>
	</thead>
	<tbody>
<?php if($this->ctg){ ?>
		<tr><th colspan="6" class="section"><?= $this->ctg ?></th> </tr>
<?php } ?>
<?php
	$i = 0;
	foreach($this->data as $row){

		if(array_key_exists($row['id'], $this->subparts)){
			$value = $this->subparts[$row['id']];
		} else {
			$value = '';
		}

		$class = ($i++ % 2) ? " class='odd'" : '';
?>
		<tr name="<?= $row['id'] ?>_line" <?= $class ?> <?php echo $value !== '' ? "style='background-color: #ffffbf;'" : ''?>>
			<td style="text-align: center;"><input type="checkbox" name="<?= $row['id'] ?>" class="span1" <?php echo $value !== '' ? "checked='checked'" : ''?> /></td>
			<td><?= $row['id'] ?></td>
			<td><?= $row['name'] ?></td>
			<td><?= $row['description'] ?></td>
			<td><input type="text" id="<?= $row['id'] ?>" name="<?= $row['id'] ?>_amount" value="<?php echo $value ?>" class="span1" /></td>
		</tr>
<?php
	}
?>
	</tbody>
</table>
<?php 
    }
    else { ?>
        <div class="alert alert-block alert-error"><p>nic nenalezeno</p></div>
<?php } ?>


<script type="text/javascript">
<!--
$(document).ready(function() {
	jQuery("input,[type=text]").change( function() {
		if($(this).val() > 0){
			if(jQuery("[name='"+$(this).attr('id')+"']").attr('checked') == false){
				jQuery("[name='"+$(this).attr('id')+"']").attr('checked', true);
				jQuery("[name='"+$(this).attr('id')+"_line']").attr('style', "background-color: #ffffbf;");
			}
			//pridavani vice, cislem
			$.ajax({
				'url': '/tobacco/ajax-subparts-count-change',
				'data': {
          'part': '<?php echo $this->part->getID() ?>', 
          'subpart': $(this).attr('id'), 
          'amount': $(this).val()},
				'success': function(data){
					alert("Počet podsoučásti změněn.");
				},
				'error': function(data){
					alert("Počet podsoučásti se nepodařilo změnit.");
				}
			});
		}
	});

	jQuery("[type=checkbox]").click( function() {
		if($(this).attr('checked') == false){
			result = confirm("Opravdu chcete tuto podsoučást odebrat?");
			if(result){
				//odebirani soucasti
				jQuery("#"+$(this).attr('name')).attr('value', '');
				jQuery("[name='"+$(this).attr('name')+"_line']").removeAttr('style');
				$.ajax({
					'url': '/parts/delete-sub-part',
					'data': {'part':'<?php echo $this->part->getID() ?>', 'subpart':$(this).attr('name')}
				});
			} else {
				$(this).attr('checked', 'checked');
			}			
		} else {
			jQuery("[name='"+$(this).attr('name')+"_line']").attr('style', "background-color: #ffffbf;");
			if(jQuery("#"+$(this).attr('name')).val() == ''){
				jQuery("#"+$(this).attr('name')).attr('value', '1');
				//pridavani jedne checknutim
				$.ajax({
					'url': '/parts/select-subparts-list',
					'data': {'part':'<?php echo $this->part->getID() ?>', 'add':$(this).attr('name'), 'amount':1},
					'success': function(data){
						alert("Podsoučást přidána.");
					},
					'error': function(data){
						alert("Podsoučást se nepodařilo přidat.");
					}
				});
			}
		}
	});
});

//-->
</script>