<h2><?= $this->title; ?></h2>

<div class="pull-right">
  <a href="/tobacco/productions-add" class="btn btn-success">Nová objednávka</a>
</div>

<ul class="nav nav-tabs no-print" id="tabPanel">
  <?php foreach ($this->data as $key => $section): ?>
    <li><a href="#<?= $key; ?>"><?= $section['name']; ?></a></li>
  <?php endforeach; ?>
</ul>

<div class="tab-content">
  <?php foreach ($this->data as $key => $section): ?>
    <div class="tab-pane no-print" id="<?= $key; ?>">

      <?php if ($section['production']): ?>
        <table class="table sticky table-condensed table-hover">
          <thead>
          <tr>
            <th class="text-center">Stav</th>
            <th>Dodavatel</th>
            <th class="text-center">Datum objednání</th>
            <th class="text-center">Datum dodání</th>
            <th>Faktura</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <?php foreach ($section['production'] as $item): ?>
            <tr>
              <td class="text-center">
                <span class="label <?= $item['status'] == Table_Productions::STATUS_CLOSED ? 'label-success' : 'label-important'; ?>">
                  <?= $item['status'] == Table_Productions::STATUS_CLOSED ? 'přijatá' : 'otevřená'; ?>
                </span>
              </td>
              <td><?= $item['name']; ?></a></td>
              <td class="text-center"><?= Meduse_Date::dbToForm($item['date_ordering']); ?></td>
              <td class="text-center"><?= Meduse_Date::dbToForm($item['date_delivery']); ?></td>
              <td><?= $item['invoice_id']; ?></td>
              <td class="text-right"><a class='btn btn-mini' href="<?= $this->url(array('action' => 'productions-detail', 'id' => $item['id'])); ?>">
                  <i class="icon icon-info-sign"></i> detail</a></td>
            </tr>
          <?php endforeach; ?>
          </tbody>
        </table>
      <?php else: ?>
        <p>Nejsou evidovány žádné objednávky.</p>
      <?php endif; ?>
    </div>

  <?php endforeach; ?>
</div>

<script>
  $(document).ready(function() {
    $('#tabPanel li:first').find('a').tab('show');
    $('#tabPanel a[href="' + window.location.hash + '"]').tab('show');
    $('#tabPanel a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
  });
</script>