<div class="row">
  <div class="span8">
    <h3><?= $this->title; ?>
      <span class="<?= $this->status_label; ?>"><?= $this->status; ?></span>
    </h3>
    <table class="table table-condensed table-striped table-hover sticky">
      <thead>
        <tr>
          <th>Název / ID</th>
          <th>Popis</th>
          <th class="text-right"><?= $this->production->status == Table_Productions::STATUS_CLOSED ? 'Přijato' : 'Objednáno'?></th>
          <th>MJ</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($this->production->parts as $partId => $item): ?>
          <tr>
            <td><?= $item['part']->getName(); ?><br><small><?= $item['part']->getID(); ?></small></td>
            <td><small><?= $item['part']->getDescription(); ?></small></td>
            <td class="text-right"><?= $item['amount']; ?></td>
            <td><?= $item['part']->getMeasure() == Parts_Part::WH_MEASURE_WEIGHT ? 'kg' : 'ks'; ?></td>
          </tr>
        <?php endforeach; ?>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <div data-spy="affix">
      <p class="btn-group  span12">
        <a href="<?= $this->url(array('action' => 'productions', 'id' => NULL)); ?>" class="btn btn-success btn-small"><i class="icon icon-arrow-left icon-white"></i> Zpět na přehled</a>
        <?php if ($this->production->status != Table_Productions::STATUS_CLOSED): ?>
          <a class="btn btn-small btn-danger" href="<?= $this->url(array('action' => 'productions-add')); ?>"><i class="icon icon-white icon-edit"></i> Upravit</a>
        <?php endif; ?>
      </p>
      <div class="well span4">
        <?php if ($this->production->status == Table_Productions::STATUS_CLOSED): ?>
          <h3>Informace o dodávce</h3>
          <table class="table table-condensed">
            <tr>
              <th>Datum přijetí:</th>
              <td><?= $this->production->date_delivery->get('d.m.Y'); ?></td>
            </tr>

            <tr>
              <th>Faktury:</th>
              <td>
                <?php if ($this->invoices): ?>
                  <?php echo implode('<br>', $this->invoices); ?>
                <?php endif; ?>
              </td>
            </tr>
            <tr>
              <th>Poznámky:</th>
              <td>
                <?php if ($this->notes): ?>
                  <?php echo implode('<br>', $this->notes); ?>
                <?php endif; ?>
              </td>
            </tr>
          </table>
        <?php else: ?>
          <?= $this->form; ?>
        <?php endif; ?>
      </div>
    </div>
  </div>
</div>
