<?= $this->form; ?>

<script>
$(document).ready(function(){

  // Zmena dodavatele reloaduje cely formular.
  $('#id_producers').change(function(){
    if ($(this).val()) {
      $form = $(this).parents('form:first');
      $form.attr('action', '/tobacco/productions-add');
      $form.submit();
    }
  });

  // Kontrola vstupu.
  $('.part').on('change', function(){
    let $part = $(this);
    let amount;
    if ($part.data('measure') === 'unit') {
      amount = parseInt($part.val());
    }
    else {
      amount = parseFloat($part.val().replace(',', '.'))
    }
    if (isNaN(amount)) {
      $part.val('');
    }
    else {
      $part.val(amount);
    }
  });
});

</script>
<style type="text/css">
  p.hint {
    padding-left: 160px;
    font-style: italic;
    font-size: smaller;
  }
  label {
    clear: both;
  }
</style>