<div class="pull-right">
  <a href="<?= $this->url(array('action' => 'recipes', 'id' => NULL)); ?>" class="btn btn-success">
    <i class="icon icon-white icon-backward"></i> Zpět na přehled</a>
</div>
<h2>Detail receptury <?= $this->escape($this->recipe->getName()); ?></h2>
<table class="table table-bordered table-striped">
  <tr>
    <th>Název</th>
    <td><strong><?php echo $this->escape($this->recipe->getName()); ?></strong></td>
  </tr>
	<tr>
		<th>Příchuť</th>
		<td><?php echo $this->escape($this->recipe->getFlavorId()); ?>. <?php echo $this->escape($this->recipe->getFlavorName()); ?></td>
	</tr>
	<tr>
		<th>Popis</th>
		<td><?php echo $this->escape($this->recipe->getDescription()); ?></td>
	</tr>
  <tr>
    <th>Doba macerace</th>
    <td><?= Meduse_Date::pluralDen($this->recipe->getDue()); ?></td>
  </tr>
	<tr>
		<th>Suroviny</th>
		<td>
      <table>
        <tr>
          <th>složka</th>
          <th class="text-right">podíl</th>
          <th class="text-right">dostupnost</th>
        </tr>
      <?php foreach ($this->recipe_parts->getParts() as $recipe_part): ?>
        <tr>
          <td><a href="<?= $this->url(array(
              'action' => 'parts-detail',
              'id' => $recipe_part['id_parts'],
            )); ?>"><?= $this->escape($recipe_part['name']) ?></td>
          <td class="text-right"><?= $this->escape($recipe_part['share']) . ' %' ?></td>
          <td class="text-right"><?= Meduse_Currency::format($this->escape($recipe_part['amount']), ' kg', 3); ?></td>
        </tr>
      <?php endforeach; ?>
      </table>
    </td>
	</tr>
  <tr>
    <th>Jednotková cena</th>
    <td><?= Meduse_Currency::format($this->recipe->getUnitPrice(), 'Kč/kg'); ?></td>
  </tr>
	<tr>
		<th>Vloženo</th>
		<td><?= Meduse_Date::dbToForm($this->recipe->getCreatedAt()); ?></td>
	</tr>
	<tr>
		<th>Naposledy upraveno</th>
		<td><?= Meduse_Date::dbToForm($this->recipe->getLastUpdate()); ?></td>
	</tr>
	<tr>
		<th>Stav</th>
		<td><?php echo $this->recipe->getStateString(); ?></td>
	</tr>
</table>
<a class="pull-right btn btn-primary" href="<?php echo $this->url(array(
'module' => 'default', 'controller' => 'tobacco', 'action' => 'recipe-edit', 'id' => $this->recipe->getId()
)); ?>"><span class="icon-pencil icon-white"></span>&nbsp;Upravit</a>