<h2>Receptury macerátů</h2>

<ul class="nav nav-tabs no-print" id="tabPanel" role="tablist" style="margin-top: 10px;">
  <li class="active"><a href="#a">Aktivní</a></li>
  <li><a href="#n">Neaktivní</a></li>
</ul>

<!-- tabs -->
<div class="tab-content">
  <!-- tab -->
  <div class="tab-pane active" id="a">
    <?= $this->grid_active ?>
  </div>
  <!-- tab -->
  <div class="tab-pane" id="n">
    <?= $this->grid_inactive ?>
  </div>
</div>

<script>
  $('#tabPanel a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
</script>