<h2><?= $this->title; ?></h2>
<?php if (Utils::isAllowed('tobacco/batch-consolidate')): ?>
    <div><a href="/tobacco/batch-consolidate" class="btn btn-small btn-success no-print">Konsolidace šarží</a></div>
<?php endif; ?>
<h3>Nekolkované tabákové produkty</h3>

<dl>
  <dt>Celkový počet:</dt>
  <dd><?= $this->overviewNFS['amount'] ?> ks</dd>
  <dt>Celková hmotnost:</dt>
  <dd><?= $this->overviewNFS['total_weight'] ?> kg</dd>
  <?php if ($this->recipesNFS): ?>
    <dt>Mixy:</dt>
    <dd>
      <ol>
        <?php foreach ($this->recipesNFS as $row): ?>
        <li>
          <strong><?= $row['mix'] ?></strong> &ndash;
          <?= $row['amount'] ?> ks ~ <?= $row['total_weight'] ?> kg<br />
          <?= array_key_exists('batches', $row) ? $row['batches'] : '' ?>
        </li>
        <?php endforeach; ?>
      </ol>
    </dd>
  <?php endif; ?>
</dl>

<?php if ($this->productsNFS): ?>
  <table class='table table-condensed'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Název</th>
        <th class='text-right'>Hmotnost</th>
        <th>Šarže</th>
        <th>Mix</th>
        <th class='text-center'>Počet</th>
        <th class='text-right'>Celková hmotnost</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($this->productsNFS as $row): ?>
      <tr>
        <td><?= $row['id'] ?></td>
        <td><?= $row['name'] ?></td>
        <td class='text-right'><?= $row['weight'] ?> kg</td>
        <td><?= $row['batch'] ?></td>
        <td><?= $row['mix'] ?></td>
        <td class='text-center'><?= $row['amount'] ?> ks</td>
        <td class='text-right'><?= $row['total_weight'] ?> kg</td>
      </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
<?php endif; ?>

<h3>Kolkované tabákové produkty</h3>
<dl>
  <dt>Celkový počet:</dt>
  <dd><?= $this->overviewFS['amount'] ?> ks</dd>
  <dt>Celková hmotnost:</dt>
  <dd><?= $this->overviewFS['total_weight'] ?> kg</dd>
  <?php if ($this->recipesFS): ?>
    <dt>Mixy:</dt>
    <dd>
      <ol>
        <?php foreach ($this->recipesFS as $row): ?>
        <li>
          <strong><?= $row['mix'] ?></strong> &ndash;
          <?= $row['amount'] ?> ks ~ <?= $row['total_weight'] ?> kg<br />
          <?= $row['batches'] ?>
        </li>
        <?php endforeach; ?>
      </ol>
    </dd>
  <?php endif; ?>
</dl>

<?php if ($this->productsFS): ?>
  <table class='table table-condensed'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Název</th>
        <th class='text-right'>Hmotnost</th>
        <th>Šarže</th>
        <th>Mix</th>
        <th class='text-center'>Počet</th>
        <th class='text-right'>Celková hmotnost</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($this->productsFS as $row): ?>
      <tr>
        <td><?= $row['id'] ?></td>
        <td><?= $row['name'] ?></td>
        <td class='text-right'><?= $row['weight'] ?> kg</td>
        <td><?= $row['batch'] ?></td>
        <td><?= $row['mix'] ?></td>
        <td class='text-center'><?= $row['amount'] ?> ks</td>
        <td class='text-right'><?= $row['total_weight'] ?> kg</td>
      </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
<?php endif; ?>
