<h2><?= $this->title; ?></h2>

<dl>
  <dt>Celkové množství v sudech:</dt>
  <dd><?= $this->totalWeight; ?> kg</dd>

  <dt>Počet sudů:</dt>
  <dd><?= $this->barrelsCount; ?> ks</dd>

  <?php if ($this->recipes): ?>
    <dt>Recepury:</dt>
    <dd><ol>
      <?php foreach ($this->recipes as $recipe): ?>
        <li>
          <strong><?= $recipe['name']; ?></strong> &ndash;
          <?= $recipe['count']; ?> ks ~ <?= $recipe['weight']; ?> kg<br />
          <?= $recipe['batches']; ?>
        </li>
      <?php endforeach; ?>
      </ol></dd>
    </dt>
  <?php endif; ?>
</dl>


<?php if ($this->barrels): ?>
<table class="table-condensed table">
  <thead>
    <tr>
      <th>Šarže (označení)</th>
      <th>Receptura</th>
      <th class="text-right">Aktuální hmotnost</th>
      <th>Založeno</th>
      <th>Možno pakovat</th>
      <th>Zbývá dnů</th>
    </tr>
  </thead>
  <tbody>
    <?php foreach ($this->barrels as $barrel): ?>
      <tr>
        <td><?= $barrel['batch']; ?></td>
        <td><?= $barrel['name']; ?></td>
        <td class="text-right"><?= $barrel['weight']; ?> kg</td>
        <td><?= $barrel['start']; ?></td>
        <td><?= $barrel['end']; ?></td>
        <td><?= $barrel['days_left']; ?></td>
      </tr>
    <?php endforeach; ?>
  </tbody>
</table>
<?php endif; ?>
