<script>
  $(document).ready(function(){
    const $rows = $('#packing-form table:first tbody tr');
    $('#search-form').on('keyup keypress', function(e) {
      const $input = $(this).find('#search');
      const keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
      search($input.val());
    });
    $('#packing-form').on('keyup keypress', function(e) {
      const keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    }).on('submit', function(){
      if ($(this).find('tr.error').length > 0) {
        alert('Zadané množství nelze nabalit z vybraných sudů');
        return false;
      }
    });
    $('input[name^="amount_"], input[name^="batch_"]').on('change', function(){
      let $row = $(this).parents('tr');
      $row.removeClass('error');
      let $batches = $row.find('input[name^="batch_"]:checked');
      let $parts = $row.find('input[name^="amount_"]');
      let whole = 0;
      $batches.each(function(){
        whole += parseInt($(this).data('ratio'));
      });
      let total = 0;
      $parts.each(function(){
        let $part = $(this);
        let amount = $part.val();
        if (amount.trim() === '') {
          amount = 0;
        }
        amount = parseInt(amount);
        if (isNaN(amount)) {
          amount = 0;
          $part.val(0);
        }
        total = total + amount * parseFloat($part.data('amount'));
      });
      $batches.each(function(){
        let ratio = parseInt($(this).data('ratio'));
        let pattern = /\(([.\d]+) kg\)/i;
        let weight = parseFloat(pattern.exec($(this).parent('label').text())[1]);
        if ((total / whole * ratio) > weight) {
          $row.addClass('error');
        }
      });
    });

    function search(what) {
      what = what.trim();
      if (what === '') {
        $rows.show();
        return;
      }
      what = what.toLowerCase();
      $rows.each(function(){
        const $row = $(this);
        const name = $row.find('th:first').text().toLowerCase();
        if (name.includes(what)) {
          $row.show();
        }
        else {
          $row.hide();
        }
      });
    }
  });

</script>

<?php if ($this->message): ?>
  <div class="alert alert-danger">
    <?= $this->message; ?>
  </div>
<?php endif; ?>

<h2><?= $this->title; ?></h2>
<form class="form" id="search-form">
  <div class="button-group">
    <input type="text" id="search" class="input-xxlarge" placeholder="Hledej dle názvu mixu...">
  </div>
</form>


<?= $this->form; ?>