
<div>
	<?php echo $this->grid; ?>
</div>

<div class="modal fade" id="add-modal-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Naskladnění obalových součástí</h3>
  </div>
  <div class="modal-body">
        <h4></h4>
        <?php echo $this->addItemForm; ?>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zrušit</a>
    <a href="#" class="btn btn-primary" id="add-modal-dialog-submit">Uložit</a>
  </div>
</div>

<script>
  $('#add-modal-dialog-submit').click(function(){
    console.log('clik');
    $('#add-modal-dialog form').submit();
    $('#add-modal-dialog').hide();
  });  
</script>