<h2>Sklad: <?= $this->title; ?></h2>

<div id="filter" class="collapse <?php if ($this->show) echo 'in'; ?>">

<?= $this->filter ?>
</div>
<p class="text-center">
  <button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#filter">
  Filtr
  </button>    
<a class="btn btn-success btn-small" href="<?=$this->baseUrl()?>/tobacco/warehouse/new/search"><i class="icon icon-white icon-search"></i> Nové hledání</a>    
</p>


<?php

  if($this->tab) {
    switch($this->tab){
      case 'packaging':
      case 'packaging_labels':
      case 'packaging_labels_box_010':
      case 'packaging_labels_box_050':
      case 'packaging_labels_sachet_010':
      case 'packaging_boxes':
      case 'packaging_sachets':
      case 'packaging_other':
        echo $this->partial("tobacco/warehouse-packaging.phtml",
          array('grid' => $this->grid, 'addItemForm' => $this->addItemForm, 'sort' => $this->sort));
        break;
      case 'tobacco_nfs':
        echo $this->partial("tobacco/warehouse-tobacco_nfs.phtml", 
          array('grid' => $this->grid, 'sort' => $this->sort));
        break;
      case 'duty_stamps':
        echo $this->partial("tobacco/warehouse-duty_stamps.phtml", 
          array('grid' => $this->grid, 'addItemForm' => $this->addItemForm, 'sort' => $this->sort));
        break;
      case 'tobacco_fs':
        echo $this->partial("tobacco/warehouse-tobacco_fs.phtml", 
          array('grid' => $this->grid, 'sort' => $this->sort));
        break;            
      case 'materials':
        echo $this->partial("tobacco/warehouse-materials.phtml", 
          array('grid' => $this->grid, 'addItemForm' => $this->addItemForm, 'sort' => $this->sort));
        break;
      case 'accessories':
        echo $this->partial("tobacco/warehouse-accessories.phtml",
          array('grid' => $this->grid, 'addItemForm' => $this->addItemForm, 'sort' => $this->sort));
        break;
    }
    $reg = Zend_Registry::get('tobacco_warehouse');
    $reg->last_tab = $this->tab;
    Zend_Registry::set('tobacco_warehouse', $reg);
  }  
?>
<style type="text/css">
  .anchor {
    padding-top: 50px;
  }
  table#grid0 td {
    vertical-align: middle;
  }
  input.critical-amount {
    width: auto;
    margin-bottom: 0;
    text-align: right;
  }
  input.critical-amount.process {
    background-color: yellow;
  }
  input.critical-amount.error {
    background-color: red;
    color: white;
  }
</style>
<script>
  function openAddDialog(id, name) {
    $('#add-modal-dialog form #id').val(id);
    $('#add-modal-dialog h4').html(name + " (ID: " + id + ")");
    $('#add-modal-dialog').modal('show');
  }
  $(document).ready(function(){
    $('.critical-amount').bind('change', function(){
      var $input = $(this);
      var url = '/tobacco/warehouse-ajax-set-critical-amount';
      var partId = $input.data('part-id');
      var amount = $input.val().replace(',', '.');
      $input.addClass('process').removeClass('error');
      $.post(url, {partId: partId, amount: amount}, function(data){
        $input.val(data.amount);
        $input.removeClass('process');
        if (data.status === false) {
          $input.addClass('error');
          console.log(data.error);
        }
      });
    });
  });
</script>
