<h2><?= $this->title; ?></h2>


<!-- nav -->
<ul class="nav nav-tabs no-print" id="tabPanel">
  <?php $it = 0; foreach ($this->years as $year): ?>
  <li class="<?= $it == 0 ? ' active' : ''; ?>"><a href="#<?= $year; ?>"><?= $year; ?></a></li>
  <?php $it++; endforeach; ?>
</ul>


<!-- tabs -->
<div class="tab-content">
  <!-- tab -->
  <?php $it = 0; foreach ($this->snapshots as $year => $snapshots): ?>
    <div class="tab-pane<?= $it == 0 ? ' active' : ''; ?>" id="<?= $year; ?>">
      <?php if (!$snapshots): ?>
        <p><strong>Nebyly evidovány žádné fyzické stavy.</strong></p>
      <?php else: ?>
        <table class="sticky table table-condensed table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Název</th>
              <th>Datum záznamu</th>
              <th class="text-right">Účetní stav</th>
              <th class="text-right">Reálný stav</th>
              <?php // <th class="text-right">Odchylka</th> ?>
              <th>Poznámka</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($snapshots as $snap): ?>
              <tr>
                <td><a href="<?= $this->url(['action' => 'parts-detail', 'id' => $snap['id_parts']]); ?>"><?= $snap['id_parts']; ?></a></td>
                <td><a href="<?= $this->url(['action' => 'parts-detail', 'id' => $snap['id_parts']]); ?>"><?= $snap['name']; ?></a></td>
                <td><?= Meduse_Date::dbToForm($snap['date']); ?></td>
                <td class="text-right">
                  <?= $snap['measure'] == 'weight' ? Meduse_Currency::format($snap['amount_wh'] / 1000, 'kg', 3) : $snap['amount_wh'] . ' ks'; ?></td>
                <td class="text-right">
                  <?= $snap['measure'] == 'weight' ? Meduse_Currency::format($snap['amount_real'] / 1000, 'kg', 3) : $snap['amount_real'] . ' ks'; ?>
                </td>
                <?php /*
                <td class="text-right">
                  <?php if($snap['amount_wh']): ?>
                    <?= sprintf("%+01.2f", ($snap['amount_real'] - $snap['amount_wh']) / $snap['amount_wh'] * 100); ?> %
                  <?php else: ?>
                    &mdash;
                  <?php endif; ?>
                </td>
                */ ?>
                <td><?= $snap['note']; ?></td>
                <td>
                  <?php /* todo Zmena zadani fyzickeho stavu.
                    <a class='btn btn-warning btn-mini' href="<?= $this->url(['action' => 'warehouse-snapshot-edit', 'id' => $snap['id']]); ?>">upravit</a>
                  */ ?>
                  <?php if ($snap['is_fixed'] == 'n'): ?>
                    <a class='btn btn-success btn-mini' href="<?= $this->url(['action' => 'warehouse-snapshot-fix', 'id' => $snap['id']]); ?>">vyrovnat</a>
                  <?php endif; ?>
                </td>
              </tr>
            <?php endforeach; ?>
          </tbody>
        </table>
      <?php endif; ?>

      <?php if ($it == 0): ?>
        <p><a href="<?= $this->url(['action' => 'close-year', 'type' => 'parts']); ?>"
              class="btn btn-primary">Provést inventuru</a>
        </p>
      <?php endif; ?>
    </div>
  <?php $it++; endforeach; ?>
</div>

<script>
  $('#tabPanel a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  $(function() {
    $('#tabPanel a[href="' + window.location.hash + '"]').tab('show');
  });
</script>