<h2>Administrace bankovních účtů</h2>

<?php if ($this->accounts): ?>
    <?= $this->form('delete_account', array('method' => 'post', 
        'action' => $this->url(array('action' => 'accounts-delete', 'id' => null)))); ?>
    <?= $this->formHidden('account_id', ''); ?>
    <table class="table table-striped">
        <thead>
            <th>Ozn.</th>
            <th>Název</th>
            <th>Adresa</th>
            <th>IBAN</th>
            <th>BIC</th>
            <th>Číslo účtu</th>
            <th>Měna</th>
            <th>Výchozí</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
        <?php foreach ($this->accounts as $account): ?>
            <tr>
                <td><?php echo $account['designation']; ?></td>
                <td><?php echo $account['name']; ?></td>
                <td><?php echo $account['address']; ?></td>
                <td><?php echo $account['iban']; ?></td>
                <td><?php echo $account['bic']; ?></td>
                <td><?php echo $account['account_prefix'] 
                        . '-' . $account['account_number'] 
                        . '/' . $account['bank_number']; ?></td>
                <td><?php echo $account['currency']; ?></td>
                <td><?php echo ($account['is_default'] == 'y') ? 'Ano' : 'Ne' ?></td>
                <td>
                    <div class="btn-group btn-group-vertical">
                        <a href="<?php echo $this->url(array('action' => 'accounts-edit', 
                            'id' => $account['id'])); ?>" class="btn btn-mini btn-primary">
                            <i class="icon icon-white icon-edit"></i></a>
                        <a href="#" class="btn btn-mini btn-danger"
                            onclick="return deleteAccount(<?= $account['id'] ?>)">
                            <i class="icon icon-white icon-remove"></i></a>
                    </div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <p><em>Nejsou definovány žádné bankovní účty.</em></p>
<?php endif; ?>
<p>
    <a class="btn btn-primary" href="<?php echo $this->url(array(
        'action' => 'accounts-edit', 'id' => null
    ))?>"><i class="icon icon-white icon-plus"></i>&nbsp;Přidat</a>
</p>

<script type="text/javascript">
    function deleteAccount(accountId) {
        if (confirm('Opravdu chcete tento účet odstranit?')) {
            $('#account_id').val(accountId);
            $('#delete_account').submit();
        } else {
            return false;
        }
    }
</script>