<br /><br />
<h1><?php echo $this->ready." z ".$this->total;?></h1>
<br /><br />
<a href="?confirm=true">Start</a>

<table>
<?php
	foreach ($this->data as $row){
		echo "<tr><td>".$row['parts_id']."</td><td>".$row['price']."</td></tr>";
	}
?>
</table>