<br /><br /><br />

<a href="<?=$this->baseUrl()?>/admin/products-transform">Transformace produktu</a><br /><br />
<a href="<?=$this->baseUrl()?>/admin/wraps-transform">Transformace obalu</a><br /><br />
<a href="<?=$this->baseUrl()?>/admin/compute-prices">Prepocitej ceny</a><br /><br />
<a href="<?=$this->baseUrl()?>/admin/email-test">Posli mail</a><br /><br />