<h3>Změna hesla uživatele: <strong><?php echo $this->data['username']; ?> <?php if ($this->data['name_full']): ?>(<?php echo $this->data['name_full']; ?>)<?php endif; ?></h3><br>
<div>
    <?php echo $this->form; ?>
</div>