<h3><?= $this->title ?></h3><br />
<div>
    <a class="btn btn-primary pull-right" href="<?= $this->baseUrl(); ?>/admin/user-pwd/u/<?= $this->uid; ?>">Zmenit heslo</a>
</div>    
<div>
    <?php echo $this->form; ?>
</div>