<div class="pull-right">
    <a href="<?= $this->url(['action' => 'index', 'id' => NULL]); ?>" class="btn btn-small">
        <i class="icon icon-backward"></i>&nbsp;zpět na seznam</a>
    <div class="btn-group">
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon icon-wrench"></i>&nbsp;operace
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu text-left">
            <li><a href="<?= $this->url(['action' => 'edit']); ?>"><i class="icon icon-edit"></i>&nbsp;upravit</a></li>
            <li><a href="<?= $this->url(['action' => 'delete']); ?>"><i class="icon icon-remove"></i>&nbsp;smazat</a></li>
        </ul>
    </div>
</div>
<h2><?= $this->title; ?><br>
    <small><?= $this->description; ?></small>
</h2>

<p>Dokument založil: <?= $this->user_name; ?></p>

<?php if ($this->files): ?>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="text-right">verze</th>
                <th>název</th>
                <th>vložil</th>
                <th>datum</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($this->files as $idx => $file): ?>
            <tr class="<?= $file['id'] == $this->last_version ? 'info' : ''; ?>">
                <td class="text-right" style="width: 30px;"><?= $this->files_count - $idx; ?></td>
                <td><a href="<?= $this->url(['action' => 'download', 'fid' => $file['id'], 'id' => NULL]); ?>">
                  <?= $file['filename']; ?></a></td>
                <td><?= $file['user_name']; ?></td>
                <td><?= Meduse_Date::dbToForm($file['inserted']); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <p><a class="btn btn-primary" href="<?= $this->url(['action' => 'add-version'])?>"><i class="icon icon-white icon-plus"></i>&nbsp;přidat verzi</a></p>
<?php else: ?>
    <p>Dokument nemá žádné verze. <a class="btn btn-mini" href="<?= $this->url(['action' => 'add-version'])?>"><i class="icon icon-plus"></i>&nbsp;přidat verzi</a></p>
<?php endif; ?>
