<h2><?= $this->title; ?></h2>

<?php if ($this->docs): ?>
    <div class="pull-right">
        <a class="btn btn-primary" href="<?= $this->url(['action' => 'add'])?>"><i class="icon icon-white icon-plus"></i>&nbsp;vložit nový dokument</a>
    </div>
    <table class="table table-condensed sticky">
        <thead>
        <tr>
            <th>název</th>
            <th class="text-right">verze</th>
            <th>popis</th>
            <th>založil</th>
            <th>datum</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <?php foreach ($this->docs as $item): ?>
                <tr>
                    <td>
                        <?php if ($item['last_fid']): ?>
                        <a href="<?= $this->url(['action' => 'download', 'fid' => $item['last_fid']]); ?>"><?= $item['title']; ?></a>
                        <?php else: ?>
                        <?= $item['title']; ?>
                        <?php endif; ?>
                    </td>
                    <td class="text-right"><?= $item['versions']; ?></td>
                    <td><?= $item['description']; ?></td>
                    <td><?= $item['user_name']; ?></td>
                    <td><?= Meduse_Date::dbToForm($item['last_date']); ?></td>
                    <td><a class="btn btn-small" href="<?= $this->url(['action' => 'detail', 'id' => $item['id']]); ?>"><i class="icon icon-list"></i></a></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>

<?php else: ?>
  <p>V systému nejsou žádné dokumenty. <a class="btn btn-mini" href="<?= $this->url(['action' => 'add'])?>">Vložit nový</a></p>
<?php endif; ?>
