<h2>Detail problému #<?php echo $this->issue['id']; ?></h2>

<div class='row'>
	
	<div class='span8'>
		<div class='well'>
			<h3>Sumarizace</h3>
			<p><b><?php echo $this->issue['summary']; ?></b></p>

			<h3>Popis</h3>
			<p><?php echo nl2br($this->issue['description']); ?></p>
		</div>
			<?php if ($this->comments): ?>
				<table class='table table-hover'>
					<caption><b>Komentáře</b></caption>
					<?php foreach ($this->comments as $count => $comment): ?>
						<tr>
							<td>
								<span class="badge"><?php echo $count+1; ?>.</span>
							</td>
							<td>
							<p><i><?php echo $comment['inserted']; ?> |
							<?php echo $comment['username']; ?></i></p>
							<p><?php echo nl2br($comment['body']); ?></p>
							</td>
						</tr>
					<?php endforeach; ?>
				</table>
			<?php else: ?>
				<p><i>K tomuto problému nejsou doposud žádné komentáře.</i></p>
			<?php endif; ?>		
			
				
			<?php echo $this->form; ?>
	</div>
	<div class='span4'>
		<div class='well'>
			<h3>Podrobnosti</h3>
			<dl>
				<dt>Stav problému</dt>
				<dd><?php echo Table_Issues::$statusToString[$this->issue['status']]; ?></dd>

				<dt>Reportér</dt>
				<dd><?php echo $this->issue['username']; ?></dd>

				<dt>Vloženo</dt>
				<dd><?php echo $this->issue['inserted']; ?></dd>

				<dt>Změněno</dt>
				<dd><?php echo $this->issue['changed']; ?></dd>				
				
				<dt>Stránka s problémem</dt>
				<dd><?php echo $this->issue['page']; ?></dd>

				<dt>Prohlížeč</dt>
				<dd><?php echo $this->issue['browser']; ?></dd>

			</dl>
		</div>
		<?php if ($this->formStatus): ?>
		<div class='well'>
			<h3>Změna stavu</h3>
			<?php echo $this->formStatus; ?>
		</div>
		<?php endif; ?>
	</div>
</div>




