<h2>Reportované problémy</h2>

<table class="table table-hover">
	<tbody>
		<?php foreach ($this->issues as $issue): ?>
			<tr>
				<td width="5%">
					<span class="badge badge-<?php echo Table_Issues::$statusToClass[$issue['status']]?>">#<?php echo $issue['id']; ?></span>
				</td>
				<td>
					<p><big><b><a href='<?php echo $this->url(array('action' => 'detail', 'id' => $issue['id'])); ?>'>
						<?php echo $issue['summary']; ?></a>
						<span class="label label-<?php echo Table_Issues::$statusToClass[$issue['status']]?>"><?php echo Table_Issues::$statusToString[$issue['status']]; ?></span></b></big></p>
						<p><i>
							reportoval: <b><?php echo $issue['username']; ?></b> |
							vloženo: <?php echo $issue['inserted']; ?> |
							změněno: <b><?php echo $issue['changed']; ?></b> |
							komentáře: 
							<span class='badge badge-inverse'><?php echo $issue['comments']? $issue['comments'] : 0; ?></span>
						</i></p>
						<p><?php echo $issue['description']; ?></p>
						
				</td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>
