<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><?php if($this->title) echo $this->escape($this->title); else echo "Meduse Warehouse"; ?></title>
        <link rel="icon"  href="/images/favicon.ico" />
        <link rel="stylesheet" href="/public/style/normalize.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap-specify.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/public/style/main.css" type="text/css" media="screen" />
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="/public/style/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/js/jquery.countdown.js"></script>
        <script>var countdown = <?= 60 * 45; ?>;</script>
        <script type="text/javascript" src="/public/js/main.js"></script>
    </head>

    <div class="container-fluid">
        <div class='row-fluid'>
            <div class="span12">
                <header class="navbar navbar-inverse  navbar-static">
                    <?php echo $this->partial('bootstrap-navbar.phtml'); ?>
                </header>
            </div>
        </div>
        <div class='row-fluid'>
            <div class="span12">
                <nav>
                    <?php echo $this->partial('bootstrap-menu.phtml'); ?>
                </nav>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
               <section id="main">
                <?php echo $this->layout()->content; ?>
               </section>
            </div>
        </div>
        <div class='row-fluid'>
            <div class="span12">
                <footer class="navbar navbar-static">
                    <div class="navbar-inner text-center">
                    &copy; 2009&ndash;<?php echo date("Y"); ?> Meduse Design
                    </div>
                </footer>
            </div>
        </div>
    </div>
</html>