<?php $auth = Zend_Auth::getInstance(); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs-CZ">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><?php if($this->title) echo $this->escape($this->title); else echo "Meduse Warehouse"; ?></title>
		<link rel="icon"  href="<?= $this->baseUrl();?>/public/images/favicon.ico" />
		<link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/layout.css" type="text/css" media="screen" />
		<!--  <link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/grid.css" type="text/css" media="screen" />  -->
		<link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/jqueryslidemenu.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/boxes.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/datalist.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/print.css" media="print" />
		<link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/cupertino/jquery-ui-1.8.21.custom.css" type="text/css" media="screen" />
		<!--[if lte IE 7]>
		<style type="text/css">
		html .jqueryslidemenu{height: 1%;} /*Holly Hack for IE7 and below*/

		</style>
		<![endif]-->

		<!-- <script type="text/javascript" src="<?= $this->baseUrl();?>/js/jquery-1.3.2.min.js"></script> -->
        <script type="text/javascript" src="<?= $this->baseUrl();?>/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?= $this->baseUrl();?>/public/js/jquery-ui.min.js"></script>

		<?php echo $this->jQuery()
				 ->setLocalPath('//code.jquery.com/jquery-1.7.2.min.js')
				   ->enable()
				   ->setUiLocalPath('//code.jquery.com/ui/1.8.21/jquery-ui.min.js')
				   ->uiEnable(); ?>

		<script type="text/javascript" src="<?= $this->baseUrl();?>/public/js/jqueryslidemenu.js"></script>
		<script type="text/javascript" src="<?= $this->baseUrl();?>/public/js/jquery.countdown.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			var time = new Date();
			time.setMinutes(time.getMinutes() + 60);
			$('#time_countdown').countdown({
				until: time,
				layout: '{mnn}{sep}{snn}'
			});

			$("body").click(function(){
				$.ajax({
					type: "POST",
					url: "<?= $this->baseUrl();?>/index/extend",
					data: "timeExtend=true"
				});
				e = new Date();
				e.setMinutes(e.getMinutes() + 600);
				$('#time_countdown').countdown('change', {until: e});
			});
		});
/*
		$().ready(function() {
			var $scrollingDiv = $("#nav_bar");

			$(window).scroll(function(){
				if($(window).scrollTop() > 110) {
					$scrollingDiv
					.stop()
					.animate({"marginTop": ($(window).scrollTop() - 123) + "px"}, { queue: false, duration: 0 } );
				} else {
					$scrollingDiv.css("marginTop",0);
				}

			});
		});
		*/
		</script>
	</head>
	<body>
		<div id="top_bar">
			<div id="info_left">Datum: <?php echo date('j.n.Y'); ?></div>
			<div id="info_center">MEDUSE WAREHOUSE</div>
			<div id="info_right">Přihlášen:  <?= $auth->getIdentity()?> ( <a  href="<?= $this->baseUrl();?>/login/clear">odhlásit</a> ) <span id="time_countdown" style="color: white;"></span></div>
		</div>
		<!--
		<div id="header">
			<br /><br /><div id="logo"><div style="position: relative; left: 156px; top: -8px; color: white; font-size: 9px;">1.5</div></div>
		</div>
		-->
		<div id="nav_bar">
			<?php echo $this->partial('menu.phtml');?>
		</div>
		<div id="main">
			<div id="simple_content" style="min-height: 800px;">
			<?php
			if($this->notice){
				?>
				<br /><br />
				<div class="notice">
				<?php foreach($this->notice as $notice) echo $notice."<br />";?>
				</div>
				<?php
			}
			?>
			<?php echo $this->layout()->content; ?>
            <?php echo $this->partial("partials/bug-report-jq.phtml"); ?>
			</div>
		</div>
		<script type="text/javascript">
			jQuery(".lines:odd").css("background-color", "#EDEDED");
            jQuery(".lines2:odd").css("background-color", "white");
		</script>
		<!--
		<div id="footer">
			<div id="footer_menu">Objednávky | Zakázky | Produkty | Součásti | Zákazníci | Dodavatelé<br /><br />&copy; 2009 Jakub Niec</div>
		</div>
		 -->
	</body>
</html>
