<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs-CZ">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><?php echo $this->escape($this->title); ?></title>
		<link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/layout.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/jqueryslidemenu.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="<?= $this->baseUrl();?>/public/style/boxes.css" type="text/css" media="screen" />

		<script type="text/javascript" src="<?= $this->baseUrl();?>/public/js/jqueryslidemenu.js"></script>
		<script type="text/javascript" src="<?= $this->baseUrl();?>/public/js/jquery-1.3.2.min.js"></script>
	</head>
	<body>

		<div id="main">
			<br /><br /><br /><br /><br />
			<?php
			if($this->notice){
				?>
				<br /><br />
				<div class="notice">
				<?php foreach($this->notice as $notice) echo $notice."<br />";?>
				</div>
				<?php
			}
			?>
			<?php echo $this->layout()->content; ?>
		</div>
		<!--
		<div id="footer">
			<div id="footer_menu">Meduse Warehouse - Nepřihlášený uživatel<br /><br />&copy; 2009 Jakub Niec</div>
		</div>
		 -->
	</body>
</html>
