<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="icon"  href="/public/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení</title>

    <link rel="stylesheet" href="/public/style/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap-specify.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/public/style/main.css" type="text/css" media="screen" />

    <?= $this->jQuery()
      ->setLocalPath('/public/js/jquery.min.js')->enable()
      ->addJavascriptFile('/public/style/bootstrap/js/bootstrap.min.js'); ?>

  </head>
  <body>
    <div class="container">
    <?php if($this->notice): ?>
      <div style="margin-top: 20px;" class="alert">
        <?php foreach ($this->notice as $notice): ?>
          <?= $notice; ?><br />
        <?php endforeach; ?>
      </div>
    <?php endif; ?>
    <?= $this->layout()->content; ?>
    </div>
  </body>
</html>