<?php $auth = new Zend_Session_Namespace('Zend_Auth'); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="icon"  href="/public/public/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?php if($this->title) echo $this->escape($this->title); else echo "MIS Zaměstnanci"; ?></title>

    <link rel="stylesheet" href="/public/style/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="/public/style/bootstrap/css/bootstrap-specify.css" type="text/css" />
    <link rel="stylesheet" href="/public/style/cupertino/jquery-ui-1.8.21.custom.css" type="text/css" />
    <link rel="stylesheet" href="/public/style/iti/intlTelInput.min.css" media="screen">
    <link rel="stylesheet" href="/public/style/main.css" type="text/css" media="screen" />

    <?= $this->jQuery()
      ->setLocalPath('/public/js/jquery.min.js')->enable()
      ->setUiLocalPath('/public/js/jquery-ui.min.js')->uiEnable()
      ->addJavascriptFile('/public/js/chosen.jquery.min.js')
      ->addJavascriptFile('/public/js/jquery.datepick-cs.js')
      ->addJavascriptFile('/public/style/bootstrap/js/bootstrap.min.js')
      ->addJavascriptFile('/public/js/jquery.countdown.js')
      ->addJavascriptFile('/public/js/jquery.stickytableheaders.min.js')
      ->addJavascriptFile('/public/js/iti/intlTelInput.min.js')
      ->addJavascriptFile('/public/js/main.js'); ?>

    <script>var countdown = <?= $auth->expiration; ?>;</script>
  </head>
  <body>
    <?= $this->partial('bootstrap-navbar-employees.phtml'); ?>
    <div id="content" class="container">
      <?php if ($this->notice): ?>
        <div style="margin-top: 20px;" class="alert">
          <?php foreach ($this->notice as $notice): ?>
            <?= $notice; ?><br />
          <?php endforeach; ?>
        </div>
      <?php endif; ?>
      <?= $this->layout()->content; ?>
    </div>
    <?= $this->partial("partials/bug-report.phtml");  ?>
  </body>
</html>