<table class="inv-table footer" style="page-break-inside: avoid;">
    <tr>
        <td class="inv-border">
            <div class="textpad">
                <span class="ft-h2">Invoice issued by:</span>
                <span class="ft-h3"><?= $this->user['name_full'] ?></span>
            </div>
            <div class="signature ft-h3">Signature:</div>
        </td>
    </tr>
    <tr>
        <td style="font-size: 9px; text-align:  center;">Bank: Fio banka, a.s., V Celnici 1028/10, Praha 1, Czech Republic /  IBAN:  CZ1020100000002500195085  /  BIC: FIOBCZPPXXX  /  Account No: 2500195085/2010</td>
    </tr>
    <tr>
        <td class="end-fix">&nbsp;</td>
    </tr>
</table>

        </div>
    </body>
</html>
<?php Zend_Registry::set('inv_footer_rows', 11); ?>