<?php
    /**
     * Is a break page
     * 
     * formula: (count_rows - count_text_found) = actual rows for page breake  
     *
     * @param int $cnt
     * @param int $cnt_text_found package info rows
     * @return bool
     */
    function isPageBreake($cnt, $cnt_text_found) {
        $page_breake_after_rows = array(46, 114);
        $new_page_break_number = array();

        foreach ($page_breake_after_rows as $rows) {
            $new_page_break_number[] = $rows - $cnt_text_found;
        }

        if (in_array($cnt, $new_page_break_number)) {
            return true;
        } else {
            return false;
        }
    }
?>    
<?php
echo $this->partial('invoice/partial/head.phtml', array(
    'order' => $this->order,
    'form' => $this->form,
    'customerData' => $this->customerData,
    'noPrint' => $this->noPrint
));
?>
<table class="invoice invoice_tbl" style="margin-left: -1px;">
    <?php
    switch ($this->invoice['type']) {
        case 'offer':
            $head_name = 'N A B Í D K A';
            break;
        case 'proforma':
            $head_name = 'FAKTURA PROFORMA';
            break;
        default:
            $head_name = 'F A K T U R A';
            break;
    }

    if ($this->invoice['type'] == 'proforma') {
        $document_no = $this->order->getRow()->proforma_no;
    } else {
        $document_no = $this->invoice['no'];
    }

    echo $this->partial('invoice/partial/cz-supplier.phtml', array(
        'invoice' => $this->invoice,
        'invoiceHeadName' => $head_name,
        'meduseData' => $this->meduseData,
        'meduseAddr' => $this->meduseAddr,
        'user' => $this->user,
        'noPrint' => $this->noPrint
    ));
    echo $this->partial('invoice/partial/cz-consignee.phtml', array(
        'invoice' => $this->invoice,
        'order' => $this->order,
        'customerData' => $this->customerData,
        'customerAddr' => $this->customerAddr,
        'customerDelAddr' => $this->customerDelAddr,
        'user' => $this->user
    ));
    echo $this->partial('invoice/partial/cz-middle-info.phtml', array(
        'invoice' => $this->invoice,
        'order' => $this->order
    ));
    ?>
</table>


<table class="invoice-items invoice_tbl invoice">
    <tr>
        <th style="width: 50px;">ID</th>
        <th style="text-align: left;">&nbsp;&nbsp;Popis zboží / Položky fakturace</th>
        <th style="width: 115px;">Sériové číslo</th>
        <th style="width: 50px;">Počet<br/>(ks)</th>
        <th style="width: 60px;">Cena<br/>bez DPH</th>
        <th style="width: 60px;">Mezisoučet<br/>bez DPH</th>
    </tr> 
    <?php
    // table header set
    $acc = false;
    $set = false;
    $last = false;
    $priceTotal = 0;
    $cnt = 2;



    if (!empty($this->invoice['packaging'])) {
        $text = str_replace("\n", '<br>', $this->invoice['packaging']);
        $cnt_text_found = substr_count($text, '<br>');
    }
    else {
        $cnt_text_found = 0;
    }

    $parts = array_merge($this->orderParts->toArray(), $this->orderParts->toArray());

    // items
    foreach ($this->orderParts as $part) {
        $cnt++;
        /**
         * include items header    
         */
        if (isPageBreake($cnt, $cnt_text_found) && isset($_GET['type']) && $_GET['type'] == 'pdf') { 
            echo '<tr>
            <td colspan="6" style="border: 0px; border-top: 1px solid #000; height: 16px;"></td>
        </tr>
    <tr>
        <th style="width: 50px;">ID</th>
        <th style="text-align: left;">&nbsp;&nbsp;Popis zboží / Položky fakturace</th>
        <th style="width: 115px;">Sériové číslo</th>
        <th style="width: 50px;">Počet<br/>(ks)</th>
        <th style="width: 60px;">Cena<br/>bez DPH</th>
        <th style="width: 60px;">Mezisoučet<br/>bez DPH</th>
    </tr> ';
            $cnt = $cnt + 2;
        }

        if ($part['ctg_id'] != $last) {
            switch ($part['ctg_id']) {
                case Table_PartsCtg::TYPE_SETS:
                    ?>
                    <tr><th></th><th style="text-align: left;" colspan="5">&nbsp;&nbsp;SHISHA PIPE set</th></tr>
                    <?php
                    break;
                case Table_PartsCtg::PRESENTATION_TOOLS:
                    ?>
                    <tr><th></th><th style="text-align: left;" colspan="5">&nbsp;&nbsp;PRESENTATION TOOLS</th></tr>
                    <?php
                    break;
                default:
                    if (!$acc) {
                        $acc = true;
                        ?>
                        <tr><th></th><th style="text-align: left;" colspan="5">&nbsp;&nbsp;EXTRA ACCESSORIES</th></tr>
                        <?php
                    }
                    break;
            }
            $cnt++;
            $last = $part['ctg_id'];
        }
        ?>
        <tr>
            <td class="no-border" style="text-align: center;"><?= $part['id_products'] ?></td>
            <td class="no-border">&nbsp;&nbsp;<?= $part['name'] ?></td>
            <td class="no-border">&nbsp;<?php #echo $cnt; ?></td>
            <td class="no-border" style="text-align: center; padding-right: 0.5em;"><?= ($part['amount'] - $part['free_amount']) ?></td>
            <td class="no-border" style="text-align: center; padding-right: 0.5em;"><?= $part['end_price'] ?> Kč</td>
            <td class="no-border" style="text-align: center; padding-right: 0.5em;"><?= $part['end_price'] * ($part['amount'] - $part['free_amount']) ?> Kč<?php $priceTotal += $part['end_price'] * $part['amount']; ?></td>
        </tr>

    <?php } $last = false; ?>


    <?php
    $acc = false;
    foreach ($this->orderParts as $part) {
        if ($part['free_amount'] <= 0) {
            continue;
        } $cnt++;
        ?>

        <?php
        if ($part['ctg_id'] == Table_PartsCtg::TYPE_SETS && $last != Table_PartsCtg::TYPE_SETS) {
            $last = Table_PartsCtg::TYPE_SETS;
            $cnt++;
            ?>
            <tr><th style="text-align: left;" colspan="6">&nbsp;&nbsp;BONUS SHISHA PIPE set</th></tr>
        <?php } ?>
        <?php
        if ($part['ctg_id'] != Table_PartsCtg::TYPE_SETS && !$acc) {
            $acc = true;
            $cnt++;
            ?>
            <tr><th style="text-align: left;" colspan="6">&nbsp;&nbsp;BONUS EXTRA ACCESSORIES</th></tr>
    <?php } ?>
        <tr>
            <td class="no-border" style="text-align: center;"><?= $part['id_products'] ?></td>
            <td class="no-border"><?= $part['name'] ?></td>
            <td class="no-border">&nbsp;</td>
            <td class="no-border" style="text-align: center; padding-right: 0.5em;"><?= $part['free_amount'] ?></td>
            <td class="no-border" style="text-align: center; padding-right: 0.5em;">0 €</td>
            <td class="no-border" style="text-align: center; padding-right: 0.5em;">0 €</td>
        </tr>

    <?php } ?>
    <?php /*
      <?php if ($cnt < 28) { ?>
      <tr>
      <td class="no-border">
      <div style="height: <?= (28 - $cnt) * 16 ?>px;"> </div>
      </td>
      <td class="no-border"></td>
      <td class="no-border"></td>
      <td class="no-border"></td>
      <td class="no-border"></td>
      <td class="no-border"></td>
      </tr>
      <?php } ?>
     */ ?>
    <tr><td colspan="6" style="border: 0px; border-top: 1px solid #000; height: 1px;"></td></tr>
    <tr><td colspan="6" style="display: none;">xaxa</td></tr>
</table>
<table class="invoice-items invoice_tbl invoice" style="page-break-inside: avoid;"> 
<?php if ($this->invoice['type'] == 'offer' && $this->customerData->discount > 0) {
    $cnt++; ?>
        <tr>
            <td style="border: 1px solid black; width: 50px;">&nbsp;</td>
            <td colspan="3" style="border: 1px solid black;padding-left:1em;"><b style="color: red;">SLEVA <?php echo (int) $this->customerData->discount; ?>%</b></td>
            <td colspan="2" style="text-align: center; padding-right: 0.5em; border: 1px solid black; width: 125px;">0 Kč</td>
        </tr>
    <?php } ?>

<?php $cnt++; ?>
    <tr>
        <td style="border: 1px solid black; width: 50px;">&nbsp;</td>
        <td colspan="3" style="border: 1px solid black;padding-left:1em;">Shipping costs (incl. insurance and customs papers) by  <?= $this->order->getCarrier(); ?></td>
        <td colspan="2" style="text-align: center; padding-right: 0.5em; border: 1px solid black;width: 125px;"><?= $this->invoice['shipping_cost'] ?> Kč <?php $priceTotal = $priceTotal + $this->invoice['shipping_cost']; ?></td>
    </tr>

<?php $cnt++; ?>
    <tr>
        <td style="border: 1px solid black; width: 50px;">&nbsp;</td>
        <td colspan="3" style="border: 1px solid black;padding-left:1em;">Packaging: <?= $this->invoice['packaging'] ?></td>
        <td colspan="2" style="text-align: center; padding-right: 0.5em; border: 1px solid black; width: 125px;"><?= $this->invoice['packaging_cost'] ?> Kč <?php $priceTotal = $priceTotal + $this->invoice['packaging_cost']; ?></td>
    </tr>

<?php if (!empty($this->invoice['custom_item'])) {
    $cnt++; ?>
        <tr>
            <td style="border: 1px solid black; width: 50px;">&nbsp;</td>
            <td colspan="3" style="border: 1px solid black;padding-left:1em;"><?= $this->invoice['custom_item'] ?></td>
            <td colspan="2" style="text-align: center; padding-right: 0.5em; border: 1px solid black; width: 125px;"><?= $this->invoice['custom_item_cost'] ?> Kč <?php $priceTotal = $priceTotal + $this->invoice['custom_item_cost']; ?></td>
        </tr>
    <?php } ?>

<?php if (!empty($this->invoice['custom_item2'])) {
    $cnt++; ?>
        <tr>
            <td style="border: 1px solid black;">&nbsp;</td>
            <td colspan="3" style="border: 1px solid black;padding-left:1em;"><?= $this->invoice['custom_item2'] ?></td>
            <td colspan="2" style="text-align: center; padding-right: 0.5em; border: 1px solid black;"><?= $this->invoice['custom_item2_cost'] ?> Kč <?php $priceTotal = $priceTotal + $this->invoice['custom_item2_cost']; ?></td>
        </tr>
    <?php } ?>

<?php if (!empty($this->invoice['delivery_condition'])) {
    $cnt++; ?>
        <tr>
            <td style="border: 1px solid black;">&nbsp;</td>
            <td colspan="5" style="border: 1px solid black;padding-left:1em;">Delivery condition: <?= $this->invoice['delivery_condition'] ?></td></td>
        </tr>
<?php } ?>


    <tr style="border-left: 0px;">
        <td style="border-top: 1px solid black;">&nbsp;</td>
        <td colspan="3" style="border-top: 1px solid black; padding-left:1em;">
<?php if ($this->invoice['customer_type'] != 'b2c') { ?>
                Delivery of goods to EU Member States is exempted from VAT according to § 64 <br />
                of Act 235/2004 Coll. The person liable to declare and pay VAT  (including <br />
                entitlement to the deduction) is the purchaser of the goods.
<?php } ?>
        </td>
        <td style="text-align: left; vertical-align: top; padding: 0.25em; border-right: 0px;">
            <b>Celkem k úhradě</b><br />
            S DPH 20%<br />
            Měna:
        </td>
        <td style="text-align: center; padding: 0.1em; border-top: 1px solid black; border-left: 0px; width: 40px;">
            <b><?= $priceTotal ?> Kč</b><br />&nbsp;<br />Kč
        </td>
    </tr>
</table>

<table class="invoice_tbl invoice" style="page-break-inside: avoid;">
    <tr>
        <th colspan="2" style="padding-left: 60px;">
            <span class="inv_h2">Invoice issued by:</span> <span class="inv_text"><?= $this->user['name_full'] ?></span><br /><br />
            <span class="inv_text">Signature:</span><br /><br /><br /><br />
        </th>
    </tr>
    <tr>
        <th colspan="2" style="font-size: 9px; text-align:  center;">Bank: Fio banka, a.s., V Celnici 1028/10, Praha 1, Czech Republic /  IBAN:  CZ1020100000002500195085  /  BIC: FIOBCZPPXXX  /  Account No: 2500195085/2010</th>
    </tr>
</table>

<?php
    /**
     * Page header on every page
     */
?>
<script type="text/php">
    if ( isset($pdf) ) {
    $font_pagenum = Font_Metrics::get_font("helvetica", "normal");
    $font = Font_Metrics::get_font("helvetica", "normal");
    $pdf->page_text(16, 6, "<?php echo str_replace(' ', '', $head_name) . '  ' . $document_no; ?> ", $font, 6, array(0,0,0));
    $pdf->page_text(566, 6, "Strana {PAGE_NUM} z {PAGE_COUNT}", $font_pagenum, 6, array(0,0,0));
    }
</script>




</body>
</html>
