<?php
	echo $this->partial('invoice/partial/head.phtml', array(
		'order'=>$this->order,
		'form'=>$this->form,
		'customerData'=>$this->customerData,
		'noPrint' => $this->noPrint
	));
?>
		<table class="invoice">
			<tbody>
<?php
	echo $this->partial('invoice/partial/en-supplier.phtml', array(
		'invoice' => $this->invoice,
		'meduseData' => $this->meduseData,
		'meduseAddr' => $this->meduseAddr,
		'user' => $this->user,
		'noPrint' => $this->noPrint
	));
	echo $this->partial('invoice/partial/en-consignee.phtml', array(
		'invoice' => $this->invoice,
		'order'=>$this->order,
		'customerData' => $this->customerData,
		'customerAddr' => $this->customerAddr,
		'customerDelAddr' => $this->customerDelAddr,
		'user' => $this->user
	));
	echo $this->partial('invoice/partial/en-middle-info.phtml', array(
		'invoice' => $this->invoice,
		'order' => $this->order
	));

	$page = 1;
	$pageRows = array(
		1 => 28,
		2 => 28 //2. a dalsi
	);
?>
				<tr>
					<td colspan="2">
						<table class="invoice-items">
							<tr>
								<th style="width: 50px;">ID No.</th>
								<th style="text-align: left;">&nbsp;&nbsp;Full description of goods / Subject of invoicing</th>
								<th style="width: 50px;">HS Code</th>
								<th style="width: 10em;">Serial No.</th>
								<th style="width: 50px;">Packages<br/>(Pcs)</th>
								<th style="width: 60px;">Unit Value<br/>net of VAT</th>
								<th style="width: 60px;">Sub Total Value<br/>net of VAT</th>
							</tr>
							<?php
								$acc = false;
								$set = false;
								$last = false;
								$priceTotal = 0;

								$parts = array_merge( $this->orderParts->toArray(), $this->orderParts->toArray());
								$cnt = 0;
							?>
							<?php foreach($this->orderParts as $part) { $cnt++;?>

														<?php if($part['ctg_id'] != $last) {
									switch($part['ctg_id']) {
										case Table_PartsCtg::TYPE_SETS:?>
							<tr><th></th><th style="text-align: left;" colspan="6">&nbsp;&nbsp;SHISHA PIPE set</th></tr>
							<?php
											break;
										case Table_PartsCtg::PRESENTATION_TOOLS:?>
							<tr><th></th><th style="text-align: left;" colspan="6">&nbsp;&nbsp;PRESENTATION TOOLS</th></tr>
							<?php
											break;
										default:
											if(!$acc) {
												$acc = true;

											?>
							<tr><th></th><th style="text-align: left;" colspan="6">&nbsp;&nbsp;EXTRA ACCESSORIES</th></tr>
							<?php
											}
											break;
									}
									$cnt++;
									$last = $part['ctg_id'];

								  } ?>
							<tr>
								<td class="no-border" style="text-align: center;"><?=$cnt?> <?= $part['id_products']?></td>
								<td class="no-border">&nbsp;&nbsp;<?=$part['name'] ?></td>
								<td class="no-border" style="text-align: center;"><?=$part['hs'] ?></td>
								<td class="no-border">&nbsp;</td>
								<td class="no-border" style="text-align: center; padding-right: 0.5em;"><?= ($part['amount']-$part['free_amount']) ?></td>
								<td class="no-border" style="text-align: center; padding-right: 0.5em;"><?= $part['end_price'] ?> €</td>
								<td class="no-border" style="text-align: center; padding-right: 0.5em;"><?= $part['end_price'] * ($part['amount']-$part['free_amount']) ?> €<?php $priceTotal += $part['end_price'] * $part['amount']; ?></td>
							</tr>

							<?php } $last = false;?>

							<?php $acc = false; foreach($this->orderParts as $part) { if($part['free_amount'] <= 0) { continue; } $cnt++; ?>

							<?php if($part['ctg_id'] == Table_PartsCtg::TYPE_SETS && $last != Table_PartsCtg::TYPE_SETS){ $last = Table_PartsCtg::TYPE_SETS; $cnt++; ?>
							<tr><th></th><th style="text-align: left;" colspan="6">&nbsp;&nbsp;BONUS SHISHA PIPE set</th></tr>
							<?php } ?>
							<?php if($part['ctg_id'] != Table_PartsCtg::TYPE_SETS && !$acc){ $acc = true; $cnt++; ?>
							<tr><th></th><th style="text-align: left;" colspan="6">&nbsp;&nbsp;BONUS EXTRA ACCESSORIES</th></tr>
							<?php } ?>
							<tr>
								<td class="no-border" style="text-align: center;"><?= $part['id_products']?></td>
								<td class="no-border"><?=$part['name'] ?></td>
								<td class="no-border" style="text-align: center;"><?=$part['hs'] ?></td>
								<td class="no-border">&nbsp;</td>
								<td class="no-border" style="text-align: center; padding-right: 0.5em;"><?= $part['free_amount'] ?></td>
								<td class="no-border" style="text-align: center; padding-right: 0.5em;">0 €</td>
								<td class="no-border" style="text-align: center; padding-right: 0.5em;">0 €</td>
							</tr>

							<?php } ?>

							<?php //if($page == 1) { ?>

								<?php if($cnt < 28) { ?>
								<tr>
									<td class="no-border">
										<div style="height: <?=(28-$cnt)*16?>px;"> </div>
									</td>
									<td class="no-border"></td>
									<td class="no-border"></td>
									<td class="no-border"></td>
									<td class="no-border"></td>
									<td class="no-border"></td>
									<td class="no-border"></td>
								</tr>
								<?php }// else { ?>
								<!--
								<tr>
									<td class="no-border">
										<div style="height: <?=6*16?>px;"> </div>
									</td>
									<td class="no-border"></td>
									<td class="no-border"></td>
									<td class="no-border"></td>
									<td class="no-border"></td>
									<td class="no-border"></td>
									<td class="no-border"></td>
								</tr>
						</table></td></tr></table>
						<table class="invoice" style="margin-top: 2em;"><tr><td colspan="2"><table class="invoice-items">
								-->
								<?php //} ?>

							<?php //} elseif($page > 1) { ?>
							<?php //} ?>



							

							<?php if($this->invoice['type'] == 'offer' && $this->customerData->discount > 0) { $cnt++; ?>
							<tr>
								<td style="border: 1px solid black;">&nbsp;</td>
								<td colspan="5" style="border: 1px solid black;padding-left:1em;"><b style="color: red;">DISCOUNT <?php echo (int) $this->customerData->discount; ?>%</b></td>
								<td style="text-align: center; padding-right: 0.5em; border: 1px solid black;">0 €</td>
							</tr>
							<?php } ?>

							<?php $cnt++; ?>
							<tr>
								<td style="border: 1px solid black;">&nbsp;</td>
								<td colspan="5" style="border: 1px solid black;padding-left:1em;">Shipping costs (incl. insurance and customs papers) by  <?= $this->order->getCarrier(); ?></td>
								<td style="text-align: center; padding-right: 0.5em; border: 1px solid black;"><?= $this->invoice['shipping_cost'] ?> € <?php $priceTotal = $priceTotal + $this->invoice['shipping_cost'];?></td>
							</tr>

							<?php $cnt++; ?>
							<tr>
								<td style="border: 1px solid black;">&nbsp;</td>
								<td colspan="5" style="border: 1px solid black;padding-left:1em;">Packaging: <?= $this->invoice['packaging'] ?></td>
								<td style="text-align: center; padding-right: 0.5em; border: 1px solid black;"><?= $this->invoice['packaging_cost'] ?> € <?php $priceTotal = $priceTotal + $this->invoice['packaging_cost'];?></td>
							</tr>

							<?php if(!empty($this->invoice['custom_item'])) { $cnt++; ?>
							<tr>
								<td style="border: 1px solid black;">&nbsp;</td>
								<td colspan="5" style="border: 1px solid black;padding-left:1em;"><?= $this->invoice['custom_item'] ?></td>
								<td style="text-align: center; padding-right: 0.5em; border: 1px solid black;"><?= $this->invoice['custom_item_cost'] ?> € <?php $priceTotal = $priceTotal + $this->invoice['custom_item_cost'];?></td>
							</tr>
							<?php } ?>

							<?php if(!empty($this->invoice['custom_item2'])) { $cnt++; ?>
							<tr>
								<td style="border: 1px solid black;">&nbsp;</td>
								<td colspan="5" style="border: 1px solid black;padding-left:1em;"><?= $this->invoice['custom_item2'] ?></td>
								<td style="text-align: center; padding-right: 0.5em; border: 1px solid black;"><?= $this->invoice['custom_item2_cost'] ?> € <?php $priceTotal = $priceTotal + $this->invoice['custom_item2_cost'];?></td>
							</tr>
							<?php } ?>

							<?php if(!empty($this->invoice['delivery_condition'])) { $cnt++; ?>
							<tr>
								<td style="border: 1px solid black;">&nbsp;</td>
								<td colspan="6" style="border: 1px solid black;padding-left:1em;">Delivery condition: <?= $this->invoice['delivery_condition'] ?></td></td>
							</tr>
							<?php } ?>

							<tr style="border-left: 0px;">
								<td style="border-top: 1px solid black;">&nbsp;</td>
								<td colspan="3" style="border-top: 1px solid black; padding-left:1em;">
									<?php if($this->invoice['customer_type'] != 'b2c') { ?>
									We certify that the goods exported to the <?= $this->customerAddr->country ?> are of pure national origin of<br />
									Czech Republic. They contain Czech materials and they are being exported from<br />
									Czech Republic. The goods were manufactured by MEDUSE DESIGN<br />
									<?php } else { ?>
									Purchaser (consignee) declares that the goods on this invoice is for<br />
									private use only and is familiar with the fact that its placement into<br />
									business sector for commercial use is strictly prohibited.<br />
									<?php } ?>
								</td>
								<td colspan="2" style="text-align: left; vertical-align: top; padding: 0.25em; border-right: 0px;">
									<b>Total invoice amount</b><br /><br />
									Currency:
								</td>
								<td style="text-align: center; padding: 0.1em; border-top: 1px solid black; border-left: 0px;">
									<b><?= $priceTotal ?> €</b><br />&nbsp;<br />Euro
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<th colspan="2" style="padding-left: 60px;">
						<span class="inv_h2">Invoice issued by:</span> <span class="inv_text"><?= $this->user['name_full'] ?></span><br /><br />
						<span class="inv_text">Signature:</span><br /><br /><br /><br />
					</th>
				</tr>
				<tr>
					<th colspan="2" style="font-size: 9px; text-align:  center;">Bank: Fio banka, a.s., V Celnici 1028/10, Praha 1, Czech Republic /  IBAN:  CZ1020100000002500195085  /  BIC: FIOBCZPPXXX  /  Account No: 2500195085/2010</th>
				</tr>
			</tbody>
		</table>
	</body>
</html>