<html>
	<head>
		<title>Faktura <?= $this->customerData->company ?></title>
		<link rel="icon"  href="/images/favicon.ico" />
		<link rel="stylesheet" href="/public/style/boxes.css" type="text/css" media="screen" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/style/print.css" media="print" />
		<style type="text/css">
			.box, .box_header {
				margin: 0;
			}

		.invoice {
			font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
		}

		.invoice th {
			background-color: silver;
			padding: 2px;
			text-align: left;
		}

		.invoice_addr {
			text-align: left;
		}

		.invoice_addr th {
			background-color: white;
		}

		.invoice_addr td {
			border-bottom: 1px solid black;
		}

		</style>
	</head>
	<body>
		<?php echo $this->form; ?>
		<table class="invoice no-print">
			<tbody>
				<tr>
					<th>SUPPLIER</th>
					<th>OFFER</th>
				</tr>
				<tr>
					<td>
						<table class="invoice_addr">
							<tr>
								<th>Company name:</th>
								<td><?= $this->meduseData->company ?></td>
							</tr>
							<tr>
								<th>Address:</th>
								<td><?= $this->meduseAddr->street .' '. $this->meduseAddr->orient_number . (!empty($this->meduseAddr->pop_number) ? '/'.$this->meduseAddr->pop_number : '') ?></td>
							</tr>
							<tr>
								<th>City/Postal Code:</th>
								<td><?= $this->meduseAddr->zip ?></td>
							</tr>
							<tr>
								<th>Country:</th>
								<td><?= $this->meduseAddr->country ?></td>
							</tr>
							<tr>
								<th>Tel. No.:</th>
								<td><?= $this->meduseAddr->phone ?></td>
							</tr>
							<tr>
								<th>VAT Registration No:</th>
								<td><?= $this->meduseData->vat_no ?></td>
							</tr>
						</table>
					</td>
					<td style="text-align: center;">
						<img alt="logo" src="/public/images/meduse_logo.png" />
					</td>
				</tr>

				<tr>
					<th>CONSIGNEE (delivery address)</th>
					<th></th>
				</tr>
				<tr>

					<td>
						<table class="invoice_addr">
							<tr>
								<th>Company name:</th>
								<td><?= $this->customerData->company ?></td>
							</tr>
							<tr>
								<th>Address:</th>
								<td><?= $this->customerAddr->street .' '. $this->customerAddr->orient_number . (!empty($this->customerAddr->pop_number) ? '/'.$this->customerAddr->pop_number : '') ?></td>
							</tr>
							<tr>
								<th>City/Postal Code:</th>
								<td><?= $this->customerAddr->zip ?></td>
							</tr>
							<tr>
								<th>Country:</th>
								<td><?= $this->customerAddr->country ?></td>
							</tr>
							<?php if(!empty($this->customerAddr->phone)) { ?>
							<tr>
								<th>Tel. No.:</th>
								<td><?= $this->customerAddr->phone ?></td>
							</tr>
							<?php } ?>
							<?php if(!empty($this->customerData->vat_no)) { ?>
							<tr>
								<th>VAT Registration No:</th>
								<td><?= $this->customerData->vat_no ?></td>
							</tr>
							<?php } ?>
						</table>
					</td>
				</tr>
				<tr>
					<th colspan="5">&nbsp;</th>
				</tr>
				<tr>
					<td>
						<table class="invoice_addr">
							<tr>
								<th>Date of issue:</th>
								<td><?= date('d.m.Y') ?></td>
							</tr>
							<?php if( $this->order->getRow()->discount > 0 ) { ?>
							<tr>
								<th>Discount:</th>
								<td><?= $this->order->getRow()->discount ?> %</td>
							</tr>
							<?php } ?>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="5">
						<table>
							<tr>
								<th>Full description of goods</th>
								<th>Packages<br/>(Pcs)</th>
								<th>Country<br/>of origin</th>
								<th>Unit Value<br/>(Euro)<br/>net of VAT</th>
								<th>Sub Total Value<br/>(Euro)<br/>net of VAT</th>
							</tr>
							<?php
								$acc = false;
								$set = false;
								$priceTotal = 0;
							?>
							<?php foreach($this->orderParts as $part) {?>
							<?php if($part['ctg_id'] != Table_PartsCtg::TYPE_SETS && $acc == false){ $acc = true; ?>
							<tr><th colspan="6">EXTRA ACCESSORIES</th></tr>
							<?php } ?>
							<?php if($part['ctg_id'] == Table_PartsCtg::TYPE_SETS && $acc == true && $set == false){ $set = true; ?>
							<tr><th colspan="6">SHISHA PIPE set</th></tr>
							<?php } ?>
							<tr>
								<td><?= $part['id_products'].' '.$part['name'] ?></td>
								<td style="text-align: right; padding-right: 0.5em;"><?= $part['amount'] ?></td>
								<td>CZ</td>
								<td style="text-align: right; padding-right: 0.5em;"><?= $part['end_price'] ?></td>
								<td style="text-align: right; padding-right: 0.5em;"><?= $part['end_price'] * $part['amount'] ?><?php $priceTotal += $part['end_price'] * $part['amount']; ?></td>
							</tr>

							<?php } ?>
							<tr>
								<td colspan="3" style="font-size: 9px;">
									Delivery of goods to EU Member States is exempted from VAT according to<br/>
									§ 64 of Act 235/2004 Coll. The person liable to declare and pay VAT <br/>
									(including entitlement to the deduction) is the purchaser of the goods.
								</td>
								<td colspan="2" style="text-align: right; vertical-align: top;">INVOICE AMOUNT <?= $priceTotal ?> EUR</td>
							</tr>
							<tr>
								<th colspan="5" style="font-size: 9px;">Bank: Ceska sporitelna, Koblizna 21, 60155, Czech Republic  /   IBAN:  CZ20 0800 0000 0017 5864 2263   /   BIC : GIBACZPX </th>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>