
				<tr>
					<th>ODBĚRATEL:</th>
					<th>Dodací adresa:</th>
				</tr>
				<tr>
					<td>
						<table class="invoice_addr">
							<tr>
								<th>
									<?php if($this->invoice['customer_type'] != 'b2c') { ?>
									Společnost:
									<?php } else { ?>
									Kontaktní osoba:
									<?php } ?>
								</th>
								<td style="width: 280px;">
									<?php if($this->invoice['customer_type'] != 'b2c') { ?>
										<?= $this->customerData->company ?>
									<?php } else { ?>
										<?= $this->customerData->first_name.' '.$this->customerData->last_name ?>
									<?php } ?>
								</td>
							</tr>
							<tr>
								<th>Adresa:</th>
								<td><?= $this->customerAddr->street .' '. $this->customerAddr->orient_number . (!empty($this->customerAddr->pop_number) ? '/'.$this->customerAddr->pop_number : '') ?></td>
							</tr>
							<tr>
								<th>PSČ:</th>
								<td><?= $this->customerAddr->zip ?></td>
							</tr>
							<tr>
								<th>Země:</th>
								<td><?= $this->customerAddr->country ?></td>
							</tr>
							<?php if(!empty($this->customerAddr->phone)) { ?>
							<tr>
								<th>Tel.:</th>
								<td><?= $this->customerAddr->phone ?></td>
							</tr>
							<?php } ?>
							<?php if(!empty($this->customerData->vat_no)) { ?>
							<tr>
								<th><?php if($this->invoice['region'] != 'world') { echo "VAT "; } ?>Registration No:</th>
								<td><?= $this->customerData->vat_no ?></td>
							</tr>
							<?php } ?>
						</table>
					</td>
					<td style="text-align: center;">
						<?php if($this->invoice['allow_delivery_addr']) { ?>
						<table class="invoice_addr2">
							<tr>
								<th style="width: 100px;">Adresa:</th>
								<td style="width: 150px;"><?= $this->customerDelAddr->street .' '. $this->customerDelAddr->orient_number . (!empty($this->customerDelAddr->pop_number) ? '/'.$this->customerDelAddr->pop_number : '') ?></td>
							</tr>
							<tr>
								<th>PSČ:</th>
								<td><?= $this->customerDelAddr->zip ?></td>
							</tr>
							<tr>
								<th>Země:</th>
								<td><?= $this->customerDelAddr->country ?></td>
							</tr>
						</table>
						<?php } else { ?>
						<div style="margin: 43px; margin-left: auto;margin-right: auto;">Stejná jako adresa odběratele</div>
						<?php } ?>

						<?php if($this->invoice['allow_no'] && $this->invoice['type'] != 'offer') { ?>
						<table class="small_table"  style="width: 100%; background-color: #DDDDDD; border-top: 1px solid black;">
							<tr>
							<th style="background-color: #DDDDDD; font-size: 14px;">
								Číslo faktury:
							</th>
							<th style="background-color: #DDDDDD; font-size: 14px;">
								<?php if($this->invoice['type'] == 'proforma') { ?>
									<?= $this->order->getRow()->proforma_no; ?>
								<?php } else { ?>
									<?= $this->invoice['no']; ?>
								<?php } ?>
							</th>
							</tr>
						</table>
						<?php } ?>

					</td>

				</tr>