
				<tr>
					<th style="width: 490px;">DODAVATEL:</th>
					<th style="width: 282.5px; text-align: center;">
						<?= $this->invoiceHeadName; ?>
					</th>
				</tr>
				<tr>
					<td>
						<table class="invoice_addr">
							<tr>
								<th>Společnost:</th>
								<td style="width: 280px;"><?= $this->meduseData->company ?></td>
							</tr>
							<tr>
								<th>Adresa:</th>
								<td><?= $this->meduseAddr->street .' '. $this->meduseAddr->orient_number . (!empty($this->meduseAddr->pop_number) ? '/'.$this->meduseAddr->pop_number : '') ?></td>
							</tr>
							<tr>
								<th>PSČ:</th>
								<td><?= $this->meduseAddr->zip ?></td>
							</tr>
							<tr>
								<th>Země:</th>
								<td><?= $this->meduseAddr->country ?></td>
							</tr>
							<?php if(!empty($this->user['phone'])) { ?>
							<tr>
								<th>Tel.:</th>
								<td><?= $this->user['phone'] ?></td>
							</tr>
							<?php } ?>
							<?php if($this->invoice['customer_type'] != 'b2c') { ?>
							<tr>
								<th>DIČ:</th>
								<td><?= $this->meduseData->vat_no ?></td>
							</tr>
							<?php } ?>
						</table>
					</td>
					<td style="text-align: center; padding: 5px;">
						<?php if($this->noPrint) { //<?= PROJECT_PATH ? ?>
						<img alt="logo" style="height: 120px;" src="/public/images/meduse_logo_mensi.png" />
						<?php } else { ?>
						<img alt="logo" style="height: 120px;" src="/public/images/meduse_logo_mensi.png" />
						<?php } ?>
					</td>
				</tr>