				<tr>
					<td>
						<table class="small_table">
							<tr>
								<th style="width: 208px;">Date of issue:</th>
								<td><?= date('dS F Y') ?></td>
							</tr>
						</table>
					</td>
					<td>
						<?php if($this->invoice['type'] != 'offer') { ?>
						<table class="small_table">
							<tr>
								<th style="width: 125px;">Packaging:</th>
								<td>
									<?php if(!empty($this->invoice['packaging'])) { ?><?= str_replace("\n", '<br>', $this->invoice['packaging']) ?><?php  } ?>
								</td>
							</tr>
						</table>
						<?php } ?>
					</td>
				</tr>
				<tr>
					<td>
						<?php if($this->invoice['type'] != 'offer') { ?>
						<table class="small_table">
							<tr>
								<th style="width: 208px;">Payment method:</th>
								<td><?= Table_Orders::$paymentToStringEn[$this->order->getRow()->payment_method] ?></td>
							</tr>
						</table>
						<?php  } ?>
					</td>
					<td>
						<?php if($this->invoice['type'] != 'offer') { ?>
							<table class="small_table">
								<tr>
									<th style="width: 125px;">Total weight brutto:</th>
									<td><?php echo $this->invoice['weight'] ?></td>
								</tr>
							</table>
						<?php } ?>
					</td>
				</tr>