
				<tr>
					<th style="width: 490px;">SUPPLIER:</th>
					<th style="width: 282.5px; text-align: center;">
						<?php switch($this->invoice['type']) {
							case 'offer':
									echo 'Q U O T A T I O N';
								break;
							case 'proforma':
								echo 'PROFORMA INVOICE';
								break;
							default:
								echo 'I N V O I C E';
								break;
						} ?>
					</th>
				</tr>
				<tr>
					<td>
						<table class="invoice_addr">
							<tr>
								<th>Company name:</th>
								<td style="width: 280px;"><?= $this->meduseData->company ?></td>
							</tr>
							<tr>
								<th>Address:</th>
								<td><?= $this->meduseAddr->street .' '. $this->meduseAddr->orient_number . (!empty($this->meduseAddr->pop_number) ? '/'.$this->meduseAddr->pop_number : '') ?></td>
							</tr>
							<tr>
								<th>City/Postal Code:</th>
								<td><?= $this->meduseAddr->zip ?></td>
							</tr>
							<tr>
								<th>Country:</th>
								<td><?= $this->meduseAddr->country ?></td>
							</tr>
							<?php if(!empty($this->user['phone'])) { ?>
							<tr>
								<th>Tel. No.:</th>
								<td><?= $this->user['phone'] ?></td>
							</tr>
							<?php } ?>
							<?php if($this->invoice['customer_type'] != 'b2c') { ?>
							<tr>
								<th><?php if($this->invoice['region'] != 'world') { echo "VAT "; } ?>Registration No:</th>
								<td><?= $this->meduseData->vat_no ?></td>
							</tr>
							<?php } ?>
						</table>
					</td>
					<td style="text-align: center; padding: 5px;">
						<?php if($this->noPrint) { ?>
						<img alt="logo" style="height: 100px;" src="<?= PROJECT_PATH ?>/public/images/meduse_logo.png" />
						<?php } else { ?>
						<img alt="logo" style="height: 120px;" src="/public/images/meduse_logo_mensi.png" />
						<?php } ?>
					</td>
				</tr>