<html>
	<head>
		<title>Faktura <?= $this->customerData->company ?></title>
		<link rel="icon"  href="/images/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/style/print.css" media="print" />

		<link rel="stylesheet" href="/public/style/boxes.css" type="text/css" media="screen" />
		<?php echo $this->render('invoice/invoice-style-pdf.phtml'); ?>
		<?php if($this->noPrint) { ?>
		<style type="text/css" >
			@page {
                                margin: 0.6cm 0.15cm 0.15cm 0.15cm;
			}

			.no-print {
				display: none;
			}
		</style>
		<?php } else { ?>
			<style type="text/css" >
			table.invoice_tbl {
				width: 21cm;
			}
			</style>
		<?php } ?>
	</head>
	<body>
		<div id="invoice_form" class="no-print">
			<div style="float: left;" class="no-print">
				<a href="/orders/detail/id/<?= $this->order->getID() ?>" style="font-size: 12px;"> << Na objednávku</a> |
				<a href="/order-edit/index/order/<?= $this->order->getID() ?>" style="font-size: 12px;"> Upravit</a>
			</div>
			<div style="float: right;" class="no-print">
				<a href="?type=pdf" style="font-size: 12px;">Uložit PDF</a>
			</div>
			<br /><br />
			<?php echo $this->form; ?>
		</div>
		<div class="no-print">
		</div>